.h-thumbs-gallery {
	width: 100%;
	max-width: 87rem;
		&__thumbs {
			width: 100%;
			margin-top: .8rem;
			overflow: hidden;

			&-element {
				content: '';
				@include size(17.8rem, 10rem);
				overflow: hidden;
				cursor: pointer;
					&::before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						display: block;
						@include hundred;
						background: map-get($basic, theme);
						opacity: 0;
						pointer-events: none;
						@include smooth(.2s);
					}

				img {
					@include hundred;
					object-fit: cover;
					object-position: center top;
				}

				&.swiper-slide-thumb-active {
					pointer-events: none;
						&::before {
							opacity: .8;
						}
				}
			}
		}
		&__slider {
			position: relative;
			width: 100%;
			overflow: hidden;

			&-element {
				width: 100%;
					img {
						max-height: 100%;
					}
			}
			&-arrow {
				position: absolute;
				top: 50%;
				@include flex(6.4rem);
				height: 6.4rem;
				justify-content: center;
				align-items: center;
				background: $colorWhite;
				@include round;
				cursor: pointer;
				outline: 0;
				@include smooth(.2s);
				transform: translateY(-50%);
				z-index: 2;

					& .i {
						@include size(2.2rem, 100%);
						fill: map-get($basic, primary);
					}

					&--prev {
						left: 3.2rem;
					}
					&--next {
						right: 3.2rem;
					}
					&.swiper-button-disabled {
						opacity: 0;
						pointer-events: none;
						visibility: hidden;
					}

					&:hover {
						background: map-get($basic, theme);
							& .i {
								fill: $colorWhite;
							}
					}
			}
		}
		&__pagination {
			position: absolute;
			bottom: 0!important;
			display: none;
			width: 100%;
			@include align_c;
			z-index: 2;

			.swiper-pagination-bullet {
				width: .8rem;
				height: .8rem;
				margin-left: .6rem!important;
				margin-right: .6rem!important;
				background-color: map-get($grey, color_5);
				opacity: 1;
				&-active {
					background-color: map-get($basic, theme);
				}
			}
		}

	& .swiper-container {
		margin-left: 0;
		margin-right: 0;
	}

	@include bp-tabletXS {
		@include outbox;

			&__thumbs {
				display: none;
			}
			&__slider {
				padding-bottom: 2.8rem;
					&-arrow {
						display: none;
					}
			}
			&__pagination {
				display: block;
			}
	}
}