.tabs {
	width: 100%;
		&__list {
			@include flex();
			align-items: flex-end;
			margin-bottom: 4.2rem;
			border-bottom: 2px solid map-get($grey, color_5);
		}
		&__element {
			position: relative;
			@include link();
			padding-bottom: 2rem;
			color: map-get($basic, primary);
			@include font-size(1.8rem);
			font-weight: $semibold;
				&::after {
					content: '';
					position: absolute;
					left: 50%;
					bottom: -2px;
					display: block;
					@include size(0, 2px);
					background: map-get($basic, theme);
					transform: translateX(-50);
					@include smooth(.2s);
				}
				&:not(:last-child) {
					margin-right: 3.3rem;
				}
				&._active {
					color: map-get($basic, theme);
					&::after {
						left: 0;
						width: 100%;
					}
				}
		}
		&__pane {
			display: none;
			width: 100%;
				&._active {
					display: block;
				}
		}

	&--auth {
		max-width: 42.2rem;

		& .input {
			&--password {
				max-width: 100%;
			}
		}
	}
	&--mobile-button {
		.tabs {
			&__list {
				position: relative;
				border-bottom: 0;
					&::after {
						content: '';
						position: absolute;
						bottom: .5px;
						left: 0;
						@include size(100%, .1rem);
						background: map-get($grey, color_5);
						z-index: 0;
					}
			}
			&__element {
				position: relative;
				@include flex(auto);
				height: 6.4rem;
				align-items: center;
				justify-content: center;
				padding-left: 3.4rem;
				padding-right: 3.2rem;
				padding-bottom: 0;
				background: $colorWhite;
				border: .1rem solid map-get($grey, color_5);
				border-bottom: 0;
				@include radius($radius $radius 0 0);
					&:not(:last-child) {
						margin-right: .8rem;
					}
					&::after {
						top: -.1rem;
						bottom: auto;
						left: 0;
						@include size(100%, .5rem);
						opacity: 0;
						@include radius(2rem 2rem 0 0);
						transform: none;
					}
					&._active {
						color: map-get($basic, primary);
						border-top-color: map-get($basic, theme);
						z-index: 1;
							&::after {
								opacity: 1;
							}

						& .i {
							filter: grayscale(0);
								&._courier {
									fill: none;
								}
						}
					}

					& svg {
						@include size(4rem, 4rem);
						margin-right: .6rem;
						&.i {
							&._courier {
								//@include size(3.6rem, 4.1rem);
								@include size(32px, 34px);
								margin-right: .6rem;
								fill: none;
							}
							&._boxberry {
								@include size(13.3rem, 2.9rem);
								margin-right: 0;
							}
							&._cdek {
								@include size(7.5rem, 2rem);
								margin-right: 0;
							}
							&._ru-post {
								@include size(14.5rem, 2.4rem);
								margin-right: 0;
							}
						}
					}
			}
		}
	}
	&--on-product-page {
		.tabs {
			&__list {
				width: calc(100% - 24.2rem);
				margin-bottom: 0;
			}
			&__pane {
				align-items: flex-start;
				flex-wrap: wrap;
				padding-top: multi(4);
					&._active {
						display: flex;
					}
			}
			&__body {
				width: calc(100% - 20.2rem);
				padding-right: multi(5);
			}
			&__sidebar {
				width: 20.2rem;
			}
		}

		& .product-reviews-sidebar {
			margin-top: -#{multi(4)};
		}
	}

	&--offset-top {
		margin-top: 5.4rem;
	}

	@include bp-tablet {
		&--mobile-button {
			.tabs {
				&__element {
					padding-left: 2.4rem;
					padding-right: 2.2rem;

					& .i {
						&._courier {
							@include size(3.6rem, 4.1rem);
						}
					}
				}
			}
		}
		&--on-product-page {
			.tabs {
				&__list {
					width: 100%;
				}
				&__pane {
					&._active {
						display: block;
					}
				}
				&__body {
					width: 100%;
					padding-right: 0;
				}
				&__sidebar {
					width: 100%;
				}
			}
			& .product-reviews-sidebar {
				margin-top: 2.4rem;
			}
		}
	}
	@include bp-tabletXS {
		&__list {
			margin-bottom: 1.6rem;
		}
		&__element {
			padding-bottom: 1.6rem;
			@include font-size(1.4rem);
			&:not(:last-child) {
				margin-right: 2rem;
			}
		}

		&--auth {
			& .button--m {
				height: 4.8rem;
			}
		}
		&--mobile-button {
			.tabs {
				&__list {
					margin-bottom: 2.8rem;
						&::after {
							display: none;
						}
				}
				&__element {
					@include size(calc(50% - .2rem), 4rem);
					margin-top: .2rem;
					margin-bottom: .2rem;
					font-size: 1.4rem;
					padding-left: 2rem;
					padding-right: 2rem;
					border-bottom: .1rem solid map-get($grey, color_5);
					@include radius($radius);
						&:not(:last-child) {
							margin-right: 0;
						}
						&:nth-child(even) {
							margin-left: .4rem;
						}
						&::after {
							display: none;
						}
						&._active {
							border-color: map-get($basic, theme);
						}

						& svg {
							@include size(2.8rem, 2.8rem);

							&.i {
								&._courier {
									@include size(2.4rem, 2.8rem);
								}
								&._boxberry {
									@include size(8.9rem, 1.7rem);
								}
								&._cdek {
									@include size(5.1rem, 1.4rem);
								}
								&._ru-post {
									@include size(9.7rem, 1.6rem);
								}
							}
						}
				}
			}
		}
		&--offset-top {
			margin-top: 2.4rem;
		}
		&--mobile-outbox {
			@include outbox();
				& .tabs {
					&__list,
					&__pane {
						padding-left: multi(2);
						padding-right: multi(2);
					}
				}
		}
		&--on-product-page {
			.tabs {
				&__sidebar {
					@include outbox();
				}
				&__pane {
					padding-top: multi(3);
				}
			}
		}
	}
}