blockquote {
	margin: 0;
	padding: 2.8rem 3.5rem 2.4rem;
	color: map-get($grey, color_2);
	@include font-size(1.4rem, 2.4rem);
	background: rgba(map-get($grey, color_0), .5);

	& .blockquote__label {
		color: map-get($basic, theme);
	}

	&.blockquote--offset-top {
		margin-top: 4.4rem;
	}

	@include bp-tabletXS {
		 padding: 1.8rem 1.6rem;
		@include font-size(1.2rem, 2rem);

		&.blockquote--offset-top {
			margin-top: 3.2rem;
		}
	}
}