.button {
	@include button(auto, 4rem, 0 1.6rem, map-get($basic, theme), map-get($basic, theme), $radius);

	&:hover {}
	&:active {}
	&--disabled,
	&:disabled {
		pointer-events: none;
		opacity: .7;
	}

	.i {
		margin-right: .8rem;
		stroke: $colorWhite;
		&._cart {
			@include size(1.7rem, 1.6rem);
		}
		&._arrow-right {
			@include size(1.3rem, 1.3rem);
			margin-left: .8rem;
			margin-right: 0;
			fill: $colorWhite;
			stroke: none;
		}
		&._lock {
			@include size(1.6rem, 2rem);
		}
		&._arrow-left {
			@include size(1.6rem, 1.6rem);
			stroke: none;
			fill: $colorWhite;
		}
		&._lightning {
			@include size(1.4rem, 2rem);
		}
	}

	&--bordered-grey {
		color: map-get($grey, color_2);
		background: transparent;
		border-color: map-get($grey, color_2);
			@media all and (min-width: 768px) {
				&:hover {
					color: $colorWhite;
					background: map-get($grey, color_2);
				}
			}

			.i {
				stroke: map-get($grey, color_2);
			}
	}
	&--bordered-white {
		color: $colorWhite;
		background: transparent;
		border-color: $colorWhite;
			@media all and (min-width: 768px) {
				&:hover {
					color: map-get($basic, theme);
					background: $colorWhite;
				}
			}
	}
	&--bordered-theme {
		color: $colorBlack;
		background: transparent;
		border-color: map-get($basic, theme);
			@media all and (min-width: 768px) {
				&:hover {
					color: $colorWhite;
					background:  map-get($basic, theme);
						& .i {
							fill: $colorWhite;
						}
				}
			}

			& .i {
				fill: map-get($basic, theme);
				stroke: none;
			}
	}
	&--bordered-theme-light {
		color: $colorBlack;
		background: transparent;
		border-color: rgba(map-get($basic, theme), .3);
		@media all and (min-width: 768px) {
			&:hover {
				color: $colorWhite;
				background:  map-get($basic, theme);
				& .i {
					fill: $colorWhite;
				}
			}
		}

		& .i {
			fill: map-get($basic, theme);
			stroke: none;
		}
	}
	&--grey {
		color: map-get($basic, primary);
		background: map-get($grey, color_0);
		border-color: map-get($grey, color_0);
			@media all and (min-width: 768px) {
				&:hover {
					color: $colorWhite;
					background: map-get($basic, theme);
					border-color: map-get($basic, theme);
					.i {
						fill: $colorWhite;
						&._arrow-right {
							fill: $colorWhite;
						}
					}
				}
			}

			.i {
				fill: map-get($basic, theme);
				&._arrow-right,
				&._arrow-left {
					fill: map-get($basic, theme);
				}
			}
	}
	&--gradient {
		background: $gradient;
		border: 0;
	}
	&--transparent {
		min-width: initial;
		color: map-get($basic, theme);
		background-color: transparent;
		border-color: transparent;
			&.button--sm,
			&.button--m {
				//on profile page
				//padding-left: 0;
				//padding-right: 0;
			}
	}
	&--white {
		color: map-get($basic, primary);
		background: $colorWhite;
		border-color: $colorWhite;
			@media all and (min-width: 768px) {
				&:hover {
					color: $colorWhite;
					background: map-get($basic, theme);
					border-color: map-get($basic, theme);
				}
			}
	}
	&--yellow {
		color: map-get($basic, primary);
		background-color: $colorYellow3;
		border-color: $colorYellow3;
			& .i {
				&._lightning {
					margin-top: .1rem;
					fill: $colorYellow;
				}
				&._arrow-left {
					@include size(2.1rem, 2.1rem);
					fill: $colorYellow;
					stroke: none;
				}
			}
	}

	&--s {
		height: 4rem;
	}
	&--sm {
		height: 4.8rem;
		padding-top: .1rem;
	}
	&--m {
		height: 5.6rem;
		padding-left: 3.2rem;
		padding-right: 3.2rem;
		font-size: 1.8rem;
		font-weight: 500;
		border-width: .2rem;
	}

	&--fs-14 {
		font-size: 1.4rem;
	}
	&--fs-16 {
		font-size: multi(2);
	}
	&--fs-18 {
		font-size: 1.8rem;
	}
	&--fs-20 {
		font-size: 2rem;

			& .i {
				&._lightning {
					margin-top: .1rem;
				}
			}
	}

	&--400 {
		font-weight: $regular;
	}
	&--500 {
		font-weight: $semibold;
	}
	&--w-100 {
		width: 100%;
	}

	&--bw-1 {
		border-width: .1rem;
	}

	&--p-24 {
		padding-left: multi(3);
		padding-right: multi(3);
	}
	&--p-32 {
		padding-left: multi(4);
		padding-right: multi(4);
	}

	&--mobile-only {
		display: none;
	}

	@include bp-tabletXS {
		height: 3.2rem;
		@include font-size(1.3rem, 1.6rem);

		.i {
			&._arrow-left {
				@include size(1.4rem, 1.4rem);
			}
		}

		&--transparent {
			&.button--sm,
			&.button--m {
				height: auto;
				padding-top: 0;
				padding-bottom: 0;
			}
		}

		&--m {
			height: 4.8rem;
		}

		&--fs-20 {
			font-size: multi(2);
		}

		&--mobile-w-100 {
			width: 100%;
		}

		&--mobile-only {
			display: inline-flex;
		}
		& .no-mobile {
			display: none;
		}

		&--p-32 {
			padding-left: multi(3);
			padding-right: multi(3);
		}
	}
}