.color-control {
	@include iblock(top);
	&__label {
		position: relative;
		display: block;
		width: 100%;
	}
	&__input {
		position: absolute;
		width: 1px;
		height: 1px;
		clip: rect(0, 0, 0, 0);
		z-index: 0;

			&:checked {
				& + .color-control__icon {
						border-color: map-get($basic, theme);
						.color-control__icon-value::before {
							opacity: 1;
						}
					}
			}
			&:disabled {
				& + .color-control__icon {
					opacity: .7;
					pointer-events: none;
				}

				&:checked {
					& + .color-control__icon {
							border-color: map-get($basic, theme);
							.color-control__icon-value::before {
								opacity: 1;
							}
						}
				}
			}
	}
	&__icon {
		display: block;
		@include size(multi(4), multi(4));
		padding: .2rem;
		background: $colorWhite;
		border: .1rem solid transparent;
		@include round;
			&-value {
				position: relative;
				@include flex();
				height: 100%;
				align-items: center;
				justify-content: center;
				@include round;
					&::before {
						content: '';
						display: block;
						@include size(1.2rem, .9rem);
						background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.8047 0.195262C12.0651 0.455612 12.0651 0.877722 11.8047 1.13807L4.4714 8.4714C4.21106 8.73175 3.78894 8.73175 3.5286 8.4714L0.195262 5.13807C-0.0650874 4.87772 -0.0650874 4.45561 0.195262 4.19526C0.455612 3.93491 0.877722 3.93491 1.13807 4.19526L4 7.05719L10.8619 0.195262C11.1223 -0.0650874 11.5444 -0.0650874 11.8047 0.195262Z' fill='white'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
						background-size: cover;
						opacity: 0;
						@include smooth(.2s);
					}
			}
	}

	&--light {
		.color-control__icon-value {
			border: .1rem solid map-get($grey, color_5);
				&::before {
					background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.8047 0.195262C12.0651 0.455612 12.0651 0.877722 11.8047 1.13807L4.4714 8.4714C4.21106 8.73175 3.78894 8.73175 3.5286 8.4714L0.195262 5.13807C-0.0650874 4.87772 -0.0650874 4.45561 0.195262 4.19526C0.455612 3.93491 0.877722 3.93491 1.13807 4.19526L4 7.05719L10.8619 0.195262C11.1223 -0.0650874 11.5444 -0.0650874 11.8047 0.195262Z' fill='%23333'/%3E%3C/svg%3E%0A");
				}
		}
	}

	&--alternative {
		.color-control {
			&__input {
				&:checked {
					& + .color-control__icon {
						padding: .4rem;
						border: .2rem solid map-get($basic, theme);
					}
				}
			}
			&__icon {
				@include size(3.2rem, 3.2rem);
				padding: 0;
				border: .1rem solid transparent;
				@include smooth(.2s);
					&-value {
						&::before {
							display: none;
						}
					}
			}
		}
	}
}