.control {
	@include iblock(top);
	&__label {
		position: relative;
		display: block;
		width: 100%;
	}
	&__input {
		position: absolute;
		width: 1px;
		height: 1px;
		clip: rect(0, 0, 0, 0);
		z-index: 0;

			&:checked {
				& + .control__container {
					.control__radio,
					.control__checkbox {
						background: map-get($basic, theme);
							&::before {
								opacity: 1;
								transform: scale(1);
							}
					}
					.control__checkbox {
						border-color: map-get($basic, theme);
					}
				}
			}
			&:disabled {
				& + .color-control__icon {
					opacity: .7;
					pointer-events: none;
				}

				&:checked {
					& + .color-control__icon {
							border-color: map-get($basic, theme);
							.color-control__icon-value::before {
								opacity: 1;
							}
						}
				}
			}
	}
	&__container {
		@include flex();
		align-items: flex-start;;
	}
	&__radio,
	&__checkbox {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		//@include size(1.8rem, 1.8rem);
		@include smooth(.3s);
			&::before {
				content: '';
				display: block;
				@include smooth(.3s);
			}
	}
	&__radio {
		//padding: .6rem;
		@include size(15px, 15px);
		padding: 5px;
		background-color: map-get($grey, color_5);
		@include round;
			&::before {
				@include size(100%, 100%);
				background-color: $colorWhite;
				@include round;
				opacity: 0;
				transform: scale(2);
			}
	}
	&__checkbox {
		@include size(18px, 18px);
		border: .1rem solid map-get($grey, color_5);
		@include radius(.2rem);
			&::before {
				@include size(13px, 9px);
				background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 13 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4.80015L4.1999 8.00015L11.1999 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
			}

			& + .control__value {
				width: calc(100% - 18px);
				margin-top: -.1rem;
			}
	}
	&__value {
		//@include flex(calc(100% - 1.8rem));
		@include flex(calc(100% - 15px));
		align-items: center;
		margin-top: -.26rem;
		padding-left: .8rem;
		@include font-size(1.8rem);
	}
	&__prop {
		position: relative;
		@include flex(calc(100% - 2.6rem));
		align-items: flex-end;
		justify-content: space-between;
		margin-top: -.26rem;
		margin-left: .8rem;
		color: map-get($basic, primary);
			&::before {
				content: '';
				position: absolute;
				left: 0;
				bottom: .6rem;
				display: block;
				@include size(100%, .1rem);
				background: url("data:image/svg+xml,%3Csvg width='4' height='1.092' fill='none' version='1.1' viewBox='0 0 4 1.092' xmlns='http://www.w3.org/2000/svg' xmlns:cc='http://creativecommons.org/ns%23' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Cpath d='m0.016949 0.518c0-0.13067 0.046666-0.24733 0.14-0.35 0.10267-0.112 0.24267-0.168 0.42-0.168 0.15867 0 0.28933 0.056 0.392 0.168 0.112 0.10267 0.168 0.21933 0.168 0.35 0 0.15867-0.05133 0.294-0.154 0.406-0.09333 0.112-0.22867 0.168-0.406 0.168s-0.31733-0.05133-0.42-0.154c-0.093334-0.112-0.14-0.252-0.14-0.42z' fill='%23000'/%3E%3C/svg%3E") 0 0 repeat-x;
				opacity: .3;
				z-index: 0;
			}
			&-label,
			&-value {
				@include font-size(1.8rem);
				& span {
					position: relative;
					background: $colorWhite;
					z-index: 1;
				}
			}
			&-label {
				width: 33.5rem;
				& span {
					padding-right: .8rem;
				}
			}
			&-value {
				width: calc(100% - 33.5rem);
				color: map-get($grey, color_2);
					& span {
						display: block;
						padding-left: .8rem;
						background-color: $colorWhite;
					}
			}
	}

	&--w-100 {
		display: block;
		width: 100%;
		//max-width: 55.5rem;
	}
	&--standalone {
		.control {
			&__container {
				padding: 2.45rem 2.2rem;
			}
			&__value {
				color: $colorBlack;
				@include font-size();
				font-weight: 500;
			}
		}
	}

	& .payment-systems {
		margin-left: 2.4rem;
	}

	@include bp-tablet {
		&__radio,
		&__checkbox {
			@include size(1.8rem, 1.8rem);
		}
		&__radio {
			padding: .6rem;
		}
		&__value {
			@include flex(calc(100% - 1.8rem));
		}
	}
	@include bp-tabletXS {
		&__checkbox {
			& + .control__value {
				margin-top: -.16rem;
			}
		}
		&__value {
			display: block;
			margin-top: -.2rem;
			font-size: 1.4rem;
		}
		&__prop {
			position: relative;
			display: block;
			margin-top: -.2rem;
			&::before {
				display: none;
			}
			&-label,
			&-value {
				display: block;
				width: 100%;
				@include font-size(1.4rem);
			}
			&-label {
				& span {
					padding-right: 0;
				}
			}
			&-value {
				max-width: 100%;
				& span {
					padding-left: 0;
				}
			}
		}

		&--standalone {
			.control {
				&__container {
					padding: 2rem $gutter;
				}
			}
		}

		& .payment-systems {
			margin-top: .4rem;
			margin-left: 0;
		}
	}
}