.default-control {
	@include iblock(top);
	&__label {
		position: relative;
		display: block;
		width: 100%;
	}
	&__input {
		position: absolute;
		width: 1px;
		height: 1px;
		clip: rect(0, 0, 0, 0);
		z-index: 0;

			&:checked {
				& + .default-control__value {
					color: map-get($basic, theme);
					border-color: map-get($basic, theme);
				}
			}
			&:disabled {
				pointer-events: none;
				& + .default-control__value {
						opacity: .7;
						pointer-events: none;
					}

				&:checked {
					& + .size-control__value {
						color: map-get($basic, theme);
						border-color: map-get($basic, theme);
					}
				}
			}
	}
	&__value {
		@include flex();
		height: multi(4);
		align-items: center;
		padding: .2rem 1.1rem 0;
		color: $colorBlack;
		@include font-size(1.4rem, multi(2));
		background: $colorWhite;
		border: .1rem solid map-get($grey, color_5);
		@include radius($radius);
		@include smooth(.2s);
	}

	&--gradient {
		.default-control {
			&__input {
				&:checked {
					& + .default-control__value {
						color: $colorWhite;
						background: $gradient;
						border-color: map-get($basic, theme);
					}
				}
			}
		}

		&:hover {
			.default-control {
				&__value {
					border-color: map-get($basic, theme);
				}
			}
		}
	}

	@include bp-tabletXS {
		&__value {
			//height: 3.2rem;
			//padding-left: .8rem;
			//padding-right: .8rem;
			padding: .7rem .8rem;
			font-size: 1.3rem;
		}
	}
}