.form {
	width: 100%;
		&__section {
			width: 100%;
				& + .form__section {
					margin-top: 5.6rem;
				}
		}
		&__row {
			@include flex();
			max-width: 63.8rem;
			align-items: flex-start;
				& + .form__row {
					margin-top: 1.6rem;
					&--footer {
						margin-top: 4rem;
					}
					&--mt-40 {
						margin-top: 4rem;
					}
				}
				&--controls {
					& .button + .button {
						//margin-left: 3.2rem;
						margin-left: .8rem;
					}
				}
				&--hidden {
					height: 0;
					opacity: 0;
					overflow: hidden;
				}
				&--mb-40 {
					margin-bottom: 40px;
				}
				&--w-100 {
					max-width: 100%;
				}
		}
		&__address-group {
			@include flex();
				& > *:not(:last-child) {
					margin-right: .8rem;
				}
				&--no-wrap {
					flex-wrap: nowrap;
				}
				& .input {
					flex-shrink: 1;
						&--s {
							flex-shrink: 0;
						}
				}
		}
		&__options {
			@include flex();
			align-items: center;
			margin-top: 2.3rem;
				& > *:not(:last-child) {
					margin-right: 3.2rem;
				}
		}
		&__option {
			@include font-size(1.4rem);
			font-weight: $semibold;
		}
		&__agreement {
			width: 100%;
			max-width: 24.5rem;
			margin: 1.2rem auto 0;
			color: map-get($grey, color_2);
			@include font-size(1.2rem, multi(2));
			@include align_c;
				& a {
					color: map-get($basic, primary);
					font-size: inherit;
					line-height: inherit;
				}
		}

	@include bp-desktopXS {
		&__row {
			&--controls {
				& .button + .button {
					margin-left: 1.4rem;
				}
			}
		}
	}
	@include bp-tabletXS {
		&__section {
			& + .form__section {
				margin-top: 3.2rem;
			}
		}
		&__row {
			& + .form__row {
				&--footer,
				&--mt-40 {
					margin-top: 2.2rem;
				}
			}
			&--controls {
				& .button {
					width: 100%;

					& + .button {
						margin-top: 1.6rem;
						margin-left: 0;
					}
				}
			}
			&--mb-40 {
				margin-bottom: 2.2px;
			}
		}
		&__address-group {
			& > *:not(:last-child) {
				margin-right: 0;
			}
			&--no-wrap {
				flex-wrap: wrap;
			}
			& .input {
				margin-top: multi(2);
				&--s {
					margin-top: 0;
					& + .input--s {
						margin-left: .6rem;
					}
				}
			}
		}
		&__options {
			display: block;
			@include align_c;
			& > *:not(:last-child) {
				margin-bottom: 1.5rem;
				margin-right: 0;
			}
		}
		&__option {
			display: block;
		}
	}
}