table {
	width: 100%;
	border: 0;
	border-collapse: collapse;

		thead {
			color: map-get($basic, primary);
			@include font-size();
			font-weight: $bold;
			border-bottom: .1rem solid map-get($grey, color_5);

			td, th {
				padding: 0 2.5rem 2.7rem;
				vertical-align: top;
			}
		}
		tbody {
			@include font-size();
			font-weight: $regular;
			tr {
				&:nth-child(even) {
					background: rgba(map-get($grey, color_0), .5);
				}
			}
			td {
				padding: 2rem 2.5rem;
				vertical-align: middle;
			}
		}

		th, td {
			@include inherit;
			@include align_l;
				&._align-right {
					@include align_r;
				}
		}

	& .label {
		display: none;
	}

	@include bp-tabletXS {
			thead {
				display: none;
			}
			tbody {
				@include font-size(1.3rem, 2.4rem);
					td {
						padding: .8rem 1.6rem;
					}
			}
			tr {
				display: block;
			}
			td {
				@include flex();
				align-items: flex-start;
					&::before {
						content: attr(data-label);
						display: block;
						width: 10.5rem;
						font-weight: $bold;
					}

					& > div {
						width: calc(100% - 10.5rem);
						padding-left: 1.6rem;
					}

					&._align-right {
						@include align_l;
					}
			}
	}
}