.tumbler {
	@include flex(auto);
		&__label {
			position: relative;
			display: block;
			cursor: pointer;
		}
		&__input {
			position: absolute;
			width: .1rem;
			height: .1rem;
			clip: rect(0, 0, 0, 0);
			z-index: 0;

			&:checked {
				+ .tumbler__container {
					.tumbler__control {
						background-color: map-get($basic, theme);
					}
					.tumbler__marker {
						transform: translateX(2.4rem);
					}
					.tumbler__value {
						color: map-get($basic, theme);
					}
				}
			}
		}
		&__container {
			@include flex(auto);
			align-items: center;
		}
		&__control {
			position: relative;
			@include flex(5.6rem);
			height: 3.2rem;
			background-color: map-get($grey, color_12);
			border-radius: 2rem;
			transition: background-color .2s ease-in-out;
		}
		&__marker {
			position: absolute;
			top: .4rem;
			left: .4rem;
			@include size(2.4rem, 2.4rem);
			background-color: $colorWhite;
			@include round;
			transition: all .2s ease-in-out;
			z-index: 1;
		}
		&__value {
			margin-left: .8rem;
			color: map-get($grey, color_13);
			@include font-size(1.4rem);
		}

	@include bp-tabletXS {
		&__value {
			font-size: 1.3rem;
		}
	}
}