{% extends '../../templates/template-parts/page-template.twig' %}
{% set breadcrumbs = {
    links : [
        {
            url  : './home.twig',
            link : 'Главная',
        }
    ],
    last : 'О&nbsp;нас'
} %}

{% block headline %}О&nbsp;нас{% endblock %}
{% block content %}
    <div class="about-us block-underlay">
        <div class="about-us__desc">
            <p><b>Интернет-магазин &laquo;Шпи-Ви&raquo;&nbsp;&mdash;</b> <br>это самостоятельное продолжение таких известных
                проектов, как &laquo;<a href="javascript:void(0);" target="_blank" class="borderless">Презервативная</a>&raquo; и&nbsp;&laquo;<a href="javascript:void(0);" target="_blank" class="borderless">Шпилли-Вилли и&nbsp;нефритовый жезл</a>&raquo;.</p>
        </div>
        <div class="about-us__brands">
            <div class="about-us__brands-element">
                <svg class="i _prezervativnaya" viewBox="0 0 245 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M34.6274 51.5361C37.4525 50.7257 37.1602 51.1009 37.1827 49.8327C37.2127 47.0637 37.3101 44.3247 37.3701 41.5482C37.49 36.1003 37.6998 30.6449 37.7672 25.167C37.8272 19.629 38.067 14.091 38.1494 8.60559C38.1719 7.19484 38.3367 6.02421 37.8871 4.78605C36.7781 1.67188 33.2036 1.69439 30.4159 2.2722C29.8239 2.39977 29.3219 2.58737 28.7374 2.60238L28.6699 0.0059839C28.2727 -0.0690563 24.9755 0.583794 24.1138 0.72637C23.844 0.771394 23.6417 0.808914 23.3569 0.846434C23.267 0.861442 23.0347 0.891458 22.9747 0.913971C22.7349 0.996515 22.8174 0.91397 22.705 1.10908V3.99062C21.2737 4.65848 20.7116 4.76353 19.108 5.66402C15.7209 7.55503 13.0606 9.97132 11.3521 13.4982C10.198 15.8845 9.84583 19.4714 10.7001 22.2404C11.472 24.7167 13.2554 26.9904 15.6085 27.7108C15.7883 27.5232 18.2387 23.8463 18.4186 23.381C17.6692 22.8782 16.6201 21.46 16.208 20.2218C15.2113 17.2352 17.1447 14.7889 19.3628 13.138C19.8873 12.7553 22.053 11.3446 22.7799 11.1795C22.6375 14.8489 22.66 18.4734 22.5626 22.1504C22.4727 25.7373 22.3977 29.4893 22.3827 33.0687C22.3602 38.0814 22.6 43.7469 21.0489 48.3919C20.5018 50.0278 20.1646 50.6806 19.2579 52.0539C16.8599 55.6933 11.5844 56.7589 8.06983 53.2095L7.08816 52.0914C7.01323 51.9563 6.95328 51.7762 6.86335 51.6186C4.22559 46.9436 4.98994 40.5202 8.79672 37.271C10.1156 36.1454 10.5952 35.9352 12.2738 35.3049L10.6626 29.7444C8.86416 29.9921 6.69849 31.4478 5.67186 32.3783C4.96746 33.0162 4.39045 33.5189 3.76098 34.3444C0.696071 38.4041 -0.802662 43.6494 0.433793 49.2324C1.18316 52.6242 3.22143 56.8715 6.10649 58.7925C9.75591 61.2238 14.1922 61.5165 18.2837 59.9856C26.0921 57.0966 27.9955 47.1312 28.3702 39.5297C28.7224 32.1532 28.505 24.3565 28.6175 16.8975C28.6624 14.3912 28.595 11.8323 28.6624 9.31847L31.7348 8.84572C31.8472 10.5792 31.7048 12.5827 31.6824 14.3387L31.3976 47.0187C31.3976 48.2043 31.1953 51.5211 31.3901 52.4441L34.6274 51.5361ZM221.062 2.69242C211.935 0.989011 204.029 3.82553 202.058 13.4832C201.099 18.2032 203.317 24.0564 206.405 27.2156C207.214 28.041 207.274 27.8159 207.281 29.3917C207.289 30.3973 207.341 31.3878 207.341 32.3858C207.431 39.4171 207.686 46.8311 207.866 53.8849L213.658 55.5057L213.434 31.9956L216.439 32.8361C216.768 41.4957 216.064 48.3244 219.249 55.4832C220.53 58.3648 222.681 60.9912 225.161 62.3344C228.046 63.8952 232.018 64.5556 235.63 63.4525C239.025 62.4169 240.786 60.4734 242.554 57.6144C243.341 56.3387 243.948 54.6728 244.367 53.0819C245.574 48.5495 245.034 44.2047 242.921 40.055C242.539 39.282 242.119 38.7492 241.715 38.1114C240.321 35.9127 237.024 33.1888 234.341 32.8211L232.737 38.3966C242.921 41.3907 241.228 58.4398 232.123 58.4323H231.681C225.034 58.4248 223.175 50.3805 222.778 45.0826C222.666 43.5218 222.538 41.7058 222.583 40.13L222.666 38.7267C222.666 36.3255 222.553 33.9017 222.553 31.5004L222.523 9.64115C223.168 9.7312 224.464 10.5116 224.951 10.8268C228.271 12.9954 230.272 16.9501 228.159 20.477C227.634 21.3399 226.802 22.0303 226.533 22.4205C226.667 22.7582 227.612 24.1389 227.904 24.6042C228.383 25.3246 228.803 26.0374 229.298 26.6903C230.684 26.4051 232.13 24.9494 232.812 24.0939C233.637 23.0583 234.333 21.3099 234.558 19.6815C235.12 15.5918 233.936 12.5752 232.153 10.0614C230.047 7.09728 224.787 3.3903 221.062 2.69242ZM210.908 22.7207C207.641 19.4564 207.206 13.7984 210.264 10.7668C211.358 9.67867 213.928 8.32794 216.251 8.50054L216.236 25.7298C214.97 25.7073 211.98 23.7937 210.908 22.7207ZM193.688 10.4516C194.145 10.5116 197.285 11.3446 197.555 11.5096L201.039 28.7239C201.399 30.4723 204.351 44.6849 204.486 45.9231L200.904 44.6249L200.327 44.4148L199.885 44.2272C199.585 44.0321 199.226 42.111 199.121 41.6533C198.072 41.3982 194.962 39.9874 194.242 39.9799L193.838 42.3962L189.491 40.9179L193.688 10.4516ZM194.962 35.5976L197.832 36.5581C197.772 35.8602 196.655 31.5229 196.333 30.1872C196.303 30.0521 196.281 29.932 196.236 29.7594L196.018 29.2867L194.962 35.5976ZM160.866 2.42228L160.806 34.3819C162.956 34.6971 165.159 35.2299 167.303 35.6351C171.02 36.333 169.858 36.498 171.454 35.0798C171.724 34.8397 172.323 34.502 172.323 34.0667L172.241 25.3846C171.799 25.0844 171.402 24.6717 170.96 24.3415C171.027 23.9963 170.9 24.1764 171.222 23.9063L172.196 23.2534C172.159 20.0867 172.129 6.9322 172.024 6.31687C171.956 5.88163 171.274 5.15374 171.005 4.78605C170.398 3.90057 170.727 4.08067 169.461 3.86305C168.007 3.60791 166.636 3.36028 165.167 3.12015C163.803 2.90254 162.259 2.53484 160.866 2.42228ZM165.804 27.043C166.306 27.103 166.988 27.133 167.408 27.3731V30.2397C166.995 30.1872 165.969 30.1346 165.759 29.8345L165.804 27.043ZM165.721 8.51554C166.044 8.51554 167.048 8.65812 167.22 8.83822C167.355 8.98079 167.288 8.8082 167.318 9.13838L167.333 11.6972C167.348 14.1961 167.228 18.4209 167.37 20.5295L165.774 20.2293L165.721 8.51554ZM121.651 0.268625C120.602 5.55146 119.77 10.8493 118.811 16.1021L116.675 27.9735C116.451 29.2116 116.106 30.75 115.971 31.9956L120.827 31.9056C120.977 31.5904 121.052 30.9075 121.149 30.4873C121.344 29.6018 121.224 29.3092 121.614 29.3092L126.62 29.3542L127.152 31.5304L132.052 31.5529L125.863 0.448721L121.651 0.268625ZM122.371 24.7843C122.401 24.0114 122.828 22.383 123 21.5275C123.135 20.9347 123.487 18.6235 123.757 18.2933L125.428 24.8368L122.371 24.7843ZM103.299 1.13909L103.284 20.7621C103.277 23.9813 103.217 29.1141 103.292 32.3933C105.667 32.2883 108.755 32.2207 110.95 32.0331C113.004 31.8606 112.089 32.2358 113.183 31.0651C113.558 30.6524 114.465 29.8795 114.465 29.3017L114.457 21.1973C114.068 20.8447 113.641 20.7096 113.236 20.3194C113.408 19.8766 114.315 19.2913 114.42 19.0212C114.532 18.751 114.457 17.0476 114.465 16.6124V2.95506C114.472 1.93452 114.405 2.00956 113.888 1.45426C113.566 1.10908 113.251 0.72637 112.966 0.358673L103.299 1.13909ZM108.14 17.6404V6.22682L108.17 6.06173L109.691 6.01671L109.699 17.5654L108.14 17.6404ZM108.193 24.244L109.706 24.1539V26.9379L108.193 27.0655C108.095 26.6753 108.095 24.6492 108.193 24.244ZM88.7016 2.51233L88.6642 33.2563C89.6533 33.3238 92.943 32.5434 94.1795 32.4309L94.3968 26.2701C99.2902 25.212 97.2369 26.4427 100.257 23.426C101.403 22.2854 101.313 22.5105 101.321 21.5575C101.336 20.4544 101.763 4.86859 101.643 4.62846C101.561 4.43336 98.878 2.31722 98.4959 1.98705C97.5966 1.19912 97.8214 1.37922 96.3602 1.57432C95.4909 1.68688 94.6891 1.78444 93.7898 1.897L88.7016 2.51233ZM94.2844 20.8296L94.2994 6.87967L96.525 6.65455L96.3152 20.5295L94.2844 20.8296ZM55.5197 16.9801C55.5122 14.1511 56.0592 13.9635 54.8902 12.9654L52.4623 10.8118C52.1326 10.6242 50.4615 11.172 49.9519 11.2995C48.086 11.7873 44.1593 12.8679 42.5931 13.168L42.6006 42.1336L48.2134 40.8129L48.2733 37.7587C48.7005 37.4811 49.9594 37.1509 50.6114 36.9483C51.8403 36.5656 51.8478 36.7082 52.6271 35.8902L54.9502 33.4739C55.3099 33.1212 55.1975 32.8361 55.205 32.2132C55.2724 28.1836 55.4073 24.1014 55.4448 20.0492C55.4598 19.0212 55.5197 18.0006 55.5197 16.9801ZM50.424 16.4998L50.1917 31.5304L48.1534 32.1907L48.1684 17.1602L50.424 16.4998ZM68.4313 11.1269C69.398 10.8643 71.2714 9.98633 72.1481 11.0144C72.7626 11.7348 72.5228 14.3162 72.5003 15.4793C72.4704 17.3628 72.7102 18.3533 71.5561 19.3514C70.6644 20.1318 69.6602 20.5445 68.2964 20.8597L68.2889 25.317C69.323 25.0769 70.6569 24.7843 71.6161 25.3771C72.6053 25.9924 72.5078 26.8028 72.5003 28.2511C72.5003 29.5718 71.9758 30.1646 71.114 30.6149C70.2597 31.0576 69.2106 31.3503 68.1091 31.3728L68.0866 36.6706C71.6985 36.1303 75.0332 34.7646 76.2547 32.0707C76.9815 30.4723 76.8916 25.3471 76.3146 23.5161C75.7526 21.7676 75.6177 23.2159 76.2247 21.3924C76.8092 19.644 76.7043 17.4678 76.7043 15.4793C76.7043 12.095 77.4761 6.79712 73.6094 5.85162C72.1182 5.48392 69.6153 6.02421 68.4388 6.61703V11.1269H68.4313ZM65.5462 11.8173L65.5312 7.16482C64.7144 7.3149 58.2549 8.9883 57.8652 9.22843L57.8877 38.4641L65.5312 36.9183L65.5387 31.793L62.6911 32.3333L62.6986 21.0172L65.5462 20.3644L65.5162 15.6068L62.6687 16.1171L62.7511 12.5902L65.5462 11.8173ZM131.198 5.60398L131.131 0.418705L144.102 1.01152L143.99 5.89664C143.098 6.08424 140.865 5.77658 139.748 5.8141L139.606 31.808L134.765 31.3128L134.908 5.88914C134.803 5.8291 134.893 5.86662 134.705 5.8216L131.198 5.60398ZM83.3137 11.3971C83.3137 10.9093 83.2762 8.20038 83.4486 7.99777C83.5984 7.81767 85.7791 7.41996 86.2137 7.34492L86.2062 2.86502L78.5327 4.39584L78.0831 34.9147C79.0498 34.8472 82.7442 34.0292 84.1904 33.7666L85.7641 33.4664C86.2062 33.3464 85.9515 33.4964 86.0938 33.2713L86.1313 28.0935L83.1863 28.6113L83.3137 16.2297C83.9132 16.1021 86.0863 15.832 86.1613 15.5618L86.1988 11.0069L83.3137 11.3971ZM188.375 8.9883C187.633 8.76318 183.736 7.53252 183.339 7.56253L183.317 25.8123C182.807 25.7823 180.492 25.0919 179.989 24.8818L179.944 6.48946L174.841 4.98865C174.744 6.48946 174.841 8.38047 174.841 9.9263L174.969 36.5281C174.969 37.7887 174.924 37.436 176.145 37.7212L180.019 38.6067L180.027 30.795C180.484 30.87 183.054 31.6805 183.309 31.8531L183.302 39.252C183.437 39.4997 183.549 39.4546 183.841 39.5297L188.255 40.5127L188.375 8.9883ZM150.285 32.3783C150.794 30.825 151.289 29.4743 151.843 27.936L153.207 24.0189C153.282 23.7637 153.304 23.6512 153.499 23.4711L153.874 32.7235L158.228 33.7966L158.535 2.36225C158.385 2.11461 158.752 2.28721 158.19 2.15213L156.587 1.9045C155.89 1.79194 155.11 1.61935 154.451 1.58933C154.151 2.11461 153.874 2.91754 153.634 3.47284L151.281 9.04833C151.086 9.34099 151.266 9.12337 151.079 9.28095L151.266 1.41674L146.47 1.11658C146.388 7.11229 146.268 13.033 146.201 19.0137L145.961 31.0876C145.953 31.5304 145.841 31.838 146.193 31.9356C146.65 32.0482 149.775 32.3858 150.285 32.3783Z"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M103.846 56.6318C111.355 55.2811 119.201 54.6433 126.957 55.026C126.829 55.5287 126.822 56.009 126.912 56.4592C126.912 56.4818 126.919 56.4893 126.919 56.5043C119.673 56.3242 112.569 57.0145 104.258 58.733C103.681 58.8455 103.112 58.4703 102.999 57.885C102.887 57.3072 103.269 56.7444 103.846 56.6318ZM133.439 55.6038C135.484 55.8664 137.515 56.2116 139.524 56.6393C139.456 56.7669 139.389 56.8945 139.321 57.022C139.224 57.2021 139.134 57.3747 139.044 57.5548C137.006 57.2697 135.027 57.0446 133.079 56.872C133.236 56.4968 133.364 56.0765 133.439 55.6038ZM142.244 57.2697C142.971 57.4573 143.698 57.6524 144.417 57.8625C144.994 58.0276 144.882 58.4703 144.245 58.3578C143.435 58.2227 142.641 58.0876 141.862 57.96C141.974 57.7349 142.101 57.5023 142.244 57.2697Z"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M103.314 45.0006C103.172 45.2933 102.812 45.4133 102.527 45.2632C102.228 45.1207 102.108 44.768 102.258 44.4753C102.265 44.4678 103.674 41.6163 103.397 41.5413C103.262 41.4962 102.46 42.4793 101.486 43.785C100.062 45.706 98.4583 48.2724 97.7465 49.7281C97.1919 50.8387 96.5025 52.6772 96.0004 54.4407C95.6857 55.5363 95.4459 56.6018 95.3785 57.4198C95.326 58.0051 95.326 58.4178 95.4009 58.4853C95.6557 58.5154 96.3901 57.5774 97.2519 56.3242C98.7056 54.2156 100.234 51.289 100.774 50.0508C100.819 49.9233 100.871 49.8107 100.916 49.7056C100.916 49.6981 100.924 49.6831 100.924 49.6756C101.651 48.1223 102.812 46.9066 103.696 46.4639C104.079 46.2763 104.453 46.2088 104.768 46.2763C105.173 46.3738 105.465 46.659 105.577 47.1393C105.637 47.3644 105.637 47.657 105.585 48.0247C106.094 47.3794 106.671 46.9216 107.233 46.9517C107.376 46.9592 107.511 46.9892 107.631 47.0342C108.05 47.2068 108.268 47.5595 108.342 48.0172C108.5 47.8371 108.687 47.6795 108.882 47.5595C109.257 47.3043 109.654 47.1768 110.021 47.1468C110.388 47.1092 110.733 47.1693 111.018 47.2893C111.595 45.8336 112.164 44.3102 112.164 44.3027C112.269 43.9951 112.614 43.83 112.929 43.95C113.236 44.0551 113.386 44.4003 113.273 44.708C113.273 44.7155 112.037 48.0322 111.317 49.6306C111.175 49.9533 111.025 50.2459 110.875 50.5161C110.883 50.9213 110.935 51.1989 111.01 51.3565C111.13 51.244 111.258 51.0263 111.377 50.7112L111.385 50.6962C111.969 48.9552 112.891 47.8221 113.663 47.4019C114.008 47.2068 114.367 47.1393 114.682 47.2068C115.019 47.2743 115.289 47.4694 115.461 47.7996C116.421 47.0492 117.949 46.0662 118.399 47.0567C119.268 46.4789 119.823 46.4789 120.153 46.8466C120.235 46.9291 120.287 47.0342 120.325 47.1618C121.052 46.719 121.539 46.7641 121.876 47.1318C122.348 47.6495 122.183 48.7451 122.003 49.9608C121.854 50.9513 121.689 52.0244 121.869 52.5647C121.973 52.8723 121.801 53.21 121.494 53.3151C121.179 53.4126 120.849 53.2475 120.744 52.9399C120.475 52.1294 120.662 50.9063 120.827 49.7882C120.962 48.8727 121.089 48.0397 120.992 47.9422C120.977 47.9197 120.797 48.1748 120.19 48.7451C119.973 49.5255 119.628 50.396 119.343 51.1239C119.223 51.4241 119.118 51.6867 119.028 51.9343C118.916 52.242 118.579 52.3996 118.264 52.287C117.957 52.1745 117.807 51.8368 117.912 51.5291C117.987 51.319 118.107 51.0188 118.242 50.6887C118.519 49.9758 118.879 49.0903 119.096 48.46C119.081 48.3099 119.118 48.1598 119.223 48.0397C119.283 47.8371 119.298 47.7021 119.276 47.6645C119.246 47.6345 119.021 47.9722 118.242 48.7001C117.882 49.6306 117.192 50.8087 116.391 52.152C116.271 52.3546 116.143 52.5572 116.023 52.7673C115.859 53.0524 115.491 53.1425 115.207 52.9774C114.929 52.8123 114.832 52.4521 115.004 52.167C115.124 51.9568 115.244 51.7542 115.364 51.5516C116.181 50.1934 116.863 49.0303 117.163 48.3024C117.17 48.2048 117.207 48.0923 117.275 48.0097C117.335 47.8146 117.342 47.6645 117.312 47.567C117.297 47.522 116.046 48.7676 115.604 49.2254C115.544 49.6981 115.394 50.2534 115.147 50.9063C114.637 52.212 113.79 52.9924 113.063 53.255C112.756 53.3601 112.464 53.3901 112.187 53.3226C111.872 53.255 111.61 53.0824 111.422 52.8123C111.37 52.7373 111.325 52.6622 111.295 52.5797C111.13 52.6322 110.965 52.6472 110.8 52.6247C110.793 52.6247 110.778 52.6172 110.77 52.6172C110.508 52.5647 110.276 52.4221 110.089 52.167C110.036 52.0919 109.984 52.0094 109.946 51.9118C109.429 52.5046 108.882 52.8348 108.387 52.8048C108.328 52.7973 108.275 52.7898 108.223 52.7823C107.825 52.6922 107.556 52.4221 107.398 52.0019C107.376 51.9193 107.346 51.8368 107.331 51.7467C107.166 52.0769 107.009 52.3771 106.866 52.6172C106.709 52.9023 106.342 52.9999 106.064 52.8348C105.787 52.6622 105.69 52.302 105.847 52.0244C106.229 51.379 106.724 50.3285 106.994 49.413C107.114 48.9928 107.181 48.6175 107.173 48.3324C107.173 48.2273 107.181 48.1673 107.173 48.1598C107.173 48.1598 107.166 48.1598 107.158 48.1598C106.244 48.0998 104.693 52.1369 104.686 52.152C104.566 52.4596 104.228 52.6097 103.921 52.4896C103.846 52.4596 103.779 52.4221 103.719 52.3621C103.584 52.5797 103.434 52.7823 103.284 52.9774C102.797 53.6077 102.28 54.0955 101.786 54.3131C101.591 54.3957 101.403 54.4107 101.231 54.3806C100.849 54.3131 100.594 54.0505 100.459 53.6452C100.429 53.5777 100.407 53.4952 100.392 53.4126C99.7398 54.6133 98.9679 55.9115 98.226 56.9995C97.0795 58.6804 95.9105 59.8736 95.0637 59.6335C95.0188 59.6185 94.9663 59.6034 94.9288 59.5809C94.9138 59.5734 94.9063 59.5659 94.8914 59.5659C94.2844 59.2658 94.097 58.4403 94.187 57.3297C94.2694 56.4292 94.5167 55.2886 94.8539 54.1255C95.371 52.302 96.1053 50.3735 96.6823 49.2104C97.4317 47.6946 99.0728 45.0381 100.534 43.0796C101.793 41.3987 103.007 40.198 103.719 40.4006C105.382 40.8884 103.329 44.9856 103.314 45.0006ZM146.575 47.9272C147.31 47.3344 147.976 46.9817 148.733 46.8541C149.363 46.749 149.648 47.0417 149.752 47.6195C149.812 47.9647 149.752 48.43 149.685 48.9702C149.618 49.503 149.535 50.1184 149.565 50.6962C149.61 51.7167 150.075 52.6472 151.918 52.5572C152.24 52.5347 152.518 52.7898 152.533 53.1275C152.548 53.4501 152.293 53.7278 151.971 53.7428C149.168 53.8779 148.464 52.3996 148.374 50.7562C148.344 50.0883 148.434 49.413 148.501 48.8352C148.546 48.5575 148.568 48.3099 148.591 48.1223C148.119 48.2649 147.669 48.5575 147.152 49.0003C146.455 49.5856 145.661 50.4635 144.597 51.6417C144.26 52.242 143.9 52.8573 143.54 53.4727C141.817 56.4593 140.018 59.5809 139.501 61.3144C139.411 61.622 139.089 61.8021 138.767 61.7121C138.452 61.622 138.28 61.2919 138.37 60.9767C138.924 59.1007 140.753 55.9265 142.521 52.8798C142.776 52.4221 143.046 51.9643 143.293 51.5216C142.746 51.9719 142.176 52.3771 141.622 52.6847C141.36 52.9624 141.09 53.15 140.843 53.255C140.453 53.4201 140.078 53.4201 139.748 53.2776C139.426 53.135 139.179 52.8723 139.014 52.5121C138.954 52.3846 138.917 52.242 138.887 52.0919C137.905 53.3976 136.766 54.6733 135.964 54.163C135.17 53.6603 135.829 51.9719 136.444 50.3735C136.833 49.3529 137.208 48.3999 137.193 48.3699C137.186 48.3549 135.08 50.2459 134.615 50.6661C134.031 51.9268 133.424 53.0374 132.809 53.7203C132.809 54.2456 132.787 54.7408 132.734 55.1911C132.547 56.8495 131.76 57.7274 130.883 58.0576C130.202 58.3127 129.475 58.2227 128.875 57.9075C128.276 57.5849 127.796 57.0146 127.654 56.3017C127.466 55.3862 127.804 54.2531 129.13 53.1575C129.46 52.8798 129.864 52.5722 130.291 52.2345C130.674 51.9418 131.086 51.6267 131.483 51.2965C131.46 51.0038 131.423 50.7187 131.393 50.426C131.236 49.1203 131.011 47.8296 130.794 46.719C129.445 50.4861 126.297 53.1575 126.29 53.165C126.035 53.3826 125.66 53.3526 125.451 53.105C125.241 52.8573 125.271 52.4821 125.518 52.2645C125.525 52.257 129.879 48.565 130.201 43.95C130.231 43.6274 130.509 43.3722 130.838 43.4023C131.093 43.4248 131.303 43.6124 131.363 43.845C131.67 44.9931 132.255 47.627 132.57 50.2834L132.577 50.3435C133.266 49.6906 133.918 48.9777 134.39 48.1823C134.54 47.8146 134.698 47.4469 134.84 47.0942C135.425 45.6685 135.972 44.3327 136.474 43.4248C136.639 43.1396 136.991 43.0346 137.276 43.1921C137.56 43.3497 137.665 43.7099 137.5 44.0026C137.021 44.8505 136.496 46.1562 135.927 47.552C135.807 47.8296 135.702 48.1148 135.574 48.3999C136.624 47.6946 137.793 47.1017 138.182 47.7246C138.519 48.2574 138.04 49.488 137.538 50.7787C137.088 51.9418 136.556 53.12 136.586 53.1425C136.639 53.1725 137.77 51.6042 138.587 50.4635C138.902 50.0208 139.179 49.6381 139.389 49.3905C139.838 48.55 140.828 47.537 141.629 47.1242C141.959 46.9517 142.289 46.8691 142.574 46.8991C142.993 46.9442 143.293 47.1768 143.443 47.6345C143.585 48.1073 143.503 48.9027 143.046 50.1559C143.255 49.9608 143.458 49.7657 143.66 49.5631C144.582 48.6326 145.354 47.6645 145.698 46.9442C145.848 46.6515 146.2 46.5314 146.493 46.674C146.785 46.8241 146.905 47.1768 146.763 47.4694L146.755 47.4769C146.718 47.627 146.643 47.7771 146.575 47.9272ZM140.783 51.8668C140.82 51.8218 140.865 51.7692 140.91 51.7317C141.225 51.3565 141.569 50.7487 141.914 49.8482C142.251 48.9477 142.371 48.3999 142.349 48.1148C142.304 48.1298 142.251 48.1598 142.184 48.1823C141.554 48.505 140.76 49.3229 140.43 49.9908C139.988 50.8988 139.928 51.6342 140.108 52.0394C140.146 52.1219 140.183 52.1745 140.221 52.197C140.258 52.212 140.318 52.2045 140.393 52.1745C140.513 52.1069 140.648 52.0094 140.783 51.8668ZM131.55 55.0635C131.633 54.3806 131.633 53.5852 131.595 52.7298C131.4 52.8798 131.198 53.0374 131.018 53.18C130.621 53.4877 130.246 53.7728 129.887 54.0805C128.958 54.8459 128.703 55.5438 128.815 56.069C128.883 56.4217 129.122 56.6994 129.437 56.8645C129.752 57.0296 130.134 57.0746 130.486 56.947C130.973 56.7594 131.423 56.1891 131.55 55.0635ZM114.465 48.9928C114.457 48.9327 114.465 48.8652 114.472 48.8127C114.48 48.6326 114.465 48.49 114.42 48.3999C114.42 48.3924 114.427 48.3924 114.435 48.3924C114.397 48.3849 114.322 48.4149 114.225 48.4675C113.67 48.7751 112.974 49.6756 112.494 51.1089C112.486 51.1239 112.486 51.1464 112.479 51.1614L112.471 51.1764C112.314 51.6867 112.299 52.0019 112.404 52.1444C112.412 52.1519 112.427 52.167 112.434 52.167C112.494 52.1745 112.576 52.167 112.674 52.1369C113.131 51.9719 113.67 51.4165 114.045 50.4785C114.292 49.8407 114.42 49.3529 114.465 48.9928ZM110.231 49.1653C110.336 48.9402 110.441 48.6926 110.561 48.4074C110.448 48.3549 110.298 48.3324 110.126 48.3474C109.931 48.3699 109.729 48.4375 109.526 48.565C109.129 48.8277 108.762 49.3379 108.59 50.1934C108.53 50.4785 108.485 50.7337 108.477 50.9663C108.462 51.2365 108.477 51.4616 108.53 51.6041C108.657 51.5591 108.852 51.379 109.092 51.1014C109.459 50.6511 109.856 49.9908 110.231 49.1653ZM108.462 51.6192C108.462 51.6117 108.47 51.6117 108.477 51.6117C108.462 51.6192 108.462 51.6192 108.462 51.6192ZM102.003 50.1859C101.965 50.2684 101.92 50.381 101.868 50.5011C101.636 51.1314 101.493 52.0019 101.508 52.6772C101.508 52.8348 101.516 52.9699 101.546 53.09C101.801 52.9099 102.07 52.6172 102.363 52.2495C102.82 51.6492 103.262 50.8838 103.629 50.1184C104.303 48.7076 104.513 47.8671 104.431 47.4619C104.378 47.4694 104.311 47.507 104.228 47.5445C103.539 47.8822 102.61 48.8877 102.003 50.1859Z"/>
                </svg>
            </div>
            <div class="about-us__brands-element">
                <svg class="i _shpilli-willy" viewBox="0 0 324 59" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M25.8811 4.16606C25.942 5.311 25.6375 6.65798 25.8811 8.07231C25.333 8.67846 24.2369 8.67846 23.3234 8.8805C23.2016 13.7296 22.8971 19.0502 23.3234 24.0341C24.0542 24.4382 25.0894 23.63 25.6375 24.1014C25.5157 24.9096 25.6984 26.2566 25.8202 27.3342C19.7914 27.1995 12.8492 27.6036 6.45504 27.7383C6.02877 27.7383 5.60249 27.6036 5.23711 27.6709C3.77559 27.7383 1.46152 27.873 0.36538 28.3444C0.121793 27.4015 0.426276 25.9872 0.36538 25.2464C1.03524 25.2464 1.40062 24.9096 2.13138 25.179C2.61855 19.8584 1.94869 13.4602 2.25318 7.73557C1.64421 7.53352 0.791656 7.66822 0.243586 7.46617C0.18269 6.52328 -0.18269 5.10895 0.121793 4.43546C3.71469 4.50281 8.28194 5.1763 11.8139 4.50281C11.753 5.37835 11.3877 6.65798 11.4486 7.73557C10.4742 8.13966 9.13449 8.07231 8.09925 8.40906C7.79477 13.7296 8.40373 18.9829 8.09925 24.3035C9.13449 24.5729 10.2915 24.1688 11.5095 24.3035C11.5095 22.283 11.0832 19.7911 11.0832 17.5012C10.7178 17.2992 9.98705 17.4338 9.49987 17.4338C9.13449 16.3563 9.37808 14.4705 9.49987 13.3255C11.3268 13.5949 14.0062 13.5276 16.0767 13.5276C15.7113 14.7399 15.894 16.6257 16.0158 17.7032C15.7113 18.04 14.9197 17.8379 14.3716 17.9053C14.128 19.7237 14.4934 21.6095 14.3716 23.5626C15.4068 23.9667 16.6857 23.4953 17.9645 23.5626C18.2081 18.6461 17.1728 13.1909 17.5382 8.07231C17.1728 7.46617 16.1985 7.87027 15.5895 7.66822C15.5895 6.79268 15.5286 4.97425 15.6504 4.23341C19.1215 4.6375 22.41 4.43546 25.8811 4.16606ZM167.588 31.5772C167.77 32.1833 167.588 33.5977 167.466 34.3385C165.943 34.0691 163.995 35.214 162.594 34.3385C162.229 33.3956 162.594 32.2507 162.838 31.5772C164.482 31.7792 166.065 31.9813 167.588 31.5772ZM147.979 42.4204C147.492 42.8918 147.553 44.4409 147.857 45.1144C149.258 45.1144 149.258 42.6224 147.979 42.4204ZM137.383 43.8347C137.322 43.2959 136.043 43.0939 135.617 43.1612C135.556 43.6327 135.556 45.047 135.739 45.2491C136.591 45.3838 137.505 44.6429 137.383 43.8347ZM136.408 38.3794C134.947 37.5713 134.703 39.3223 135.191 40.3999C136.713 40.804 137.2 39.255 136.408 38.3794ZM122.524 39.1203C120.027 39.9285 121.793 44.2388 123.194 44.2388C125.752 44.3062 126.056 38.0427 122.524 39.1203ZM88.4828 39.8611C87.9347 38.2447 85.3162 39.0529 86.4732 41.0061C87.4475 41.4102 88.361 40.804 88.4828 39.8611ZM75.4509 40.2652C75.4509 41.2755 75.6945 41.8143 75.9381 42.6898C77.765 42.4877 77.5214 39.1203 75.4509 39.3897C75.5118 39.6591 75.4509 39.9958 75.4509 40.2652ZM71.6144 40.7367C71.5535 40.4673 71.4317 40.2652 71.3708 40.0632C70.5183 40.6693 69.7266 42.0836 70.7619 43.1612C71.1881 43.1612 71.6753 43.2286 71.858 42.9592C71.9798 42.151 71.858 41.5449 71.6144 40.7367ZM179.462 35.0793C180.376 36.1569 180.558 37.6386 181.411 38.7835C182.142 38.8509 182.568 38.7162 182.933 38.3121C183.116 36.9651 182.507 36.0896 182.812 35.1467C183.725 35.1467 185.065 35.1467 185.978 35.4161C185.978 36.4937 185.552 37.7733 186.1 38.5815C187.988 38.7835 187.318 36.1569 188.353 35.3487C189.632 35.6181 190.728 36.0222 191.824 36.4937C191.52 38.1101 189.754 39.5244 189.571 41.0734C189.815 42.4877 192.433 44.7103 193.103 45.9899C192.494 46.9328 191.033 48.2798 190.058 48.0777C188.658 47.741 188.962 44.7776 187.562 44.2388C186.344 44.845 187.257 46.8654 186.892 48.0777C185.491 47.8757 184.09 48.2124 182.933 47.8757C182.446 46.596 183.421 45.2491 182.812 43.9694C181.594 44.5756 181.776 46.7307 181.228 48.0777C179.95 47.6736 178.549 47.4042 177.148 47.1348C177.635 44.7776 179.158 43.2959 180.01 41.4775C179.341 39.5917 178.305 37.6386 176.966 36.4263C177.635 35.8202 178.61 35.1467 179.462 35.0793ZM170.084 35.6181C169.171 35.6181 167.527 35.2814 166.37 35.6181C165.7 36.7631 165.334 39.1876 164.543 40.1979C164.421 38.7835 164.969 36.6284 164.421 35.6181C162.594 35.7528 161.315 35.2814 159.671 35.4834C160.219 38.5815 160.036 43.8347 160.219 48.1451C161.315 47.943 162.655 47.741 163.934 47.943C164.786 46.7981 165.152 44.3735 166.187 43.9694C166.187 45.3164 166.187 46.596 166.187 47.943C167.588 47.741 168.988 47.741 170.693 47.8757C170.145 44.7103 169.962 39.255 170.084 35.6181ZM203.334 35.5508C203.273 36.9651 202.847 37.7733 202.908 38.9182C201.69 38.5141 200.411 39.1203 199.193 38.7835C199.01 38.9856 199.071 39.5244 199.071 39.9285C199.863 40.3999 201.263 39.5244 202.116 40.0632C201.994 41.3428 201.811 42.6898 201.872 43.7C201.263 43.9021 200.289 43.3633 199.193 43.5653C198.949 43.7674 198.888 44.2388 198.949 44.7103C200.045 45.5858 202.055 44.4409 203.212 44.845C203.09 46.1246 202.847 47.1348 202.664 48.3471C200.593 48.0777 197.61 47.741 194.869 47.741C194.869 44.2388 195.235 39.1203 195.113 35.0793C197.67 35.8875 200.959 34.7426 203.334 35.5508ZM205.709 36.6957C207.657 32.6548 215.818 35.6855 212.347 40.5346C216.366 42.3531 214.234 49.3574 208.875 48.4818C207.718 48.2798 206.561 47.4716 205.587 46.8654C205.891 45.9226 205.891 45.3838 206.257 44.4409C207.353 44.2388 208.51 45.5185 209.972 44.9123C210.154 44.2388 210.093 43.6327 209.728 43.2959C208.815 43.1612 208.51 43.5653 207.718 43.5653C207.597 42.353 207.475 40.804 207.84 39.5917C208.388 39.457 208.51 39.7938 209.058 39.7264C209.302 39.3897 209.18 38.4468 209.058 38.0427C207.779 37.9754 207.292 39.0529 206.257 39.255C206.196 38.3121 205.891 37.6386 205.709 36.6957ZM218.862 35.4161C219.35 38.9182 219.045 44.4409 215.574 44.7776C215.452 45.9226 216.305 47.1348 216.609 48.2798C220.141 48.5492 221.907 45.3164 222.334 42.151C222.394 41.4775 221.968 40.3999 222.76 39.9285C223.43 42.0837 222.334 45.7879 223.308 47.8757C224.526 47.741 226.048 48.0104 226.779 48.0104C226.596 44.5082 226.109 39.255 226.657 35.4161C224.1 35.6181 221.237 35.6855 218.862 35.4161ZM236.035 40.2652C240.237 40.7367 245.231 40.1305 249.798 39.6591C250.833 39.5917 252.051 39.5917 252.965 40.1305C252.782 41.6122 252.538 43.0939 252.417 44.6429C246.936 45.4511 241.212 44.9797 235.731 44.6429C235.974 43.0265 235.305 41.3428 236.035 40.2652ZM75.39 35.3487C75.39 35.5508 75.4509 35.8202 75.39 36.2916C77.5214 37.0325 79.5919 37.4366 80.2617 39.5244C81.4797 43.2959 78.9829 45.5858 75.8772 46.192C75.8772 46.9328 76.2426 47.4042 75.999 47.943C74.9028 48.0777 73.2586 48.0104 71.9189 48.0777C71.7362 47.4042 71.7971 46.9328 71.6753 46.192C68.6305 45.5858 65.8292 44.0368 66.8036 40.2652C67.4126 37.8407 69.7266 37.9754 71.5535 36.6957C71.858 36.0896 71.6753 35.6181 71.858 35.214C72.7715 35.214 74.3548 35.4834 75.39 35.3487ZM65.0376 35.3487C65.2812 36.6957 65.2812 37.0325 65.3421 38.2447C64.6113 38.2447 63.8806 38.5815 63.0889 38.7162C62.2972 38.8509 61.2011 38.5815 60.8357 39.3223C60.9575 40.602 62.6017 39.9285 63.5152 40.1979C63.8197 41.2755 63.3934 42.0163 63.3934 43.0265C62.2972 43.1612 61.0184 43.0265 61.0184 44.3735C61.9928 45.047 63.8197 44.4409 64.8549 44.845C64.6722 46.1246 64.3068 46.7307 64.3068 47.943C61.871 48.0777 59.6178 47.943 57.4255 48.0104C57.121 44.0368 57.5473 38.7835 56.8774 35.6181C59.1306 35.6181 62.7235 35.5508 65.0376 35.3487ZM122.95 34.7426C127.152 34.4732 131.05 40.5346 128.37 44.9797C126.421 48.2798 123.377 49.1553 120.149 47.3369C114.79 44.3062 117.287 35.0793 122.95 34.7426ZM130.867 35.4834C134.947 34.6752 140.61 34.6079 140.671 38.9182C140.671 40.0632 140.367 40.804 139.636 41.4775C140.489 41.949 141.524 43.498 141.585 44.9123C141.767 49.1553 133.851 48.4145 131.598 47.8083C131.537 44.2388 130.745 39.9285 130.867 35.4834ZM82.3931 35.4834C86.8386 34.6752 92.4411 35.8202 92.3193 40.4673C92.2584 43.0939 89.8225 44.9797 86.7777 44.9797C86.3514 45.5858 86.9604 47.3369 86.6559 47.8757C85.1944 47.8083 84.0373 47.8757 82.5758 47.943C82.7585 43.7 82.1495 39.3223 82.3931 35.4834ZM107.3 35.2814C107.3 36.2916 106.995 37.908 107.178 38.9856C107.787 39.1876 108.335 38.8509 109.188 38.9182C109.918 40.804 108.944 45.8552 109.736 47.8083C111.197 47.8083 112.232 47.8757 113.45 47.741C113.39 45.4511 112.476 41.3428 113.024 39.1876C114.12 38.9856 114.425 38.9182 115.521 39.0529C115.521 37.908 115.521 36.6957 115.764 35.3487C113.268 35.214 109.736 35.8202 107.3 35.2814ZM153.277 35.6181C154.434 35.0793 156.383 35.3487 157.235 35.8875C156.809 39.0529 156.87 44.5756 157.235 47.741C156.2 47.943 155.53 47.943 154.19 47.8083C153.764 44.3062 153.338 39.0529 153.277 35.6181ZM147.431 39.1203C149.988 39.3897 152.424 39.9958 152.363 43.3633C152.302 47.1348 147.613 49.2227 143.29 47.741C143.168 45.7879 143.229 43.0265 143.168 40.0632C143.168 38.4468 143.107 36.359 143.594 35.2814C145.056 35.4834 145.969 35.3487 147.309 35.4161C147.735 36.2916 146.944 38.2447 147.431 39.1203ZM104.377 35.4834C104.011 38.7835 104.62 44.845 104.499 47.8757C103.463 47.943 101.576 47.8757 100.54 47.8083C100.419 46.9328 100.662 44.7103 100.419 43.9694C99.3833 44.845 98.957 46.6634 98.1654 47.8757C96.5211 47.741 95.1814 48.1451 93.9026 47.8083C94.4507 44.1041 94.268 39.6591 94.0244 35.5508C95.2423 35.214 96.6429 35.6855 97.9827 35.4161C98.2871 36.6957 97.5564 39.1876 97.9827 40.602C99.2615 39.3223 100.114 37.1672 101.027 35.4834C102.185 35.4834 103.159 35.5508 104.377 35.4834ZM37.3296 35.4834C37.0251 38.9856 37.1469 43.6327 37.3296 47.5389C36.3553 48.0104 34.5284 48.0104 33.4931 47.943C32.4579 46.9328 33.3105 44.6429 32.8233 43.1612C31.9098 44.4409 31.1791 46.0573 30.6919 47.8083C29.4131 48.1451 27.8298 47.8083 26.6118 47.6736C27.3426 44.5756 26.3073 37.8407 27.6471 35.214C28.6214 35.5508 30.3265 35.0793 31.1182 35.6855C30.9964 36.6284 31.1182 38.1774 31.1182 39.0529C32.2143 38.4468 32.5188 36.561 33.2496 35.5508C34.6502 35.6181 36.1117 35.6855 37.3296 35.4834ZM54.198 35.6181C53.7108 39.8611 54.3807 42.8245 54.198 48.0104C53.1628 47.8083 51.7012 48.1451 50.7269 48.0104C50.7269 46.7981 50.666 46.1246 50.6051 44.5756C50.1788 43.7 49.2045 44.1715 48.2301 44.1041C47.6821 44.9797 48.2301 46.6634 48.2301 47.8083C47.0731 48.0777 45.2462 47.6063 44.2718 48.0104C44.5154 43.8347 43.8456 38.9856 44.0283 35.2814C45.3071 35.4161 46.7686 35.214 47.743 35.6181C47.5603 36.4263 47.6212 37.9754 47.6212 38.9856C48.291 38.7835 49.9961 39.255 50.666 38.5141C50.7269 37.5039 50.4833 36.2916 50.666 35.4834C51.823 35.4834 53.4063 35.0793 54.198 35.6181ZM0 39.1203C6.08966 39.1876 11.9966 38.4468 17.7209 38.8509C17.8427 40.2652 17.2337 41.1408 17.5991 42.3531C12.4838 43.7 5.4198 42.3531 0.121793 43.7C0.243586 42.4204 0.121793 40.602 0 39.1203ZM147.857 13.999C145.482 14.0664 142.924 14.5378 139.819 14.2011C139.819 15.4807 139.697 16.5583 139.697 17.9053C142.742 17.8379 145.117 18.1073 147.735 17.9053C147.796 16.6257 147.857 15.346 147.857 13.999ZM164.725 9.68869C164.725 11.4398 163.203 13.0562 162.229 13.5276C164.908 14.4705 167.222 16.0195 167.588 19.2523C168.014 22.8218 165.882 25.3811 163.812 26.526C160.523 28.4118 154.251 27.6709 150.597 27.6036C150.415 26.7954 150.476 25.3137 150.536 24.7076C151.085 24.5729 151.754 24.4382 152.302 24.6402C152.851 21.6768 152.729 18.3094 152.729 14.8072C152.729 12.3827 152.851 9.95809 152.729 7.53352C152.059 7.12942 150.841 7.46617 150.171 7.06207C150.171 5.78244 150.232 4.97425 150.11 3.76197C151.572 3.35787 153.155 3.08847 154.617 3.08847C160.828 3.02112 164.725 4.97425 164.725 9.68869ZM158.697 12.9215C161.132 12.1133 161.741 7.80292 158.149 6.79268C158.331 8.7458 158.392 11.3724 158.697 12.9215ZM159.184 24.7076C161.193 24.8423 162.35 21.9462 162.107 19.5217C161.924 17.9053 160.706 15.9522 159.001 16.491C158.818 18.9829 158.818 22.6871 159.184 24.7076ZM213.138 4.23341C218.071 4.83955 224.16 4.6375 229.58 4.43546C229.702 5.37835 229.398 7.12942 229.763 8.00496C229.154 8.61111 227.632 8.07231 226.84 8.47641C226.901 13.797 226.657 19.0502 226.657 23.832C227.266 24.2361 227.997 23.4953 228.484 23.832C228.423 24.5729 228.301 26.2566 228.241 27.0648C226.718 27.1995 224.83 26.9301 222.76 26.9974C222.151 26.9974 219.654 27.1321 219.045 27.2668C218.923 26.3913 218.923 25.6504 219.045 24.7749C219.411 24.7076 220.446 24.9096 220.994 24.7076C220.568 19.3196 221.542 13.999 221.725 8.81315C221.177 8.74581 220.08 8.8805 219.289 8.81315C219.228 11.1704 219.471 13.5949 219.289 16.0195C219.106 18.7808 217.827 22.8218 216.67 24.7076C215.635 26.3239 213.016 28.3444 210.702 26.9301C209.667 26.3239 208.693 24.4382 208.754 23.0238C208.875 20.3299 212.834 18.3094 214.295 20.8687C216.609 18.7135 216.792 12.1133 215.635 8.40906C214.843 8.34171 213.869 8.67846 213.199 8.34171C213.016 7.12942 212.468 5.0416 213.138 4.23341ZM97.6173 4.23341C102.55 4.83955 108.64 4.6375 114.059 4.43546C114.181 5.37835 113.877 7.12942 114.242 8.00496C113.633 8.61111 112.111 8.07231 111.319 8.47641C111.38 13.797 111.136 19.0502 111.136 23.832C111.745 24.2361 112.476 23.4953 112.963 23.832C112.902 24.5729 112.781 26.2566 112.72 27.0648C111.197 27.1995 109.309 26.9301 107.239 26.9974C106.508 26.9974 104.438 27.1321 103.707 27.2668C103.585 26.3913 103.402 25.6504 103.524 24.7749C103.89 24.7076 104.925 24.9096 105.473 24.7076C105.047 19.3196 106.021 13.999 106.204 8.81315C105.656 8.74581 104.56 8.8805 103.768 8.81315C103.707 11.1704 103.951 13.5949 103.768 16.0195C103.585 18.7808 102.306 22.8218 101.149 24.7076C100.114 26.3239 97.4955 28.3444 95.1814 26.9301C94.1462 26.3239 93.1718 24.4382 93.2327 23.0238C93.3545 20.3299 97.3128 18.3094 98.7743 20.8687C101.088 18.7135 101.271 12.1133 100.114 8.40906C99.3224 8.34171 98.348 8.67846 97.6782 8.34171C97.5564 7.12942 97.0083 5.0416 97.6173 4.23341ZM210.215 4.23341C206.196 4.6375 201.385 3.89666 197.183 4.03136C196.087 4.03136 195.052 4.16606 194.017 3.96401C193.895 5.311 193.773 6.52328 193.956 7.66822C194.747 7.87027 195.417 7.66822 196.27 7.66822C197.122 12.1806 196.94 18.7135 194.26 20.936C192.677 18.6461 189.571 20.1952 189.145 22.2156C188.719 24.3035 189.876 26.526 191.337 27.0648C192.921 27.6709 194.686 26.728 195.661 25.9198C197.001 24.7749 197.488 22.9565 198.097 20.936C198.523 19.5217 199.193 18.1073 199.497 16.6257C200.167 13.6623 200.289 11.6418 200.228 9.4193C200.898 9.554 201.568 9.21725 201.994 9.4193C201.994 9.75604 201.324 24.0341 201.202 24.5729C200.715 24.9096 199.924 24.4382 199.436 24.6402C199.376 25.5158 199.193 26.9974 199.436 27.6709C201.02 27.6709 204.004 27.4015 205.343 27.4015C207.109 27.4015 206.988 27.4015 206.927 25.6504C206.866 23.832 206.927 22.1483 206.927 20.5993C206.927 18.7808 206.805 16.9624 206.927 15.0766C207.109 12.3827 207.231 10.2948 207.292 8.27436C208.327 8.00496 209.363 8.27436 210.398 8.07231C210.215 7.12942 210.276 5.24365 210.215 4.23341ZM94.6943 4.23341C90.736 4.6375 85.8642 3.96401 81.7233 4.03136C80.6271 4.03136 79.4092 3.96401 78.5566 3.96401C78.4349 5.311 78.3131 6.52328 78.4957 7.66822C79.2874 7.87027 79.9573 7.66822 80.8098 7.66822C81.6624 12.1806 81.4797 18.7135 78.8002 20.936C77.3387 18.8482 74.2939 19.4543 73.6849 22.2156C73.2586 24.3035 74.4157 26.526 75.8772 27.0648C77.4605 27.6709 79.2265 26.728 80.2009 25.9198C81.5406 24.7749 82.0277 22.9565 82.6367 20.936C83.063 19.5217 83.7329 18.1073 84.0373 16.6257C84.7072 13.6623 84.829 11.6418 84.7681 9.4193C85.438 9.554 86.1078 9.21725 86.5341 9.4193C86.5341 9.75604 85.8642 24.0341 85.7424 24.5729C85.2553 24.9096 84.4636 24.4382 83.9764 24.6402C83.9155 25.5158 83.7329 26.9974 83.9764 27.6709C85.5598 27.6709 88.5437 27.4015 89.8834 27.4015C91.6494 27.4015 91.5276 27.4015 91.4667 25.6504C91.4058 23.832 91.4667 22.1483 91.4667 20.5993C91.4058 18.7808 91.3449 16.9624 91.4667 15.0766C91.6494 12.3827 91.7712 10.2948 91.8321 8.27436C92.8674 8.00496 93.9026 8.27436 94.9378 8.07231C94.6942 7.12942 94.7551 5.24365 94.6943 4.23341ZM191.276 3.76197C191.215 4.7722 191.033 5.78244 191.033 6.86003C190.302 7.39882 188.719 6.92738 187.866 7.33147C187.44 10.9683 187.318 14.6052 187.135 18.3094C187.014 21.2728 187.501 24.5055 187.318 27.2668C185.308 28.075 182.385 27.2668 180.071 27.7383C179.828 26.7954 180.071 25.5158 180.071 24.7076C180.619 24.5055 181.046 24.5729 181.716 24.6402C182.081 21.8115 181.959 18.04 182.142 15.6154C179.95 19.387 178.062 23.0238 176.235 27.2668C173.738 27.7383 171.12 27.5362 168.866 27.6709C168.562 26.9974 168.684 25.8525 168.866 24.977C169.293 24.9096 169.902 25.1117 170.206 24.9096C170.267 19.4543 170.267 14.2684 170.389 8.07231C169.841 7.87027 168.988 8.07231 168.562 7.80292C168.44 6.52328 168.501 5.58039 168.623 4.36811C172.216 4.23341 176.539 3.89666 179.828 4.09871C179.95 5.0416 179.767 6.79268 179.889 7.60087C179.219 8.07231 178.244 7.53352 177.331 7.66822C176.783 11.103 177.148 14.8746 176.905 18.3094C179.341 13.797 181.228 8.67846 183.421 3.89666C185.917 3.55992 189.145 3.62727 191.276 3.76197ZM75.8163 3.76197C75.7554 4.7722 75.5727 5.78244 75.5727 6.86003C74.8419 7.39882 73.2586 6.92738 72.4061 7.33147C71.9798 10.9683 71.858 14.6052 71.6753 18.3094C71.5535 21.2728 72.0407 23.8994 71.858 26.6607C69.8484 27.4689 66.9254 27.2668 64.6113 27.7383C64.3677 26.7954 64.6113 25.5158 64.6113 24.7076C65.1594 24.5055 65.5857 24.5729 66.2555 24.6402C66.6209 21.8115 66.4991 18.04 66.6818 15.6154C64.4895 19.387 62.6017 23.0238 60.7748 27.2668C58.2781 27.7383 55.6595 27.5362 53.4063 27.6709C53.1019 26.9974 53.2236 25.8525 53.4063 24.977C53.8326 24.9096 54.4416 25.1117 54.7461 24.9096C54.807 19.4543 54.807 14.2684 54.9288 8.07231C54.3807 7.87027 53.5281 8.07231 53.1019 7.80292C52.9801 6.52328 53.041 5.58039 53.1628 4.36811C56.7557 4.23341 61.0793 3.89666 64.3677 4.09871C64.4286 5.0416 64.3068 6.79268 64.4286 7.60087C63.7588 8.07231 62.7844 7.53352 61.871 7.66822C61.3229 11.103 61.6883 14.8746 61.4447 18.3094C63.8806 13.797 65.7683 8.67846 67.9606 3.89666C70.3965 3.55992 73.624 3.62727 75.8163 3.76197ZM253.025 3.62727C253.025 4.36811 252.782 5.51304 252.843 6.65798C252.356 7.12942 251.259 6.79268 250.529 7.06207C250.468 12.45 250.042 18.7808 250.285 23.8994C251.077 24.1014 251.929 23.9667 252.599 24.1014C252.782 24.977 252.356 26.3239 252.599 26.9974C249.433 27.4689 245.109 27.3342 242.125 28.2771C242.125 27.3342 242.064 25.5831 242.125 24.5729C242.551 24.3035 243.404 24.6402 243.769 24.3708C244.135 20.8687 243.708 17.9726 243.83 14.5378C243.83 14.5378 241.516 18.3094 241.394 18.6461C239.994 21.4075 239.141 24.5729 237.68 27.4015C235.731 26.9974 232.869 27.1995 230.616 27.3342C230.372 26.5933 230.311 25.3137 230.433 24.5055C230.859 24.3035 231.529 24.6402 232.199 24.5055C232.382 19.387 232.321 13.797 232.199 8.54376C231.712 8.34171 230.92 8.54376 230.616 8.13966C230.616 7.19677 230.555 5.51304 230.676 4.43546C233.843 4.16606 237.619 3.96401 240.724 3.96401C240.663 5.1763 240.42 6.45593 240.663 7.66822C240.237 8.07231 239.324 7.93761 238.532 7.93761C238.288 11.103 238.593 15.4134 238.593 18.4441C240.907 13.8643 242.856 9.0152 244.683 3.96401C246.997 3.49257 250.468 3.82931 253.025 3.62727ZM137.505 3.62727C137.505 4.36811 137.261 5.51304 137.322 6.65798C136.835 7.12942 135.739 6.79268 135.008 7.06207C134.947 12.45 134.521 18.7808 134.764 23.8994C135.556 24.1014 136.408 23.9667 137.078 24.1014C137.261 24.977 136.835 26.3239 137.078 26.9974C133.912 27.4689 129.588 27.6036 126.604 27.8056C126.604 26.8627 126.543 25.5157 126.604 24.5729C127.03 24.3035 127.883 24.6402 128.248 24.3708C128.614 20.8687 128.187 17.9726 128.309 14.5378C128.309 14.5378 125.995 18.3094 125.873 18.6461C124.473 21.4075 123.62 24.5729 122.159 27.4015C120.21 26.9974 117.348 27.1995 115.095 27.3342C114.851 26.5933 114.79 25.3137 114.912 24.5055C115.338 24.3035 116.008 24.6402 116.678 24.5055C116.861 19.387 116.8 13.797 116.678 8.54376C116.191 8.34171 115.399 8.54376 115.095 8.13966C115.095 7.19677 115.034 5.51304 115.156 4.43546C118.322 4.16606 122.098 3.96401 125.203 3.96401C125.143 5.1763 124.899 6.45593 125.143 7.66822C124.716 8.07231 123.803 7.93761 123.011 7.93761C122.768 11.103 123.072 15.4134 123.072 18.4441C125.386 13.8643 127.335 9.0152 129.162 3.96401C131.476 3.49257 134.947 3.82931 137.505 3.62727ZM27.9516 4.23341C35.2591 4.09871 43.9065 4.30076 51.275 3.76197C51.0923 5.1763 51.0923 6.45593 51.275 7.87027C50.6051 8.27436 49.4481 7.87027 48.8391 8.13966C47.8647 13.1909 48.3519 19.1176 48.4737 24.5729C49.2654 25.1117 50.5442 24.4382 51.0923 24.8423C50.7878 25.7852 51.1532 26.9301 51.0923 27.7383C48.291 28.3444 43.3584 27.8056 40.07 28.1424C39.7655 27.3342 40.0091 25.5157 39.8873 24.4382C40.3136 24.2361 41.0443 24.3708 41.5315 24.3708C41.3488 19.387 41.3488 13.3255 41.5315 8.20701C39.7046 8.07231 37.7559 8.13966 35.8072 8.40906C35.0765 13.3929 35.9899 19.4543 35.6245 24.7749C36.2944 25.1117 37.2078 24.3708 37.9386 24.7076C37.6341 25.6505 37.6341 27.1321 37.5123 28.0077C34.772 27.6709 30.9964 28.3444 28.0733 27.9403C27.9515 26.9974 27.9515 25.3811 28.0733 24.4382C28.7432 24.4382 29.2913 24.6402 29.8393 24.4382C30.022 19.7237 29.7176 13.5949 30.022 8.94785C29.5349 8.54376 28.6823 9.0152 28.0733 8.7458C27.9515 7.39882 27.708 5.71509 27.9516 4.23341Z"/>
                    <path d="M313.252 22.6197C313.252 20.1278 312.765 17.5686 312.948 15.346C314.47 15.144 316.297 15.0766 317.88 15.144C317.88 17.6359 317.089 20.5319 318.002 22.6871C319.098 23.2259 321.352 23.0238 322.63 22.8891C324.092 19.9931 324.396 14.8746 323.483 11.6418C322.63 8.61111 321.047 6.05184 319.098 3.96402C316.845 1.60679 313.8 -0.54838 310.207 0.125112C302.595 1.60679 299.733 5.1763 296.688 12.1806C295.714 11.103 294.435 9.89074 293.217 8.94785C291.999 8.00497 290.538 7.06208 289.137 6.38859C287.676 5.71509 286.153 5.4457 284.692 5.37835C276.349 5.24365 267.154 14.3358 267.458 23.9667C267.519 25.7852 267.823 27.4689 268.189 29.0853C269.163 32.9915 271.599 37.6386 273.974 39.7264C277.445 42.8245 281.769 44.4409 285.605 46.7981C289.624 49.2227 293.4 51.5799 296.201 55.1494C296.749 55.8902 297.724 58.2475 298.82 58.1801C299.916 58.1128 300.099 56.1596 300.525 55.2841C302.23 51.5799 304.909 48.2798 307.528 45.7879C309.05 44.3735 310.695 43.3633 312.339 42.0837C313.13 41.4775 313.739 40.5346 314.531 39.8611C317.82 37.0325 320.682 33.5303 321.473 28.0077C320.56 27.6036 319.22 27.7383 318.002 27.6709C317.211 29.422 317.941 32.116 317.15 33.7997C315.688 33.5303 314.409 34.0691 313.07 33.7997C312.521 32.116 313.435 29.6914 313.07 27.873C311.486 27.3342 309.233 28.0077 307.65 27.7383C307.284 26.3239 307.102 24.5729 307.102 23.3606C309.172 23.2932 311.06 22.7544 313.252 22.6197ZM294.983 17.0971C300.342 16.491 303.387 23.3606 300.464 28.075C301.012 29.1526 302.23 29.422 303.083 30.1628C304.361 31.3078 305.701 33.3956 306.066 35.0793C306.675 37.7733 304.788 40.9387 303.143 42.2184C301.743 43.2959 299.002 44.2388 296.384 43.9021C293.035 43.498 289.624 41.4102 288.894 38.4468C287.858 33.9344 290.112 31.2404 292.547 29.5567C291.938 28.8159 291.147 28.4118 290.66 27.5362C289.685 25.9199 289.259 22.6871 290.051 20.4646C290.721 18.7808 293.217 17.2992 294.983 17.0971ZM295.775 32.3854C296.688 33.1262 299.794 34.8773 299.611 37.2345C299.49 39.255 296.749 40.1979 295.044 39.255C292.304 37.706 293.704 32.6548 295.775 32.3854ZM296.628 26.3913C295.166 26.526 293.217 23.0912 295.47 22.485C297.967 21.7442 298.637 26.1892 296.628 26.3913ZM286.214 35.214C286.214 36.7631 286.519 38.3121 286.092 39.6591C285.24 39.7938 284.205 39.5244 283.352 39.1876C282.682 38.9182 281.464 38.3794 281.16 37.908C280.855 37.3692 280.794 35.7528 280.794 34.8773C280.794 33.1936 281.099 31.1057 281.16 29.5567C281.221 27.9403 281.221 26.1892 280.794 25.0443C279.576 24.8423 279.089 26.1892 277.81 26.2566C276.592 23.8994 278.541 23.2932 280.368 22.1483C282.012 21.1381 282.743 20.1952 284.022 19.4543C284.265 19.3196 284.753 19.1849 285.118 19.589C285.971 24.1014 286.275 29.6914 286.214 35.214Z"/>
                </svg>
            </div>
        </div>
        <p class="p--l">Создатели магазина Есения Шамонина и&nbsp;Дмитрий Войдаков являются экспертами в&nbsp;области
            секс-товаров, поэтому магазин &laquo;Шпи-Ви&raquo;&nbsp;&mdash; это попытка создать что-то современное и&nbsp;максимально
            удобное для клиентов. Концепция сайта&nbsp;&mdash; это соединение преимуществ покупки игрушек онлайн
            (удобная доставка, приятная цена) и&nbsp;офлайн (консультации продавцов, возможность рассмотреть товар в&nbsp;деталях).</p>
        <p class="p--l">Все продающиеся на&nbsp;сайте товары&nbsp;&mdash; это личный выбор владельцев магазина. Мы&nbsp;не&nbsp;загружаем
            все, что можно, да&nbsp;побольше&nbsp;&mdash; мы&nbsp;продаем только интересные и&nbsp;качественные модели.
            Описания у&nbsp;всех наших товаров&nbsp;&mdash; это не&nbsp;копипаста с&nbsp;других сайтов, это
            действительно правдивая и&nbsp;проверенная информация.</p>
        <div class="about-us-founders">
            <div class="about-us-founder">
                <div class="about-us-founder__image">
                    <img
                        src="assets/images/about/image-0.png"
                        srcset="assets/images/about/image-0.png 1x, assets/images/about/image-0-2x.png 2x"
                        alt="">
                </div>
                <div class="about-us-founder__details">
                    <div class="about-us-founder__headline h2">Есения Шамонина</div>
                    <div class="about-us-founder__text">
                        <p>Создатель бренда &laquo;Презервативная&raquo; (с&nbsp;2011&nbsp;года), в&nbsp;прошлом&nbsp;&mdash;
                            бренд-менеджер оптовой компании секс-товаров, тренер консультантов секс-шопов по&nbsp;всей
                            России, автор книги о&nbsp;секс-игрушках, создатель системы тестов на&nbsp;этом сайте,
                            видео-блогер по&nbsp;теме выбора секс-игрушек.</p>
                    </div>
                </div>
            </div>
            <div class="about-us-founder">
                <div class="about-us-founder__image">
                    <img
                            src="assets/images/about/image-0.png"
                            srcset="assets/images/about/image-0.png 1x, assets/images/about/image-0-2x.png 2x"
                            alt="">
                </div>
                <div class="about-us-founder__details">
                    <div class="about-us-founder__headline h2">Дмитрий Войдаков </div>
                    <div class="about-us-founder__text">
                        <p>На&nbsp;протяжении многих лет работал топ-менеджером в&nbsp;банках и&nbsp;страховых
                            компаниях, поэтому умеет очень хорошо выстраивать все операционные процессы. Благодаря этому
                            вам будет максимально комфортно как на&nbsp;этапе выбора покупки, так и&nbsp;на&nbsp;этапе
                            доставки.</p>
                    </div>
                </div>
            </div>
            <div class="about-us-founder">
                <div class="about-us-founder__image">
                    <img
                            src="assets/images/about/image-2.png"
                            srcset="assets/images/about/image-2.png 1x, assets/images/about/image-2-2x.png 2x"
                            alt="">
                </div>
                <div class="about-us-founder__details">
                    <div class="about-us-founder__headline h2">Команда «Шпи-Ви»</div>
                    <div class="about-us-founder__text">
                        <p>Команда действительно любящих свое дело людей. Которые стараются принимать участие во всех
                            тренингах от брендов, следят за модой в мире секс-игрушек, регулярно читают обзоры
                            на новинки и занимаются постоянным самообразованием в этой области. Они, конечно, не
                            сексологи, но могут подсказать, как улучшить интимную жизнь практически в любой
                            ситуации!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-us__desc">
            <p>Мы&nbsp;очень любим свое дело и&nbsp;искренне хотим помочь своим клиентам в&nbsp;выборе девайсов для
                секса, ведь мы&nbsp;уверены, что игрушки&nbsp;&mdash; это путь к&nbsp;тому, чтобы стать счастливым.</p>
        </div>
        {% include '../includes/h-thumbs-gallery.twig' %}
    </div>
{% endblock %}