{% extends '../../templates/template-parts/page-template.twig' %}
{% set pageMod = 'page--profile' %}
{% set headerless = true %}
{% set breadcrumbs = {
    links : [
        {
            url  : './profile.html',
            link : 'Личный кабинет',
        }
    ],
    last : 'Мои адреса'
} %}

{% block content %}
    <div class="profile-page grid">
        <div class="profile-page__aside grid-col grid-col--3 grid-col--sl-4  grid-col--m-12 grid-col--s-12">
            {% include '../template-parts/aside-navigation.twig' %}
        </div>
        <div class="profile-page__body grid-col grid-col--9 grid-col--sl-8  grid-col--m-12 grid-col--s-12">
            <div class="block-underlay">
                <header class="block-underlay__header">
                    {% include '../includes/breadcrumbs.twig' with { array : breadcrumbs } %}
                    <h1 class="block-underlay__headline">Мои адреса</h1>
                </header>
                <div class="address-array js-accordions-collapsible">
                    <div class="address-element js-accordion">
                        <button class="address-element__button js-accordion-button" type="button">Люсиновская улица, д.&nbsp;29, строение&nbsp;1, кв.&nbsp;6</button>
                        <div class="address-element__body _hide js-accordion-body">
                            <form action="/" method="POST" class="form js-form">
                                <div class="form__row">
                                    {% include '../elements/input.twig' with {
                                        name  : 'USER_CITY',
                                        label : 'Город',
                                        type  : 'text',
                                    } %}
                                </div>
                                <div class="form__row">
                                    {% include '../elements/input.twig' with {
                                        name  : 'USER_ADDRESS',
                                        label : 'Адрес',
                                        type  : 'text',
                                    } %}
                                </div>
                                <div class="form__row">
                                    <div class="form__address-group">
                                        {% include '../elements/input.twig' with {
                                            inputMod : 'input--s',
                                            name     : 'userApt',
                                            label    : 'Квартира',
                                            type     : 'text',
                                        } %}
                                        {% include '../elements/input.twig' with {
                                            inputMod : 'input--s',
                                            name     : 'userHouse',
                                            label    : 'Подъезд',
                                            type     : 'text',
                                        } %}
                                        {% include '../elements/input.twig' with {
                                            inputMod : 'input--s',
                                            name     : 'userFloor',
                                            label    : 'Этаж',
                                            type     : 'text',
                                        } %}
                                    </div>
                                </div>
                                <div class="form__row">
                                    {% include '../elements/input.twig' with {
                                        textarea : true,
                                        name     : 'comment',
                                        label    : 'Домофон и другая информация',
                                    } %}
                                </div>
                                <div class="form__row form__row--controls">
                                    <button class="button button--m button--gradient button--500" type="submit">Обновить</button>
                                    <button class="button button--m button--grey button--500" type="button">Удалить адрес</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="address-element js-accordion">
                        <button class="address-element__button js-accordion-button" type="button">Проспект Мира, д.&nbsp;64</button>
                        <div class="address-element__body _hide js-accordion-body">
                            <form action="/" method="POST" class="form js-form">
                                <div class="form__row">
                                    {% include '../elements/input.twig' with {
                                        name  : 'USER_CITY',
                                        label : 'Город',
                                        type  : 'text',
                                    } %}
                                </div>
                                <div class="form__row">
                                    {% include '../elements/input.twig' with {
                                        name  : 'USER_ADDRESS',
                                        label : 'Адрес',
                                        type  : 'text',
                                    } %}
                                </div>
                                <div class="form__row">
                                    <div class="form__address-group">
                                        {% include '../elements/input.twig' with {
                                            inputMod : 'input--s',
                                            name     : 'userApt',
                                            label    : 'Квартира',
                                            type     : 'text',
                                        } %}
                                        {% include '../elements/input.twig' with {
                                            inputMod : 'input--s',
                                            name     : 'userHouse',
                                            label    : 'Подъезд',
                                            type     : 'text',
                                        } %}
                                        {% include '../elements/input.twig' with {
                                            inputMod : 'input--s',
                                            name     : 'userFloor',
                                            label    : 'Этаж',
                                            type     : 'text',
                                        } %}
                                    </div>
                                </div>
                                <div class="form__row">
                                    {% include '../elements/input.twig' with {
                                        textarea : true,
                                        name     : 'comment',
                                        label    : 'Домофон и другая информация',
                                    } %}
                                </div>
                                <div class="form__row form__row--controls">
                                    <button class="button button--m button--gradient button--500" type="submit">Обновить</button>
                                    <button class="button button--m button--grey button--500" type="button">Удалить адрес</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="address-array__control">
                        <a href="./address-add.html" class="button button--m button--grey button--500">Добавить адрес</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}