{% extends '../../templates/template-parts/page-template.twig' %}
{% set pageMod = 'page--profile' %}
{% set headerless = true %}
{% set breadcrumbs = {
    links : [
        {
            url  : './profile.twig',
            link : 'Личный кабинет',
        }
    ],
    last : 'Мои адреса'
} %}

{% block content %}
    <div class="profile-page grid">
        <div class="profile-page__aside grid-col grid-col--3 grid-col--sl-4  grid-col--m-12 grid-col--s-12">
            {% include '../template-parts/aside-navigation.twig' %}
        </div>
        <div class="profile-page__body grid-col grid-col--9 grid-col--sl-8  grid-col--m-12 grid-col--s-12">
            <div class="block-underlay">
                <header class="block-underlay__header">
                    {% include '../includes/breadcrumbs.twig' with { array : breadcrumbs } %}
                    <h1 class="block-underlay__headline">Мои адреса</h1>
                </header>
                <form action="/" method="POST" class="form js-form">
                    <div class="form__row">
                        {% include '../elements/input.twig' with {
                            name  : 'USER_CITY',
                            label : 'Город',
                            type  : 'text',
                        } %}
                    </div>
                    <div class="form__row">
                        {% include '../elements/input.twig' with {
                            name  : 'USER_ADDRESS',
                            label : 'Адрес',
                            type  : 'text',
                        } %}
                    </div>
                    <div class="form__row">
                        <div class="form__address-group">
                            {% include '../elements/input.twig' with {
                                inputMod : 'input--s',
                                name     : 'userApt',
                                label    : 'Квартира',
                                type     : 'text',
                            } %}
                            {% include '../elements/input.twig' with {
                                inputMod : 'input--s',
                                name     : 'userHouse',
                                label    : 'Подъезд',
                                type     : 'text',
                            } %}
                            {% include '../elements/input.twig' with {
                                inputMod : 'input--s',
                                name     : 'userFloor',
                                label    : 'Этаж',
                                type     : 'text',
                            } %}
                        </div>
                    </div>
                    <div class="form__row">
                        {% include '../elements/input.twig' with {
                            textarea : true,
                            name     : 'comment',
                            label    : 'Домофон и другая информация',
                        } %}
                    </div>
                    <div class="form__row form__row--controls">
                        <button class="button button--m button--gradient button--500" type="submit">Добавить адрес</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}