{% extends '../../templates/template-parts/page-template.twig' %}
{% set breadcrumbs = {
    links : [
        {
            url  : './home.html',
            link : 'Главная',
        }
    ],
    last : 'Полная анонимность'
} %}
{% set array = [
    {
        text     : 'Мы&nbsp;заботимся о&nbsp;том, чтобы вам было максимально комфортно совершать покупки у&nbsp;нас на&nbsp;сайте.',
    },
    {
        icon     : '<svg class="i _icon-0" viewBox="0 0 91 91" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M70.9917 83.8244C62.9908 81.5449 62.4859 72.8226 63.4119 68.7464C63.7925 67.071 64.992 64.1418 68.3996 66.0593M70.9917 83.8244H83.7709M70.9917 83.8244C70.7139 85.2887 69.558 89.8975 72.6884 89.8975H82.6892C84.3153 89.8975 84.5488 86.9587 83.7709 83.8244M83.7709 83.8244C86.2249 83.1912 90.8551 79.2891 89.7438 68.7464C89.7438 65.6112 88.2731 64.0949 85.1616 64.4748M85.1995 68.7464C85.672 65.3517 84.9906 59.3263 79.8745 61.7604M80.222 67.071C80.655 63.5706 80.1208 57.1999 74.52 59.7202M74.52 64.7517V51.6381C74.5043 50.6942 73.8408 48.8325 71.3126 48.9371C70.2761 48.8644 68.2338 49.303 68.3562 51.6381C68.4785 53.9733 68.4072 66.3782 68.3562 72.2888" stroke="#9E42DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <path d="M9.24424 44.7467C14.3617 49.8326 9.59135 63.3105 6.56653 69.4136H37.3603L39.7405 60.1317C45.2149 60.9455 51.1455 60.4708 53.4266 60.1317C56.7588 59.8266 56.6993 57.5464 56.253 56.4444C55.0629 54.7152 55.7572 53.0114 56.253 52.3756C58.5096 52.3756 59.1787 51.4432 59.2283 51.1042C57.1844 49.4513 59.2283 48.8849 59.2283 47.9254C56.253 46.1475 58.2861 43.7719 59.2283 42.458C66.8449 42.7632 61.4101 36.7363 57.7407 33.6847C55.8365 31.2435 55.9555 28.2597 56.253 27.073C57.6812 23.9197 54.9638 17.0282 53.4266 13.9766C60.8052 9.6027 58.3853 4.10138 56.253 1.89746C50.0645 4.7456 43.3603 4.77953 40.7818 4.44047C29.9519 3.0164 19.9055 5.03384 16.2361 6.22056C-5.78072 16.4942 2.40119 36.1853 9.24424 44.7467Z" stroke="#757575" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <path d="M25.0197 4.2991V24.4085M32.8979 4.2991V23.4355" stroke="#757575" stroke-width="2"/> <path d="M38.8315 31.9524C38.8315 36.8385 34.8713 40.7991 29.9865 40.7991C25.1017 40.7991 21.1415 36.8385 21.1415 31.9524C21.1415 27.0663 25.1017 23.1057 29.9865 23.1057C34.8713 23.1057 38.8315 27.0663 38.8315 31.9524Z" stroke="#757575" stroke-width="2"/> <path d="M35.8651 38.3044L44.6127 44.448" stroke="#757575" stroke-width="2"/> <rect x="-0.148584" y="-1.29407" width="6.55126" height="5.02188" rx="2.51094" transform="matrix(0.828173 0.560473 -0.679589 0.733593 45.7614 44.175)" stroke="#757575" stroke-width="2"/> </svg>',
        headline : 'Не&nbsp;говорим, что звоним из&nbsp;секс-шопа, не&nbsp;перечисляем заказанные товары',
        text     : 'Когда мы&nbsp;звоним по&nbsp;телефону для подтверждения заказа, мы&nbsp;не&nbsp;говорим, что звоним из&nbsp;секс-шопа, а&nbsp;также не&nbsp;перечисляем заказанные товары. Однако, если у&nbsp;вас есть какие-то вопросы&nbsp;&mdash; мы&nbsp;с&nbsp;радостью проконсультируем и&nbsp;в&nbsp;деталях расскажем про заказанные товары, а&nbsp;также поможем подобрать что-то еще, если у&nbsp;вас будет такое желание.',
    },
    {
        icon     : '<svg class="i _icon-1" viewBox="0 0 89 90" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M26.5784 88.2293L26.8547 76.586L46.0906 77.1756C50.5306 76.3144 48.8161 68.508 45.1845 68.3967C40.9058 67.9585 32.1259 67.0753 31.2349 67.048C30.1213 67.0139 28.92 66.4013 28.6818 63.6305C28.4913 61.4139 26.9054 51.6777 26.1363 47.0867C25.057 40.6443 20.9698 39.9428 18.603 40.0622L6.53064 40.7284C1.38974 41.2805 1.75373 49.9031 1.66351 53.7059L1.61986 87.4643" stroke="#757575" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <path d="M28.1526 15.7209C27.7748 15.8832 27.5348 16.2601 27.5476 16.6711C27.8054 24.9132 21.7046 31.3821 14.6957 31.3821C7.71438 31.3821 1.84418 24.9058 1.84418 16.6398C1.84418 8.37376 7.71438 1.89746 14.6957 1.89746C17.4406 1.89746 19.9934 2.88526 22.0956 4.58773C22.2901 4.74525 22.5366 4.8241 22.7864 4.80872L34.6123 4.08041C34.6566 5.58551 34.5744 7.58416 34.2056 9.44326C33.8241 11.3663 33.1748 12.9357 32.2389 13.763C30.9795 14.8763 30.2285 15.223 29.7615 15.3615C29.5249 15.4316 29.3314 15.4582 29.0932 15.4909L29.0753 15.4934L29.0614 15.4953C28.8309 15.5269 28.498 15.5726 28.1526 15.7209Z" stroke="#757575" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <rect x="37.5145" y="11.5332" width="50.3296" height="45.3311" rx="5" stroke="#757575" stroke-width="2"/> <path d="M65.063 22.9259C55.5426 17.5617 49.7198 29.4984 46.1396 34.8282C47.2322 36.0317 46.9709 36.61 49.3107 38.0313M74.9082 30.3854C76.4041 31.8181 77.8878 32.9485 79.2191 34.8282C75.5548 39.2601 68.4828 48.7467 59.6482 44.6204" stroke="#9E42DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <line x1="1" y1="-1" x2="30.4242" y2="-1" transform="matrix(0.745191 -0.666851 0.56949 0.821998 51.636 45.3334)" stroke="#9E42DC" stroke-width="2" stroke-linecap="round"/> <path d="M69.384 33.8664C69.384 37.5854 67.3508 39.5231 64.0785 39.5231M55.1084 33.8664C55.1084 30.1474 57.8554 28.2001 61.1277 28.2001" stroke="#9E42DC" stroke-width="2" stroke-linecap="round"/> <path d="M8.85876 50.9477L8.51345 87.6755" stroke="#757575" stroke-width="2" stroke-linecap="round"/> </svg>',
        headline : 'При курьерской доставке по&nbsp;Москве вам не&nbsp;надо указывать полное ФИО',
        text     : 'При курьерской доставке по Москве вам не надо указывать полное ФИО, а ваш номер телефона и почта нужны только для подтверждения и оформления заказа. Курьер получает запечатанный непрозрачный пакет и не знает, что в нем находится. Также в бумажном чеке указаны только артикулы товаров, без конкретных названий.',
    },
    {
        icon     : '<svg class="i _icon-2" viewBox="0 0 90 88" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M49.1209 24.6848C49.1209 37.7674 38.5358 48.3697 25.4825 48.3697C12.4292 48.3697 1.84412 37.7674 1.84412 24.6848C1.84412 11.6023 12.4292 1 25.4825 1C38.5358 1 49.1209 11.6023 49.1209 24.6848Z" stroke="#9E42DC" stroke-width="2"/> <path d="M31.042 78.9436C31.042 83.3948 27.4409 87 23.0026 87C18.5644 87 14.9633 83.3948 14.9633 78.9436C14.9633 74.4924 18.5644 70.8871 23.0026 70.8871C27.4409 70.8871 31.042 74.4924 31.042 78.9436Z" stroke="#757575" stroke-width="2"/> <path d="M80.6387 78.9436C80.6387 83.3948 77.0376 87 72.5993 87C68.1611 87 64.5599 83.3948 64.5599 78.9436C64.5599 74.4924 68.1611 70.8871 72.5993 70.8871C77.0376 70.8871 80.6387 74.4924 80.6387 78.9436Z" stroke="#757575" stroke-width="2"/> <path d="M58.0649 80.306H36.4111M58.0649 80.306H59.1693M58.0649 80.306V45.316M53.344 32.9219H56.0649C57.1694 32.9219 58.0649 33.8173 58.0649 34.9219V45.316M7.0882 46.8433L7.08822 78.306C7.08822 79.4105 7.98365 80.306 9.08822 80.306H9.57495M85.835 80.306H86.8441C87.9487 80.306 88.8441 79.4105 88.8441 78.306V63.1093C88.8441 62.7788 88.7622 62.4534 88.6057 62.1622L80.1148 46.3689C79.7662 45.7205 79.0895 45.316 78.3533 45.316H58.0649" stroke="#757575" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <path d="M65.3145 62.4672V51.6396H75.5261L79.8487 62.4672H65.3145Z" stroke="#757575" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <rect x="17.2192" y="21.0388" width="17.25" height="14.5311" rx="1" stroke="#9E42DC" stroke-width="2"/> <path d="M31.5677 20.0388V18.1166C31.5677 14.9556 29.0052 12.3931 25.8442 12.3931V12.3931C22.6833 12.3931 20.1208 14.9556 20.1208 18.1166V20.0388" stroke="#9E42DC" stroke-width="2"/> <line x1="17.2192" y1="61.4671" x2="21.6889" y2="61.4671" stroke="#757575" stroke-width="2" stroke-linecap="round"/> <line x1="31.3493" y1="61.4671" x2="35.819" y2="61.4671" stroke="#757575" stroke-width="2" stroke-linecap="round"/> <line x1="44.6512" y1="61.4671" x2="49.1209" y2="61.4671" stroke="#757575" stroke-width="2" stroke-linecap="round"/> </svg>',
        headline : 'Никто из сотрудников транспортных компаний никогда не узнает, что лежит внутри посылки',
        text     : 'При доставке СДЭК, Boxberry или Почтой России вам необходимо указать свое полное ФИО для получения заказа. Однако, никто из&nbsp;сотрудников транспортных компаний никогда не&nbsp;узнает, что лежит внутри посылки&nbsp;&mdash; она запечатанная, и&nbsp;бумажный чек лежит внутри.',
    },
    {
        icon     : '<svg class="i _icon-3" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M69.954 33.8568V15.8182C69.954 15.2731 69.7315 14.7516 69.338 14.3744L55.9644 1.55613C55.5921 1.19925 55.0963 1 54.5805 1H3.13959C2.03502 1 1.13959 1.89543 1.13959 3V87C1.13959 88.1046 2.03502 89 3.13959 89H67.954C69.0586 89 69.954 88.1046 69.954 87V84.5964" stroke="#757575" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <path d="M55.144 1.12576V15.1031H69.9941" stroke="#757575" stroke-width="2" stroke-linejoin="round"/> <line x1="13.187" y1="12.0748" x2="29.3883" y2="12.0748" stroke="#757575" stroke-width="2" stroke-linecap="round"/> <path d="M13.6501 18.137H42.0877" stroke="#757575" stroke-width="2" stroke-linecap="round"/> <line x1="13.1169" y1="33.2745" x2="57.9771" y2="33.2745" stroke="#757575" stroke-width="2" stroke-linecap="round"/> <line x1="1" y1="-1" x2="36.3874" y2="-1" transform="matrix(1 0.000755425 -0.000759645 1 12.1169 43.0371)" stroke="#757575" stroke-width="2" stroke-linecap="round"/> <line x1="1" y1="-1" x2="31.8522" y2="-1" transform="matrix(1 0.000755425 -0.000759645 1 12.1169 51.8279)" stroke="#757575" stroke-width="2" stroke-linecap="round"/> <line x1="1" y1="-1" x2="31.2853" y2="-1" transform="matrix(1 0.000755425 -0.000759645 1 12.1169 60.6154)" stroke="#757575" stroke-width="2" stroke-linecap="round"/> <line x1="1" y1="-1" x2="28.1673" y2="-1" transform="matrix(1 0.000755425 -0.000759645 1 12.1169 69.9433)" stroke="#757575" stroke-width="2" stroke-linecap="round"/> <path d="M88.1396 58.9749C88.1396 69.7727 79.3611 78.5308 68.5264 78.5308C57.6917 78.5308 48.9131 69.7727 48.9131 58.9749C48.9131 48.1772 57.6917 39.4191 68.5264 39.4191C79.3611 39.4191 88.1396 48.1772 88.1396 58.9749Z" stroke="#9E42DC" stroke-width="2"/> <path d="M57.1537 43.8669L79.8993 74.0831" stroke="#9E42DC" stroke-width="2"/> </svg>',
        headline : 'Бережно храним персональные данные и никогда не передаем их третьим лицам',
        text     : 'Мы очень бережно храним ваши персональные данные и историю заказов и никогда не передадим их третьим лицам, к тому же в случае необходимости вы можете сами удалить свой аккаунт.',
    },
]%}

{% block headline %}Полная анонимность{% endblock %}
{% block content %}
    <div class="block-underlay">
        {% for i in array %}
            {% include '../elements/anonymous-element.twig' with {
                icon     : i.icon,
                headline : i.headline,
                text     : i.text,
            }%}
        {% endfor %}
    </div>
{% endblock %}