{% extends '../../templates/template-parts/page-template.twig' %}
{% set breadcrumbs = {
    links : [
        {
            url  : './home.html',
            link : 'Главная',
        },
        {
            url  : './articles.html',
            link : 'Статьи',
        },
    ],
    last : 'У&nbsp;нас открылся новый шоурум!'
} %}
{% set products = [
    {
        image : 0,
        label : {
            mod   : 'product-label--green',
            value : 'Новинка',
        },
        price : '10&thinsp;200',
        discount : {
        price   : '12&thinsp;600',
        percent : '-5%'
    },
        headline : 'Вибратор Volta с раздвоенным кончиком',
        vendor   : 'Арт. BI-210203'
    },
    {
        image : 1,
        price : '6&thinsp;100',
        headline : 'Вибростимулятор Cookie',
        rating : {width : 100, description: '4 отзыва'}
    },
    {
        image : 2,
        price : '16&thinsp;900',
        headline : 'Вибратор для пар We-Vibe Sync',
        rating : {width : 93, description: '3 отзыва'}
    },
    {
        image : 8,
        label : {
            mod   : 'product-label--green',
            value : 'Новинка',
        },
        price : '1&thinsp;376',
        headline : 'Продлевающий гель-лубрикант',
        vendor : 'Арт. BI-210203'
    },
] %}


{% block headline %}У&nbsp;нас открылся новый шоурум!{% endblock %}
{% block content %}
    <div class="news-page block-underlay">
        <div class="news-page__body">
            <figure>
                <img
                        src="assets/images/news/image-14.jpg"
                        srcset="assets/images/news/image-14.jpg 1x, assets/images/news/image-14-2x.jpg 2x"
                        alt="">
            </figure>
            <p>Он&nbsp;очень мне понравился! Серьезно, это лучшая игрушка из&nbsp;всех, что у&nbsp;меня были&nbsp;&mdash;
                список не&nbsp;то&nbsp;что&nbsp;бы длинный, но&nbsp;тем не&nbsp;менее. Ощущение давления и&nbsp;вибрация&nbsp;&mdash;
                рецепт скоростного оргазма. Первого, второго, третьего&nbsp;&mdash; по&nbsp;желанию.</p>
            <ul>
                <li>Тихий&nbsp;&mdash; жужжание не&nbsp;отвлекает от&nbsp;процесса и&nbsp;не&nbsp;обращает на&nbsp;себя много внимания.</li>
                <li>На&nbsp;дистанционном управлении&nbsp;&mdash; не&nbsp;приходится прерываться и&nbsp;искать на&nbsp;нем кнопочку чтобы переключать.</li>
                <li>Большой разброс режимов&nbsp;&mdash; может вибрировать как весьма деликатно, так и&nbsp;крайне интенсивно и&nbsp;есть из&nbsp;чего выбирать.</li>
                <li>Универсальное использование&nbsp;&mdash; кроме как &laquo;по&nbsp;инструкции&raquo; его можно круто использовать, обхватывая член и&nbsp;развлекаясь так.</li>
            </ul>
            <p><b>We-vibe Unite</b>&nbsp;&mdash; девайс для парного секса. Впрочем, нет никаких
                противопоказаний и&nbsp;для его соло использования, кто&nbsp;ж вас остановит: причем, как для мужчины, так и&nbsp;для
                женщины. По&nbsp;задуманному авторами использованию крупная часть штучки находится снаружи, хвостик внутри
                влагалища: создает дополнительное давление и&nbsp;вибрацию. Но&nbsp;еще его можно использовать как эдакое
                вибрирующее &laquo;кольцо&raquo; для мужчины: we&nbsp;vibe достаточно гибкий чтобы создавать обхват.</p>
            <ol>
                <li>Тихий&nbsp;&mdash; жужжание не&nbsp;отвлекает от&nbsp;процесса и&nbsp;не&nbsp;обращает на&nbsp;себя много внимания.</li>
                <li>На&nbsp;дистанционном управлении&nbsp;&mdash; не&nbsp;приходится прерываться и&nbsp;искать на&nbsp;нем кнопочку чтобы переключать.</li>
                <li>Большой разброс режимов&nbsp;&mdash; может вибрировать как весьма деликатно, так и&nbsp;крайне интенсивно и&nbsp;есть из&nbsp;чего выбирать.</li>
                <li>Универсальное использование&nbsp;&mdash; кроме как &laquo;по&nbsp;инструкции&raquo; его можно круто использовать, обхватывая член и&nbsp;развлекаясь так.</li>
            </ol>
            <h2>Все еще слишком сложно! Ну&nbsp;может быть есть другие варианты?</h2>
            <p>Он&nbsp;очень мне понравился! Серьезно, это лучшая игрушка из&nbsp;всех, что у&nbsp;меня были&nbsp;&mdash;
                список не&nbsp;то&nbsp;что&nbsp;бы длинный, но&nbsp;тем не&nbsp;менее. Ощущение давления и&nbsp;вибрация&nbsp;&mdash;
                рецепт скоростного оргазма. Первого, второго, третьего&nbsp;&mdash; по&nbsp;желанию.</p>
            <h3>Я&nbsp;знаю, что мой партнер никогда не&nbsp;согласится &laquo;облизывать&nbsp;резину&raquo;, как быть?</h3>
            <p>Он&nbsp;очень мне понравился! Серьезно, это лучшая игрушка из&nbsp;всех, что у&nbsp;меня были&nbsp;&mdash;
                список не&nbsp;то&nbsp;что&nbsp;бы длинный, но&nbsp;тем не&nbsp;менее. Ощущение давления и&nbsp;вибрация&nbsp;&mdash;
                рецепт скоростного оргазма. Первого, второго, третьего&nbsp;&mdash; по&nbsp;желанию.</p>
            <table>
                <thead>
                    <tr>
                        <th>Материал</th>
                        <th>Высота</th>
                        <th>Ширина</th>
                        <th class="_align-right">Цена</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="Материал">
                            <div class="value">Womanizer Classic</div>
                        </td>
                        <td data-label="Высота">
                            <div class="value">0.048</div>
                        </td>
                        <td data-label="Ширина">
                            <div class="value">1.56 мм</div>
                        </td>
                        <td data-label="Цена" class="_align-right">
                            <div class="value">2&thinsp;500&nbsp;&#8381;</div>
                        </td>
                    </tr>
                    <tr>
                        <td data-label="Материал">
                            <div class="value">Irresistible Mythical</div>
                        </td>
                        <td data-label="Высота">
                            <div class="value">0.056</div>
                        </td>
                        <td data-label="Ширина">
                            <div class="value">3.69 мм</div>
                        </td>
                        <td data-label="Цена" class="_align-right">
                            <div class="value">4&thinsp;300&nbsp;&#8381;</div>
                        </td>
                    </tr>
                    <tr>
                        <td data-label="Материал">
                            <div class="value">Gvibe Gkitl</div>
                        </td>
                        <td data-label="Высота">
                            <div class="value">0.032</div>
                        </td>
                        <td data-label="Ширина">
                            <div class="value">4.70 мм</div>
                        </td>
                        <td data-label="Цена" class="_align-right">
                            <div class="value">3&thinsp;560&nbsp;&#8381;</div>
                        </td>
                    </tr>
                    <tr>
                        <td data-label="Материал">
                            <div class="value">Iroha Temari, Вибромассажёр</div>
                        </td>
                        <td data-label="Высота">
                            <div class="value">0.045</div>
                        </td>
                        <td data-label="Ширина">
                            <div class="value">1.20 мм</div>
                        </td>
                        <td data-label="Цена" class="_align-right">
                            <div class="value">4&thinsp;770&nbsp;&#8381;</div>
                        </td>
                    </tr>
                    <tr>
                        <td data-label="Материал">
                            <div class="value">Iroha Temari</div>
                        </td>
                        <td data-label="Высота">
                            <div class="value">0.067</div>
                        </td>
                        <td data-label="Ширина">
                            <div class="value">1.66 мм</div>
                        </td>
                        <td data-label="Цена" class="_align-right">
                            <div class="value">5&thinsp;550&nbsp;&#8381;</div>
                        </td>
                    </tr>
                    <tr>
                        <td data-label="Материал">
                            <div class="value">Satisfyer Lay-on Sweet Treat, Вибромассажёр</div>
                        </td>
                        <td data-label="Высота">
                            <div class="value">0.032</div>
                        </td>
                        <td data-label="Ширина">
                            <div class="value">3.78 мм</div>
                        </td>
                        <td data-label="Цена" class="_align-right">
                            <div class="value">1&thinsp;500&nbsp;&#8381;</div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3>Дистанционные игрушки для девушек </h3>
            <p>Виброяйцо&nbsp;&mdash; небольшой вибратор плавной формы, который вставляется вагинально и&nbsp;стимулирует
                зону G.</p>
            <p>Вкладка в&nbsp;трусики&nbsp;&mdash; компактный вибростимулятор для клитора, который либо буквально
                вкладывается в&nbsp;белье, либо закрепляется на&nbsp;нем при помощи магнитов. Также существуют
                специальные трусики с&nbsp;&laquo;кармашком&raquo;.</p>
            <p>Вариант &laquo;все и&nbsp;сразу&raquo;&nbsp;&mdash; вибратор особой анатомической формы, который будет
                обеспечивать одновременную стимуляцию и&nbsp;зоны&nbsp;G, и&nbsp;клитора.</p>
            <br>
            <div class="catalog-array">
                {% for i in products %}
                <div class="catalog-array__element">
                    {% include '../elements/product-element.twig' with {
                        inCart   : i.inCart,
                        image    : i.image,
                        label    : i.label,
                        price    : i.price,
                        discount : i.discount,
                        headline : i.headline,
                        rating   : i.rating,
                        vendor   : i.vendor
                    } %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="news-page__aside">
            <time class="news-page__date">04.09.2020</time>
            <div class="news-page__section">
                <h4 class="news-page__section-headline">Поделиться</h4>
                {% include '../includes/yandex-share.twig' %}
            </div>
            <div class="news-page__section news-page__section--bordered">
                <h4 class="news-page__section-headline">Другие новости</h4>
                <div class="news-column">
                    <a href="javascript:void(0);" class="news-entry borderless">
                        Мы&nbsp;подписали эксклюзивное партнерство с&nbsp;брэндом Shiri Zinn
                        <time class="news-entry__date">Сегодня</time>
                    </a>
                    <a href="javascript:void(0);" class="news-entry borderless">
                        У&nbsp;нас открылся новый шоурум!
                        <time class="news-entry__date">04.09.2020</time>
                    </a>
                    <a href="javascript:void(0);" class="news-entry borderless">
                        Мы&nbsp;подписали эксклюзивное партнерство с&nbsp;брэндом Shiri Zinn
                        <time class="news-entry__date">28.08.2020</time>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}