{% extends '../../templates/template-parts/page-template.twig' %}
{% set breadcrumbs = {
    links : [
        {
            url  : './home.twig',
            link : 'Главная',
        }
    ],
    last : 'Статьи'
} %}
{% set news = [
    {
        image   : '-0',
        preview : '&laquo;Мы&nbsp;не&nbsp;продаём секс-игрушки или оргазм. Мы&nbsp;продаём счастье&raquo;&nbsp;&mdash; интервью с&nbsp;Есенией Шамониной, владелицей презервативной',
        label   : 'От эксперта',
    },
    {
        image   : 9,
        headline: 'Приложение &laquo;Шпи-Ви&raquo;: как улучшить интимную жизнь?',
        preview : 'Приложение &laquo;Шпи-Ви&raquo;: как улучшить интимную жизнь?',
        label   : 'Игрушки',
    },
    {
        image   : 10,
        headline: 'Хозяйка Презервативной запускает новый проект',
        preview : 'Хозяйка Презервативной запускает новый оффлайновый проект',
        label   : 'Секс',
    },
    {
        image   : 11,
        headline: 'Мы&nbsp;не&nbsp;продаём секс-игрушки или оргазм',
        preview : 'Хозяйка Презервативной запускает новый оффлайновый проект',
        label   : 'Видео',
    },
    {
        image   : 12,
        headline: 'Для семейных пар, в&nbsp;которых что-то пошло не&nbsp;так',
        preview : 'Для семейных пар, в&nbsp;которых что-то пошло не&nbsp;так',
        label   : 'От эксперта',
    },
    {
        image   : 13,
        headline: 'Для поиска и&nbsp;раскрытия именно своей &laquo;сексуальности&raquo;',
        preview : 'Для поиска и&nbsp;раскрытия именно своей &laquo;сексуальности&raquo;',
        label   : 'Игрушки',
    },
]%}
{% set categories = [
    {active: true, value: 'От эксперта'},
    {value : 'Игрушки'},
    {value : 'Секс'},
    {value : 'Видео'},
] %}

{% block headline %}Статьи{% endblock %}
{% block content %}
    <div id="js-sticky-navigation-parent">
        {% include '../../templates/includes/sticky-navigation.twig' with { stickyMod: 'sticky-navigation--offset-bottom', categories : categories } %}
        <div id="js-sticky-navigation-anchor" class="news-array grid">
            {% for i in news %}
                <div class="news-array__element grid-col grid-col--4 grid-col--m-6 grid-col--s-12">
                    {% include '../elements/news-element.twig' with {
                        image    : i.image,
                        headline : i.headline,
                        preview  : i.preview,
                        label    : i.label,
                    } %}
                </div>
            {% endfor %}
        </div>
        {% include '../includes/pagination.twig' with { paginationMod : 'pagination--light' } %}
    </div>
{% endblock %}