<div class="auth-page">
    <form class="block-underlay block-underlay--boxed form js-form">
        <header class="block-underlay__header">
            <h1 class="block-underlay__headline">Войти</h1>
        </header>
        {% include '../includes/auth-form.twig' with { gradient : true } %}
    </form>
</div>