{% extends '../../templates/template-parts/page-template.twig' %}
{% set breadcrumbs = {
    links : [
        {
            url  : './home.html',
            link : 'Главная',
        }
    ],
    last : 'Бонусная программма'
} %}
{% set table = [
    {
        sum      : '2&thinsp;500',
        discount : '3',
    },
    {
        sum      : '4&thinsp;000',
        discount : '4',
    },
    {
        sum      : '5&thinsp;500',
        discount : '5',
    },
    {
        sum      : '7&thinsp;000',
        discount : '6',
    },
    {
        sum      : '9&thinsp;000',
        discount : '7',
    },
    {
        sum      : '11&thinsp;000',
        discount : '8',
    },
    {
        sum      : '13&thinsp;000',
        discount : '9',
    },
    {
        sum      : '15&thinsp;000',
        discount : '10',
    },
    {
        sum      : '25&thinsp;000',
        discount : '11',
    },
    {
        sum      : '35&thinsp;000',
        discount : '12',
    },
]%}


{% block headline %}Бонусная программма{% endblock %}
{% block content %}
    <div class="bonuses-page block-underlay">
        <p class="p--l">Специально для вас мы&nbsp;создали целых две бонусные программы: <a href="javascript:void(0);" class="dotted">накопительная
                скидка</a> и&nbsp;<a href="javascript:void(0);" class="dotted">бонусные рубли за&nbsp;отзывы</a>.</p>
        <section class="bonuses-section">
            <h2 class="bonuses-section__headline">Накопительная скидка</h2>
            <p class="p--l">С каждым заказом ваша персональная скидка растет! Скидка рассчитывается исходя их общего
                объема оплаченных заказов.</p>
            <div class="discount-table discount-table--wide">
                <div class="discount-table__row discount-table__row--header">
                    <div class="discount-table__row-sum">Сумма заказов</div>
                    <div class="discount-table__row-discount">Скидка</div>
                </div>
                {% for i in table %}
                    <div class="discount-table__row {{ i.mod }}">
                        <div class="discount-table__row-sum">{{ i.sum }}&nbsp;&#8381;</div>
                        <div class="discount-table__row-discount">{{ i.discount }}%</div>
                    </div>
                {% endfor %}
                <div class="discount-table__prompt">Скидка действует со&nbsp;следующей покупки.</div>
            </div>
        </section>
        <section class="bonuses-section">
            <h2 class="bonuses-section__headline">Бонусные рубли</h2>
            <p class="p--l">Нам очень важно ваше мнение о товаре, поэтому мы с радостью будем дарить вам бонусы за
                отзывы!</p>
            <p class="p--l">Мы создали удобную систему написания отзывов через <a href="./reviews.html" class="borderless">личный кабинет</a> . Там видны все купленные
                вами товары, и можно сразу написать свое впечатление хоть об одном, хоть о всех купленных товарах. В
                зависимости от полноты отзыва мы начислим вам от 50 до 150 бонусных рублей, которые можно потратить на
                покупки в нашем магазине.</p>
            <div class="bonuses-section__control">
                <a href="./reviews.html" class="button button--m button--mobile-w-100 button--500">Написать отзыв</a>
            </div>
            <blockquote class="blockquote--offset-top"><span class="blockquote__label">Внимание:</span> все отзывы модерируются в&nbsp;течение суток, рубли начисляются только после получения одобрения. Бонусными баллами вы&nbsp;можете оплатить до&nbsp;30% стоимости товара. Баллы нельзя конвертировать в&nbsp;реальные рубли, их&nbsp;можно потратить только в&nbsp;нашем магазине.</blockquote>
        </section>
    </div>
{% endblock %}