{% extends '../../templates/template-parts/page-template.twig' %}

{% block headline %}Корзина{% endblock %}
{% block content %}
    <div class="cart-page cart-page--empty">
        <p class="p--l">Ваша корзина пока пуста</p>
        <p>Акции, специальные предложения и&nbsp;обзоры самых интересных товаров <a href="./home.html" class="borderless">на&nbsp;главной странице</a> помогут вам
            определиться с&nbsp;выбором!</p>
        <p>Вы&nbsp;наполняли корзину при прошлом визите? <a href="./auth.html" class="borderless">Авторизуйтесь</a>, и&nbsp;выбранные товары появятся в&nbsp;ней
            автоматически.</p>
    </div>
{% endblock %}