{% extends '../../templates/template-parts/page-template.twig' %}
{% set cart = [
    {
        image    : 0,
        headline : 'Вибратор Volta с&nbsp;раздвоенным кончиком',
        counter  : {
            value : 1
        },
        price    : {
            current  : '10&thinsp;200',
            old      : '12&thinsp;600',
            discount : '-5',
        },
    },
    {
        image    : 1,
        headline : 'Парный стимулятор Satisfyer Partner Multifun&nbsp;2',
        counter  : {
            value : 1
        },
        price    : {
            current : '4&thinsp;900'
        },
    },
    {
        image    : 2,
        headline : 'Лубрикант Personal Lubricant H2O Cooling',
        counter  : {
            value : 1
        },
        price    : {
            current : '1&thinsp;900'
        },
    },
] %}
{% set properties = [
    {
        label : 'Заказ',
        value : '10&thinsp;450&nbsp;&#8381;',
    },
    {
        mod   : 'cart-property--green',
        label : 'Доставка',
        value : 'Бесплатно',
    },
    {
        mod   : 'cart-property--red',
        label : 'Бонусы',
        value : '−350&nbsp;&#8381;',
    },
    {
        mod   : 'cart-property--red',
        label : 'Скидка',
        value : '−1&thinsp;500&nbsp;&#8381;',
    },
] %}


{% block headline %}Корзина{% endblock %}
{% block content %}
    <div class="cart-page">
        <form action="/" method="POST" class="grid">
            <div class="cart-page__body grid-col grid-col--8 grid-col--l-12 grid-col--s-12">
                <div class="cart-array block-underlay">
                    {% for i in cart %}
                        <div class="cart-array__element">
                            {% include '../elements/cart-element.twig' with {
                                image    : i.image,
                                headline : i.headline,
                                counter  : i.counter,
                                price    : i.price,
                            } %}
                        </div>
                    {% endfor %}
                    <div class="cart-array__element">
                        <div class="cart-element-removed">
                            <div class="cart-element-removed__headline">
                                Вы удалили <span class="cart-element-removed__highlighted">Лубрикант Wicked Aqua Candy Apple</span>
                            </div>
                            <button class="cart-element-removed__remove" type="button">Отменить</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-page__aside grid-col grid-col--4 grid-col--l-12 grid-col--s-12">
                <div class="cart-discounts block-underlay">
                    <div class="cart-discounts__element">
                        <div class="cart-discounts__element-label">Скидка</div>
                        <div class="cart-discounts__element-value">7%</div>
                    </div>
                    <div class="cart-discounts__element js-tooltip" title="Списаны 200&nbsp;&#8381; бонусов">
                        <div class="cart-discounts__element-label">Бонусы</div>
                        <div class="cart-discounts__element-value">
                            <div class="cart-discounts-input">
                                <input type="text" class="cart-discounts-input__field">
                                <button class="cart-discounts-input__button" type="submit">Списать бонусы</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-underlay">
                    <div class="order-delivery">
                        <div class="order-delivery__icon">
                            <svg class="i" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 3C0 2.44772 0.447715 2 1 2H16C16.5523 2 17 2.44772 17 3V16C17 16.5523 16.5523 17 16 17H1C0.447715 17 0 16.5523 0 16V3ZM2 4V15H15V4H2Z"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15 8C15 7.44772 15.4477 7 16 7H20C20.2652 7 20.5196 7.10536 20.7071 7.29289L23.7071 10.2929C23.8946 10.4804 24 10.7348 24 11V16C24 16.5523 23.5523 17 23 17H16C15.4477 17 15 16.5523 15 16V8ZM17 9V15H22V11.4142L19.5858 9H17Z"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 17C4.67157 17 4 17.6716 4 18.5C4 19.3284 4.67157 20 5.5 20C6.32843 20 7 19.3284 7 18.5C7 17.6716 6.32843 17 5.5 17ZM2 18.5C2 16.567 3.567 15 5.5 15C7.433 15 9 16.567 9 18.5C9 20.433 7.433 22 5.5 22C3.567 22 2 20.433 2 18.5Z"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M18.5 17C17.6716 17 17 17.6716 17 18.5C17 19.3284 17.6716 20 18.5 20C19.3284 20 20 19.3284 20 18.5C20 17.6716 19.3284 17 18.5 17ZM15 18.5C15 16.567 16.567 15 18.5 15C20.433 15 22 16.567 22 18.5C22 20.433 20.433 22 18.5 22C16.567 22 15 20.433 15 18.5Z"/>
                            </svg>
                        </div>
                        <div class="order-delivery__value">
                            До&nbsp;<span class="order-delivery__highlighted">бесплатной доставки</span> осталось 1&nbsp;320&nbsp;&nbsp;&#8381;
                        </div>
                    </div>
                    <div class="order-promo js-order-promo">
                        <input type="text" id="js-order-promo-input" class="order-promo__input" placeholder="Промокод">
                        <button class="order-promo__submit" type="submit">Применить</button>
                        <div class="order-promo__error">Промокод введён некорректно</div>
                    </div>
                    <div class="cart-properties">
                        {% for i in properties %}
                            <div class="cart-property {{ i.mod }}">
                                <div class="cart-property__label">{{ i.label }}</div>
                                <div class="cart-property__value">{{ i.value }}</div>
                            </div>
                        {% endfor %}
                        <div class="cart-properties__total">
                            <div class="cart-property cart-property--total">
                                <div class="cart-property__label">Итого</div>
                                <div class="cart-property__value">8&thinsp;450&nbsp;&#8381;</div>
                            </div>
                            <button class="button button--w-100 button--m button--gradient button--500" type="submit">Перейти к оформлению</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="cart-page__more">
            {% include '../sections/perfectly-match.twig' %}
        </div>
    </div>
{% endblock %}