{% extends '../../templates/template-parts/page-template.twig' %}
{% set catalogCategories = [
    {mod: 'catalog-category--gradient', image: 0, headline: 'Кролики'},
    {image: 1, headline: 'Виброяйца'},
    {image: 2, headline: 'Бабочки'},
    {image: 3, headline: 'С ротацией'},
    {image: 4, headline: 'Вибропули'},
    {image: 5, headline: 'Реалистичные'}
] %}
{% set breadcrumbs = {
    links : [
        {
            url  : './home.twig',
            link : 'Секс-шоп',
        },
        {
            url  : './home.twig',
            link : 'Секс игрушки',
        }
    ],
    last : 'Вибраторы'
} %}
{% set categories = [
    {active: true, value: 'Анально-Вагинальные'},
    {value : 'Анальные'},
    {value : 'Бабочки'},
    {value : 'Большие вибраторы'},
    {value : 'Виброкольца'},
    {value : 'Вибропули'},
    {value : 'Вибро яйца'},
    {value : 'Вибраторы пульсаторы'},
    {value : 'Лубрикант для тебя', hidden : true},

] %}
{% set products = [
    {
        image : 20,
        price : '616',
        headline : '«LS MARAFON» спрей-пролонгатор 18мл',
        scaled   : true,
        colors   : [
            {color: '#e95741', label : 'Красный'},
            {color: '#f5cace', label : 'Розовый'},
            {color: '#fef374', label : 'Желтый'},
            {color: '#7d40e7', label : 'Фиолетовый'},
            {color: '#56b9f4', label : 'Голубой'}
        ]
    },
    {
        image : 8,
        label : {
        mod   : 'product-label--green',
        value : 'Новинка',
    },
        price : '1&thinsp;376',
        headline : 'Продлевающий гель-лубрикант',
        vendor : 'Арт. BI-210203',
        outOfStock: true
    },
    {
        image : 9,
        price : '750',
        headline : 'Парный стимулятор Satisfyer Partner Multifun Magnum ESL Pro Covnertable SFX Z-Style HI-Tech Soft-touch Rubber Handle tool 2v-0001',
        rating : {width : 100, description: '4 отзыва'}
    },
    {
        image : 21,
        price : '3&nbsp;135',
        headline : 'Массажное масло с&nbsp;теплым цветочным ароматом BEWITCHING MASSAGE OIL (YESforLOV) 100мл',
        scaled   : true,
        sizes    : ['L/XL','XXL/XXXL']
    },
    {
        image : 10,
        price : '650',
        headline : 'Лубрикант с ароматом зелёного',
        rating : {width : 93, description: '3 отзыва'}
    },
    {
        image : 11,
        price : '4&thinsp;900',
        headline : 'Лубрикант Wicked Aqua Cherry Cordial',
        rating : {width : 93, description: '256 отзывов'}
    },
    {
        image : 12,
        price : '500',
        headline : 'Лубрикант Triple Pleasure',
        rating : {width : 93, description: '12 отзывов'}
    },
    {
        image : 13,
        price : '1&thinsp;376',
        headline : 'Лубрикант Wicked Aqua Cherry Cordial',
        rating : {width : 93, description: '4 отзыва'}
    },
    {
        label : {
        mod   : 'product-label--red',
        value : 'Хит продаж',
    },
        image : 14,
        price : '750',
        headline : 'Лубрикант Wicked Aqua Candy Apple',
        rating : { width : 93, description: '3 отзыва'}
    },
    {
        banner : true,
    },
    {
        image : 15,
        price : '950',
        headline : 'Лубрикант Personal Lubricant H2O Cooling',
        rating : { width : 93, description: '256 отзывов'}
    },
    {
        image : 16,
        price : '1&thinsp;376',
        headline : 'Гель-лубрикант AQUAglide с&nbsp;ароматом малины',
        rating : { width : 93, description: '256 отзывов'}
    },
    {
        image : 17,
        price : '850',
        headline : 'Лубрикант System JO&nbsp;Candy Shop Butterscotch',
        rating : { width : 93, description: '256 отзывов'}
    },
    {
        image : 18,
        price : '850',
        headline : 'Лубрикант Wicked Aqua Candy Apple',
        rating : { width : 93, description: '256 отзывов'}
    },
] %}
{% set filterTypes = [
    {checked : true, name    : 'product-type', value   : 'Все',},
    {name    : 'product-type', value   : 'Вакуумно-волновые',},
    {name    : 'product-type', value   : 'Пульсаторы',},
    {name    : 'product-type', value   : 'Массажеры',},
    {name    : 'product-type', value   : 'Фрикционные',},
    {name    : 'product-type', value   : 'С ротацией',},
    {name    : 'product-type', value   : 'Пульсаторы', hidden  : true,},
    {name    : 'product-type', value   : 'Массажеры', hidden  : true,},
    {name    : 'product-type', value   : 'Фрикционные', hidden  : true,},
]%}
{% set filterSizes = [
    {checked : true,name    : 'product-size', value   : 'Все',},
    {name    : 'product-size', value   : 'XL',},
    {name    : 'product-size', value   : 'XXL',},
]%}
{% set filterDiamter = [
    {checked : true, name    : 'product-diametr', value   : 'Все',},
    {name    : 'product-diametr', value   : 'До&nbsp;3&nbsp;см',},
    {name    : 'product-diametr', value   : '3-5&nbsp;см',},
    {name    : 'product-diametr', value   : 'Больше 5 см',},
]%}
{% set filterColor = [
    {controlMod : 'color-control--alternative', name    : 'product-color', color   : '#000000',},
    {controlMod : 'color-control--alternative', checked : true, name    : 'product-color', color   : '#757575',},
    {controlMod : 'color-control--alternative', name    : 'product-color', color   : '#eb5757',},
    {controlMod : 'color-control--alternative', name    : 'product-color', color   : '#27ae60',},
    {controlMod : 'color-control--alternative', name    : 'product-color', color   : '#2f80ed',},
    {controlMod : 'color-control--alternative', name    : 'product-color', color   : '#9b51e0',},
    {controlMod : 'color-control--alternative', name    : 'product-color', color   : '#f2994a',},
    {controlMod : 'color-control--alternative', name    : 'product-color', color   : '#56ccf2',},
    {controlMod : 'color-control--alternative', name    : 'product-color', color   : '#f2c94c',},
    {controlMod : 'color-control--alternative', name    : 'product-color', color   : '#e0e0e0',},
    {controlMod : 'color-control--alternative color-control--light', name    : 'product-color', color   : '#ffffff',},
]%}

{% set popular = [
    {
        image : 22,
        label : {
            mod   : 'product-label--red',
            value : 'Хит продаж',
        },
        price : '10&nbsp;489',
        discount : {
            price   : '12&nbsp;600',
            percent : '&minus;5%'
        },
        headline : 'Ребристая анальная пробка с&nbsp;вибрацией Twist (B-vibe)',
        rating : {width : 100, description: '12 отзывов', total: '4.5'}
    },
    {
        image : 23,
        label : {
            mod   : 'product-label--red',
            value : 'Хит продаж',
        },
        price : '3&thinsp;122',
        headline : 'Виброяйцо &laquo;Мистер Чёрт&raquo;',
        rating : {width : 100, description: '4 отзыва', total: '4.2'}
    },
    {
        image : 24,
        label : {
            mod   : 'product-label--red',
            value : 'Хит продаж',
        },
        price : '3&thinsp;206',
        headline : 'Вибратор-кролик &laquo;Дуэ&raquo;&nbsp;&mdash; белый',
        rating : {width : 100, description: '3 отзыва', total: '4.1'}
    },
    {
        image : 25,
        label : {
            mod   : 'product-label--red',
            value : 'Хит продаж',
        },
        price : '14&nbsp;612',
        headline : 'Пульсатор Stronic&nbsp;G (FunFactory) виноградный',
        rating : {width : 100, description: '256 отзывов', total: '4.1'}
    },
    {
        image : 10,
        label : {
            mod   : 'product-label--red',
            value : 'Хит продаж',
        },
        price : '650',
        headline : 'Лубрикант с ароматом зелёного',
        rating : {width : 93, description: '3 отзыва', total: '4.4'}
    },
]%}
{% set seen = [
    {
        image : 0,
        label : {
            mod   : 'product-label--green',
            value : 'Новинка',
        },
        price : '10&thinsp;200',
        discount : {
            price   : '12&thinsp;600',
            percent : '-5%'
        },
        headline : 'Вибратор Volta с раздвоенным кончиком',
        vendor   : 'Арт. BI-210203'
    },
    {
        image : 1,
        price : '6&thinsp;100',
        headline : 'Вибростимулятор Cookie',
        rating : {width : 100, description: '4 отзыва', total : '4.5'}
    }
]%}
{% set videos = [
    {
        videoBlockMod : 'video-block--type-1',
        image         : 1,
        headline      : 'Видео-обзор вибромассажера GVibe&nbsp;2',
    },
    {
        videoBlockMod : 'video-block--type-1',
        image         : 1,
        headline      : 'Инструкция пользования GVibe&nbsp;2',
    },
    {
        videoBlockMod : 'video-block--type-1',
        image         : 1,
        headline      : 'Сравнение GVibe&nbsp;2 с аналогами',
    },
] %}
{% set faq = [
    {value: 'Вибраторы для точки G'},
    {value: 'Недорогие вибраторы'},
    {value: 'Недорогие мини вибраторы'},
    {value: 'Фаллоимитаторы-вибраторы'},
    {value: 'Вибраторы-гиганты'},
    {value: 'Вибраторы Классические'},
    {value: 'Недорогие мини вибраторы'},
    {value: 'Фаллоимитаторы-вибраторы'},
    {value: 'Вибраторы розового цвета'},
    {value: 'Вибраторы фиолетового цвета'},
    {value: 'Вибраторы реалистичные'},
    {value: 'Бюджетные вибраторы'},
    {value: 'Лучшие Фаллоимитаторы'},
    {value: 'Вибраторы черного цвета'},
    {value: 'Вибраторы красного цвета'},

    {hidden: true, value: 'Вибраторы реалистичные'},
    {hidden: true, value: 'Бюджетные вибраторы'},
    {hidden: true, value: 'Лучшие Фаллоимитаторы'},
    {hidden: true, value: 'Вибраторы черного цвета'},
    {hidden: true, value: 'Вибраторы красного цвета'}
]%}
{% set reviews = [
    {
        image   : 0,
        author  : {
            name: 'Елена',
            date: '02.02.2020'
        },
        rating  : {
            width: 100,
            short: 1,
        },
        product : 'Анатомический вибратор-кролик We-Vibe Nova 2&nbsp;с неп...',
        text    : '<p>Делает свою работу отлично, для меня слегка длинноват, думаю см&nbsp;16-18 было&nbsp;бы идеально. Не&nbsp;знаю как так вышло, но&nbsp;даже без проблем использовала. Замечательная штука. Всем советую.</p>'
    },
    {
        image   : 1,
        author  : {
            name: 'Светлана',
            date: '02.02.2020'
        },
        rating  : {
            width: 60,
            short: 2,
        },
        product : 'Многофункциональный вибратор G-vibe 3&nbsp;с двумя гибк...',
        text    : '<p>Будьте внимательны при выборе размера. В&nbsp;мое время подобного отзыва не&nbsp;хватило), вот и&nbsp;заказала почти не&nbsp;глядя, итог- не&nbsp;входит даже. Что делать с&nbsp;ним не&nbsp;знаю. Понимаю, что только моя вина.</p>'
    },
    {
        image   : 2,
        author  : {
            name: 'Антонина',
            date: '12.02.2020'
        },
        rating  : {
            width: 60,
            short: 23,
        },
        product : 'Набор для подготовки к&nbsp;анальному сексу B-vibe Anal...',
        text    : '<p>B-vibe молодцы, несомненно. Наборы&nbsp;&mdash; это всегда зашибись. Тут собрали идеальный комплект для АС. Все именно подобрано так, чтобы было круто. У&nbsp;многих есть какие-то страхи перед такой близостью, но&nbsp;производитель позаботился о&nbsp;том, чтобы &laquo;закомфортить&raquo; по&nbsp;максимуму, тут и&nbsp;гид, и&nbsp;набор плагов &laquo;по&nbsp;шаговый&raquo;, назовем это так. И&nbsp;душик, и&nbsp;шпритц для смазки. На&nbsp;самом деле, медаль нужно давать за&nbsp;такой умный и&nbsp;нежный подход к&nbsp;людям. А&nbsp;ЕДИНОРОГ!!! Восторг&nbsp;&mdash; одним словом.</p>'
    },
]%}
{% set brands = [0,1,2,3,4,5,3,4,0,5]%}

{% block headline %}Вибраторы{% endblock %}
{% block content %}
    <div id="js-sticky-navigation-parent" class="catalog-page js-catalog-filter">
        {# slider on mobile #}
        {#<div class="mobile-carousel-wrapper js-mobile-carousel-wrapper">
            <div class="catalog-categories grid mobile-carousel swiper-container js-mobile-carousel">
                <div class="swiper-wrapper">
                    {% for i in catalogCategories %}
                        <div class="catalog-categories__element mobile-carousel__element swiper-slide grid-col grid-col--2 grid-col--m-4">
                            <a href="javascript:void(0);" class="catalog-category {{ i.mod }} borderless">
                                <div class="catalog-category__image">
                                    <img
                                            src="assets/images/catalog-categories/image-{{ i.image }}.jpg"
                                            srcset="assets/images/catalog-categories/image-{{ i.image }}.jpg 1x, assets/images/catalog-categories/image-{{ i.image }}-2x.jpg 2x"
                                            alt="{{ i.headline }}">
                                </div>
                                <div class="catalog-category__headline">{{ i.headline }}</div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="mobile-carousel__pagination js-mobile-carousel-pagination"></div>
            </div>
        </div>#}
        <div class="catalog-categories grid">
            {% for i in catalogCategories %}
                <div class="catalog-categories__element grid-col grid-col--2 grid-col--m-4 grid-col--s-4">
                    <a href="javascript:void(0);" class="catalog-category {{ i.mod }} borderless">
                        <div class="catalog-category__image">
                            <img
                                    src="assets/images/catalog-categories/image-{{ i.image }}.jpg"
                                    srcset="assets/images/catalog-categories/image-{{ i.image }}.jpg 1x, assets/images/catalog-categories/image-{{ i.image }}-2x.jpg 2x"
                                    alt="{{ i.headline }}">
                        </div>
                        <div class="catalog-category__headline">{{ i.headline }}</div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div id="js-sticky-navigation-wrapper" class="sticky-navigation-wrapper sticky-navigation-wrapper--toggleable">
            <div id="js-sticky-navigation" class="sticky-navigation">
                {% for i in categories %}
                    <a href="javascript:void(0);" class="sticky-navigation__element borderless {{ i.active ? '_active' }} js-sticky-navigation-element">
                        <span>{{ i.value }}</span>
                        <span class="sticky-navigation__counter js-sticky-navigation-counter"></span>
                    </a>
                {% endfor %}
                <button id="js-sticky-navigation-more" class="sticky-navigation__element sticky-navigation__element--more" data-expanded="Скрыть"></button>
            </div>
        </div>
        {#{% include '../../templates/includes/sticky-navigation.twig' with {
            stickyMod  : 'sticky-navigation-wrapper--toggleable',
            categories : categories,
            hasHidden : true
        } %}#}
        <div class="block-underlay block-underlay--overflow-hidden">
            <div class="h2">Популярные предложения</div>
            <div class="product-carousel swiper-container js-product-carousel">
                <div class="swiper-wrapper">
                    {% for i in popular %}
                        <div class="product-carousel__element swiper-slide">
                            {% include '../../templates/elements/product-element.twig' with {
                                inCart     : i.inCart,
                                image      : i.image,
                                label      : i.label,
                                price      : i.price,
                                discount   : i.discount,
                                headline   : i.headline,
                                rating     : i.rating,
                                vendor     : i.vendor,
                                scaled     : i.scaled,
                                colors     : i.colors,
                                sizes      : i.sizes,
                                outOfStock : i.outOfStock,
                            } %}
                        </div>
                    {% endfor %}
                </div>
                <div class="product-carousel__arrow product-carousel__arrow--prev js-product-carousel-prev"><div class="product-carousel__arrow-marker"></div></div>
                <div class="product-carousel__arrow product-carousel__arrow--next js-product-carousel-next"><div class="product-carousel__arrow-marker"></div></div>
                <div class="product-carousel__pagination js-product-carousel-pagination"></div>
            </div>
        </div>
        <div id="js-sticky-navigation-anchor" class="catalog-content block-underlay">
            <div class="catalog-page__inside">
                <div class="product-filter">
                    <div class="product-filter-sort">
                        <div class="product-filter-sort__value">
                            <svg class="i" viewBox="0 0 29 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <line x1="1" y1="-1" x2="16" y2="-1" transform="matrix(1 0 0 -1 0 12)" stroke="#9E42DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <line x1="23.5" y1="1" x2="23.5" y2="13" stroke="#9E42DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <line x1="1" y1="-1" x2="10" y2="-1" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 6 6)" stroke="#9E42DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <line x1="1" y1="-1" x2="5" y2="-1" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 11 0)" stroke="#9E42DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M24.2426 14.2929L26.8284 11.7071C27.4584 11.0771 27.0122 10 26.1213 10H20.9498C20.0589 10 19.6127 11.0771 20.2427 11.7071L22.8284 14.2929C23.219 14.6834 23.8521 14.6834 24.2426 14.2929Z" fill="#9E42DC"/>
                            </svg>
                            <svg hidden class="i" viewBox="0 0 29 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <line x1="1" y1="1" x2="16" y2="1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <line x1="23.5" y1="1" x2="23.5" y2="13" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <line x1="7" y1="7" x2="16" y2="7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <line x1="12" y1="13" x2="16" y2="13" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M24.2426 14.2929L26.8284 11.7071C27.4584 11.0771 27.0122 10 26.1213 10H20.9497C20.0588 10 19.6127 11.0771 20.2426 11.7071L22.8284 14.2929C23.2189 14.6834 23.8521 14.6834 24.2426 14.2929Z" fill="#9E42DC"/>
                            </svg>
                            Популярные
                        </div>
                        <div class="product-filter-sort__dropdown">
                            <span class="product-filter-sort__element">Сначала дешевые</span>
                            <span class="product-filter-sort__element">Сначала дорогие</span>
                            <span class="product-filter-sort__element">По наличию скидки</span>
                            <span class="product-filter-sort__element">По названию</span>
                        </div>
                    </div>
                    <button class="product-filter-control js-catalog-filter-button" type="button">
                        <svg class="i" version="1.1" viewBox="0 0 6.3575 4.7625" xmlns="http://www.w3.org/2000/svg">
                            <g transform="translate(-125.33 -175.93)" stroke="#9e42dc" stroke-width=".52917">
                                <g stroke-linecap="round" stroke-linejoin="round">
                                    <line x1="125.6" x2="126.66" y1="176.99" y2="176.99"/>
                                    <line x1="125.6" x2="127.72" y1="179.64" y2="179.64"/>
                                    <line x1="129.57" x2="131.42" y1="176.99" y2="176.99"/>
                                    <line x1="130.36" x2="131.42" y1="179.64" y2="179.64"/>
                                </g>
                                <circle cx="127.45" cy="176.99" r=".79375" fill="none"/>
                                <circle cx="129.57" cy="179.64" r=".79375" fill="none"/>
                            </g>
                        </svg>
                        Фильтры
                    </button>
                </div>
                <div class="catalog-array">
                    {% for i in products %}
                        <div class="catalog-array__element">
                            {% if i.banner %}
                                <div class="banner">
                                    <a href="javascript:void(0);" class="banner__link borderless">
                                        <img
                                                src="assets/images/banner/image-0.jpg"
                                                srcset="assets/images/banner/image-0.jpg 1x, assets/images/banner/image-0-2x.jpg 2x"
                                                alt="">
                                    </a>
                                </div>
                            {% else %}
                                {% include '../../templates/elements/product-element.twig' with {
                                    inCart     : i.inCart,
                                    image      : i.image,
                                    label      : i.label,
                                    price      : i.price,
                                    discount   : i.discount,
                                    headline   : i.headline,
                                    rating     : i.rating,
                                    vendor     : i.vendor,
                                    scaled     : i.scaled,
                                    colors     : i.colors,
                                    sizes      : i.sizes,
                                    outOfStock : i.outOfStock,
                                } %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="catalog-filter js-accordions-non-collapsible">
                    <form action="/" method="POST" class="form js-catalog-filter-form">
                        <div class="accordion accordion--classic _expanded js-accordion">
                            <button class="accordion__button js-accordion-button" type="button">Тип</button>
                            <div class="accordion__body js-accordion-body">
                                <div class="catalog-filter-array load-more js-load-more" data-hideable>
                                    {% for i in filterTypes %}
                                        <div class="load-more__element {{ i.hidden ? 'load-more__element--hidden js-load-more-element'}}">
                                            {% include '../elements/default-control.twig' with {
                                                controlMod : 'default-control--gradient',
                                                type       : 'checkbox',
                                                checked    : i.checked,
                                                name       : i.name,
                                                value      : i.value,
                                            } %}
                                        </div>
                                    {% endfor %}
                                    <a href="javascript:void(0);" class="catalog-filter-array__more borderless js-load-more-button" data-expanded="скрыть" data-collapsed="показать еще 15">показать еще 15</a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion accordion--classic _expanded js-accordion">
                            <button class="accordion__button js-accordion-button" type="button">Размер</button>
                            <div class="accordion__body js-accordion-body">
                                <div class="catalog-filter-array">
                                    {% for i in filterSizes %}
                                        <div class="load-more__element">
                                            {% include '../elements/default-control.twig' with {
                                                controlMod : 'default-control--gradient',
                                                type       : 'checkbox',
                                                checked    : i.checked,
                                                name       : i.name,
                                                value      : i.value,
                                            } %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="accordion accordion--classic _expanded js-accordion">
                            <button class="accordion__button js-accordion-button" type="button">Диаметр</button>
                            <div class="accordion__body js-accordion-body">
                                <div class="catalog-filter-array">
                                    {% for i in filterDiamter %}
                                        <div class="load-more__element">
                                            {% include '../elements/default-control.twig' with {
                                                controlMod : 'default-control--gradient',
                                                type       : 'checkbox',
                                                checked    : i.checked,
                                                name       : i.name,
                                                value      : i.value,
                                            } %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="accordion accordion--classic _expanded js-accordion">
                            <button class="accordion__button js-accordion-button" type="button">Цвет</button>
                            <div class="accordion__body js-accordion-body">
                                <div class="catalog-filter-array">
                                    {% for i in filterColor %}
                                        <div class="load-more__element">
                                            {% include '../elements/color-control.twig' with {
                                                controlMod : i.controlMod,
                                                type       : 'checkbox',
                                                checked    : i.checked,
                                                name       : i.name,
                                                color      : i.color,
                                            } %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="accordion accordion--classic _expanded js-accordion">
                            <button class="accordion__button js-accordion-button" type="button">Цена</button>
                            <div class="accordion__body js-accordion-body">
                                {% include '../includes/price-range.twig' with {
                                    value : '100',
                                    from  : '1500',
                                    to    : '58000',
                                    min   : '500',
                                    max   : '240000'
                                } %}
                            </div>
                        </div>
                        <div class="accordion accordion--classic _expanded js-accordion">
                            <button class="accordion__button js-accordion-button" type="button">Кол-во скоростей вибрации</button>
                            <div class="accordion__body js-accordion-body">
                                {% include '../includes/price-range.twig' with {
                                    value : '1',
                                    from  : '16',
                                    to    : '23',
                                    min   : '1',
                                    max   : '35'
                                } %}
                            </div>
                        </div>
                        <div class="accordion accordion--classic _expanded js-accordion">
                            <button class="accordion__button js-accordion-button" type="button">Длина</button>
                            <div class="accordion__body js-accordion-body">
                                {% include '../includes/price-range.twig' with {
                                    value : '7',
                                    from  : '10',
                                    to    : '32',
                                    min   : '7',
                                    max   : '41'
                                } %}
                            </div>
                        </div>
                        <div class="catalog-filter__element">
                            {% include '../elements/control.twig' with {
                                controlMod : 'control--standalone',
                                type       : 'checkbox',
                                name       : 'filterControl',
                                value      : 'Параметр один',
                            } %}
                        </div>
                        <div class="catalog-filter__element">
                            {% include '../elements/control.twig' with {
                                controlMod : 'control--standalone',
                                type       : 'checkbox',
                                name       : 'filterControl1',
                                value      : 'Параметр два',
                            } %}
                        </div>
                        <div class="catalog-filter__controls">
                            <button class="catalog-filter__reset button button--sm button--w-100 button--grey button--500" type="reset">Сбросить фильтры</button>
                            <button class="catalog-filter__apply button button--sm button--w-100 button--500" type="submit">Применить</button>
                            <button class="catalog-filter__close button button--sm button--w-100 button--grey button--500 js-catalog-filter-close" type="button">Закрыть</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="pagination-wrapper">
                {% include '../../templates/includes/pagination.twig' with {paginationMod: 'pagination--visible'}%}
                <div class="pagination-select">
                    <div class="pagination-select__value">Показывать по 48</div>
                    <div class="pagination-select__dropdown">
                        <span class="pagination-select__element">Показывать по 12</span>
                        <span class="pagination-select__element">Показывать по 24</span>
                        <span class="pagination-select__element">Показывать по 36</span>
                        <span class="pagination-select__element _active">Показывать по 48</span>
                    </div>
                </div>
            </div>
            {% include '../../templates/includes/issue-feedback.twig' %}
        </div>
        <div class="block-underlay">
            <div class="h2">Популярные бренды</div>
            <div class="brands-carousel-wrapper">
                <div class="brands-carousel swiper-container js-brands-carousel">
                    <div class="swiper-wrapper">
                        {% for i in brands %}
                            <div class="brands-carousel__element swiper-slide">
                                <img
                                        src="assets/images/brands/image-{{ i }}.jpg"
                                        srcset="assets/images/brands/image-{{ i }}.jpg 1x, assets/images/brands/image-{{ i }}-2x.jpg 2x"
                                        alt="">
                            </div>
                        {% endfor %}
                    </div>
                    <div class="brands-carousel__arrow brands-carousel__arrow--prev js-brands-carousel-prev"></div>
                    <div class="brands-carousel__arrow brands-carousel__arrow--next js-brands-carousel-next"></div>
                </div>
            </div>
        </div>
        <div class="block-underlay">
            <div class="h2">Особенности вибраторов</div>
            <div class="show-more show-more--text-full-width js-show-more">
                <p>Для современной женщины вибратор обычен так&nbsp;же, как эпилятор, фен или маникюрный набор. Одни
                    используют секс-игрушку когда заскучают, а&nbsp;другие&nbsp;&mdash; с&nbsp;завидным постоянством.
                    Третьи вообще с&nbsp;ней не&nbsp;расстаются и&nbsp;включают незаметно от&nbsp;окружающих, благо
                    миниатюрный девайс спрятан глубоко внутри и&nbsp;дарит минуты наслаждения в&nbsp;любой удобный
                    момент.</p>
                <p>Главное, что купить вибратор сегодня не&nbsp;проблема, поэтому некоторые дамы создают целые коллекции
                    любимых девайсов, ведь выбор интимных игрушек поистине безграничен.</p>
                <div class="show-more__hidden">
                    <p>Для современной женщины вибратор обычен так&nbsp;же, как эпилятор, фен или маникюрный набор. Одни
                        используют секс-игрушку когда заскучают, а&nbsp;другие&nbsp;&mdash; с&nbsp;завидным постоянством.
                        Третьи вообще с&nbsp;ней не&nbsp;расстаются и&nbsp;включают незаметно от&nbsp;окружающих, благо
                        миниатюрный девайс спрятан глубоко внутри и&nbsp;дарит минуты наслаждения в&nbsp;любой удобный
                        момент.</p>
                    <p>Главное, что купить вибратор сегодня не&nbsp;проблема, поэтому некоторые дамы создают целые коллекции
                        любимых девайсов, ведь выбор интимных игрушек поистине безграничен.</p>
                </div>
                <button class="show-more__button js-show-more-button" data-expanded="Скрыть" data-collapsed="Показать еще" type="button">Показать еще</button>
            </div>
        </div>
        <div class="block-underlay">
            <div class="h2">Отзывы</div>
            <div class="reviews-array reviews-array--items">
                {% for i in reviews %}
                    {% include '../elements/reviews-item.twig' with {
                        image   : i.image,
                        author  : i.author,
                        rating  : i.rating,
                        product : i.product,
                        text    : i.text
                    } %}
                {% endfor %}
                <div class="reviews-array__more">
                    <a href="javascript:void(0);" class="button button--sm button--bordered-theme button--fs-18 button--500">Все отзывы</a>
                </div>
            </div>
        </div>
        <div class="block-underlay block-underlay--overflow-hidden">
            <div class="h2">Вы смотрели</div>
            <div class="product-carousel swiper-container js-product-carousel">
                <div class="swiper-wrapper">
                    {% for i in seen %}
                        <div class="product-carousel__element swiper-slide">
                            {% include '../../templates/elements/product-element.twig' with {
                                inCart     : i.inCart,
                                image      : i.image,
                                label      : i.label,
                                price      : i.price,
                                discount   : i.discount,
                                headline   : i.headline,
                                rating     : i.rating,
                                vendor     : i.vendor,
                                scaled     : i.scaled,
                                colors     : i.colors,
                                sizes      : i.sizes,
                                outOfStock : i.outOfStock,
                            } %}
                        </div>
                    {% endfor %}
                </div>
                <div class="product-carousel__arrow product-carousel__arrow--prev js-product-carousel-prev"><div class="product-carousel__arrow-marker"></div></div>
                <div class="product-carousel__arrow product-carousel__arrow--next js-product-carousel-next"><div class="product-carousel__arrow-marker"></div></div>
                <div class="product-carousel__pagination js-product-carousel-pagination"></div>
            </div>
        </div>
        <div class="block-underlay">
            <div class="h2">Популярные вопросы</div>
            <div class="product-description product-description--questions">
                <div class="product-description__body">
                    <div class="questions-array">
                        <a href="javascript:void(0);" class="questions-element borderless">
                            Можно&nbsp;ли брать самый дешевый вариант или стоит переплачивать?
                            <span class="questions-element__answers">2&nbsp;ответа</span>
                        </a>
                        <a href="javascript:void(0);" class="questions-element borderless">
                            Какой производитель самый надежный?
                            <span class="questions-element__answers">2&nbsp;ответа</span>
                        </a>
                        <a href="javascript:void(0);" class="questions-element borderless">
                            Какой сейчас лучше по&nbsp;соотношению цена качество?
                            <span class="questions-element__answers">1&nbsp;ответ</span>
                        </a>
                        <a href="javascript:void(0);" class="questions-element borderless">
                            Посоветуйте, пожалуйста, что-нибудь для первого опыта?
                            <span class="questions-element__answers">1&nbsp;ответ</span>
                        </a>
                        <div class="questions-array__controls">
                            <a href="javascript:void(0);" class="button button--sm button--fs-18 button--500 button--gradient">Задать вопрос</a>
                            <a href="javascript:void(0);" class="button button--sm button--fs-18 button--500 button--bordered-theme">Еще 132<span class="no-mobile"> вопроса</span></a>
                        </div>
                    </div>
                </div>
                <div class="product-description__image">
                    {#<div class="video-block-carousel swiper-container js-video-block-carousel">
                        <div class="swiper-wrapper">
                            {% for i in videos %}
                                <div class="video-block-carousel__element swiper-slide">
                                    {% include '../../templates/elements/video-block.twig' with {
                                        url           : 'https://www.youtube.com/watch?v=EImMK6jHmZM',
                                        videoBlockMod : i.videoBlockMod,
                                        image         : i.image,
                                        headline      : i.headline,
                                    } %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="video-block-carousel__pagination js-video-block-carousel-pagination"></div>
                        <div class="video-block-carousel__next js-video-block-carousel-next">Следующее</div>
                    </div>#}
                    <div class="promo-section">
                        <div class="promo-section__row promo-section__row--video">
                            {% include '../../templates/elements/video-block.twig' with {
                                videoBlockMod : 'video-block--type-0',
                                image         : 0,
                                type          : 'Видео',
                                url           : 'https://www.youtube.com/watch?v=EImMK6jHmZM',
                                headline      : 'Обзор лучшего лубриканта 2020 года',
                            } %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-underlay">
            <div class="h2">Часто ищут</div>
            <div class="promo-section promo-section--faq">
                <div class="promo-section__row promo-section__row--list">
                    <div class="faq-array load-more js-load-more" data-hideable>
                        <div class="faq-array__inside">
                            {% for i in faq %}
                                <div class="load-more__element {{ i.hidden ? 'load-more__element--hidden js-load-more-element' }}">
                                    <a href="javascript:void(0);" class="faq-element borderless">{{ i.value }}</a>
                                </div>
                            {% endfor %}
                        </div>
                        <a href="javascript:void(0);" class="button button--sm button--fs-18 button--500 button--bordered-theme js-load-more-button" data-expanded="скрыть" data-collapsed="показать еще">показать еще</a>
                    </div>
                </div>
                <div class="promo-section__row promo-section__row--array">
                    {% include '../../templates/elements/promo-section-element.twig' with {
                        url      : './test.html',
                        label    : 'Пройдите тест!',
                        headline : 'Подбор интимной косметики',
                    } %}
                    {% include '../../templates/elements/promo-section-element.twig' with {
                        url      : './article-page.html',
                        label    : 'Статья',
                        headline : 'Топ-10 популярных лубрикантов',
                    } %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
