{% extends '../../templates/template-parts/page-template.twig' %}
{% set breadcrumbs = {
    links : [
        {
            url  : './home.twig',
            link : 'Главная',
        }
    ],
    last : 'Для пар'
} %}
{% set categories = [
    {active: true, value: 'Водный лубрикант'},
    {value : 'Силиконовый лубрикант'},
    {value : 'Гибридный лубрикант'},
    {value : 'Лубрикант «все-в-одном» для массажа'},
    {value : 'Анальный силиконовый лубрикант'},
    {value : 'Анальный водный лубрикант', hidden : true},
    {value : 'Анальный гибридный лубрикант', hidden : true},
    {value : 'Оральный лубрикант', hidden : true},
    {value : 'Лубрикант на натуральной основе', hidden : true},
    {value : 'Возбуждающий лубрикант', hidden : true},
    {value : 'Согревающий лубрикант', hidden : true},
    {value : 'Охлаждающий лубрикант', hidden : true},
    {value : 'Лубрикант для игрушек (густой)', hidden : true},
    {value : 'Лубрикант с гиалуроновой кислотой', hidden : true},
    {value : 'Лубрикант на масляной основе', hidden : true},
    {value : 'Лубрикант на водной основе', hidden : true},
    {value : 'Лубрикант на кокосовом масле', hidden : true},
] %}
{% set products = [
    {
        image : 20,
        price : '616',
        headline : '«LS MARAFON» спрей-пролонгатор 18мл',
        scaled   : true,
        colors   : [
            {color: '#e95741', label : 'Красный'},
            {color: '#f5cace', label : 'Розовый'},
            {color: '#fef374', label : 'Желтый'},
            {color: '#7d40e7', label : 'Фиолетовый'},
            {color: '#56b9f4', label : 'Голубой'}
        ]
    },
    {
        image : 8,
        label : {
            mod   : 'product-label--green',
            value : 'Новинка',
        },
        price : '1&thinsp;376',
        headline : 'Продлевающий гель-лубрикант',
        vendor : 'Арт. BI-210203'
    },
    {
        image : 9,
        price : '750',
        headline : 'Парный стимулятор Satisfyer Partner Multifun Magnum ESL Pro Covnertable SFX Z-Style HI-Tech Soft-touch Rubber Handle tool 2v-0001',
        rating : {width : 100, description: '4 отзыва'}
    },
    {
        image : 21,
        price : '3&nbsp;135',
        headline : 'Массажное масло с&nbsp;теплым цветочным ароматом BEWITCHING MASSAGE OIL (YESforLOV) 100мл',
        scaled   : true,
        sizes    : ['L/XL','XXL/XXXL']
    },
    {
        image : 10,
        price : '650',
        headline : 'Лубрикант с ароматом зелёного',
        rating : {width : 93, description: '3 отзыва'}
    },
    {
        image : 11,
        price : '4&thinsp;900',
        headline : 'Лубрикант Wicked Aqua Cherry Cordial',
        rating : {width : 93, description: '256 отзывов'}
    },
    {
        image : 12,
        price : '500',
        headline : 'Лубрикант Triple Pleasure',
        rating : {width : 93, description: '12 отзывов'}
    },
    {
        image : 13,
        price : '1&thinsp;376',
        headline : 'Лубрикант Wicked Aqua Cherry Cordial',
        rating : {width : 93, description: '4 отзыва'}
    },
    {
        label : {
        mod   : 'product-label--red',
        value : 'Хит продаж',
    },
        image : 14,
        price : '750',
        headline : 'Лубрикант Wicked Aqua Candy Apple',
        rating : { width : 93, description: '3 отзыва'}
    },
    {
        banner : true,
    },
    {
        image : 15,
        price : '950',
        headline : 'Лубрикант Personal Lubricant H2O Cooling',
        rating : { width : 93, description: '256 отзывов'}
    },
    {
        image : 16,
        price : '1&thinsp;376',
        headline : 'Гель-лубрикант AQUAglide с&nbsp;ароматом малины',
        rating : { width : 93, description: '256 отзывов'}
    },
    {
        image : 17,
        price : '850',
        headline : 'Лубрикант System JO&nbsp;Candy Shop Butterscotch',
        rating : { width : 93, description: '256 отзывов'}
    },
    {
        image : 18,
        price : '850',
        headline : 'Лубрикант Wicked Aqua Candy Apple',
        rating : { width : 93, description: '256 отзывов'}
    },
] %}
{% set filterTypes = [
    {checked : true, name    : 'product-type', value   : 'Все',},
    {name    : 'product-type', value   : 'Вакуумно-волновые',},
    {name    : 'product-type', value   : 'Пульсаторы',},
    {name    : 'product-type', value   : 'Массажеры',},
    {name    : 'product-type', value   : 'Фрикционные',},
    {name    : 'product-type', value   : 'С ротацией',},
    {name    : 'product-type', value   : 'Пульсаторы', hidden  : true,},
    {name    : 'product-type', value   : 'Массажеры', hidden  : true,},
    {name    : 'product-type', value   : 'Фрикционные', hidden  : true,},
]%}
{% set filterSizes = [
    {checked : true,name    : 'product-size', value   : 'Все',},
    {name    : 'product-size', value   : 'XL',},
    {name    : 'product-size', value   : 'XXL',},
]%}
{% set filterDiamter = [
    {checked : true, name    : 'product-diametr', value   : 'Все',},
    {name    : 'product-diametr', value   : 'До&nbsp;3&nbsp;см',},
    {name    : 'product-diametr', value   : '3-5&nbsp;см',},
    {name    : 'product-diametr', value   : 'Больше 5 см',},
]%}
{% set filterColor = [
    {controlMod : 'color-control--alternative', name    : 'product-color', color   : '#000000',},
    {controlMod : 'color-control--alternative', checked : true, name    : 'product-color', color   : '#757575',},
    {controlMod : 'color-control--alternative', name    : 'product-color', color   : '#eb5757',},
    {controlMod : 'color-control--alternative', name    : 'product-color', color   : '#27ae60',},
    {controlMod : 'color-control--alternative', name    : 'product-color', color   : '#2f80ed',},
    {controlMod : 'color-control--alternative', name    : 'product-color', color   : '#9b51e0',},
    {controlMod : 'color-control--alternative', name    : 'product-color', color   : '#f2994a',},
    {controlMod : 'color-control--alternative', name    : 'product-color', color   : '#56ccf2',},
    {controlMod : 'color-control--alternative', name    : 'product-color', color   : '#f2c94c',},
    {controlMod : 'color-control--alternative', name    : 'product-color', color   : '#e0e0e0',},
    {controlMod : 'color-control--alternative color-control--light', name    : 'product-color', color   : '#ffffff',},
]%}

{% block headline %}лубриканты{% endblock %}
{% block content %}
    <div class="promo-section">
        <div class="promo-section__row promo-section__row--video">
            {% include '../../templates/elements/video-block.twig' with {
                videoBlockMod : 'video-block--type-0',
                image         : 0,
                type          : 'Видео',
                url           : 'https://www.youtube.com/watch?v=EImMK6jHmZM',
                headline      : 'Обзор лучшего лубриканта 2020 года',
            } %}
        </div>
        <div class="promo-section__row promo-section__row--array">
            {% include '../../templates/elements/promo-section-element.twig' with {
                url      : './test.html',
                label    : 'Пройдите тест!',
                headline : 'Подбор интимной косметики',
            } %}
            {% include '../../templates/elements/promo-section-element.twig' with {
                url      : './article-page.html',
                label    : 'Статья',
                headline : 'Лубриканты',
            } %}
        </div>
    </div>
    <div id="js-sticky-navigation-parent" class="catalog-page js-catalog-filter">
        {% include '../../templates/includes/sticky-navigation.twig' with { categories : categories, hasHidden : true } %}
        <div id="js-sticky-navigation-anchor" class="catalog-content block-underlay">
            <div class="catalog-page__inside">
                <div class="product-filter">
                    <div class="product-filter-sort">
                        <div class="product-filter-sort__value">
                            <svg class="i" viewBox="0 0 29 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <line x1="1" y1="-1" x2="16" y2="-1" transform="matrix(1 0 0 -1 0 12)" stroke="#9E42DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <line x1="23.5" y1="1" x2="23.5" y2="13" stroke="#9E42DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <line x1="1" y1="-1" x2="10" y2="-1" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 6 6)" stroke="#9E42DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <line x1="1" y1="-1" x2="5" y2="-1" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 11 0)" stroke="#9E42DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M24.2426 14.2929L26.8284 11.7071C27.4584 11.0771 27.0122 10 26.1213 10H20.9498C20.0589 10 19.6127 11.0771 20.2427 11.7071L22.8284 14.2929C23.219 14.6834 23.8521 14.6834 24.2426 14.2929Z" fill="#9E42DC"/>
                            </svg>
                            <svg hidden class="i" viewBox="0 0 29 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <line x1="1" y1="1" x2="16" y2="1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <line x1="23.5" y1="1" x2="23.5" y2="13" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <line x1="7" y1="7" x2="16" y2="7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <line x1="12" y1="13" x2="16" y2="13" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M24.2426 14.2929L26.8284 11.7071C27.4584 11.0771 27.0122 10 26.1213 10H20.9497C20.0588 10 19.6127 11.0771 20.2426 11.7071L22.8284 14.2929C23.2189 14.6834 23.8521 14.6834 24.2426 14.2929Z" fill="#9E42DC"/>
                            </svg>
                            Популярные
                        </div>
                        <div class="product-filter-sort__dropdown">
                            <a href="javascript:void(0);" class="product-filter-sort__element borderless">Сначала дешевые</a>
                            <a href="javascript:void(0);" class="product-filter-sort__element borderless">Сначала дорогие</a>
                            <a href="javascript:void(0);" class="product-filter-sort__element borderless">По наличию скидки</a>
                            <a href="javascript:void(0);" class="product-filter-sort__element borderless">По названию</a>
                        </div>
                    </div>
                    <button class="product-filter-control js-catalog-filter-button" type="button">
                        <svg class="i" version="1.1" viewBox="0 0 6.3575 4.7625" xmlns="http://www.w3.org/2000/svg">
                            <g transform="translate(-125.33 -175.93)" stroke="#9e42dc" stroke-width=".52917">
                                <g stroke-linecap="round" stroke-linejoin="round">
                                    <line x1="125.6" x2="126.66" y1="176.99" y2="176.99"/>
                                    <line x1="125.6" x2="127.72" y1="179.64" y2="179.64"/>
                                    <line x1="129.57" x2="131.42" y1="176.99" y2="176.99"/>
                                    <line x1="130.36" x2="131.42" y1="179.64" y2="179.64"/>
                                </g>
                                <circle cx="127.45" cy="176.99" r=".79375" fill="none"/>
                                <circle cx="129.57" cy="179.64" r=".79375" fill="none"/>
                            </g>
                        </svg>
                        Фильтры
                    </button>
                </div>
                <div class="catalog-array">
                    {% for i in products %}
                        <div class="catalog-array__element">
                            {% if i.banner %}
                                <div class="banner">
                                    <a href="javascript:void(0);" class="banner__link borderless">
                                        <img
                                                src="assets/images/banner/image-0.jpg"
                                                srcset="assets/images/banner/image-0.jpg 1x, assets/images/banner/image-0-2x.jpg 2x"
                                                alt="">
                                    </a>
                                </div>
                            {% else %}
                                {% include '../../templates/elements/product-element.twig' with {
                                    inCart   : i.inCart,
                                    image    : i.image,
                                    label    : i.label,
                                    price    : i.price,
                                    discount : i.discount,
                                    headline : i.headline,
                                    rating   : i.rating,
                                    vendor   : i.vendor,
                                    scaled   : i.scaled,
                                    colors   : i.colors,
                                    sizes    : i.sizes,
                                } %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="catalog-filter js-accordions-non-collapsible">
                    <form action="/" method="POST" class="form js-catalog-filter-form">
                        <div class="accordion accordion--classic _expanded js-accordion">
                            <button class="accordion__button js-accordion-button" type="button">Тип</button>
                            <div class="accordion__body js-accordion-body">
                                <div class="catalog-filter-array load-more js-load-more" data-hideable>
                                    {% for i in filterTypes %}
                                        <div class="load-more__element {{ i.hidden ? 'load-more__element--hidden js-load-more-element'}}">
                                            {% include '../elements/default-control.twig' with {
                                                controlMod : 'default-control--gradient',
                                                type       : 'checkbox',
                                                checked    : i.checked,
                                                name       : i.name,
                                                value      : i.value,
                                            } %}
                                        </div>
                                    {% endfor %}
                                    <a href="javascript:void(0);" class="catalog-filter-array__more borderless js-load-more-button" data-expanded="скрыть" data-collapsed="показать еще 15">показать еще 15</a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion accordion--classic _expanded js-accordion">
                            <button class="accordion__button js-accordion-button" type="button">Размер</button>
                            <div class="accordion__body js-accordion-body">
                                <div class="catalog-filter-array">
                                    {% for i in filterSizes %}
                                        <div class="load-more__element">
                                            {% include '../elements/default-control.twig' with {
                                                controlMod : 'default-control--gradient',
                                                type       : 'checkbox',
                                                checked    : i.checked,
                                                name       : i.name,
                                                value      : i.value,
                                            } %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="accordion accordion--classic _expanded js-accordion">
                            <button class="accordion__button js-accordion-button" type="button">Диаметр</button>
                            <div class="accordion__body js-accordion-body">
                                <div class="catalog-filter-array">
                                    {% for i in filterDiamter %}
                                        <div class="load-more__element">
                                            {% include '../elements/default-control.twig' with {
                                                controlMod : 'default-control--gradient',
                                                type       : 'checkbox',
                                                checked    : i.checked,
                                                name       : i.name,
                                                value      : i.value,
                                            } %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="accordion accordion--classic _expanded js-accordion">
                            <button class="accordion__button js-accordion-button" type="button">Цвет</button>
                            <div class="accordion__body js-accordion-body">
                                <div class="catalog-filter-array">
                                    {% for i in filterColor %}
                                        <div class="load-more__element">
                                            {% include '../elements/color-control.twig' with {
                                                controlMod : i.controlMod,
                                                type       : 'checkbox',
                                                checked    : i.checked,
                                                name       : i.name,
                                                color      : i.color,
                                            } %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="accordion accordion--classic _expanded js-accordion">
                            <button class="accordion__button js-accordion-button" type="button">Цена</button>
                            <div class="accordion__body js-accordion-body">
                                {% include '../includes/price-range.twig' with {
                                    value : '100',
                                    from  : '1500',
                                    to    : '58000',
                                    min   : '500',
                                    max   : '240000'
                                } %}
                            </div>
                        </div>
                        <div class="accordion accordion--classic _expanded js-accordion">
                            <button class="accordion__button js-accordion-button" type="button">Кол-во скоростей вибрации</button>
                            <div class="accordion__body js-accordion-body">
                                {% include '../includes/price-range.twig' with {
                                    value : '1',
                                    from  : '16',
                                    to    : '23',
                                    min   : '1',
                                    max   : '35'
                                } %}
                            </div>
                        </div>
                        <div class="accordion accordion--classic _expanded js-accordion">
                            <button class="accordion__button js-accordion-button" type="button">Длина</button>
                            <div class="accordion__body js-accordion-body">
                                {% include '../includes/price-range.twig' with {
                                    value : '7',
                                    from  : '10',
                                    to    : '32',
                                    min   : '7',
                                    max   : '41'
                                } %}
                            </div>
                        </div>
                        <div class="catalog-filter__element">
                            {% include '../elements/control.twig' with {
                                controlMod : 'control--standalone',
                                type       : 'checkbox',
                                name       : 'filterControl',
                                value      : 'Параметр один',
                            } %}
                        </div>
                        <div class="catalog-filter__element">
                            {% include '../elements/control.twig' with {
                                controlMod : 'control--standalone',
                                type       : 'checkbox',
                                name       : 'filterControl1',
                                value      : 'Параметр два',
                            } %}
                        </div>
                        <div class="catalog-filter__controls">
                            <button class="catalog-filter__reset button button--sm button--w-100 button--grey button--500" type="reset">Сбросить фильтры</button>
                            <button class="catalog-filter__apply button button--sm button--w-100 button--500" type="submit">Применить</button>
                            <button class="catalog-filter__close button button--sm button--w-100 button--grey button--500 js-catalog-filter-close" type="button">Закрыть</button>
                        </div>
                    </form>
                </div>
            </div>
            {#<div class="product-array grid">
                {% for i in products %}
                    <div class="product-array__element grid-col grid-col--3 grid-col--m-4 grid-col--s-6">
                        {% include '../../templates/elements/product-element.twig' with {
                            inCart   : i.inCart,
                            image    : i.image,
                            label    : i.label,
                            price    : i.price,
                            discount : i.discount,
                            headline : i.headline,
                            rating   : i.rating,
                        } %}
                    </div>
                {% endfor %}
            </div>#}
            {% include '../../templates/includes/pagination.twig' %}
        </div>
    </div>
{% endblock %}
