<div class="auth-page">
    <form class="block-underlay block-underlay--boxed form">
        <header class="block-underlay__header">
            <h1 class="block-underlay__headline">Введите код</h1>
        </header>
        <div class="auth-code-verification">
            <p>Мы&nbsp;отправили код на <b>+7&nbsp;955 234-44-33</b></p>
            <p><a href="javascript:void(0);" class="borderless">Изменить</a></p>
            <div class="auth-code-verification__value js-auth-code-verification-value">
                <div class="auth-code-verification__fake-input">
                    <div class="auth-code-verification__marker js-auth-code-verification-marker"></div>
                    <div class="auth-code-verification__marker js-auth-code-verification-marker"></div>
                    <div class="auth-code-verification__marker js-auth-code-verification-marker"></div>
                    <div class="auth-code-verification__marker js-auth-code-verification-marker"></div>
                </div>
                <div class="auth-code-verification__true-input">
                    <input type="tel" id="js-auth-code-verification-input" class="auth-code-verification__input" maxlength="4"  autocomplete="one-time-code">
                </div>
            </div>
            <p class="auth-code-verification__prompt">Новый код можно получить через 50&nbsp;сек.</p>
            <p><a href="javascript:void(0);" class="borderless">Не&nbsp;приходит СМС?</a></p>
        </div>
    </form>
</div>