{% extends '../../templates/template-parts/page-template.twig' %}
{% set breadcrumbs = {
    links : [
        {
            url  : './profile.html',
            link : 'Личный кабинет',
        }
    ],
    last : 'Сравнение товаров'
} %}
{% set products = [
    {
        isComparison : true,
        image : 0,
        label : {
            mod   : 'product-label--green',
            value : 'Новинка',
        },
        price : '10&thinsp;200',
            discount : {
            price   : '12&thinsp;600',
            percent : '-5%'
        },
        headline : 'Вибратор Volta с раздвоенным кончиком',
        rating : { width : 85, description: '12 отзывов'}
    },
    {
        isComparison : true,
        image : 1,
        price : '6&thinsp;100',
        headline : 'Вибростимулятор Cookie',
        rating : {width : 100, description: '4 отзыва'}
    },
    {
        isComparison : true,
        image : 2,
        price : '16&thinsp;900',
        headline : 'Вибратор для пар We-Vibe Sync',
        rating : {width : 93, description: '3 отзыва'}
    },
    {
        isComparison : true,
        image : 3,
        price : '4&thinsp;900',
        headline : 'Парный стимулятор Satisfyer Partner Multifun 2',
        rating : {width : 93, description: '256 отзывов'}
    },
    {
        isComparison : true,
        image : 4,
        price : '4&thinsp;800',
        headline : 'Вибратор Gvibe Gpop 2',
        rating : {width : 93, description: '12 отзывов'}
    },
    {
        isComparison : true,
        image : 5,
        price : '7&thinsp;020',
        headline : 'Набор 10 Days of Play',
        rating : {width : 93, description: '4 отзыва'}
    },
    {
        isComparison : true,
        image : 6,
        price : '5&thinsp;299',
        headline : 'Gvibe Mini, Вибромассажёр',
        rating : { width : 93, description: '3 отзыва'}
    },
    {
        isComparison : true,
        image : 7,
        price : '8&thinsp;000',
        headline : 'Эрекционное кольцо WE-VIBE Pivot',
        rating : { width : 93, description: '256 отзывов'}
    },
] %}
{% set props = {
    0 : [
        {headline: 'Длина', value: '25,4&nbsp;см'},
        {headline: 'Длина', value: '15,3&nbsp;см'},
        {headline: 'Длина', value: '20,8&nbsp;см'},
        {headline: 'Длина', value: '25,4&nbsp;см'},
        {headline: 'Длина', value: '18,5&nbsp;см'},
        {headline: 'Длина', value: '19,5&nbsp;см'},
        {headline: 'Длина', value: '20&nbsp;см'},
        {headline: 'Длина', value: '1&nbsp;см'},
    ],
    1 : [
        {headline: 'Диаметр', value: '25,4&nbsp;см'},
        {headline: 'Диаметр', value: '25,4&nbsp;см'},
        {headline: 'Диаметр', value: '25,4&nbsp;см'},
        {headline: 'Диаметр', value: '25,4&nbsp;см'},
        {headline: 'Диаметр', value: '25,4&nbsp;см'},
        {headline: 'Диаметр', value: '25,4&nbsp;см'},
        {headline: 'Диаметр', value: '25,4&nbsp;см'},
        {headline: 'Диаметр', value: '25,4&nbsp;см'},
    ],
    2 : [
        {headline: 'Дистанционное управление', value: 'Беспроводное'},
        {headline: '&nbsp;', value: '&mdash;'},
        {headline: 'Дистанционное управление', value: 'Беспроводное'},
        {headline: 'Дистанционное управление', value: 'Беспроводное'},
        {headline: 'Дистанционное управление', value: 'Беспроводное'},
        {headline: 'Дистанционное управление', value: 'Беспроводное'},
        {headline: 'Дистанционное управление', value: 'Беспроводное'},
        {headline: 'Дистанционное управление', value: 'Беспроводное'},
    ],
    3 : [
        {headline: 'Материал', value: 'Силикон'},
        {headline: '', value: ''},
        {headline: 'Материал', value: 'Силикон'},
        {headline: 'Материал', value: 'Силикон'},
        {headline: 'Материал', value: 'Силикон'},
        {headline: 'Материал', value: 'Силикон'},
        {headline: 'Материал', value: 'Силикон'},
        {headline: 'Материал', value: 'Силикон'},
    ],
    4 : [
        {headline: 'Цвет', value: 'Черный'},
        {headline: '', value: ''},
        {headline: 'Цвет', value: 'Синий'},
        {headline: 'Цвет', value: 'Зеленый'},
        {headline: 'Цвет', value: 'Белый'},
        {headline: 'Цвет', value: 'Черный'},
        {headline: 'Цвет', value: 'Красный'},
        {headline: 'Цвет', value: 'Черный'},
    ],
    5 : [
        {headline: 'Вибрация', value: 'Да'},
        {headline: '', value: ''},
        {headline: 'Вибрация', value: 'Да'},
        {headline: 'Вибрация', value: 'Да'},
        {headline: 'Вибрация', value: 'Да'},
        {headline: 'Вибрация', value: 'Да'},
        {headline: 'Вибрация', value: 'Да'},
        {headline: 'Вибрация', value: 'Да'},
    ]
}%}

{% block headline %}Сравнение товаров{% endblock %}
{% block content %}
    <div class="block-underlay block-underlay--comparison">
        <div class="comparison-carousel carousel carousel--hidden js-comparison-carousel">
            {% for i in products %}
            <div class="comparison-carousel__element">
                {% include '../elements/product-element.twig' with {
                    isComparison : i.isComparison,
                    image      : i.image,
                    label      : i.label,
                    price      : i.price,
                    discount   : i.discount,
                    headline   : i.headline,
                    rating     : i.rating,
                } %}
            </div>
            {% endfor %}
        </div>
        <div class="comparison-tumbler">
            {% include '../elements/tumbler.twig' with {name : 'comparison-tumbler', value: 'Показать только отличия'} %}
        </div>
        {% for prop in props %}
            <div class="comparison-section carousel carousel--hidden js-comparison-section">
                <div class="comparison-carousel js-comparison-carousel-props">
                    {% for i in prop %}
                        <div class="comparison-carousel__element">
                            <h5 class="comparison-carousel__headline">{{ i.headline }}</h5>
                            <div class="comparison-carousel__value">{{ i.value }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <div class="comparison-control">
            <a href="javascript:void(0);" class="button button--m button--mobile-w-100 button--grey button--500">Удалить все товары</a>
        </div>
    </div>
{% endblock %}