{% extends '../../templates/template-parts/page-template.twig' %}
{% set breadcrumbs = {
    links : [
        {
            url  : './home.html',
            link : 'Главная',
        }
    ],
    last : 'Контакты'
} %}
{% set socialProps = [0,1,2,3] %}

{% block headline %}Контакты{% endblock %}
{% block content %}
    <div class="block-underlay">
        <div class="tabs js-tabs">
            <div class="tabs__list">
                <button data-tab-id="tab-online-store" class="tabs__element _active borderless js-tabs-button" type="button">Интернет-магазин</button>
                <button data-tab-id="tab-retail-stores" class="tabs__element borderless js-tabs-button js-yandex-map-trigger" data-yamap-id="js-contacts-map" type="button">Розничные магазины</button>
            </div>
            <div data-tab="tab-online-store" class="tabs__pane _active js-tabs-pane">
                <div class="contacts-element">
                    <div class="contacts-element__cell contacts-element__cell--location">
                        <div class="contacts-element__headline h4">Москва, Тверская застава 2с2</div>
                        <p>Круглосуточно</p>
                    </div>
                    <div class="contacts-element__cell contacts-element__cell--contacts">
                        <div class="contacts-element__headline h4">
                            <a href="tel:+79060110077" class="borderless">+7 (906) 011-00-77</a>
                        </div>
                        <p><a href="mailto:info@shpi-vi.ru" class="borderless">info@shpi-vi.ru</a></p>
                    </div>
                    <div class="contacts-element__cell contacts-element__cell--control">
                        <button class="button button--m button--mobile-w-100 button--grey button--500 js-toggle-block-button js-yandex-map-trigger" data-toggle-block="route-map" data-yamap-id="js-contacts-route-map" type="button">Как добраться</button>
                    </div>
                </div>
                <div id="route-map" class="yandex-map yandex-map--contacts js-yandex-map" hidden>
                    <div class="yandex-map__controls yandex-map__controls--left">
                        <button class="yandex-map__button js-ya-maps-zoom-in" type="button">
                            <svg class="i _zoom-in" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 4C12.5523 4 13 4.44772 13 5V19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19V5C11 4.44772 11.4477 4 12 4Z"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M4 12C4 11.4477 4.44772 11 5 11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H5C4.44772 13 4 12.5523 4 12Z"/>
                            </svg>
                        </button>
                        <button class="yandex-map__button js-ya-maps-zoom-out" type="button">
                            <svg class="i _zoom-out" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M4 12C4 11.4477 4.44772 11 5 11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H5C4.44772 13 4 12.5523 4 12Z"/>
                            </svg>
                        </button>
                    </div>
                    <div class="yandex-map__controls yandex-map__controls--right">
                        <a href="javascript:void(0);" class="yandex-map__button" target="_parent">
                            <svg class="i _fullscreen-in" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14 3C14 2.44772 14.4477 2 15 2H21C21.5523 2 22 2.44772 22 3V9C22 9.55228 21.5523 10 21 10C20.4477 10 20 9.55228 20 9V4H15C14.4477 4 14 3.55228 14 3Z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M3 14C3.55228 14 4 14.4477 4 15V20H9C9.55228 20 10 20.4477 10 21C10 21.5523 9.55228 22 9 22H3C2.44772 22 2 21.5523 2 21V15C2 14.4477 2.44772 14 3 14Z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M21.7071 2.29289C22.0976 2.68342 22.0976 3.31658 21.7071 3.70711L14.7071 10.7071C14.3166 11.0976 13.6834 11.0976 13.2929 10.7071C12.9024 10.3166 12.9024 9.68342 13.2929 9.29289L20.2929 2.29289C20.6834 1.90237 21.3166 1.90237 21.7071 2.29289Z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M10.7071 13.2929C11.0976 13.6834 11.0976 14.3166 10.7071 14.7071L3.70711 21.7071C3.31658 22.0976 2.68342 22.0976 2.29289 21.7071C1.90237 21.3166 1.90237 20.6834 2.29289 20.2929L9.29289 13.2929C9.68342 12.9024 10.3166 12.9024 10.7071 13.2929Z"/></svg>
                        </a>
                    </div>
                    <div id="js-contacts-route-map" class="yandex-map__container" data-lat="55.7753" data-lon="37.5841" data-zoom="14" data-route="route_0"></div>
                </div>
                <div class="contacts-description">
                    <p class="p--l">Наш офис не&nbsp;имеет отдельного шоурума и&nbsp;является местом обработки заказов, а&nbsp;также
                        пунктом самовывоза. При выборе способа доставки &laquo;самовывоз&raquo; вы&nbsp;можете приехать в&nbsp;рабочие
                        часы магазина и&nbsp;перед покупкой ознакомиться с&nbsp;товаром. Также все возвраты и&nbsp;гарантийные
                        ситуации рассматриваются в&nbsp;этом офисе.</p>
                    <div class="contacts-gallery js-photo-gallery">
                        <div class="contacts-gallery__element">
                            <a href="assets/images/contacts/gallery/image-0-2x.jpg" class="contacts-gallery__link">
                                <img
                                    src="assets/images/contacts/gallery/image-0.jpg"
                                    srcset="assets/images/contacts/gallery/image-0.jpg 1x, assets/images/contacts/gallery/image-0-2x.jpg 2x"
                                    alt="">
                            </a>
                        </div>
                        <div class="contacts-gallery__element">
                            <a href="assets/images/contacts/gallery/image-1-2x.jpg" class="contacts-gallery__link">
                                <img
                                        src="assets/images/contacts/gallery/image-1.jpg"
                                        srcset="assets/images/contacts/gallery/image-1.jpg 1x, assets/images/contacts/gallery/image-1-2x.jpg 2x"
                                        alt="">
                            </a>
                        </div>
                        <div class="contacts-gallery__element">
                            <a href="assets/images/contacts/gallery/image-2-2x.jpg" class="contacts-gallery__link">
                                <img
                                        src="assets/images/contacts/gallery/image-2.jpg"
                                        srcset="assets/images/contacts/gallery/image-2.jpg 1x, assets/images/contacts/gallery/image-2-2x.jpg 2x"
                                        alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div data-tab="tab-retail-stores" class="tabs__pane js-tabs-pane">
                <div class="contacts-description">
                    <div class="contacts-description__headline h4">Розничный магазин &laquo;Шпилли-Вилли и&nbsp;нефритовый жезл&raquo;&nbsp;&mdash; отдельный проект!</div>
                    <div class="contacts-description__body">
                        <p class="p--l">В&nbsp;нем свой ассортимент, часто пересекающийся, но&nbsp;не&nbsp;полностью
                            дублирующий ассортимент сайта. Цены в&nbsp;розничном магазине могут отличаться. Есть бонусная
                            программа&nbsp;&mdash; но&nbsp;она своя, не&nbsp;связанная с&nbsp;бонусной программой сайта. Там
                            вы&nbsp;можете получить профессиональную консультацию, потрогать секс-игрушки живьем, да&nbsp;и&nbsp;купить
                            вот прямо &laquo;здесь и&nbsp;сейчас&raquo;.</p>
                        <p class="p--l"> Розничный магазин никак не&nbsp;связан с&nbsp;заказами
                            на&nbsp;сайте, поэтому в&nbsp;нем вы&nbsp;не&nbsp;можете получить товар самовывозом или оформить
                            гарантийный случай.</p>
                    </div>
                    <div class="contacts-description__aside">
                        <div class="contacts-website">
                            <div class="contacts-website__label">Сайт проекта</div>
                            <a href="https://prezervativnaya.ru" class="contacts-website__link borderless" target="_blank">prezervativnaya.ru</a>
                            <a href="https://shpilli-shop.ru" class="contacts-website__link borderless" target="_blank">shpilli-shop.ru</a>
                        </div>
                    </div>
                </div>
                <div class="contacts-array">
                    <div class="contacts-element">
                        <div class="contacts-element__cell contacts-element__cell--location">
                            <div class="contacts-element__headline h4">Москва, Мясницкая&nbsp;16</div>
                            <p>Круглосуточно</p>
                        </div>
                        <div class="contacts-element__cell contacts-element__cell--contacts">
                            <div class="contacts-element__headline h4">
                                <a href="tel:+79257188671" class="borderless">+7 (925) 71-886-71</a>
                            </div>
                            <p><a href="mailto: info@prezervativnaya.ru" class="borderless">info@prezervativnaya.ru</a></p>
                        </div>
                        <div class="contacts-element__cell contacts-element__cell--description">
                            <p class="p--l">Как доехать на&nbsp;машине: ориентируйтесь в&nbsp;навигаторе на&nbsp;&laquo;Кривоколенный, дом&nbsp;3&raquo;</p>
                        </div>
                    </div>
                    <div class="contacts-element">
                        <div class="contacts-element__cell contacts-element__cell--location">
                            <div class="contacts-element__headline h4">Москва, Арбат 4с1</div>
                            <p>с&nbsp;10:00 до&nbsp;00:00, ежедневно</p>
                        </div>
                        <div class="contacts-element__cell contacts-element__cell--contacts">
                            <div class="contacts-element__headline h4">
                                <a href="tel:+79060202080" class="borderless">+7 (906) 020-20-80</a>
                            </div>
                            <p><a href="mailto:info@prezervativnaya.ru" class="borderless">info@prezervativnaya.ru</a></p>
                        </div>
                    </div>
                    <div class="contacts-element">
                        <div class="contacts-element__cell contacts-element__cell--location">
                            <div class="contacts-element__headline h4">Тверская Застава, 2, стр.&nbsp;2</div>
                            <p>с&nbsp;9:00 до&nbsp;21:00</p>
                        </div>
                        <div class="contacts-element__cell contacts-element__cell--contacts">
                            <div class="contacts-element__headline h4">
                                <a href="tel:+79060202080" class="borderless">+7 (906) 020-20-80</a>
                            </div>
                            <p><a href="mailto:info@shpi-vi.ru" class="borderless">info@shpi-vi.ru</a></p>
                        </div>
                    </div>
                </div>
                <div class="yandex-map yandex-map--contacts js-yandex-map">
                    {#<div class="yandex-map__controls yandex-map__controls--left">
                        <button class="yandex-map__button js-ya-maps-zoom-in" type="button">
                            <svg class="i _zoom-in" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 4C12.5523 4 13 4.44772 13 5V19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19V5C11 4.44772 11.4477 4 12 4Z"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M4 12C4 11.4477 4.44772 11 5 11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H5C4.44772 13 4 12.5523 4 12Z"/>
                            </svg>
                        </button>
                        <button class="yandex-map__button js-ya-maps-zoom-out" type="button">
                            <svg class="i _zoom-out" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M4 12C4 11.4477 4.44772 11 5 11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H5C4.44772 13 4 12.5523 4 12Z"/>
                            </svg>
                        </button>
                    </div>#}
                    <div class="yandex-map__controls yandex-map__controls--right">
                        <a href="javascript:void(0);" class="yandex-map__button" target="_parent">
                            <svg class="i _fullscreen-in" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14 3C14 2.44772 14.4477 2 15 2H21C21.5523 2 22 2.44772 22 3V9C22 9.55228 21.5523 10 21 10C20.4477 10 20 9.55228 20 9V4H15C14.4477 4 14 3.55228 14 3Z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M3 14C3.55228 14 4 14.4477 4 15V20H9C9.55228 20 10 20.4477 10 21C10 21.5523 9.55228 22 9 22H3C2.44772 22 2 21.5523 2 21V15C2 14.4477 2.44772 14 3 14Z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M21.7071 2.29289C22.0976 2.68342 22.0976 3.31658 21.7071 3.70711L14.7071 10.7071C14.3166 11.0976 13.6834 11.0976 13.2929 10.7071C12.9024 10.3166 12.9024 9.68342 13.2929 9.29289L20.2929 2.29289C20.6834 1.90237 21.3166 1.90237 21.7071 2.29289Z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M10.7071 13.2929C11.0976 13.6834 11.0976 14.3166 10.7071 14.7071L3.70711 21.7071C3.31658 22.0976 2.68342 22.0976 2.29289 21.7071C1.90237 21.3166 1.90237 20.6834 2.29289 20.2929L9.29289 13.2929C9.68342 12.9024 10.3166 12.9024 10.7071 13.2929Z"/></svg>
                        </a>
                    </div>
                    {#<div id="js-contacts-map" class="yandex-map__container" data-lat="55.7596" data-lon="37.6168" data-zoom="14" data-route="route_1"></div>#}
                    <div class="yandex-map__container">
                        <iframe src="https://yandex.ru/map-widget/v1/-/CCUEEYWTlB" allowfullscreen="true"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-underlay">
        <h2>Дружите с&nbsp;нами в&nbsp;соц.&nbsp;сетях</h2>
        {% include '../includes/social-networks-full.twig' with {socialMod : 'social-networks--colored' } %}
        <div class="social-subscription">
            <h4 class="social-subscription__headline">Подписывайтесь на&nbsp;нас в&nbsp;Instagram</h4>
            <div class="social-subscription__props">
                {% for i in socialProps %}
                    <div class="social-subscription__prop">
                        <a href="javascript:void(0);" class="social-subscription__prop-link borderless" target="_blank">
                            <img
                                    src="assets/images/instagram/image-{{ i }}.jpg"
                                    srcset="assets/images/instagram/image-{{ i }}.jpg 1x, assets/images/instagram/image-{{ i }}-2x.jpg 2x"
                                    alt="">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="block-underlay">
        <h2>Реквизиты</h2>
        <div class="contacts-requisites">
            <div class="contacts-requisites__element">ИП&nbsp;Войдаков Дмитрий Евгеньевич</div>
            <div class="contacts-requisites__element">ИНН: 772480243400</div>
            <div class="contacts-requisites__element">ОГРНИП: 319774600456947</div>
            <div class="contacts-requisites__element">115477, Москва, ул. Кантемировская, д.&nbsp;39, кв.&nbsp;87</div>
            <div class="contacts-requisites__element">Р/сч: 40802810200001190110</div>
            <div class="contacts-requisites__element">АО&nbsp;&laquo;Тинькофф Банк&raquo;</div>
            <div class="contacts-requisites__element">БИК: 044525974</div>
        </div>
    </div>

    <script>
        window.yamapsRoute = {
            route_0 : [
                {
                    coords : [
                        [55.775355, 37.582642],
                        [55.744568, 37.60118]
                    ]
                }
            ],
            route_1 : [
                {
                    coords : [
                        [55.760925, 37.632511],
                        [55.752019, 37.598348]
                    ]
                }
            ],
        };
    </script>
{% endblock %}
