{% extends '../../templates/template-parts/page-template.twig' %}
{% set pageMod = 'page--profile' %}
{% set headerless = true %}
{% set breadcrumbs = {
    links : [
        {
            url  : './profile.html',
            link : 'Личный кабинет',
        }
    ],
    last : 'Мои скидки и бонусы'
} %}
{% set table = [
    {
        mod      : 'discount-table__row--disabled',
        sum      : '2&thinsp;500',
        discount : '3',
    },
    {
        mod      : 'discount-table__row--disabled',
        sum      : '4&thinsp;000',
        discount : '4',
    },
    {
        mod      : 'discount-table__row--disabled',
        sum      : '5&thinsp;500',
        discount : '5',
    },
    {
        mod      : 'discount-table__row--disabled',
        sum      : '7&thinsp;000',
        discount : '6',
    },
    {
        mod      : 'discount-table__row--current',
        sum      : '9&thinsp;000',
        discount : '7',
    },
    {
        sum      : '11&thinsp;000',
        discount : '8',
    },
    {
        sum      : '13&thinsp;000',
        discount : '9',
    },
    {
        sum      : '15&thinsp;000',
        discount : '10',
    },
    {
        sum      : '25&thinsp;000',
        discount : '11',
    },
    {
        sum      : '35&thinsp;000',
        discount : '12',
    },
]%}

{% block content %}
    <div class="profile-page grid">
        <div class="profile-page__aside grid-col grid-col--3 grid-col--sl-4  grid-col--m-12 grid-col--s-12">
            {% include '../template-parts/aside-navigation.twig' %}
        </div>
        <div class="profile-page__body grid-col grid-col--9 grid-col--sl-8  grid-col--m-12 grid-col--s-12">
            <div class="block-underlay">
                <header class="block-underlay__header">
                    {% include '../includes/breadcrumbs.twig' with { array : breadcrumbs } %}
                    <h1 class="block-underlay__headline">Мои скидки и&nbsp;бонусы</h1>
                </header>
                <div class="discount-array">
                    <div class="discount-array__element">
                        <div class="discount-array__element-label">Скидка</div>
                        <div class="discount-array__element-value">7%</div>
                    </div>
                    <div class="discount-array__element">
                        <div class="discount-array__element-label">Бонусы</div>
                        <div class="discount-array__element-value">350&nbsp;&#8381;</div>
                    </div>
                </div>
                <div class="discount-message">3&nbsp;245&nbsp;₽ до&nbsp;увеличения скидки до&nbsp;8%</div>
                <div class="discount-controls">
                    <a href="javascript:void(0);" class="button button--m button--grey button--500">Как получить бонусные рубли</a>
                    <a href="javascript:void(0);" class="button button--m button--grey button--500">Написать отзывы</a>
                </div>
            </div>
            <div class="block-underlay discount-table">
                <div class="discount-table__total-orders">Объем заказов&nbsp;&mdash; 10&nbsp;500&nbsp;&#8381;</div>
                {% for i in table %}
                    <div class="discount-table__row {{ i.mod }}">
                        <div class="discount-table__row-sum">{{ i.sum }}&nbsp;&#8381;</div>
                        <div class="discount-table__row-discount">{{ i.discount }}%</div>
                    </div>
                {% endfor %}
                <div class="discount-table__prompt">Скидка действует со&nbsp;следующей покупки.</div>
            </div>
        </div>
    </div>
{% endblock %}