{% set breadcrumbs = {
    links : [
        {
            url  : './home.html',
            link : 'Главная',
        },
        {
            url  : './home.html',
            link : 'Для женщин',
        },
        {
            url  : './home.html',
            link : 'Вибраторы и&nbsp;вибро-яйца',
        },
        {
            url  : './faq.html',
            link : 'Вопросы о категории «Вибраторы и вибро-яйца»',
        }
    ],
    last : 'Какой производитель самый надежный?'
} %}
{% set components = [
    {
        answer : [
            {
                headline : 'Я&nbsp;не&nbsp;так давно пользуюсь данными игрушками, но&nbsp;считаю, что B-vibe самые лучше на&nbsp;рынке.',
                author: {
                    name: 'Лена',
                    date: '05.12.2020',
                },
                useful: 'Попезный ответ',
                like : {
                    mod : 'like-dislike--green',
                    value : '+5'
                }
            }
        ]
    },
    {
        answer : [
            {
                headline : 'Есть марка Baile, отичное соотношение цена-качество, рекомендую!',
                author: {
                    name: 'Аноним',
                    date: '05.12.2020',
                },
                answers : 2,
                like : {
                    mod : 'like-dislike--red',
                    value : '-1'
                }
            },
            {
                mod      : 'faq-answer--dark',
                headline : 'Полностью согластны, так&nbsp;же рекомендуем присмотреться к&nbsp;бренду B-vibe. Доступно и&nbsp;качественно!',
                author: {
                    logo: true,
                    name: 'Шпи-ви',
                    date: '05.12.2020',
                },
                answers : 1,
                like : {
                    mod : 'like-dislike--green',
                    value : '+1'
                }
            },
            {
                mod      : 'faq-answer--dark',
                headline : 'Спасибо, обязательно посмотрю.',
                author: {
                    logoRespond : true,
                    name: 'Аноним',
                    date: '05.12.2020',
                },
                like : {
                    mod : 'like-dislike--green',
                    value : '+2'
                }
            },
        ]
    },
    {
        answer : [
            {
                headline : 'Незнаю как вам а&nbsp;мне очень нравится продукция компании Black&amp;Red by&nbsp;Toyfa. Всегда приятный материал отличного качества.',
                author: {
                    name: 'Аноним',
                    date: '05.12.2020',
                },
                answers : 3,
                like : {
                    mod : 'like-dislike--red',
                    value : '-2'
                }
            }
        ]
    },
    {
        answer : [
            {
                headline : 'Я&nbsp;покупала для себя We&nbsp;Vibe Sync&nbsp;&mdash; это скорей всего лучший вибратор, который есть на&nbsp;сегодняшний день в&nbsp;продаже.',
                author: {
                    name: 'Аноним',
                    date: '05.12.2020',
                },
                answers : 2,
                like : {
                    mod : 'like-dislike--green',
                    value : '+1'
                }
            }
        ]
    },
    {
        answer : [
            {
                headline : 'Doxy прям топ&nbsp;1, великолепные игрушки)',
                author: {
                    name: 'Аноним',
                    date: '05.12.2020',
                },
                answers : 1,
                like : {
                    mod : 'like-dislike--green',
                    value : '+1'
                }
            }
        ]
    },
    {
        answer : [
            {
                headline : 'А&nbsp;какой у&nbsp;вас бюджет? Этот фактор немаловажен.',
                author: {
                    name: 'Аноним',
                    date: '05.12.2020',
                },
                like : {
                    mod : 'like-dislike--green',
                    value : '+1'
                }
            }
        ]
    },
    {
        answer : [
            {
                headline : 'Мне по&nbsp;душе Вибратор-кролик Jazz от&nbsp;Romp.',
                author: {
                    name: 'Аноним',
                    date: '05.12.2020',
                },
                like : {
                    mod : 'like-dislike--green',
                    value : '+1'
                }
            }
        ]
    },
    {
        answer : [
            {
                headline : 'Мне по&nbsp;душе Вибратор-кролик Jazz от&nbsp;Romp.',
                author: {
                    name: 'Аноним',
                    date: '05.12.2020',
                },
                like : {
                    mod : 'like-dislike--red',
                    value : '-2'
                }
            }
        ]
    },
    {
        answer : [
            {
                headline : 'Мне китайцы LeFrivole зашли, недорого и&nbsp;качество неплохое.',
                author: {
                    name: 'Аноним',
                    date: '05.12.2020',
                },
                like : {
                    mod : 'like-dislike--red',
                    value : '-1'
                }
            }
        ]
    },
    {
        answer : [
            {
                headline : 'Если позволяет бюджет я&nbsp;бы взяла что-то от&nbsp;компании MysteryVibe.',
                author: {
                    name: 'Аноним',
                    date: '05.12.2020',
                },
                like : {
                    mod : 'like-dislike--red',
                    value : '-1'
                }
            }
        ]
    },
]%}
{% set products = [
    {
        image : 26,
        price : '10&thinsp;200',
        discount : {
            price   : '12&thinsp;600',
            percent : '-5%'
        },
        headline : 'Вибратор Volta с&nbsp;раздвоенным кончиком',
    },
    {
        image : 27,
        price : '6&thinsp;100',
        headline : 'Вибростимулятор Cookie',
    },
    {
        image : 28,
        price : '16&thinsp;900',
        headline : 'Вибратор для пар We-Vibe Sync',
    },
    {
        image : 29,
        price : '4&thinsp;900',
        headline : 'Парный стимулятор Satisfyer Partner Multifun 2',
    },
    {
        image : 30,
        price : '4&thinsp;800',
        headline : 'Вибратор Gvibe Gpop 2',
    },
    {
        image : 31,
        price : '7&thinsp;020',
        headline : 'Набор 10 Days of Play',
    },
    {
        image : 27,
        price : '5&thinsp;299',
        headline : 'Gvibe Mini, Вибромассажёр',
    },
    {
        image : 29,
        price : '8&thinsp;000',
        headline : 'Эрекционное кольцо WE-VIBE Pivot',
    },
]%}
{% set questions = [
    {
        headline: 'Можно&nbsp;ли брать самый дешевый вариант или стоит переплачивать?',
        answers : '4 ответа',
        useful  : 'Попезный ответ',
        likes   : {
            mod : 'like-dislike--green',
            value : '+12',
        }
    },
    {
        headline: 'Посоветуйте, пожалуйста, что-нибудь для первого опыта?',
        answers : '13 ответов',
        likes   : {
            mod : 'like-dislike--green',
            value : '+3',
        }
    },
    {
        headline: 'Какой сейчас лучше по&nbsp;соотношению цена качество?',
        answers : '3 ответа',
        likes   : {
            mod : 'like-dislike--green',
            value : '+1',
        }
    },
    {
        headline: 'Подскажите инструмент без перебоев в работе, был неудачный опыт.',
        answers : '2 ответа',
        likes   : {
            mod : 'like-dislike--green',
            value : '+1',
        }
    },
    {
        headline: 'Какими игрушками вы&nbsp;пользуетесь?',
        answers : '1 ответ',
        likes   : {
            mod : 'like-dislike--green',
            value : '+1',
        }
    },
]%}

<div class="faq-page faq-page--detail">
    <div class="container">
        <div class="block-underlay faq-page__body">
            <div class="faq-page__aside">
                <div class="faq-page__category faq-page__category--desktop">
                    <div class="faq-page__category-icon">
                        <svg class="i" width="151" height="109" viewBox="0 0 151 109" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M89.3922 83.7012C87.4631 85.7642 85.632 87.8165 84.3449 89.3009C69.4308 106.501 88.2429 107.442 95.1282 103.593C97.8404 102.077 100.421 100.427 102.875 98.6667M89.3922 83.7012C92.8065 80.0499 96.9115 76.8462 98.0834 75.7367C100.543 73.4082 103.741 69.8139 101.581 65.1192C98.8815 59.2509 92.9007 41.5634 98.2875 38.3372C99.1438 37.8242 101.242 36.9863 102.94 37.0377C104.383 37.0814 105.86 37.5739 107.184 38.7679C109.957 41.2677 112.065 46.8425 111.804 57.811C111.526 63.5352 112.543 70.9745 118.828 54.9379C121.97 46.9197 124.405 42.1262 122.784 30.1134C118.15 2.57792 147.565 -7.70281 144.078 31.1443C141.59 46.3158 129.958 79.234 102.875 98.6667M89.3922 83.7012L102.875 98.6667" stroke="#9E42DC" stroke-linecap="round" stroke-linejoin="round"/>
                            <path opacity="0.1" d="M128.431 29.2157C123.797 1.68021 153.212 -8.60052 149.725 30.2466C147.237 45.4181 135.605 78.3363 108.522 97.769C106.068 99.5296 103.488 101.18 100.775 102.696C93.8901 106.544 75.078 105.603 89.9921 88.4032C91.2792 86.9188 93.1103 84.8665 95.0395 82.8035C98.4538 79.1522 102.559 75.9485 103.731 74.8389C106.19 72.5105 109.388 68.9162 107.228 64.2215C104.529 58.3532 98.5479 40.6657 103.935 37.4394C104.791 36.9265 106.889 36.0886 108.588 36.14C110.031 36.1836 111.507 36.6761 112.832 37.8702C115.605 40.37 117.712 45.9448 117.451 56.9132C117.174 62.6375 118.19 70.0768 124.475 54.0402C127.617 46.022 130.053 41.2285 128.431 29.2157Z" fill="#9E42DC"/>
                            <path d="M28.8036 13.7836C28.8036 13.7966 28.8041 13.8097 28.8051 13.8227C29.0649 17.1336 27.1724 20.6842 24.4158 23.3565C21.6526 26.0353 18.1676 27.6913 15.4088 27.393C11.7122 26.9932 8.99835 25.4396 7.14882 23.0873C5.29291 20.7267 4.2756 17.5205 4.06348 13.7696C4.06521 9.92389 4.78057 7.18432 6.47856 5.39551C8.17356 3.60986 10.9535 2.66211 15.355 2.66211C23.0638 2.66211 28.8036 7.99241 28.8036 13.7836Z" stroke="#757575" stroke-linecap="round" stroke-linejoin="round"/>
                            <path opacity="0.1" d="M27.1701 11.6214C27.7527 18.6556 18.7167 26.3704 12.4467 25.728C4.38455 24.9019 0.452268 19.2728 0 11.6214C0 3.83064 3.03578 0 12.4467 0C20.795 0 27.1701 5.48394 27.1701 11.6214Z" fill="#9E42DC"/>
                            <mask id="path-5-inside-1" fill="white">
                                <path d="M27.1752 24.8644C31.4897 20.5875 38.4544 20.618 42.7314 24.9325L57.4473 39.7777L72.9557 59.1577C75.9266 62.8702 75.7744 68.1874 72.596 71.7238C69.1337 75.5763 63.2582 76.0356 59.2393 72.7679L39.9711 57.1017L25.2552 42.2564C20.9783 37.9419 21.0087 30.9772 25.3232 26.7002L27.1752 24.8644Z"/>
                            </mask>
                            <path d="M39.9711 57.1017L39.2609 57.8057L39.2986 57.8437L39.3402 57.8776L39.9711 57.1017ZM57.4473 39.7777L58.2281 39.1529C58.2059 39.1253 58.1824 39.0988 58.1575 39.0737L57.4473 39.7777ZM59.2393 72.7679L59.8701 71.992L59.2393 72.7679ZM26.0272 27.4104L27.8792 25.5746L26.4712 24.1542L24.6192 25.9901L26.0272 27.4104ZM59.8701 71.992L40.6019 56.3258L39.3402 57.8776L58.6084 73.5438L59.8701 71.992ZM40.6813 56.3976L25.9654 41.5524L24.545 42.9604L39.2609 57.8057L40.6813 56.3976ZM42.0212 25.6365L56.7371 40.4817L58.1575 39.0737L43.4416 24.2285L42.0212 25.6365ZM56.6665 40.4025L72.175 59.7825L73.7365 58.5329L58.2281 39.1529L56.6665 40.4025ZM24.6192 25.9901C19.9125 30.6558 19.8792 38.2537 24.545 42.9604L25.9654 41.5524C22.0773 37.6301 22.105 31.2986 26.0272 27.4104L24.6192 25.9901ZM71.8523 71.0554C68.7463 74.5113 63.4754 74.9234 59.8701 71.992L58.6084 73.5438C63.0409 77.1478 69.5212 76.6412 73.3398 72.3923L71.8523 71.0554ZM73.3398 72.3923C76.8453 68.4918 77.0131 62.6275 73.7365 58.5329L72.175 59.7825C74.8401 63.113 74.7035 67.8829 71.8523 71.0554L73.3398 72.3923ZM27.8792 25.5746C31.8015 21.6865 38.1331 21.7142 42.0212 25.6365L43.4416 24.2285C38.7758 19.5217 31.1779 19.4885 26.4712 24.1542L27.8792 25.5746Z" fill="#757575" mask="url(#path-5-inside-1)"/>
                            <circle cx="37.2015" cy="37.2319" r="5.94138" stroke="#666666" stroke-linejoin="round"/>
                            <rect x="37.0192" y="28.4922" width="21.3972" height="11.4018" rx="5.70091" transform="rotate(45.8074 37.0192 28.4922)" stroke="#666666"/>
                            <path d="M67.6681 74.2471L68.8618 75.4408C70.7352 77.3142 73.7725 77.3142 75.6459 75.4408V75.4408C77.5192 73.5674 77.5192 70.5301 75.6459 68.6567L74.4522 67.463" stroke="#666666"/>
                            <line x1="21.2916" y1="25.0665" x2="24.7745" y2="28.6107" stroke="#757575" stroke-linecap="round"/>
                            <line x1="25.8481" y1="20.2147" x2="29.6818" y2="23.9626" stroke="#757575" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <div class="faq-page__category-headline">Вибраторы и&nbsp;вибро-яйца</div>
                    <a href="javascript:void(0);" class="faq-page__category-link borderless">Каталог товаров</a>
                </div>
                <div class="faq-page__section">
                    <div class="faq-page__section-headline h2">Другие вопросы</div>
                    {% for i in questions %}
                        {% include '../elements/faq-question-mini.twig' with {
                            headline : i.headline,
                            answers  : i.answers,
                            useful   : i.useful,
                            likes    : i.likes
                        } %}
                    {% endfor %}
                </div>
            </div>
            <div class="faq-page__content">
                <header class="faq-page__header">
                    {% include '../includes/breadcrumbs.twig' with { array : breadcrumbs } %}
                    <div class="faq-page__category faq-page__category--mobile">
                        <div class="faq-page__category-icon">
                            <svg class="i" width="151" height="109" viewBox="0 0 151 109" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M89.3922 83.7012C87.4631 85.7642 85.632 87.8165 84.3449 89.3009C69.4308 106.501 88.2429 107.442 95.1282 103.593C97.8404 102.077 100.421 100.427 102.875 98.6667M89.3922 83.7012C92.8065 80.0499 96.9115 76.8462 98.0834 75.7367C100.543 73.4082 103.741 69.8139 101.581 65.1192C98.8815 59.2509 92.9007 41.5634 98.2875 38.3372C99.1438 37.8242 101.242 36.9863 102.94 37.0377C104.383 37.0814 105.86 37.5739 107.184 38.7679C109.957 41.2677 112.065 46.8425 111.804 57.811C111.526 63.5352 112.543 70.9745 118.828 54.9379C121.97 46.9197 124.405 42.1262 122.784 30.1134C118.15 2.57792 147.565 -7.70281 144.078 31.1443C141.59 46.3158 129.958 79.234 102.875 98.6667M89.3922 83.7012L102.875 98.6667" stroke="#9E42DC" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.1" d="M128.431 29.2157C123.797 1.68021 153.212 -8.60052 149.725 30.2466C147.237 45.4181 135.605 78.3363 108.522 97.769C106.068 99.5296 103.488 101.18 100.775 102.696C93.8901 106.544 75.078 105.603 89.9921 88.4032C91.2792 86.9188 93.1103 84.8665 95.0395 82.8035C98.4538 79.1522 102.559 75.9485 103.731 74.8389C106.19 72.5105 109.388 68.9162 107.228 64.2215C104.529 58.3532 98.5479 40.6657 103.935 37.4394C104.791 36.9265 106.889 36.0886 108.588 36.14C110.031 36.1836 111.507 36.6761 112.832 37.8702C115.605 40.37 117.712 45.9448 117.451 56.9132C117.174 62.6375 118.19 70.0768 124.475 54.0402C127.617 46.022 130.053 41.2285 128.431 29.2157Z" fill="#9E42DC"/>
                                <path d="M28.8036 13.7836C28.8036 13.7966 28.8041 13.8097 28.8051 13.8227C29.0649 17.1336 27.1724 20.6842 24.4158 23.3565C21.6526 26.0353 18.1676 27.6913 15.4088 27.393C11.7122 26.9932 8.99835 25.4396 7.14882 23.0873C5.29291 20.7267 4.2756 17.5205 4.06348 13.7696C4.06521 9.92389 4.78057 7.18432 6.47856 5.39551C8.17356 3.60986 10.9535 2.66211 15.355 2.66211C23.0638 2.66211 28.8036 7.99241 28.8036 13.7836Z" stroke="#757575" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.1" d="M27.1701 11.6214C27.7527 18.6556 18.7167 26.3704 12.4467 25.728C4.38455 24.9019 0.452268 19.2728 0 11.6214C0 3.83064 3.03578 0 12.4467 0C20.795 0 27.1701 5.48394 27.1701 11.6214Z" fill="#9E42DC"/>
                                <mask id="path-5-inside-1" fill="white">
                                    <path d="M27.1752 24.8644C31.4897 20.5875 38.4544 20.618 42.7314 24.9325L57.4473 39.7777L72.9557 59.1577C75.9266 62.8702 75.7744 68.1874 72.596 71.7238C69.1337 75.5763 63.2582 76.0356 59.2393 72.7679L39.9711 57.1017L25.2552 42.2564C20.9783 37.9419 21.0087 30.9772 25.3232 26.7002L27.1752 24.8644Z"/>
                                </mask>
                                <path d="M39.9711 57.1017L39.2609 57.8057L39.2986 57.8437L39.3402 57.8776L39.9711 57.1017ZM57.4473 39.7777L58.2281 39.1529C58.2059 39.1253 58.1824 39.0988 58.1575 39.0737L57.4473 39.7777ZM59.2393 72.7679L59.8701 71.992L59.2393 72.7679ZM26.0272 27.4104L27.8792 25.5746L26.4712 24.1542L24.6192 25.9901L26.0272 27.4104ZM59.8701 71.992L40.6019 56.3258L39.3402 57.8776L58.6084 73.5438L59.8701 71.992ZM40.6813 56.3976L25.9654 41.5524L24.545 42.9604L39.2609 57.8057L40.6813 56.3976ZM42.0212 25.6365L56.7371 40.4817L58.1575 39.0737L43.4416 24.2285L42.0212 25.6365ZM56.6665 40.4025L72.175 59.7825L73.7365 58.5329L58.2281 39.1529L56.6665 40.4025ZM24.6192 25.9901C19.9125 30.6558 19.8792 38.2537 24.545 42.9604L25.9654 41.5524C22.0773 37.6301 22.105 31.2986 26.0272 27.4104L24.6192 25.9901ZM71.8523 71.0554C68.7463 74.5113 63.4754 74.9234 59.8701 71.992L58.6084 73.5438C63.0409 77.1478 69.5212 76.6412 73.3398 72.3923L71.8523 71.0554ZM73.3398 72.3923C76.8453 68.4918 77.0131 62.6275 73.7365 58.5329L72.175 59.7825C74.8401 63.113 74.7035 67.8829 71.8523 71.0554L73.3398 72.3923ZM27.8792 25.5746C31.8015 21.6865 38.1331 21.7142 42.0212 25.6365L43.4416 24.2285C38.7758 19.5217 31.1779 19.4885 26.4712 24.1542L27.8792 25.5746Z" fill="#757575" mask="url(#path-5-inside-1)"/>
                                <circle cx="37.2015" cy="37.2319" r="5.94138" stroke="#666666" stroke-linejoin="round"/>
                                <rect x="37.0192" y="28.4922" width="21.3972" height="11.4018" rx="5.70091" transform="rotate(45.8074 37.0192 28.4922)" stroke="#666666"/>
                                <path d="M67.6681 74.2471L68.8618 75.4408C70.7352 77.3142 73.7725 77.3142 75.6459 75.4408V75.4408C77.5192 73.5674 77.5192 70.5301 75.6459 68.6567L74.4522 67.463" stroke="#666666"/>
                                <line x1="21.2916" y1="25.0665" x2="24.7745" y2="28.6107" stroke="#757575" stroke-linecap="round"/>
                                <line x1="25.8481" y1="20.2147" x2="29.6818" y2="23.9626" stroke="#757575" stroke-linecap="round"/>
                            </svg>
                        </div>
                        <div class="faq-page__category-headline">Вибраторы и&nbsp;вибро-яйца</div>
                        <a href="javascript:void(0);" class="faq-page__category-link borderless">Каталог товаров</a>
                    </div>
                    <h1 class="faq-page__headline h1">Какой производитель самый надежный?</h1>
                    <div class="faq-page__brief">
                        <div class="faq-page__brief-row">
                            <div class="faq-page__author">
                                <div class="faq-page__author-name">Лена</div>
                                <div class="faq-page__author-date">05.12.2020</div>
                            </div>
                        </div>
                        <div class="faq-page__brief-row">
                            <div class="faq-page__useful">Популярный вопрос</div>
                            {% include '../includes/like-dislike.twig' with {
                                noDislike : true,
                                mod       : 'like-dislike--green',
                                value     : '+5'
                            } %}
                        </div>
                    </div>
                    <form action="/" method="POST" class="search-bar">
                        {% include '../elements/input.twig' with {
                            type  : 'text',
                            name  : 'SHARE_EXPERIENCE',
                            label : 'Поделитесь своим опытом'
                        } %}
                        <button class="button" type="submit">Ответить</button>
                    </form>
                </header>
                <div class="faq-list">
                    <div class="faq-list__headline h2">32 ответа</div>
                    {% for i in components %}
                        {% include '../elements/faq-component.twig' with {
                            question : i.question,
                            answer   : i.answer,
                            useful   : i.useful,
                            more     : i.more,
                        } %}
                    {% endfor %}

                    {% include '../includes/pagination.twig' with {noSelect : true} %}
                </div>
            </div>
        </div>
        <div class="block-underlay block-underlay--with-button">
            <div class="faq-list__headline h2">Вибраторы и&nbsp;вибро-яйца</div>
            <div class="product-carousel-autowidth swiper-container js-product-carousel-autowidth">
                <div class="swiper-wrapper">
                    {% for i in products %}
                        <div class="product-carousel-autowidth__element swiper-slide">
                            {% include '../elements/product-item.twig' with {
                                image    : i.image,
                                headline : i.headline,
                                price    : i.price,
                                discount : i.discount
                            } %}
                        </div>
                    {% endfor %}
                </div>
                <div class="product-carousel-autowidth__arrow product-carousel-autowidth__arrow--prev js-product-carousel-autowidth-prev"><div class="product-carousel__arrow-marker"></div></div>
                <div class="product-carousel-autowidth__arrow product-carousel-autowidth__arrow--next js-product-carousel-autowidth-next"><div class="product-carousel__arrow-marker"></div></div>
                <div class="product-carousel-autowidth__pagination js-product-carousel-autowidth-pagination"></div>
            </div>
            <a href="javascript:void(0);" class="button button--sm button--fs-18 button--500 button--bordered-theme block-underlay__button">Посмотреть все</a>
        </div>
    </div>
</div>