{% extends '../../templates/template-parts/page-template.twig' %}
{% set breadcrumbs = {
    links : [
        {
            url  : './profile.twig',
            link : 'Личный кабинет',
        }
    ],
    last : 'Избранное'
} %}
{% set products = [
    {
        isFavoured : true,
        image : 8,
        label : {
            mod   : 'product-label--green',
            value : 'Новинка',
        },
        price : '1&thinsp;376',
        headline : 'Продлевающий гель-лубрикант',
        rating : { width : 85, description: '12 отзывов'}
    },
    {
        isFavoured : true,
        image : 9,
        price : '750',
        headline : 'Лубрикант Shunga Aroma&nbsp;&mdash; экзотические',
        rating : {width : 100, description: '4 отзыва'}
    },
    {
        isFavoured : true,
        image : 10,
        price : '650',
        headline : 'Лубрикант с ароматом зелёного',
        rating : {width : 93, description: '3 отзыва'}
    },
    {
        isFavoured : true,
        image : 11,
        price : '4&thinsp;900',
        headline : 'Лубрикант Wicked Aqua Cherry Cordial',
        rating : {width : 93, description: '256 отзывов'}
    },
    {
        isFavoured : true,
        image : 12,
        price : '500',
        headline : 'Лубрикант Triple Pleasure',
        rating : {width : 93, description: '12 отзывов'}
    },
    {
        isFavoured : true,
        image : 13,
        price : '1&thinsp;376',
        headline : 'Лубрикант Wicked Aqua Cherry Cordial',
        rating : {width : 93, description: '4 отзыва'}
    },
    {
        isFavoured : true,
        label : {
            mod   : 'product-label--red',
            value : 'Хит продаж',
        },
        image : 14,
        price : '750',
        headline : 'Лубрикант Wicked Aqua Candy Apple',
        rating : { width : 93, description: '3 отзыва'}
    }
] %}


{% block headline %}Избранное{% endblock %}
{% block content %}
    <div class="catalog-page">
        <div class="catalog-content block-underlay">
            <div class="product-array grid">
                {% for i in products %}
                    <div class="product-array__element grid-col grid-col--3 grid-col--m-4 grid-col--s-6">
                        {% include '../../templates/elements/product-element.twig' with {
                            isFavoured : i.isFavoured,
                            inCart     : i.inCart,
                            image      : i.image,
                            label      : i.label,
                            price      : i.price,
                            discount   : i.discount,
                            headline   : i.headline,
                            rating     : i.rating,
                        } %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}