{% extends '../../templates/template-parts/page-template.twig' %}
{% set pageMod = 'page--home' %}
{% set noHeader = true %}
{% set fluid = true %}

{% block content %}
    {% include '../sections/hero.twig' %}
    {% include '../sections/couples.twig' %}
    {% include '../sections/promo.twig' %}
    {% include '../sections/best-sellers.twig' %}
{% endblock %}