{% extends '../../templates/template-parts/page-template.twig' %}
{% set breadcrumbs = {
    links : [
        {
            url  : './home.html',
            link : 'Главная',
        },
        {
            url  : './news.html',
            link : 'Новости',
        }
    ],
    last : 'У&nbsp;нас открылся новый шоурум!'
} %}

{% block headline %}У&nbsp;нас открылся новый шоурум!{% endblock %}
{% block content %}
    <div class="news-page block-underlay">
        <div class="news-page__body">
            <p><b>Адрес:</b> Тверская Застава 2с2, Москва.</p>
            <p><b>Режим работы:</b> с&nbsp;11&nbsp;до&nbsp;23&nbsp;каждый день.</p>
            <p>Там представлено большинство самых популярных моделей игрушек, а&nbsp;также есть некоторые модели белья, которые вы&nbsp;прямо там можете примерить. Наши классные консультанты расскажут всем все и&nbsp;помогут выбрать идеальный вариант!!!</p>
            <p>Приходите, ждем вас!</p>

            {% include '../includes/h-thumbs-gallery.twig' %}
        </div>
        <div class="news-page__aside">
            <time class="news-page__date">04.09.2020</time>
            <div class="news-page__section">
                <h4 class="news-page__section-headline">Поделиться</h4>
                {% include '../includes/yandex-share.twig' %}
            </div>
            <div class="news-page__section news-page__section--bordered">
                <h4 class="news-page__section-headline">Другие новости</h4>
                <div class="news-column">
                    <a href="javascript:void(0);" class="news-entry borderless">
                        Мы&nbsp;подписали эксклюзивное партнерство с&nbsp;брэндом Shiri Zinn
                        <time class="news-entry__date">Сегодня</time>
                    </a>
                    <a href="javascript:void(0);" class="news-entry borderless">
                        У&nbsp;нас открылся новый шоурум!
                        <time class="news-entry__date">04.09.2020</time>
                    </a>
                    <a href="javascript:void(0);" class="news-entry borderless">
                        Мы&nbsp;подписали эксклюзивное партнерство с&nbsp;брэндом Shiri Zinn
                        <time class="news-entry__date">28.08.2020</time>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
