{% extends '../../templates/template-parts/page-template.twig' %}
{% set breadcrumbs = {
    links : [
        {
            url  : './home.html',
            link : 'Главная',
        }
    ],
    last : 'Новости'
} %}
{% set news = [
    {
        image    : 6,
        headline : 'Мы&nbsp;подписали эксклюзивное партнерство с&nbsp;брэндом Shiri Zinn',
        date     : 'Сегодня',
    },
    {
        image    : 7,
        headline : 'У&nbsp;нас открылся новый шоурум!',
        date     : '04.09.2020',
    },
]%}

{% block headline %}Новости{% endblock %}
{% block content %}
    <div class="news-array news-array--w-100">
        {% for i in news %}
            {% include '../elements/news-item.twig' with {
                image    : i.image,
                headline : i.headline,
                date     : i.date,
            } %}
        {% endfor %}
    </div>
    {% include '../includes/pagination.twig' with { paginationMod : 'pagination--light' } %}
{% endblock %}