{% extends '../../templates/template-parts/page-template.twig' %}
{% set properties = [
    {
        label : 'Заказ',
        value : '10&thinsp;450&nbsp;&#8381;',
    },
    {
        mod   : 'cart-property--green',
        label : 'Доставка',
        value : 'Бесплатно',
    }
] %}

{% block headline %}Оформление заказа{% endblock %}
{% block content %}
    <div id="js-sticky-block" class="order-page">
        <form action="/" method="POST" class="form grid js-form">
            <div class="order-page__body grid-col grid-col--8 grid-col--l-12 grid-col--s-12">
                <div class="block-underlay">
                    <div class="one-click-order">
                        <div class="one-click-order__form">
                            {% include '../elements/input.twig' with {
                                name     : 'PHONE',
                                label    : 'Телефон *',
                                type     : 'tel',
                            } %}
                            <button class="button button--m button--gradient button--500" type="submit">Оформить в&nbsp;1&nbsp;клик</button>
                        </div>
                        <a href="./order.html" class="button button--m button--yellow button--500">
                            <svg class="i _arrow-left" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.70711 1.70711C9.09763 1.31658 9.09763 0.683417 8.70711 0.292893C8.31658 -0.0976312 7.68342 -0.0976312 7.29289 0.292893L0.292893 7.29289C-0.0976312 7.68342 -0.0976312 8.31658 0.292893 8.70711L7.29289 15.7071C7.68342 16.0976 8.31658 16.0976 8.70711 15.7071C9.09763 15.3166 9.09763 14.6834 8.70711 14.2929L3.41421 9H15C15.5523 9 16 8.55229 16 8C16 7.44772 15.5523 7 15 7H3.41421L8.70711 1.70711Z"/>
                            </svg>
                            Обычный заказ
                        </a>
                    </div>
                </div>
            </div>
            <div class="order-page__aside grid-col grid-col--4 grid-col--l-12 grid-col--s-12">
                <div class="block-underlay">
                    <div class="cart-properties">
                        {% for i in properties %}
                            <div class="cart-property {{ i.mod }}">
                                <div class="cart-property__label">{{ i.label }}</div>
                                <div class="cart-property__value">{{ i.value }}</div>
                            </div>
                        {% endfor %}
                        <div class="cart-property cart-property--higlighted">
                            <div class="cart-property__label">Итого</div>
                            <div class="cart-property__value">8&thinsp;450&nbsp;&#8381;</div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
