{% extends '../../templates/template-parts/page-template.twig' %}
{% set properties = [
    {
        label : 'Заказ',
        value : '10&thinsp;450&nbsp;&#8381;',
    },
    {
        mod   : 'cart-property--green',
        label : 'Доставка',
        value : 'Бесплатно',
    },
    {
        mod   : 'cart-property--red',
        label : 'Бонусы',
        value : '−350&nbsp;&#8381;',
    },
    {
        mod   : 'cart-property--red',
        label : 'Скидка',
        value : '−1&thinsp;500&nbsp;&#8381;',
    },
] %}

{% block headline %}Оформление заказа{% endblock %}
{% block content %}
    <div id="js-sticky-block" class="order-page">
        <form action="/" method="POST" class="form grid js-form">
            <div class="order-page__body grid-col grid-col--8 grid-col--l-12 grid-col--s-12">
                <div class="block-underlay block-underlay--one-click">
                    <a href="./one-click.html" class="button button--m button--yellow button--500 block-underlay__one-click-button">
                        <svg class="i _lightning" width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 10L6.3 0H14L8.75 8H13.3L1.4 20L5.25 10H0Z"/>
                        </svg>
                        Заказ в&nbsp;1&nbsp;клик
                    </a>
                    <div class="order-header">
                        {% include '../elements/control.twig' with {
                            checked         : true,
                            type            : 'radio',
                            name            : 'order-type',
                            value           : 'Не зарегистрирован',
                            controlInputMod : 'js-order-type-control',
                            data            : 'data-option="order-type-unregistrated"',
                        } %}
                        {% include '../elements/control.twig' with {
                            type            : 'radio',
                            name            : 'order-type',
                            value           : 'Зарегистрирован',
                            controlInputMod : 'js-order-type-control',
                            data            : 'data-option="order-type-registrated"',
                        } %}
                    </div>
                    <div id="order-type-unregistrated" class="js-order-type">
                        <div class="form__section">
                            <h2>Контактные данные</h2>
                            <div class="form__row">
                                {% include '../elements/input.twig' with {
                                    name  : 'NAME',
                                    label : 'Имя',
                                    type  : 'text'
                                } %}
                            </div>
                            <div class="form__row">
                                {% include '../elements/input.twig' with {
                                    inputMod : 'input--phone',
                                    name     : 'PHONE',
                                    label    : 'Телефон',
                                    type     : 'tel',
                                } %}
                            </div>
                            <div class="form__row">
                                {% include '../elements/input.twig' with {
                                    name  : 'EMAIL',
                                    label : 'Электронная почта',
                                    type  : 'email',
                                } %}
                            </div>
                        </div>
                    </div>
                    <div id="order-type-registrated" hidden class="js-order-type">
                        <div class="form__section">
                            <h2>Авторизация</h2>
                            {% include '../includes/auth-form.twig' with { tabsMod: 'tabs--auth' } %}
                        </div>
                    </div>
                </div>
                <div class="block-underlay">
                    <h2>Доставка</h2>
                    <div class="form__row">
                        {% include '../elements/input.twig' with {
                            inputMod : 'input--location input--w-50',
                            name     : 'userLocation',
                            label    : 'Город',
                            type     : 'text',
                            value    : 'Москва',
                            userLocation : true,
                            data     : 'data-location'
                        } %}
                        {#{% include '../elements/select.twig' with {
                            selectMod   : 'select--w-50',
                            placeholder : 'Город',
                            name        : 'userCity ',
                            array       : [
                                {
                                    value : 'msc',
                                    text  : 'Москва'
                                },
                                {
                                    value : 'spb',
                                    text  : 'Санкт-Петербург'
                                },
                                {
                                    value : 'nn',
                                    text  : 'Нижний Новогород'
                                },
                                {
                                    value : 'vn',
                                    text  : 'Великий Новогород'
                                },
                                {
                                    value : 'smr',
                                    text  : 'Самара'
                                },
                                {
                                    value : 'tl',
                                    text  : 'Тула'
                                },
                            ]
                        } %}#}
                    </div>
                    <div class="form__row form__row--mt-40">
                        {% include '../elements/control-with-props.twig' with {
                            checked         : true,
                            type            : 'radio',
                            name            : 'order-delivery-type',
                            label           : 'Курьер',
                            value           : 'завтра, 250&nbsp;&#8381;',
                            controlInputMod : 'js-delivery-control',
                            data            : 'data-option="delivery-option-courier" data-additional-option="user-address"',
                        } %}
                    </div>
                    <div class="form__row">
                        {% include '../elements/control-with-props.twig' with {
                            type            : 'radio',
                            name            : 'order-delivery-type',
                            label           : 'Пункты выдачи Boxberry',
                            value           : 'от 500&nbsp;&#8381;',
                            controlInputMod : 'js-delivery-control',
                            data            : 'data-option="delivery-option-office"',
                        } %}
                        <div id="delivery-option-office" hidden class="delivery-office js-delivery-option">
                            <div class="delivery-office__headline">
                                <a class="borderless" href="javascript:void(0);">Москва, 13-я Парковая, д.64, корп.&nbsp;4</a>
                            </div>
                            <a href="#pick-up-spot" class="button button--m button--grey button--500 js-modal-trigger js-yandex-map-trigger" data-effect="mfp-zoom-out" data-yamap-id="js-pick-up-spot-map">Выбрать пункт</a>
                        </div>
                    </div>
                    <div class="form__row">
                        {% include '../elements/control-with-props.twig' with {
                            type            : 'radio',
                            name            : 'order-delivery-type',
                            label           : 'СДЭК',
                            value           : 'в среду 23.07, бесплатно',
                            controlInputMod : 'js-delivery-control',
                            data            : 'data-option="delivery-option-cdek"',
                        } %}
                    </div>
                    <div class="form__row">
                        {% include '../elements/control-with-props.twig' with {
                            type            : 'radio',
                            name            : 'order-delivery-type',
                            label           : 'Почта России',
                            value           : 'в пятницу 25.07, 600&nbsp;&#8381;',
                            controlInputMod : 'js-delivery-control',
                            data            : 'data-option="delivery-option-russian-post" data-additional-option="user-address"',
                        } %}
                    </div>
                    <div id="delivery-option-courier" class="form__row form__row--footer js-delivery-option">
                        <div class="order-addon">
                            <h5 class="order-addon__headline">Дата и время доставки</h5>
                            {% include '../elements/select.twig' with {
                                placeholder : 'Дата',
                                name        : 'deliveryDate',
                                array       : [
                                    {
                                        value : '_0',
                                        text  : '27 ноября'
                                    },
                                    {
                                        value : '_1',
                                        text  : '28 ноября'
                                    },
                                    {
                                        value : '_2',
                                        text  : '28 ноября'
                                    },
                                    {
                                        value : '_3',
                                        text  : '29 ноябряд'
                                    },
                                    {
                                        value : '_4',
                                        text  : '30 ноября'
                                    },
                                ]
                            } %}
                            {% include '../elements/select.twig' with {
                                placeholder : 'Время',
                                name        : 'deliveryTime',
                                array       : [
                                    {
                                        value : '_0',
                                        text  : 'c&nbsp;10&nbsp;до&nbsp;14'
                                    },
                                    {
                                        value : '_1',
                                        text  : 'c&nbsp;14&nbsp;до&nbsp;16'
                                    },
                                    {
                                        value : '_2',
                                        text  : 'c&nbsp;16&nbsp;до&nbsp;20'
                                    }
                                ]
                            } %}
                            {#{% include '../elements/input.twig' with {
                                inputMod : 'input--currency input--with-icon input--calendar',
                                name     : 'order-delivery-date',
                                type     : 'text'
                            } %}
                            {% include '../elements/input.twig' with {
                                inputMod : 'input--currency input--with-icon input--clock',
                                name     : 'order-delivery-time',
                                type     : 'text'
                            } %}#}
                        </div>
                    </div>
                    <div id="delivery-option-cdek" hidden class="form__row form__row--footer js-delivery-option">
                        <div class="form__row">
                            {% include '../elements/input.twig' with {
                                name   : 'userFullName',
                                label  : 'ФИО полностью как в паспорте *',
                                type   : 'text',
                                prompt : 'Эти данные&nbsp;&mdash; требование почты России, без них вам не&nbsp;выдадут посылку.',
                            } %}
                        </div>
                        <div class="form__row">
                            {% include '../elements/input.twig' with {
                                inputMod : 'input--zip',
                                name     : 'deliveryZipCode',
                                label    : 'Почтовый индекс*',
                                type     : 'text',
                            } %}
                        </div>
                    </div>
                    <div id="delivery-option-russian-post" hidden class="form__row form__row--footer js-delivery-option">
                        <div class="form__row">
                            {% include '../elements/input.twig' with {
                                name   : 'userFullName',
                                label  : 'ФИО полностью как в паспорте *',
                                type   : 'text',
                                prompt : 'Эти данные&nbsp;&mdash; требование почты России, без них вам не&nbsp;выдадут посылку.',
                            } %}
                        </div>
                        <div class="form__row">
                            {% include '../elements/input.twig' with {
                                inputMod : 'input--zip',
                                name     : 'deliveryZipCode',
                                label    : 'Почтовый индекс*',
                                type     : 'text',
                            } %}
                        </div>
                    </div>
                </div>
                <div class="block-underlay">
                    <h2>Пункт выдачи</h2>
                    <div class="form__row">
                        <div class="delivery-pick-point">
                            <p><a href="javascript:void(0);" class="borderless js-set-pvz">Калининград, Фрунзе ул., д. 15А</a></p>
                            <button class="button button--m button--mobile-w-100 button--500 js-toggle-block-button" data-toggle-block="pick-point-map" data-self-hide type="button">На карте</button>
                        </div>
                    </div>
                    <div id="pick-point-map" class="form__row" hidden>
                        <div class="form__row">
                            {% include '../elements/input.twig' with {
                                inputMod : '',
                                name     : 'STORE_SEARCH',
                                label    : 'Поиск пвз',
                                type     : 'text'
                            } %}
                        </div>
                        <div class="form__row">map goes here</div>
                    </div>
                </div>
                <div id="user-address" class="block-underlay js-delivery-option">
                    <h2>Адрес</h2>
                    <div class="form__row">
                        {% include '../elements/input.twig' with {
                            inputMod : 'input--location',
                            name     : 'userLocation',
                            label    : 'Город',
                            type     : 'text',
                            value    : 'Москва',
                            userLocation : true,
                            data     : 'data-location'
                        } %}
                    </div>
                    <div class="form__row">
                        {% include '../elements/select.twig' with {
                            placeholder : 'Город',
                            name        : 'userCity ',
                            array       : [
                                {
                                    value : 'msc',
                                    text  : 'Москва'
                                },
                                {
                                    value : 'spb',
                                    text  : 'Санкт-Петербург'
                                },
                                {
                                    value : 'nn',
                                    text  : 'Нижний Новогород'
                                },
                                {
                                    value : 'vn',
                                    text  : 'Великий Новогород'
                                },
                                {
                                    value : 'smr',
                                    text  : 'Самара'
                                },
                                {
                                    value : 'tl',
                                    text  : 'Тула'
                                },
                            ]
                        } %}
                    </div>
                    <div class="form__row">
                        {% include '../elements/input.twig' with {
                            name  : 'userAddress',
                            label : 'Адрес',
                            type  : 'text',
                        } %}
                    </div>
                    <div class="form__row">
                        <div class="form__address-group">
                            {% include '../elements/input.twig' with {
                                inputMod : 'input--s',
                                name     : 'userApt',
                                label    : 'Квартира',
                                type     : 'text',
                            } %}
                            {% include '../elements/input.twig' with {
                                inputMod : 'input--s',
                                name     : 'userHouse',
                                label    : 'Подъезд',
                                type     : 'text',
                            } %}
                            {% include '../elements/input.twig' with {
                                inputMod : 'input--s',
                                name     : 'userFloor',
                                label    : 'Этаж',
                                type     : 'text',
                            } %}
                        </div>
                    </div>
                    <div class="form__row">
                        {% include '../elements/input.twig' with {
                            textarea : true,
                            name     : 'comment',
                            label    : 'Домофон и другая информация',
                        } %}
                    </div>
                    <!-- для добавления адреса -->
                    <div hidden class="form__row">
                        <button class="button button--m button--grey button--500" type="button">Добавить адрес</button>
                    </div>
                </div>
                <div class="block-underlay">
                    <h2>Оплата</h2>
                    <div class="form__row">
                        {% include '../elements/control.twig' with {
                            controlMod      : 'control--w-100',
                            checked         : true,
                            payment         : true,
                            type            : 'radio',
                            name            : 'order-payment-type',
                            value           : 'Оплата на сайте',
                            controlInputMod : 'js-payment-control',
                        } %}
                    </div>
                    <div class="form__row">
                        {% include '../elements/control.twig' with {
                            type            : 'radio',
                            name            : 'order-payment-type',
                            value           : 'Наличными курьеру',
                            controlInputMod : 'js-payment-control',
                            data            : 'data-option="payment-option-cash"',
                        } %}
                    </div>
                    <div class="form__row">
                        {% include '../elements/control.twig' with {
                            type            : 'radio',
                            name            : 'order-payment-type',
                            value           : 'Картой курьеру',
                            controlInputMod : 'js-payment-control',
                        } %}
                    </div>
                    <div id="payment-option-cash" hidden class="form__row form__row--footer js-payment-option">
                        <div  class="order-addon">
                            <h5 class="order-addon__headline">Сдача с</h5>
                            {% include '../elements/input.twig' with {
                                inputMod : 'input--currency input--with-icon input--ruble',
                                name     : 'order-payment-change',
                                type     : 'text'
                            } %}
                        </div>
                    </div>
                </div>
                <div class="block-underlay">
                    <h2>Комментарий</h2>
                    <div class="form__row">
                        {% include '../elements/input.twig' with {
                            textarea : true,
                            name     : 'orderComment',
                            label    : 'Пожелания по доставке',
                        } %}
                    </div>
                </div>
            </div>
            <div class="order-page__aside grid-col grid-col--4 grid-col--l-12 grid-col--s-12">
                {# js-sticky-element #}
                <div class="block-underlay block-underlay--sticky">
                    <div class="cart-properties">
                        {% for i in properties %}
                            <div class="cart-property {{ i.mod }}">
                                <div class="cart-property__label">{{ i.label }}</div>
                                <div class="cart-property__value">{{ i.value }}</div>
                            </div>
                        {% endfor %}
                        <div class="cart-property cart-property--total">
                            <div class="cart-property__label">Итого</div>
                            <div class="cart-property__value">8&thinsp;450&nbsp;&#8381;</div>
                        </div>
                        <button class="button button--w-100 button--m button--gradient button--500" type="submit">Оформить заказ</button>
                    </div>
                    <div class="order-delivery">
                        <div class="order-delivery__icon">
                            <svg class="i" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 3C0 2.44772 0.447715 2 1 2H16C16.5523 2 17 2.44772 17 3V16C17 16.5523 16.5523 17 16 17H1C0.447715 17 0 16.5523 0 16V3ZM2 4V15H15V4H2Z"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15 8C15 7.44772 15.4477 7 16 7H20C20.2652 7 20.5196 7.10536 20.7071 7.29289L23.7071 10.2929C23.8946 10.4804 24 10.7348 24 11V16C24 16.5523 23.5523 17 23 17H16C15.4477 17 15 16.5523 15 16V8ZM17 9V15H22V11.4142L19.5858 9H17Z"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 17C4.67157 17 4 17.6716 4 18.5C4 19.3284 4.67157 20 5.5 20C6.32843 20 7 19.3284 7 18.5C7 17.6716 6.32843 17 5.5 17ZM2 18.5C2 16.567 3.567 15 5.5 15C7.433 15 9 16.567 9 18.5C9 20.433 7.433 22 5.5 22C3.567 22 2 20.433 2 18.5Z"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M18.5 17C17.6716 17 17 17.6716 17 18.5C17 19.3284 17.6716 20 18.5 20C19.3284 20 20 19.3284 20 18.5C20 17.6716 19.3284 17 18.5 17ZM15 18.5C15 16.567 16.567 15 18.5 15C20.433 15 22 16.567 22 18.5C22 20.433 20.433 22 18.5 22C16.567 22 15 20.433 15 18.5Z"/>
                            </svg>
                        </div>
                        <div class="order-delivery__value">
                            До&nbsp;<span class="order-delivery__highlighted">бесплатной доставки</span> осталось 1&nbsp;320&nbsp;&nbsp;&#8381;
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
