{% extends '../../templates/template-parts/page-template.twig' %}
{% set properties = [
    {
        label : 'Заказ',
        value : '10&thinsp;450&nbsp;&#8381;',
    },
    {
        mod   : 'cart-property--green',
        label : 'Доставка',
        value : 'Бесплатно',
    },
    {
        mod   : 'cart-property--red',
        label : 'Бонусы',
        value : '−350&nbsp;&#8381;',
    },
    {
        mod   : 'cart-property--red',
        label : 'Скидка',
        value : '−1&thinsp;500&nbsp;&#8381;',
    },
] %}

{% block headline %}Оформление заказа{% endblock %}
{% block content %}
    <div class="order-page">
        <div class="order-breadcrumbs">
            <div class="order-breadcrumbs__element order-breadcrumbs__element--current">Доставка</div>
            <div class="order-breadcrumbs__element">Контактные данные</div>
            <div class="order-breadcrumbs__element">Оплата</div>
        </div>
        <form action="/" method="POST" class="form grid js-form">
            <div class="order-page__body grid-col grid-col--8 grid-col--l-12 grid-col--s-12">
                <div class="block-underlay">
                    <h2>Доставка</h2>
                    <div class="form__row form__row--mt-40">
                        {% include '../elements/control-with-props.twig' with {
                            checked         : true,
                            type            : 'radio',
                            name            : 'order-delivery-type',
                            label           : 'Курьер',
                            value           : 'завтра, 250&nbsp;&#8381;',
                            controlInputMod : 'js-delivery-control',
                            data            : 'data-option="delivery-option-courier" data-additional-option="user-address"',
                        } %}
                    </div>
                    <div class="form__row">
                        {% include '../elements/control-with-props.twig' with {
                            type            : 'radio',
                            name            : 'order-delivery-type',
                            label           : 'Пункты выдачи Boxberry',
                            value           : 'от 500&nbsp;&#8381;',
                            controlInputMod : 'js-delivery-control',
                            data            : 'data-option="delivery-option-office"',
                        } %}
                        <div id="delivery-option-office" hidden class="delivery-office js-delivery-option">
                            <div class="delivery-office__headline">
                                <a class="borderless" href="javascript:void(0);">Москва, 13-я Парковая, д.64, корп.&nbsp;4</a>
                            </div>
                            <a href="#pick-up-spot" class="button button--m button--grey button--500 js-modal-trigger js-yandex-map-trigger" data-effect="mfp-zoom-out" data-yamap-id="js-pick-up-spot-map">Выбрать пункт</a>
                        </div>
                    </div>
                    <div class="form__row">
                        {% include '../elements/control-with-props.twig' with {
                            type            : 'radio',
                            name            : 'order-delivery-type',
                            label           : 'СДЭК',
                            value           : 'в среду 23.07, бесплатно',
                            controlInputMod : 'js-delivery-control',
                            data            : 'data-option="delivery-option-cdek"',
                        } %}
                    </div>
                    <div class="form__row">
                        {% include '../elements/control-with-props.twig' with {
                            type            : 'radio',
                            name            : 'order-delivery-type',
                            label           : 'Почта России',
                            value           : 'в пятницу 25.07, 600&nbsp;&#8381;',
                            controlInputMod : 'js-delivery-control',
                            data            : 'data-option="delivery-option-russian-post" data-additional-option="user-address"',
                        } %}
                    </div>
                    <div id="delivery-option-courier" class="form__row form__row--footer js-delivery-option">
                        <div class="order-addon">
                            <h5 class="order-addon__headline">Дата и время доставки</h5>
                            {% include '../elements/select.twig' with {
                                placeholder : 'Дата',
                                name        : 'deliveryDate',
                                array       : [
                                    {
                                        value : '_0',
                                        text  : '27 ноября'
                                    },
                                    {
                                        value : '_1',
                                        text  : '28 ноября'
                                    },
                                    {
                                        value : '_2',
                                        text  : '28 ноября'
                                    },
                                    {
                                        value : '_3',
                                        text  : '29 ноябряд'
                                    },
                                    {
                                        value : '_4',
                                        text  : '30 ноября'
                                    },
                                ]
                            } %}
                            {% include '../elements/select.twig' with {
                                placeholder : 'Время',
                                name        : 'deliveryTime',
                                array       : [
                                    {
                                        value : '_0',
                                        text  : 'c&nbsp;10&nbsp;до&nbsp;14'
                                    },
                                    {
                                        value : '_1',
                                        text  : 'c&nbsp;14&nbsp;до&nbsp;16'
                                    },
                                    {
                                        value : '_2',
                                        text  : 'c&nbsp;16&nbsp;до&nbsp;20'
                                    }
                                ]
                            } %}
                            {#{% include '../elements/input.twig' with {
                                inputMod : 'input--currency input--with-icon input--calendar',
                                name     : 'order-delivery-date',
                                type     : 'text'
                            } %}
                            {% include '../elements/input.twig' with {
                                inputMod : 'input--currency input--with-icon input--clock',
                                name     : 'order-delivery-time',
                                type     : 'text'
                            } %}#}
                        </div>
                    </div>
                    <div id="delivery-option-cdek" hidden class="form__row form__row--footer js-delivery-option">
                        <div class="form__row">
                            {% include '../elements/input.twig' with {
                                name   : 'userFullName',
                                label  : 'ФИО полностью как в паспорте *',
                                type   : 'text',
                                prompt : 'Эти данные&nbsp;&mdash; требование почты России, без них вам не&nbsp;выдадут посылку.',
                            } %}
                        </div>
                        <div class="form__row">
                            {% include '../elements/input.twig' with {
                                inputMod : 'input--zip',
                                name     : 'deliveryZipCode',
                                label    : 'Почтовый индекс*',
                                type     : 'text',
                            } %}
                        </div>
                    </div>
                    <div id="delivery-option-russian-post" hidden class="form__row form__row--footer js-delivery-option">
                        <div class="form__row">
                            {% include '../elements/input.twig' with {
                                name   : 'userFullName',
                                label  : 'ФИО полностью как в паспорте *',
                                type   : 'text',
                                prompt : 'Эти данные&nbsp;&mdash; требование почты России, без них вам не&nbsp;выдадут посылку.',
                            } %}
                        </div>
                        <div class="form__row">
                            {% include '../elements/input.twig' with {
                                inputMod : 'input--zip',
                                name     : 'deliveryZipCode',
                                label    : 'Почтовый индекс*',
                                type     : 'text',
                            } %}
                        </div>
                    </div>
                </div>
                <div id="user-address" class="block-underlay js-delivery-option">
                    <h2>Адрес</h2>
                    <div class="form__row">
                        {% include '../elements/input.twig' with {
                            inputMod : 'input--location',
                            name     : 'userLocation',
                            label    : 'Город',
                            type     : 'text',
                            value    : 'Москва',
                            userLocation : true,
                            data     : 'data-location'
                        } %}
                    </div>
                    <div class="form__row">
                        {% include '../elements/input.twig' with {
                            name  : 'userAddress',
                            label : 'Адрес',
                            type  : 'text',
                        } %}
                    </div>
                    <div class="form__row">
                        <div class="form__address-group form__address-group--no-wrap">
                            {% include '../elements/input.twig' with {
                                inputMod : 'input--s',
                                name     : 'userApt',
                                label    : 'Квартира',
                                type     : 'text',
                            } %}
                            {% include '../elements/input.twig' with {
                                inputMod : 'input--s',
                                name     : 'userHouse',
                                label    : 'Подъезд',
                                type     : 'text',
                            } %}
                            {% include '../elements/input.twig' with {
                                inputMod : 'input--s',
                                name     : 'userFloor',
                                label    : 'Этаж',
                                type     : 'text',
                            } %}
                            {% include '../elements/input.twig' with {
                                name     : 'userintercom',
                                label    : 'Домофон',
                                type     : 'text',
                            } %}
                        </div>
                    </div>
                    <!-- для добавления адреса -->
                    <div hidden class="form__row">
                        <button class="button button--m button--grey button--500" type="button">Добавить адрес</button>
                    </div>
                </div>
                <div class="block-underlay">
                    <h2>Комментарий</h2>
                    <div class="form__row">
                        {% include '../elements/input.twig' with {
                            textarea : true,
                            name     : 'orderComment',
                            label    : 'Пожелания по доставке',
                        } %}
                    </div>
                </div>
            </div>
            <div class="order-page__aside grid-col grid-col--4 grid-col--l-12 grid-col--s-12">
                <div class="block-underlay block-underlay--sticky">
                    <div class="cart-properties">
                        {% for i in properties %}
                            <div class="cart-property {{ i.mod }}">
                                <div class="cart-property__label">{{ i.label }}</div>
                                <div class="cart-property__value">{{ i.value }}</div>
                            </div>
                        {% endfor %}
                        <div class="cart-property cart-property--total">
                            <div class="cart-property__label">Итого</div>
                            <div class="cart-property__value">8&thinsp;450&nbsp;&#8381;</div>
                        </div>
                    </div>
                    <button class="button button--w-100 button--m button--fs-20" type="submit">Продолжить</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
