<div class="order-ready">
    <div class="container">
        <header class="order-ready__header">
            <h1 class="order-ready__headline">Заказ оформлен</h1>
            <div class="order-ready__message">
                <p>Спасибо, с вами свяжется наш специалист</p>
            </div>
            <p class="order-ready__no">
                <span class="order-ready__no-element">Номер заказа: DS-422.</span>
                <span class="order-ready__no-element">Общая сумма: 23&nbsp;000&nbsp;₽</span>
            </p>
        </header>
        <div class="order-ready__array">
            <a href="javascript:void(0);" class="order-ready__element borderless">
                <div class="order-ready__element-image">
                    <img
                        src="assets/images/cart/image-0.jpg"
                        srcset="assets/images/cart/image-0.jpg 1x, assets/images/cart/image-0-2x.jpg 2x"
                        alt="">
                </div>
                <div class="order-ready__element-details">
                    <div class="order-ready__element-headline">Вибратор Volta с&nbsp;раздвоенным кончиком</div>
                    <div class="order-ready__element-pricing order-ready__element-pricing--discount">
                        <div class="order-ready__element-pricing-current">10&thinsp;200&nbsp;&#8381;</div>
                        <div class="order-ready__element-pricing-old">12&thinsp;600&nbsp;&#8381;</div>
                        <div class="order-ready__element-pricing-discount">-5%</div>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0);" class="order-ready__element borderless">
                <div class="order-ready__element-image">
                    <img
                        src="assets/images/cart/image-1.jpg"
                        srcset="assets/images/cart/image-1.jpg 1x, assets/images/cart/image-1-2x.jpg 2x"
                        alt="">
                </div>
                <div class="order-ready__element-details">
                    <div class="order-ready__element-headline">Парный стимулятор Satisfyer Partner Multifun&nbsp;2</div>
                    <div class="order-ready__element-pricing">
                        <div class="order-ready__element-pricing-current">4&thinsp;900&nbsp;&#8381;</div>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0);" class="order-ready__element borderless">
                <div class="order-ready__element-image">
                    <img
                        src="assets/images/cart/image-2.jpg"
                        srcset="assets/images/cart/image-2.jpg 1x, assets/images/cart/image-2-2x.jpg 2x"
                        alt="">
                </div>
                <div class="order-ready__element-details">
                    <div class="order-ready__element-headline">Лубрикант Personal Lubricant H2O Cooling</div>
                    <div class="order-ready__element-pricing">
                        <div class="order-ready__element-pricing-current">1&thinsp;900&nbsp;&#8381;</div>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0);" class="order-ready__element borderless">
                <div class="order-ready__element-image">
                    <img
                        src="assets/images/cart/image-2.jpg"
                        srcset="assets/images/cart/image-2.jpg 1x, assets/images/cart/image-2-2x.jpg 2x"
                        alt="">
                </div>
                <div class="order-ready__element-details">
                    <div class="order-ready__element-headline">Лубрикант Personal Lubricant H2O Cooling</div>
                    <div class="order-ready__element-pricing order-ready__element-pricing--discount">
                        <div class="order-ready__element-pricing-current">297&nbsp;&#8381;</div>
                        <div class="order-ready__element-pricing-old">12&thinsp;600&nbsp;&#8381;</div>
                        <div class="order-ready__element-pricing-discount">-5%</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>