{% extends '../../templates/template-parts/page-template.twig' %}
{% set properties = [
    {
        label : 'Заказ',
        value : '10&thinsp;450&nbsp;&#8381;',
    },
    {
        mod   : 'cart-property--green',
        label : 'Доставка',
        value : 'Бесплатно',
    },
    {
        mod   : 'cart-property--red',
        label : 'Бонусы',
        value : '−350&nbsp;&#8381;',
    },
    {
        mod   : 'cart-property--red',
        label : 'Скидка',
        value : '−1&thinsp;500&nbsp;&#8381;',
    },
] %}

{% block headline %}Оформление заказа{% endblock %}
{% block content %}
    <div class="order-page">
        <div class="order-breadcrumbs">
            <a href="./order-delivery.html" class="order-breadcrumbs__element borderless">Доставка</a>
            <a href="./order-contacts.html" class="order-breadcrumbs__element borderless">Контактные данные</a>
            <div class="order-breadcrumbs__element order-breadcrumbs__element--current">Оплата</div>
        </div>
        <form action="/" method="POST" class="form grid js-form">
            <div class="order-page__body grid-col grid-col--8 grid-col--l-12 grid-col--s-12">
                <div class="js-order-step h-100">
                    <div class="block-underlay">
                        <h2>Оплата</h2>
                        <div class="form__row">
                            {% include '../elements/control.twig' with {
                                controlMod      : 'control--w-100',
                                payment         : true,
                                type            : 'radio',
                                name            : 'order-payment-type',
                                value           : 'Оплата на сайте',
                                controlInputMod : 'js-payment-control',
                            } %}
                        </div>
                        <div class="form__row">
                            {% include '../elements/control.twig' with {
                                type            : 'radio',
                                checked         : true,
                                name            : 'order-payment-type',
                                value           : 'Наличными курьеру',
                                controlInputMod : 'js-payment-control',
                                data            : 'data-option="payment-option-cash"',
                            } %}
                        </div>
                        <div class="form__row">
                            {% include '../elements/control.twig' with {
                                type            : 'radio',
                                name            : 'order-payment-type',
                                value           : 'Картой курьеру',
                                controlInputMod : 'js-payment-control',
                            } %}
                        </div>
                        <div id="payment-option-cash" class="form__row form__row--footer js-payment-option">
                            <div  class="order-addon">
                                <h5 class="order-addon__headline">Сдача с</h5>
                                {% include '../elements/input.twig' with {
                                    inputMod : 'input--currency input--with-icon input--ruble',
                                    name     : 'order-payment-change',
                                    type     : 'text'
                                } %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="order-page__aside grid-col grid-col--4 grid-col--l-12 grid-col--s-12">
                <div class="block-underlay block-underlay--sticky">
                    <div class="cart-properties">
                        {% for i in properties %}
                            <div class="cart-property {{ i.mod }}">
                                <div class="cart-property__label">{{ i.label }}</div>
                                <div class="cart-property__value">{{ i.value }}</div>
                            </div>
                        {% endfor %}
                        <div class="cart-property cart-property--total">
                            <div class="cart-property__label">Итого</div>
                            <div class="cart-property__value">8&thinsp;450&nbsp;&#8381;</div>
                        </div>
                    </div>
                    <button class="button button--w-100 button--m button--fs-20" type="submit">Подтвердить заказ</button>
                    <a href="./order-contacts.twig" class="button button--w-100 button--mobile-only button--m button--bordered-theme button--fs-20">Назад</a>
                    <div class="order-agreement">
                        <p>Я&nbsp;даю согласие на&nbsp;обработку <a href="javascript:void(0);" class="borderless" target="_blank">персональных данных</a></p>
                    </div>
                </div>
            </div>
            <div class="order-page__footer grid-col grid-col--8 grid-col--l-12 grid-col--s-12">
                <a href="./order-contacts.html" class="button button--m button--bordered-theme button--fs-20">Назад</a>
            </div>
        </form>
    </div>
{% endblock %}
