{% extends '../../templates/template-parts/page-template.twig' %}
{% set properties = [
    {
        label : 'Заказ',
        value : '10&thinsp;450&nbsp;&#8381;',
    },
    {
        mod   : 'cart-property--green',
        label : 'Доставка',
        value : 'Бесплатно',
    },
    {
        mod   : 'cart-property--red',
        label : 'Бонусы',
        value : '−350&nbsp;&#8381;',
    },
    {
        mod   : 'cart-property--red',
        label : 'Скидка',
        value : '−1&thinsp;500&nbsp;&#8381;',
    },
] %}

{% block headline %}Оформление заказа{% endblock %}
{% block content %}
    <div class="order-page">
        <div class="order-breadcrumbs">
            <a href="./order-delivery.html" class="order-breadcrumbs__element borderless">Доставка</a>
            <div class="order-breadcrumbs__element order-breadcrumbs__element--current">Контактные данные</div>
            <div class="order-breadcrumbs__element">Оплата</div>
        </div>
        <form action="/" method="POST" class="form grid js-form">
            <div class="order-page__body grid-col grid-col--8 grid-col--l-12 grid-col--s-12">
                <div class="block-underlay">
                    <div class="order-header">
                        {% include '../elements/control.twig' with {
                            checked         : true,
                            type            : 'radio',
                            name            : 'order-type',
                            value           : 'Не зарегистрирован',
                            controlInputMod : 'js-order-type-control',
                            data            : 'data-option="order-type-unregistrated"',
                        } %}
                        {% include '../elements/control.twig' with {
                            type            : 'radio',
                            name            : 'order-type',
                            value           : 'Зарегистрирован',
                            controlInputMod : 'js-order-type-control',
                            data            : 'data-option="order-type-registrated"',
                        } %}
                    </div>
                    <div id="order-type-unregistrated" class="js-order-type">
                        <div class="form__section">
                            <h2>Контактные данные</h2>
                            <div class="form__row">
                                {% include '../elements/input.twig' with {
                                    name  : 'NAME',
                                    label : 'Имя',
                                    type  : 'text'
                                } %}
                            </div>
                            <div class="form__row">
                                {% include '../elements/input.twig' with {
                                    inputMod : 'input--phone',
                                    name     : 'PHONE',
                                    label    : 'Телефон',
                                    type     : 'tel',
                                } %}
                            </div>
                            <div class="form__row">
                                {% include '../elements/input.twig' with {
                                    name  : 'EMAIL',
                                    label : 'Электронная почта',
                                    type  : 'email',
                                } %}
                            </div>
                        </div>
                    </div>
                    <div id="order-type-registrated" hidden class="js-order-type">
                        <div class="form__section">
                            <h2>Авторизация</h2>
                            {% include '../includes/auth-form.twig' with { tabsMod: 'tabs--auth' } %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="order-page__aside grid-col grid-col--4 grid-col--l-12 grid-col--s-12">
                <div class="block-underlay block-underlay--sticky">
                    <div class="cart-properties">
                        {% for i in properties %}
                            <div class="cart-property {{ i.mod }}">
                                <div class="cart-property__label">{{ i.label }}</div>
                                <div class="cart-property__value">{{ i.value }}</div>
                            </div>
                        {% endfor %}
                        <div class="cart-property cart-property--total">
                            <div class="cart-property__label">Итого</div>
                            <div class="cart-property__value">8&thinsp;450&nbsp;&#8381;</div>
                        </div>
                    </div>
                    <button class="button button--w-100 button--m button--fs-20" type="submit">Продолжить</button>
                    <a href="./order-delivery.html" class="button button--w-100 button--mobile-only button--m button--bordered-theme button--fs-20">Назад</a>
                </div>
            </div>
            <div class="order-page__footer grid-col grid-col--8 grid-col--l-12 grid-col--s-12">
                <div class="order-page__footer-control">
                    <a href="./order-delivery.html" class="button button--m button--bordered-theme button--fs-20">Назад</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
