{% extends '../../templates/template-parts/page-template.twig' %}
{% set pageMod = 'page--profile' %}
{% set headerless = true %}
{% set breadcrumbs = {
    links : [
        {
            url  : './profile.html',
            link : 'Личный кабинет',
        }
    ],
    last : 'Вчера'
} %}
{% set products = [
    {
        image    : 0,
        headline : 'Вибростимулятор Cookie',
        price    : '6&thinsp;100',
    },
    {
        image    : 1,
        headline : 'Парный стимулятор Satisfyer Partner Multifun&nbsp;2',
        price    : '4&thinsp;900',
    },
    {
        image    : 2,
        headline : 'Вибратор Volta с&nbsp;раздвоенным кончикомм',
        price    : '10&thinsp;200',
    },
    {
        image    : 3,
        headline : 'Лубрикант с&nbsp;ароматом зелёного яблока Climax Kiss',
        price    : '6&thinsp;100',
    },
    {
        image    : 4,
        headline : 'Вибратор для пар We-Vibe Sync',
        price    : '16&thinsp;900',
    },
]%}
{% block content %}
    <div class="profile-page grid">
        <div class="profile-page__aside grid-col grid-col--3 grid-col--sl-4  grid-col--m-12 grid-col--s-12">
            {% include '../template-parts/aside-navigation.twig' %}
        </div>
        <div class="profile-page__body grid-col grid-col--9 grid-col--sl-8  grid-col--m-12 grid-col--s-12">
            <section class="order-element order-element--detail">
                <header class="order-element__header">
                    {% include '../includes/breadcrumbs.twig' with { array : breadcrumbs } %}
                    <h2 class="order-element__headline">Вчера</h2>
                    <div class="order-element__price">15&thinsp;000&nbsp;&#8381;</div>
                </header>
                <div class="order-status order-status--green">
                    <div class="order-status__marker">Доставлен</div>
                    <div class="order-status__address">&#8470;&nbsp;2203-33</div>
                </div>
                <div class="order-element__props">
                    <div class="order-element__props-list">
                        <div class="order-element__prop">Москва, Люсиновская улица, д.&nbsp;29, строение&nbsp;1, кв.&nbsp;6. Подъезд&nbsp;2, код: B332</div>
                        <div class="order-element__prop"><span class="order-element__prop-label">Бонусы:</span> оплачено 250 бонусами</div>
                        <div class="order-element__prop"><span class="order-element__prop-label">Комментарий:</span> строго не&nbsp;звонить в&nbsp;дверь</div>
                        <div class="order-element__prop"><span class="order-element__prop-label">Доставка:</span> бесплатная</div>
                    </div>
                    <div class="order-element__props-control">
                        <button id="payButton" class="button button--w-100 button--m button--gradient button--500" type="button">Оплатить</button>
                    </div>
                </div>
                {% for i in products %}
                    <a href="./product-page.html" class="order-element__product order-element__product--full borderless">
                        <div class="order-element__product-image">
                            <img
                                    src="assets/images/order/image-{{ i.image }}.jpg"
                                    srcset="assets/images/order/image-{{ i.image }}.jpg 1x, assets/images/order/image-{{ i.image }}-2x.jpg 2x"
                                    alt="">
                        </div>
                        <div class="order-element__product-details">
                            <div class="order-element__product-vendor">Арт. BI-210203</div>
                            <div class="order-element__product-headline">{{ i.headline }}</div>
                            <div class="order-element__product-price">{{ i.price }}&nbsp;&#8381;</div>
                        </div>
                    </a>
                {% endfor %}
            </section>
        </div>
    </div>
{% endblock %}