{% extends '../../templates/template-parts/page-template.twig' %}
{% set pageMod = 'page--profile' %}
{% set headerless = true %}
{% set breadcrumbs = {
    links : [
        {
            url  : './profile.html',
            link : 'Личный кабинет',
        }
    ],
    last : 'Заказы'
} %}
{% set orders = [
    {
        headline: 'Вчера',
        price: '15&thinsp;000',
        status : {
            mod     : 'order-status--green',
            value   : 'Доставлен',
            address : '&#8470;&nbsp;2203-33. Люсиновская улица, д.&nbsp;29, стр.&nbsp;1, кв.&nbsp;6',
        },
        products : [0,1,2,3,4,1,2,3]
    },
    {
        headline: '11 июня 2020',
        price: '245&thinsp;610',
        status : {
            mod     : 'order-status--green',
            value   : 'Доставлен',
            address : '&#8470;&nbsp;2203-33. Люсиновская улица, д.&nbsp;29, стр.&nbsp;1, кв.&nbsp;6',
        },
        products : [3,5,6]
    },
    {
        headline: '23 апреля 2020',
        price: '5&thinsp;6100',
        status : {
            mod     : 'order-status--red',
            value   : 'Отменен',
            address : '&#8470;&nbsp;2203-0. Люсиновская улица, д.&nbsp;29, стр.&nbsp;1, кв.&nbsp;6',
        },
        products : [7]
    },
    {
        headline: '05 мая 2019',
        price: '15&thinsp;000',
        status : {
            mod     : 'order-status--green',
            value   : 'Доставлен',
            address : '&#8470;&nbsp;2203-33. Люсиновская улица, д.&nbsp;29, стр.&nbsp;1, кв.&nbsp;6',
        },
        products : [8,9,10,11]
    },
] %}

{% block content %}
    <div class="profile-page grid">
        <div class="profile-page__aside grid-col grid-col--3 grid-col--sl-4  grid-col--m-12 grid-col--s-12">
            {% include '../template-parts/aside-navigation.twig' %}
        </div>
        <div class="profile-page__body grid-col grid-col--9 grid-col--sl-8  grid-col--m-12 grid-col--s-12">
            <div class="block-underlay">
                <header class="block-underlay__header">
                    {% include '../includes/breadcrumbs.twig' with { array : breadcrumbs } %}
                    <h1 class="block-underlay__headline">Заказы</h1>
                </header>
            </div>
            <div class="order-array">
                {% for i in orders %}
                    {% include '../elements/order-element.twig' with {
                        headline : i.headline,
                        price    : i.price,
                        status   : i.status,
                        products : i.products,
                    } %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}