{% extends '../../templates/template-parts/page-template.twig' %}
{% set list = [
    {url   : './home.html', value : 'Главная'},
    {url   : './home-alt.html', value : 'Главная. Товары без рейтинга'},
    {url   : './catalog.html', value : 'Каталог'},
    {url   : './category-page.html', value : 'Категории'},
    {url   : './product-page.html', value : 'Карточка товара'},
    {url   : './cart.html', value : 'Корзина'},
    {url   : './order.html', value : 'Оформление заказа'},
    {url   : './order-auth.html', value : 'Оформление заказа. Авторизованный'},
    {url   : './order-ready.html', value : 'Заказ оформлен'},
    {url   : './auth.html', value : 'Авторизация'},
    {url   : './password-restore.html', value : 'Восстановить пароль'},
    {url   : './password-restored.html', value : 'Пароль восстановлен'},
    {url   : './code-verification.html', value : 'Введите код'},
    {url   : './registration.html', value : 'Регистрация'},
    {url   : './profile.html', value : 'Профиль'},
    {url   : './profile-password.html', value : 'Сменить пароль'},
    {url   : './orders.html', value : 'Заказы'},
    {url   : './one-click.html', value : 'Заказ в 1 клик'},
    {url   : './order-page.html', value : 'Заказ'},
    {url   : './favourites.html', value : 'Избранное'},
    {url   : './addresses.html', value : 'Мои адреса'},
    {url   : './address-add.html', value : 'Мои адреса - Добавление'},
    {url   : './discounts.html', value : 'Мои скидки и бонусы'},
    {url   : './reviews.html', value : 'Мои отзывы'},
    {url   : './comparison.html', value : 'Сравнение'},
    {url   : './tests.html', value : 'Список тестов'},
    {url   : './test.html', value : 'Тест 1'},
    {url   : './test-2.html', value : 'Тест 2'},
    {url   : './test-3.html', value : 'Тест 3'},
    {url   : './test-result.html', value : 'Результаты теста'},
    {url   : './press.html', value : 'Пресса о нас'},
    {url   : './articles.html', value : 'Статьи'},
    {url   : './article-page.html', value : 'Статья'},
    {url   : './news.html', value : 'Новости'},
    {url   : './news-page.html', value : 'Новость'},
    {url   : './delivery.html', value : 'Доставка и оплата'},
    {url   : './anonymous.html', value : 'Полная анонимность'},
    {url   : './bonuses.html', value : 'Бонусная программма'},
    {url   : './contacts.html', value : 'Контакты'},
    {url   : './about.html', value : 'О нас'},
    {url   : './privacy.html', value : 'Политика обработки данных'},
    {url   : './payment-success.html', value : 'Ура, все получилось!'},
    {url   : './payment-failure.html', value : 'Увы, оплата не прошла '},
    {url   : './search-result.html', value : 'Результат поиска '},
    {url   : './search-no-result.html', value : 'Результат поиска сообщение'},
    {url   : './404.html', value : '404'},
]%}

{% block headline %}Список страниц{% endblock %}
{% block content %}
    <div class="news-page block-underlay">
        <ul>
            {% for i in list %}
                <li><a href="{{ i.url }}" target="_blank">{{ i.value }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}