<div class="auth-page">
    <form class="block-underlay block-underlay--boxed form js-form">
        <header class="block-underlay__header">
            <h1 class="block-underlay__headline">Восстановить пароль</h1>
        </header>
        <div class="form__row">
            {% include '../elements/input.twig' with {
                name  : 'userEmail',
                label : 'Электронная почта',
                type  : 'email',
            } %}
        </div>
        <div class="form__row">
            <button class="button button--m button--w-100 button--gradient button--500" type="submit">Восстановить</button>
        </div>
        <div class="form__options">
            <div class="auth-prompt">
                <p>На&nbsp;указанную почту вышлем ссылку для восстановления.</p>
            </div>
        </div>
    </form>
</div>