<div class="auth-page">
    <div class="block-underlay block-underlay--boxed form">
        <header class="block-underlay__header">
            <h1 class="block-underlay__headline">Восстановить пароль</h1>
        </header>
        <div class="form__row">
            <div class="auth-message">
                <p>Мы отправили ссылку на почту</p>
                <p><b>pavlik@yandex.ru</b></p>
                <p><a href="javascript:void(0);" class="borderless">Изменить</a></p>
            </div>
        </div>
        <div class="form__row">
            <a href="./auth.html" class="button button--m button--w-100 button--grey button--500">Войти</a>
        </div>
    </div>
</div>