<div class="system-message system-message--payment">
    <div class="system-message__icon">
        <svg class="i _fail"  viewBox="0 0 199 241" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.1" fill-rule="evenodd" clip-rule="evenodd" d="M67.3279 74.703C29.1505 58.8665 43.5234 40.9105 58.2784 38.5052L79.5158 0.977692C29.4333 2.5902 -38.4375 54.0589 55.6157 104.545V235H161.943V191.217L162.179 180.897C227.665 169.406 190.439 76.9935 157.523 76.9935H146.901L144.022 76.9106C136.467 83.6539 126.5 87.7524 115.576 87.7524C103.768 87.7524 93.0782 82.9634 85.3435 75.2216L67.3279 74.703ZM121.364 120.158L77.4604 126.544C74.7278 126.942 72.8347 129.479 73.2322 132.212L84.7309 211.264C85.1284 213.996 87.6659 215.889 90.3986 215.492L134.302 209.106C137.035 208.708 138.928 206.171 138.531 203.438L137.504 196.379L136.088 186.645C126.956 186.137 115.309 185.137 110.25 183.5C101.75 180.75 101.5 176.25 101.25 169C101.05 163.2 109.667 159.917 114 159L131.985 158.438L129.989 144.717L127.032 124.386C126.634 121.654 124.097 119.761 121.364 120.158Z" fill="#9E42DC"/>
            <circle cx="103.459" cy="45.0164" r="40.736" stroke="#757575" stroke-width="4"/>
            <path d="M51.6732 42.5052C36.9183 44.9105 22.5454 62.8665 60.7227 78.703M72.9107 4.97769C22.8281 6.5902 -45.0427 58.0589 49.0105 108.545V239M140.296 80.9935H150.918C184.587 80.9935 222.764 177.681 150.918 185.557C149.48 185.999 142.088 186.958 110.753 187.489C90.1722 187.838 90.8358 157.282 114.072 157.282L140.296 157.341C154.459 156.345 177.54 147.847 156.561 121.823V141.74M155.338 195.217V239" stroke="#757575" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M129.702 144.717L126.745 124.386C126.347 121.654 123.81 119.761 121.077 120.158L77.1734 126.544C74.4407 126.942 72.5477 129.479 72.9452 132.212L84.4439 211.264C84.8414 213.996 87.3789 215.889 90.1115 215.492L134.015 209.106C136.748 208.708 138.641 206.171 138.244 203.438L137.217 196.379" stroke="#9E42DC" stroke-width="4" stroke-linecap="round"/>
            <path d="M86.0637 139.243L99.5 137.25" stroke="#9E42DC" stroke-width="4" stroke-linecap="round"/>
            <path d="M87.625 149.375L117.205 145.14" stroke="#9E42DC" stroke-width="4" stroke-linecap="round"/>
        </svg>
    </div>
    <h1 class="system-message__headline">Увы, оплата не&nbsp;прошла</h1>
    <a href="javascript:void(0);" class="borderless">Вернуться назад</a>
</div>