<div class="system-message system-message--payment">
    <div class="system-message__icon">
        <svg class="i _success" viewBox="0 0 118 110" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle opacity="0.1" cx="101.291" cy="44.5921" r="12.1117" fill="#9E42DC"/>
            <path opacity="0.1" d="M117.15 77.3079V104.481C117.15 108.114 113.651 109.022 111.902 109.022H89.881C85.9171 109.022 85.2932 105.994 85.4767 104.481V77.7479C85.4767 76.8675 84.8998 76.094 84.064 75.8173C78.0392 73.8227 73.1551 71.1392 69.2199 68.0998C68.3141 67.4002 68.2457 66.0759 68.9946 65.2104C70.4959 63.4754 72.4326 61.0336 73.4673 59.0617C74.2931 57.4878 75.2052 55.1493 75.9516 53.0523C76.5012 51.5084 78.6236 51.1343 79.7989 52.2764C83.7074 56.0745 89.4595 59.0617 97.5884 59.0617C114.325 59.0617 117.603 71.2259 117.15 77.3079Z" fill="#9E42DC"/>
            <circle cx="16.6991" cy="44.5089" r="11.1117" stroke="#757575" stroke-width="2"/>
            <path d="M1.03929 106.605V79.4327C0.586348 73.3506 3.86451 61.1864 20.6007 61.1864C37.3368 61.1864 43.9983 48.5242 45.237 42.1931V37.5576C45.237 26.0601 63.955 25.995 63.955 36.5942V42.1931C64.0985 51.0475 58.0508 70.6831 32.7124 78.3905V106.605" stroke="#757575" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M112.643 106.605V79.4328C113.096 73.3507 109.818 61.1865 93.0817 61.1865C82.9182 61.1865 76.4702 56.5169 72.6957 51.4313M80.97 106.605V78.3906C73.4024 76.0887 67.5555 72.7229 63.0804 68.898" stroke="#757575" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <rect x="31.446" y="12.9436" width="5.06615" height="14.5136" rx="2.53308" transform="rotate(-45.6747 31.446 12.9436)" stroke="#9E42DC" stroke-width="2"/>
            <rect x="74.468" y="9.14845" width="5.06615" height="14.5127" rx="2.53308" transform="rotate(44.1999 74.468 9.14845)" stroke="#9E42DC" stroke-width="2"/>
            <rect x="51.9804" y="1.10194" width="5.06615" height="14.5127" rx="2.53308" transform="rotate(0.838921 51.9804 1.10194)" stroke="#9E42DC" stroke-width="2"/>
            <circle opacity="0.1" cx="101.291" cy="44.5921" r="12.1117" fill="#9E42DC"/>
            <path opacity="0.1" d="M117.15 77.3079V104.481C117.15 108.114 113.651 109.022 111.902 109.022H89.881C85.9171 109.022 85.2932 105.994 85.4767 104.481V77.7479C85.4767 76.8675 84.8998 76.094 84.064 75.8173C78.0392 73.8227 73.1551 71.1392 69.2199 68.0998C68.3141 67.4002 68.2457 66.0759 68.9946 65.2104C70.4959 63.4754 72.4326 61.0336 73.4673 59.0617C74.2931 57.4878 75.2052 55.1493 75.9516 53.0523C76.5012 51.5084 78.6236 51.1343 79.7989 52.2764C83.7074 56.0745 89.4595 59.0617 97.5884 59.0617C114.325 59.0617 117.603 71.2259 117.15 77.3079Z" fill="#9E42DC"/>
            <circle cx="16.6991" cy="44.5089" r="11.1117" stroke="#757575" stroke-width="2"/>
            <circle cx="96.3431" cy="44.5089" r="12.1117" stroke="#757575" stroke-width="2"/>
        </svg>

    </div>
    <h1 class="system-message__headline">Ура, все получилось!</h1>
    <p class="p--l">Спасибо за&nbsp;заказ!</p>
    <p class="p--l">
        <a href="./home.html" class="borderless">Перейти на главную</a>
    </p>
</div>