{% extends '../../templates/template-parts/page-template.twig' %}
{% set breadcrumbs = {
    links : [
        {
            url  : './home.twig',
            link : 'Главная',
        }
    ],
    last : 'Пресса о&nbsp;нас'
} %}
{% set news = [
    {
        image   : 0,
        preview : '&laquo;Мы&nbsp;не&nbsp;продаём секс-игрушки или оргазм. Мы&nbsp;продаём счастье&raquo;&nbsp;&mdash; интервью с&nbsp;Есенией Шамониной, владелицей презервативной',
        label   : 'Life Hacker',
    },
    {
        image   : 1,
        preview : 'Приложение &laquo;Шпи-Ви&raquo;: как улучшить интимную жизнь?',
        label   : 'sexshopers.ru',
    },
    {
        image   : 2,
        preview : 'Хозяйка Презервативной запускает новый оффлайновый проект',
        label   : 'Life Hacker',
    },
    {
        image   : 3,
        preview : 'Для семейных пар, в&nbsp;которых что-то пошло не&nbsp;так',
        label   : 'sexshopers.ru',
    },
    {
        image   : 4,
        preview : 'Для поиска и&nbsp;раскрытия именно своей &laquo;сексуальности&raquo;',
        label   : 'sexshopers.ru',
    },
    {
        image   : 5,
        preview : 'Хозяйка Презервативной запускает новый оффлайновый проект',
        label   : 'sexshopers.ru',
    },
]%}

{% block headline %}Пресса о&nbsp;нас{% endblock %}
{% block content %}
    <div class="news-array grid">
        {% for i in news %}
            <div class="news-array__element grid-col grid-col--4 grid-col--m-6 grid-col--s-12">
                {% include '../elements/news-element.twig' with {
                    image   : i.image,
                    preview : i.preview,
                    label   : i.label,
                } %}
            </div>
        {% endfor %}
    </div>
    {% include '../includes/pagination.twig' with { paginationMod : 'pagination--light' } %}
{% endblock %}