{% extends '../../templates/template-parts/page-template.twig' %}
{% set pageMod = 'page--profile' %}
{% set headerless = true %}
{% set breadcrumbs = {
    links : [
        {
            url  : './profile.html',
            link : 'Личный кабинет',
        }
    ],
    last : 'Сменить пароль'
} %}

{% block content %}
    <div class="profile-page grid">
        <div class="profile-page__aside grid-col grid-col--3 grid-col--sl-4 grid-col--m-12 grid-col--s-12">
            {% include '../template-parts/aside-navigation.twig' %}
        </div>
        <div class="profile-page__body grid-col grid-col--9 grid-col--sl-8 grid-col--m-12 grid-col--s-12">
            <div class="block-underlay">
                <header class="block-underlay__header">
                    {% include '../includes/breadcrumbs.twig' with { array : breadcrumbs } %}
                    <h1 class="block-underlay__headline">Сменить пароль</h1>
                </header>
                <form action="/" method="POST" class="form js-form">
                    <div class="form__row">
                        {% include '../elements/input.twig' with {
                            name  : 'userCurrentPassword',
                            label : 'Текущий пароль',
                            type  : 'password',
                        } %}
                    </div>
                    <div class="form__row">
                        {% include '../elements/input.twig' with {
                            name  : 'userNewPassword',
                            label : 'Новый пароль',
                            type  : 'password',
                        } %}
                    </div>
                    <div class="form__row">
                        {% include '../elements/input.twig' with {
                            name  : 'userNewPasswordConfirm',
                            label : 'Повторите новый пароль',
                            type  : 'password',
                        } %}
                    </div>
                    <div class="form__row form__row--controls">
                        <button class="button button--m button--gradient button--500" type="submit">Сменить пароль</button>
                        <a href="./profile.html" class="button button--m button--grey button--500">Вернуться в профиль</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}