{% extends '../../templates/template-parts/page-template.twig' %}
{% set pageMod = 'page--profile' %}
{% set headerless = true %}
{% set breadcrumbs = {
    links : [
        {
            url  : './profile.html',
            link : 'Личный кабинет',
        }
    ],
    last : 'Профиль'
} %}

{% block content %}
    <div class="profile-page grid">
        <div class="profile-page__aside grid-col grid-col--3 grid-col--sl-4  grid-col--m-12 grid-col--s-12">
            {% include '../template-parts/aside-navigation.twig' %}
        </div>
        <div class="profile-page__body grid-col grid-col--9 grid-col--sl-8  grid-col--m-12 grid-col--s-12">
            <div class="block-underlay">
                <header class="block-underlay__header">
                    {% include '../includes/breadcrumbs.twig' with { array : breadcrumbs } %}
                    <h1 class="block-underlay__headline">Профиль</h1>
                </header>
                <form action="/" method="POST" class="form js-form">
                    <div class="form__row">
                        {% include '../elements/input.twig' with {
                            name  : 'userName',
                            label : 'Имя',
                            type  : 'text',
                        } %}
                    </div>
                    <div class="form__row">
                        {% include '../elements/input.twig' with {
                            inputMod : 'input--phone',
                            name     : 'userPhone',
                            label    : 'Телефон',
                            type     : 'tel',
                        } %}
                    </div>
                    <div class="form__row">
                        {% include '../elements/input.twig' with {
                            name  : 'userEmail',
                            label : 'Электронная почта',
                            type  : 'email',
                        } %}
                    </div>
                    <div class="form__row form__row--controls">
                        <button class="button button--m button--gradient button--500" type="submit">Сохранить</button>
                        <a href="./profile-password.html" class="button button--m button--grey button--500">Сменить пароль</a>
                        <button class="button button--m button--transparent button--500" type="button">Удалить аккаунт</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}