<div class="auth-page">
    <form class="block-underlay block-underlay--boxed form js-form">
        <header class="block-underlay__header">
            <h1 class="block-underlay__headline">Регистрация</h1>
        </header>
        <div class="form__row">
            {% include '../elements/input.twig' with {
                name  : 'userName',
                label : 'Имя',
                type  : 'text',
            } %}
        </div>
        <div class="form__row">
            {% include '../elements/input.twig' with {
                name     : 'userPhone',
                label    : 'Телефон',
                type     : 'tel',
            } %}
        </div>
        <div class="form__row">
            {% include '../elements/input.twig' with {
                name  : 'userEmail',
                label : 'Электронная почта',
                type  : 'email',
            } %}
        </div>
        <div class="form__row">
            {% include '../elements/input.twig' with {
                name  : 'userPassword',
                label : 'Пароль',
                type  : 'password',
            } %}
        </div>
        <div class="form__row">
            <button class="button button--m button--w-100 button--gradient button--500" type="submit">Зарегистрироваться</button>
        </div>
    </form>
</div>