{% extends '../../templates/template-parts/page-template.twig' %}
{% set pageMod = 'page--profile' %}
{% set headerless = true %}
{% set breadcrumbs = {
    links : [
        {
            url  : './profile.html',
            link : 'Личный кабинет',
        }
    ],
    last : 'Мои отзывы'
} %}
{% set reviews = [
    {
        image    : 0,
        headline : 'Вибростимулятор Cookie',
        status : {
            mod    : 'reviews-element__status--green',
            blocks : ['Принято', '+ 250 бонусов']
        },
        text   : '<p>Делает свою работу отлично, для меня слегка длинноват, думаю см&nbsp;16-18 было&nbsp;бы идеально. Не&nbsp;знаю как так вышло, но&nbsp;даже без проблем использовала. Замечательная штука. Всем советую.</p>',
        date   : '12.02.2020',
        width  : 100,
    },
    {
        image    : 1,
        headline : 'Парный стимулятор Satisfyer Partner Multifun 2',
        status : {
            mod    : 'reviews-element__status--orange',
            blocks : ['На модерации']
        },
        text   : '<p>Будьте внимательны при выборе размера. В&nbsp;мое время подобного отзыва не&nbsp;хватило), вот и&nbsp;заказала почти не&nbsp;глядя, итог- не&nbsp;входит даже. Что делать с&nbsp;ним не&nbsp;знаю. Понимаю, что только моя вина.</p>',
        date   : '23.01.2020',
        width  : 78,
    },
    {
        image    : 2,
        headline : 'Вибростимулятор Cookie',
        status : {
            mod    : 'reviews-element__status--red',
            blocks : ['Отклонен'],
            desc   : 'К&nbsp;сожалению, в&nbsp;соответствие с&nbsp;законодательством мы&nbsp;не&nbsp;можем публиковать отзывы содержащие нецензурные выражения, признаки разжигания.'
        },
        text   : '<p>Будьте внимательны при выборе размера. В&nbsp;мое время подобного отзыва не&nbsp;хватило), вот и&nbsp;заказала почти не&nbsp;глядя, итог- не&nbsp;входит даже. Что делать с&nbsp;ним не&nbsp;знаю. Понимаю, что только моя вина.</p>',
        date   : '23.01.2020',
        width  : 78,
    },
] %}
{% set add = [
    {
        image       : 0,
        headline    : 'Вибростимулятор Cookie',
        width       : 0,
        description : 'нет отзывов',
        textHeight  : 'data-height="100"'
    },
    {
        image       : 1,
        headline    : 'Парный стимулятор Satisfyer Partner Multifun&nbsp;2',
        width       : 80,
        description : '5 отзывов',
        controls    : true,
    },
    {
        image       : 2,
        headline    : 'Вибратор Volta с&nbsp;раздвоенным кончиком',
        width       : 0,
        description : 'нет отзывов',
    },
    {
        image       : 3,
        headline    : 'Вибратор Volta с&nbsp;раздвоенным кончиком',
        width       : 0,
        description : 'нет отзывов',
    },
]%}

{% block content %}
    <div class="profile-page grid">
        <div class="profile-page__aside grid-col grid-col--3 grid-col--sl-4  grid-col--m-12 grid-col--s-12">
            {% include '../template-parts/aside-navigation.twig' %}
        </div>
        <div class="profile-page__body grid-col grid-col--9 grid-col--sl-8  grid-col--m-12 grid-col--s-12">
            <div class="block-underlay">
                <div class="tabs js-tabs">
                    <div class="tabs__list">
                        <button data-tab-id="tab-products-no-review" class="tabs__element _active borderless js-tabs-button" type="button">Товары без отзыва</button>
                        <button data-tab-id="tab-all-reviews" class="tabs__element borderless js-tabs-button" type="button">Все отзывы</button>
                    </div>
                    <div data-tab="tab-products-no-review" class="tabs__pane _active js-tabs-pane">
                        <div class="reviews-array reviews-array--dividers">
                            {% for i in add %}
                                <div class="reviews-array__element">
                                    {% include '../elements/reviews-add.twig' with {
                                        image       : i.image,
                                        headline    : i.headline,
                                        width       : i.width,
                                        description : i.description,
                                        controls    : i.controls,
                                        textHeight  : i.textHeight,
                                    } %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div data-tab="tab-all-reviews" class="tabs__pane js-tabs-pane">
                        <div class="reviews-array">
                            {% for i in reviews %}
                                <div class="reviews-array__element">
                                    {% include '../elements/reviews-element.twig' with {
                                        image    : i.image,
                                        headline : i.headline,
                                        status   : i.status,
                                        text     : i.text,
                                        date     : i.date,
                                        width    : i.width,
                                    } %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}