{% set news = [
    {
        image   : '-0',
        preview : '&laquo;Мы&nbsp;не&nbsp;продаём секс-игрушки или оргазм. Мы&nbsp;продаём счастье&raquo;&nbsp;&mdash; интервью с&nbsp;Есенией Шамониной, владелицей презервативной',
        label   : 'От эксперта',
    },
    {
        image   : 9,
        headline: 'Приложение &laquo;Шпи-Ви&raquo;: как улучшить интимную жизнь?',
        preview : 'Приложение &laquo;Шпи-Ви&raquo;: как улучшить интимную жизнь?',
        label   : 'Игрушки',
    },
    {
        image   : 10,
        headline: 'Хозяйка Презервативной запускает новый проект',
        preview : 'Хозяйка Презервативной запускает новый оффлайновый проект',
        label   : 'Секс',
    }
]%}

<div class="system-message system-message--search-no-result">
    <div class="container">
        <h1 class="system-message__headline">Ничего <br>не&nbsp;найдено</h1>
        <p>Попробуйте ввести другой запрос или посмотрите наши статьи, возможно они помогут вам найти&nbsp;то, что вы&nbsp;ищите.</p>

        <div class="helpers-array grid">
            <div class="helpers-array__element grid-col grid-col--4 grid-col--m-12 grid-col--s-12">
                <a href="javascript:void(0);" class="helpers-element borderless">
                    <div class="helpers-element__headline">
                        <svg class="i" width="64" height="65" viewBox="0 0 64 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle opacity="0.1" cx="32" cy="32.5" r="28" fill="#9E42DC"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M55.9677 7.68184C56.1645 7.75264 56.3039 7.92899 56.3275 8.13674L56.7275 11.6605L59.8567 13.3321C60.0411 13.4306 60.1536 13.6252 60.1469 13.8341C60.1402 14.0431 60.0155 14.2301 59.8252 14.3166L56.598 15.784L55.9785 19.2751C55.9419 19.481 55.7917 19.6482 55.5909 19.7066C55.3901 19.7649 55.1736 19.7042 55.0324 19.55L52.6378 16.9336L49.1251 17.4238C48.918 17.4527 48.7125 17.3615 48.5949 17.1886C48.4773 17.0157 48.4682 16.791 48.5712 16.609L50.3186 13.5239L48.7667 10.3364C48.6752 10.1485 48.6983 9.92488 48.8263 9.75961C48.9544 9.59433 49.1651 9.51605 49.37 9.55765L52.8467 10.2637L55.4006 7.80311C55.5511 7.65804 55.771 7.61103 55.9677 7.68184Z" stroke="#9E42DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.47598 47.8003C9.6239 47.7149 9.80746 47.7209 9.94951 47.8157L12.3588 49.4243L15.0517 48.3535C15.2104 48.2904 15.3912 48.3229 15.518 48.4372C15.6448 48.5516 15.6958 48.728 15.6494 48.8923L14.8631 51.6795L16.7144 53.9069C16.8236 54.0382 16.8487 54.2202 16.7792 54.3762C16.7097 54.5323 16.5577 54.6353 16.387 54.6421L13.492 54.7563L11.9456 57.2063C11.8544 57.3508 11.6891 57.4309 11.5193 57.4131C11.3494 57.3952 11.2044 57.2825 11.1452 57.1223L10.1419 54.4053L7.33497 53.6927C7.16945 53.6506 7.04214 53.5183 7.00653 53.3513C6.97092 53.1843 7.0332 53.0115 7.16718 52.9057L9.44096 51.1089L9.25257 48.2181C9.24147 48.0477 9.32807 47.8857 9.47598 47.8003Z" stroke="#9E42DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M47.2539 38.9998L46.995 39.9657L47.2539 38.9998ZM45.608 49.4098L44.642 49.151C44.763 48.6994 45.1808 48.3919 45.648 48.4106L45.608 49.4098ZM43.2576 51.3841L42.3557 51.816L43.2576 51.3841ZM41.8963 48.542L42.1551 47.5761C42.4371 47.6516 42.6721 47.8467 42.7982 48.11L41.8963 48.542ZM37.0587 36.268L37.3175 35.3021L37.0587 36.268ZM49.8235 44.8647C50.3952 42.7309 49.1289 40.5375 46.995 39.9657L47.5127 38.0339C50.7135 38.8915 52.613 42.1816 51.7553 45.3824L49.8235 44.8647ZM49.6672 45.4478L49.8235 44.8647L51.7553 45.3824L51.5991 45.9655L49.6672 45.4478ZM45.648 48.4106C47.4751 48.4838 49.1744 47.2872 49.6672 45.4478L51.5991 45.9655C50.859 48.7276 48.3091 50.5188 45.5679 50.409L45.648 48.4106ZM44.1594 50.9521L44.642 49.151L46.5739 49.6686L46.0913 51.4697L44.1594 50.9521ZM44.1594 50.9521L44.1594 50.9521L46.0913 51.4697C45.6107 53.2634 43.1578 53.4908 42.3557 51.816L44.1594 50.9521ZM42.7982 48.11L44.1594 50.9521L42.3557 51.816L40.9944 48.974L42.7982 48.11ZM34.573 45.5445L42.1551 47.5761L41.6375 49.5079L34.0554 47.4763L34.573 45.5445ZM31.7446 40.6455C31.1728 42.7793 32.4392 44.9727 34.573 45.5445L34.0554 47.4763C30.8546 46.6187 28.9551 43.3286 29.8128 40.1278L31.7446 40.6455ZM31.9009 40.0624L31.7446 40.6455L29.8128 40.1278L29.969 39.5447L31.9009 40.0624ZM36.7998 37.2339C34.666 36.6622 32.4726 37.9285 31.9009 40.0624L29.969 39.5447C30.8267 36.3439 34.1167 34.4444 37.3175 35.3021L36.7998 37.2339ZM46.995 39.9657L36.7998 37.2339L37.3175 35.3021L47.5127 38.0339L46.995 39.9657Z" fill="#9E42DC"/>
                            <line x1="36.564" y1="40.0208" x2="46.7561" y2="42.7518" stroke="#9E42DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <line x1="35.7008" y1="43.2695" x2="40.4265" y2="44.5357" stroke="#9E42DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M8.44375 25.5822L9.40968 25.3234L8.44375 25.5822ZM10.2233 32.2235L9.25735 32.4823L10.2233 32.2235ZM16.347 35.759L16.0882 34.7931L16.347 35.759ZM17.8538 35.3553L18.8198 35.0964C18.6768 34.563 18.1285 34.2464 17.595 34.3893L17.8538 35.3553ZM20.8697 39.8848L19.9803 39.4277L19.9803 39.4277L20.8697 39.8848ZM24.0507 33.6948L23.7919 32.7289C23.5193 32.8019 23.2903 32.9867 23.1613 33.2377L24.0507 33.6948ZM40.1222 29.3885L39.8634 28.4225L40.1222 29.3885ZM9.40968 25.3234C8.83791 23.1895 10.1042 20.9962 12.2381 20.4244L11.7205 18.4926C8.51967 19.3502 6.62018 22.6402 7.47783 25.841L9.40968 25.3234ZM11.1892 31.9647L9.40968 25.3234L7.47783 25.841L9.25735 32.4823L11.1892 31.9647ZM16.0882 34.7931C13.9543 35.3649 11.761 34.0985 11.1892 31.9647L9.25735 32.4823C10.115 35.6831 13.405 37.5826 16.6058 36.7249L16.0882 34.7931ZM17.595 34.3893L16.0882 34.7931L16.6058 36.7249L18.1126 36.3212L17.595 34.3893ZM19.9803 39.4277L18.8198 35.0964L16.8879 35.6141L18.0485 39.9454L19.9803 39.4277ZM19.9803 39.4277L19.9803 39.4277L18.0485 39.9454C18.5219 41.7124 20.923 41.969 21.7592 40.3419L19.9803 39.4277ZM23.1613 33.2377L19.9803 39.4277L21.7592 40.3419L24.9402 34.1519L23.1613 33.2377ZM39.8634 28.4225L23.7919 32.7289L24.3096 34.6607L40.3811 30.3544L39.8634 28.4225ZM42.6919 23.5236C43.2636 25.6574 41.9973 27.8508 39.8634 28.4225L40.3811 30.3544C43.5819 29.4967 45.4814 26.2067 44.6237 23.0059L42.6919 23.5236ZM40.9123 16.8823L42.6919 23.5236L44.6237 23.0059L42.8442 16.3647L40.9123 16.8823ZM36.0133 14.0539C38.1472 13.4821 40.3406 14.7484 40.9123 16.8823L42.8442 16.3647C41.9865 13.1639 38.6965 11.2644 35.4957 12.122L36.0133 14.0539ZM12.2381 20.4244L36.0133 14.0539L35.4957 12.122L11.7205 18.4926L12.2381 20.4244Z" fill="#9E42DC"/>
                            <line x1="1" y1="-1" x2="20.1368" y2="-1" transform="matrix(-0.965926 0.258819 0.258819 0.965926 35.3392 20.4593)" stroke="#9E42DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <line x1="1" y1="-1" x2="10.6066" y2="-1" transform="matrix(-0.965926 0.258819 0.258819 0.965926 27.361 27.5052)" stroke="#9E42DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Тесты по&nbsp;подбору игрушек
                    </div>
                    <div class="button button--grey button--500">Пройти</div>
                </a>
            </div>
            <div class="helpers-array__element grid-col grid-col--4 grid-col--m-12 grid-col--s-12">
                <a href="javascript:void(0);" class="helpers-element borderless">
                    <div class="helpers-element__headline">
                        <svg class="i" width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle opacity="0.1" cx="32" cy="32" r="28" fill="#9E42DC"/>
                            <rect x="9.5" y="12.0706" width="45" height="33.643" rx="5" stroke="#9E42DC" stroke-width="2"/>
                            <line x1="18.8195" y1="50.9293" x2="45.1807" y2="50.9293" stroke="#9E42DC" stroke-width="2" stroke-linecap="round"/>
                            <path d="M14.2482 38.8131L18.1549 38.8131M49.916 38.8131L23.0371 38.8131" stroke="#9E42DC" stroke-width="2" stroke-linecap="round"/>
                            <path d="M21.3538 50.7318L25.056 45.7298" stroke="#9E42DC" stroke-width="2" stroke-linecap="round"/>
                            <path d="M42.6016 50.7156L38.8993 45.7136" stroke="#9E42DC" stroke-width="2" stroke-linecap="round"/>
                            <circle cx="20.5883" cy="38.7656" r="2.38409" stroke="#9E42DC" stroke-width="2"/>
                            <circle cx="41.2834" cy="5.25879" r="2.38409" stroke="#9E42DC" stroke-width="2"/>
                            <circle cx="11.8641" cy="53.4523" r="2.38409" stroke="#9E42DC" stroke-width="2"/>
                            <circle cx="50.9133" cy="55.8364" r="2.38409" stroke="#9E42DC" stroke-width="2"/>
                            <circle cx="32.0822" cy="24.977" r="8.10758" stroke="#9E42DC" stroke-width="2"/>
                            <path d="M36.0585 24.977L30.0938 28.7819L30.0938 21.1722L36.0585 24.977Z" stroke="#9E42DC" stroke-width="2" stroke-linejoin="round"/>
                        </svg>
                        Короткие видео
                    </div>
                    <div class="button button--grey button--500">Смотреть</div>
                </a>
            </div>
            <div class="helpers-array__element grid-col grid-col--4 grid-col--m-12 grid-col--s-12">
                <a href="javascript:void(0);" class="helpers-element borderless">
                    <div class="helpers-element__headline">
                        <svg class="i" width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle opacity="0.1" cx="32" cy="32" r="28" fill="#9E42DC"/>
                            <rect x="15.5649" y="15.5163" width="29.866" height="40.1897" stroke="#9E42DC" stroke-width="2" stroke-linejoin="round"/>
                            <rect x="20.2771" y="19.9088" width="15.434" height="7.88265" stroke="#9E42DC" stroke-width="2" stroke-linejoin="round"/>
                            <path d="M49.2826 50.439L50.8762 55.5735L54.7962 51.7646M49.2826 50.439L54.2942 29.2013M49.2826 50.439L52.0394 51.1018L54.7962 51.7646M54.7962 51.7646L59.8474 30.6609M59.8474 30.6609L60.4843 27.9618C60.8484 26.4191 59.8929 24.8734 58.3502 24.5093V24.5093C56.8075 24.1453 55.2618 25.1008 54.8977 26.6435L54.2942 29.2013M59.8474 30.6609L54.2942 29.2013" stroke="#9E42DC" stroke-width="2" stroke-linejoin="round"/>
                            <line x1="20.4336" y1="33.0909" x2="35.3391" y2="33.0909" stroke="#9E42DC" stroke-width="2" stroke-linecap="round"/>
                            <line x1="20.4307" y1="39.0575" x2="40.5714" y2="39.0575" stroke="#9E42DC" stroke-width="2" stroke-linecap="round"/>
                            <line x1="20.4307" y1="43.0575" x2="40.5714" y2="43.0575" stroke="#9E42DC" stroke-width="2" stroke-linecap="round"/>
                            <line x1="20.4246" y1="47.0575" x2="40.5653" y2="47.0575" stroke="#9E42DC" stroke-width="2" stroke-linecap="round"/>
                            <line x1="20.4246" y1="51.0575" x2="40.5653" y2="51.0575" stroke="#9E42DC" stroke-width="2" stroke-linecap="round"/>
                            <path d="M9.68762 33.2036C9.23715 35.0955 9.87531 37.6332 10.2507 38.6655C9.06823 38.215 6.44425 37.0888 5.40818 36.1879C3.49255 34.5221 1.26138 32.5779 2.36173 30.2477C3.12753 28.626 5.40818 29.131 6.18216 30.2477C6.18216 28.8959 8.05467 27.3362 9.40607 28.1921C11.0953 29.262 10.2507 30.8386 9.68762 33.2036Z" stroke="#9E42DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M49.7978 12.8589C50.3972 14.6825 52.3311 16.2082 52.9507 16.8048C52.9421 16.2558 53.5337 14.8939 53.9759 14.0143C54.5285 12.9149 54.8169 13.2133 55.4428 11.8911C55.8427 11.0464 55.8319 9.91478 54.5094 9.42324C53.5092 9.05152 52.4095 10.5561 52.4344 10.8551C52.2307 10.3667 51.4407 9.39568 50.7222 9.5388C49.8241 9.71769 49.0487 10.5795 49.7978 12.8589Z" stroke="#9E42DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Интересные статьи
                    </div>
                    <div class="button button--grey button--500">Перейти</div>
                </a>
            </div>
        </div>
        <div class="news-array grid">
            {% for i in news %}
                <div class="news-array__element grid-col grid-col--4 grid-col--m-6 grid-col--s-12">
                    {% include '../elements/news-element.twig' with {
                        image    : i.image,
                        headline : i.headline,
                        preview  : i.preview,
                        label    : i.label,
                    } %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>