{% extends '../../templates/template-parts/page-template.twig' %}
{% set breadcrumbs = {
    links : [
        {
            url  : './home.twig',
            link : 'Главная',
        }
    ],
    last : 'Поиск'
} %}
{% set categories = [
    {active: true, value: 'Все разделы', counter: 30},
    {value : 'Лубриканты', counter: 24},
    {value : 'Интимная косметика', counter: 5}
] %}
{% set products = [
    {
        image : 8,
        label : {
        mod   : 'product-label--green',
        value : 'Новинка',
    },
        price : '1&thinsp;376',
        headline : 'Продлевающий гель-лубрикант',
        rating : { width : 85, description: '12 отзывов'}
    },
    {
        image : 9,
        price : '750',
        headline : 'Лубрикант Shunga Aroma&nbsp;&mdash; экзотические',
        rating : {width : 100, description: '4 отзыва'}
    },
    {
        image : 10,
        price : '650',
        headline : 'Лубрикант с ароматом зелёного',
        rating : {width : 93, description: '3 отзыва'}
    },
    {
        image : 11,
        price : '4&thinsp;900',
        headline : 'Лубрикант Wicked Aqua Cherry Cordial',
        rating : {width : 93, description: '256 отзывов'}
    },
    {
        image : 12,
        price : '500',
        headline : 'Лубрикант Triple Pleasure',
        rating : {width : 93, description: '12 отзывов'}
    },
    {
        image : 13,
        price : '1&thinsp;376',
        headline : 'Лубрикант Wicked Aqua Cherry Cordial',
        rating : {width : 93, description: '4 отзыва'}
    },
    {
        label : {
        mod   : 'product-label--red',
        value : 'Хит продаж',
    },
        image : 14,
        price : '750',
        headline : 'Лубрикант Wicked Aqua Candy Apple',
        rating : { width : 93, description: '3 отзыва'}
    },
    {
        image : 15,
        price : '950',
        headline : 'Лубрикант Personal Lubricant H2O Cooling',
        rating : { width : 93, description: '256 отзывов'}
    },
    {
        image : 16,
        price : '1&thinsp;376',
        headline : 'Гель-лубрикант AQUAglide с&nbsp;ароматом малины',
        rating : { width : 93, description: '256 отзывов'}
    },
    {
        image : 17,
        price : '850',
        headline : 'Лубрикант System JO&nbsp;Candy Shop Butterscotch',
        rating : { width : 93, description: '256 отзывов'}
    },
    {
        image : 18,
        price : '850',
        headline : 'Лубрикант Wicked Aqua Candy Apple',
        rating : { width : 93, description: '256 отзывов'}
    },
    {
        image : 19,
        price : '10&thinsp;050',
        headline : 'Лубрикант System Jo&nbsp;Oral Delight Strawberry Sensation',
        rating : { width : 93, description: '256 отзывов'}
    },
] %}
{% set filterTypes = [
    {checked : true, name    : 'product-type', value   : 'Все',},
    {name    : 'product-type', value   : 'Вакуумно-волновые',},
    {name    : 'product-type', value   : 'Пульсаторы',},
    {name    : 'product-type', value   : 'Массажеры',},
    {name    : 'product-type', value   : 'Фрикционные',},
    {name    : 'product-type', value   : 'С ротацией',},
    {name    : 'product-type', value   : 'Пульсаторы', hidden  : true,},
    {name    : 'product-type', value   : 'Массажеры', hidden  : true,},
    {name    : 'product-type', value   : 'Фрикционные', hidden  : true,},
]%}
{% set filterSizes = [
    {checked : true,name    : 'product-size', value   : 'Все',},
    {name    : 'product-size', value   : 'XL',},
    {name    : 'product-size', value   : 'XXL',},
]%}
{% set filterDiamter = [
    {checked : true, name    : 'product-diametr', value   : 'Все',},
    {name    : 'product-diametr', value   : 'До&nbsp;3&nbsp;см',},
    {name    : 'product-diametr', value   : '3-5&nbsp;см',},
    {name    : 'product-diametr', value   : 'Больше 5 см',},
]%}
{% set filterColor = [
    {controlMod : 'color-control--alternative', name    : 'product-color', color   : '#000000',},
    {controlMod : 'color-control--alternative', checked : true, name    : 'product-color', color   : '#757575',},
    {controlMod : 'color-control--alternative', name    : 'product-color', color   : '#eb5757',},
    {controlMod : 'color-control--alternative', name    : 'product-color', color   : '#27ae60',},
    {controlMod : 'color-control--alternative', name    : 'product-color', color   : '#2f80ed',},
    {controlMod : 'color-control--alternative', name    : 'product-color', color   : '#9b51e0',},
    {controlMod : 'color-control--alternative', name    : 'product-color', color   : '#f2994a',},
    {controlMod : 'color-control--alternative', name    : 'product-color', color   : '#56ccf2',},
    {controlMod : 'color-control--alternative', name    : 'product-color', color   : '#f2c94c',},
    {controlMod : 'color-control--alternative', name    : 'product-color', color   : '#e0e0e0',},
    {controlMod : 'color-control--alternative color-control--light', name    : 'product-color', color   : '#ffffff',},
]%}

{% block headline %}Поиск «лубрикант»{% endblock %}
{% block content %}
    <div id="js-sticky-navigation-parent" class="catalog-page js-catalog-filter">
        {% include '../../templates/includes/sticky-navigation.twig' with { categories : categories } %}
        <div class="catalog-content block-underlay">
            <div class="catalog-page__inside">
                <div class="product-filter">
                    <div class="product-filter-sort">
                        <div class="product-filter-sort__value">
                            <svg class="i" viewBox="0 0 29 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <line x1="1" y1="-1" x2="16" y2="-1" transform="matrix(1 0 0 -1 0 12)" stroke="#9E42DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <line x1="23.5" y1="1" x2="23.5" y2="13" stroke="#9E42DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <line x1="1" y1="-1" x2="10" y2="-1" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 6 6)" stroke="#9E42DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <line x1="1" y1="-1" x2="5" y2="-1" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 11 0)" stroke="#9E42DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M24.2426 14.2929L26.8284 11.7071C27.4584 11.0771 27.0122 10 26.1213 10H20.9498C20.0589 10 19.6127 11.0771 20.2427 11.7071L22.8284 14.2929C23.219 14.6834 23.8521 14.6834 24.2426 14.2929Z" fill="#9E42DC"/>
                            </svg>
                            <svg hidden class="i" viewBox="0 0 29 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <line x1="1" y1="1" x2="16" y2="1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <line x1="23.5" y1="1" x2="23.5" y2="13" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <line x1="7" y1="7" x2="16" y2="7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <line x1="12" y1="13" x2="16" y2="13" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M24.2426 14.2929L26.8284 11.7071C27.4584 11.0771 27.0122 10 26.1213 10H20.9497C20.0588 10 19.6127 11.0771 20.2426 11.7071L22.8284 14.2929C23.2189 14.6834 23.8521 14.6834 24.2426 14.2929Z" fill="#9E42DC"/>
                            </svg>
                            Популярные
                        </div>
                        <div class="product-filter-sort__dropdown">
                            <a href="javascript:void(0);" class="product-filter-sort__element borderless">Сначала дешевые</a>
                            <a href="javascript:void(0);" class="product-filter-sort__element borderless">Сначала дорогие</a>
                            <a href="javascript:void(0);" class="product-filter-sort__element borderless">По наличию скидки</a>
                            <a href="javascript:void(0);" class="product-filter-sort__element borderless">По названию</a>
                        </div>
                    </div>
                    <button class="product-filter-control js-catalog-filter-button" type="button">
                        <svg class="i" version="1.1" viewBox="0 0 6.3575 4.7625" xmlns="http://www.w3.org/2000/svg">
                            <g transform="translate(-125.33 -175.93)" stroke="#9e42dc" stroke-width=".52917">
                                <g stroke-linecap="round" stroke-linejoin="round">
                                    <line x1="125.6" x2="126.66" y1="176.99" y2="176.99"/>
                                    <line x1="125.6" x2="127.72" y1="179.64" y2="179.64"/>
                                    <line x1="129.57" x2="131.42" y1="176.99" y2="176.99"/>
                                    <line x1="130.36" x2="131.42" y1="179.64" y2="179.64"/>
                                </g>
                                <circle cx="127.45" cy="176.99" r=".79375" fill="none"/>
                                <circle cx="129.57" cy="179.64" r=".79375" fill="none"/>
                            </g>
                        </svg>
                        Фильтры
                    </button>
                </div>
                <div class="catalog-array">
                    {% for i in products %}
                        <div class="catalog-array__element">
                            {% if i.banner %}
                                <div class="banner">
                                    <a href="javascript:void(0);" class="banner__link borderless">
                                        <img
                                                src="assets/images/banner/image-0.jpg"
                                                srcset="assets/images/banner/image-0.jpg 1x, assets/images/banner/image-0-2x.jpg 2x"
                                                alt="">
                                    </a>
                                </div>
                            {% else %}
                                {% include '../../templates/elements/product-element.twig' with {
                                    inCart   : i.inCart,
                                    image    : i.image,
                                    label    : i.label,
                                    price    : i.price,
                                    discount : i.discount,
                                    headline : i.headline,
                                    rating   : i.rating,
                                    vendor   : i.vendor,
                                } %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="catalog-filter js-accordions-non-collapsible">
                    <form action="/" method="POST" class="form">
                        <div class="accordion accordion--classic _expanded js-accordion">
                            <button class="accordion__button js-accordion-button" type="button">Тип</button>
                            <div class="accordion__body js-accordion-body">
                                <div class="catalog-filter-array load-more js-load-more">
                                    {% for i in filterTypes %}
                                        <div class="load-more__element {{ i.hidden ? 'load-more__element--hidden js-load-more-element'}}">
                                            {% include '../elements/default-control.twig' with {
                                                controlMod : 'default-control--gradient',
                                                type       : 'checkbox',
                                                checked    : i.checked,
                                                name       : i.name,
                                                value      : i.value,
                                            } %}
                                        </div>
                                    {% endfor %}
                                    <a href="javascript:void(0);" class="catalog-filter-array__more borderless js-load-more-button">показать еще 15</a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion accordion--classic _expanded js-accordion">
                            <button class="accordion__button js-accordion-button" type="button">Размер</button>
                            <div class="accordion__body js-accordion-body">
                                <div class="catalog-filter-array">
                                    {% for i in filterSizes %}
                                        <div class="load-more__element">
                                            {% include '../elements/default-control.twig' with {
                                                controlMod : 'default-control--gradient',
                                                type       : 'checkbox',
                                                checked    : i.checked,
                                                name       : i.name,
                                                value      : i.value,
                                            } %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="accordion accordion--classic _expanded js-accordion">
                            <button class="accordion__button js-accordion-button" type="button">Диаметр</button>
                            <div class="accordion__body js-accordion-body">
                                <div class="catalog-filter-array">
                                    {% for i in filterDiamter %}
                                        <div class="load-more__element">
                                            {% include '../elements/default-control.twig' with {
                                                controlMod : 'default-control--gradient',
                                                type       : 'checkbox',
                                                checked    : i.checked,
                                                name       : i.name,
                                                value      : i.value,
                                            } %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="accordion accordion--classic _expanded js-accordion">
                            <button class="accordion__button js-accordion-button" type="button">Цвет</button>
                            <div class="accordion__body js-accordion-body">
                                <div class="catalog-filter-array">
                                    {% for i in filterColor %}
                                        <div class="load-more__element">
                                            {% include '../elements/color-control.twig' with {
                                                controlMod : i.controlMod,
                                                type       : 'checkbox',
                                                checked    : i.checked,
                                                name       : i.name,
                                                color      : i.color,
                                            } %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="catalog-filter__controls">
                            <button class="button button--sm button--w-100 button--500" type="submit">Применить</button>
                            <button class="button button--sm button--w-100 button--grey button--500 js-catalog-filter-close" type="button">Закрыть</button>
                        </div>
                    </form>
                </div>
            </div>
            {#<div class="product-array grid">
                {% for i in products %}
                    <div class="product-array__element grid-col grid-col--3 grid-col--m-4 grid-col--s-6">
                        {% include '../../templates/elements/product-element.twig' with {
                            inCart   : i.inCart,
                            image    : i.image,
                            label    : i.label,
                            price    : i.price,
                            discount : i.discount,
                            headline : i.headline,
                            rating   : i.rating,
                        } %}
                    </div>
                {% endfor %}
            </div>#}
            {% include '../../templates/includes/pagination.twig' %}
        </div>
    </div>
{% endblock %}