{% extends '../../templates/template-parts/page-template.twig' %}
{% set breadcrumbs = {
    links : [
        {
            url  : './home.html',
            link : 'Главная',
        },
        {
            url  : './tests.html',
            link : 'Тесты',
        }
    ],
    last : 'Подбор интимной косметики'
} %}
{% set answers = [
    {
        checked : true,
        name    : 'test-answer',
        value   : '<b>Вакуумные помпы</b>',
        list    : [
            'Профилактика застоев и&nbsp;очищение органов мочеполовой системы',
            'Насыщение клеток кислородом.',
            'Помогает при проблема с&nbsp;эрекцией (использование перед сексом в&nbsp;комплекте с&nbsp;эрекционным кольцом)',
        ],
        prompt : 'Необходимо использовать 2-3 раза в&nbsp;неделю по&nbsp;10-15&nbsp;минут.'
    },
    {
        name  : 'test-answer',
        value : '<b>Массажеры простаты</b>',
        list    : [
        'Профилактика простатита.',
        'Вывод секрета простаты (это периодически необходимо).',
        'Улучшение качества спермы для зачатия.',
        'Для более длиннного полового акта.',
        'Более яркие оргазмы',
    ],
        prompt : 'Есть противопокказания. В&nbsp;случае болезней мочеполовой системы необходимо проконсультироваться по&nbsp;специалистом.'
    },
]%}

{% block headline %}Подбор интимной косметики{% endblock %}
{% block content %}
    <form action="/" method="POST" class="tests-quiz">
        {#<div class="tests-quiz__progress">
            <div class="tests-quiz__progress-bar" style="width: 100%;"></div>
        </div>
        <div class="tests-quiz__step">3&nbsp;из&nbsp;3</div>#}
        <div class="tests-quiz__body">
            <div class="tests-quiz__question">Мужчинам после 35&nbsp;лет надо заниматься своим интимным здоровьем, чтобы избежать неприятных заболеваний. <br>Есть два пути:</div>
            <div class="tests-quiz__answers">
                <div class="tests-quiz__answers-label">Выберите ответ</div>
                {% for i in answers %}
                    {% include '../elements/tests-answer.twig' with {
                        checked : i.checked,
                        name    : i.name,
                        value   : i.value,
                        list    : i.list,
                        prompt  : i.prompt,
                    } %}
                {% endfor %}
            </div>
        </div>
        <div class="tests-quiz__controls">
            <a href="./test-1.html" class="button button--m button--grey tests-quiz__controls--link-back">
                <svg class="i _arrow-left" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.70711 1.70711C9.09763 1.31658 9.09763 0.683417 8.70711 0.292893C8.31658 -0.0976311 7.68342 -0.0976311 7.29289 0.292893L0.292893 7.29289C-0.0976311 7.68342 -0.0976311 8.31658 0.292893 8.70711L7.29289 15.7071C7.68342 16.0976 8.31658 16.0976 8.70711 15.7071C9.09763 15.3166 9.09763 14.6834 8.70711 14.2929L3.41421 9H15C15.5523 9 16 8.55229 16 8C16 7.44772 15.5523 7 15 7H3.41421L8.70711 1.70711Z"/>
                </svg>
            </a>
            <button class="button button--m button--gradient button--500" type="submit">Показать результат</button>
            <div class="tests-quiz__no">Вопрос &#8470;&nbsp;3</div>
        </div>
    </form>
{% endblock %}