{% extends '../../templates/template-parts/page-template.twig' %}
{% set breadcrumbs = {
    links : [
        {
            url  : './home.twig',
            link : 'Главная',
        }
    ],
    last : 'Тесты'
} %}
{% set tests = [
    {
        type     : 'Для женщин',
        headline : 'Я&nbsp;хочу подобрать интимную косметику',
    },
    {
        type     : 'Для мужчин',
        headline : 'Для мужского здоровья',
    },
    {
        type     : 'Для пар',
        headline : 'Несоответствие размеров',
    },
    {
        type     : 'Для пар',
        headline : 'BDSM-девайсы, которые мне интересны',
    },
    {
        type     : 'Для женщин',
        headline : 'Электростимуляция. Самые необычные ощущения в&nbsp;сексе',
    },
    {
        type     : 'Для женщин',
        headline : 'Фаллоимитаторы. Разнообразие в&nbsp;качестве',
    },
    {
        type     : 'Для женщин',
        headline : 'Секс-игрушка или бьюти-гаджет?',
    },
    {
        type     : 'Для женщин',
        headline : 'Несоответствие размеров',
    },
    {
        type     : 'Для женщин',
        headline : 'Я&nbsp;хочу подобрать интимную косметику',
    },
    {
        type     : 'Для женщин',
        headline : 'Для мужского здоровья',
    },
]%}
{% set categories = [
    {
        active: true,
        value: 'Все вместе',
        icon : '<svg class="i _grid" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.8335 2.74998C1.8335 2.24372 2.2439 1.83331 2.75016 1.83331H9.16683C9.67309 1.83331 10.0835 2.24372 10.0835 2.74998V9.16665C10.0835 9.67291 9.67309 10.0833 9.16683 10.0833H2.75016C2.2439 10.0833 1.8335 9.67291 1.8335 9.16665V2.74998ZM3.66683 3.66665V8.24998H8.25016V3.66665H3.66683Z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9165 2.74998C11.9165 2.24372 12.3269 1.83331 12.8332 1.83331H19.2498C19.7561 1.83331 20.1665 2.24372 20.1665 2.74998V9.16665C20.1665 9.67291 19.7561 10.0833 19.2498 10.0833H12.8332C12.3269 10.0833 11.9165 9.67291 11.9165 9.16665V2.74998ZM13.7498 3.66665V8.24998H18.3332V3.66665H13.7498Z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9165 12.8334C11.9165 12.3271 12.3269 11.9167 12.8332 11.9167H19.2498C19.7561 11.9167 20.1665 12.3271 20.1665 12.8334V19.25C20.1665 19.7563 19.7561 20.1667 19.2498 20.1667H12.8332C12.3269 20.1667 11.9165 19.7563 11.9165 19.25V12.8334ZM13.7498 13.75V18.3334H18.3332V13.75H13.7498Z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M1.8335 12.8334C1.8335 12.3271 2.2439 11.9167 2.75016 11.9167H9.16683C9.67309 11.9167 10.0835 12.3271 10.0835 12.8334V19.25C10.0835 19.7563 9.67309 20.1667 9.16683 20.1667H2.75016C2.2439 20.1667 1.8335 19.7563 1.8335 19.25V12.8334ZM3.66683 13.75V18.3334H8.25016V13.75H3.66683Z"/></svg>'
    },
    {
        value : 'Для пар',
        icon : '<svg class="i _couples" viewBox="0 0 34 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.8951 16.6122C14.2734 15.4651 13.9204 14.1511 13.9204 12.7547C13.9204 8.27706 17.5503 4.64722 22.0279 4.64722C26.5055 4.64722 30.1354 8.27706 30.1354 12.7547C30.1354 16.8354 27.1206 20.2119 23.1969 20.7785" stroke-width="2" stroke-linecap="round"/><path d="M13.0021 4.69937C8.55328 5.2064 5.35781 9.22393 5.86484 13.6728C6.37187 18.1216 10.3894 21.3171 14.8382 20.81C19.2871 20.303 22.4826 16.2855 21.9755 11.8366C21.8786 10.9862 21.6534 10.1816 21.3214 9.43985" stroke-width="2" stroke-linecap="round"/><line x1="27.5386" y1="7.04721" x2="32.5858" y2="2.00001" stroke-width="2" stroke-linecap="round"/><path d="M32.4873 2L28.1633 2" stroke-width="2" stroke-linecap="round"/><path d="M32.4873 6.32397L32.4873 1.99998" stroke-width="2" stroke-linecap="round"/><path d="M2.16895 24.4313L7.56963 19.0306" stroke-width="2" stroke-linecap="round"/><path d="M2 19.3052L7.33743 24.6426" stroke-width="2" stroke-linecap="round"/></svg>'
    },
    {
        value : 'Для мужчин',
        icon : '<svg class="i _male" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.9771 7.08991L22.067 1.99998" stroke-width="2" stroke-linecap="round"/><path d="M22.085 2L17.2517 2" stroke-width="2" stroke-linecap="round"/><path d="M22.085 6.83325L22.085 1.99999" stroke-width="2" stroke-linecap="round"/><circle cx="10.3934" cy="14.0138" r="9.30845" stroke-width="2"/></svg>'
    },
    {
        value : 'Для женщин',
        icon : '<svg class="i _female" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.1748 21.7811L7.76924 16.1867" stroke-width="2" stroke-linecap="round"/><path d="M2 16.4711L7.52891 22" stroke-width="2" stroke-linecap="round"/><circle cx="14.3824" cy="9.61777" r="8.61777" stroke-width="2"/></svg>'
    }
] %}


{% block headline %}Тесты{% endblock %}
{% block content %}
    <div id="js-sticky-navigation-parent" class="_w-100">
        <div id="js-sticky-navigation-wrapper" class="sticky-navigation-wrapper">
            <div id="js-sticky-navigation" class="sticky-navigation sticky-navigation--filter">
                {% for i in categories %}
                    <a href="javascript:void(0);" class="sticky-navigation__element borderless {{ i.active ? '_active' }}">
                        {{ i.icon }}{{ i.value }}
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="block-underlay block-underlay--no-mobile-underlay">
            <div class="tests-array">
                {% for i in tests %}
                    {% include '../elements/tests-element.twig' with {
                        type     : i.type,
                        headline : i.headline,
                    } %}
                {% endfor %}
            </div>
            {% include '../includes/pagination.twig' %}
        </div>
    </div>
{% endblock %}