{% extends '../../templates/template-parts/page-template.twig' %}
{% set breadcrumbs = {
    links : [
        {
            url  : './home.twig',
            link : 'Главная',
        }
    ],
    last : 'Результат теста: мужские возбуждающие кремы'
} %}
{% set products = [
    {
        image : 8,
        label : {
            mod   : 'product-label--green',
            value : 'Новинка',
        },
        price : '1&thinsp;376',
        headline : 'Продлевающий гель-лубрикант',
        rating : { width : 85, description: '12 отзывов'}
    },
    {
        image : 9,
        price : '750',
        headline : 'Лубрикант Shunga Aroma&nbsp;&mdash; экзотические',
        rating : {width : 100, description: '4 отзыва'}
    },
    {
        image : 10,
        price : '650',
        headline : 'Лубрикант с ароматом зелёного',
        rating : {width : 93, description: '3 отзыва'}
    },
    {
        image : 11,
        price : '4&thinsp;900',
        headline : 'Лубрикант Wicked Aqua Cherry Cordial',
        rating : {width : 93, description: '256 отзывов'}
    },
    {
        image : 12,
        price : '500',
        headline : 'Лубрикант Triple Pleasure',
        rating : {width : 93, description: '12 отзывов'}
    },
    {
        image : 13,
        price : '1&thinsp;376',
        headline : 'Лубрикант Wicked Aqua Cherry Cordial',
        rating : {width : 93, description: '4 отзыва'}
    },
    {
        label : {
            mod   : 'product-label--red',
            value : 'Хит продаж',
        },
        image : 14,
        price : '750',
        headline : 'Лубрикант Wicked Aqua Candy Apple',
        rating : { width : 93, description: '3 отзыва'}
    },
    {
        image : 15,
        price : '950',
        headline : 'Лубрикант Personal Lubricant H2O Cooling',
        rating : { width : 93, description: '256 отзывов'}
    },
    {
        image : 16,
        price : '1&thinsp;376',
        headline : 'Гель-лубрикант AQUAglide с&nbsp;ароматом малины',
        rating : { width : 93, description: '256 отзывов'}
    },
    {
        image : 17,
        price : '850',
        headline : 'Лубрикант System JO&nbsp;Candy Shop Butterscotch',
        rating : { width : 93, description: '256 отзывов'}
    },
    {
        image : 18,
        price : '850',
        headline : 'Лубрикант Wicked Aqua Candy Apple',
        rating : { width : 93, description: '256 отзывов'}
    },
    {
        image : 19,
        price : '10&thinsp;050',
        headline : 'Лубрикант System Jo&nbsp;Oral Delight Strawberry Sensation',
        rating : { width : 93, description: '256 отзывов'}
    },
] %}


{% block headline %}Результат теста: мужские возбуждающие кремы{% endblock %}
{% block content %}
    <div  class="catalog-page">
        <div class="catalog-page__control">
            <a href="javascript:void(0);" class="button button--mobile-w-100 button--gradient">Пройти тест заново</a>
        </div>
        <div class="catalog-content block-underlay">
            <div class="product-array grid">
                {% for i in products %}
                    <div class="product-array__element grid-col grid-col--3 grid-col--m-4 grid-col--s-6">
                        {% include '../../templates/elements/product-element.twig' with {
                            inCart   : i.inCart,
                            image    : i.image,
                            label    : i.label,
                            price    : i.price,
                            discount : i.discount,
                            headline : i.headline,
                            rating   : i.rating,
                        } %}
                    </div>
                {% endfor %}
            </div>
            {% include '../../templates/includes/pagination.twig' %}
        </div>
    </div>
{% endblock %}