<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta class="js-meta-viewport" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="format-detection" content="telephone=no">

    <title>Shpi-Vi :: {% block title %}Default title{% endblock %}</title>

    {#<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">#}
    {#<link rel="stylesheet" href="./assets/css/primary.css">#}
    <link rel="stylesheet" href="./assets/css/main.css">


    <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="194x194" href="./assets/favicon/favicon-194x194.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./assets/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="./assets/favicon/shpi-vi.webmanifest">
    <link rel="mask-icon" href="./assets/favicon/safari-pinned-tab.svg" color="#8642dc">
    <meta name="msapplication-TileColor" content="#8642dc">
    <meta name="msapplication-TileImage" content="./assets/favicon/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body {{ preloader ? 'class="_preloading"' }} {{notify ? 'class="_notification-is-opened"'}} {{warning ? 'class="_warning-is-opened"'}}>
    <div class="website-wrapper js-website-wrapper">
        {% include 'template-parts/website-header.twig' %}
        <main class="website-workarea">
            {% block page %}{% endblock %}
            {% include './sections/subscription.twig' %}
        </main>
        {% include 'template-parts/website-footer.twig' %}
        {% include 'template-parts/website-aside.twig' %}
        {% include 'template-parts/website-bar.twig' %}
        {% include 'includes/modals.twig' %}
        {% include 'includes/preloader.twig' %}
        {% include 'includes/system-notification.twig' %}
        {% include 'includes/system-warning.twig' %}
        {% include 'includes/messengers.twig' %}

        <a href="javascript:void(0);" class="top-link borderless js-top-link">
            <svg class="i" width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.8217 0.821529C11.4725 0.170656 12.5278 0.170656 13.1787 0.821529L23.1787 10.8215C23.8296 11.4724 23.8296 12.5277 23.1787 13.1786C22.5278 13.8294 21.4725 13.8294 20.8217 13.1786L12.0002 4.35706L3.17867 13.1786C2.5278 13.8294 1.47253 13.8294 0.821652 13.1786C0.170778 12.5277 0.170778 11.4724 0.821652 10.8215L10.8217 0.821529Z"/>
            </svg>
        </a>
    </div>
    {#<link rel="stylesheet" href="./assets/css/secondary.css">#}
    <script src="./assets/js/vendor.js"></script>
    <!-- slick на главной и в сравнении -->
    <script src="./assets/js/slick.min.js"></script>
    <!-- swiper в карточке товара / мобильные слайдеры в секциях Похожие товары / Не забудь купить -->
    <script src="./assets/js/swiper.min.js"></script>
    <!-- только в фильтрах в каталоге -->
    <script src="./assets/js/ion.rangeSlider.min.js"></script>
    <!-- jquery-touchswipe только в корзине на мобильных -->
    <script src="./assets/js/jquery.touchSwipe.min.js"></script>
    <!-- только для IE -->
    <script src="./assets/js/polyfill.min.js"></script>
    <script src="./assets/js/main.js"></script>
</body>
</html>
