.counter {
	@include flex(18.6rem);
	height: 5.6rem;
		&__control {
			@include flex(6rem);
			height: 100%;
			align-items: center;
			justify-content: center;
			@include align_c;
			background: map-get($grey, color_0);
			@include smooth(.15s);
			.i {
				fill: map-get($basic, primary);
				@include smooth(.15s);
			}

			&--remove {
				@include radius($radius 0 0 $radius);
					.i {
						@include size(.9rem, .3rem);
					}
			}
			&--add {
				@include radius(0 $radius $radius 0);
					.i {
						@include size(.9rem, 1rem);
					}
			}


			&:active {}
			&:hover {
				/*background-color: map-get($basic, theme);
					.i {
						fill : $colorWhite;
					}*/
				.i {
					fill : map-get($basic, theme);
				}
			}
			&:disabled {
				pointer-events: none;
				.i {
					opacity: .5;
				}
			}
		}
		&__input {
			display: block;
			width: calc(100% - 12rem);
			height: 100%;
			padding: 0;
			color: $colorBlack;
			font-family: $font;
			font-size: 1.6rem;
			@include align_c;
			background: transparent;
			border: 0;
			border-top: .1rem solid map-get($grey, color_0);
			border-bottom: .1rem solid map-get($grey, color_0);
			box-shadow: none;
			appearance: none;
			outline: 0;
		}

		&--disabled {
			@include noselect;
			.counter {
				&__control {
					pointer-events: none;
					.i {}
				}
				&__input {
					pointer-events: none;
				}
			}
		}

	@include bp-tabletXS {
		width: 13.2rem;
		height: 4rem;
			&__control {
				width: 4.3rem;
			}
			&__input {
				width: calc(100% - 8.6rem);
			}
	}
}