{% set nav = [
    {
        url   : './favourites.html',
        icon  : '<svg class="i _mobile-nav-favourites" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20 3.50001C16.8 -0.0999942 12.7022 3.00002 11.0355 5.00002C9.36887 3.00002 5.23553 -0.0999866 2.03553 3.50001C-0.464466 6.31251 2.03553 10.5 4.53553 12.5L11 18.5L17.5 12.5C20 10.5 22.5 6.31251 20 3.50001Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>',
        value : 'Избранное',
    },
    {
        url     : './comparison.html',
        icon    : '<svg class="i _mobile-nav-comparison" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg"><line x1="1" y1="17" x2="1" y2="12"   stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><line x1="11" y1="17" x2="11" y2="8"   stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><line x1="6" y1="17" x2="6" y2="4"   stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><line x1="16" y1="17" x2="16" y2="1"   stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>',
        value   : 'Сравнение товаров',
        counter : 3,
    },
    {
        url   : './orders.html',
        icon  : '<svg class="i _mobile-nav-lock" viewBox="0 0 25 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.2117 9H21.2172C22.6275 9 23.7002 10.2022 23.4684 11.5229L21.9469 20.1895C21.7635 21.2343 20.8113 22 19.6957 22H5.30433C4.18867 22 3.23654 21.2343 3.05312 20.1895L1.53162 11.5229C1.29977 10.2022 2.37253 9 3.78282 9H7.36492" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.5 12V6.26087C7.5 3.35537 9.73858 1 12.5 1C15.2614 1 17.5 3.35537 17.5 6.26087V12" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>',
        value : 'Заказы',
    },
    {
        url   : './addresses.html',
        icon  : '<svg class="i _mobile-nav-locations" viewBox="0 0 16 26" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M15 8.07692C15 8.80134 14.7351 9.81316 14.23 11.0382C13.7338 12.2414 13.0439 13.5615 12.2794 14.8734C10.7677 17.4676 9.00794 19.9565 8.00524 21.3238C7.00426 19.9424 5.24127 17.4233 3.72599 14.8164C2.95986 13.4983 2.26805 12.1765 1.77052 10.98C1.26291 9.7593 1 8.76729 1 8.07692C1 5.79344 1.80143 4.04349 3.0348 2.86232C4.27559 1.67404 6.01831 1 8 1C11.8664 1 15 4.05268 15 8.07692Z" stroke-width="2"/> <circle cx="8" cy="8" r="2" stroke-width="2"/> <path d="M3.88722 21.5714C2.13985 21.9137 1 22.4759 1 23.1115C1 24.1545 4.07005 25 7.85714 25C11.6442 25 14.7143 24.1545 14.7143 23.1115C14.7143 22.4759 13.5744 21.9137 11.8271 21.5714" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>',
        value : 'Мои адреса',
    },
    {
        url   : './reviews.html',
        icon  : '<svg class="i _mobile-nav-reviews" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg"> <line x1="5" y1="7" x2="17" y2="7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <line x1="5" y1="11" x2="10" y2="11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <mask id="path-3-inside-1" fill="white"> <path fill-rule="evenodd" clip-rule="evenodd" d="M2.66667 0C1.19391 0 0 1.15127 0 2.57143V15.4286C0 16.8487 1.19391 18 2.66667 18H6.82655L9.35034 20.5238C9.98528 21.1587 11.0147 21.1587 11.6497 20.5238L14.1735 18H19.3333C20.8061 18 22 16.8487 22 15.4286V2.57143C22 1.15127 20.8061 0 19.3333 0H2.66667Z"/> </mask> <path d="M6.82655 18L8.24076 16.5858C7.86569 16.2107 7.35698 16 6.82655 16V18ZM9.35034 20.5238L10.7646 19.1096L9.35034 20.5238ZM11.6497 20.5238L10.2354 19.1096L11.6497 20.5238ZM14.1735 18V16C13.643 16 13.1343 16.2107 12.7592 16.5858L14.1735 18ZM2 2.57143C2 2.32377 2.2293 2 2.66667 2V-2C0.158518 -2 -2 -0.0212356 -2 2.57143H2ZM2 15.4286V2.57143H-2V15.4286H2ZM2.66667 16C2.2293 16 2 15.6762 2 15.4286H-2C-2 18.0212 0.158518 20 2.66667 20V16ZM6.82655 16H2.66667V20H6.82655V16ZM10.7646 19.1096L8.24076 16.5858L5.41233 19.4142L7.93613 21.938L10.7646 19.1096ZM10.2354 19.1096C10.3816 18.9635 10.6184 18.9635 10.7646 19.1096L7.93613 21.938C9.35212 23.354 11.6479 23.354 13.0639 21.938L10.2354 19.1096ZM12.7592 16.5858L10.2354 19.1096L13.0639 21.938L15.5877 19.4142L12.7592 16.5858ZM19.3333 16H14.1735V20H19.3333V16ZM20 15.4286C20 15.6762 19.7707 16 19.3333 16V20C21.8415 20 24 18.0212 24 15.4286H20ZM20 2.57143V15.4286H24V2.57143H20ZM19.3333 2C19.7707 2 20 2.32377 20 2.57143H24C24 -0.0212344 21.8415 -2 19.3333 -2V2ZM2.66667 2H19.3333V-2H2.66667V2Z" fill="#757575" stroke="none" mask="url(#path-3-inside-1)"/> </svg>',
        value : 'Мои отзывы',
    },
    {
        url   : './discounts.html',
        icon  : '<svg class="i _mobile-nav-gift" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M3 11V19.7195C3 20.979 3.79077 22 4.76623 22H17.2338C18.2092 22 19 20.979 19 19.7195V11" stroke-width="2"/> <line x1="11" y1="11" x2="11" y2="21" stroke-width="2"/> <path d="M11.292 6.52425C11.1001 4.79876 11.292 1.28308 13.5945 1.02425C15.897 0.765431 16.4727 2.6419 16.1848 3.61249C15.8011 4.90661 13.8823 6.09288 12.731 6.52425" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <path d="M10.7845 6.52425C10.9763 4.79876 10.7845 1.28308 8.48191 1.02425C6.17937 0.765431 5.60376 2.6419 5.89158 3.61249C6.27534 4.90661 8.19412 6.09288 9.3454 6.52425" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <rect x="1" y="7" width="20" height="5" rx="1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>',
        value : 'Мои скидки и бонусы',
    },
    {
        url   : './profile.html',
        icon  : '<svg class="i _mobile-nav-person" viewBox="0 0 23 19" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M10.9723 1.2334L10.2652 1.9405C9.81613 1.49143 9.24398 1.1856 8.62109 1.0617C7.9982 0.937802 7.35256 1.00139 6.76582 1.24443C6.17907 1.48747 5.67757 1.89904 5.32473 2.4271C4.97196 2.95506 4.78364 3.57575 4.78357 4.21071C4.78431 5.0622 5.12289 5.87861 5.725 6.48072C6.32701 7.08274 7.14328 7.42131 7.99464 7.42214L10.9723 1.2334ZM10.9723 1.2334L10.2652 1.9405C10.7143 2.38958 11.0201 2.96174 11.144 3.58462C11.2679 4.20751 11.2043 4.85315 10.9613 5.4399L11.8852 5.82258L10.9613 5.4399C10.7182 6.02664 10.3067 6.52814 9.77862 6.88098C9.25061 7.23378 8.62985 7.42211 7.99482 7.42214L10.9723 1.2334Z" stroke-width="2"/> <path d="M1 17.8889V16.4889C1 13.3961 3.50721 10.8889 6.6 10.8889H9.4C12.4928 10.8889 15 13.3961 15 16.4889V17.8889" stroke-width="2" stroke-linecap="round"/> <line x1="16" y1="3" x2="22" y2="3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <line x1="16" y1="8" x2="22" y2="8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <line x1="19" y1="13" x2="22" y2="13" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>',
        value : 'Профиль',
    },
    {
        url   : 'javascript:void(0);',
        icon  : '<svg class="i _mobile-nav-log-out" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M14 4V3.66667C14 2.19391 13.224 1 12.2667 1H2.73333C1.77604 1 1 2.19391 1 3.66667V18.3333C1 19.8061 1.77604 21 2.73333 21H12.2667C13.224 21 14 19.8061 14 18.3333V18" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <path d="M8.5 11H23" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <path d="M19.5 7.375L22.9375 10.8125" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <path d="M19.625 14.5L22.9375 11.1875" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>',
        value : 'Выйти',
    },
] %}

<nav class="aside-navigation">
    {% for i in nav %}
        <a href="{{ i.url }}" class="mobile-navigation__link borderless {{ currentPage == i.value ? '_active' }}">
            <span class="mobile-navigation__link-icon">
                {{ i.icon }}
            </span>
            {{ i.value }}
            {% if i.counter %}
                <span class="mobile-navigation__link-counter">{{ i.counter }}</span>
            {% endif %}
        </a>
    {% endfor %}
</nav>