{% set nav = [
    {
        url: 'javascript:void(0);',
        label : 'Для пар',
        dropdownMod: 'navigation__dropdown--columm-2',
        dropdown : [
            'Лубриканты','Как выбрать смазку?','Интимная косметика','Игрушки для пар','Оральный секс','Анальный секс для начинающих','Анальные игрушки', 'Фаллоимитаторы','Насадки на пенис','Страпоны','Возбудители и БАДы','Стимуляция сосков и груди','Секс-игры в общественных местах','Презервативы',
        ]
    },
    {
        url: 'javascript:void(0);',
        label : 'Женщинам',
        dropdown : [
            'Лубриканты','Как выбрать смазку?','Интимная косметика','Игрушки для пар','Оральный секс','Анальный секс для начинающих','Анальные игрушки',
        ]
    },
    {
        url: 'javascript:void(0);',
        label : 'Мужчинам',
        dropdown : [
            'Лубриканты','Как выбрать смазку?','Интимная косметика','Игрушки для пар','Оральный секс','Анальный секс для начинающих','Анальные игрушки',
        ]
    },
    {
        url: 'javascript:void(0);',
        label : 'Белье',
        dropdown : [
        'Женское', 'Мужское'
        ]
    },
    { url: 'javascript:void(0);', label : 'Разные ситуации' },
    { url: 'javascript:void(0);', label : 'Фетиш и&nbsp;BDSM' },
    { url: 'javascript:void(0);', label : 'В&nbsp;подарок' },
] %}

<nav class="navigation">
    {% for i in nav %}
        <div class="navigation__element">
            <a href="{{ i.url }};" class="navigation__link borderless"><span>{{ i.label }}</span></a>
            {% if i.dropdown %}
                <div class="navigation__dropdown {{ i.dropdownMod }}">
                    {% for x in  i.dropdown %}
                        <div class="navigation__element">
                            <a href="javascript:void(0);" class="navigation__sublink borderless">{{ x }}</a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</nav>