<div class="page {{ pageMod }}">
    {% if not noHeader %}
        <header class="page__header">
            <div class="container">
                {% if breadcrumbs %}
                    {% include '../includes/breadcrumbs.twig' with { array : breadcrumbs } %}
                {% endif %}
                <h1 class="page__headline">{% block headline %}{% endblock %}</h1>
                {% if block('headerText') %}
                    <div class="page__header-text">{% block headerText %}{% endblock %}</div>
                {% endif %}
            </div>
        </header>
    {% endif %}
    <div class="container{{ fluid ? ' container--fluid' }}">
        {% block content %}{% endblock %}
    </div>
</div>