<section {{ sectionID ? sectionID }} class="section {{ sectionMod }}">
    <div class="container">
        {% if primaryHeadline %}
            <h1 class="primary">{% block primaryHeadline %}{% endblock %}</h1>
        {% endif %}
        {% if not headerless %}
            <header class="section__header">
                <h2 class="section__headline">{% block headline %}{% endblock %}</h2>
            </header>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
</section>