{% set navigation = [
    {
        accrodion : ['Лубриканты', 'Интимная косметика', 'Игрушки для пар', 'Оральный секс', 'Анальный секс для начинающих', 'Анальные игрушки', 'Фаллоимитаторы', 'Насадки на&nbsp;пенис', 'Страпоны', 'Возбудители и&nbsp;БАДы', 'Стимуляция сосков и&nbsp;груди', 'Секс-игры в&nbsp;общественных местах', 'Презервативы',],
        icon  : '<svg class="i _mobile-nav-couples" viewBox="0 0 34 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.6158 16.1212C13.9942 14.9741 13.6411 13.6602 13.6411 12.2637C13.6411 7.7861 17.271 4.15625 21.7486 4.15625C26.2262 4.15625 29.8561 7.7861 29.8561 12.2637C29.8561 16.3444 26.8413 19.7209 22.9176 20.2876" stroke-width="2" stroke-linecap="round"/><path d="M12.7229 4.2084C8.2741 4.71543 5.07863 8.73296 5.58567 13.1818C6.0927 17.6306 10.1102 20.8261 14.5591 20.3191C19.0079 19.812 22.2034 15.7945 21.6963 11.3457C21.5994 10.4952 21.3742 9.69061 21.0422 8.94889" stroke-width="2" stroke-linecap="round"/><line x1="27.2593" y1="6.55625" x2="32.3065" y2="1.50904" stroke-width="2" stroke-linecap="round"/><path d="M32.2083 1.50903L27.8843 1.50903" stroke-width="2" stroke-linecap="round"/><path d="M32.2083 5.83301L32.2083 1.50901" stroke-width="2" stroke-linecap="round"/><path d="M1.88965 23.9403L7.29034 18.5396" stroke-width="2" stroke-linecap="round"/><path d="M1.7207 18.8142L7.05813 24.1516" stroke-width="2" stroke-linecap="round"/></svg>',
        value : 'Парам'
    },
    {
        accrodion : ['Лубриканты','Как выбрать смазку?','Интимная косметика','Игрушки для пар','Оральный секс','Анальный секс для начинающих','Анальные игрушки',],
        icon  : '<svg class="i _mobile-nav-females" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.89563 22.3574L7.49007 16.763" stroke-width="2" stroke-linecap="round"/><path d="M1.7207 17.0474L7.24961 22.5763" stroke-width="2" stroke-linecap="round"/><circle cx="14.1029" cy="10.1941" r="8.61777" stroke-width="2"/></svg>',
        value : 'Женщинам'
    },
    {
        accrodion : ['Лубриканты','Как выбрать смазку?','Интимная косметика','Игрушки для пар','Оральный секс','Анальный секс для начинающих','Анальные игрушки',],
        icon  : '<svg class="i _mobile-nav-males" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.6125 6.14392L22.7025 1.054" stroke-width="2" stroke-linecap="round"/><path d="M22.7207 1.05402L17.8874 1.05402" stroke-width="2" stroke-linecap="round"/><path d="M22.7207 5.88727L22.7207 1.054" stroke-width="2" stroke-linecap="round"/><circle cx="11.0292" cy="13.0678" r="9.30845" stroke-width="2"/><path d="M8.90968 7.375C8.085 7.59597 7.3222 8.0037 6.6803 8.56663C6.0384 9.12956 5.5346 9.83261 5.20788 10.6214C4.88115 11.4102 4.74026 12.2636 4.7961 13.1155C4.85194 13.9674 5.10301 14.7951 5.5299 15.5345" stroke-linecap="round"/></svg>',
        value : 'Мужчинам'
    },
    {
        accrodion : ['Женское', 'Мужское'],
        icon  : '<svg class="i _mobile-nav-underwear" viewBox="0 0 33 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.7207 6.01277H31.7207V10.1427C25.3747 11.184 20.3376 15.8587 20.256 21.741H13.1854C13.1038 15.8587 8.06673 11.184 1.7207 10.1427V6.01277Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M16.3701 10.8242L16.7206 11.169L17.0712 10.8242C17.2145 10.6834 17.428 10.4956 17.6755 10.3457C17.9273 10.1932 18.1767 10.1028 18.4015 10.1028C18.9067 10.1028 19.2496 10.2484 19.4645 10.4578C19.6777 10.6657 19.8235 10.9937 19.8235 11.4771C19.8235 11.8101 19.6661 12.1502 19.4656 12.4398C19.289 12.6948 19.1123 12.8644 19.0612 12.9135C19.0591 12.9154 19.0573 12.9172 19.0557 12.9187L19.0557 12.9187L16.7208 15.1723L14.3819 12.9111L14.373 12.9024L14.3637 12.8942C14.3639 12.8944 14.3637 12.8943 14.3631 12.8937C14.3505 12.8821 14.1614 12.7078 13.975 12.439C13.7753 12.151 13.6178 11.8108 13.6178 11.4771C13.6178 10.9937 13.7636 10.6657 13.9768 10.4578C14.1916 10.2484 14.5346 10.1028 15.0398 10.1028C15.2646 10.1028 15.514 10.1932 15.7658 10.3457C16.0133 10.4956 16.2268 10.6834 16.3701 10.8242ZM16.5827 15.3056C16.5827 15.3056 16.5827 15.3056 16.5827 15.3056L16.5827 15.3056Z"/><path d="M1.31335 5.66318V3.99511C1.31335 2.484 2.52024 1.259 4.009 1.259C4.86875 1.259 5.63449 1.66753 6.12807 2.30376C6.62166 1.66753 7.3874 1.259 8.24714 1.259C9.10689 1.259 9.87262 1.66753 10.3662 2.30376C10.8598 1.66753 11.6255 1.259 12.4853 1.259C13.345 1.259 14.1108 1.66753 14.6043 2.30376C15.0979 1.66753 15.8637 1.259 16.7234 1.259C17.5831 1.259 18.3488 1.66749 18.8424 2.30367C19.336 1.66749 20.1017 1.259 20.9614 1.259C21.8443 1.259 22.5888 1.638 23.0805 2.30376C23.5741 1.66753 24.3398 1.259 25.1995 1.259C26.0593 1.259 26.825 1.66753 27.3186 2.30376C27.8122 1.66753 28.5779 1.259 29.4377 1.259C30.9264 1.259 32.1333 2.484 32.1333 3.99511V5.85831"/></svg>',
        value : 'Белье'
    },
    {
        icon  : '<svg class="i _mobile-nav-different" viewBox="0 0 35 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.2081 14.6471C10.5946 14.0017 8.21927 15.1401 7.23328 15.7899C7.77109 16.6639 8.95428 18.3042 10.4602 18.9496C11.966 19.595 14.1352 18.9496 14.8971 18.4118C14.6731 17.4258 13.8215 15.2924 12.2081 14.6471Z" stroke-linecap="round" stroke-linejoin="round"/><path d="M22.8972 14.6471C24.5106 14.0017 26.886 15.1401 27.8719 15.7899C27.3341 16.6639 26.1509 18.3042 24.6451 18.9496C23.1392 19.595 20.97 18.9496 20.2081 18.4118C20.4322 17.4258 21.2837 15.2924 22.8972 14.6471Z" stroke-linecap="round" stroke-linejoin="round"/><path d="M17.7207 22.6471C16.6899 23.3193 14.3056 24.6639 11.1325 24.6639C7.95936 24.6639 5.40175 22.5272 4.14087 20.4958C2.93079 18.5462 2.19129 15.1401 1.7207 13.7059C2.48261 13.549 4.19465 13.1008 4.94759 12.563C5.88877 11.8908 8.51062 9.80672 11.1325 9.60504C13.7543 9.40336 14.8299 10.4118 15.8384 11.2857C16.6451 11.9849 17.4294 12.07 17.7207 12.0252" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M17.7207 22.6471C18.7515 23.3193 21.1358 24.6639 24.3089 24.6639C27.482 24.6639 30.0397 22.5272 31.3005 20.4958C32.5106 18.5462 33.2501 15.1401 33.7207 13.7059C32.9588 13.549 31.2468 13.1008 30.4938 12.563C29.5526 11.8908 26.9308 9.80672 24.3089 9.60504C21.6871 9.40336 20.6115 10.4118 19.6031 11.2857C18.7963 11.9849 18.012 12.07 17.7207 12.0252" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M1.8551 11.0168C1.8551 10.1429 2.36603 8.15294 4.40972 7.18487C6.96435 5.97479 8.03998 4.76471 8.30888 3.42017C8.52401 2.34454 8.39852 1.35854 8.30888 1" stroke-linecap="round" stroke-linejoin="round"/><path d="M33.5862 11.0168C33.5862 10.1429 33.0753 8.15294 31.0316 7.18487C28.4769 5.97479 27.4013 4.76471 27.1324 3.42017C26.9173 2.34454 27.0428 1.35854 27.1324 1" stroke-linecap="round" stroke-linejoin="round"/></svg>',
        value : 'Разные ситуации'
    },
    {
        icon  : '<svg class="i _mobile-nav-bdsm" viewBox="0 0 31 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.84707 14.8568V14.4185L3.52476 14.1215C2.1206 12.8274 1.24316 10.9759 1.24316 8.91801C1.24316 5.011 4.41042 1.84375 8.31742 1.84375C12.2244 1.84375 15.3917 5.011 15.3917 8.91801C15.3917 10.9759 14.5142 12.8274 13.1101 14.1215L12.7878 14.4185V14.8568V17.8742H3.84707V14.8568Z"   stroke-width="2" stroke-linecap="round"/><circle cx="8.3174" cy="8.91801" r="3.71925"  /><path d="M18.959 25.0179L18.9101 25.0668M18.959 25.0179L21.5453 22.4316C23.5259 22.5124 25.5329 21.7967 27.045 20.2846C29.9159 17.4138 29.9159 12.7592 27.045 9.88839C24.7959 7.6392 21.4518 7.15216 18.7285 8.42727M18.959 25.0179L14.9374 20.9963"   stroke-width="2" stroke-linecap="round"/><path d="M24.5632 17.8028C23.0631 19.303 20.6308 19.303 19.1306 17.8028C17.6305 16.3026 17.6305 13.8704 19.1306 12.3702C20.6308 10.87 23.0631 10.87 24.5632 12.3702C26.0634 13.8704 26.0634 16.3026 24.5632 17.8028Z"   stroke-linecap="round"/><rect x="6.99609" y="20.7402" width="2.64252" height="3.27996" rx="1"   stroke-linejoin="round"/><rect x="7.37703" y="25.5545" width="2.64252" height="3.27996" rx="1" transform="rotate(-45 7.37703 25.5545)"   stroke-linejoin="round"/><rect x="13.5259" y="23.6859" width="2.64252" height="3.27996" rx="1" transform="rotate(45 13.5259 23.6859)"   stroke-linejoin="round"/><line x1="8.33179" y1="18.5403" x2="8.33179" y2="20.6651"  /><line x1="14.4901" y1="24.4701" x2="16.4935" y2="22.4667"  /><circle cx="9.95662" cy="15.3857" r="0.485669" fill="#757575"/><circle cx="18.82" cy="21.4262" r="0.485669" fill="#757575"/></svg>',
        value : 'Фетиш и&nbsp;BDSM'
    },
    {
        icon  : '<svg class="i _mobile-nav-presents" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.91248 13.4739V25.6939H23.7125V13.4739"  /><rect x="0.8125" y="7.99393" width="25" height="5.35143"  /><line x1="9.55823" y1="8.31552" x2="9.55823" y2="25.3225"   stroke-width="2"/><line x1="16.8383" y1="7.49393" x2="16.8383" y2="25.3225"   stroke-width="2"/><path d="M16.6554 2.05182C15.5857 3.41868 15.0211 6.08801 14.8726 7.25182C15.9126 7.10325 18.3491 6.59811 19.7754 5.76611C21.2017 4.93411 21.5211 3.25964 20.6668 2.05182C19.9177 0.992639 17.9926 0.343249 16.6554 2.05182Z"   stroke-width="2"/><path d="M10.8446 2.05182C11.9143 3.41868 12.4789 6.08801 12.6274 7.25182C11.5874 7.10325 9.15087 6.59811 7.72458 5.76611C5.94173 4.72611 6.14391 2.99964 6.83316 2.05182C7.59616 1.00257 9.50744 0.34325 10.8446 2.05182Z"   stroke-width="2"/></svg>',
        value : 'В подарок'
    },
] %}
<div class="website-aside">
    <div class="website-aside__inside">
        {% include '../includes/mobile-navigation.twig' with { array : navigation } %}
        {% include '../includes/secondary-navigation.twig' %}
    </div>
</div>