<div class="website-bar">
    <a href="javascript:void(0);" class="website-bar__element js-website-aside-button">
        <div class="website-bar__element-icon">
            <svg class="i _catalog" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="0.75" y1="6.58333" x2="15.25" y2="6.58333" stroke-width="1.5" stroke-linecap="round"/>
                <line x1="0.75" y1="11.9167" x2="12.5833" y2="11.9167" stroke-width="1.5" stroke-linecap="round"/>
                <line x1="0.75" y1="1.25" x2="9.91667" y2="1.25" stroke-width="1.5" stroke-linecap="round"/>
            </svg>
        </div>
        <div class="website-bar__element-value">Каталог</div>
    </a>
    <a href="javascript:void(0);" id="js-quick-search-bar-button" class="website-bar__element">
        <div class="website-bar__element-icon">
            <svg class="i _search" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="7.2" cy="7.2" r="6.45" stroke-width="1.5"/>
                <line x1="11.8606" y1="11.7" x2="17.1" y2="16.9393" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <div class="website-bar__element-value">Поиск</div>
    </a>
    <a href="./profile.html" class="website-bar__element">
        <div class="website-bar__element-icon">
            <svg  class="i _profile" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.93228 6.27449C8.43639 6.60583 7.8534 6.78274 7.25701 6.78285H7.25695C6.457 6.78224 5.68999 6.46418 5.12434 5.89853C4.55875 5.33294 4.2407 4.56603 4.24002 3.76617C4.24007 3.16967 4.41698 2.58657 4.74838 2.09059C5.07983 1.59454 5.55093 1.20792 6.10211 0.979613C6.65329 0.751307 7.25979 0.691572 7.84492 0.807961C8.43005 0.924351 8.96752 1.21164 9.38938 1.63349C9.81123 2.05535 10.0985 2.59282 10.2149 3.17795C10.3313 3.76308 10.2716 4.36958 10.0433 4.92076C9.81495 5.47194 9.42833 5.94304 8.93228 6.27449Z" stroke-width="1.5"/>
                <path d="M1 16V14.7478C1 11.9816 3.24247 9.73915 6.0087 9.73915H8.51304C11.2793 9.73915 13.5217 11.9816 13.5217 14.7478V16" stroke-width="1.5" stroke-linecap="round"/>
            </svg>
        </div>
        <div class="website-bar__element-value">Кабинет</div>
    </a>
    <a href="./favourites.html" class="website-bar__element">
        <div class="website-bar__element-icon">
            <svg class="i _favourites" viewBox="-1 -2 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.5985 0C15.2559 0 13.0588 1.83971 12 2.88088C10.9412 1.83971 8.74412 0 6.40147 0C2.39559 0 0 2.33382 0 6.24265C0 9.44559 2.94706 12.1235 3.05294 12.2162L11.3029 20.1926C11.6912 20.5676 12.3088 20.5676 12.6971 20.1926L20.9338 12.2426C21.0529 12.1235 24 9.44118 24 6.24265C24 2.33382 21.6044 0 17.5985 0Z"/>
            </svg>
            {% if currentPage == 'Избранное' %}
                <div class="website-bar__element-counter">7</div>
            {% endif %}
        </div>
        <div class="website-bar__element-value">Избранное</div>
    </a>
    <a href="./cart.html" class="website-bar__element">
        <div class="website-bar__element-icon">
            <svg class="i _cart" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.6865 7.09524H16.024C17.0985 7.09524 17.9158 8.01121 17.7392 9.01742L16.5799 15.6206C16.4402 16.4166 15.7148 17 14.8647 17H3.89991C3.04988 17 2.32445 16.4166 2.18471 15.6206L1.02546 9.01742C0.848814 8.01121 1.66615 7.09524 2.74067 7.09524H5.46988" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5.5728 9.38095V5.00828C5.5728 2.79457 7.27838 1 9.38232 1C11.4863 1 13.1918 2.79457 13.1918 5.00828V9.38095" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            {% if currentPage == 'Корзина' %}
                <div class="website-bar__element-counter">3</div>
            {% endif %}
        </div>
        <div class="website-bar__element-value">Корзина</div>
    </a>
</div>