<header id="js-website-header" class="website-header">
    <div class="website-header-bar">
        <div class="container">
            <p>Первый в&nbsp;России креативный секс-шоп</p>
            {% include '../includes/secondary-navigation.twig' %}
        </div>
    </div>
    <div class="website-header-body">
        <div class="container">
            <button class="website-aside-button js-website-aside-button" type="button">
                <span class="website-aside-button__bar"></span>
            </button>
            <a id="js-quick-search-button" class="quick-search-button borderless" href="javascript:void(0);">
                <svg class="i" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="9.6" cy="9.6" r="8.6" stroke-width="2"/>
                    <line x1="15.8142" y1="15.6" x2="22.8" y2="22.5858" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
            {% include 'logotype.twig' %}
            {% include '../includes/quick-search.twig' %}
            {% include 'website-options.twig' %}
        </div>
    </div>
    <div class="website-header-navigation">
        <div class="container">
            {% include '../template-parts/navigation.twig' %}
        </div>
    </div>
</header>
