{% extends '../template-parts/section.twig' %}
{% set sectionMod = 'section--best-sellers section--white' %}
{% set products = [
    {
        image : 0,
        label : {
            mod   : 'product-label--green',
            value : 'Новинка',
        },
        price : '10&thinsp;200',
        discount : {
            price   : '12&thinsp;600',
            percent : '-5%'
        },
        headline : 'Вибратор Volta с раздвоенным кончиком',
    },
    {
        image : 1,
        price : '6&thinsp;100',
        headline : 'Вибростимулятор Cookie',
    },
    {
        image : 2,
        price : '16&thinsp;900',
        headline : 'Вибратор для пар We-Vibe Sync',
    },
    {
        image : 3,
        price : '4&thinsp;900',
        headline : 'Парный стимулятор Satisfyer Partner Multifun 2',
    },
    {
        inCart: true,
        image : 4,
        price : '4&thinsp;800',
        headline : 'Вибратор Gvibe Gpop 2',
    },
    {
        image : 5,
        price : '7&thinsp;020',
        headline : 'Набор 10 Days of Play',
    },
    {
        image : 6,
        price : '5&thinsp;299',
        headline : 'Gvibe Mini, Вибромассажёр',
    },
    {
        image : 7,
        price : '8&thinsp;000',
        headline : 'Эрекционное кольцо WE-VIBE Pivot',
    },
] %}

{% block headline %}Хиты продаж{% endblock %}
{% block content %}
    <div class="product-array grid">
        {% for i in products %}
            <div class="product-array__element grid-col grid-col--3 grid-col--m-4 grid-col--s-6">
                {% include '../elements/product-element.twig' with {
                    isNoStars : true,
                    inCart    : i.inCart,
                    image     : i.image,
                    label     : i.label,
                    price     : i.price,
                    discount  : i.discount,
                    headline  : i.headline,
                } %}
            </div>
        {% endfor %}
    </div>
    {% include '../includes/quiz-banner.twig' %}
{% endblock %}

