{% extends '../template-parts/section.twig' %}
{% set sectionMod = 'section--best-sellers section--white' %}
{% set products = [
    {
        image : 0,
        label : {
            mod   : 'product-label--green',
            value : 'Новинка',
        },
        price : '10&thinsp;200',
        discount : {
            price   : '12&thinsp;600',
            percent : '-5%'
        },
        headline : 'Вибратор Volta с раздвоенным кончиком',
        vendor   : 'Арт. BI-210203'
    },
    {
        image : 1,
        price : '6&thinsp;100',
        headline : 'Вибростимулятор Cookie',
        rating : {width : 100, description: '4 отзыва'}
    },
    {
        image : 2,
        price : '16&thinsp;900',
        headline : 'Вибратор для пар We-Vibe Sync',
        rating : {width : 93, description: '3 отзыва'}
    },
    {
        image : 3,
        price : '4&thinsp;900',
        headline : 'Парный стимулятор Satisfyer Partner Multifun Magnum ESL Pro Covnertable SFX Z-Style HI-Tech Soft-touch Rubber Handle tool 2v-0001',
        rating : {width : 93, description: '256 отзывов'}
    },
    {
        inCart: true,
        image : 4,
        price : '4&thinsp;800',
        headline : 'Вибратор Gvibe Gpop 2',
        rating : {width : 93, description: '12 отзывов'}
    },
    {
        image : 5,
        price : '7&thinsp;020',
        headline : 'Набор 10 Days of Play',
        rating : {width : 93, description: '4 отзыва'}
    },
    {
        image : 6,
        price : '5&thinsp;299',
        headline : 'Gvibe Mini, Вибромассажёр',
        rating : { width : 93, description: '3 отзыва'}
    },
    {
        image : 7,
        price : '8&thinsp;000',
        headline : 'Эрекционное кольцо WE-VIBE Pivot',
        rating : { width : 93, description: '256 отзывов'}
    },
] %}

{% block headline %}Хиты продаж{% endblock %}
{% block content %}
    <div class="product-array grid">
        {% for i in products %}
            <div class="product-array__element grid-col grid-col--3 grid-col--m-4 grid-col--s-6">
                {% include '../elements/product-element.twig' with {
                    inCart   : i.inCart,
                    image    : i.image,
                    label    : i.label,
                    price    : i.price,
                    discount : i.discount,
                    headline : i.headline,
                    rating   : i.rating,
                    vendor   : i.vendor
                } %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

