{% set products = [
    {
        image : 12,
        price : '500',
        headline : 'Мужской стимулирующий гель SHUNGA &laquo;Дракон&raquo; (с&nbsp;мягким эффектом &laquo;лед и&nbsp;пламя&raquo;) 60&nbsp;мл',
        rating : {width : 93, description: '12 отзывов'}
    },
    {
        image : 13,
        price : '1&thinsp;376',
        headline : 'Лубрикант Wicked Aqua Cherry Cordial',
        rating : {width : 93, description: '4 отзыва'}
    },
    {
        image : 14,
        price : '750',
        headline : 'Лубрикант Wicked Aqua Candy Apple',
        rating : { width : 93, description: '3 отзыва'}
    },
    {
        image : 15,
        price : '950',
        headline : 'Лубрикант Personal Lubricant H2O Cooling',
        rating : { width : 93, description: '256 отзывов'}
    },
] %}

<section class="block-underlay">
    <h2>Не забудь купить</h2>
    <div class="mobile-carousel-wrapper js-mobile-carousel-wrapper">
        <div class="product-array grid mobile-carousel swiper-container js-mobile-carousel">
            <div class="swiper-wrapper">
                {% for i in products %}
                    <div class="product-array__element mobile-carousel__element swiper-slide grid-col grid-col--3 grid-col--m-6 grid-col--s-6">
                        {% include '../../templates/elements/product-element.twig' with {
                            inCart   : i.inCart,
                            image    : i.image,
                            label    : i.label,
                            price    : i.price,
                            discount : i.discount,
                            headline : i.headline,
                            rating   : i.rating,
                        } %}
                    </div>
                {% endfor %}
            </div>
            <div class="mobile-carousel__pagination js-mobile-carousel-pagination"></div>
        </div>
    </div>
</section>