{% extends '../template-parts/section.twig' %}
{% set headerless = true %}
{% set sectionMod = 'section--hero' %}
{% set slider=  [
    {
        link  : './catalog.html',
        image : 0
    },
    {
        mod : 'default-slider__element--align-left',
        image : 1
    },
    {
        mod : 'default-slider__element--align-left',
        image : 2
    },
] %}

{% block content %}
    {#carousel carousel--hidden#}
    <div class="default-slider _with-arrows _with-dots js-default-slider" data-speed="1" data-delay="4">
        {% for i in slider %}
            <div class="default-slider__element {{ i.mod }}">
                {% if i.link %}
                    <a href="{{ i.link }}" class="default-slider__element-inside">
                        <img
                                src="assets/images/default-slider/image-{{ i.image }}.jpg"
                                srcset="assets/images/default-slider/image-{{ i.image }}.jpg 1x, assets/images/default-slider/image-{{ i.image }}-2x.jpg 2x"
                                alt="">
                    </a>
                {% else %}
                    <div class="default-slider__element-inside">
                        <img
                                src="assets/images/default-slider/image-{{ i.image }}.jpg"
                                srcset="assets/images/default-slider/image-{{ i.image }}.jpg 1x, assets/images/default-slider/image-{{ i.image }}-2x.jpg 2x"
                                alt="">
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
