{% set products = [
    {
        image : 12,
        price : '500',
        headline : 'Лубрикант Triple Pleasure',
        rating : {width : 93, description: '12 отзывов'}
    },
    {
        image : 13,
        price : '1&thinsp;376',
        headline : 'Лубрикант Wicked Aqua Cherry Cordial',
        rating : {width : 93, description: '4 отзыва'}
    },
    {
        image : 14,
        price : '750',
        headline : 'Лубрикант Wicked Aqua Candy Apple',
        rating : { width : 93, description: '3 отзыва'}
    },
    {
        image : 15,
        price : '950',
        headline : 'Лубрикант Personal Lubricant H2O Cooling',
        rating : { width : 93, description: '256 отзывов'}
    },
    {
        image : 8,
        label : {
        mod   : 'product-label--green',
        value : 'Новинка',
    },
        price : '1&thinsp;376',
        headline : 'Продлевающий гель-лубрикант',
        vendor : 'Арт. BI-210203'
    },
    {
        image : 9,
        price : '750',
        headline : 'Парный стимулятор Satisfyer Partner Multifun Magnum ESL Pro Covnertable SFX Z-Style HI-Tech Soft-touch Rubber Handle tool 2v-0001',
        rating : {width : 100, description: '4 отзыва'}
    },
    {
        image : 10,
        price : '650',
        headline : 'Лубрикант с ароматом зелёного',
        rating : {width : 93, description: '3 отзыва'}
    },
    {
        image : 11,
        price : '4&thinsp;900',
        headline : 'Лубрикант Wicked Aqua Cherry Cordial',
        rating : {width : 93, description: '256 отзывов'}
    }
] %}

<section class="block-underlay">
    <h2>С&nbsp;вашим выбором идеально&nbsp;сочетаются</h2>
    <div class="mobile-carousel-wrapper js-mobile-carousel-wrapper">
        <div class="product-array grid mobile-carousel swiper-container js-mobile-carousel">
            <div class="swiper-wrapper">
                {% for i in products %}
                    <div class="product-array__element mobile-carousel__element swiper-slide grid-col grid-col--3 grid-col--m-6 grid-col--s-6">
                        {% include '../../templates/elements/product-element.twig' with {
                            inCart   : i.inCart,
                            image    : i.image,
                            label    : i.label,
                            price    : i.price,
                            discount : i.discount,
                            headline : i.headline,
                            rating   : i.rating,
                        } %}
                    </div>
                {% endfor %}
            </div>
            <div class="mobile-carousel__pagination js-mobile-carousel-pagination"></div>
        </div>
    </div>
</section>