{% extends '../template-parts/section.twig' %}
{% set headerless = true %}
{% set sectionMod = 'section--promo' %}

{% block content %}
    <div class="promo-array grid">
        <div class="promo-array__element grid-col grid-col--6 grid-col--m-12 grid-col--s-12">
            <a href="javascript:void(0);" class="promo-element">
                <svg class="i _discounts" viewBox="0 0 54 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.8909 12.4199C14.215 13.1369 12.0446 15.9117 13.2837 20.5361C13.8331 22.5864 12.6163 24.6938 10.566 25.2432C8.51574 25.7926 6.40829 24.5759 5.85891 22.5256C3.69104 14.4349 7.51802 6.97348 14.9014 4.99512C21.2321 3.2988 27.3141 6.40083 30.2862 12.4199M33.3384 22.5256L35.8651 31.9554C35.8923 32.0568 35.9152 32.1584 35.9338 32.2598C35.9716 32.369 36.0058 32.4802 36.0361 32.5935L42.8249 57.9296C43.5116 60.4924 41.9907 63.1267 39.4278 63.8135L23.5341 68.0722C20.9712 68.7589 18.3369 67.238 17.6502 64.6751L11.6075 42.1233C10.9208 39.5604 11.7851 35.3613 15.7614 31.8712C18.2012 29.7296 21.2736 26.7164 22.9784 23.5685" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18.5447 48.6206C19.1679 50.9466 20.73 52.5572 23.4075 51.8397C26.0851 51.1223 26.6253 48.9194 26.0093 46.6205C25.3933 44.3216 23.824 42.6839 21.1465 43.4014C18.4689 44.1188 17.9214 46.2947 18.5447 48.6206ZM23.3859 47.3234C23.5743 48.0266 23.8734 49.2509 22.7915 49.5408C21.7097 49.8307 21.3565 48.6209 21.1681 47.9177C20.9797 47.2145 20.6536 45.9974 21.7625 45.7003C22.8713 45.4032 23.1975 46.6202 23.3859 47.3234ZM30.3343 57.0277C30.9575 59.3537 32.5196 60.9642 35.1972 60.2468C37.8747 59.5294 38.415 57.3265 37.799 55.0276C37.183 52.7287 35.6209 51.1181 32.9434 51.8355C30.2658 52.553 29.7111 54.7018 30.3343 57.0277ZM35.1755 55.7305C35.3712 56.4608 35.663 57.658 34.5812 57.9479C33.4993 58.2378 33.1534 57.055 32.9578 56.3248C32.7693 55.6216 32.4432 54.4045 33.5521 54.1074C34.6339 53.8175 34.9871 55.0273 35.1755 55.7305ZM32.1345 42.1095C32.3083 41.1353 31.6277 40.6509 30.755 40.8558C29.7741 41.0896 29.367 41.5176 29.2381 42.3348L24.2309 61.6199C24.0875 62.383 24.429 62.9002 25.2496 62.8253C26.301 62.7465 26.9588 62.2803 27.1272 61.3946L32.1345 42.1095Z" fill="white"/>
                    <path d="M19.5998 22.4433C21.5623 22.4433 22.7071 20.0992 23.0342 18.9271C23.8848 17.082 27.0819 17.6597 29.5351 18.5183C31.9883 19.3769 36.9763 20.7261 41.392 21.5847C45.8077 22.4433 49.5692 21.3394 50.7958 20.4399C52.0224 19.5404 53.7805 17.6188 52.4313 16.9646C51.082 16.3104 48.4653 17.905 41.76 17.905C35.0547 17.905 26.2642 13.7346 21.7668 13.7346C17.2693 13.7346 15.9609 15.9425 15.9609 18.1912C15.9609 20.4399 17.1466 22.4433 19.5998 22.4433Z" stroke="white" stroke-width="2"/>
                </svg>
                Скидки и&nbsp;акции до&nbsp;40%
            </a>
        </div>
        <div class="promo-array__element grid-col grid-col--6 grid-col--m-12 grid-col--s-12">
            <a href="javascript:void(0);" class="promo-element">
                <svg class="i _quiz" viewBox="0 0 120 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M109.496 24.0086C109.814 24.1231 110.039 24.4081 110.077 24.7439L110.724 30.4392L115.782 33.141C116.08 33.3002 116.262 33.6147 116.251 33.9524C116.24 34.2902 116.038 34.5925 115.731 34.7323L110.515 37.104L109.513 42.7465C109.454 43.0793 109.211 43.3497 108.887 43.444C108.562 43.5383 108.212 43.4401 107.984 43.1908L104.114 38.962L98.4364 39.7543C98.1017 39.801 97.7695 39.6537 97.5795 39.3742C97.3894 39.0947 97.3746 38.7315 97.5412 38.4374L100.365 33.4511L97.8572 28.2992C97.7093 27.9954 97.7466 27.634 97.9535 27.3669C98.1604 27.0997 98.501 26.9732 98.8322 27.0405L104.451 28.1816L108.579 24.2046C108.823 23.9702 109.178 23.8942 109.496 24.0086Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.22256 50.4805C9.46163 50.3425 9.75832 50.3522 9.9879 50.5054L13.882 53.1053L18.2345 51.3746C18.491 51.2726 18.7831 51.3251 18.9881 51.5099C19.1931 51.6947 19.2755 51.9798 19.2005 52.2455L17.9296 56.7503L20.9219 60.3504C21.0983 60.5627 21.1389 60.8568 21.0266 61.109C20.9143 61.3612 20.6686 61.5278 20.3927 61.5387L15.7136 61.7234L13.2141 65.6832C13.0668 65.9167 12.7996 66.0462 12.525 66.0174C12.2505 65.9885 12.0161 65.8063 11.9205 65.5473L10.2988 61.156L5.76209 60.0042C5.49457 59.9362 5.28879 59.7224 5.23124 59.4524C5.17369 59.1825 5.27434 58.9033 5.4909 58.7322L9.16595 55.8281L8.86146 51.1558C8.84351 50.8803 8.9835 50.6185 9.22256 50.4805Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M87.8237 47.476L88.0825 46.5101L87.8237 47.476ZM83.6316 63.1212L83.8904 62.1552L83.6316 63.1212ZM82.3795 62.7857L81.4136 62.5269C81.5565 61.9934 82.1049 61.6768 82.6383 61.8198L82.3795 62.7857ZM79.4372 67.0406L80.3266 66.5835L80.3266 66.5835L79.4372 67.0406ZM76.4316 61.1919L76.6904 60.226C76.963 60.2991 77.192 60.4839 77.321 60.7349L76.4316 61.1919ZM57.665 50.9871L58.6309 51.2459L57.665 50.9871ZM59.2689 45.0011L58.303 44.7423L59.2689 45.0011ZM65.3926 41.4656L65.1338 42.4315L65.3926 41.4656ZM90.3933 53.3409C90.9651 51.207 89.6987 49.0137 87.5649 48.4419L88.0825 46.5101C91.2833 47.3677 93.1828 50.6577 92.3252 53.8585L90.3933 53.3409ZM88.7894 59.3268L90.3933 53.3409L92.3252 53.8585L90.7212 59.8445L88.7894 59.3268ZM83.8904 62.1552C86.0243 62.727 88.2176 61.4607 88.7894 59.3268L90.7212 59.8445C89.8636 63.0452 86.5736 64.9447 83.3728 64.0871L83.8904 62.1552ZM82.6383 61.8198L83.8904 62.1552L83.3728 64.0871L82.1207 63.7516L82.6383 61.8198ZM80.3266 66.5835L81.4136 62.5269L83.3455 63.0445L82.2585 67.1012L80.3266 66.5835ZM80.3266 66.5835L80.3266 66.5835L82.2585 67.1012C81.785 68.8682 79.3839 69.1248 78.5478 67.4977L80.3266 66.5835ZM77.321 60.7349L80.3266 66.5835L78.5478 67.4977L75.5422 61.649L77.321 60.7349ZM61.4593 56.1449L76.6904 60.226L76.1728 62.1579L60.9417 58.0767L61.4593 56.1449ZM58.6309 51.2459C58.0591 53.3797 59.3255 55.5731 61.4593 56.1449L60.9417 58.0767C57.7409 57.2191 55.8414 53.929 56.699 50.7282L58.6309 51.2459ZM60.2348 45.26L58.6309 51.2459L56.699 50.7282L58.303 44.7423L60.2348 45.26ZM65.1338 42.4315C62.9999 41.8598 60.8066 43.1261 60.2348 45.26L58.303 44.7423C59.1606 41.5415 62.4506 39.642 65.6514 40.4997L65.1338 42.4315ZM87.5649 48.4419L65.1338 42.4315L65.6514 40.4997L88.0825 46.5101L87.5649 48.4419Z" fill="white"/>
                    <line x1="66.8214" y1="47.7815" x2="84.4853" y2="52.5145" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <line x1="65.6437" y1="52.1769" x2="74.4723" y2="54.5425" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M21.6291 20.8695L22.595 20.6107L21.6291 20.8695ZM26.1003 37.5564L25.1344 37.8152L26.1003 37.5564ZM37.636 39.6418L38.602 39.3829C38.459 38.8495 37.9107 38.5329 37.3772 38.6758L37.636 39.6418ZM41.7806 48.3834L42.67 48.8405L42.67 48.8405L41.7806 48.3834ZM47.6521 36.958L47.3932 35.9921C47.1207 36.0651 46.8916 36.2499 46.7626 36.5009L47.6521 36.958ZM22.595 20.6107C22.0232 18.4768 23.2895 16.2835 25.4234 15.7117L24.9058 13.7798C21.705 14.6375 19.8055 17.9275 20.6631 21.1283L22.595 20.6107ZM27.0662 37.2976L22.595 20.6107L20.6631 21.1283L25.1344 37.8152L27.0662 37.2976ZM31.9652 40.126C29.8313 40.6978 27.638 39.4314 27.0662 37.2976L25.1344 37.8152C25.992 41.016 29.282 42.9155 32.4828 42.0578L31.9652 40.126ZM37.3772 38.6758L31.9652 40.126L32.4828 42.0578L37.8949 40.6077L37.3772 38.6758ZM40.8912 47.9264L38.602 39.3829L36.6701 39.9006L38.9593 48.444L40.8912 47.9264ZM40.8912 47.9264L40.8912 47.9264L38.9593 48.444C39.4328 50.211 41.8339 50.4676 42.67 48.8405L40.8912 47.9264ZM46.7626 36.5009L40.8912 47.9264L42.67 48.8405L48.5415 37.415L46.7626 36.5009ZM76.3454 28.2344L47.3932 35.9921L47.9109 37.9239L76.863 30.1662L76.3454 28.2344ZM79.1738 23.3354C79.7456 25.4692 78.4792 27.6626 76.3454 28.2344L76.863 30.1662C80.0638 29.3086 81.9633 26.0185 81.1056 22.8177L79.1738 23.3354ZM74.7025 6.64848L79.1738 23.3354L81.1056 22.8177L76.6344 6.13084L74.7025 6.64848ZM69.8036 3.82006C71.9374 3.24829 74.1308 4.51462 74.7025 6.64848L76.6344 6.13084C75.7767 2.93005 72.4867 1.03055 69.2859 1.8882L69.8036 3.82006ZM25.4234 15.7117L69.8036 3.82006L69.2859 1.8882L24.9058 13.7798L25.4234 15.7117Z" fill="white"/>
                    <line x1="1" y1="-1" x2="33.1629" y2="-1" transform="matrix(-0.965926 0.258819 0.258819 0.965926 65.8965 15.5659)" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <line x1="1" y1="-1" x2="17.7595" y2="-1" transform="matrix(-0.965926 0.258819 0.258819 0.965926 53.002 26.954)" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                Пройдите тест!
            </a>
        </div>
    </div>
{% endblock %}

