{% set products = [
    {
        image : 0,
        price : '10&thinsp;200',
        discount : {
        price   : '12&thinsp;600',
        percent : '-5%'
    },
        headline : 'Вибратор Volta с раздвоенным кончиком',
        rating : { width : 85, description: '12 отзывов'}
    },
    {
        image : 1,
        price : '6&thinsp;100',
        headline : 'Вибростимулятор Cookie',
        rating : {width : 100, description: '4 отзыва'}
    },
    {
        image : 2,
        price : '16&thinsp;900',
        headline : 'Вибратор для пар We-Vibe Sync',
        rating : {width : 93, description: '3 отзыва'}
    },
    {
        image : 3,
        price : '4&thinsp;900',
        headline : 'Парный стимулятор Satisfyer Partner Multifun 2',
        rating : {width : 93, description: '256 отзывов'}
    },
] %}

<section class="block-underlay">
    <h2>Похожие товары</h2>
    <div class="mobile-carousel-wrapper js-mobile-carousel-wrapper">
        <div class="product-array grid mobile-carousel swiper-container js-mobile-carousel">
            <div class="swiper-wrapper">
                {% for i in products %}
                    <div class="product-array__element mobile-carousel__element swiper-slide grid-col grid-col--3 grid-col--m-6 grid-col--s-6">
                        {% include '../../templates/elements/product-element.twig' with {
                            inCart   : i.inCart,
                            image    : i.image,
                            label    : i.label,
                            price    : i.price,
                            discount : i.discount,
                            headline : i.headline,
                            rating   : i.rating,
                        } %}
                    </div>
                {% endfor %}
            </div>
            <div class="mobile-carousel__pagination js-mobile-carousel-pagination"></div>
        </div>
    </div>
</section>