<div class="subscription-section">
    <div class="container">
        <div class="subscription-section__headline">
            <span>Узнавайте первыми об&nbsp;акциях и&nbsp;распродажах</span>
        </div>
        <form action="/" method="POST" class="subscription-section__form js-form">
            {% include '../elements/input.twig' with {
                inputMod : 'input--white',
                name     : 'SUBSCRIPTION_EMAIL',
                label    : 'Почта',
                type     : 'email'
            } %}
            <button class="button button--m button--bordered-white button-fs-20" type="submit">Подписаться</button>
        </form>
    </div>
</div>