.input {
	position: relative;
	width: 100%;
		&::after {
			content: '';
			position: absolute;
			display: block;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
		}

		//input sizes
		&--phone {
			max-width: 30rem;
		}
		&--currency {
			max-width: 19rem;
		}
		&--date {
			max-width: 20.2rem;
		}
		&--s {
			max-width: 9.3rem;
			.input {
				&__label {
					left: 1.2rem;
				}
				&__field {
					padding-left: 1.2rem;
					padding-right: 1.2rem;
				}
			}
		}
		&--m {
			max-width: 33.8rem;
		}
		&--intercom {
			width: calc(100% - 30.3rem);
		}
		&--zip {
			max-width: 20.7rem;
		}

		&__label {
			position: absolute;
			top: 2.1rem;
			left: 1.8rem;
			color: map-get($grey, color_2);
			@include font-size(1.6rem, 1.6rem);
			font-weight: normal;
			pointer-events: none;
			@include smooth(.2s);
		}
		&__field {
			@include input(5.6rem, 1.3rem 5.6rem 0 1.8rem);
			color: map-get($basic, primary);
			&--textarea {
				@include input(5.6rem, 2.6rem 4.7rem 1rem 1.6rem);
				min-height: 5.6rem;
				line-height: 1.3;
				overflow: hidden;
			}

				/*&:invalid {
					border-color: $colorRed;
				}*/
				&:focus {
					background-color: $colorWhite;
				}
				&:disabled {
					pointer-events: none;
					border-color: transparent;
					@include noselect;
				}

				//remove clear icons
				&::-ms-clear {
					display: none;
				}
				&::-ms-reveal {
					display: none;
				}
				&::-webkit-search-decoration,
				&::-webkit-search-cancel-button,
				&::-webkit-search-results-button,
				&::-webkit-search-results-decoration {
					-webkit-appearance: none;
				}
		}
		&__reset,
		&__remove,
		&__control {
			position: absolute;
			top: 0;
			right: 0;
			@include flex(5.6rem);
			height: 5.6rem;
			align-items: center;
			justify-content: center;
			z-index: 2;
		}
		&__reset {
			opacity: 0;
			pointer-events: none;
			visibility: hidden;
				& .i {
					@include size(1.4rem, 1.4rem);
					stroke: $colorRed;
				}
		}
		&__remove {
			opacity: 0;
			pointer-events: none;
			visibility: hidden;
				& .i {
					@include size(2.4rem, 2.4rem);
					stroke: map-get($grey, color_2);
				}
		}
		&__control {
			padding-top: .4rem;
				&::before {
					content: '';
					display: block;
					@include size(2.2rem, 1.2rem);
					background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 22 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 1C18.8502 4.61649 15.1739 7 11 7C6.82606 7 3.14984 4.61649 1 1' stroke='%23757575' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='1' y1='-1' x2='4' y2='-1' transform='matrix(-4.37115e-08 1 1 4.37115e-08 12 7)' stroke='%23757575' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M4.5 5.5L2.63396 8.63396' stroke='%23757575' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M17.5 5.5L19.866 8.63397' stroke='%23757575' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A") center center no-repeat;
					background-size: cover;
				}
		}
		&__prompt {
			position: absolute;
			top: 1.6rem;
			right: 1.5rem;
			@include flex(2.5rem);
			height: 2.5rem;
			align-items: center;
			justify-content: center;
			color: map-get($grey, color_5);
			@include font-size(1.4rem, 1.6rem);
			background: $colorWhite;
			border: .1rem solid map-get($grey, color_5);
			@include round;
			z-index: 2;
		}
		&__dropdown {
			position: absolute;
			top: 100%;
			left: 0;
			display: block;
			width: 100%;
			padding-top: .8rem;
			padding-bottom: .8rem;
			background: $colorWhite;
			border: .1rem solid map-get($grey, color_5);
			@include radius(0 0 $radius $radius);
			opacity: 0;
			pointer-events: none;
			visibility: hidden;
			overflow: hidden;
			z-index: 15;
				&-inside {
					width: 100%;
					overflow: hidden;
						&.scrollable-block {
							max-height: 22rem;
						}
				}
				&-element {
					display: block;
					width: 100%;
					color: $colorBlack;
					padding: 2rem 1.8rem 1.9rem;
					font-size: 1.6rem;
					line-height: 1.6rem;
					@include align_l;
					@include smooth(.2s);
						& + .input__dropdown-element {
							border-top: .1rem solid map-get($grey, color_5);
						}
				}
		}

		& .input--error {
			display: none!important;
			margin-top: 1.2rem;
			color: $colorRed;
			@include font-size(1.2rem, 1.6rem);
		}

		//input states
		&--focused,
		&--not-empty {
			.input {
				&__label {
					top: .8rem;
					font-size: 1.1rem;
				}
			}
		}
		&--not-empty {
			.input {
				&__remove {
					opacity: 1;
					pointer-events: all;
					visibility: visible;
				}
			}
		}
		&--password {
			max-width: 40.2rem;
				&::after {
					display: none;
				}
				&-visible {
					.input {
						&__control {
							padding-top: 0;
							&::before {
								height: 1.5rem;
								background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 22 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11' cy='12' r='3' fill='%23757575'/%3E%3Cpath d='M21 11C18.8502 7.38351 15.1739 5 11 5C6.82606 5 3.14984 7.38351 1 11' stroke='%23757575' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='11' y1='4' x2='11' y2='1' stroke='%23757575' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M4.5 6.5L2.63396 3.36604' stroke='%23757575' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M17.5 6.5L19.866 3.36603' stroke='%23757575' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
							}
						}
					}
				}
		}
		&--rating-stars {
			&.input--success {
				&::after {
					display: none;
				}
			}
		}

		//icons
		&--with-icon {
			&::before {
				content: '';
				position: absolute;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
				z-index: 1;
			}
			&::after {
				display: none;
			}
		}
		&--ruble {
			&::before {
				top: 2.1rem;
				left: 1.6rem;
				@include size(1.1rem, 1.3rem);
				background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.96875 9.85156H3.35156V12H1.85938V9.85156H0.242188V8.61719H1.85938V7.54688H0.242188V6.32031H1.85938V0.625H6.05469C7.27344 0.625 8.23958 0.934896 8.95312 1.55469C9.66667 2.17448 10.0234 3.01302 10.0234 4.07031C10.0234 5.17969 9.67969 6.03646 8.99219 6.64062C8.3099 7.23958 7.33854 7.54167 6.07812 7.54688H3.35156V8.61719H5.96875V9.85156ZM3.35156 6.32031H6.05469C6.86198 6.32031 7.47656 6.13021 7.89844 5.75C8.32031 5.36979 8.53125 4.8151 8.53125 4.08594C8.53125 3.42448 8.3125 2.89062 7.875 2.48438C7.4375 2.07292 6.84635 1.86458 6.10156 1.85938H3.35156V6.32031Z' fill='%23757575'/%3E%3C/svg%3E%0A");
			}

			.input {
				&__label {
					display: none;
				}
				&__field {
					padding-top: 0;
					padding-left: 3.5rem;
					padding-right: 1.5rem;
				}
			}
		}
		&--calendar {
			&::before {
				top: 1.7rem;
				right: 1.8rem;
				@include size(2.05rem, 2.25rem);
				background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 20 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 4C2.44772 4 2 4.44772 2 5V19C2 19.5523 2.44772 20 3 20H17C17.5523 20 18 19.5523 18 19V5C18 4.44772 17.5523 4 17 4H3ZM0 5C0 3.34315 1.34315 2 3 2H17C18.6569 2 20 3.34315 20 5V19C20 20.6569 18.6569 22 17 22H3C1.34315 22 0 20.6569 0 19V5Z' fill='%23757575'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14 0C14.5523 0 15 0.447715 15 1V5C15 5.55228 14.5523 6 14 6C13.4477 6 13 5.55228 13 5V1C13 0.447715 13.4477 0 14 0Z' fill='%23757575'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 0C6.55228 0 7 0.447715 7 1V5C7 5.55228 6.55228 6 6 6C5.44772 6 5 5.55228 5 5V1C5 0.447715 5.44772 0 6 0Z' fill='%23757575'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 9C0 8.44771 0.447715 8 1 8H19C19.5523 8 20 8.44771 20 9C20 9.55228 19.5523 10 19 10H1C0.447715 10 0 9.55228 0 9Z' fill='%23757575'/%3E%3C/svg%3E%0A");
				background-size: cover;
			}
			.input {
				&__label {
					display: none;
				}
				&__field {
					padding-top: 0;
					padding-right: 4.8rem;
				}
			}
		}
		&--clock {
			&::before {
				top: 1.7rem;
				right: 1.8rem;
				@include size(2.25rem, 2.25rem);
				background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 2C6.02944 2 2 6.02944 2 11C2 15.9706 6.02944 20 11 20C15.9706 20 20 15.9706 20 11C20 6.02944 15.9706 2 11 2ZM0 11C0 4.92487 4.92487 0 11 0C17.0751 0 22 4.92487 22 11C22 17.0751 17.0751 22 11 22C4.92487 22 0 17.0751 0 11Z' fill='%23757575'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 4C11.5523 4 12 4.44772 12 5V10.382L15.4472 12.1056C15.9412 12.3526 16.1414 12.9532 15.8944 13.4472C15.6474 13.9412 15.0468 14.1414 14.5528 13.8944L10.5528 11.8944C10.214 11.725 10 11.3788 10 11V5C10 4.44772 10.4477 4 11 4Z' fill='%23757575'/%3E%3C/svg%3E%0A");
				background-size: cover;
			}

			.input {
				&__label {
					display: none;
				}
				&__field {
					padding-top: 0;
					padding-right: 4.8rem;
				}
			}
		}

		//tooltip
		&--with-prompt {
			.input {
				&__field {
					padding-right: 4.5rem;
				}
			}
		}

		//validation
		&--error {
			/*&::after {
				top: 2.2rem;
				right: 2.3rem;
				@include size(1.2rem, 1.2rem);
				background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='11' y1='1.41421' x2='1.41421' y2='11' stroke='%23DE2424' stroke-width='2' stroke-linecap='round'/%3E%3Cline x1='1' y1='-1' x2='14.5563' y2='-1' transform='matrix(0.707107 0.707107 0.707107 -0.707107 1 0)' stroke='%23DE2424' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
			}*/
			.input {
				&__field {
					border-color: $colorRed;
				}
				&__reset {
					opacity: 1;
					pointer-events: all;
					visibility: visible;
				}
			}

			& .input--error {
				display: block!important;
			}
		}
		&--success {
			&::after {
				top: 2.4rem;
				right: 2.25rem;
				@include size(1.4rem, 1.1rem);
				background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5.5L5 9.5L13.5 1' stroke='%2327AE60' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
			}
			.input {
				&__field {
					border-color: $colorGreen;
				}
			}
		}

		//user location with dropdown
		&--location {
			&.input {
				&--success {
					&::after {
						display: none;
					}
				}
			}
		}
		&--dropdowned {
			.input {
				&__field {
					border-color: map-get($grey, color_5);
					border-bottom: 0;
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}
				&__dropdown {
					opacity: 1;
					pointer-events: all;
					visibility: visible;
				}
			}
		}

		//sizes
		&--w-50 {
			max-width: 50%;
		}

		//theme
		&--white {
			.input {
				&__label {
					color: map-get($grey, color_2);
				}
				&__field {
					background: $colorWhite;
					border-color: $colorWhite;
				}
			}
			&.input {
				&--error {
					.input {
						&__field {
							border-color: $colorRed;
						}
					}

				}
				&--success {
					.input {
						&__field {
							border-color: $colorGreen;
						}
					}
				}
			}
		}

	@include bp-tabletXS {
		//input sizes
		&--phone,
		&--currency,
		&--date,
		&--m,
		&--intercom,
		&--zip,
		&--password {
			max-width: 100%;
		}
		&--intercom {
			width: 100%;
			margin-top: 1.6rem;
		}
		&--s {
			max-width: initial;
			width: calc(33.33% - .4rem);
		}

		&__label {
			top: 1.6rem;
			left: 1.2rem;
			@include font-size(1.5rem, 1.6rem);
		}
		&__field {
			height: 4.8rem;
			padding: 1.2rem 4.8rem 0 1.2rem;
			font-size: 1.5rem;
			&--textarea {
				height: 4.8rem;
				padding: 2.2rem 1.2rem 1rem 1rem;
				min-height: 4.8rem;
			}
		}
		& .input--error {
			margin-top: .6rem;
		}
		&__control {
			@include size(4.8rem, 4.8rem);
			padding-top: .2rem;
				&::before {
					@include size(2rem, 1.1rem);
				}
		}
		&__reset {
			@include size(4.8rem, 4.8rem);
		}
		&__remove {
			@include size(5.4rem, 4.8rem);
			& .i {
				@include size(2rem, 2rem);
			}
		}
		&__prompt {
			top: 1.4rem;
			right: 1.4rem;
			@include size(2rem, 2rem);
		}
		&__dropdown {
			&-element {
				padding: 1.6rem 1.2rem 1.5rem;
				font-size: 1.5rem;
			}
		}

		//input states
		&--focused,
		&--not-empty {
			.input {
				&__label {
					top: .6rem;
				}
			}
		}
		&--password {
			&-visible {
				.input {
					&__control {
						&::before {
							height: 1.4rem;
						}
					}
				}
			}
		}

		//icons
		&--ruble {
			&::before {
				top: 1.8rem;
				left: 1.2rem;
				@include size(1rem, 1.1rem);
			}

			.input {
				&__field {
					padding-left: 2.6rem;
				}
			}
		}
		&--calendar {
			&::before {
				top: 1.3rem;
				right: 1.4rem;
				@include size(1.8rem, 2rem);
			}
			.input {
				&__field {
					padding-right: 3.8rem;
				}
			}
		}
		&--clock {
			&::before {
				top: 1.4rem;
				right: 1.2rem;
				@include size(2rem, 2rem);
			}

			.input {
				&__field {
					padding-right: 3.8rem;
				}
			}
		}

		//validation
		&--success {
			&::after {
				top: 1.9rem;
				right: 1.9rem;
			}
		}
		&--error {
			&::after {
				top: 1.8rem;
				right: 1.8rem;
			}
		}

		//sizes
		&--w-50 {
			max-width: 100%;
		}
	}
}