.breadcrumbs {
	width: 100%;
		&__inside {
			@include flex();
			align-items: flex-start;
		}
		&__element {
			position: relative;
			@include link();
			color: map-get($grey, color_2);
			@include font-size(1.4rem, 1.6rem);
				&:not(:last-child) {
					margin-right: 1.8rem;
						&::after {
							content: '';
							position: absolute;
							top: .6rem;
							right: -1.1rem;
							display: block;
							@include size(.4rem, .4rem);
							background: map-get($grey, color_10);
							@include round;
						}
				}

					&[href] {
						&:hover {
							color: map-get($basic, theme);
						}
					}
		}

	@include bp-tabletXS {
		&__inside {
			position: relative;
			display: block;
			@include outbox;
			padding: 0 1.6rem 1rem;
			font-size: 0;
			white-space: nowrap;
			overflow: auto;
			@include touch-scroll;
		}
		&__element {
			@include iblock(top);
			font-size: 1.3rem;
		}
	}
}