.container {
	display: flex;
	width: 100%;
	max-width: $containerWidth;
	flex-wrap: wrap;
	@include auto;
	padding-left: $gutter;
	padding-right: $gutter;
		&--fluid {
			max-width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
}