.grid {
	display: flex;
	width: calc(100% + #{$gridBase * 6});
	flex-wrap: wrap;
	margin-left: -#{$gridBase * 3};
	margin-right: -#{$gridBase * 3};

	&--align-start {
		align-items: flex-start;
	}
	&--align-center {
		align-items: center;
	}
	&--align-end {
		align-items: flex-end;
	}

	&--start {
		justify-content: flex-start;
	}
	&--center {
		justify-content: center;
	}
	&--end {
		justify-content: flex-end;
	}
	&--space-between {
		justify-content: space-between;
	}

	//xl
	&-col {
		width: 100%;
		margin-left: #{$gridBase * 3};
		margin-right: #{$gridBase * 3};

		&--1 {
			width: calc(#{$column * 1} - #{$gridBase * 6});
		}
		&--2 {
			width: calc(#{$column * 2} - #{$gridBase * 6});
		}
		&--3 {
			width: calc(#{$column * 3} - #{$gridBase * 6});
		}
		&--4 {
			width: calc(#{$column * 4} - #{$gridBase * 6});
		}
		&--5 {
			width: calc(#{$column * 5} - #{$gridBase * 6});
		}
		&--6 {
			width: calc(#{$column * 6} - #{$gridBase * 6});
		}
		&--7 {
			width: calc(#{$column * 7} - #{$gridBase * 6});
		}
		&--8 {
			width: calc(#{$column * 8} - #{$gridBase * 6});
		}
		&--9 {
			width: calc(#{$column * 9} - #{$gridBase * 6});
		}
		&--10 {
			width: calc(#{$column * 10} - #{$gridBase * 6});
		}
		&--11 {
			width: calc(#{$column * 11} - #{$gridBase * 6});
		}
		&--12 {
			width: calc(#{$column * 12} - #{$gridBase * 6});
		}
	}

	//ls
	@include bp-desktop {
		&-col {

			&--sl-1 {
				width: calc(#{$column * 1} - #{$gridBase * 6});
			}
			&--sl-2 {
				width: calc(#{$column * 2} - #{$gridBase * 6});
			}
			&--sl-3 {
				width: calc(#{$column * 3} - #{$gridBase * 6});
			}
			&--sl-4 {
				width: calc(#{$column * 4} - #{$gridBase * 6});
			}
			&--sl-5 {
				width: calc(#{$column * 5} - #{$gridBase * 6});
			}
			&--sl-6 {
				width: calc(#{$column * 6} - #{$gridBase * 6});
			}
			&--sl-7 {
				width: calc(#{$column * 7} - #{$gridBase * 6});
			}
			&--sl-8 {
				width: calc(#{$column * 8} - #{$gridBase * 6});
			}
			&--sl-9 {
				width: calc(#{$column * 9} - #{$gridBase * 6});
			}
			&--sl-10 {
				width: calc(#{$column * 10} - #{$gridBase * 6});
			}
			&--sl-11 {
				width: calc(#{$column * 11} - #{$gridBase * 6});
			}
			&--sl-12 {
				width: calc(#{$column * 12} - #{$gridBase * 6});
			}

			&--sl-show {
				display: block;
			}
			&--sl-none {
				display: none;
			}
		}
	}

	//l
	@include bp-desktopXS {
		&-col {

			&--l-1 {
				width: calc(#{$column * 1} - #{$gridBase * 6});
			}
			&--l-2 {
				width: calc(#{$column * 2} - #{$gridBase * 6});
			}
			&--l-3 {
				width: calc(#{$column * 3} - #{$gridBase * 6});
			}
			&--l-4 {
				width: calc(#{$column * 4} - #{$gridBase * 6});
			}
			&--l-5 {
				width: calc(#{$column * 5} - #{$gridBase * 6});
			}
			&--l-6 {
				width: calc(#{$column * 6} - #{$gridBase * 6});
			}
			&--l-7 {
				width: calc(#{$column * 7} - #{$gridBase * 6});
			}
			&--l-8 {
				width: calc(#{$column * 8} - #{$gridBase * 6});
			}
			&--l-9 {
				width: calc(#{$column * 9} - #{$gridBase * 6});
			}
			&--l-10 {
				width: calc(#{$column * 10} - #{$gridBase * 6});
			}
			&--l-11 {
				width: calc(#{$column * 11} - #{$gridBase * 6});
			}
			&--l-12 {
				width: calc(#{$column * 12} - #{$gridBase * 6});
			}

			&--l-show {
				display: block;
			}
			&--l-none {
				display: none;
			}
		}
	}

	//m
	@include bp-tablet {
		&-col {

			&--m-1 {
				width: calc(#{$column * 1} - #{$gridBase * 6});
			}
			&--m-2 {
				width: calc(#{$column * 2} - #{$gridBase * 6});
			}
			&--m-3 {
				width: calc(#{$column * 3} - #{$gridBase * 6});
			}
			&--m-4 {
				width: calc(#{$column * 4} - #{$gridBase * 6});
			}
			&--m-5 {
				width: calc(#{$column * 5} - #{$gridBase * 6});
			}
			&--m-6 {
				width: calc(#{$column * 6} - #{$gridBase * 6});
			}
			&--m-7 {
				width: calc(#{$column * 7} - #{$gridBase * 6});
			}
			&--m-8 {
				width: calc(#{$column * 8} - #{$gridBase * 6});
			}
			&--m-9 {
				width: calc(#{$column * 9} - #{$gridBase * 6});
			}
			&--m-10 {
				width: calc(#{$column * 10} - #{$gridBase * 6});
			}
			&--m-11 {
				width: calc(#{$column * 11} - #{$gridBase * 6});
			}
			&--m-12 {
				width: calc(#{$column * 12} - #{$gridBase * 6});
			}

			&--m-show {
				display: block;
			}
			&--m-none {
				display: none;
			}
		}
	}

	//s
	@include bp-tabletXS {
		width: calc(100% + #{$gridBase * 2});
		margin-left: -$gridBase;
		margin-right: -$gridBase;
		&-col {
			margin-left: .4rem;
			margin-right: .4rem;
			&--1 {
				width: calc(#{$column * 1} - #{$gridBase * 2});
			}
			&--2 {
				width: calc(#{$column * 2} - #{$gridBase * 2});
			}
			&--3 {
				width: calc(#{$column * 3} - #{$gridBase * 2});
			}
			&--4 {
				width: calc(#{$column * 4} - #{$gridBase * 2});
			}
			&--5 {
				width: calc(#{$column * 5} - #{$gridBase * 2});
			}
			&--6 {
				width: calc(#{$column * 6} - #{$gridBase * 2});
			}
			&--7 {
				width: calc(#{$column * 7} - #{$gridBase * 2});
			}
			&--8 {
				width: calc(#{$column * 8} - #{$gridBase * 2});
			}
			&--9 {
				width: calc(#{$column * 9} - #{$gridBase * 2});
			}
			&--10 {
				width: calc(#{$column * 10} - #{$gridBase * 2});
			}
			&--11 {
				width: calc(#{$column * 11} - #{$gridBase * 2});
			}
			&--12 {
				width: calc(#{$column * 12} -  #{$gridBase * 2});
			}

			&--s-1 {
				width: calc(#{$column * 1} - #{$gridBase * 2});
			}
			&--s-2 {
				width: calc(#{$column * 2} - #{$gridBase * 2});
			}
			&--s-3 {
				width: calc(#{$column * 3} - #{$gridBase * 2});
			}
			&--s-4 {
				width: calc(#{$column * 4} - #{$gridBase * 2});
			}
			&--s-5 {
				width: calc(#{$column * 5} - #{$gridBase * 2});
			}
			&--s-6 {
				width: calc(#{$column * 6} - #{$gridBase * 2});
			}
			&--s-7 {
				width: calc(#{$column * 7} - #{$gridBase * 2});
			}
			&--s-8 {
				width: calc(#{$column * 8} - #{$gridBase * 2});
			}
			&--s-9 {
				width: calc(#{$column * 9} - #{$gridBase * 2});
			}
			&--s-10 {
				width: calc(#{$column * 10} - #{$gridBase * 2});
			}
			&--s-11 {
				width: calc(#{$column * 11} - #{$gridBase * 2});
			}
			&--s-12 {
				width: calc(#{$column * 12} -  #{$gridBase * 2});
			}

			&--s-show {
				display: block;
			}
			&--s-none {
				display: none;
			}
		}
	}

	//xs
	@include bp-mobile {
		&-col {

			&--xs-1 {
				width: calc(#{$column * 1} - #{$gridBase * 2});
			}
			&--xs-2 {
				width: calc(#{$column * 2} - #{$gridBase * 2});
			}
			&--xs-3 {
				width: calc(#{$column * 3} - #{$gridBase * 2});
			}
			&--xs-4 {
				width: calc(#{$column * 4} - #{$gridBase * 2});
			}
			&--xs-5 {
				width: calc(#{$column * 5} - #{$gridBase * 2});
			}
			&--xs-6 {
				width: calc(#{$column * 6} - #{$gridBase * 2});
			}
			&--xs-7 {
				width: calc(#{$column * 7} - #{$gridBase * 2});
			}
			&--xs-8 {
				width: calc(#{$column * 8} - #{$gridBase * 2});
			}
			&--xs-9 {
				width: calc(#{$column * 9} - #{$gridBase * 2});
			}
			&--xs-10 {
				width: calc(#{$column * 10} - #{$gridBase * 2});
			}
			&--xs-11 {
				width: calc(#{$column * 11} - #{$gridBase * 2});
			}
			&--xs-12 {
				width: calc(#{$column * 12} -  #{$gridBase * 2});
			}


			&--xs-show {
				display: block;
			}
			&--xs-none {
				display: none;
			}
		}
	}
}