.logotype {
	@include flex(17.5rem);//23.5rem
	height: 100%;
	align-items: center;

		.i {
			@include size(100%, 4.8rem);
			fill: $colorWhite;
		}

	@include bp-tablet {
		width: 11.8rem;
			.i {
				height: 2.5rem;
			}
	}
}