.mobile-navigation {
	width: 100%;
		&__link {
			position: relative;
			@include flex();
			height: 5.6rem;
			align-items: center;
			padding-left: 1.7rem;
			padding-right: 3.5rem;
			color: map-get($basic, primary);
			background: $colorWhite;
			transition-duration: .25s;
				&:not(:last-child) {
					border-bottom: .1rem solid map-get($grey, color_7);
				}
				&::after {
					content: '';
					position: absolute;
					top: 50%;
					right: 2.4rem;
					@include size(.9rem, 1.4rem);
					background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.792893 0.292893C1.18342 -0.0976311 1.81658 -0.0976311 2.20711 0.292893L8.20711 6.29289C8.59763 6.68342 8.59763 7.31658 8.20711 7.70711L2.20711 13.7071C1.81658 14.0976 1.18342 14.0976 0.792893 13.7071C0.402369 13.3166 0.402369 12.6834 0.792893 12.2929L6.08579 7L0.792893 1.70711C0.402369 1.31658 0.402369 0.683417 0.792893 0.292893Z' fill='%23BDBDBD'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
					background-size: cover;
					transform: translateY(-50%);
					@include smooth(.2s);
					will-change: transform;
				}
				&-icon {
					@include flex(3.8rem);
					height: 100%;
					align-items: center;
					justify-content: center;
					margin-right: 1.3rem;
				}
				&-counter {
					//@include size(2.4rem, 2.4rem);
					@include size(21px, 21px);
					margin-left: 1rem;
					color: $colorWhite;
					//@include font-size(1.2rem, 2.4rem);
					@include font-size(1.2rem, 21px);
					@include align_c;
					white-space: nowrap;
					text-overflow: ellipsis;
					background-color: $colorRed;
					@include round;
					overflow: hidden;
				}
				.i {
					fill: none;
					stroke: map-get($grey, color_2);
				}

				&._active {
					color: map-get($basic, theme);
					font-weight: $bold;
					.i {
						stroke: map-get($basic, theme);
					}
				}
		}

	@include bp-tablet {
		&__link {
			&-counter {
				@include size(2.4rem, 2.4rem);
				line-height: 2.4rem;
			}
		}
	}
}