.navigation {
	@include flex();
	height: 100%;
		&__element {
			position: relative;
			@include size(auto, 100%);
				&:not(:last-child) {
					//margin-right: 4.8rem;
				}
				&:first-child {
					.navigation__link {
						padding-left: 0;
					}
				}
				&._active,
				&:hover {
					.navigation__link {
						color: map-get($basic, theme);
						span {
							&::after {
								width: 100%;
							}
						}
					}
				}
				&:hover {
					.navigation__dropdown {
						pointer-events: all;
						opacity: 1;
						visibility: visible;
					}
				}
		}
		&__link {
			@include link(100%);
			padding-left: 2rem; //2.4rem
			padding-right: 2rem; //2.4rem
			color: map-get($grey, color_4);
			font-weight: 500;
			@include font-size(1.8rem);//2rem
				span {
					position: relative;
					@include flex();
					height: 100%;
					align-items: center;
					justify-content: center;
						&::after {
							content: '';
							position: absolute;
							left: 50%;
							bottom: 0;
							display: block;
							@include size(0, .2rem);
							background: map-get($basic, theme);
							@include smooth(.2s);
							transform: translateX(-50%);
							z-index: 1;
						}
				}
		}
		&__dropdown {
			position: absolute;
			top: 100%;
			left: 1.95rem; //-4rem
			width: 35rem;
			padding: 2.7rem 0 4.8rem;
			background-color: $colorWhite;
			@include navShadow();
			pointer-events: none;
			opacity: 0;
			visibility: hidden;
			@include smooth(.3s);
				&--columm-2 {
					left: 0; //-6.4rem
					width: 75rem;
					column-count: 2;
					column-gap: 0;
				}

				.navigation__element {
					width: 100%;
						&::after {
							display: none;
						}
				}
		}
		&__sublink {
			@include link();
			padding: 1rem 3.2rem 1rem 6.4rem;
			color: map-get($grey, color_4);
			@include font-size(1.5rem);
				&._active,
				&:hover {
					color: map-get($basic, theme);
				}
		}

	@include bp-desktopXS {
		&__element {
			&:not(:last-child) {
				//margin-right: 2.8rem;
			}
		}
		&__link {
			padding-left: 1.4rem;
			padding-right: 1.4rem;
		}
		&__dropdown {
			//left: -5rem;
			left: 1.35rem;
			&--columm-2 {
				//left: -6.4rem;
				left: 0;
			}
		}
	}
}