.pagination-wrapper {
	position: relative;
	width: 100%;
	min-height: multi(6);
	margin-top: multi(3);

	@include bp-tabletXS {
		min-height: initial;
	}

		& .pagination {
			margin-top: 0;
		}
		& .pagination-select {
			position: absolute;
			right: 0;
			bottom: 0;
			z-index: 1;
		}
}
.pagination {
	@include flex();
	align-items: flex-start;
	justify-content: space-between;
	margin-top: multi(3);
		&__list {
			@include flex(auto);
			margin-top: multi(3);
		}
		&__element {
			@include flex(auto);
			min-width: 4.8rem;
			height: 4.8rem;
			align-items: center;
			justify-content: center;
			padding-top: .1rem;
			padding-left: 1.7rem;
			padding-right: 1.7rem;
			color: map-get($basic, primary);
			@include font-size(1.5rem, 2.4rem);
			font-weight: $semibold;
			background: map-get($grey, color_0);
			border: .2rem solid map-get($grey, color_0);
			@include radius($radius);
			cursor: pointer;
				.i {
					@include size(.8rem, 1.4rem);
					fill: map-get($basic, primary);
				}
				&--next {
					.i {
						margin-left: 1.6rem;
					}
				}
				&--prev {
					.i {
						margin-right: 1.6rem;
					}
				}

				&:hover,
				&._active {
					background: $colorWhite;
					border-color: map-get($basic, theme);
				}
				&:not(:last-child) {
					margin-right: .8rem;
				}
		}

		& .button--grey {
			color: map-get($basic, primary);
				&:hover {
					color: $colorWhite;
				}
		}
		& .pagination-select {
			margin-top: multi(3);
		}

		&--light {
		.pagination {
			&__element {
				background-color: $colorWhite;
			}
		}
		& .button--grey {
			background-color: $colorWhite;
				&:hover {
					background-color: map-get($basic, theme);
				}
		}
	}

	@include bp-tabletXS {
		display: none;
		&__list {
			display: none;
		}

		& .button--grey {
			&:hover {
				background-color: map-get($basic, theme);
				border-color: map-get($basic, theme);
			}
		}

		&--visible {
			display: block;
		}
	}
}
.pagination-select {
	position: relative;
	width: 21rem;
		&__value {
			position: relative;
			@include flex(100%);
			height: multi(6);
			align-items: center;
			padding-top: .1rem;
			padding-left: multi(3);
			padding-right: 5rem;
			color: map-get($basic, primary);
			@include font-size(1.5rem);
			font-weight: $semibold;
			border: .1rem solid map-get($grey, color_5);
			@include radius(1rem);
			cursor: pointer;
			@include smooth(.2s);
			z-index: 3;
				&::after {
					content: '';
					position: absolute;
					top: 50%;
					right: multi(2);
					display: block;
					@include size(multi(3), multi(3));
					background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.7071 8.29289C19.0976 8.68342 19.0976 9.31658 18.7071 9.70711L12.7071 15.7071C12.3166 16.0976 11.6834 16.0976 11.2929 15.7071L5.29289 9.70711C4.90237 9.31658 4.90237 8.68342 5.29289 8.29289C5.68342 7.90237 6.31658 7.90237 6.70711 8.29289L12 13.5858L17.2929 8.29289C17.6834 7.90237 18.3166 7.90237 18.7071 8.29289Z' fill='%23333333'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
					background-size: cover;
					will-change: transform;
					transform: translateY(-50%);
					@include smooth(.2s);
				}
		}
		&__dropdown {
			position: absolute;
			top: 0;
			left: 0;
			@include size(100%, 0);
			padding-top: multi(6);
			padding-bottom: 1rem;
			background-color: $colorWhite;
			border: .1rem solid map-get($grey, color_5);
			@include radius(1rem);
			opacity: 0;
			overflow: hidden;
			pointer-events: none;
			visibility: hidden;
			@include smooth(.2s);
			z-index: 2;
		}
		&__element {
			display: block;
			width: 100%;
			padding: .4rem multi(3);
			color: map-get($basic, primary);
			@include font-size(1.5rem);
			cursor: pointer;
			@include smooth(.2s);
				&:hover,
				&._active {
					background-color: map-get($grey, color_0);
				}
		}

		&:hover {
			.pagination-select {
				&__value {
					border-color: transparent;
						&::after {
							transform: translateY(-50%) rotate(-180deg);
						}
				}
				&__dropdown {
					height: auto;
					opacity: 1;
					pointer-events: all;
					visibility: visible;
				}
			}
		}

	@include bp-tabletXS {
		display: none;
	}
}