.page {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	padding-top: 2.4rem;
	padding-bottom: 6.4rem;
		&--home {
			padding-bottom: 0;
		}
		&--no-pb {
			padding-bottom: 0;
		}
		&--profile {
			//padding-top: 6.4rem;
			padding-bottom: 12rem;
		}

		&__header {
			width: 100%;
			margin-bottom: 2.4rem; //4.5rem
				&-text {
					margin-top: 3rem;
					@include font-size(2.4rem, 3.2rem);
						p {
							@include inherit;
						}
				}

			& .breadcrumbs {
				margin-bottom: 1.6rem;
			}
			& + .section {
				padding-top: 0;
			}
		}
		&__headline {
			margin: 0;
				&::first-letter {
					@include upp;
				}
		}
		&__aside {
			width: 31rem;
			order: 2;
		}
		&__content {
			width: 100%;
			order: 1;

			&--with-aside {
				width: calc(100% - 34rem);
				margin-right: 3rem;
			}
		}

	@include bp-tabletXS {
		padding-top: 1.6rem;
		padding-bottom: 0;
			&--home {
				padding-top: 0;
			}
			&--profile {
				padding-top: 0;
				padding-bottom: 0;
			}

			&__header {
				margin-bottom: 1.6rem;
					&-text {
						margin-top: 2rem;
						@include font-size(1.8rem, 2.4rem);
					}

				& .breadcrumbs {
					//margin-bottom: 1.2rem;
					margin-bottom: 0;
				}
			}
	}
}