.section {
	width: 100%;
	overflow: hidden;

	&__header {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 3.7rem;

		&-text {
		}
	}
	&__headline {
		margin: 0;
		width: auto;
	}

	&--hero {
		//padding-top: 5.6rem;
		//padding-top: 2.4rem;
	}
	&--couples {
		padding-top: 4rem;
		padding-bottom: 6.4rem;
			& + .section--promo {
				padding-top: 0;
			}
	}
	&--promo {
		padding-top: 4rem;
		padding-bottom: 5rem;
	}
	&--best-sellers-home {
		padding-top: 4.4rem;
		padding-bottom: 10.2rem;
	}
	&--best-sellers {
		padding-top: 8.4rem;
		padding-bottom: 10.2rem;
	}

	&--white {
		background-color: $colorWhite;
	}

	&--no-pt {
		padding-top: 0;
	}
	&--no-pb {
		padding-bottom: 0;
	}

	@include bp-tablet {
		&--hero {
			//padding-top: 0;
		}
		&--no-pt {
			padding-top: 0;
		}
		&--no-pb {
			padding-bottom: 0;
		}
	}
	@include bp-tabletXS {
		&__header {
			margin-bottom: 2.7rem;
		}

		&--couples {
			padding-top: multi(3);
			padding-bottom: multi(4);
			.section__header {
				display: none;
			}
		}
		&--promo {
			padding-top: multi(3);
			padding-bottom: multi(3);
		}
		&--best-sellers {
			padding-top: 2.9rem;
			padding-bottom: 3.2rem;
		}
		&--no-pt {
			padding-top: 0;
		}
		&--no-pb {
			padding-bottom: 0;
		}
	}
}