.website-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	//height: 19.2rem;
	height: 17.2rem;
	background-color: $colorWhite;
	border-bottom: .1rem solid map-get($grey, color_0);
	transition: transform .2s linear;
	z-index: 100;
		&-bar {
			height: 4rem;

			p {
				width: auto;
				color: map-get($grey, color_2);
				@include font-size(1.5rem, 3.2rem);
			}
			& .container {
				justify-content: space-between;
			}
		}
		&-body {
			height: 7.1rem; //8.8rem
			background: $gradient;
				&  .container {
					position: relative;
					justify-content: flex-end;
					padding-left: 20.5rem; //17.5rem
				}
				&__options {
					@include flex(auto);
					max-width: calc(100% - 16rem);
					height: 100%;
					align-items: center;
				}
		}
		&-navigation {
			//@include size(100%, 6.4rem);
			@include size(100%, 6rem);
		}

	& .container {
		height: 100%;
		align-items: center;
	}
	& .logotype {
		position: absolute;
		top: 0;
		left: $gutter;
	}

	@include bp-tablet {
		height: 6.4rem;
		border-bottom: 0;
		transition: none;
			&-bar,
			&-navigation {
				display: none;
			}
			&-body {
				height: 100%;
				& .container {
					padding-left: 9.5rem;
					padding-right: 9.2rem;
					justify-content: center;
				}
			}

			& .logotype {
				position: relative;
				top: auto;
				left: auto;
			}
	}
}
