.website-bar {
	//position: sticky;
	position: fixed;
	bottom: 0;
	left: 0;
	display: none;
	height: 5.6rem;
	align-items: center;
	justify-content: space-between;
	background: $colorWhite;
	@include shadow();
	transform: translateY(100%);
	will-change: transform;
	z-index: 150;
		&__element {
			position: relative;
			@include flex(20%);
			height: 100%;
			align-items: center;
			justify-content: center;
			padding-top: 1rem;
			padding-bottom: 1rem;
			color: map-get($basic, primary);
			font-weight: 500;
			@include align_c;
				&-icon {
					position: relative;
					@include flex(auto);
					height: 2.2rem;
					align-items: center;
					justify-content: center;
				}
				&-value {
					width: 100%;
					@include font-size(1rem, 1.6rem);
				}
				&-counter {
					position: absolute;
					top: -.1rem;
					right: -.8rem;
					@include flex(1.6rem);
					height: 1.6rem;
					align-items: center;
					justify-content: center;
					color: $colorWhite;
					@include font-size(.9rem, 1.2rem);
					@include align_c;
					background: $colorRed;
					@include round;
					z-index: 1;
				}

				.i {
					fill: none;
					stroke: map-get($basic, primary);
						&._catalog {
							@include size(1.6rem, 1.3rem);
						}
						&._search {
							@include size(1.9rem, 1.8rem);
						}
						&._profile {
							@include size(1.5rem, 1.7rem);
						}
						&._favourites {
							@include size(1.8rem, 1.6rem);
							stroke-width: .2rem;
						}
						&._cart {
							@include size(1.9rem, 1.8rem);
						}
				}
		}

	@include bp-tablet {
		@include flex();
	}
}