.website-options {
	@include flex(auto);
	height: 100%;
	align-items: center;
		&__element {
			position: relative;
			height: 100%;
				&:not(:last-child) {
					margin-right: 3.2rem;
				}
				&:hover {
					.website-options {
						&__link {
							color: $colorYellow;
							.i {
								stroke: $colorYellow;
							}
						}
						&__dropdown {
							pointer-events: all;
							opacity: 1;
							z-index: 2;
						}
					}
				}
		}
		&__link {
			@include flex(auto);
			height: 100%;
			align-items: center;
			color: $colorWhite;
			@include font-size(1.6rem); //1.5rem
			&._active {
				color: $colorYellow;
				.i {
					stroke: $colorYellow;
				}
			}
			.i {
				fill: none;
				stroke: $colorWhite;
				&._profile {
					@include size(2rem,2.4rem);
				}
				&._favourites {
					@include size(2.7rem,2.3rem);
					stroke-width: .2rem;
				}
				&._cart {
					@include size(2.5rem,2.3rem);
				}
			}
		}
		&__icon {
			position: relative;
			display: block;
			margin-right: 1.2rem;
		}
		&__counter {
			position: absolute;
			top: -.7rem;
			right: -.8rem;
			@include flex(18px);
			height: 18px;
			align-items: center;
			align-content: center;
			justify-content: center;
			padding-top: 1px;
			padding-right: 1px;
			color: $colorWhite;
			@include font-size(.9rem, 1);
			font-weight: $semibold;
			background: $colorFlamingo;
			border: 2px solid map-get($basic, theme);
			@include round;
			z-index: 1;
		}
		&__dropdown {
			position: absolute;
			top: 100%;
			left: -4.2rem;
			width: 29.6rem;
			padding-top: 2.7rem;
			padding-bottom: 2.7rem;
			background: $colorWhite;
			@include navShadow();
			pointer-events: none;
			opacity: 0;
			@include smooth(.3s);
		}

		& .mobile-navigation {
			&__link {
				height: 4.7rem;
				padding-left: 3.5rem;
				padding-right: 1rem;
				color: map-get($grey, color_4);
				@include font-size(1.5rem, 2.4rem);
					&::after {
						display: none;
					}
					&:not(:last-child) {
						border-bottom: 0;
					}
					&-icon {
						width: 3rem;
					}
			}
		}

	@include bp-desktopXS {
		&__element {
			&:not(:last-child) {
				margin-right: 1rem;
			}
		}
	}
	@include bp-tablet {
		position: absolute;
		top: 0;
		right: 1rem;
		&__element {
			width: 4rem;
				&:not(:last-child) {
					margin-right: .2rem;
				}
				&:hover {
					.website-options {
						&__dropdown {
							pointer-events: none;
							opacity: 0;
							z-index: initial;
						}
					}
				}
				&--favourites {
					display: none;
				}
		}
		&__link {
			width: 100%;
			justify-content: center;
			font-size: 0;

				.i {
					margin-right: 0;
					&._profile {
						@include size(1.8rem,2.3rem);
					}
					&._cart {
						@include size(2.2rem,2.1rem);
					}
				}
		}
		&__icon {
			margin-right: 0;
			padding-top: 0;
		}
		&__dropdown {
			position: fixed;
			top: 6.4rem;
			left: 0;
			width: 100%;
			padding-top: 0;
			padding-bottom: 0;
			box-shadow: none;
		}

		& .mobile-navigation {
			&__link {
				height: 5.6rem;
				padding-left: 1.6rem;
					&::after {
						display: block;
					}
					&:not(:last-child) {
						border-bottom: .1rem solid map-get($grey, color_7);
					}
			}
		}
	}
	@include bp-tabletXS {
		&__counter {
			padding-top: 0;
			padding-right: 0;
			@include size(1.8rem, 1.8rem);
			border-width: .2rem;
		}
	}
}