.website-footer {
    width: 100%;
    margin-top: auto;
    color: $colorWhite;
    background-color: map-get($grey, color_1);
        &-content {
            @include flex();
            padding-top: 3.2rem;
            padding-bottom: 2.8rem;
                &__section {
                    padding-top: 2.8rem;
                    padding-bottom: 1.8rem;
                        &:not(:last-child) {
                            border-right: .1rem solid map-get($grey, color_3);
                        }
                        &--desc {
                            width: 33.71%;
                            padding-right: 7.2rem;
                        }
                        &--nav {
                            width: 38.9%;
                            padding-left: 8.6rem;
                        }
                        &-contacts {
                            width: 27.39%;
                            padding-top: 2.6rem;
                            padding-left: 4.8rem;
                        }
                }

                & h4, .h4 {
                    margin-bottom: 1.9rem;
                    color: inherit;
                    @include font-size(2.4rem, 2.4rem);
                }
                & p {
                    @include font-size(1.4rem)
                }
        }
        &-bar {
            @include flex();
            align-items: center;
            //justify-content: space-between;
            padding-top: 2.4rem;
            padding-bottom: 2.4rem;
            border-top: .1rem solid map-get($grey, color_3);
        }
        &-options {
            @include flex(auto);
            height: 100%;
            align-items: center;
                &__element {
                    @include flex(auto);
                    height: 100%;
                    align-items: center;
                    color: map-get($grey, color_2);
                    @include font-size(1.3rem);
                        &:not(:last-child) {
                            margin-right: 3.2rem;
                        }
                }

            a:hover {
                color: $colorWhite;
            }

            & + .developers {
                margin-left: 3.2rem;
            }
        }
        &-nav {
            @include flex();
            align-items: flex-start;
            margin-top: -3.2rem;
                &__element {
                    width: calc(50% - .8rem);
                    max-width: 21.2rem;
                    margin-top: 3.2rem;
                    color: $colorWhite;
                    @include font-size(1.6rem, 1.6rem);
                        &:nth-child(even) {
                            margin-left: 1.6rem;
                        }
                }
        }
        &-contacts {
            color: $colorWhite;
            @include font-size(1.4rem, 3.2rem);
                &__headline {
                    margin-bottom: 0;
                    color: map-get($grey, color_2);
                    font-family: $font2;
                    @include font-size(1.3rem, 2.4rem);
                    font-weight: $bold;
                    letter-spacing: .05em;
                    @include upp;
                }
                &__phone {
                    @include font-size(2.6rem, 3.2rem);
                    font-weight: 700;
                }
                &__label {
                    color: map-get($grey, color_2);
                }

                & p {
                    @include inherit;
                    & + p {
                        margin-top: 0;
                    }
                }
                & a {
                    color: inherit;
                }
        }

    & .social-networks {
        margin-top: 2.6rem;
    }

    @include bp-desktopXS {
        &-content {
            &__section {
                &--desc {
                    padding-right: 1.6rem;
                }
                &--nav,
                &-contacts {
                    padding-left: 3rem;
                }
            }
        }
    }
    @include bp-tablet {
        &-content {
            padding-top: 1.6rem;
            padding-bottom: 0;
            &__section {
                width: 100%;
                    &:not(:last-child) {
                        border-right: 0;
                    }
                    &--desc {
                        display: none;
                    }
                    &--nav,
                    &-contacts {
                        padding-left: 0;
                        padding-right: 0;
                    }
                    &--nav {
                        padding-top: 2.8rem;
                        padding-bottom: 2.8rem;
                        border-bottom: .1rem solid map-get($grey, color_3);
                    }
                    &-contacts {
                        @include flex();
                        align-items: flex-end;
                        padding-top: 0;
                        padding-bottom: 1.4rem;
                        order: -1;
                        border-bottom: .1rem solid map-get($grey, color_3);
                    }
            }
        }
        &-contacts {
            width: auto;
                p {
                    display: none;
                }
                &__headline {
                    @include font-size(1.1rem, 1.7rem)
                }
                &__phone {
                    font-size: 1.8rem;
                    font-weight: 700;
                }
        }
        &-bar {
            display: block;
            padding-bottom: 1.7rem;
            border-top: 0;
        }
        &-nav {
            margin-top: -1.6rem;
            &__element {
                max-width: initial;
                margin-top: 1.6rem;
                font-size: 1.3rem;
            }
        }
        &-options {
            display: block;
            height: auto;
            padding-bottom: 2.4rem;
                &__element {
                    display: block;
                    width: 100%;
                    &:not(:last-child) {
                        margin-right: 0;
                        margin-bottom: .8rem;
                    }
                }
                & a {
                    color: $colorWhite;
                }

            & + .developers {
                margin-left: 0;
            }
        }

        & .social-networks {
            width: auto;
            margin-top: 0;
            margin-left: 3rem;
            padding-bottom: .2rem;
                &__element {
                    width: 2.8rem;
                        &:not(:last-child) {
                            margin-right: 0;
                        }
                }
        }
        & .developers {
            width: 100%;
            padding-top: 1.5rem;
            border-top: .1rem solid map-get($grey, color_3);
        }
    }
}
