.mobile-carousel {
	position: relative;
		&-wrapper {
			width: 100%;
			& .swiper-container {
				overflow: initial;
			}
			& .swiper-wrapper {
				height: auto;
				flex-wrap: wrap;
				padding-bottom: .1rem; //border-bottom to be visible
			}
		}
		&__pagination {
			position: absolute;
			bottom: 0!important;
			display: none;
			width: 100%;
			@include align_c;
			z-index: 2;

			.swiper-pagination-bullet {
				width: .8rem;
				height: .8rem;
				margin-left: .6rem!important;
				margin-right: .6rem!important;
				background-color: map-get($grey, color_5);
				opacity: 1;
					&-active {
						background-color: map-get($basic, theme);
					}
			}
		}

	&.product-array {
		& .product-array__element {
			&.swiper-slide {
				height: auto;
			}
		}
	}
	&.catalog-categories {
		& .catalog-categories__element {
			&.swiper-slide {
				height: auto;
			}
		}
	}

	@include bp-tablet {
		&-wrapper {
			& .swiper-wrapper {
				height: 100%;
			}
		}

		&.product-array {
			margin-top: -1.2rem;
			margin-bottom: -1.2rem;
			& .product-array__element {
				height: initial;
				margin-top: 1.2rem;
				margin-bottom: 1.2rem;
			}
		}
	}
	@include bp-tabletXS {
		display: block;
		width: 100%;
		margin: 0;
		padding-bottom: 2.8rem;
		&__element {
			width: calc(46.57vw - #{multi(1)});
			margin: 0;
				& + .mobile-carousel__element {
					margin-left: multi(1);
				}
		}
		&__pagination {
			display: block;
		}

		&-wrapper {
			@include outbox;
			overflow: hidden;

			 & .swiper-container {
				 padding-left: 1.5rem;
				 padding-right: 1.5rem;
				 overflow: hidden;
			 }
			 & .swiper-wrapper {
				 flex-wrap: nowrap;
				 padding-bottom: 0;
			 }
		}

		&.product-array {
			margin-top: 0;
			margin-bottom: 0;
			& .product-array__element {
				margin-top: 0;
				margin-bottom: 0;
			}
		}
		&.catalog-categories {
			margin-bottom: multi(2);
		}

		&.swiper-container-initialized {
			.mobile-carousel__element {
				& + .mobile-carousel__element {}
			}
		}
	}
	@include bp-mobile {
		.product-element {
			& .rating {
				&-stars {
					@include size(5.5rem, .8rem);
						&__element {
							@include size(.9rem, .8rem);
						}
				}
				&-description {
					@include font-size(.8rem, 1);
				}
			}
		}
	}
}