.tooltipster-base {
	max-width: 20rem;
}
.tooltipster-content {}
.tooltipster-sidetip {
	.tooltipster-content {
		padding: #{$gutter / 2} $gutter;
		background: map-get($grey, color_1);
	}

	&.tooltipster-shadow {
		&.tooltipster-top {
			.tooltipster-box {
				margin-bottom: .8rem;
			}
			.tooltipster-arrow {
				bottom: .2rem;
				border-bottom: .1rem solid map-get($grey, color_1);
				border-right: .1rem solid map-get($grey, color_1);
			}
		}
		&.tooltipster-bottom {
			.tooltipster-arrow {
				border-top: .1rem solid map-get($grey, color_1);
				border-left: .1rem solid map-get($grey, color_1);
			}
		}

		.tooltipster-box {
			border-radius: #{$radius / 2};
			border: .1rem solid map-get($grey, color_1);
			box-shadow: none;
		}
		.tooltipster-content {
			padding: .6rem 1.4rem;
			color: $colorWhite;
			font-size: 1.3rem;
			line-height: 2.4rem;

				a {
					color: inherit;
					border-bottom-color: rgba($colorWhite, .3);
						&:hover {
							border-bottom-color: transparent;
						}
				}
		}
		.tooltipster-arrow {
			height: 1.2rem;
			margin-left: -.6rem;
			width: 1.2rem;
			background: map-get($grey, color_1);
			transform: rotate(45deg);
			will-change: transform;
				&-uncropped {
					display: none;
				}
		}
		.tooltipster-arrow-border {}
	}
}