.yandex-map {
	position: relative;
	width: 100%;
	height: 57.5rem;
	overflow: hidden;

		&__container {
			position: relative;
			@include hundred;
			background-color: map-get($grey, color_5);
		}
		&__controls {
			position: absolute;
			top: 0;
			@include flex(6.4rem);
			height: 100%;
			pointer-events: none;
			z-index: 2;
				&--left {
					left: 3.2rem;
					align-content: center;
				}
				&--right {
					right: 3.2rem;
					align-content: flex-start;
					padding-top: 3.2rem;
				}
		}
		&__button {
			@include flex(6.4rem);
			height: 6.4rem;
			align-items: center;
			justify-content: center;
			@include align_c;
			background-color: $colorWhite;
			pointer-events: all;
			@include round;
			@include shadow();
			@include smooth(.15s);
				&--fullscreen {
					position: absolute;
					top: 2.2rem;
					right: 3.2rem;
						.i {
							&._fullscreen-in {
								display: block;
							}
							&._fullscreen-out {
								display: none;
							}
						}
						&._in-fullscreen-mode {
							.i {
								&._fullscreen-in {
									display: none;
								}
								&._fullscreen-out {
									display: block;
								}
							}
						}
				}

				.i {
					@include size(2.4rem, 2.4rem);
					fill: map-get($basic, theme);
					vertical-align: middle;
					@include smooth(.15s);
				}

				&:active {
					background-color: map-get($basic, theme);
						.i {
							fill: $colorWhite;
						}
				}

				& + .yandex-map__button {
					margin-top: .8rem;
				}

			&--theme {
				background-color: map-get($basic, theme);
					& .i {
						fill: $colorWhite;
					}
			}
		}

		&--hidden {
			display: none;
		}
		&--contacts {
			height: 41.6rem;
		}
		&--pick-up-spot {
			height: 68.8rem;
		}

		&-balloon {
			position: relative;
			width: 40rem;
			margin-left: 3.2rem;
			color: $colorBlack;
			background-color: $colorWhite;
			pointer-events: none;
			@include radius($radius);
				&__inside {
					padding: 2.6rem 5rem 3rem 3.2rem;
						& > ymaps {
							max-width: 100%;
							height: auto!important;
						}

						@include offsets-reset;
				}
				&__close {
					position: absolute;
					top: 2.2rem;
					right: 2rem;
					@include flex(3.2rem);
					height: 3.2rem;
					align-items: center;
					justify-content: center;
					pointer-events: all;
					z-index: 3;
						.i {
							@include size(1.2rem, 100%);
							fill: none;
							stroke: map-get($basic, primary);
							@include smooth(.15s);
						}
						&:hover {
							.i {
								fill: map-get($basic, theme);
							}
						}
				}
				&__arrow {
					position: absolute;
					top: 50%;
					left: -1.2rem;
					width: 2.4rem;
					height: 2.4rem;
					background-color: $colorWhite;
					transform: translateY(-50%) rotate(-45deg);
					z-index: 1;
				}
				&__headline {
					margin-bottom: 1.5rem;
					color: $colorBlack;
					@include font-size(2.4rem, 3.2rem);
				}
				& p {
					@include font-size(1.4rem);
				}
				& .button {
					pointer-events: all;
				}
		}

		& iframe {
			@include hundred;
			border: 0;
		}

	& + .contacts-description {
		margin-top: 3.8rem;
	}

	@include bp-tabletXS {
		@include outbox;
		height: 40rem;

			&__controls {
				&--left {
					left: 1.6rem;
				}
				&--right {
					right: 1.6rem;
					padding-top: 2.4rem;
				}
			}
			&__button {
				&--fullscreen {
					top: 1.4rem;
					right: 1.6rem;
				}
			}

			&--pick-up-spot {
				@include size(100%, 44rem);
				margin-left: 0;
				margin-right: 0;
			}
	}
	@include bp-mobile {
		&-balloon {
			max-width: 26rem;
				&__close {
					top: 1rem;
					right: 1rem;
				}
				&__inside {
					padding-left: 2.4rem;
					padding-right: 2.4rem;
				}
				&__headline {
					padding-right: 2rem;
					@include font-size(1.6rem, 2.4rem);
				}
				& p {
					@include font-size(1.2rem, 1.6rem);
				}
		}
	}
}