.multilevel-digit-list {
    @include flex();
    max-width: 87rem ;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    @include font-size(2.4rem, 3.2rem);
    font-weight: $bold;
    list-style: none;
    counter-reset: li-counter;

        li {
            position: relative;
            width: 100%;
            padding-left: 0;
            &::before {
                content: counters(li-counter,".") ".";
                position: static;
                @include iblock(top);
                width: auto;
                margin-right: 0;
                @include inherit;
                counter-increment: li-counter;
            }
            &:not(:last-child) {
                margin-bottom: 0;
            }
            & + li {
                margin-top: 6.2rem;
            }
            &.no-counter {
                margin-top: 0!important;
                margin-bottom: 1.6rem;
                order: -1;
                    &::before {
                       display: none;
                    }
                    & + .no-counter {
                        margin-top: 1.6rem!important;
                    }
            }

            .multilevel-digit-list {
                margin-top: 1.7rem;
                font-size: 1.8rem;
                font-weight: normal;
                    li {
                        &::before {
                            margin-right: .4rem;
                            font-weight: normal;
                        }
                        & + li {
                            margin-top: 1.6rem;
                        }
                    }
            }
        }

    @include bp-tabletXS {
        @include font-size();
            li {
                & + li {
                    margin-top: 1.6rem;
                }
                .multilevel-digit-list {
                    @include font-size(1.3rem, 2.4rem);
                }
            }
    }
}



