ol {
	width: 100%;
	max-width: 87rem;
	margin-top: 3.2rem;
	margin-bottom: 3.2rem;
	padding-left: 1.7rem;
	list-style: none;
	counter-reset: list-counter;
		li {
			position: relative;
			width: 100%;
			padding-left: 6rem;
				&::before {
					content: counters(list-counter, "");
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					width: 4rem;
					margin-right: 0;
					color: map-get($basic, theme);
					font-size: inherit;
					line-height: inherit;
					@include align_r;
					counter-increment: list-counter;
				}
				&:not(:last-of-type) {
					margin-bottom: 1.5rem;
				}
		}

	@include bp-tabletXS {
		padding-left: 0;
	}
}