ul {
	width: 100%;
	max-width: 87rem;
	margin-top: 3.2rem;
	margin-bottom: 3.2rem;
	padding-left: 2.8rem;
	list-style: none;
		li {
			position: relative;
			padding-left: 4.4rem;
			@include inherit;

			&::before {
				content: '';
				position: absolute;
				top: 1.4rem;
				left: 0;
				display: block;
				//@include size(2.4rem, .2rem);
				@include size(2.4rem, .1rem);
				background: map-get($basic, theme);
				@include radius($radius);
			}
			&:not(:last-of-type) {
				margin-bottom: 1.5rem;
			}
		}

	@include bp-tabletXS {
		padding-left: 0;
			li {
				&::before {
					top: 1rem;
				}
			}
	}
}