<div class="anonymous-element">
    <div class="anonymous-element__icon">{{ icon }}</div>
    <div class="anonymous-element__details">
        {% if headline %}
            <div class="anonymous-element__headline h2">{{ headline }}</div>
        {% endif %}
        <p class="p--l">{{ text }}</p>
    </div>
</div>