<div class="categories-element {{ elementMod }}">
    <a href="javascript:void(0);" class="categories-element__link borderless">
        <div class="categories-element__headline">{{ headline }}</div>
        <div class="categories-element__icon">{{ icon }}</div>
    </a>
</div>