<div class="color-control {{ controlMod }}">
    <label class="color-control__label">
        <input type="{{ type }}" class="color-control__input" name="{{ name }}" {{ checked ? 'checked' }} {{ disabled ? 'disabled' }}>
        <span class="color-control__icon">
            <span class="color-control__icon-value" style="background-color: {{ color }}"></span>
        </span>
    </label>
</div>