<div class="control {{ controlMod }}">
    <label class="control__label">
        <input type="{{ type }}"
               class="control__input {{ controlInputMod }}"
               name="{{ name }}"
                {{ checked ? 'checked' }}
                {{ disabled ? 'disabled' }}
                {{ data ? data }}
                >
        <span class="control__container">
            <span class="control__{{ type }}"></span>
            <span class="control__value">
                {{ value }}
                {% if payment %}
                    {% include '../includes/payment-systems.twig' %}
                {% endif %}
            </span>
        </span>
    </label>
</div>