<div class="control control--w-100">
    <label class="control__label">
        <input
                type="{{ type }}"
                class="control__input {{ controlInputMod }}"
                name="{{ name }}"
                {{ checked ? 'checked' }}
                {{ disabled ? 'disabled' }}
                {{ data ? data }}
        >
        <span class="control__container">
            <span class="control__{{ type }}"></span>
            <span class="control__prop">
                <span class="control__prop-label"><span>{{ label }}</span></span>
                <span class="control__prop-value"><span>{{ value }}</span></span>
            </span>
        </span>
    </label>
</div>