<div class="default-control {{ controlMod }}">
    <label class="default-control__label">
        <input type="{{ type }}" class="default-control__input" name="{{ name }}" {{ checked ? 'checked' }} {{ disabled ? 'disabled' }}>
        <span class="default-control__value">{{ value }}</span>
    </label>
</div>