<div class="faq-question-mini">
    <div class="faq-question-mini__headline">
        <a href="javascript:void(0);" class="borderless">{{ headline }}</a>
    </div>
    <div class="faq-question-mini__footer">
        <div class="faq-question-mini__footer-row">
            <div class="faq-question-mini__answer">{{ answers }}</div>
        </div>
        <div class="faq-question-mini__footer-row">
            {% if useful %}
                <div class="faq-question-mini__useful">{{ useful }}</div>
            {% endif %}
            {% include '../includes/like-dislike.twig' with {
                mod   : likes.mod,
                value : likes.value
            } %}
        </div>
    </div>
</div>