<div class="faq-component js-faq-component">
    {% if question %}
        <div class="faq-question js-faq-question">
            <div class="faq-question__headline"><a href="./faq-detail.html" class="borderless">{{ question.headline }}</a></div>
            <div class="faq-question__footer">
                <div class="faq-question__footer-row">
                    <div class="faq-question__author">
                        <div class="faq-question__author-name js-faq-question-name">{{ question.author.name }}</div>
                        <div class="faq-question__author-date">{{ question.author.date }}</div>
                    </div>
                    {% if question.answers %}
                        <div class="faq-question__answers">{{ question.answers }}&nbsp;ответов</div>
                    {% endif %}
                    <button class="faq-question__control js-faq-question-control" type="button">Ответить</button>
                </div>
                <div class="faq-question__footer-row">
                    {% if question.useful %}
                        <div class="faq-question__useful">{{ question.useful }}</div>
                    {% endif %}
                    {% include '../includes/like-dislike.twig' with {
                        mod       : question.like.mod,
                        value     : question.like.value,
                        noDislike : true
                    } %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if answer %}
        {% for i in answer %}
            <div class="faq-answer {{ i.mod }} js-faq-answer">
                <div class="faq-answer__headline">{{ i.headline }}</div>
                <div class="faq-answer__footer">
                    <div class="faq-answer__footer-row">
                        <div class="faq-answer__author">
                            <div class="faq-answer__author-name {{ i.author.logo ? 'faq-answer__author-name--company'}}"><span class="js-faq-answer-name">{{ i.author.name }}</span> {{ i.author.logoRespond ? '<div class="faq-answer__author-respond">в&nbsp;ответ</div>' }}</div>
                            {% if i.author.raply %}
                                <div class="faq-answer__author-reply">{{ i.author.raply }}</div>
                            {% endif %}
                            <div class="faq-answer__author-date">{{ i.author.date }}</div>
                        </div>
                        {% if i.answers %}
                            <div class="faq-answer__answers">{{ i.answers }}&nbsp;ответов</div>
                        {% endif %}
                        <button class="faq-answer__control js-faq-answer-control" type="button">Ответить</button>
                    </div>
                    <div class="faq-answer__footer-row">
                        {% if i.useful %}
                            <div class="faq-answer__useful">{{ i.useful }}</div>
                        {% endif %}
                        {% include '../includes/like-dislike.twig' with {
                            mod   : i.like.mod,
                            value : i.like.value
                        } %}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if more %}
            <div class="load-more load-more--mobile-hidden js-load-more" data-hideable>
                {% for i in more %}
                    <div class="load-more__element load-more__element--hidden js-load-more-element">
                        <div class="faq-answer {{ i.answer.mod }} js-faq-answer">
                            <div class="faq-answer__headline">{{ i.answer.headline }}</div>
                            <div class="faq-answer__footer">
                                <div class="faq-answer__footer-row">
                                    <div class="faq-answer__author">
                                        <div class="faq-answer__author-name js-faq-answer-name">{{ i.answer.author.name }}</div>
                                        {% if i.answer.author.raply %}
                                            <div class="faq-answer__author-reply">{{ i.answer.author.raply }}</div>
                                        {% endif %}
                                        <div class="faq-answer__author-date">{{ i.answer.author.date }}</div>
                                    </div>
                                    {% if i.answer.answers %}
                                        <div class="faq-answer__answers">{{ i.answer.answers }}&nbsp;ответов</div>
                                    {% endif %}
                                    <button class="faq-answer__control js-faq-answer-control" type="button">Ответить</button>
                                </div>
                                <div class="faq-answer__footer-row">
                                    {% include '../includes/like-dislike.twig' with {
                                        mod   : i.answer.like.mod,
                                        value : i.answer.like.value
                                    } %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <button class="load-more__button js-load-more-button" data-expanded="Скрыть" data-collapsed="Ещё 4 ответа" type="button">Ещё 4 ответа</button>
            </div>
        {% endif %}
    {% endif %}
    <form action="/" method="POST" class="search-bar">
        {% include '../elements/input.twig' with {
            type  : 'search',
            name  : 'ANSWER_QUESTION',
            label : 'Написать комментарий'
        } %}
        <button class="button" type="submit">Ответить</button>
    </form>
</div>