<div class="input {{inputMod}} js-input {{type == 'password' ? 'input--password'}} {{ prompt ? 'input--with-prompt' }} {{ value ? 'input--not-empty' }}" {{ data }}>
    {% if label %}
        <label for="{{ name }}" class="input__label">{{ label }}</label>
    {% endif %}
    {% if textarea %}
        <textarea {{ data ? data }} name="{{ name }}" class="input__field input__field--textarea js-input-field"></textarea>
    {% else %}
        <input id="{{ name }}" type="{{ type }}" name="{{ name }}" class="input__field js-input-field {{ type == 'password' ? 'js-input-field-password' }} {{ type == 'tel' ? 'js-input-tel'}}" {{ type == 'tel' ? 'pattern="[0-9]*" inputmode="number"' }} value={{ value }} {{ userLocation ? 'autocomplete="off"' }}>
        {% if userLocation %}
            <button class="input__remove js-input-remove" type="button" tabindex="-1">
                <svg class="i" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.8285 5L11.9142 11.9142M11.9142 11.9142L5.39342 18.435M11.9142 11.9142L5 5M11.9142 11.9142L18.4351 18.435" stroke-width="2" stroke-linecap="round"/>
                </svg>
            </button>
            <div class="input__dropdown js-scroll-prevent">
                <div class="input__dropdown-inside scrollable-block js-scrollable-block">
                    <button class="input__dropdown-element js-input-dropdown-element" data-value="Москва" type="button"><b>М</b>осква</button>
                    <button class="input__dropdown-element js-input-dropdown-element" data-value="Санкт-Петербург" type="button"><b>С</b>анкт-Петербург</button>
                    <button class="input__dropdown-element js-input-dropdown-element" data-value="Нижний Новогород" type="button"><b>Н</b>ижний Новогород</button>
                    <button class="input__dropdown-element js-input-dropdown-element" data-value="Велкиий Новгород" type="button"><b>В</b>елкиий Новгород</button>
                    <button class="input__dropdown-element js-input-dropdown-element" data-value="Самара" type="button"><b>С</b>амара</button>
                    <button class="input__dropdown-element js-input-dropdown-element" data-value="Владивосток" type="button"><b>В</b>ладивосток</button>
                </div>
            </div>
        {% else %}
            {% if type == 'password' %}
                <button class="input__control js-password-trigger" type="button" tabindex="-1"></button>
            {% else %}
                <button class="input__reset js-input-reset" type="button" tabindex="-1">
                    <svg class="i" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="1.41421" x2="2.41421" y2="11" stroke-width="2" stroke-linecap="round"/>
                        <line x1="1" y1="-1" x2="14.5563" y2="-1" transform="matrix(0.707107 0.707107 0.707107 -0.707107 2 0)" stroke-width="2" stroke-linecap="round"/>
                    </svg>
                </button>
            {% endif %}
        {% endif %}
    {% endif %}
    {% if prompt %}
        <a href="javascript:void(0);" class="input__prompt borderless js-tooltip" data-distance="-10" title="{{ prompt }}">?</a>
    {% endif %}
</div>