<div class="news-item">
    <a href="javascript:void(0);" class="news-item__link borderless">
        <div class="news-item__image">
            <img
                src="assets/images/news/image-{{ image }}.jpg"
                srcset="assets/images/news/image-{{ image }}.jpg 1x, assets/images/news/image-{{ image }}-2x.jpg 2x"
                alt="">
        </div>
        <div class="news-item__details">
            <div class="news-item__headline h5">{{ headline }}</div>
            <time class="news-item__date">{{ date }}</time>
        </div>
    </a>
</div>