<div class="news-element">
    <a href="javascript:void(0);" class="news-element__link borderless">
        <div class="news-element__image">
            <img
                src="assets/images/news/image-{{ image }}.jpg"
                srcset="assets/images/news/image-{{ image }}.jpg 1x, assets/images/news/image-{{ image }}-2x.jpg 2x"
                alt="">
            {% if headline %}
                <h3 class="news-element__headline">{{ headline }}</h3>
            {% endif %}
        </div>
        <div class="news-element__details">
            <div class="news-element__preview">
                <p>{{ preview }}</p>
            </div>
            <div class="news-element__label">{{ label }}</div>
        </div>
    </a>
</div>