<div class="order-element">
    <a href="./order-page.html" class="order-element__link borderless">
        <div class="order-element__header">
            <div class="order-element__headline h2">{{ headline }}</div>
            <div class="order-element__price">{{ price }}&nbsp;&#8381;</div>
        </div>
        <div class="order-status {{ status.mod }}">
            <div class="order-status__marker">{{ status.value }}</div>
            <div class="order-status__address">{{ status.address }}</div>
        </div>
    </a>
    <div class="order-element__array scrollable-block js-scrollable-block">
        {% for i in products %}
            <a href="./product-page.html" class="order-element__product borderless">
                <div class="order-element__product-image">
                    <img
                        src="assets/images/order/image-{{ i }}.jpg"
                        srcset="assets/images/order/image-{{ i }}.jpg 1x, assets/images/order/image-{{ i }}-2x.jpg 2x"
                        alt="">
                </div>
            </a>
        {% endfor %}
    </div>
</div>