<div class="product-item" title="{{ headline }}">
    <a href="javascript:void(0);" class="product-item__link borderless">
        <div class="product-item__image">
            <img
                src="assets/images/product/image-{{ image }}.jpg"
                srcset="assets/images/product/image-{{ image }}.jpg 1x, assets/images/product/image-{{ image }}-2x.jpg 2x"
                alt="">
        </div>
        <div class="product-item__details">
            <div class="product-item__pricing {{ discount ? 'product-item__pricing--discount' }}">
                <div class="product-item__pricing-current">{{ price }}&nbsp;&#8381;</div>
                {% if discount %}
                    <div class="product-item__pricing-old">{{ discount.price }}&nbsp;&#8381;</div>
                    <div class="product-item__pricing-discount">{{ discount.percent }}</div>
                {% endif %}
            </div>
            <div class="product-item__headline">{{ headline }}</div>
        </div>
    </a>
</div>