<div class="product-element {{ inCart ? '_in-cart' }}{{ isComparison ? 'product-element--comparison' }}{{ isNoStars ? 'product-element--no-rating' }}" title="{{ headline }}">
    {% if isComparison %}
        <button class="product-element__remove" type="button">
            <svg class="i" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="12" y1="1.41421" x2="2.41421" y2="11" stroke-width="2" stroke-linecap="round"/>
                <line x1="1" y1="-1" x2="14.5563" y2="-1" transform="matrix(0.707107 0.707107 0.707107 -0.707107 2 0)" stroke-width="2" stroke-linecap="round"/>
            </svg>
        </button>
    {% endif %}
    {% if not isComparison %}
        {% if isFavoured %}
            <button class="product-favourites _active js-tooltip" type="button" data-fav-default="Добавить в избранное" data-fav-added="В избранном. Удалить?" title="В избранном. Удалить?">
                <svg class="i" viewBox="-1 -2 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.5985 0C15.2559 0 13.0588 1.83971 12 2.88088C10.9412 1.83971 8.74412 0 6.40147 0C2.39559 0 0 2.33382 0 6.24265C0 9.44559 2.94706 12.1235 3.05294 12.2162L11.3029 20.1926C11.6912 20.5676 12.3088 20.5676 12.6971 20.1926L20.9338 12.2426C21.0529 12.1235 24 9.44118 24 6.24265C24 2.33382 21.6044 0 17.5985 0Z"/>
                </svg>
            </button>
        {% else %}
            <button class="product-favourites js-tooltip" type="button" data-fav-default="Добавить в избранное" data-fav-added="В избранном. Удалить?" title="Добавить в избранное?">
                <svg class="i" viewBox="-1 -2 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.5985 0C15.2559 0 13.0588 1.83971 12 2.88088C10.9412 1.83971 8.74412 0 6.40147 0C2.39559 0 0 2.33382 0 6.24265C0 9.44559 2.94706 12.1235 3.05294 12.2162L11.3029 20.1926C11.6912 20.5676 12.3088 20.5676 12.6971 20.1926L20.9338 12.2426C21.0529 12.1235 24 9.44118 24 6.24265C24 2.33382 21.6044 0 17.5985 0Z"/>
                </svg>
            </button>
            <button class="product-comparison js-tooltip" type="button" data-fav-default="Добавить к сравнению" data-fav-added="В сравнении. Удалить?" title="ДДобавить к сравнению?">
                <svg class="i" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="1" y1="17" x2="1" y2="12" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></line>
                    <line x1="11" y1="17" x2="11" y2="8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></line>
                    <line x1="6" y1="17" x2="6" y2="4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></line>
                    <line x1="16" y1="17" x2="16" y2="1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></line>
                </svg>
            </button>
        {% endif %}
    {% endif %}
    <a href="javascript:void(0);" class="product-element__link borderless">
        {% if label %}
            <div class="product-label {{ label.mod }}">{{ label.value }}</div>
        {% endif %}
        <div class="product-element__image">
            <img
                {{ scaled ? 'class="scaled"' }}
                src="assets/images/product/image-{{ image }}.jpg"
                srcset="assets/images/product/image-{{ image }}.jpg 1x, assets/images/product/image-{{ image }}-2x.jpg 2x"
                alt="">
        </div>
        <div class="product-element__details">
            <div class="product-element__pricing {{ discount ? 'product-element__pricing--discount' }}">
                <div class="product-element__pricing-current">{{ price }}&nbsp;&#8381;</div>
                {% if discount %}
                    <div class="product-element__pricing-old">{{ discount.price }}&nbsp;&#8381;</div>
                    <div class="product-element__pricing-discount">{{ discount.percent }}</div>
                {% endif %}
            </div>
            <div class="product-element__headline">{{ headline }}</div>
            {% if rating %}
                {% include '../includes/rating.twig' with {
                    width       : rating.width,
                    description : rating.description,
                    total       : rating.total,
                } %}
            {% endif %}
            {% if vendor %}
                <div class="product-element__vendor">{{ vendor }}</div>
            {% endif %}
            {% if colors %}
                <div class="product-element__colors">
                    {% for i in colors %}
                        <div class="product-element__color" style="background-color: {{ i.color }}" title="{{ i.label }}"></div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if sizes %}
                <div class="product-element__defaults">
                    {% for i in sizes %}
                        <div class="product-element__default">{{ i }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </a>
    <form action="/" method="POST" class="product-element__control">
        {% if outOfStock %}
            <div class="product-element__status product-element__status--out-of-stock">Нет в наличии</div>
        {% else %}
            {% if sizes %}
                <a href="./product-page.html" class="button button--gradient">Варианты</a>
                <div class="product-element__status product-element__status--in-stock">В наличии</div>
            {% elseif colors %}
                <a href="./product-page.html" class="button button--gradient">Варианты</a>
                <div class="product-element__status product-element__status--in-stock">В наличии</div>
            {% else %}
                <button class="button product-element__control-button" type="submit">
                    <svg class="i _cart"  viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.47446 6.33337H14.1448C15.085 6.33337 15.8002 7.13485 15.6456 8.01528L14.6312 13.7931C14.509 14.4896 13.8742 15 13.1304 15H3.53622C2.79245 15 2.15769 14.4896 2.03541 13.7931L1.02108 8.01528C0.866511 7.13485 1.58168 6.33337 2.52188 6.33337H4.90995" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M5 8.33333V4.50725C5 2.57025 6.49238 1 8.33333 1C10.1743 1 11.6667 2.57025 11.6667 4.50724V8.33333" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    В корзину
                </button>
                <a href="./cart.html" class="button button--grey product-element__control-link">
                    В корзине
                    <svg class="i _arrow-right" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.47149 0.86201C6.21114 0.601661 5.78903 0.601661 5.52868 0.86201C5.26833 1.12236 5.26833 1.54447 5.52868 1.80482L9.05727 5.33342H1.33341C0.965225 5.33342 0.666748 5.63189 0.666748 6.00008C0.666748 6.36827 0.965225 6.66675 1.33341 6.66675H9.05727L5.52868 10.1953C5.26833 10.4557 5.26833 10.8778 5.52868 11.1382C5.78903 11.3985 6.21114 11.3985 6.47149 11.1382L11.1382 6.47149C11.3985 6.21114 11.3985 5.78903 11.1382 5.52868L6.47149 0.86201Z"/>
                    </svg>
                </a>
                <div class="product-element__status product-element__status--in-stock">В наличии</div>
            {% endif %}
        {% endif %}
    </form>
    <div class="product-element__preview">
        <a href="#product-preview" class="button button--grey js-modal-trigger" data-effect="mfp-zoom-out" data-slider-updater=".js-v-thumbs-gallery,.js-v-thumbs-gallery-thumbs">Быстрый просмотр</a>
    </div>
</div>