<div class="reviews-add js-reviews-add">
    <div class="reviews-add__image">
        <a href="./product-page.html" class="reviews-add__link borderless">
            <img
                    src="assets/images/order/image-{{ image }}.jpg"
                    srcset="assets/images/order/image-{{ image }}.jpg 1x, assets/images/order/image-{{ image }}-2x.jpg 2x"
                    alt="">
        </a>
    </div>
    <div class="reviews-add__body">
        <div class="reviews-add__headline">{{ headline }}</div>
        {% include '../includes/rating.twig' with { ratingMod: 'rating--m', width : width, description : description } %}
    </div>
    <div class="reviews-add__footer">
        <form action="/" method="POST" class="form js-form">
            <div class="form__row">
                <div class="form__row">
                    {% include '../elements/input.twig' with {
                        textarea  : true,
                        name      : 'DATA[][REVIEW]',
                        label     : 'Отзыв',
                        data      : textHeight
                    } %}
                </div>
                <div class="form__row form__row--hidden js-reviews-add-fav">
                    {%  include '../includes/rating-control.twig' %}
                    <button class="button button--m button--gradient button--500" type="submit">Отправить</button>
                </div>
            </div>
        </form>
    </div>
</div>