<div class="reviews-element">
    {% if headline %}
        <header class="reviews-element__header">
            {% if status %}
                <div class="reviews-element__status {{ status.mod }}">
                    {% for i in status.blocks %}
                        <div class="reviews-element__status-block">{{ i }}</div>
                    {% endfor %}
                    {% if status.desc %}
                        <div class="reviews-element__status-desc">
                            <p>{{ status.desc }}</p>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            <div class="reviews-element__image">
                <img
                    src="assets/images/order/image-{{ image }}.jpg"
                    srcset="assets/images/order/image-{{ image }}.jpg 1x, assets/images/order/image-{{ image }}-2x.jpg 2x"
                    alt="">
            </div>
            <h4 class="reviews-element__headline">{{ headline }}</h4>
        </header>
    {% endif %}
    <div class="reviews-element__body">
        {{ text }}
    </div>
    <footer class="reviews-element__footer">
        <div class="reviews-element__author">
            {% if author %}
                <span class="value">{{ author }}</span>
            {% endif %}
            <div class="reviews-element__date">{{ date }}</div>
        </div>
        {% include '../includes/rating.twig' with { ratingMod: 'rating--m', width : width } %}
    </footer>
</div>