<div class="reviews-item">
    <div class="reviews-item__image">
        <img
            src="assets/images/reviews/image-{{ image }}.jpg"
            srcset="assets/images/reviews/image-{{ image }}.jpg 1x, assets/images/reviews/image-{{ image }}-2x.jpg 2x"
            alt="">
    </div>
    <div class="reviews-item__details">
        <div class="reviews-item__header">
            <div class="reviews-item__author">
                <div class="reviews-item__author-name">{{ author.name }}</div>
                <div class="reviews-item__author-date">{{ author.date }}</div>
            </div>
            <div class="reviews-item__rating">
                {% include '../includes/rating.twig' with {
                    ratingMod : 'rating--m',
                    width     : rating.width,
                    short     : rating.short
                } %}
            </div>
            <div class="reviews-item__product">
                <a href="javascript:void(0);" class="borderless">{{ product }}</a>
            </div>
        </div>
        {{ text }}
    </div>
</div>