<div class="select {{ selectMod }} js-scroll-prevent" data-select-label="{{ placeholder }}">
    <select name="{{ name }}" class="{{ selectClass }}">
        <option value=""></option>
        {% for i in array %}
        <option {% if i.lat %}data-lat="{{ i.lat }}"{% endif %} {% if i.lon %}data-lon="{{ i.lon }}"{% endif %} value="{{ i.value }}">{{ i.text }}</option>
        {% endfor %}
    </select>
</div>