<div class="tests-answer {{ testsMod }}" {{ hidden ? 'hidden' }}>
    <label class="tests-answer__label">
        <input type="radio" class="tests-answer__input" name="{{ name }}" {{ checked ? 'checked' }}>
        <span class="tests-answer__container">
            <span class="tests-answer__icon"></span>
            <span class="tests-answer__value">{{ value }}</span>
            {% if list %}
                {% if listDash %}
                    <ul>
                        {% for i in list %}
                            <li>{{ i }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <ol>
                    {% for i in list %}
                        <li>{{ i }}</li>
                    {% endfor %}
                </ol>
                {% endif %}
            {% endif %}
            {% if prompt %}
                <p>{{ prompt }}</p>
            {% endif %}
        </span>
    </label>
</div>