<a href="./test.html" class="tests-element borderless">
    <div class="tests-element__type">{{ type }}</div>
    <div class="tests-element__headline">{{ headline }}</div>
    <div class="tests-element__control">
        <div class="button button--grey button--w-100 button--500">Пройти тест</div>
    </div>
</a>