<div class="tumbler">
    <label class="tumbler__label">
        <input type="checkbox" class="tumbler__input" name="{{ name }}">
        <span class="tumbler__container">
            <span class="tumbler__control">
                <span class="tumbler__marker"></span>
            </span>
            <span class="tumbler__value">{{ value }}</span>
        </span>
    </label>
</div>