<div class="video-block {{ videoBlockMod }}">
    <a href="{{ url }}" class="video-block__link borderless js-video-link">
        <img
            src="assets/images/video-block/image-{{ image }}.jpg"
            srcset="assets/images/video-block/image-{{ image }}.jpg 1x, assets/images/video-block/image-{{ image }}-2x.jpg 2x"
            alt="{{ headline }}">
        {% if type %}
            <div class="video-block__type">{{ type }}</div>
        {% endif %}
        {% if headline %}
            <div class="video-block__headline">{{ headline }}</div>
        {% endif %}
    </a>
</div>