.collapsible-section {
	&__button {
		position: absolute;
		top: 0;
		right: 0;
		display: none;
		height: 6.4rem;
		align-items: center;
		justify-content: flex-end;
		padding-right: 2.4rem;
		.i {
			@include size(1.4rem, .8rem);
			fill: map-get($grey, color_8);
		}
	}
	&__body {
		width: 100%;
	}
		@include bp-tabletXS {
			&__button {
				@include flex();
			}
			&__body {
				display: none;
				margin-top: 1.6rem;
			}

			&--expanded {
				.collapsible-section {
					&__button {
						.i {
							transform: rotate(-180deg);
						}
					}
					&__body {
						display: block;
					}
				}
			}
		}
}