.v-thumbs-gallery {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-between;

		&__thumbs {
			width: 8.8rem;
			max-height: 47.3rem;
			overflow: hidden;

				&-element {
					@include size(8.8rem, 8.7rem); //8.8
					border: .1rem solid map-get($grey, color_5);
					overflow: hidden;

						img {
							max-height: 100%;
							object-fit: cover;
							object-position: center top;
						}

					&.swiper-slide-thumb-active {
						border: .2rem solid map-get($basic, theme);
					}
				}
				&-link {
					@include flex();
					height: 100%;
					align-items: center;
					justify-content: center;
					padding: .2rem;
					background-color: $colorWhite;
				}
		}
		&__slider {
			@include size(calc(100% - 8.8rem), 47.2rem); //46.4rem
			max-width: 39.8rem;
			overflow: hidden;

				&-element {
					display: flex;
					@include hundred;
					align-items: center;
					justify-content: center;
						img {
							max-height: 100%;
						}
				}
				&-link {
					display: flex;
					@include hundred;
					align-items: center;
					justify-content: center;
				}
		}
		&__pagination {
			position: absolute;
			bottom: 0!important;
			display: none;
			width: 100%;
			@include align_c;
			z-index: 2;

			.swiper-pagination-bullet {
				width: .8rem;
				height: .8rem;
				margin-left: .6rem!important;
				margin-right: .6rem!important;
				background-color: map-get($grey, color_5);
				opacity: 1;
					&-active {
						background-color: map-get($basic, theme);
					}
			}
		}

		& .swiper-container {
			margin-left: 0;
			margin-right: 0;
		}

	@include bp-desktopXS {
		max-width: 100%;
			&__thumbs {
				display: none;
			}
			&__slider {
				width: 100%;
				height: 40rem;
				padding-bottom: 2.8rem;
				border: 0;
			}
			&__pagination {
				display: block;
			}
	}
	@include bp-tablet {
		justify-content: center;
	}
	@include bp-tabletXS {
		&__slider {
			height: auto;
				&-link {
					height: 0;
					padding-bottom: 100%;
					overflow: hidden;
						& img {
							position: absolute;
							top: 0;
							left: 0;
							@include hundred;
							object-fit: cover;
							object-position: center center;
						}
				}
		}
	}
}