.product-carousel {
	@include size(46.4rem, 47.2rem);
	&__element {
		@include hundred;
		outline: 0;
			img {
				display: block;
			}
	}
	&__link {
		@include flex();
		height: 100%;
		align-items: center;
		justify-content: center;
	}

	& .slick {
		&-list,
		&-track {
			height: 100%;
		}
	}

	&-thumbs {
		@include size(8.8rem, 47.2rem);
		overflow: hidden;
			&__element {
				background-color: $colorWhite;
				border: .1rem solid map-get($grey, color_5) !important;
				cursor: pointer;
				outline: 0;
				overflow: hidden;
					&:not(:last-child) {
						margin-bottom: .8rem;
					}
					img {
						@include hundred;
						object-fit: cover;
						object-position: center center;
					}

					&.slick-current {
						border: .2rem solid map-get($basic, theme) !important;
					}
			}
		&.slick-vertical {
			& .slick-slide {
				width: 8.8rem!important;
				height: 8.8rem;
			}
		}
	}
	&-wrapper {
		@include flex();
		justify-content: space-between;
	}
}