.rating-control {
	position: relative;
	@include flex(28.8rem);
	height: 5.6rem;
	align-items: center;
	justify-content: center;
	border: .1rem solid map-get($grey, color_5);
	@include radius($radius);
	&__input {
		position: absolute;
		top: 0;
		left: 0;
		width: .1rem;
		height: .1rem;
		clip: rect(0,0,0,0);
		z-index: 0;
	}
	&__element {
		@include size(2.8rem, 2.6rem);
		&:not(:last-child) {
			margin-right: 1.4rem;
		}
		.i {
			@include hundred;
			fill: map-get($grey, color_6);
		}

		&--active,
		&--selected {
			.i {
				fill: $colorYellow;
			}
		}
	}
}