.about-us {
	&__desc {
		margin-bottom: 4.5rem;
		@include font-size(2.4rem, 4rem);
			p {
				@include inherit;
			}
	}
	&__brands {
		@include flex();
		align-items: center;
		margin-bottom: 4.6rem;
			&-element {
				width: auto;
					&:not(:last-child) {
						margin-right: 5.8rem;
					}
			}
			.i {
				fill: map-get($grey, color_2);
				&._prezervativnaya {
					@include size(26.4rem, 6.4rem);
				}
				&._shpilli-willy {
					@include size(35.2rem, 5.9rem);
				}
			}
	}

	&-founders {
		margin-top: 8.4rem;
		margin-bottom: 7.5rem;
		padding-left: 7rem;
	}
	&-founder {
		@include flex();
		align-items: flex-start;
			&__image {
				position: relative;
				@include size(20rem, 20rem);
				@include round;
				overflow: hidden;
					&::before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						display: block;
						@include hundred;
						background: rgba(map-get($basic, theme), .1);
						mix-blend-mode: overlay;
						z-index: 1;
					}
					img {
						width: 100%;
					}
			}
			&__details {
				width: calc(100% - 20rem);
				max-width: 47rem;
				padding-top: .6rem;
				padding-left: 3.6rem;
				@include font-size(1.4rem, 2.4rem);
					p {
						@include inherit;
					}
			}
			&__headline {
				margin-bottom: 1.6rem;
				@include font-size(2.4rem, 3.2rem);
			}

			& + .about-us-founder {
				margin-top: 4rem;
			}
	}

	& .h-thumbs-gallery {
		margin-top: 5.2rem;
	}

	@include bp-tabletXS {
		&__desc {
			margin-bottom: 2.4rem;
			@include font-size(1.8rem, 3.2rem);
		}
		&__brands {
			display: block;
			margin-bottom: 2.9rem;
				&-element {
					width: 100%;
						&:not(:last-child) {
							margin-right: 0;
							margin-bottom: 2.9rem;
						}
				}
				.i {
					@include auto;
						&._prezervativnaya {
							@include size(15.8rem, 4.1rem);
						}
						&._shpilli-willy {
							@include size(21.1rem, 3.5rem);
						}
				}
		}

		&-founders {
			margin-top: 3rem;
			margin-bottom: 3rem;
			padding-left: 0;
		}
		&-founder {
			display: block;
			&__image {
				@include size(12rem, 12rem);
				@include auto;
			}
			&__details {
				width: 100%;
				max-width: 100%;
				margin-top: 1rem;
				padding-top: 0;
				padding-left: 0;
				font-size: 1.3rem;
			}
			&__headline {
				margin-bottom: .6rem;
				font-size: 1.8rem;
				@include align_c;
			}

			& + .about-us-founder {
				margin-top: 3.2rem;
			}
		}

		& .h-thumbs-gallery {
			margin-top: 2.9rem;
		}
	}
}