.anonymous {
	&-element {
		@include flex();
		align-items: flex-start;
			&__icon {
				width: 11.5rem;
				padding-top: .8rem;
			}
			&__details {
				width: calc(100% - 11.5rem);
				padding-left: 4.2rem;
			}
			&__headline {
				max-width: 72rem;
				margin-bottom: 1.8rem;
				@include font-size(2.4rem, 3.2rem);
			}

			& .i {
				margin-left: auto;
					&._icon-0 {
						@include size(9.1rem, 9.1rem);
					}
					&._icon-1 {
						@include size(8.9rem, 9rem);
					}
					&._icon-2 {
						//@include size(9rem, 8.8rem);
						@include size(76px, 73px);
					}
					&._icon-3 {
						@include size(9rem, 9rem);
					}
			}

			& p {
				max-width: 87rem;
			}

			& + .anonymous-element {
				margin-top: 4.6rem;
			}
	}

	@include bp-tabletXS {
		&-element {
			display: block;
				&__icon,
				&__details{
					width: 100%;
				}
				&__icon {
					margin-bottom: 1rem;
					padding-top: 0;
				}
				&__details{
					padding-left: 0;
				}
				&__headline {
					margin-bottom: 1rem;
					@include font-size(1.8rem, 2.4rem)
				}

			& .i {
				margin-left: auto;
				margin-right: auto;
				&._icon-0 {
					@include size(9rem, 9rem);
				}
				&._icon-1 {
					@include size(8.9rem, 8.9rem);
				}
				&._icon-2 {
					@include size(8.9rem, 8.8rem);
				}
				&._icon-3 {
					@include size(8.9rem, 8.9rem);
				}
			}

			& + .anonymous-element {
				margin-top: 2.6rem;
			}
		}
	}
}