.auth {
	&-page {
		width: 100%;
		padding-top: 9.6rem;
		padding-bottom: 9.6rem;

			& .block-underlay {
				&__header {
					margin-bottom: 2.4rem;
				}
			}
			& .input.input--password {
				max-width: 100%;
			}
	}
	&-message {
		@include font-size(1.8rem, 3.2rem);
			p {
				@include inherit;
					& + p {
						margin-top: 0;
					}
			}
	}
	&-prompt {
		max-width: 27rem;
		@include auto;
		color: map-get($grey, color_2);
		@include font-size(1.4rem);
		@include align_c;
			p {
				@include inherit;
			}
	}
	&-code-verification {
		@include font-size(1.8rem, 3.2rem);
			p {
				@include inherit;
					& + p {
						margin-top: 0;
					}
			}
			&__value {
				position: relative;
				margin-top: 2.3rem;
				margin-bottom: 2.3rem;
				@include noselect;
			}
			&__input {
				display: block;
				@include size(31rem, 5.6rem);
				padding: 0 0 0 2.2rem;
				color: map-get($basic, primary);
				font-family: $font;
				@include font-size(2.4rem, 1.6rem);
				letter-spacing: 5.1rem;
				appearance: none;
				border: 0;
				cursor: text;
				caret-color: map-get($basic, theme);
				outline: 0;
				background: transparent;
			}
			&__true-input {
				width: 31rem;
				overflow: hidden;
			}
			&__fake-input {
				position: absolute;
				top: 0;
				left: 0;
				@include flex(24.8rem);
				height: 5.6rem;
				justify-content: space-between;
				pointer-events: none;
				touch-action: none;
				z-index: 0;
			}
			&__marker {
				@include size(5.6rem, 5.6rem);
				border: .1rem solid map-get($grey, color_5);
				@include radius($radius);
				@include smooth(.2s);
					&._active {
						border-color: map-get($basic, theme);
					}
			}
			&__prompt {
				margin-bottom: 1.6rem;
				color: map-get($grey, color_2) !important;
			}
	}

	@include bp-tabletXS {
		&-page {
			padding: 0 1.6rem;
		}
		&-message {
			@include font-size(1.4rem, 2.4rem);
		}
		&-code-verification {
			@include font-size(1.4rem, 1.6rem);
			overflow: hidden;
			p {
				& + p {
					margin-top: .8rem;
				}
			}
			&__value {
				margin-top: 2.9rem;
				margin-bottom: 1.9rem;
			}
			&__prompt {
				margin-bottom: 1.2rem;
			}
		}
	}
}