.bonuses {
	&-page {
		@include flex();

		& p {
			max-width: 99.2rem;
		}
	}
	&-section {
		width: 50%;
		max-width: 56.6rem;
		margin-top: 4.6rem;
			&__headline {
				margin-bottom: 2.2rem;
			}
			&__control {
				margin-top: 2.2rem;
			}

			& + .bonuses-section {
				margin-left: 9.6rem;
			}
	}

	@media all and (max-width: 1370px) {
		&-section {
			max-width: 51rem;
				& + .bonuses-section {
					margin-left: 4.8rem;
				}
		}
	}
	@include bp-desktopXS {
		&-page {
			display: block;
		}
		&-section {
			width: 100%;
			max-width: 100%;
			& + .bonuses-section {
				margin-left: 0;
			}
		}
	}
	@include bp-tabletXS {
		&-page {
			width: calc(100% + 3rem);
		}
		&-section {
			margin-top: 3.6rem;
				&__headline {
					margin-bottom: .8rem;
				}
				& + .bonuses-section {
					margin-top: 4rem;
				}
		}
	}
}