.brands {
	&-carousel-wrapper {
		position: relative;
		width: 100%;
		padding-left: 11rem;
		padding-right: 11rem;
	}
	&-carousel {
		position: static;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
			&__element {
				display: flex;
				@include size(14rem, 14rem);
				align-items: center;
				justify-content: center;
					& img {
						max-height: 100%;
					}

					&:not(:last-child) {
						margin-right: multi(6);
					}
			}
			&__arrow {
				position: absolute;
				top: 50%;
				display: none;
				@include size(multi(8), multi(8));
				align-items: center;
				justify-content: center;
				background-color: map-get($basic, themeAlt2);
				@include round;
				cursor: pointer;
				will-change: transform;
				transform: translateY(-50%);
				z-index: 1;
					&::before {
						content: '';
						display: block;
						@include size(multi(3), multi(3));
						background-size: cover;
						background-position: center center;
						background-repeat: no-repeat;
					}

				&--prev {
					left: 0;
						&::before {
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31.494 31.494'%3E%3Cpath style='fill:%239E42DC;' d='M10.273,5.009c0.444-0.444,1.143-0.444,1.587,0c0.429,0.429,0.429,1.143,0,1.571l-8.047,8.047h26.554 c0.619,0,1.127,0.492,1.127,1.111c0,0.619-0.508,1.127-1.127,1.127H3.813l8.047,8.032c0.429,0.444,0.429,1.159,0,1.587 c-0.444,0.444-1.143,0.444-1.587,0l-9.952-9.952c-0.429-0.429-0.429-1.143,0-1.571L10.273,5.009z'/%3E%3C/svg%3E%0A");
						}
				}
				&--next {
					right: 0;
						&::before {
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31.49 31.49'%3E%3Cpath style='fill:%239E42DC;' d='M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111 C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587 c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z'/%3E%3C/svg%3E%0A");
						}
				}
			}

			&.swiper-container-initialized {
				display: block;
					.brands-carousel {
						&__element {
							&:not(:last-child) {
								margin-right: initial;
							}
						}
						&__arrow {
							display: flex;
						}
					}
			}
	}

	@include bp-tabletXS {
		&-carousel-wrapper {
			@include outbox;
			padding-left: 0;
			padding-right: 0;
		}
		&-carousel {
			&__element {
				@include size(multi(9), multi(9));
					&:not(:last-child) {
						margin-right: multi(1);
					}
					& img {
						max-height: multi(7);
					}
			}
			&__arrow {
				display: none;
			}

			&.swiper-container-initialized {
				.brands-carousel {
					&__arrow {
						display: none;
					}
				}
			}
		}
	}
}