.cart {
	&-page  {
		width: 100%;
		&__body {}
		&__aside {
			& .button {
				& + .order-delivery {
					margin-top: 3.6rem;
				}
			}
		}
		&__more {
			width: 100%;
			margin-top: 2.4rem;
		}

		& .block-underlay {
			& + .block-underlay {
				margin-top: multi(3);
			}
		}
		& .cart-array {
			height: 100%;
		}
		& .order-promo {
			& + .cart-properties {
				margin-top: 3rem;
			}
		}
		& .order-delivery {
			& + .order-promo {
				margin-top: 3.2rem;
			}
		}

		&--empty {
			padding-top: 3.4rem;
			padding-bottom: multi(4);
			p {
				max-width: 71.2rem;
				&.p--l {
					@include font-size(multi(3), multi(5));
				}
			}
		}
	}
	&-array {
		&__element {
			& + .cart-array__element {
				margin-top: .6rem;
				padding-top: .6rem;
				border-top: .1rem solid map-get($grey, color_5);
			}
		}
	}
	&-element {
		position: relative;
		@include flex();
		align-items: center;
		padding-right: 2.5rem;
			&__image {
				@include flex(12rem);
				height: 12rem;
				align-items: center;
				justify-content: center;
					img {
						max-height: 12rem;
						@include radius($radius);
							&.scaled {
								transform: scale(.8);
							}
					}
			}
			&__details {
				@include flex(calc(100% - 12rem));
				align-items: center;
				padding-left: 1.6rem;
			}
			&__cell {
				&--headline {
					///width: 27rem;
					width: calc(100% - 39.3rem);
					color: $colorBlack;
					@include font-size();
						a {
							@include inherit;
						}
				}
				&--counter {
					width: 18.6rem;
					margin-left: 2.5rem;
				}
				&--price {
					width: 18rem;
					padding-right: 3.5rem;
				}
			}
			&__pricing {
				@include flex();
				align-items: center;
				justify-content: flex-end;
				color: map-get($basic, primary);
				@include align_r;
					&-current {
						width: 100%;
						@include font-size(2.2rem, 1.6rem);
						font-weight: $bold;
					}
					&-old {
						position: relative;
						margin-top: 1.2rem;
						color: map-get($grey, color_2);
						@include font-size(1.2rem, 1.6rem);
							&::before {
								content: '';
								position: absolute;
								top: .75rem;
								left: 0;
								display: block;
								@include size(100%, .1rem);
								background-color: $colorRed;
							}
					}
					&-discount {
						margin-top: 1.2rem;
						margin-left: .4rem;
						padding: .3rem .4rem;
						color: $colorWhite;
						@include font-size(.8rem, .8rem);
						font-weight: 500;
						background-color: $colorRed;
						@include radius(.2rem);
					}

					&--discount {}
			}
			&__control {
				position: absolute;
				top: 0;
				right: 0;
				@include flex(2.5rem);
				height: 100%;
				align-items: center;
				justify-content: center;
				z-index: 2;
					.i {
						@include size(2rem, 2.2rem);
						fill: map-get($grey, color_2);
					}
					&:hover {
						.i {
							fill: $colorRed;
						}
					}
			}
			&__vendor {
				margin-top: .5rem;
				color: map-get($grey, color_2);
				@include font-size(1.2rem, 1.6rem);
			}
	}
	&-element-removed {
		@include flex();
		align-items: flex-start;
		justify-content: space-between;
		padding-top: 3.2rem;
		padding-bottom: 3.2rem;
			&__headline {
				max-width: calc(100% - 10rem);
				@include font-size();
			}
			&__highlighted {
				font-weight: $semibold;
			}
			&__remove {
				color: map-get($basic, theme);
				@include font-size();
			}
	}
	&-discounts {
		@include flex();
		align-items: flex-start;
			&__element {
				@include font-size();
					& + .cart-discounts__element {
						margin-left: 2.8rem; //5.8rem
							&--footer {
								margin-left: 0;
							}
					}
					&-label {
						width: 100%;
						@include inherit;
					}
					&-value {
						@include flex();
						align-items: center;
						margin-top: .2rem;
						color: map-get($basic, theme);
						font-family: $font2;
						@include font-size(3.6rem, 4rem);
						font-weight: $bold;
					}

					& .button {
						margin-left: 2rem;
					}

					&--footer {
						width: 100%;
						flex-shrink: 0;
						margin-top: multi(2);
						@include font-size(1.8rem);
					}
			}
			&.block-underlay {
				padding-top: 4rem;
				padding-bottom: 3.4rem;
			}

			&-input {
				position: relative;
				@include flex(22rem);
					&::before {
						content: '\20BD';
						position: absolute;
						top: 0;
						left: 1rem;
						display: block;
						@include size(.8rem, 2.2rem);
						font-size: 1.7rem;
						z-index: 1;
					}
					&__field {
						@include size(calc(100% - 14rem), 4rem);
						padding-left: 2rem;
						color: map-get($basic, theme);
						@include font-size(1.6rem, 1.6rem);
						font-weight: $bold;
						border: .1rem solid map-get($grey, color_5);
						border-right: 0;
						@include radius(1rem 0 0 1rem);
						outline: 0;
					}
					&__button {
						@include size(14rem, 4rem);
						color: map-get($basic, primary);
						@include font-size(1.4rem, 1.6rem);
						font-weight: 500;
						background: map-get($grey, color_0);
						@include radius(0 1rem 1rem 0);
					}
			}
	}
	&-properties-wrapper {}
	&-properties {
		width: 100%;
		margin-top: 3.4rem;
		padding-top: multi(3);
		border-top: .1rem solid map-get($grey, color_5);
			&__total {
				margin-top: 2.2rem;
				padding-top: 2.4rem;
				border-top: .1rem solid map-get($grey, color_5);
					& .button {
						margin-top: 2.2rem;
					}
			}

		& + .order-promo {
			margin-top: 3.2rem;
		}
		& + .order-delivery {
			margin-top: 3.2rem;
		}
		& + .js-order-step,
		& + .button {
			margin-top: multi(3);
				& + .button {
					margin-top: multi(2);
				}
		}
	}
	&-property  {
		@include flex();
		align-items: center;
		justify-content: space-between;
		//margin-top: 3.2rem;
		color: $colorBlack;
		@include font-size(1.8rem, 3.2rem);
			& + .cart-property {
				//margin-top: 1.6rem;
				margin-top: multi(1);
					&--total {
						//margin-top: 2.2rem;
					}
			}
			& + .button {
				margin-top: 2.2rem;
			}

			&--green {
				.cart-property__value {
					color: $colorGreen;
					font-size: 2.2rem;
					font-weight: bold;
				}
			}
			&--red {
				.cart-property__value {
					color: $colorRed;
				}
			}
			&--total {
				//padding-top: multi(3);
				font-weight: $bold;
				//border-top: .1rem solid map-get($grey, color_5);
			}
			&--higlighted {
				font-weight: $bold;
			}
	}
	&-one-click {
		margin-top: multi(2);
	}


	/*@include bp-desktopHD {
		&-discounts {
			&__element {
				width: 100%;
				& + .cart-discounts__element {
					margin-left: 0;
					margin-top: 2rem;
				}
			}
		}
	}*/
	@include bp-desktop {
		&-element {
			&__cell {
				&--headline {
					width: calc(100% - 36.3rem);
				}
				&--price {
					width: 15rem;
					padding-right: 2rem;
				}
			}
		}
	}
	@include bp-desktopXS {
		&-page {
			&__body {
				& + .cart-page__aside {
					margin-top: 1.2rem;
				}
			}
			&__more {
				margin-top: 1.2rem;
			}

			& .block-underlay {
				padding: 2.8rem 1.6rem;
				& + .block-underlay {
					margin-top: 1.2rem;
				}
			}
		}
		&-discounts {
			&__element {
				width: auto;
				& + .cart-discounts__element {
					margin-left: 5.8rem;
					margin-top: 0;
						&--footer {
							margin-top: multi(2);
							margin-left: 0;
						}
				}

				&--footer {
					width: 100%;
					margin-top: multi(2);
				}
			}
		}
		&-properties-wrapper {
			&.block-underlay {
				display: flex;
				flex-wrap: wrap;
			}

			& .cart-properties {
				margin-top: 0;
				margin-bottom: 3.4rem;
				padding-top: 0;
				padding-bottom: multi(3);
				border-top: 0;
				border-bottom: .1rem solid map-get($grey, color_5);
				order: -1;
			}
			& .cart-property {
				&--total {
					padding-top: 0;
					border-top: 0;
				}
			}
		}
	}
	@include bp-tabletXS {
		&-page {
			&__body {
				& + .cart-page__aside {
					margin-top: .8rem;
				}

				& .block-underlay {
					padding-top: 0;
					padding-bottom: 0;
				}
			}
			&__more {
				margin-top: .8rem;
			}

			& .order-promo {
				& + .cart-properties {
					margin-top: 2.4rem;
				}
				& .order-delivery {
					& + .order-promo {
						margin-top: 2.4rem;
					}
				}
			}
			& .block-underlay {
				& + .block-underlay {
					margin-top: multi(1);
				}
			}

			&--empty {
				padding-top: 1.8rem;
				p {
					&.p--l {
						@include font-size(1.8rem, multi(3));
					}
				}
			}
		}
		&-array {
			&__element {
				& + .cart-array__element {
					margin-top: 0;
					padding-top: 0;
				}
			}
		}
		&-element {
			@include outbox;
			padding-top: 2rem;
			padding-bottom: 1.6rem;
			&__image {
				@include size(9.6rem, 9.6rem);
				will-change: trnasform;
				transition: transform .2s ease;
					img {
						max-height: 9.6rem;
					}
			}
			&__details {
				width: calc(100% - 9.6rem);
				padding-left: .8rem;
				will-change: trnasform;
				transition: transform .2s ease;
			}
			&__cell {
				&--headline {
					width: 100%;
					margin-bottom: 1.2rem;
					@include font-size(1.1rem, 1.6rem)
				}
				&--counter {
					width: 13.2rem;
					margin-left: 0;
				}
				&--price {
					@include flex();
					align-items: center;
					margin-top: 1.7rem;
					padding-right: 0;
				}
			}
			&__pricing {
				justify-content: flex-start;
				@include align_l;
					&-current {
						width: auto;
						font-size: 1.6rem;
					}
					&-discount,
					&-old {
						margin-top: 0;
						margin-left: 1rem;
					}
			}
			&__control {
				right: 1.6rem;
					& .i {
						@include size(1.4rem, 1.6rem);
					}
			}
			&__vendor {
				@include font-size(1rem, 1.2rem);
			}

			&--ready-to-be-removed {
				.cart-element {
					&__image,
					&__details {
						transform: translateX(-4rem);
						transition: transform .1s ease;
					}
					&__control {
						right: -.1rem;
						width: 5.4rem;
						background-color: $colorRed;
							& .i {
								fill: $colorWhite;
							}
					}
				}
			}
		}
		&-element-removed {
			align-items: flex-start;
			padding-top: 2rem;
			padding-bottom: 2rem;
			&__headline {
				width: calc(100% - 6rem);
				padding-right: 2rem;
				@include font-size(1.1rem, 1.6rem);
			}
			&__remove {
				width: 6rem;
				@include font-size(1.1rem, 1.6rem);
				@include align_r;
			}
		}
		&-discounts {
			width: calc(100% + 3rem);
				&__element {
					@include font-size(1.3rem, 2.4rem);
					& + .cart-discounts__element {
						margin-left: 5.4rem;

						&--footer {
							margin-left: 0;
						}
					}
					&-value {
						font-size: 2.4rem;
					}

					& .button {
						height: 3.6rem;
						margin-left: 1.2rem;
					}
				}
		}
		&-properties {
			width: 100%;
				&__total {
					padding-top: 1.6rem;

					& .button--m {
						height: 4.8rem;
						font-size: 1.5rem;
					}
				}
		}
		&-property  {
			@include font-size(1.4rem, 2.4rem);
		}
	}
	@include bp-mobile {
		&-discounts {
			&__element {
				& + .cart-discounts__element {
					margin-left: 3.4rem;
						&--footer {
							margin-left: 0;
						}
				}
			}
			&-input {
				@include flex(18rem);
					&__field {
						width: calc(100% - 12rem);
					}
					&__button {
						width: 12rem;
						@include font-size(1.2rem, 1.4rem);
					}
			}
		}
	}
}