.catalog {
	&-page {
		width: 100%;
			&__control {
				margin-bottom: 2.4rem;
			}
			&__inside {
				@include flex();

			}
	}
	&-content {
		//margin-top: 3rem;
		padding-top: 4.5rem;
		padding-bottom: 6.4rem;
	}
	&-array {
		@include flex(calc(100% + 2.4rem));
		align-self: flex-start;
		margin: -1.2rem;
			&__element {
				width: calc(25% - 2.4rem);
				margin: 1.2rem;
					&--33 {
						width: calc(33.33% - 2.4rem);
					}
			}
			&__item {
				margin: 1.2rem;
			}

		& + .quiz-banner {
			margin-top: 6.4rem;
		}
	}
	&-filter {
		width: 30.6rem;
		max-height: 0;
		padding-top: .6rem;
		padding-bottom: .6rem;
		opacity: 0;
		pointer-events: none;
		overflow: hidden;
		transform: translateX(100%);
		transition: opacity .2s linear;
		border: .1rem solid map-get($grey, color_5);
		@include radius($radius);
			&__element {
				width: 100%;
				border-bottom: .1rem solid map-get($grey, color_7);
			}
			&__controls {
				//display: none;
				width: 100%;
				padding: 3.2rem $gutter 2.2rem;
					& .button {
						& + .button {
							margin-top: .8rem;
						}
					}
			}
			&__apply,
			&__close {
				display: none;
			}

		&-array {
			@include flex(calc(100% + .4rem));
			margin: -.2rem;
				& .load-more__element {
					margin: .2rem;
				}
				& + .catalog-filter__element {
					border-top: .1rem solid map-get($grey, color_7);
				}

			&__more {
				@include link();
				width: 100%;
				margin: 1.2rem .2rem 0;
			}
		}
	}
	&-categories {
		margin-top: -1.2rem;
		margin-bottom: 2.8rem;
			&__element {
				margin-top: multi(4);
			}
	}
	&-category {
		display: block;
		@include hundred;
		padding: 2.2rem 2.2rem 1.7rem;
		color: map-get($basic, primary);
		background-color: $colorWhite;
		@include radius(1rem);
			&__image {
				@include flex();
				height: 14.6rem;
				align-items: center;
				justify-content: center;
					& img {
						max-height: 100%;
						will-change: transform;
						transition: all 0.6s ease;
					}
					& svg {
						display: block;
						@include hundred;
					}
			}
			&__headline {
				margin-top: 1.6rem;
				@include font-size();
				@include align_c;
			}

			&:hover {
				.catalog-category__image {
					& img {
						transform: scale(1.1);
					}
				}
			}

		&--gradient {
			color: $colorWhite;
			background: $gradient;
		}
	}


	@include bp-desktopXS {
		&-array {
			&__element {
				width: calc(33.33% - 2.4rem);
			}
		}
	}
	@include bp-tablet {
		&-content {
			padding: 2.8rem 1.6rem;
		}
		&-array {
			width: calc(100% + 1.2rem);
			margin: -.6rem;
				&__element {
					width: calc(calc(33.33% - 1.2rem));
					margin: .6rem;
						&--33 {
							width: calc(33.33% - 1.2rem);
						}
				}
				&__item {
					margin: .6rem;
				}
		}
		&-filter {

		}
	}
	@include bp-tabletXS {
		&-page {
			&__control {
				margin-bottom: $gutter;
			}
		}
		&-content {
			padding-top: 0;
			padding-bottom: 3rem;
		}
		&-array {
			width: calc(100% + .8rem);
			margin: -.4rem;
				&__element {
					width: calc(calc(50% - .8rem));
					margin: .4rem;
						&--33 {
							width: calc(50% - .8rem);
						}
				}
				&__item {
					margin: .4rem;
				}

			& + .quiz-banner {
				margin-top: 1.6rem;
			}
		}
		&-filter {
			position: fixed;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			max-height: initial;
			padding-top: 6.4rem;
			padding-bottom: 0;
			background: $colorWhite;
			border: 0;
			@include radius(0);
			transition: opacity .3s linear;
			transform: none;
			z-index: 90;
				&__controls {
					//display: block;
						& .button {
							min-height: 4.8rem;
							font-size: 1.5rem;
						}
				}
				&__apply,
				&__close {
					display: inline-flex;
				}
				&__reset {
					display: none;
				}


				& .form {
					max-height: 100%;
					overflow: auto;
					@include touch-scroll;
				}

			&-array {
				&__more {
					font-size: 1.4rem;
				}

				& .load-more__element {
					&--hidden {
						height: 0;
						opacity: 0;
						overflow: hidden;
					}
				}
			}
		}
		&-categories {
			&.mobile-carousel {
				&::after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					display: block;
					@include size(5rem, 100%);
					background: linear-gradient(270deg, map-get($grey, color_0) 0%, rgba(241, 242, 246, 0) 93.42%);
					pointer-events: none;
					z-index: 1;
				}
			}

			&__element {
				margin-top: multi(1);
			}
		}
		&-category {
			padding: multi(1);
			&__image {
				height: 8.5rem;
			}
			&__headline {
				margin-top: 1rem;
				//font-size: 1.4rem;
				font-size: 1.1rem;
			}
		}
	}
}