.categories {
	&-page {}
	&-array {
		margin-top: -1.2rem;
		margin-bottom: -1.2rem;
			&__element {
				margin-top: 1.2rem;
				margin-bottom: 1.2rem;
			}
			&__more {
				width: 100%;
				margin-top: 1.8rem;
				@include align_c;
			}
	}
	&-element {
		@include size(100%, 22.4rem);
		color: $colorBlack;
		background-color: $colorWhite;
		@include radius($radius);
		@include shadow();
			&__link {
				position: relative;
				@include link(100%);
				padding: 2rem;
				color: inherit;
			}
			&__headline {
				margin: 0;
				font-family: $font2;
				@include font-size();
				font-weight: normal;
			}
			&__icon {
				position: absolute;
				bottom: 2rem;
				left: 50%;
				@include flex(16rem); //100%
				height: 16rem;
				align-items: flex-end;
				justify-content: center;
				will-change: transform;
				transform: translateX(-50%);
				//padding: 2rem;

					& svg {
						display: block;
						@include hundred;
					}
			}

		&--gradient {
			color: $colorWhite;
			@include align_c;
			background: $gradient;
			.categories-element {
				&__link {
					padding-bottom: 6rem;
				}
				&__icon {
					top: 0;
					bottom: auto;
				}
				&__headline {
					position: absolute;
					left: 0;
					bottom: 3rem;
					width: 100%;
					@include font-size(2.4rem, 2.6rem);
					font-weight: 700;
				}
			}
		}
	}

	@include bp-tabletXS {
		&-array {
			margin-top: -.4rem;
			margin-bottom: -.4rem;
			&__element {
				margin-top: .4rem;
				margin-bottom: .4rem;
				&.load-more__element--hidden {
					margin: .4rem!important;
				}
			}
			&__more {
				display: none;
			}
		}
		&-element {
			height: 16rem;
			&__link {
				padding: 2rem $gutter $gutter;
				@include align_c;
			}
			&__headline {
				@include font-size(1.3rem, 1.6rem);
			}
			&__icon {
				bottom: 0;
				@include size(13rem, 13rem);
				//height: 12rem;
				padding: $gutter;
			}

			&--gradient {
				.categories-element {
					&__headline {
						bottom: 1rem;
						@include font-size(1.6rem, 1.8rem);
					}
				}
			}
		}
	}
}