.comparison {
	&-carousel {
		width: 100%;
			&__element {
				width: 28rem;
				outline: 0;
					&:not(:last-child) {
						margin-right: 2.7rem;
					}
			}
			&__headline {
				margin-bottom: .4rem;
				color: map-get($grey, color_2);
				font-family: $font;
				@include font-size(1.2rem, 1.6rem);
				font-weight: normal;
			}
			&__value {
				@include font-size();
			}

			& .slick {
				&-list {
					padding-left: 4.8rem;
					padding-right: 4.8rem;
				}
				&-track {
					margin-left: 0;
					margin-right: 0;
				}
				&-arrow {
					position: absolute;
					bottom: -10.2rem;
					display: inline-flex;
					@include size(6.4rem, 6.4rem);
					align-items: center;
					justify-content: center;
					background: map-get($basic, theme);
					@include round;
					@include smooth(.2s);
					z-index: 3;
						.i {
							@include size(2.5rem, 2rem);
							fill: $colorWhite;
						}
				}
				&-prev {
					left: -3.2rem;
					&.slick-disabled {
						transform: translateX(-50%);
					}
				}
				&-next {
					right: -3.2rem;
					&.slick-disabled {
						transform: translateX(50%);
					}
				}
				&-disabled {
					opacity: 0;
					pointer-events: none;
				}
			}
	}
	&-section {
		width: 100%;
		padding-top: .9rem;
		padding-bottom: .9rem;
		border-top: .1rem solid map-get($grey, color_5);
		border-bottom: .1rem solid map-get($grey, color_5);
			& + .comparison-section {
				border-top: 0;
			}
	}
	&-tumbler {
		margin-top: 5.4rem;
		margin-bottom: 2.4rem;
		padding-left: 4.8rem;
		padding-right: 4.8rem;
	}
	&-control {
		margin-top: 3.2rem;
		padding-left: 4.8rem;
		padding-right: 4.8rem;
	}

	@include bp-desktopHD {
		&-carousel {
			& .slick {
				&-prev {
					left: -1.2rem;
				}
				&-next {
					right: -1.2rem;
				}
			}
		}
		&-tumbler {
			padding-left: 5.8rem;
		}
	}
	@include bp-desktopXS {
		&-carousel {
			& .slick {
				&-prev,
				&-next {
					&.slick-disabled {
						transform: none;
					}
				}
			}
		}
	}
	@include bp-tabletXS {
		&-carousel {
			&__element {
				width: 100%;
				padding-left: .8rem;
				padding-right: .8rem;
				&:not(:last-child) {
					margin-right: 0;
				}
			}
			&__headline {
				margin-bottom: 0;
				font-size: 1.1rem;
				white-space: nowrap;
			}
			&__value {
				font-size: 1.3rem;
			}

			& .slick {
				&-list {
					padding-left: .8rem;
					padding-right: .8rem;
				}
			}
		}
		&-section {
			padding-top: .3rem;
			padding-bottom: .3rem;
		}
		&-tumbler {
			margin-top: 2.4rem;
			padding-left: 1.6rem;
			padding-right: 1.6rem;
		}
		&-control {
			margin-top: 2.4rem;
			padding-left: 1.6rem;
			padding-right: 1.6rem;
		}
	}
}