.contacts {
	&-array {
		width: 100%;

		.contacts-element {
			& + .contacts-element {
				margin-top: 2rem;
				padding-top: 2rem; //3.6rem;
				border-top: .1rem solid map-get($grey, color_5);
			}
		}
		& + .yandex-map {
			margin-top: 3rem;
		}
	}
	&-element {
		@include flex();
		align-items: flex-start;
		color: $colorBlack;
			&__cell {
				width: auto;
					&--location {
						width: 35rem;
					}
					&--contacts {
						width: 28.8rem;
						margin-left: 7rem;
					}
					&--description {
						width: 44.6rem;
						margin-top: -.6rem;
					}
					&--control,
					&--description {
						margin-left: 6.8rem;
					}
			}
			&__headline {
				margin-bottom: .8rem;
				color: $colorBlack;
				font-family: $font;
				@include font-size(2.2rem, 2.4rem);
					a {
						@include inherit;
					}
			}

		& + .yandex-map {
			margin-top: 3.8rem;
		}
		& + .contacts-description {
			margin-top: 3.8rem;
		}
	}
	&-description {
		@include flex();
		align-items: flex-start;
		color: $colorBlack;
			&__headline {
				margin-bottom: 2rem;
				color: $colorBlack;
				font-family: $font;
				@include font-size(2.2rem, 2.4rem);
				a {
					@include inherit;
				}
			}
			&__body {
				width: calc(100% - 32.5rem);
				padding-right: 3.2rem;
			}
			&__aside {
				width: 32.5rem;
			}

			& + .contacts-array {
				margin-top: 4.2rem;
			}
	}
	&-requisites {
		color: map-get($grey, color_2);
		@include font-size(1.8rem, 3.2rem);
			&__element {
				width: 100%;
				@include inherit;
			}
	}
	&-gallery {
		@include flex(calc(100% + 1.6rem));
		margin: 3rem -.8rem -.8rem;
			&__element {
				width: 100%;
				max-width: 35.5rem;
				margin: .8rem;
			}
			&__link {
				position: relative;
				@include link(0);
				padding-bottom: 56.25%;
				overflow: hidden;
					&::before,
					&::after {
						content: '';
						position: absolute;
						display: block;
						opacity: 0;
						@include smooth(.2s);
					}
					&::before {
						@include hundred;
						background: rgba($colorBlack, .5);
						will-change: transform;
						z-index: 1;
					}
					&::after {
						content: '';
						position: absolute;
						top: 50%;
						left: 50%;
						display: block;
						@include size(4.8rem, 4.8rem);
						background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22 8C14.268 8 8 14.268 8 22C8 29.732 14.268 36 22 36C29.732 36 36 29.732 36 22C36 14.268 29.732 8 22 8ZM4 22C4 12.0589 12.0589 4 22 4C31.9411 4 40 12.0589 40 22C40 31.9411 31.9411 40 22 40C12.0589 40 4 31.9411 4 22Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M31.8858 31.8858C32.6668 31.1047 33.9332 31.1047 34.7142 31.8858L43.4142 40.5858C44.1953 41.3668 44.1953 42.6332 43.4142 43.4142C42.6332 44.1953 41.3668 44.1953 40.5858 43.4142L31.8858 34.7142C31.1047 33.9332 31.1047 32.6668 31.8858 31.8858Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22 14C23.1046 14 24 14.8954 24 16V28C24 29.1046 23.1046 30 22 30C20.8954 30 20 29.1046 20 28V16C20 14.8954 20.8954 14 22 14Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14 22C14 20.8954 14.8954 20 16 20H28C29.1046 20 30 20.8954 30 22C30 23.1046 29.1046 24 28 24H16C14.8954 24 14 23.1046 14 22Z' fill='white'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
						background-size: cover;
						transform: translate(-50%, -50%);
						z-index: 2;
					}

					img {
						position: absolute;
						top: 0;
						left: 0;
						@include hundred;
						object-fit: cover;
						object-position: center center;
						will-change: transform;
						@include smooth(.8s);
					}

				&:hover {
					&::before,
					&::after {
						opacity: 1;
					}

					img {
						transform: scale(1.04);
					}
				}
			}
	}
	&-website {
		width: 100%;
			&__label {
				margin-bottom: .5rem;
				color: map-get($grey, color_2);
				@include font-size(1.4rem, 3.2rem);
			}
			&__link {
				@include iblock(top);
				padding: .4rem 1.6rem;
				color: map-get($basic, theme);
				@include font-size(1.8rem, 3.2rem);
				background: map-get($basic, themeLight);
				@include radius($radius);
					& + .contacts-website__link {
						margin-top: 1rem;
					}
			}
	}

	@include media(1360px) {
		&-element {
			&__cell {
				&--contacts,
				&--control,
				&--description {
					margin-left: 3rem;
				}
				&--description {
					width: 37rem;
				}
			}
		}
	}
	@include bp-desktopXS {
		&-element {
			display: block;
			&__cell {
				&--location,
				&--contacts,
				&--control,
				&--description {
					width: 100%;
					margin-left: 0;
				}
				&--description {
					margin-top: 0;
				}
				&:not(:last-child) {
					margin-bottom: 2rem;
				}
			}
		}
		&-description {
			&__body {
				width: calc(100% - 28rem);
			}
			&__aside {
				width: 28rem;
			}
		}
		&-gallery {
			&__element {
				max-width: 30rem;
			}
		}
	}
	@include bp-tablet {
		&-description {
			display: block;
				&__body,
				&__aside {
					width: 100%;
				}
				&__body {
					padding-right: 0;
						& + .contacts-description__aside {
							margin-top: 2.4rem;
						}
				}
		}
		&-gallery {
			&__element {
				width: calc(33.33% - 1.6rem);
				max-width: initial;
			}
		}
		&-website {
			&__link {
				& + .contacts-website__link {
					margin-top: 0;
					margin-left: 1rem;
				}
			}
		}
	}
	@include bp-tabletXS {
		&-array {
			.contacts-element {
				position: relative;
				@include outbox;
				padding-top: 2.4rem;
				padding-left: 4rem;
				padding-right: 1.6rem;
				border-top: .8rem solid map-get($grey, color_0);
					&::before {
						content: '';
						position: absolute;
						top: 2.55rem;
						left: 1.6rem;
						display: block;
						@include size(1.5rem, 2rem);
						background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 15 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 7.72059C14 8.53287 13.6289 9.62235 12.9479 10.8854C12.2812 12.122 11.3802 13.4125 10.4605 14.5955C9.54365 15.7749 8.6243 16.827 7.93291 17.5853C7.77564 17.7578 7.63042 17.9149 7.5 18.0544C7.36958 17.9149 7.22436 17.7578 7.06709 17.5853C6.3757 16.827 5.45635 15.7749 4.53949 14.5955C3.61978 13.4125 2.71876 12.122 2.0521 10.8854C1.37115 9.62235 1 8.53287 1 7.72059C1 3.98139 3.93728 1 7.5 1C11.0627 1 14 3.98139 14 7.72059Z' stroke='%239E42DC' stroke-width='2'/%3E%3Ccircle cx='7.5' cy='7.5' r='2.5' stroke='%239E42DC' stroke-width='2'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
						background-size: cover;
					}
					& + .contacts-element {
						margin-top: 2.4rem;
						padding-top: 2.4rem;
						border-top: .8rem solid map-get($grey, color_0);
					}
			}
			& + .yandex-map {
				margin-top: 2.4rem;
				margin-bottom: -2.4rem;
				border-top: .8rem solid map-get($grey, color_0);
			}
		}
		&-requisites {
			color: $colorBlack;
			@include font-size(1.3rem, 2.4rem);
				&__element {
					&:not(:last-child) {
						margin-bottom: 1rem;
					}
				}
		}
		&-element {
			&__headline {
				margin-bottom: .4rem;
				font-size: 1.8rem;
			}
			&__cell {
				&:not(:last-child) {
					margin-bottom: 0;
				}
				&--contacts {
					margin-top: 1.4rem;
				}
				&--control {
					margin-top: 1.6rem;
				}
				&--description {
					margin-top: .8rem;
				}
			}

			& + .contacts-description {
				margin-top: 2.4rem;
			}
		}
		&-description {
			&__headline {
				margin-bottom: 1.6rem;
				font-size: 1.6rem;
			}
			& + .contacts-array {
				margin-top: 2.4rem;
			}
		}
		&-website {
			&__label {
				@include font-size(1.2rem, 2.4rem);
			}
			&__link {
				@include font-size(1.6rem, 2.4rem);
			}
		}
		&-gallery {
			width: calc(100% + .8rem);
			margin: 2.4rem -.4rem -.4rem;
				&__element {
					width: calc(50% - .8rem);
					margin: .4rem;
				}
				&__link {
					&::after {
						@include size(3.2rem, 3.2rem);
					}
				}
		}
	}
	@include bp-mobile {
		&-website {
			margin: -.5rem;
			&__label {
				padding-left: .5rem;
			}
			&__link {
				margin: .5rem;
				@include align_c;
				& + .contacts-website__link {
					margin-top: .5rem;
					margin-left: .5rem;
				}
			}
		}
	}
}