.content {
	&-page {
		width: 100%;
		@include font-size(1.8rem, 3.2rem);
			& p {
				max-width: 87rem;
				@include inherit;
			}
			& h2, h3, h4 {
				max-width: 87rem;
			}
			& h2 {
				margin-top: 5rem;
				margin-bottom: 3rem;
				line-height: 4.8rem;
			}
			& h3 {
				max-width: 76.5rem;
				margin-top: 4rem;
				margin-bottom: 2.4rem;
			}
			& h2 {
				margin-top: 3rem;
				margin-bottom: 2rem;
			}
			& table {
				margin-top: 4.8rem;
			}
	}

	@include bp-tabletXS {
		&-page {
			@include font-size(1.4rem, 2.4rem);

			& table {
				margin-top: 2.4rem;
			}
		}
	}
}