.delivery {
	&-page {}
	&-office {
		width: 100%;
		margin-top: 1.2rem;
		margin-bottom: 1.2rem;
		padding-left: 2.6rem;
			&__headline {
				@include font-size(1.8rem, 3.2rem);
			}
			& .button {
				margin-top: 1.5rem;
			}
	}
	&-section {
		width: 100%;
			&__header {
				@include flex();
				align-items: center;
				justify-content: space-between;
				margin-bottom: 1.2rem;
					& .delivery-section__headline {
						width: auto;
						max-width: calc(100% - 35rem);
						margin-bottom: 0;
					}
			}
			&__headline,
			h5 {
				margin-bottom: 2.4rem;
				@include font-size(2.2rem, 3.2rem);
			}
			& + .delivery-section {
				margin-top: 4.5rem;
			}

			& p {
				max-width: 100.5rem;
			}
	}
	&-features {
		@include flex();
		align-items: flex-start;

		& .delivery-feature {
			& + .delivery-feature {
				margin-left: 5rem;
			}
		}
	}
	&-feature {
		@include flex(auto);
		align-items: flex-start;
			&__icon {
				width: auto;
				margin-right: 2.5rem;
				padding-top: .9rem;
			}
			&__details {
				width: 100%;
				max-width: 33.5rem;
			}
			&__headline {
				margin-bottom: 0;
				@include font-size(1.8rem, 3.2rem);
			}

			& .i {
				&._delivery {
					@include size(9.5rem, 6.8rem);
				}
				&._package {
					@include size(6.8rem, 7.7rem);
				}
			}

		&--highlighted {
			.delivery-feature {
				&__headline {
					color: $colorRed;
				}
			}
		}
	}
	&-pick-point {
		width: 100%;
		@include font-size(1.8rem, multi(4));
		font-weight: $semibold;
			& p {
				@include inherit;
			}

			& .button {
				margin-top: multi(2);
			}
	}

	@include bp-tablet {
		&-features {
			display: block;

			& .delivery-feature {
				& + .delivery-feature {
					margin-top: 2.4rem;
					margin-left: 0;
				}
			}
		}
		&-feature {
			&__icon {
				width: 9.5rem;
				margin-right: 1.6rem;
			}

			& .i {
				@include auto;
			}
		}
	}
	@include bp-tabletXS {
		&-office {
			margin-top: .8rem;
			margin-bottom: .8rem;
				&__headline {
					@include font-size(1.4rem, 2.4rem);
				}
				& .button {
					margin-top: .8rem;
					&--m {
						height: 4.8rem;
					}
				}
		}
		&-section {
			&__header {
				display: block;
					& .select {
						margin-top: .8rem;
					}
					& .delivery-section__headline {
						width: 100%;
						max-width: 100%;
					}
			}
			&__headline,
			h5 {
				margin-bottom: 1.3rem;
				@include font-size();
			}

			& + .delivery-section {
				margin-top: 2.2rem;
			}
		}
		&-feature {
			align-items: center;
				&__icon {
					width: 6.1rem;
					margin-right: 0;
					padding-top: 0;
				}
				&__details {
					width: calc(100% - 6.1rem);
					max-width: initial;
					padding-left: 1.6rem;
				}
				&__headline {
					margin-bottom: .4rem;
					font-size: 1.3rem;
					line-height: 1.8rem;
				}

			& .i {
				&._delivery {
					@include size(6.1rem, 4.3rem);
				}
				&._package {
					@include size(4.2rem, 4.9rem);
				}
			}
		}
		&-pick-point {
			@include font-size(1.4rem);
		}
	}
}