.faq {
	&-array {
		&__inside {
			margin-top: -#{multi(1)};
			column-count: 3;
			column-gap: 8rem;
		}

		& .button {
			min-width: 15.5rem;
			margin-top: 2.2rem;
			padding-left: multi(4);
			padding-right: multi(4);
		}
	}
	&-element {
		display: block;
		padding-top: multi(1);
		padding-bottom: multi(1);
		color: map-get($basic, theme);
		@include font-size(1.8rem, multi(4));
	}
	&-page {
		width: 100%;
		padding-top: 2.7rem;
		padding-bottom: multi(8);
			&__body {
				display: flex;
				align-items: flex-start;
			}
			&__aside {
				width: 24.8rem;
				flex-shrink: 0;
			}
			&__content {
				width: 100%;
				padding-left: multi(4);
				flex-shrink: 1;
			}
			&__header {
				width: 100%;
				margin-bottom: 6rem;
					& .breadcrumbs {
						margin-bottom: 0;
							&__element {
								margin-bottom: multi(1);
							}
					}
			}
			&__headline {
				margin-bottom: 0;
				&.h1 {
					line-height: multi(10);
				}

				& + .search-bar {
					margin-top: 1.8rem;
				}
			}
			&__brief {
				@include flex();
				align-items: center;
				margin-top: multi(2);
					&-row {
						@include flex(auto);
						align-items: center;
							& + .faq-page__brief-row {
								margin-left: multi(3);
							}
					}
					& + .search-bar {
						margin-top: 2.6rem;
					}
			}
			&__author {
				@include flex(auto);
				color: map-get($grey, color_2);
				@include font-size(1.4rem, multi(2));
					&-name {
						color: map-get($basic, primary);
						font-weight: $bold;
					}
					&-date {
						padding-left: multi(1);
						color: map-get($grey, color_2);
					}
			}
			&__useful {
				color: map-get($grey, color_2);
				@include font-size(1.4rem, multi(2));
					& + .like-dislike {
						margin-top: -.3rem;
						margin-left: multi(2);
					}
			}

			&__category {
				width: 100%;
				@include align_c;
					&-icon {
						@include size(15.1rem, 11rem);
						@include auto;
							& .i,
							& svg {
								display: block;
								@include hundred;
							}
							& img {
								max-width: 15.1rem;
								max-height: 11rem;
							}
					}
					&-headline {
						max-width: 22rem;
						margin: 2.2rem auto .2rem;
						@include font-size(multi(3), multi(4));
						font-weight: $semibold;
					}
					&-link {
						@include font-size(1.8rem, multi(4));
					}

					& + .faq-page__section {
						margin-top: 4.2rem;
					}

					&--mobile {
						display: none;
					}
					&--desktop {}
			}
			&__section {
				width: 100%;
					&-headline {
						&.h2 {
							margin-top: 0;
							margin-bottom: 3.8rem;
						}
					}
			}

		&--detail {
			.faq-page {
				&__aside {
					width: 32.6rem;
				}
				&__content {
					padding-left: 5.2rem;
				}
				&__header {
					margin-bottom: 5rem;
				}
			}
		}

		& .pagination-wrapper {
			margin-top: 3.6rem;
		}
	}
	&-list {
		width: 100%;
			&__headline {
				&.h2 {
					margin-top: 0;
					margin-bottom: multi(8);
				}
			}
	}
	&-components {
		width: 100%;
		max-width: calc(100% - 24.2rem);
			& .search-bar {
				margin-bottom: multi(4);
			}
			& .faq-component {
				&:first-child {
					padding-top: 0;
					border-top: 0;
				}
				&:last-child {
					border-bottom: 0;
				}
			}
	}
	&-component {
		width: 100%;
		padding-top: multi(4);
		padding-bottom: multi(2);
		border-top: .1rem solid map-get($grey, color_5);
		border-bottom: .1rem solid map-get($grey, color_5);
			& .faq-question {
				& + .faq-answer {
					margin-top: 3.4rem;
				}
			}
			& .faq-answer {
				& + .faq-answer {
					margin-top: multi(1);
						&--dark {
							margin-top: multi(5);
								& + .faq-answer--dark {
									margin-top: multi(1);
								}
						}
				}
			}
			& .search-bar {
				display: none;
			}
			& .load-more {
				&__element {
					margin-top: multi(1);
				}
				& .faq-answer {
					margin-top: 0;
				}
			}

			&--expanded {
				& .search-bar {
					display: flex;
					margin-top: multi(4);
				}
			}

			& + .faq-component {
				border-top: 0;
			}
	}
	&-question {
		width: 100%;
		&__headline {
			@include font-size(multi(3), multi(4));
			font-weight: $semibold;
				& a {
					@include inherit;
						&:hover {
							color: map-get($basic, theme);
						}
				}
		}
		&__footer {
			@include flex();
			align-items: center;
			justify-content: space-between;
			margin-top: 1.2rem;
				&-row {
					@include flex(auto);
					align-items: center;
						&:first-child {
							& > *:not(:last-child) {
								margin-right: multi(3);
							}
						}

				}
		}
		&__author {
			@include flex(auto);
			color: map-get($grey, color_2);
			@include font-size(1.4rem, multi(2));
				&-name {
					color: map-get($basic, primary);
					font-weight: $bold;
				}
				&-date {
					padding-left: multi(1);
					color: map-get($grey, color_2);
				}
		}
		&__answers,
		&__useful,
		&__control {
			color: map-get($grey, color_2);
			@include font-size(1.4rem, multi(2));
		}
		&__useful {
			& + .like-dislike {
				margin-top: -.3rem;
				margin-left: multi(2);
			}
		}
		&__control {
			background: transparent;
			appearance: none;
		}
	}
	&-question-mini {
		width: 100%;
		padding-bottom: 2.8rem;
		border-bottom: .1rem solid map-get($grey, color_5);
			&__headline {
				color: map-get($basic, primary);
				@include font-size(1.8rem, multi(4));
					& a {
						@include inherit;
							&:hover {
								color: map-get($basic, theme);
							}
					}
			}
			&__footer {
				@include flex();
				align-items: center;
				justify-content: space-between;
				margin-top: 2rem;
					&-row {
						@include flex(auto);
						align-items: center;
					}
			}
			&__answer,
			&__useful {
				color: map-get($grey, color_2);
				@include font-size(1.4rem, multi(2));
			}
			&__useful {
				& + .like-dislike {
					margin-top: -.3rem;
					margin-left: 1rem;
				}
			}

			& + .faq-question-mini {
				margin-top: 2.6rem;
			}
	}
	&-answer {
		width: 100%;
			&__headline {
				@include font-size(1.8rem, multi(4));
			}
			&__footer {
				@include flex();
				align-items: center;
				justify-content: space-between;
				margin-top: 1rem;
					&-row {
						@include flex(auto);
						align-items: center;
							&:first-child {
								& > *:not(:last-child) {
									margin-right: multi(3);
								}
							}
					}
			}
			&__author {
				@include flex(auto);
				align-items: center;
				color: map-get($grey, color_2);
				@include font-size(1.4rem, multi(2));
				&-name {
					display: flex;
					align-items: center;
					color: map-get($basic, primary);
					font-weight: $bold;

					&--company {
						font-size: 0;
						&::before {
							content: '';
							@include iblock(middle);
							@include size(6.2rem, multi(2));
							background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 60 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.73145 3.04688V11.3525H6.49316V3.04688H8.55078V11.3525H11.2852V3.04688H13.3359V13H1.67383V3.04688H3.73145ZM21.416 13H19.4336V7.20312H16.959V13H14.9834V5.60352H21.416V13ZM27.3838 5.60352H29.3594V13H27.3838V8.43359L24.9092 13H22.9268V5.60352H24.9092V10.1631L27.3838 5.60352ZM34.7119 9.53418H30.8633V7.94141H34.7119V9.53418ZM36.4277 13V5.60352H39.5176C40.5247 5.60352 41.2972 5.78125 41.835 6.13672C42.3727 6.49219 42.6416 7.0026 42.6416 7.66797C42.6416 8.00977 42.5277 8.31738 42.2998 8.59082C42.0765 8.8597 41.7484 9.06706 41.3154 9.21289C41.8441 9.31315 42.2588 9.51139 42.5596 9.80762C42.8649 10.0993 43.0176 10.4593 43.0176 10.8877C43.0176 11.5758 42.7578 12.0999 42.2383 12.46C41.7233 12.82 40.9736 13 39.9893 13H36.4277ZM38.4033 9.93066V11.4209H39.9961C40.6934 11.4209 41.042 11.1771 41.042 10.6895C41.042 10.1927 40.7093 9.93978 40.0439 9.93066H38.4033ZM38.4033 8.60449H39.627C40.3197 8.59538 40.666 8.37207 40.666 7.93457C40.666 7.66569 40.5703 7.47428 40.3789 7.36035C40.1921 7.24642 39.9049 7.18945 39.5176 7.18945H38.4033V8.60449ZM48.6846 5.60352H50.6602V13H48.6846V8.43359L46.21 13H44.2275V5.60352H46.21V10.1631L48.6846 5.60352Z' fill='%239E42DC'/%3E%3Cpath d='M55.1414 9.05381C53.9637 8.31314 53.2692 7.21549 52.9715 6.11902C52.7865 5.43825 52.7544 4.75451 52.8548 4.15439C52.9616 3.51335 53.2207 2.95355 53.6082 2.56632C53.966 2.20933 54.4212 2 54.9581 2C56.0711 2 56.7241 2.82546 56.9681 3.6616C57.1332 3.63255 57.3071 3.61416 57.4816 3.61416C57.7974 3.61416 58.1218 3.67228 58.4154 3.82587C58.7335 3.9925 59.0002 4.25876 59.1618 4.66438C59.261 4.91285 59.3182 5.20994 59.3182 5.56337C59.3182 6.81284 58.451 7.14907 57.5026 7.51674C56.8729 7.76046 56.1889 8.02613 56.0174 8.70631C55.9386 9.02119 55.624 9.21155 55.3141 9.13149C55.2511 9.11489 55.1933 9.0882 55.1414 9.05381ZM54.0839 5.80651C54.263 6.46593 54.6313 7.12654 55.2213 7.65609C55.6713 6.9688 56.4043 6.68475 57.0912 6.41849C57.6497 6.20204 58.1604 6.00398 58.1604 5.56397C58.1604 5.36768 58.1347 5.21824 58.0897 5.10617C58.0431 4.98875 57.9707 4.91403 57.8861 4.87015C57.7769 4.81322 57.6334 4.79128 57.4816 4.79128C57.2068 4.79128 56.9301 4.86303 56.741 4.93775C56.6675 4.97215 56.5858 4.99112 56.4994 4.99112C56.1796 4.99112 55.9205 4.72783 55.9205 4.40286C55.9205 3.89288 55.6164 3.17712 54.9581 3.17712C54.7428 3.17712 54.5607 3.26073 54.4177 3.40305C54.2064 3.61357 54.0611 3.94743 53.9946 4.34771C53.9211 4.78891 53.9456 5.29593 54.0839 5.80651Z' fill='%23D996FF'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
							background-size: cover;
						}
					}
				}
				&-date {
					padding-left: multi(1);
				}
				&-respond {
					display: flex;
					width: auto;
					align-items: center;
					padding-left: .4rem;
					color: map-get($grey, color_2);
					font-weight: $regular;
						&::after {
							content: '';
							@include iblock(middle);
							@include size(6.2rem, multi(2));
							margin-top: -.3rem;
							margin-left: .4rem;
							background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 60 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.73145 3.04688V11.3525H6.49316V3.04688H8.55078V11.3525H11.2852V3.04688H13.3359V13H1.67383V3.04688H3.73145ZM21.416 13H19.4336V7.20312H16.959V13H14.9834V5.60352H21.416V13ZM27.3838 5.60352H29.3594V13H27.3838V8.43359L24.9092 13H22.9268V5.60352H24.9092V10.1631L27.3838 5.60352ZM34.7119 9.53418H30.8633V7.94141H34.7119V9.53418ZM36.4277 13V5.60352H39.5176C40.5247 5.60352 41.2972 5.78125 41.835 6.13672C42.3727 6.49219 42.6416 7.0026 42.6416 7.66797C42.6416 8.00977 42.5277 8.31738 42.2998 8.59082C42.0765 8.8597 41.7484 9.06706 41.3154 9.21289C41.8441 9.31315 42.2588 9.51139 42.5596 9.80762C42.8649 10.0993 43.0176 10.4593 43.0176 10.8877C43.0176 11.5758 42.7578 12.0999 42.2383 12.46C41.7233 12.82 40.9736 13 39.9893 13H36.4277ZM38.4033 9.93066V11.4209H39.9961C40.6934 11.4209 41.042 11.1771 41.042 10.6895C41.042 10.1927 40.7093 9.93978 40.0439 9.93066H38.4033ZM38.4033 8.60449H39.627C40.3197 8.59538 40.666 8.37207 40.666 7.93457C40.666 7.66569 40.5703 7.47428 40.3789 7.36035C40.1921 7.24642 39.9049 7.18945 39.5176 7.18945H38.4033V8.60449ZM48.6846 5.60352H50.6602V13H48.6846V8.43359L46.21 13H44.2275V5.60352H46.21V10.1631L48.6846 5.60352Z' fill='%239E42DC'/%3E%3Cpath d='M55.1414 9.05381C53.9637 8.31314 53.2692 7.21549 52.9715 6.11902C52.7865 5.43825 52.7544 4.75451 52.8548 4.15439C52.9616 3.51335 53.2207 2.95355 53.6082 2.56632C53.966 2.20933 54.4212 2 54.9581 2C56.0711 2 56.7241 2.82546 56.9681 3.6616C57.1332 3.63255 57.3071 3.61416 57.4816 3.61416C57.7974 3.61416 58.1218 3.67228 58.4154 3.82587C58.7335 3.9925 59.0002 4.25876 59.1618 4.66438C59.261 4.91285 59.3182 5.20994 59.3182 5.56337C59.3182 6.81284 58.451 7.14907 57.5026 7.51674C56.8729 7.76046 56.1889 8.02613 56.0174 8.70631C55.9386 9.02119 55.624 9.21155 55.3141 9.13149C55.2511 9.11489 55.1933 9.0882 55.1414 9.05381ZM54.0839 5.80651C54.263 6.46593 54.6313 7.12654 55.2213 7.65609C55.6713 6.9688 56.4043 6.68475 57.0912 6.41849C57.6497 6.20204 58.1604 6.00398 58.1604 5.56397C58.1604 5.36768 58.1347 5.21824 58.0897 5.10617C58.0431 4.98875 57.9707 4.91403 57.8861 4.87015C57.7769 4.81322 57.6334 4.79128 57.4816 4.79128C57.2068 4.79128 56.9301 4.86303 56.741 4.93775C56.6675 4.97215 56.5858 4.99112 56.4994 4.99112C56.1796 4.99112 55.9205 4.72783 55.9205 4.40286C55.9205 3.89288 55.6164 3.17712 54.9581 3.17712C54.7428 3.17712 54.5607 3.26073 54.4177 3.40305C54.2064 3.61357 54.0611 3.94743 53.9946 4.34771C53.9211 4.78891 53.9456 5.29593 54.0839 5.80651Z' fill='%23D996FF'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
							background-size: cover;
						}
				}
			}
			&__answers,
			&__useful,
			&__control {
				color: map-get($grey, color_2);
				@include font-size(1.4rem, multi(2));
			}
			&__useful {
				& + .like-dislike {
					margin-top: -.3rem;
					margin-left: multi(2);
				}
			}
			&__control {
				background: transparent;
				appearance: none;
		}

		&--dark {
			padding: multi(4) multi(4) 2.8rem;
			background-color: map-get($grey, color_14);
			@include radius(1rem);
		}
	}

	@include bp-desktopXS {
		&-array {
			&__inside {
				column-count: 2;
				//column-gap: 4rem;
			}
		}
	}
	@include bp-tablet {
		&-array {
			& .button {
				width: 100%;
			}
		}
		&-page {
			&__body {
				flex-wrap: wrap;
			}
			&__content {
				padding-left: 0;
				order: -1;
			}
			&__aside {
				width: 100%;
			}
			&__category {
				position: relative;
				min-height: multi(10);
				margin-top: 2.8rem;
				padding-left: 10.4rem;
				@include align_l;
					&-icon {
						position: absolute;
						top: 0;
						left: 0;
						width: multi(10);
						height: multi(10);
					}
					&-headline {
						max-width: 100%;
						margin-top: 0;
						margin-left: 0;
						margin-right: 0;
					}

					&--mobile {
						display: block;
					}
					&--desktop {
						display: none;
					}

				& + .faq-page__section {
					margin-top: multi(3);
				}
			}
			&__section {
				position: relative;
				@include outbox('true');
				padding-top: multi(6);
				overflow: hidden;
					&::before {
						content: '';
						position: absolute;
						top: 0;
						left: -.2rem;
						display: block;
						@include size(calc(100% + .4rem), multi(2));
						background-color: map-get($grey, color_0);
					}
			}

			&--detail {
				.faq-page {
					&__aside {
						width: 100%;
					}
					&__content {
						padding-left:0;
					}
				}
			}
		}
		&-components {
			max-width: 100%;
			& .search-bar {
				margin-bottom: multi(3);
			}
		}
	}
	@include bp-tabletXS {
		&-array {
			&__inside {
				margin-top: 0;
				column-count: initial;
				column-gap: initial;
			}
			& .button {
				height: multi(5);
			}
			&.load-more {
				.load-more__element {
					&--hidden {
						height: 0;
						opacity: 0;
						overflow: hidden;
					}
					& + .load-more__element {
						margin-top: multi(1);
					}
				}
			}
		}
		&-element {
			padding-top: 0;
			padding-bottom: 0;
			@include font-size();
		}
		&-page {
			padding-top: 0;
			padding-bottom: 0;
				&__header {
					margin-bottom: multi(5);
				}
				&__headline {
					&.h1 {
						@include font-size(3.6rem, multi(5));
					}

					& + .search-bar {
						margin-top: multi(3);
					}
				}
				&__category {
					margin-top: 1rem;
					margin-bottom: multi(3);
						&-icon {
							position: absolute;
							top: 0;
							left: 0;
							width: multi(10);
							height: multi(10);
						}
						&-headline {
							margin-bottom: .2rem;
							@include font-size(1.8rem, multi(3));
						}
						&-link {
							@include font-size(1.3rem, multi(3));
						}
				}
				&__brief {
					display: block;
						&-row {
							width: 100%;
								& + .faq-page__brief-row {
									margin-top: multi(2);
									margin-left: 0;
								}
						}
				}
				&__author,
				&__useful {
					@include font-size(1.2rem, multi(2));
				}

			& .pagination-wrapper {
				margin-top: multi(2);
			}

			&--detail {
				.faq-page {
					&__header {
						margin-bottom: multi(5);
					}
				}
			}
			&__section {
				padding-top: multi(3);
					&::before {
						height: multi(1);
					}

					&-headline {
						@include outbox('true');
						padding-bottom: multi(2);
						font-size: multi(3);
						border-bottom: .1rem solid map-get($grey, color_0);
						&.h2 {
							margin-bottom: multi(3);
						}
					}
			}
		}
		&-list {
			&__headline {
				&.h2 {
					margin-bottom: multi(2);
					font-size: multi(3);
				}
			}
		}
		&-component {
			@include outbox('true');
			padding-top: 2.2rem;
				& .faq-question  {
					& + .faq-answer {
						margin-top: multi(3);
					}
				}

			&--expanded {
				& .search-bar {
					display: block;
					margin-top: multi(3);
				}
			}
		}
		&-question {
			&__headline {
				@include font-size(1.8rem, multi(3));
			}
			&__footer {
				display: block;
				margin-top: 1.4rem;
					&-row {
						position: relative;
						width: 100%;
							&:not(:last-child) {
								margin-bottom: multi(2);
							}
							&:nth-child(2) {
								justify-content: flex-end;
							}
					}
			}
			&__author,
			&__answers,
			&__control,
			&__useful {
				@include font-size(1.2rem, multi(2));
			}
			&__control {
				position: absolute;
				top: 3.5rem;
				left: 0;
				z-index: 2;
			}
			&__useful {
				&  + .like-dislike {
					margin-left: 1rem;
				}
			}
		}
		&-question-mini {
			@include outbox('true');
			padding-bottom: multi(3);
				&__headline {
					@include font-size();
				}
				&__answer,
				&__useful {
					@include font-size(1.2rem, multi(2));
				}

			& + .faq-question-mini {
				margin-top: multi(3);
			}
		}
		&-answer {
			&__headline {
				@include font-size();
			}
			&__footer {
				display: block;
				margin-top: 1.4rem;
					&-row {
						position: relative;
						width: 100%;
						&:not(:last-child) {
							margin-bottom: multi(2);
						}
						&:nth-child(2) {
							justify-content: flex-end;
						}
					}
			}
			&__author,
			&__control {
				@include font-size(1.2rem, multi(2));
			}
			&__control {
				position: absolute;
				top: 3.5rem;
				left: 0;
				z-index: 2;
			}

			&--dark {
				padding: multi(2);
			}
		}
	}
}