.news {
	&-page {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		@include font-size(1.8rem, 3.2rem);

		&__body {
			width: calc(100% - 36.5rem);
			padding-right: 6rem;
			@include offsets-reset;

				& .catalog-array {
					&__element {
						width: calc(33.33% - 2.4rem);

						& .product-element {
							&__details,
							&__control {
								padding-left: 2rem;
								padding-right: 2rem;
							}
							&__control {
								justify-content: space-between;
							}
						}
					}
				}
		}
		&__aside {
			width: 36.5rem;
		}
		&__date {
			display: block;
			width: 100%;
			margin-bottom: 4.4rem;
			color: map-get($grey, color_2);
			@include font-size(1.4rem, 3.2rem);
		}
		&__section {
			width: 100%;
				&-headline {
					margin-bottom: 1rem;
					color: $colorBlack;
					@include font-size(1.8rem, 3.2rem);
				}
				&--bordered {
					.news-page__section-headline {
						padding-bottom: .6rem;
						border-bottom: .1rem solid map-get($grey, color_5);
					}
				}

				& + .news-page__section {
					margin-top: 4.4rem;
				}
		}

		& p {
			max-width: 87rem;
			@include inherit;
				&:empty {
					display: none;
				}
		}
		& h2, h3, h4 {
			max-width: 87rem;
		}
		& h2 {
			margin-top: 5rem;
			margin-bottom: 3rem;
			line-height: 4.8rem;
		}
		& h3 {
			max-width: 76.5rem;
			margin-top: 4rem;
			margin-bottom: 2.4rem;
		}
		& h2 {
			margin-top: 3rem;
			margin-bottom: 2rem;
		}
		& table {
			margin-top: 4.8rem;
		}

		& .h-thumbs-gallery {
			margin-top: 6rem;
		}
	}
	&-array {
		margin-top: -1.2rem;
		margin-bottom: -1.2rem;
			&__element {
				margin-top: 1.2rem;
				margin-bottom: 1.2rem;
			}

			&--w-100 {
				width: 100%;
				margin-top: 0;
				margin-bottom: 0;
			}

			& .news-item + .news-item {
				margin-top: .8rem;
			}
	}
	&-element {
		@include hundred;
		min-height: 41rem; //44.8rem
		background: $colorWhite;
		@include radius($radius);
		overflow: hidden;
			&__link {
				position: relative;
				@include link(100%);
				color: map-get($basic, primary);
			}
			&__image {
				position: relative;
				width: 100%;
				height: 0;
				padding-bottom: 57%;
				overflow: hidden;
					&::before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						display: block;
						@include hundred;
						background: rgba(map-get($basic, theme), .05);
						z-index: 1;
					}
					img {
						position: absolute;
						top: 0;
						left: 0;
						@include hundred;
						object-fit: cover;
						object-position: center top;
					}
			}
			&__headline {
				position: absolute;
				top: 50%;
				left: 2.5rem;
				width: 100%;
				max-width: 22rem;
				margin-bottom: 0;
				@include font-size(2.4rem, 3.2rem);
				will-change: transform;
				transform: translateY(-50%);
				z-index: 3;
			}
			&__details {
				padding: 2.5rem 3.2rem 7rem;
			}
			&__preview {
				@include font-size(1.8rem, 3.2rem);
					p {
						@include inherit;
					}
			}
			&__label {
				position: absolute;
				left: 3.2rem;
				bottom: 2rem;
				color: map-get($grey, color_2);
				@include font-size(1.4rem, 3.2rem);
				@include upp;
				z-index: 1;
			}

		&--video {
			min-height: initial;
			border: .1rem solid map-get($grey, color_6);
				.news-element {
					&__image {
						img {
							object-position: center center;
						}
					}
				}
		}
	}
	&-item {
		width: 100%;
		background: $colorWhite;
		@include radius($radius);
		overflow: hidden;
			&__link {
				@include flex();
				color: $colorBlack;
			}
			&__image {
				position: relative;
				width: 16rem;
					img {
						position: absolute;
						top: 0;
						left: 0;
						@include hundred;
						object-fit: cover;
						object-position: center top;
					}
			}
			&__details {
				width: calc(100% - 16rem);
				padding: 4.4rem 5.4rem;
			}
			&__headline {
				margin-bottom: 0;
				color: inherit;
				font-family: $font;
				@include font-size(2.4rem, 4rem);
				font-weight: normal;
			}
			&__date {
				color: map-get($grey, color_2);
				@include font-size(1.4rem 3.2rem);
				letter-spacing: .05rem;
				@include upp;
			}
	}
	&-column {
		width: 100%;
		margin-top: 4.2rem;

		& .news-entry {
			& + .news-entry {
				margin-top: 2.8rem;
			}
		}
	}
	&-entry {
		@include link();
		color: $colorBlack;
		@include font-size(1.8rem, 3.2rem);
			&__date {
				display: block;
				color: map-get($grey, color_2);
				font-size: 1.4rem;
				@include upp;
			}
			&:hover {
				color: map-get($basic, theme);
			}
	}

	@include bp-desktopXS {
		&-page {
			&__body {
				width: calc(100% - 28rem);
				padding-right: 3rem;

				& .catalog-array {
					width: calc(100% + #{multi(1)});
					margin-left: -.4rem;
					margin-right: -.4rem;
					&__element {
						width: calc(33.33% - #{multi(1)});
						margin-left: .4rem;
						margin-right: .4rem;

						& .product-element {
							&__details,
							&__control {
								padding-left: 2rem;
								padding-right: 2rem;
							}
							&__control {
								justify-content: space-between;
							}
							&__status {
								margin-left: .4rem;
							}

							& .button {
								font-size: 1.2rem;
							}
						}
					}
				}
			}
			&__aside {
				width: 28rem;
			}
		}
	}
	@include bp-tablet {
		&-page {
			&__body,
			&__aside {
				width: 100%;
			}
			&__body {
				padding-right: 0;

					& .catalog-array {
						&__element {
							width: calc(33.33% - 1.2rem);
							margin-left: .6rem;
							margin-right: .6rem;
						}
					}
			}
			&__aside {
				margin-top: 3.2rem;
			}
		}
	}
	@include bp-tabletXS {
		&-page {
			@include font-size(1.4rem, 2.4rem);

			&__body {
				& .catalog-array {
					&__element {
						width: calc(50% - #{multi(1)});
						margin-left: .4rem;
						margin-right: .4rem;
					}
				}
			}
			&__date {
				display: none;
			}

			& table {
				margin-top: 2.4rem;
			}

			& .h-thumbs-gallery {
				margin-top: 3rem;
			}
		}
		&-array {
			margin-top: 0;
			margin-bottom: 0;
			padding-bottom: 4.8rem;
			&__element {
				margin-top: 0;
				margin-bottom: 0;
					&:not(:last-child) {
						margin-bottom: 1.6rem;
					}
			}
		}
		&-element {
			min-height: initial;
				&__image {
					padding-bottom: 58%;
				}
				&__headline {
					left: 1.6rem;
					max-width: 15rem;
					@include font-size(1.8rem, 2.4rem);
				}
				&__details {
					padding: $gutter 1.6rem;
				}
				&__preview {
					@include font-size(1.4rem ,2.4rem);
						& p {
							@include align_l;
						}
				}
				&__label {
					position: static;
					left: auto;
					bottom: auto;
					margin-top: .8rem;
					@include font-size(1.2rem, 2.4rem);
				}
		}
		&-item {
			&__image {
				display: none;
			}
			&__details {
				position: relative;
				width: 100%;
				padding: 3.2rem 1.8rem 5.6rem;
			}
			&__headline {
				min-height: 4.8rem;
				@include font-size();
			}
			&__date {
				position: absolute;
				left: 1.8rem;
				bottom: 2.2rem;
				@include font-size(1.4rem, 3.2rem);
			}
		}
		&-column {
			margin-top: 2.4rem;

			& .news-entry {
				& + .news-entry {
					margin-top: 1.6rem;
				}
			}
		}
		&-entry {
			@include font-size(1.4rem, 2.4rem);
		}
	}
}