.order {
	&-page {
		width: 100%;
		&__body {
			& .h-100 {
				height: 100%;
					& .block-underlay {
						height: 100%;
					}
			}
		}
		&__section {
			width: 100%;
				& + .order-page__section {
					margin-top: 5.2rem;
				}
		}
		&__footer {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			margin-top: multi(5);
				&--end {
					justify-content: flex-end;
				}
				&-control {
					width: auto;
					@include align_r;
						& .button {
							& + p {
								margin-top: multi(2);
							}
						}
				}

				& .button {
					padding-left: multi(5);
					padding-right: multi(5);
				}
		}

		& .block-underlay:not(:last-child) {
			margin-bottom: multi(3);
				& + .block-underlay {
					margin-top: 0;
				}
		}
	}
	&-delivery {
		@include flex();
		align-items: center;
		justify-content: center;
		@include font-size();
			&__icon {
				@include flex(5.6rem);
				height: 5.6rem;
				align-items: center;
				justify-content: center;
				border: .1rem solid map-get($grey, color_5);
				@include round;
			}
			&__value {
				width: calc(100% - 5.6rem);
				max-width: 21.5rem;
				padding-left: 1.6rem;
			}
			&__highlighted {
				color: $colorGreen;
				font-weight: $bold;
			}
			.i {
				@include size(2.4rem ,2.4rem);
				fill: map-get($grey, color_5);
			}

			& + .button {
				margin-top: 2rem;
			}
	}
	&-promo {
		@include flex();
		height: 5.6rem;

		&__input {
			width: calc(100% - 16rem);
			height: 100%;
			padding-left: 1.8rem;
			padding-right: 1.8rem;
			background-color: $colorWhite;
			@include font-size();
			border: .1rem solid map-get($grey, color_0);
			border-right: 0;
			@include radius($radius 0 0 $radius);
			caret-color: map-get($basic, theme);
			outline: 0;
			appearance: none;
				&::-webkit-input-placeholder {
					color: map-get($grey, color_2);
				}
				&::-moz-placeholder {
					color: map-get($grey, color_2);
				}
				&:-ms-input-placeholder {
					color: map-get($grey, color_2);
				}
				&:-moz-placeholder {
					color: map-get($grey, color_2);
				}

				&:focus {
					&::-webkit-input-placeholder {
						color: transparent;
					}
					&::-moz-placeholder {
						color: transparent;
					}
					&:-ms-input-placeholder {
						color: transparent;
					}
					&:-moz-placeholder {
						color: transparent;
					}
				}
		}
		&__submit {
			@include flex(16rem);
			height: 100%;
			align-items: center;
			justify-content: center;
			color: map-get($basic, primary);
			@include font-size(1.8rem, 1.6rem);
			font-weight: $semibold;
			@include align_c;
			background: map-get($grey, color_0);
			@include radius(0 $radius $radius 0);
			@include smooth(.2s);
				&:hover {
					color: $colorWhite;
					background: map-get($basic, theme);
				}
		}
		&__error {
			display: none;
			width: 100%;
			margin-top: .8rem;
			color: $colorRed;
			@include font-size(1.1rem, 1.6rem);
		}

		&._not-empty {
			.order-promo {
				&__input {
					border-color: map-get($basic, theme);
				}
				&__submit {
					color: $colorWhite;
					background: $gradient;
				}
			}
		}
		&._error {
			.order-promo {
				&__input {
					border-color: $colorRed;
				}
				&__error {
					display: block;
				}
			}
		}

		& + .order-delivery {
			margin-top: 3.2rem;
		}
	}
	&-addon {
		@include flex();
		align-items: flex-end;
			&__headline {
				margin-bottom: .8rem;
				font-family: $font;
				@include font-size(1.8rem);
				font-weight: $bold;
			}

			& .select {
				max-width: 19rem;
				& + .select {
					margin-left: .8rem;
				}
			}
			& .input + .input {
				margin-left: .8rem;
			}
	}
	&-header {
		@include flex();
		align-items: center;
		margin-bottom: 5rem;

		& .control + .control {
			margin-left: 2.4rem;
		}
	}
	&-ready {
		//padding-top: 14.4rem;
		//padding-bottom: 19rem;
		padding-top: 4rem;
		padding-bottom: 6rem;
			&__header {
				width: 100%;
				margin-bottom: 2.4rem;
				@include align_c;
			}
			&__headline {
				margin-bottom: 2.6rem;
				@include font-size(4.8rem, 6.4rem)
			}
			&__message {
				@include font-size(1.8rem, 3.2rem);
					p {
						@include auto;
						@include inherit;
					}
			}
			&__no  {
				@include auto;
				@include font-size(2.4rem, 6.4rem);
				font-weight: $bold;
					&-element {
						@include inherit;
					}
			}
			&__array {
				width: 100%;
				max-width: 92rem;
				@include auto;
				padding: 4rem 4.8rem;
				background: $colorWhite;
				@include radius($radius);
			}
			&__element {
				@include flex();
				align-items: center;
				padding-top: .7rem;
				padding-bottom: .7rem;
				color: $colorBlack;
				@include font-size();
					&-image {
						@include flex(12rem);
						height: 12rem;
						align-items: center;
						justify-content: center;
							img {
								max-height: 12rem;
							}

					}
					&-details {
						@include flex(calc(100% - 12rem));
						align-items: center;
						justify-content: space-between;
						padding-left: 1.6rem;
					}
					&-headline {
						max-width: calc(100% - 15rem);
						@include inherit;
					}
					&-pricing {
						@include flex();
						max-width: 14rem;
						align-items: center;
						justify-content: flex-end;
						color: map-get($basic, primary);
						@include align_r;
						&-current {
							display: block;
							width: 100%;
							color: inherit;
							@include font-size(2.2rem, 1.6rem);
							font-weight: 700;
						}
						&-old {
							position: relative;
							margin-top: 1.2rem;
							margin-left: .6rem;
							color: map-get($grey, color_2);
							@include font-size(1.2rem, 1.6rem);
								&::before {
									content: '';
									position: absolute;
									top: 50%;
									left: 0;
									display: block;
									@include size(100%, .1rem);
									background: $colorRed;
									z-index: 1;
								}
						}
						&-discount {
							margin-top: 1.2rem;
							margin-left: .4rem;
							padding: .3rem .4rem;
							color: $colorWhite;
							@include font-size(.8rem, .8rem);
							font-weight: 500;
							background-color: $colorRed;
							@include radius(.2rem);
						}

						&--discount {
							color: $colorRed;
						}
					}

					& + .order-ready__element {
						border-top: .1rem solid map-get($grey, color_5);
					}
			}
	}
	&-array {
		width: 100%;
		margin-top: .8rem;
			& > *:not(:last-child) {
				margin-bottom: .8rem;
			}
	}
	&-element {
		position: relative;
		padding: 3.6rem 6.4rem 4rem 4.8rem;
		background: $colorWhite;
		@include radius($radius);
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				right: 0;
				display: block;
				width: 20rem;
				height: 29rem;
				background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
				background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
				background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
				pointer-events: none;
				z-index: 1;
			}
			&__link {
				position: relative;
				@include link();
				padding-bottom: 17rem;
				color: map-get($basic, primary);
				z-index: 1;
			}
			&__header {
				@include flex();
				align-items: center;
				justify-content: space-between;
				margin-bottom: 2.4rem;
				padding-bottom: 1.95rem;
				border-bottom: .1rem solid map-get($grey, color_7);
			}
			&__headline  {
				width: auto;
				margin-bottom: 0;
					&:first-letter {
						@include upp;
					}
			}
			&__price {
				font-family: $font2;
				@include font-size(3.6rem, 3.2rem);
				font-weight: $bold;
			}
			&__array {
				position: absolute;
				bottom: 4rem;
				left: 4.8rem;
				//width: calc(100% - 11.2rem);
				width: 100%;
				max-width: 785px;
				padding-bottom: 1rem;
				font-size: 0;
				white-space: nowrap;
				overflow: hidden;
				z-index: 1;
					& > * {
						&:not(:last-child) {
							margin-right: 2rem;
						}
					}
			}
			&__product {
				display: inline-flex;
				width: 12.8rem;
				height: 12.8rem;
				align-items: center;
				justify-content: center;
				flex-wrap: wrap;
				color: map-get($basic, primary);
					&-image {
						display: flex;
						@include hundred;
						align-items: center;
						justify-content: center;
							img {
								max-width: 12rem;
								max-height: 12rem;
								will-change: transform;
								@include smooth(.6s);
							}
					}
					&-details {
						width: calc(100% - 12.8rem);
						padding-left: 3rem;
					}
					&-headline {
						color: $colorBlack;
						@include font-size();
					}
					&-price {
						margin-top: 1rem;
						@include font-size(1.8rem, 1.6rem);
						font-weight: $bold;
					}
					&-vendor {
						margin-bottom: .5rem;
						color: map-get($grey, color_2);
						@include font-size(1.2rem, 1.6rem);
					}

					&--full {
						@include size(100%, auto);
						padding-top: 1.6rem;
						padding-bottom: 1.6rem;
						border-top: .1rem solid map-get($grey, color_7);
							.order-element__product-image {
								@include size(12.8rem, 12.8rem);
							}
							&:hover {
								.order-element__product-image {
									img {
										transform: scale(1.04);
									}
								}
							}
					}
			}
			&__props {
				@include flex();
				align-items: flex-end;
					&-list {
						width: calc(100% - 15rem);
					}
					&-control {
						width: 15rem;
						padding-bottom: .6rem;
					}

				& + .order-element__product {
					margin-top: 3rem;
				}
			}
			&__prop {
				color: $colorBlack;
				@include font-size(1.8rem, 3.2rem);
					&-label {
						color: map-get($grey, color_2);
					}
					& + .order-element__prop {
						margin-top: 1.6rem;
					}
			}

			&--detail {
				&::after {
					display: none;
				}
			}

			& .order-status {
				margin-bottom: 1.5rem;
			}
			& .breadcrumbs {
				margin-bottom: 3.6rem;
			}
	}
	&-status {
		@include flex();
		align-items: flex-start;
		color: $colorBlack;
		@include font-size(1.8rem, 3.2rem);
			&__marker {
				padding: 1.2rem 1.6rem;
				@include font-size(1.6rem, 1.6rem);
				font-weight: $semibold;
				@include radius($radius);
			}
			&__address {
				max-width: calc(100% - 11.5rem);
				padding-top: .4rem;
				padding-left: 1.6rem;
			}

			&--green {
				.order-status__marker {
					color: $colorGreen;
					background: $colorLightGreen;
				}
			}
			&--red {
				.order-status__marker {
					color: $colorRed;
					background: $colorLightRed;
				}
			}
	}
	&-agreement {
		width: 100%;
		margin-top: 1.8rem;
		@include font-size(1.2rem, multi(2));
		@include align_c;
			& p {
				@include inherit;
			}
			& a {
				border-bottom: .1rem dotted map-get($basic, theme);
					&:hover {
						border-bottom-color: transparent;
					}
			}
	}

	&-breadcrumbs {
		@include flex();
		margin-bottom: 3rem;
			&__element {
				position: relative;
				color: map-get($grey, color_2);
				@include font-size(1.8rem, multi(4));
					&:not(:last-child) {
						&::after {
							content: '';
							position: absolute;
							top: multi(1);
							right: -2rem;
							display: block;
							@include size(multi(1), 1.5rem);
							background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 8 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 14.0206C-0.0976311 13.6301 -0.0976312 12.9969 0.292893 12.6064L5.58579 7.31348L0.292893 2.02058C-0.0976317 1.63006 -0.0976317 0.996894 0.292893 0.60637C0.683417 0.215845 1.31658 0.215845 1.70711 0.60637L7.70711 6.60637C8.09763 6.99689 8.09763 7.63006 7.70711 8.02058L1.70711 14.0206C1.31658 14.4111 0.683418 14.4111 0.292893 14.0206Z' fill='%23757575'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
							background-size: cover;
						}
					}
					& + .order-breadcrumbs__element {
						margin-left: multi(4);
					}

					&--current {
						color: map-get($basic, themeSecondary);
							&:not(:last-child) {
								&::after {
									background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 8 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 14.0206C-0.0976311 13.6301 -0.0976312 12.9969 0.292893 12.6064L5.58579 7.31348L0.292893 2.02058C-0.0976317 1.63006 -0.0976317 0.996894 0.292893 0.60637C0.683417 0.215845 1.31658 0.215845 1.70711 0.60637L7.70711 6.60637C8.09763 6.99689 8.09763 7.63006 7.70711 8.02058L1.70711 14.0206C1.31658 14.4111 0.683418 14.4111 0.292893 14.0206Z' fill='%234F24F0'/%3E%3C/svg%3E%0A");
								}
							}
					}
			}
	}

	@include media(1300px) {
		&-element {
			&__array {
				max-width: 730px;
			}
		}
	}
	@include bp-desktopXS {
		&-page {
			&__body {
				& + .order-page__aside {
					margin-top: 1.2rem;
				}

				& .h-100 {
					height: auto;
					& .block-underlay {
						height: auto;
					}
				}
			}

			& .block-underlay:not(:last-child) {
				margin-bottom: 1.2rem;
			}
		}
		&-element {
			&__array {
				max-width: 595px;
				padding-right: 3rem;
			}
		}
	}
	@include bp-tablet {
		&-element {
			padding: 2.8rem 1.6rem;
				&::after {
					width: 10rem;
				}
				&__array {
					left: 0;
					max-width: 100%;
					padding-left: 1.6rem;
					padding-right: 1.6rem;
				}
		}
	}
	@include bp-tabletXS {
		&-page {
			&__body {
				& + .order-page__aside {
					margin-top: multi(1)
				}
			}
			&__section {
				& + .order-page__section {
					margin-top: multi(4);
				}
			}
			&__footer {
				display: none;
			}

			& .block-underlay:not(:last-child) {
				margin-bottom: multi(1);
			}
		}
		&-delivery {
			&__value {
				@include font-size(1.4rem)
			}
		}
		&-promo {
			height: 4.8rem;
				&__input {
					width: calc(100% - 12.8rem);
				}
				&__submit {
					width: 12.8rem;
				}
		}
		&-header {
			display: block;
			margin-bottom: 2.2rem;

			& .control {
				display: block;
				width: 100%;
					& + .control {
						margin-top: 1.6rem;
						margin-left: 0;
					}
			}
		}
		&-addon {
			& .select {
				max-width: 100%;
				& + .select {
					margin-top: $gutter;
					margin-left: 0;
				}
			}
			& .input + .input {
				margin-top: 1.6rem;
				margin-left: 0;
			}
		}
		&-ready {
			padding-top: 1.6rem; //3.2rem
			padding-bottom: 0;
				&__header {
					margin-bottom: 2.6rem;
					@include align_l;
				}
				&__headline {
					margin-bottom: 1.6rem;
					@include font-size(3.6rem, 4rem)
				}
				&__message {
					@include font-size(1.3rem, 2.4rem);
					p {
						@include inherit;
					}
				}
				&__no  {
					@include font-size(1.8rem, 2.4rem);
					&-element {
						display: block;
							&:not(:last-child) {
								margin-bottom: .5rem;
							}
					}
				}
				&__array {
					@include outbox;
					padding: 1.6rem;
					@include radius(0);
						& > *:not(:first-child) {
							margin-top: 1.6rem;
							padding-top: 1.6rem;
						}
				}
				&__element {
					padding-top: 0;
					padding-bottom: 0;
						&-image {
							@include size(9.6rem, 9.6rem);
								img {
									max-height: 9.6rem;
								}
						}
						&-details {
							display: block;
							width: calc(100% - 9.6rem);
							padding-left: .8rem;
						}
						&-headline {
							max-width: 100%;
							@include font-size(1.1rem, 1.6rem);
						}
						&-pricing {
							max-width: 100%;
							margin-top: .7rem;
							justify-content: flex-start;
							@include align_l;
								&-current {
									width: auto;
									@include font-size(1.6rem, 1.6rem)
								}
								&-old {
									margin-top: 0;
									margin-left: .8rem;
									@include font-size(1.2rem, 1.6rem);
								}
								&-discount {
									margin-top: 0;
									margin-left: -.4rem;
									@include font-size(.8rem, .8rem);
								}
						}
				}
		}
		&-element {
			position: relative;
			@include outbox;
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;
			@include radius(0);
				&::after {
					@include size(8rem, 14rem);
				}
				&--detail {
					&::after {
						display: none;
					}
				}

				&__link {
					padding-bottom: 7rem;
				}
				&__header {
					position: relative;
					margin-bottom: 1.2rem;
					padding-bottom: .6rem;
					z-index: 3;
				}
				&__headline,
				&__price {
					@include font-size(1.4rem, 2.4rem);
				}
				&__array {
					bottom: 0;
					padding: 0 0 1rem 1.6rem;
						& > * {
							margin-top: 0;
							&:not(:last-child) {
								margin-bottom: .4rem;
							}
						}
				}
				&__product {
					display: inline-flex;
					@include size(6.4rem, 6.4rem);
						&-image {
							img {
								max-width: 6rem;
								max-height: 6rem;
							}
						}
						&-details {
							width: calc(100% - 6.4rem);
							padding-left: .8rem;
						}
						&-headline {
							@include font-size(1.1rem, 1.6rem);
						}
						&-price {
							margin-top: 0;
							@include font-size(1.1rem, 1.6rem);
						}
						&-vendor {
							@include font-size(1rem, 1.2rem);
						}

						&--full {
							display: flex;
							@include size(100%, auto);
							padding-top: .8rem;
							padding-bottom: .8rem;
								.order-element__product-image {
									@include size(6.4rem, 6.4rem);
								}
						}
				}
				&__props {
					display: block;
						&-list,
						&-control {
							width: 100%;
						}
						&-control {
							margin-top: $gutter;
							padding-bottom: 0;
						}
					& + .order-element__product {
						margin-top: 1.6rem;
					}
				}
				&__prop {
					@include font-size(1.3rem, 2.4rem);
					& + .order-element__prop {
						margin-top: .5rem;
					}
				}
		}
		&-status {
			display: block;
			font-size: 0;
			@include outbox;
			padding-left: 1.6rem;
			padding-right: 4.6rem;
			white-space: nowrap;
			overflow: auto;
			@include touch-scroll;
				&__marker,
				&__address {
					@include iblock(middle);
				}
				&__marker {
					padding: .4rem .8rem;
					@include font-size(1.3rem, 1.6rem);
					@include radius(.4rem);
				}
				&__address {
					max-width: initial;
					padding-top: 0;
					padding-left: .8rem;
					@include font-size(1rem, 1.6rem);
				}
		}
		&-breadcrumbs {
			margin-bottom: multi(2);
			&__element {
				@include font-size(1.4rem, multi(3));
					&:not(:last-child) {
						&::after {
							top: .6rem;
							right: -1.4rem;
							display: block;
							@include size(.5rem, 1rem);
						}
					}
					& + .order-breadcrumbs__element {
						margin-left: 2.2rem;
					}
			}
		}
		&-agreement {
			margin-top: 1.3rem;
			@include align_l;
		}
	}
}