.payment {
	&-array {
		@include flex(calc(100% + 1.2rem));
		margin: -1.2rem;

		& .payment-element {
			margin: 1.2rem;
		}
	}
	&-element {
		position: relative;
		@include link();
		width: 33rem;
		padding: 6.4rem 2.4rem 2.4rem;
		color: map-get($grey, color_2);
		border: .1rem solid map-get($grey, color_5);
		@include radius($radius);
			&__headline {
				margin-bottom: .8rem;
				color: $colorBlack;
				@include font-size(2.4rem, 3.2rem);
			}

			& .i {
				position: absolute;
				top: 2.6rem;
				right: 2.6rem;
				pointer-events: none;
					&._debit {
						@include size(82px, 64px);
					}
					&._cash {
						@include size(59px, 69px);
					}
					&._payment-systems {
						position: static;
						@include size(26.7rem, 1.8rem);
					}
			}
	}

	@include bp-tablet {
		&-element {
			& .i {
				&._debit {
					@include size(8.2rem, 6.4rem);
				}
				&._cash {
					@include size(5.9rem, 6.9rem);
				}
			}
		}
	}
	@include bp-tabletXS {
		&-array {
			display: block;
			width: 100%;
			margin: 0;

			& .payment-element {
				margin: 0;
					&:not(:last-child) {
						margin-bottom: 1.6rem;
					}
			}
		}
		&-element {
			position: relative;
			width: 100%;
			padding:5rem 2rem 1.6rem;
			&__headline {
				margin-bottom: .6rem;
				font-size: 2rem;
			}

			& .i {
				position: absolute;
				top: 2.2rem;
				right: 2.2rem;
				pointer-events: none;
					&._payment-systems {
						@include size(23.7rem, 1.6rem);
					}
			}
		}
	}
}