.product {
	&-page {
		width: 100%;
		padding-top: 2.4rem;
		padding-bottom: 5rem;
			& .block-underlay + .block-underlay {
				margin-top: 1.6rem;
			}

	}
	&-array {
		margin-top: -1.2rem;
		margin-bottom: -1.2rem;
		&__element {
			margin-top: 1.2rem;
			margin-bottom: 1.2rem;
		}

		& + .quiz-banner {
			margin-top: 6.4rem;
		}
	}
	&-element {
		position: relative;
		@include hundred;
		min-height: 41.6rem;
		padding-bottom: 9.2rem;
		background: $colorWhite;
		@include radius($radius);
		border: .1rem solid map-get($grey, color_5);
			&__link {
				@include link(100%);
				overflow: hidden;
			}
			&__image {
				@include flex();
				height: 23rem;// 22.4rem;
				align-items: center;
				justify-content: center;
				@include radius($radius);
				overflow: hidden;
					img {
						max-height: 21rem;
						@include radius($radius);
						will-change: transform;
						@include smooth(.6s);

							&.scaled {
								transform: scale(.9);
							}
					}
			}
			&__details {
				position: relative;
				padding-left: 3.2rem;
				padding-right: 3.2rem;
				z-index: 1;
			}
			&__pricing {
				@include flex();
				align-items: center;
				color: map-get($basic, primary);
					&-current {
						color: inherit;
						@include font-size(2.2rem, 1.6rem);
						font-weight: 700;
					}
					&-old {
						position: relative;
						margin-top: .2rem;
						margin-left: multi(1);
						color: map-get($grey, color_2);
						@include font-size(1.4rem, multi(2));
							&::before {
								content: '';
								position: absolute;
								top: 50%;
								left: 0;
								display: block;
								@include size(100%, .1rem);
								background: $colorRed;
								z-index: 1;
							}
					}
					&-discount {
						display: flex;
						@include size(auto, 1.8rem);
						align-items: center;
						justify-content: center;
						margin-left: multi(1);
						padding: .1rem .4rem 0;
						color: $colorWhite;
						@include font-size(1.2rem, 1.2rem);
						font-weight: 500;
						background-color: $colorRed;
						@include radius(.2rem);
					}

					&--discount {
						color: $colorRed;
					}
			}
			&__headline {
				@include line-clamp(3);
				margin-top: multi(1);// 1.4rem;
				margin-bottom: 0;
				color: $colorBlack;
				font-family: $font2;
				@include font-size();
				font-weight: normal;
			}
			&__control {
				position: absolute;
				left: 0;
				bottom: 0;
				@include flex();
				align-items: center;
				padding: 0 multi(4) multi(4);
					&-button {}
					&-link {
						display: none;
					}

					& .button--grey {
						color: map-get($basic, theme);
							&:hover {
								color: $colorWhite;
							}
					}
			}
			&__remove {
				position: absolute;
				top: 3.4rem;
				right: 0;
				@include flex(3.2rem);
				height: 3.2rem;
				align-items: center;
				justify-content: center;
				background: $colorWhite;
				border: .1rem solid map-get($grey, color_5);
				@include round;
				z-index: 1;
					.i {
						@include size(1.4rem, 1.3rem);
						fill: none;
						stroke: $colorRed;
					}
			}
			&__vendor {
				margin-top: .5rem;
				color: map-get($grey, color_2);
				@include font-size(1.2rem, 1.6rem);
			}
			&__preview {
				position: absolute;
				top: 0;
				left: 0;
				@include flex();
				height: 22.4rem;
				align-items: center;
				justify-content: center;
				opacity: 0;
				pointer-events: none;
				visibility: hidden;
				@include smooth(.3s);
				z-index: 2;

					& .button {
						&--grey {
							color: map-get($basic, theme);
								&:hover {
									color: $colorWhite;
								}
						}
					}
			}
			&__colors {
				@include flex(calc(100% + .8rem));
				align-items: center;
				margin: .5rem -.4rem -.4rem;
					& .product-element__color {
						margin: $gridBase;
					}
			}
			&__color {
				@include size(14px, 14px);
				background-size: cover;
				background-repeat: no-repeat;
				@include round;
				overflow: hidden;
					&--light {
						border: .1rem solid map-get($grey, color_10);
					}
			}
			//defaults === sizes
			&__defaults {
				@include flex(calc(100% + .4rem));
				align-items: center;
				margin: .25rem -.2rem -.25rem;
					& .product-element__default {
						margin: .25rem .2rem;
					}
			}
			&__default {
				padding: .3rem .8rem .5rem;
				color: $colorBlack;
				@include font-size(1.2rem, 1.6rem);
				border: .1rem solid map-get($grey, color_5);
				@include radius(#{$radius / 2});
			}

			&__status {
				@include flex(auto);
				height: multi(5);
				align-items: center;
				justify-content: center;
				@include font-size(1.2rem, multi(2));
					&--in-stock {
						margin-left: multi(2);
						color: map-get($basic, primary);
							&::before {
								content: '';
								display: block;
								margin-right: .6rem;
								@include size(1.2rem, .9rem);
								background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4.6L4.2 7.8L11 1' stroke='%2327AE60' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") center center no-repeat;
								background-size: contain;
							}
					}
					&--out-of-stock {
						color: map-get($grey, color_2);
					}
			}

		&:hover {
			.product-element {
				&__image {
					img {
						transform: scale(1.1);
						&.scaled {
							transform: scale(.95);
						}
					}
				}
				&__preview {
					opacity: 1;
					visibility: visible;
						& .button {
							pointer-events: all;
						}
				}
			}
		}
		&._in-cart {
			.product-element {
				&__link {
					opacity: .5;
				}
				&__control {
					&-button {
						display: none;
					}
					&-link {
						display: inline-flex;
							&:hover {
								color: map-get($basic, theme);
								background: map-get($grey, color_0);
								border-color: map-get($grey, color_0);
									& .i {
										fill: map-get($basic, theme);
									}
							}
					}
				}
			}
		}
		&--comparison {
			min-height: initial;
			padding-bottom: 0;
			border: 0;
				.product-element {
					&__image {
						height: 24.4rem;
					}
					&__details {
						padding-left: 0;
						padding-right: 0;
					}
					&__control {
						display: none;
					}
				}

			& .product-label,
			& .product-favourites {
				display: none;
			}
		}

		&--no-rating {
			min-height: 39.6rem;
			& .rating {
				display: none;
			}
		}

		& .product-label {
			position: absolute;
			top: -.1rem;
			left: -.1rem;
			z-index: 2;
		}
		& .product-favourites,
		& .product-comparison {
			position: absolute;
			right: 1.2rem;
			@include size(4.8rem, 4rem);
			justify-content: center;
			z-index: 2;
		}
		& .product-favourites {
			top: 1rem;
		}
		& .product-comparison {
			top: 5.5rem;
		}
		& .rating {
			align-items: center;
			margin-top: multi(1);
		}
	}
	&-favourites {
		@include flex();
		align-items: center;
			.i {
				@include size(2.4rem, 2.1rem);
				fill: none;
				stroke-width: .2rem;
				stroke : map-get($grey, color_8);
				@include smooth(.1s);
			}
			&__label {
				display: block;
				margin-left: .8rem;
				//padding-top: .2rem;
				color: map-get($grey, color_2);
				@include font-size(1.4rem, multi(3));
			}
			&._active {
				.i {
					fill: $colorRed;
					stroke: $colorRed;
				}
			}
	}
	&-comparison {
		@include flex(auto);
		align-items: center;
			&__label {
				display: block;
				margin-left: .8rem;
				//padding-top: .3rem;
				color: map-get($grey, color_2);
				@include font-size(1.4rem, multi(3));
			}
			.i {
				@include size(1.7rem, 1.8rem);
				filL: none;
				stroke: map-get($grey, color_8);
			}
			&._active {
				.i {
					stroke: $colorRed;
				}
			}
	}
	&-filter {
		@include flex();
		align-items: center;
		justify-content: space-between;
		margin-bottom: 2.6rem;
		background: $colorWhite;
			&-control {
				@include flex(auto);
				height: 4rem;
				align-items: center;
				@include font-size();
				color: map-get($grey, color_2);
					.i {
						@include size(2.4rem, 2rem);
						margin-right: 1rem;
						fill: map-get($basic, theme);
					}
			}
			&-sort {
				position: relative;
				z-index: 3;
					&__value {
						position: relative;
						@include flex();
						height: 4rem;
						align-items: center;
						color: map-get($basic, theme);
						@include font-size();
						pointer-events: none;
						cursor: default;
						z-index: 2;
							.i {
								@include size(2.9rem, 1.5rem);
								margin-right: .8rem;
								stroke: map-get($basic, theme);
								fill: none;
							}
					}
					&__dropdown {
						position: absolute;
						top: -2rem;
						left: -3rem;
						width: 26rem;
						height: 0;
						padding-top: 6rem;
						padding-bottom: 1.6rem;
						background: $colorWhite;
						@include radius($radius);
						@include shadow();
						opacity: 0;
						pointer-events: none;
						overflow: hidden;
						transition: opacity .2s linear;
						z-index: 1;
					}
					&__element {
						@include link();
						padding: 1.3rem 1.6rem 1.3rem 6.5rem;
						color: map-get($grey, color_2);
						@include font-size();
						cursor: pointer;
							&:hover {
								background: rgba(map-get($grey, color_1), .05);
							}
					}
					&:hover {
						.product-filter-sort__dropdown {
							height: auto;
							opacity: 1;
							pointer-events: all;

						}
					}
			}
	}

	&-card {
		position: relative;
		@include flex();
		align-items: flex-start;
		justify-content: space-between;
			&__image {
				width: 52rem;// 58.5rem;
			}
			&__details {
				width: calc(100% - 52rem);
				padding-top: .6rem;
				padding-left: 2.2rem;
			}
			&__header  {
				@include flex();
				align-items: center;
				margin-bottom: 2rem;
			}
			&__headline {
				width: 100%;
				margin: 1.4rem 0 0;
				padding-right: 2rem;
				@include font-size(3.6rem, multi(5));
			}
			&__features {
				@include flex();
				align-items: flex-start;
					& > * {
						margin-top: multi(2);
						&:not(:last-child) {
							margin-right: 2.4rem;
						}
					}
			}
			&__article {
				margin-bottom: -.4rem;
				color: map-get($grey, color_2);
				@include font-size(1.4rem);
			}
			&__description {
				width: 100%;
				@include font-size(1.8rem, multi(4));
					& p {
						@include inherit;
					}
			}
			&__data {
				display: flex;
				width: 100%;
				margin-top: 2.7rem;
			}
			&__group {
				position: relative;
				width: 100%;
				padding-bottom: 7.6rem;
				&--props {
					width: 37rem;
					flex-shrink: 0;
					padding-right: multi(4);
					border-right: .1rem solid map-get($grey, color_5);
				}
				&--advantages {
					flex-shrink: 1;
					padding-top: .6rem;
					padding-left: multi(5);
				}
			}
			&__footer {
				width: 100%;
				margin-top: 3.8rem;

				&._in-cart {
					.product-card {
						&__controls {
							&-button {
								display: none;
							}
							&-link {
								display: inline-flex;
									&:hover {
										color: map-get($basic, primary);
										background: map-get($grey, color_0);
										border-color: map-get($grey, color_0);
											& .i {
												fill: map-get($basic, theme);
											}
									}
							}
						}
					}
				}
			}
			&__pricing {
				@include flex();
				align-items: flex-end;
				color: map-get($basic, primary);
					&-current {
						color: inherit;
						@include font-size(2.4rem, 1.6rem);
						font-weight: 700;
					}
					&-old {
						position: relative;
						margin-left: 1.4rem;
						color: map-get($grey, color_2);
						@include font-size(1.8rem, 1.6rem);
						&::before {
							content: '';
							position: absolute;
							top: 50%;
							left: 0;
							display: block;
							@include size(100%, .1rem);
							background: $colorRed;
							z-index: 1;
						}
					}
					&-discount {
						display: flex;
						@include size(auto, 1.8rem);
						align-items: center;
						justify-content: center;
						margin-left: multi(1);
						padding: .1rem .4rem 0;
						color: $colorWhite;
						@include font-size(1.2rem, 1.2rem);
						font-weight: 500;
						background-color: $colorRed;
						@include radius(.2rem);
					}

					&--discount {
						color: $colorRed;
					}
			}
			&__controls {
				position: absolute;
				left: 0;
				bottom: 0;
				@include flex();
				align-items: center;
				//margin-top: 2.8rem;

				&-button {
					display: inline-flex;
				}
				&-link {
					display: none;
				}

				& .button {
					&:not(:last-child) {
						margin-right: multi(1);
					}
					/*& + .button {
						margin-left: multi(1);
					}*/
				}
				& .product-card__message {
					margin-left: 4rem;
				}
			}
			&__message {
				max-width: 15rem; //13rem
				@include font-size(1.4rem);
					&-highlighted {
						color: $colorGreen;
					}
			}

			//for modal preview
			&--preview {
				padding: 4.8rem;
			}

			& .breadcrumbs {
				margin-bottom: 2rem;
			}
			& .product-property + .product-property {
				margin-top: multi(2);
			}
			& .product-favourites {
				width: auto;
			}
	}
	&-labels {
		@include flex();
		align-items: flex-start;;
	}
	&-label {
		display: block;
		padding: .4rem multi(1);
		@include font-size(1.2rem, 1.6rem);
		font-weight: 700;
		@include upp;
		@include radius($radius 0);
			&--green {
				color: $colorWhite;
				background: $colorGreen;
			}
			&--red {
				color: $colorWhite;
				background: $colorRed;
			}
			&--yellow {
				color: $colorWhite;
				background: $colorYellow2;
			}
			&:not(:last-child) {
				margin-right: .8rem;
			}
	}
	&-property {
		@include flex();
		align-items: flex-start;
			&__label {
				width: multi(6);
				padding-top: .5rem;
				color: map-get($grey, color_2);
				@include font-size(1.4rem);
			}
			&__values {
				width: calc(100% - #{multi(6)});
				padding-left: 1rem;
				font-size: 0;
			}

			& .color-control + .color-control,
			& .default-control + .default-control {
				margin-left: .8rem;
			}
	}
	&-description {
		@include flex();
		align-items: flex-start;
			&__body {
				width: calc(100% - 40.8rem);
				padding-right: 6.4rem;
			}
			&__image {
				width: 40.8rem;
				overflow: hidden;
			}

			&--questions {
				.promo-section {
					justify-content: flex-end;
				}
			}
	}
	&-feature {
		position: relative;
		@include flex();
		align-items: flex-start;
		justify-content: space-between;
		color: $colorBlack;
			&::before {
				content: '';
				position: absolute;
				top: 2rem;
				left: 0;
				//bottom: 1rem;
				display: block;
				@include size(100%, .1rem);
				background: url("data:image/svg+xml,%3Csvg width='4' height='1.092' fill='none' version='1.1' viewBox='0 0 4 1.092' xmlns='http://www.w3.org/2000/svg' xmlns:cc='http://creativecommons.org/ns%23' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Cpath d='m0.016949 0.518c0-0.13067 0.046666-0.24733 0.14-0.35 0.10267-0.112 0.24267-0.168 0.42-0.168 0.15867 0 0.28933 0.056 0.392 0.168 0.112 0.10267 0.168 0.21933 0.168 0.35 0 0.15867-0.05133 0.294-0.154 0.406-0.09333 0.112-0.22867 0.168-0.406 0.168s-0.31733-0.05133-0.42-0.154c-0.093334-0.112-0.14-0.252-0.14-0.42z' fill='%23000'/%3E%3C/svg%3E") 0 0 repeat-x;
				opacity: .3;
				z-index: 0;
			}
			&__label,
			&__value {
				@include font-size(1.8rem, 3.2rem);
					& span {
						position: relative;
						background: $colorWhite;
						z-index: 1;
					}
			}
			&__label {
				color: map-get($grey, color_2);
					& span {
						padding-right: 1rem;
					}
			}
			&__value {
				max-width: 50%;
				@include align_r;
					& span {
						padding-left: 1rem;
					}
			}

		&--short {
			max-width: 82.6rem;
		}

		& + .product-feature {
			margin-top: 1.3rem;
		}
		& + .product-brief-rating {
			margin-top: 4.6rem;
		}
	}
	&-stock {
		@include flex();
		align-items: center;
		margin-top: 1.8rem;
		color: $colorBlack;
		@include font-size(1.4rem, multi(2));
			&::before {
				content: '';
				display: block;
				@include size(1.8rem, 1.8rem);
				margin-top: -.1rem;
				margin-right: .4rem;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
			}
			&--in {
				&::before {
					background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='9' r='9' fill='%2327AE60'/%3E%3Cpath d='M6 9.11765L7.88235 11L11.8824 7' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
				}
			}
			&--out {
				&::before {}
			}
	}
	&-brand {
		position: absolute;
		left: 0;
		bottom: .1rem;
		display: block;
		width: 100%;
		//margin-top: 3rem;
		padding-left: 4rem;
			& .i {
				display: block;
			}
	}
	&-advantages {
		width: 100%;
	}
	&-advantage {
		@include flex();
		align-items: center;
		color: $colorBlack;
		@include font-size(1.4rem, multi(2));
			& .i {
				@include size(multi(3), multi(3));
				margin-right: multi(1);
			}

			& + .product-advantage {
				margin-top: multi(1);
			}
	}

	&-carousel {
		position: relative;
		display: flex;
		width: calc(100% + #{multi(3)});
		margin-left: -1.2rem;
		margin-right: -1.2rem;
		overflow: hidden;
			&__element {
				width: calc(25% - #{multi(3)});
				height: initial;
				margin-left: 1.2rem;
				margin-right: 1.2rem;
				padding-bottom: .1rem;
			}
			&__arrow {
				position: absolute;
				top: 0;
				display: none;
				@include size(12rem, calc(100% - 4rem));
				align-items: center;
				padding-bottom: 6rem;
				cursor: pointer;
				@include smooth(.2s);
				z-index: 3;
					&::before {
						content: '';
						position: absolute;
						top: 0;
						display: block;
						@include hundred;
						z-index: 0;
					}
					&-marker {
						position: relative;
						@include flex(multi(8));
						height: multi(8);
						align-items: center;
						justify-content: center;
						background-color: map-get($basic, themeAlt2);
						@include round;
						z-index: 1;
							&::before {
								content: '';
								display: block;
								@include size(multi(3), multi(3));
								background-size: cover;
								background-position: center center;
								background-repeat: no-repeat;
							}
					}
					&--prev {
						left: 0;
						justify-content: flex-start;
							&::before {
								left: 0;
								background: -moz-linear-gradient(left,  rgba(255,255,255,1) 1%, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 85%, rgba(255,255,255,0) 100%);
								background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 1%,rgba(255,255,255,1) 20%,rgba(255,255,255,0) 85%,rgba(255,255,255,0) 100%);
								background: linear-gradient(to right,  rgba(255,255,255,1) 1%,rgba(255,255,255,1) 20%,rgba(255,255,255,0) 85%,rgba(255,255,255,0) 100%);
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
							}
							& .product-carousel__arrow-marker {
								&::before {
									background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31.494 31.494'%3E%3Cpath style='fill:%239E42DC;' d='M10.273,5.009c0.444-0.444,1.143-0.444,1.587,0c0.429,0.429,0.429,1.143,0,1.571l-8.047,8.047h26.554 c0.619,0,1.127,0.492,1.127,1.111c0,0.619-0.508,1.127-1.127,1.127H3.813l8.047,8.032c0.429,0.444,0.429,1.159,0,1.587 c-0.444,0.444-1.143,0.444-1.587,0l-9.952-9.952c-0.429-0.429-0.429-1.143,0-1.571L10.273,5.009z'/%3E%3C/svg%3E%0A");
								}
							}
					}
					&--next {
						right: 0;
						justify-content: flex-end;
							&::before {
								right: 0;
								background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 15%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 99%);
								background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 15%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 99%);
								background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 15%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 99%);
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
							}
							& .product-carousel__arrow-marker {
								&::before {
									background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31.49 31.49'%3E%3Cpath style='fill:%239E42DC;' d='M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111 C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587 c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z'/%3E%3C/svg%3E%0A");
								}
							}
					}

					&.swiper-button-disabled {
						opacity: 0;
						pointer-events: none;
						visibility: hidden;
					}
			}
			&__pagination {
				position: absolute;
				left: 0;
				display: none;
				width: 100%;
				@include align_c;
				z-index: 3;

				& .swiper-pagination-bullet {
					@include size(1.2rem, 1.2rem);
					margin: 0;
					background-color: rgba(map-get($basic, theme), .3);
					opacity: 1;
					outline: 0;
					@include smooth(.2s);
				}
				&.swiper-pagination-bullets {
					bottom: 0;
					& .swiper-pagination-bullet {
						margin: 0;
						& + .swiper-pagination-bullet {
							margin-left: multi(2);
						}
					}
					& .swiper-pagination-bullet-active {
						background-color: map-get($basic, theme);
					}
				}
			}

			&.swiper-container-initialized {
				display: block;
				width: 100%;
				margin-left: 0;
				margin-right: 0;
				padding-bottom: 4rem;

				.product-carousel {
					&__element {
						width: 100%;
						margin-left: 0;
						margin-right: 0;
					}
					&__arrow {
						display: flex;
					}
					&__pagination {
						display: block;
					}
				}
			}
	}
	&-carousel-autowidth {
		position: relative;
		display: flex;
		width: 100%;
		overflow: hidden;
			&__element {
				@include size(100%, initial);
				max-width: 17.8rem;
					&:not(:last-child) {
						margin-right: multi(3);
					}
			}
			&__arrow {
				position: absolute;
				top: 0;
				display: none;
				@include size(12rem, 100%);
				align-items: center;
				cursor: pointer;
				@include smooth(.2s);
				z-index: 3;
				&::before {
					content: '';
					position: absolute;
					top: 0;
					display: block;
					@include hundred;
					z-index: 0;
				}
					&-marker {
						position: relative;
						@include flex(multi(8));
						height: multi(8);
						align-items: center;
						justify-content: center;
						background-color: map-get($basic, themeAlt2);
						@include round;
						z-index: 1;
						&::before {
							content: '';
							display: block;
							@include size(multi(3), multi(3));
							background-size: cover;
							background-position: center center;
							background-repeat: no-repeat;
						}
					}
					&--prev {
						left: 0;
						justify-content: flex-start;
						&::before {
							left: 0;
							background: -moz-linear-gradient(left,  rgba(255,255,255,1) 1%, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 85%, rgba(255,255,255,0) 100%);
							background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 1%,rgba(255,255,255,1) 20%,rgba(255,255,255,0) 85%,rgba(255,255,255,0) 100%);
							background: linear-gradient(to right,  rgba(255,255,255,1) 1%,rgba(255,255,255,1) 20%,rgba(255,255,255,0) 85%,rgba(255,255,255,0) 100%);
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
						}
						& .product-carousel__arrow-marker {
							&::before {
								background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31.494 31.494'%3E%3Cpath style='fill:%239E42DC;' d='M10.273,5.009c0.444-0.444,1.143-0.444,1.587,0c0.429,0.429,0.429,1.143,0,1.571l-8.047,8.047h26.554 c0.619,0,1.127,0.492,1.127,1.111c0,0.619-0.508,1.127-1.127,1.127H3.813l8.047,8.032c0.429,0.444,0.429,1.159,0,1.587 c-0.444,0.444-1.143,0.444-1.587,0l-9.952-9.952c-0.429-0.429-0.429-1.143,0-1.571L10.273,5.009z'/%3E%3C/svg%3E%0A");
							}
						}
					}
					&--next {
						right: 0;
						justify-content: flex-end;
						&::before {
							right: 0;
							background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 15%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 99%);
							background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 15%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 99%);
							background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 15%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 99%);
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
						}
						& .product-carousel__arrow-marker {
							&::before {
								background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31.49 31.49'%3E%3Cpath style='fill:%239E42DC;' d='M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111 C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587 c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z'/%3E%3C/svg%3E%0A");
							}
						}
					}

					&.swiper-button-disabled {
						opacity: 0;
						pointer-events: none;
						visibility: hidden;
					}
			}
			&__pagination {
				display: none;
			}

			&.swiper-container-initialized {
				display: block;
				width: 100%;
				margin-left: 0;
				margin-right: 0;

				.product-carousel-autowidth {
					&__element {
						&:not(:last-child) {
							margin-right: 0;
						}
					}
					&__arrow {
						display: flex;
					}
				}
			}
	}
	&-item {
		position: relative;
		@include hundred;
			&__link {
				display: block;
				@include hundred;
			}
			&__image {
				display: flex;
				@include size(100%, 18.2rem);
				align-items: center;
				justify-content: center;
				overflow: hidden;
					& img {
						max-height: 18.2rem;
						@include radius($radius);
						will-change: transform;
						@include smooth(.6s);
					}
			}
			&__details {
				width: 100%;
				padding-top: 2.8rem;
			}
			&__pricing {
				@include flex();
				align-items: center;
				color: map-get($basic, primary);
				&-current {
					color: inherit;
					@include font-size(2.2rem, 1.6rem);
					font-weight: $bolder;
				}
				&-old {
					position: relative;
					margin-left: .6rem;
					color: map-get($grey, color_2);
					@include font-size(1.2rem, 1.6rem);
					&::before {
						content: '';
						position: absolute;
						top: 50%;
						left: 0;
						display: block;
						@include size(100%, .1rem);
						background: $colorRed;
						z-index: 1;
					}
				}
				&-discount {
					margin-left: .4rem;
					padding: .3rem .4rem;
					color: $colorWhite;
					@include font-size(.8rem, .8rem);
					font-weight: 500;
					background-color: $colorRed;
					@include radius(.2rem);
				}

				&--discount {
					color: $colorRed;
				}
			}
			&__headline {
				margin-top: 1.4rem;
				@include line-clamp(3);
				color: $colorBlack;
				@include font-size();
				font-weight: normal;
			}

		&:hover {
			.product-item {
				&__image {
					& img {
						transform: scale(1.1);
					}
				}
			}
		}
	}

	&-brief-rating {
		@include flex();
		align-items: center;
		color: map-get($grey, color_2);
		@include font-size(1.4rem, multi(2));
			&__label {
				color: inherit;
				@include font-size();
			}
			&__text {
				@include inherit;
			}

		& .rating {
			margin-top: -.2rem;
			margin-right: 1.2rem;
		}

		&--standalone {
			margin-bottom: multi(4);
		}
	}
	&-reviews-sidebar {
		width: 100%;
			&__company {
				display: block;
				margin-top: 3.8rem;
				color: map-get($grey, color_2);
				@include align_c;
					&-label {
						margin-top: multi(1);
						@include font-size(1.2rem, multi(2));
					}
					& .i {
						display: block;
						@include auto;
					}
			}

			& .rating {
				display: block;
				width: 100%;
				@include align_c;
					&-stars {
						@include auto;
					}
					&-description {
						width: 100%;
						margin-top: 1.8rem;
						margin-left: 0;
					}
			}
			& .button {
				margin-top: 2.2rem;
			}
	}

	@include bp-desktopXS {
		&-page {
			& .block-underlay {
				padding: 2.8rem 1.6rem;
			}
		}
		&-element {
			&__details,
			&__control {
				padding-left: 1.6rem;
				padding-right: 1.6rem;
			}
		}
		&-card {
			&__image {
				width: 43rem;
			}
			&__details {
				width: calc(100% - 43rem);
			}
		}
		&-carousel {
			&__element {
				width: calc(33.33% - #{multi(3)});
			}
		}
	}
	@include bp-tablet {
		&-element {
			padding-bottom: 10rem;
			&__preview {
				display: none;
			}
			&__color {
				@include size(1.6rem, 1.6rem);
			}
			&__control {
				padding-bottom: 1.2rem;
					& .button {
						width: 100%;
					}
			}
			&__status {
				@include size(100%, multi(4));
				margin-left: 0;
			}

			& .rating {
				&-description {
					margin-top: .2rem;
					font-size: 1.1rem;
				}
			}
			& .product-favourites,
			& .product-comparison {
				right: multi(1);
			}
		}
		&-card {
			display: block;
			background: transparent;
			&__image,
			&__details {
				width: 100%;
				padding: 2.8rem 1.6rem;
				background: $colorWhite;
				@include radius($radius);
			}
			&__details {
				max-width: 100%;
				margin-top: multi(2);
			}

			&.block-underlay {
				padding: 0;
			}
		}
		&-properties {
			&.block-underlay {}

			.product-description {
				&__body,
				&__image {
					padding: 0;
				}
				&__image {
					margin-top: multi(3);
				}
			}
		}
		&-description {
			display: block;
				&__body,
				&__image {
					width: 100%;
					padding: 1.6rem;
					background: $colorWhite;
					@include radius($radius)
				}
				&__image {
					margin-top: .8rem;
				}

			&--questions {
				.promo-section {
					justify-content: flex-start;
						&__row--video {
							@include size(23.2rem, 23.2rem);
						}
				}
			}
		}
		&-carousel {
			&__element {
				width: calc(33.33% - 1.2rem);
				margin-left: .6rem;
				margin-right: .6rem;
			}
		}
		&-reviews-sidebar {
			padding-top: multi(3);
			@include align_c;
			border-top: .1rem solid map-get($grey, color_5);
			& .button {
				&--w-100 {
					width: auto;
					padding-left: multi(4);
					padding-right: multi(4);
				}
			}
		}
		&-brand {
			bottom: .6rem;
		}
	}
	@include bp-tabletXS {
		&-array {
			margin-top: -.4rem;
			margin-bottom: -.4rem;
			padding-top: 1.6rem;
			&__element {
				margin-top: .4rem;
				margin-bottom: .4rem;
			}
			& + .quiz-banner {
				margin-top: 1.6rem;
			}
		}
		&-element {
			min-height: 26.8rem; //28.8
			padding-bottom: 7.6rem; //5.6rem;
			&__image {
				height: 14rem;
				img {
					@include hundred;
					object-fit: contain;
					object-position: center center;
						&.scaled {
							width: auto;
							max-width: 100%;
						}
				}
			}
			&__pricing {
				&-current {
					@include font-size(1.3rem, 1.6rem);
				}
				&-old {
					@include font-size(.9rem, 1.6rem);
					margin-top: 0;
				}
				&-discount {
					height: 1.2rem;
					margin-left: .6rem;
					padding: 0 .3rem;
					@include font-size(.6rem, .8rem);
				}
			}
			&__headline {
				margin-top: .8rem;
				@include font-size(1.1rem, 1.6rem);
			}
			&__details,
			&__control {
				padding-left: .8rem;
				padding-right: .8rem;
			}
			&__control {
				height: 6rem;
				align-items: flex-start;
				padding-bottom: .8rem;
					& .button {
						width: 100%;
							& + .product-element__status {
								height: auto;
								margin-top: .5rem;
							}
					}
			}
			&__remove {
				top: 1.5rem;
			}
			&__vendor {
				margin-top: .2rem;
				font-size: 1rem;
				line-height: 1.2rem;
			}
			&__colors {
				@include flex(calc(100% + .4rem));
				align-items: center;
				margin: .5rem -.2rem -.2rem;
				& .product-element__color {
					margin: .2rem;
				}
			}
			&__color {
				@include size(1rem, 1rem);
			}
			&__defaults {
				@include flex(calc(100% + .2rem));
				margin: .35rem -.1rem -.15rem;
				& .product-element__default {
					margin: .15rem .1rem;
				}
			}
			&__default {
				padding: .2rem .4rem;
				@include font-size(.8rem, 1.2rem);
			}
			&__status {
				@include font-size(1rem, multi(2));
			}

			&:hover {
				.product-element {
					&__image {
						img {
							transform: none;
						}
					}
				}
			}

			& .product-favourites,
			& .product-comparison {
				right: 0;
				@include size(3.3rem, 3.3rem);
			}
			& .product-favourites {
				top: 0;
				justify-content: center;
				z-index: 2;
			}
			& .product-comparison {
				top: 3.3rem;
					& .i {
						@include size(multi(2), 1.4rem);
					}
			}
			& .rating {
				margin-top: .4rem;
					&-stars {
						@include size(5rem, .8rem);
							&__element {
								@include size(.85rem, .8rem);
									&:not(:last-child) {
										margin-right: .15rem;
									}
							}
					}
					&-description {
						margin-top: 0;
						@include font-size(.8rem, 1);
					}
			}

			&--comparison {
				min-height: initial;
				padding-bottom: 0;
					.product-element {
						&__image {
							height: 14rem;
						}
					}

					& .rating {
						&-stars {
							@include size(5.5rem, .8rem);
							&__element {
								@include size(.9rem, .8rem);
							}
						}
						&-description {
							font-size: .8rem;
							line-height: 1;
						}
					}
			}
			&--no-rating {
				min-height: 26.8rem;
			}
		}
		&-favourites {
			.i {
				@include size(1.6rem, 1.4rem);
			}
		}
		&-filter {
			@include outbox;
			margin-bottom: .8rem;
			padding-left: 1.6rem;
			padding-right: 1.6rem;
			@include shadow();
				&-sort {
					height: 4.8rem;
					&__value,
					&__element {
						font-size: 1.3rem;
					}
					&__value {
						height: 100%;
					}
					&__element {
						padding: .8rem 1rem .8rem 4.5rem;
					}
					&__dropdown {
						top: 0;
						left: -1rem;
						width: 20rem;
						padding-top: 4.7rem;
						padding-bottom: 1rem;
					}
				}
				&-control {
					height: 4.8rem;
					font-size: 1.3rem;
				}
		}
		&-label {
			padding: .2rem .6rem;
			font-size: .8rem;
		}

		&-page {
			padding-top: 0;

			& .block-underlay {
				padding-top: 1.6rem;
				padding-bottom: 1.6rem;
					& + .block-underlay {
						margin-top: multi(1);
					}
			}
		}
		&-card {
			width: calc(100% + #{$gutter * 2});
				&__image,
				&__details {
					@include radius(0);
				}
				&__image {
					padding-bottom: 1.6rem;
				}
				&__details {
					margin-top: multi(1);
					padding-bottom: 0;
				}
				&__header {
					margin-bottom: 2.4rem;
				}
				&__headline {
					margin-top: 0;
					padding-right: 0;
						& br {
							display: none;
						}
				}
				&__article {
					margin-bottom: -.2rem;
					@include font-size(1.1rem, 1);
				}
				&__description {
					display: none;
				}
				&__footer {
					margin-top: 3.5rem;
				}
				&__pricing {
					justify-content: center;
					&-current {
						font-size: 2.2rem;
					}
					&-old {
						font-size: 1.4rem;
					}
					&-discount {
						height: 1.5rem;
						margin-left: multi(1);
						margin-bottom: .1rem;
						padding: 0 .3rem;
						@include font-size(1rem, 1rem);
					}
				}
				&__controls {
					position: static;
					justify-content: center;
					margin-top: 2.8rem;
					& .button {
						&--sm {
							height: multi(5);
						}
					}
					& .product-card__message {
						margin-top: 2rem;
						margin-left: 0;
					}
				}
				&__message {
					max-width: 100%;
					@include font-size(1.1rem,1.6rem);
					@include align_c;
				}
				&__data {
					display: block;
					margin-top: multi(4);
				}
				&__group {
					&--props {
						width: 100%;
						padding-right: 0;
						padding-bottom: multi(4);
						border-right: 0;
					}
					&--advantages {
						display: flex;
						@include outbox();
						align-items: flex-start;
						padding: multi(4) multi(2);
						border-top: multi(1) solid map-get($grey, color_0);

						& .product-advantages {
							flex-shrink: 1;
						}
						& .product-brand {
							display: flex;
							@include size(6rem, 6rem);
							align-items: center;
							justify-content: center;
							flex-shrink: 0;
							margin-top: 0;
								& .i {
									width: 100%;
								}
						}
					}
				}

			& .breadcrumbs {
				position: relative;
				margin-bottom: .6rem;
					&::after {
						content: '';
						position: absolute;
						top: -.8rem;
						right: -$gutter;
						display: block;
						@include size(3.6rem ,3.2rem);
						background: linear-gradient(270deg,$colorWhite 13.89%, rgba($colorWhite, 0) 74.07%);
						z-index: 1;
					}
			}
			& .product-labels {
				margin-bottom: multi(1);
			}
			& .product-favourites,
			& .product-comparison {
				position: absolute;
				right: 0;
				width: 5.5rem;
				height: 3.5rem;
				justify-content: center;
				margin-top: 0;
				margin-right: 0;
				z-index: 2;
					&__label {
						display: none;
					}
			}
			& .product-favourites {
				top: 2.5rem;
					.i {
						@include size(2.4rem, 2.1rem)
					}
			}
			& .product-comparison {
				top: 6rem;
			}
			& .rating--m {
				.rating {
					&-stars {
						@include size(7.5rem, 1.1rem);
						&__element {
							@include size(1.2rem, 1.1rem);
						}
					}
					&-description {
						margin-left: .6rem;
						@include font-size(1.1rem , 1);
					}
				}
			}
			&.block-underlay {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
		&-property {
			&__label {
				width: 4.2rem;
				@include font-size(1.2rem);
			}
			&__values {
				width: calc(100% - 4.2rem);
			}

			&--size {
				.product-property {
					&__label {
						padding-top: .5rem;
					}
				}
			}

			& .default-control + .default-control {
				margin-left: .6rem;
			}
		}
		&-properties {
			&.block-underlay {}
		}
		&-description {
			&__body,
			&__image {
				@include radius(0);
			}

			&--questions {
				width: calc(100% + 3rem);
				margin-left: -1.5rem;
				margin-right: -1.5rem;
				overflow: hidden;
				.product-description {
					&__body{
						padding: 0 multi(2);
					}
					&__image {
						position: relative;
						margin-top: 0;
						//margin-top: multi(3);
						padding: multi(4) multi(2) 0;
						overflow: initial;
							&::before {
								content: '';
								position: absolute;
								top: 0;
								left: -1.5rem;
								display: none;
								@include size(calc(100% + 3rem), multi(1));
								background: map-get($grey, color_0);
							}
					}
				}

				.promo-section {
					margin-bottom: 0;
				}
			}
		}
		&-feature {
			&::before {
				top: 1.5rem;
				//bottom: .8rem;
			}
			&__label,
			&__value {
				@include font-size(1.3rem);
			}
			&__label {
				max-width: 50%;
				color: map-get($grey, color_2);
				& span {
					padding-right: 1rem;
				}
			}

			& + .product-feature {
				margin-top: .5rem;
			}
		}
		&-stock {
			margin-top: 1rem;
			justify-content: center;
			font-size: 1.1rem;
				&::before {
					@include size(multi(2), multi(2));
					margin-top: -.2rem;
				}
		}
		&-advantage {
			font-size: 1.2rem;
		}
		&-brand {
			position: static;
			padding-left: 0;
		}

		&-carousel {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			overflow: visible;
				&__element {
					width: calc(46.57vw - .8rem);
					margin-left: 0;
					margin-right: 0;
						&:not(:last-child) {
							margin-right: multi(1);
						}
				}
				&__arrow {
					display: none;
				}
				&__pagination {
					& .swiper-pagination-bullet {
						@include size(multi(1), multi(1));
					}
					&.swiper-pagination-bullets {
						& .swiper-pagination-bullet {
							& + .swiper-pagination-bullet {
								margin-left: 1.2rem;
							}
						}
					}
				}

				&.swiper-container-initialized {
					.product-carousel {
						&__element {
							width: calc(46.57vw - #{multi(1)});
								&:not(:last-child) {
									margin-right: multi(1);
								}
						}
						&__arrow {
							display: none;
						}
					}
				}
		}
		&-carousel-autowidth {
			&__element {
				max-width: 14rem;
			}
			&__pagination {
				position: absolute;
				left: 0;
				justify-content: center;

					& .swiper-pagination-bullet {
						@include size(multi(1), multi(1));
						background-color: rgba(map-get($basic, theme), .3);
						opacity: 1;
					}
					& .swiper-pagination-bullet-active {
						background-color: map-get($basic, theme);
					}
			}
			&.swiper-container-initialized {
				@include outbox('true');
				padding-bottom: 2.8rem;
					.product-carousel-autowidth {
						&__arrow {
							display: none;
						}
						&__pagination {
							display: flex;
						}
					}
			}
			&.swiper-container-horizontal {
				& > .swiper-pagination-bullets {
					bottom: 0;
					& .swiper-pagination-bullet {
						margin: 0;
							&:not(:last-child) {
								margin-right: 1.2rem;
							}
					}
				}
			}
		}
		&-reviews-sidebar {
			padding-bottom: multi(1);
			& .rating {
				&-description {
					margin-top: multi(1);
					@include font-size(1.4rem);
				}

				&--l {
					.rating {
						&-stars {
							@include size(9rem, multi(2));
								&__element {
									@include size(multi(2), multi(2));
								}
						}
					}
				}
			}
			& .button {
				height: multi(6);
				margin-top: multi(2);
				font-size: 1.5rem;
			}
		}
		&-brief-rating {
			font-size: 1.2rem;
				&--standalone {
					display: block;
					margin-bottom: 2rem;

						& .rating {
							width: 100%;
							margin-bottom: 1.2rem;
						}
				}
		}

		&-item {
			&__image {
				height: 14rem;
					& img {
						max-height: 14rem;
					}
			}
			&__details {
				padding-top: multi(1);
			}
			&__pricing {
				&-current {
					@include font-size(1.3rem, multi(2));
				}
				&-old {
					@include font-size(.9rem, multi(2));
				}
				&-discount {
					display: flex;
					height: 1rem;
					align-items: center;
					justify-content: center;
					padding: 0 .2rem;
					font-size: .6rem;
				}
			}
			&__headline {
				margin-top: multi(1);
				padding-right: 2rem;
				@include font-size(1.1rem, multi(2));
			}
		}
	}
}