.profile {
	&-page {
		&__aside {}
		&__body {}

		& .block-underlay {
			&__header {
				margin-bottom: 3.2rem;
			}
		}
	}

	@include bp-tablet {
		&-page {
			&__aside {
				display: none;
			}
		}
	}
	@include bp-tabletXS {
		&-page {
			& .breadcrumbs {
				display: none;
			}
			& .block-underlay {
				&__header {
					margin-bottom: 2.4rem;
				}
			}
		}
	}
}