.questions {
	&-array {
		width: 100%;
		&__controls {
			@include flex();
			margin-top: multi(5);
				& .button {
					padding-left: multi(4);
					padding-right: multi(4);
						& + .button {
							margin-left: multi(2);
						}
				}
		}

		& .questions-element {
			& + .questions-element {
				margin-top: multi(1);
			}
		}
	}
	&-element {
		display: block;
		width: 100%;
		max-width: 74rem;
		color: map-get($basic, primary);
		@include font-size(1.8rem, multi(4));
		/*font-weight: $semibold;*/
			&__answers {
				padding-left: multi(2);
				color: map-get($grey, color_2);
				@include font-size(1.4rem, multi(2));
				font-weight: $regular;
			}
	}

	@include bp-tabletXS {
		&-array {
			&__controls {
				margin-top: multi(3);
				flex-wrap: nowrap;
					& .button {
						height: multi(5);
						padding-left: multi(3);
						padding-right: multi(3);
						flex-shrink: 0;
							& + .button {
								margin-left: multi(1);
							}

							&--gradient {
								width: 100%;
								flex-shrink: 1;
							}
					}
			}
		}
		&-element {
			@include font-size();
				&__answers {
					padding-left: multi(1);
					font-size: 1.2rem;
				}
		}
	}
}