.quiz {
	&-banner {
		@include flex();
		align-items: center;
		justify-content: center;
		padding: .8rem 1.5rem;
		color: $colorWhite;
		@include font-size(3.2rem, 3.2rem);
		text-decoration: none;
		background: $gradient;
		@include radius($radius);
		&__highlighted {
			font-weight: 700;
		}
		& p {
			width: auto;
			font-family: $font2;
			font-size: inherit;
			line-height: inherit;
		}

		& .i {
			@include size(12rem, 7.1rem);
			margin-right: 7.5rem;
		}

		& .button {
			margin-left: 9.1rem;
		}

		&:hover {
			& .button {
				color: map-get($basic, theme);
				background-color: $colorWhite;
			}
		}
	}

	@include bp-desktopXS {
		&-banner {
			& .i {
				margin-right: 3rem;
			}
			& .button {
				margin-left:3rem;
			}
		}
	}
	@include bp-tablet {
		&-banner {
			display: block;
			padding: 2.3rem 2.3rem 2.6rem;
			@include align_c;
			& .i {
				@include auto;
				margin-bottom: 2rem;
			}
			& p {
				width: 100%;
			}
			& .button {
				margin-top: 2rem;
				margin-left: 0;
			}
		}
	}
	@include bp-tabletXS {
		&-banner {
			padding-top: $gutter;
			padding-bottom: 2rem;
			font-size: 1.4rem;
			&__highlighted {
				display: block;
				width: 100%;
				@include font-size(2.4rem, 2.2rem);
			}
			.i {
				height: 6rem;
				margin-bottom: 0;
			}
			& .button {
				margin-top: 1.5rem;
					&--m {
						height: 4rem;
					}
			}
		}
	}
}