.reviews {
	&-section {
		@include flex();
		align-items: flex-start;
		justify-content: space-between;
		padding-right: 1.8rem;
			&__body {
				width: calc(100% - 29rem);
				max-width: 87rem;
			}
			&__aside {
				width: 29rem;

				& .rating + .button {
					margin-top: 3.4rem;
				}
			}
	}
	&-array {
		width: 100%;
			&__element {
				width: 100%;
					& + .reviews-array__element {
						margin-top: 3.8rem;
						padding-top: 3.8rem;
						border-top: .1rem solid map-get($grey, color_5);
							&.load-more__element--hidden {
								padding-top: 0;
							}
					}
			}
			&__more {
				margin-top: 3.8rem;
				padding-top: 4.7rem;
				border-top: .1rem solid map-get($grey, color_5);
					& .button {
						min-width: 28.8rem;
					}
			}

			&--items {
				.reviews-array {
					&__more {
						margin-top: 3rem;
						padding-top: multi(5);
							& .button {
								min-width: initial;
								padding-left: multi(4);
								padding-right: multi(4);
							}
					}
				}
			}
	}
	&-element {
		width: 100%;
		&__header {
			@include flex();
			align-items: center;
		}
		&__image {
			@include flex(8rem);
			height: 8rem;
			align-items: center;
			justify-content: center;
				img {
					max-width: 7rem;
					max-height: 7rem;
				}
		}
		&__headline {
			width: calc(100% - 8rem);
			margin-bottom: 0;
			padding-left: $gutter;
			@include font-size(1.8rem, 3.2rem);
		}
		&__status {
			@include flex();
			align-items: center;
			margin-bottom: 1.6rem;
				&-block {
					padding: 1.2rem 1.6rem;
					@include font-size(1.6rem, 1.6rem);
					font-weight: $semibold;
					@include radius($radius);
						& + .reviews-element__status-block {
							margin-left: 1.6rem;
						}
				}
				&-desc {
					width: 100%;
					margin-top: 1.4rem;
					color: inherit;
					@include font-size(1.4rem);
						p {
							max-width: 63.5rem;
							@include inherit;
						}
				}

				&--green {
					color: $colorGreen;
					.reviews-element__status-block {
						background: $colorLightGreen;
					}
				}
				&--orange {
					color: $colorOrange;
					.reviews-element__status-block {
						background: $colorLightOrange;
					}
				}
				&--red {
					color: $colorRed;
					.reviews-element__status-block {
						background: $colorLightRed;
					}
				}
		}
		&__body {
			@include font-size(1.8rem, 3.2rem);
				p {
					max-width: 85rem;
					@include inherit;
				}
		}
		&__footer {
			@include flex();
			align-items: center;
			justify-content: space-between;
			margin-top: 1.8rem;
		}
		&__author {
			@include flex(auto);
			align-items: center;
			color: $colorBlack;
			@include font-size(1.8rem, 3.2rem);
			font-weight: 700;
				.value + .reviews-element__date {
					margin-left: 1.6rem;
				}
		}
		&__date {
			color: map-get($grey, color_2);
			@include font-size(1.4rem, 3.2rem);
			font-weight: normal;
		}
	}
	&-add {
		width: 100%;
			&::before,
			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 0;
				visibility: hidden;
				clear: both;
			}
			&__image {
				float: left;
				@include flex(12.8rem);
				height: 12.8rem;
				align-items: center;
				justify-content: center;
						img {
							max-width: 12rem;
							max-height: 12rem;
						}
			}
			&__link {
				@include flex();
				height: 100%;
				align-items: center;
				justify-content: center;
			}
			&__body,
			&__footer {
				float: right;
				width: calc(100% - 12.8rem);
				padding-left: 2.8rem;
			}
			&__body {
				& .rating {
					margin-top: .8rem;
				}
			}
			&__footer {
				margin-top: 2.2rem;

				& .form__row {
					transition: opacity .2s linear;
						&--hidden {
							margin-top: 0;
						}
				}
			}
			&__headline {
				margin-bottom: 0;
				color: $colorBlack;
				font-family: $font2;
				@include font-size();
				font-weight: normal;
			}

			& .rating-control + .button {
				margin-left: 1.6rem;
			}
	}
	&-add-modal {
		width: 100%;
		padding: 0 multi(8) multi(8);

			& .rating-control {
				width: 100%;
			}
	}

	&-item {
		position: relative;
		width: 100%;
		padding: 5.2rem 5rem 4.4rem 20rem;
		border-top: .1rem solid map-get($grey, color_5);
			&__image {
				position: absolute;
				top: multi(4);
				left: multi(3);
				@include flex(12.8rem);
				height: 12.8rem;
				align-items: center;
				justify-content: center;
					& img {
						max-height: 100%;
					}
			}
			&__header {
				@include flex();
				align-items: center;
				margin-bottom: 1.2rem;
					& > *:not(:last-child) {
						margin-right: multi(2);
					}
			}
			&__details {
				width: 100%;
				color: $colorBlack;
				@include font-size(1.8rem, multi(4));
					& p {
						max-width: 102.6rem;
						@include inherit;
					}
			}
			&__author {
				@include flex(auto);
				color: map-get($basic, primary);
				@include font-size(1.4rem, multi(2));
					&-name {
						font-weight: $bold;
					}
					&-date {
						padding-left: multi(1);
						color: map-get($grey, color_2);
					}
			}
			&__rating {
				width: auto;
				margin-top: -.4rem;
			}
			&__product {
				width: 100%;
				max-width: 36rem;
				margin-top: -.1rem;
				@include font-size(1.4rem, multi(2));
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}

		& .rating {
			align-items: center;
		}
	}

	&-components-array {
		& .reviews-component {
			&--with-label {
				&:first-child {
					padding-top: 0;
				}
			}
			&:last-child {
				border-bottom: 0;
			}
			& + .reviews-component {
				margin-top: 0;
				border-top: 0;
			}
		}
	}
	&-component {
		display: flex;
		width: 100%;
		align-items: flex-start;
		padding-bottom: multi(3);
		border-bottom: .1rem solid map-get($grey, color_5);
			&__image {
				width: 20rem;
				flex-shrink: 0;
				padding-left: multi(3);
					&-box {
						display: flex;
						@include size(12.8rem, 12.8rem);
						align-items: center;
						justify-content: center;
						overflow: hidden;
							& img {
								max-width: 12.8rem;
								max-height: 12.8rem;
							}
					}
					&-label {
						@include link();
						width: 12.8rem;
						margin-top: 2rem;
						color: map-get($basic, theme);
						@include font-size(1.4rem, multi(2));
						@include align_c;
					}
			}
			&__body {
				width: 100%;
				max-width: calc(100% - 20rem);
				flex-shrink: 1;
				@include font-size(1.8rem, multi(4));
				@include offsets-reset;
					& p {
						max-width: 100%;
						@include inherit;
					}

				&--w-100 {
					max-width: 100%;
				}
			}
			&__header {
				display: flex;
				width: 100%;
				align-items: flex-start;
				margin-bottom: multi(3);
				overflow: hidden;
					& .rating {
						flex-shrink: 0;
						min-height: 2rem;
						margin-top: -.2rem;
						margin-left: multi(2);
							&--m {
								.rating-stars {
									margin-top: 0;
								}
								.rating-description {
									line-height: 2rem;
								}
							}
					}
			}
			&__author,
			&__date {
				flex-shrink: 0;
				margin-top: .2rem;
				@include font-size(1.4rem, multi(2));
			}
			&__author {
				margin-right: multi(1);
				font-weight: $bold;
			}
			&__date {
				color: map-get($grey, color_2);
			}
			&__product {
				@include link();
				width: 100%;
				flex-shrink: 1;
				margin-top: .2rem;
				margin-left: multi(2);
				@include font-size(1.4rem, multi(2));
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
			&__prop {
				@include flex();
				align-items: flex-start;
					&-label,
					&-value {
						width: auto;
						@include font-size(1.8rem, multi(4));
					}
					&-label {
						padding-right: .4rem;
						font-weight: $bold;
					}
					&-value {
						max-width: 100%;
					}

				& + .reviews-component__prop {
					margin-top: multi(1);
				}
			}
			&__label {
				margin-top: 2.1rem;
				margin-bottom: .3rem;
				@include font-size();
				font-weight: $bold;
			}
			&__footer {
				display: flex;
				width: 100%;
				align-items: center;
				justify-content: space-between;
				margin-top: 1.9rem;
			}
			&__control {
				color: map-get($grey, color_2);
				@include font-size(1.4rem, multi(2));
			}
			&__more {
				margin-top: 2rem;
				color: map-get($basic, theme);
				@include font-size(1.4rem, multi(2));
			}

		& .search-bar {
			display: none;
		}
		& .reviews-respond {
			margin-top: multi(4);
		}
		& .load-more {
			&__element {
				& + .load-more__element {
					margin-top: multi(1);
				}
			}
			&--expanded {
				margin-top: multi(1);
			}


			& .reviews-respond {
				margin-top: 0;
			}
		}

		&--expanded {
			.reviews-component {}
			& .search-bar {
				display: flex;
				margin-top: multi(4);
			}
		}
		&--with-label {
			padding-top: multi(4);
		}

		& + .reviews-component {
			margin-top: 4.2rem;
		}
	}
	&-respond {
		width: 100%;
		padding: 2.8rem multi(4) 2rem;
		@include font-size(1.8rem, multi(4));
		background-color: map-get($grey, color_14);
		@include radius(1rem);
			&__footer {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-top: 1rem;
					&-group {
						@include flex(auto);
						align-items: center;
					}
			}
			&__author {
				@include font-size(1.4rem, multi(2));
				font-weight: $bold;
				&--company {
					margin-top: -.2rem;
					font-size: 0;
						&::before {
							content: '';
							display: block;
							@include size(5.9rem, multi(2));
							background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 59 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.93262 3.04688V11.3525H5.69434V3.04688H7.75195V11.3525H10.4863V3.04688H12.5371V13H0.875V3.04688H2.93262ZM20.6172 13H18.6348V7.20312H16.1602V13H14.1846V5.60352H20.6172V13ZM26.585 5.60352H28.5605V13H26.585V8.43359L24.1104 13H22.1279V5.60352H24.1104V10.1631L26.585 5.60352ZM33.9131 9.53418H30.0645V7.94141H33.9131V9.53418ZM35.6289 13V5.60352H38.7188C39.7259 5.60352 40.4984 5.78125 41.0361 6.13672C41.5739 6.49219 41.8428 7.0026 41.8428 7.66797C41.8428 8.00977 41.7288 8.31738 41.501 8.59082C41.2777 8.8597 40.9495 9.06706 40.5166 9.21289C41.0452 9.31315 41.46 9.51139 41.7607 9.80762C42.0661 10.0993 42.2188 10.4593 42.2188 10.8877C42.2188 11.5758 41.959 12.0999 41.4395 12.46C40.9245 12.82 40.1748 13 39.1904 13H35.6289ZM37.6045 9.93066V11.4209H39.1973C39.8945 11.4209 40.2432 11.1771 40.2432 10.6895C40.2432 10.1927 39.9105 9.93978 39.2451 9.93066H37.6045ZM37.6045 8.60449H38.8281C39.5208 8.59538 39.8672 8.37207 39.8672 7.93457C39.8672 7.66569 39.7715 7.47428 39.5801 7.36035C39.3932 7.24642 39.1061 7.18945 38.7188 7.18945H37.6045V8.60449ZM47.8857 5.60352H49.8613V13H47.8857V8.43359L45.4111 13H43.4287V5.60352H45.4111V10.1631L47.8857 5.60352Z' fill='%239E42DC'/%3E%3Cpath d='M54.3425 9.05381C53.1648 8.31314 52.4703 7.21549 52.1727 6.11902C51.9877 5.43825 51.9556 4.75451 52.056 4.15439C52.1628 3.51335 52.4219 2.95355 52.8094 2.56632C53.1672 2.20933 53.6224 2 54.1593 2C55.2722 2 55.9253 2.82546 56.1692 3.6616C56.3344 3.63255 56.5083 3.61416 56.6828 3.61416C56.9985 3.61416 57.323 3.67228 57.6166 3.82587C57.9346 3.9925 58.2013 4.25876 58.363 4.66438C58.4622 4.91285 58.5194 5.20994 58.5194 5.56337C58.5194 6.81284 57.6522 7.14907 56.7038 7.51674C56.0741 7.76046 55.3901 8.02613 55.2185 8.70631C55.1398 9.02119 54.8252 9.21155 54.5153 9.13149C54.4523 9.11489 54.3945 9.0882 54.3425 9.05381ZM53.2851 5.80651C53.4642 6.46593 53.8325 7.12654 54.4225 7.65609C54.8725 6.9688 55.6055 6.68475 56.2924 6.41849C56.8509 6.20204 57.3615 6.00398 57.3615 5.56397C57.3615 5.36768 57.3359 5.21824 57.2909 5.10617C57.2442 4.98875 57.1719 4.91403 57.0872 4.87015C56.9781 4.81322 56.8345 4.79128 56.6828 4.79128C56.4079 4.79128 56.1313 4.86303 55.9422 4.93775C55.8687 4.97215 55.787 4.99112 55.7006 4.99112C55.3808 4.99112 55.1217 4.72783 55.1217 4.40286C55.1217 3.89288 54.8176 3.17712 54.1593 3.17712C53.9439 3.17712 53.7619 3.26073 53.6189 3.40305C53.4076 3.61357 53.2623 3.94743 53.1958 4.34771C53.1222 4.78891 53.1467 5.29593 53.2851 5.80651Z' fill='%23D996FF'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
							background-size: cover;
						}
				}
			}
			&__date,
			&__control{
				color: map-get($grey, color_2);
				@include font-size(1.4rem, multi(2));
			}
			&__date {
				margin-left: multi(1);
			}
			&__control {
				margin-left: multi(3);
			}
			& p {
				@include inherit;
			}
	}
	&-more {
		width: 100%;
		margin-top: multi(5);
			& .button {
				padding-left: multi(4);
				padding-right: multi(4);
			}
	}


	@include bp-desktopHD {
		&-section {
			padding-right: 0;
			&__body {
				padding-right: 4rem;
			}
		}
	}
	@include bp-tablet {
		&-section {
			display: block;
			&__body,
			&__aside {
				width: 100%;
			}
			&__body {
				padding-right: 0;
			}
			&__aside {
				margin-top: 2.4rem;
				& .rating {
					display: none;
						& + .button {
							margin-top: 0;
						}
				}
			}
		}
		&-array {
			&__more {
				& .button {
					width: 100%;
					min-width: initial;
				}
			}
		}
		&-item {
			padding-left: 14rem;
			&__image {
				left: 0;
			}
			&__product {
				max-width: 18rem;
			}
		}

		&-component {
			&__image {
				width: 12.8rem;
				padding-left: 0;
			}
			&__body {
				max-width: calc(100% - 12.8rem);
				padding-left: multi(3);
			}
		}
		&-more {
			margin-top: multi(3);
		}
	}
	@include bp-tabletXS {
		&-section {
			&__aside {
				& .button {
					height: 4.8rem;
					font-size: 1.5rem;
				}
			}
		}
		&-array {
			&__element {
				& + .reviews-array__element {
					margin-top: 2.4rem;
					padding-top: 2.4rem;
					&.load-more__element--hidden {
						height: 0;
						opacity: 0;
						overflow: hidden;
					}
				}

			}
			&__more {
				margin-top: 2.4rem;
				padding-top: 0;
				border-top: 0;
					& .button {
						height: 4.8rem;
						font-size: 1.5rem;
					}
			}

			&--dividers {
				@include outbox;
				& .reviews-array__element + .reviews-array__element {
					border-top: 1.6rem solid map-get($grey, color_0);
				}
			}
			&--items {
				.reviews-array {
					&__more {
						@include outbox();
						margin-top: multi(2);
						padding: multi(3) multi(2) 0;
						border-top: .1rem solid map-get($grey, color_5);
							& .button {
								height: multi(5);
							}
					}
				}
			}
		}
		&-element {
			&__image {
				@include size(6.4rem, 6.4rem);
					img {
						max-width: 6.4rem;
						max-height: 6.4rem;
					}
			}
			&__headline {
				@include font-size(1.3rem);
			}
			&__status {
				margin-bottom: .8rem;
					&-block {
						padding: .2rem .6rem .3rem;
						@include font-size(1rem, 1.6rem);
						@include radius(.4rem);
							& + .reviews-element__status-block {
								margin-left: .4rem;
							}
					}
					&-desc {
						margin-top: .5rem;
						@include font-size(1rem, 1.6rem);
					}
			}
			&__body {
				@include font-size(1.3rem);
			}
			&__footer {
				margin-top: .8rem;
			}
			&__author {
				@include font-size(1.3rem);
					& + .reviews-element__date {
						margin-left: .8rem;
					}
			}
			&__date {
				@include font-size(1.3rem);
			}
		}
		&-add {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			padding-left: 1.5rem;
			padding-right: 1.5rem;
				&::before,
				&::after {
					display: none;
				}
				&__image {
					float: none;
					@include size(6.4rem, 6.4rem);
						img {
							max-width: 6rem;
							max-height: 6rem;
						}
				}
				&__body {
					float: none;
					width: calc(100% - 6.4rem);
					padding-left: .8rem;

						& .rating--m {
							margin-top: .4rem;
							align-items: center;
						}
				}

				&__headline {
					@include font-size(1.1rem, 1.6rem);
				}
				&__footer {
					float: none;
					width: 100%;
					margin-top: 1.6rem;
					padding-left: 0;
						&::before,
						&::after {
							content: '';
							display: block;
							width: 100%;
							height: 0;
							visibility: hidden;
							clear: both;
						}
				}

			& .rating-control {
				width: 100%;
				& + .button {
					width: 100%;
					margin-top: 1.6rem;
					margin-left: 0;
				}
			}
		}
		&-item {
			@include outbox;
			padding: 2rem multi(2) multi(2);
				&__header {
					display: block;
					min-height: 8.6rem;
					margin-bottom: 1.2rem;
					padding-left: 8.8rem;
					& > *:not(:last-child) {
						margin-right: 0;
						margin-bottom: multi(1);
					}
				}
				&__image {
					top: 2rem;
					left: multi(2);
					@include size(7.6rem, 7.6rem);
				}
				&__author,
				&__product {
					font-size: 1.2rem;
				}
				&__product {
					max-width: 100%;
					white-space: normal;
					text-overflow: initial;
				}
				&__details {
					@include font-size(1.3rem, multi(3));
				}
		}

		&-components-array {
			& .reviews-component {
				&--with-label {
					&:first-child {
						padding-top: multi(3);
					}
				}
			}
		}
		&-component {
			position: relative;
			display: block;
			@include outbox('true');
			padding-bottom: multi(2);
				&__image {
					position: absolute;
					top: 0;
					left: multi(2);
					@include size(7.6rem, 7.6rem);
					z-index: 1;
						&-box {
							@include hundred;
								& img {
									max-width: 100%;
									max-height: 100%;
								}
						}
				}
				&__body {
					width: 100%;
					max-width: 100%;
					padding-left: 0;
				}
				&__header {
					min-height: 7.6rem;
					flex-wrap: wrap;
					margin-bottom: 2rem;
					padding-left: 10.4rem;
						& .rating {
							width: 100%;
							margin-top: .4rem;
							margin-left: 0;
								&--m {
									align-items: center;
								}
						}
				}
				&__author,
				&__date {
					margin-top: 0;
					font-size: 1.2rem;
				}
				&__product {
					display: -webkit-box;
					width: 100%;
					margin-top: multi(1);
					margin-left: 0;
					font-size: 1.2rem;
					white-space: normal;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
					overflow: hidden;
				}
				&__prop {
					&-label,
					&-value {
						@include font-size(1.3rem, multi(3));
					}
				}
				&__footer {
					margin-top: 1rem;
				}
				&__control {
					@include font-size(1.2rem, multi(2));
				}
				&__more {
					margin-top: 1.2rem;
					font-size: 1.2rem;
				}

				& .reviews-respond {
					margin-top: multi(3);
				}

			&--expanded {
				.reviews-component {}
				& .search-bar {
					display: block;
					margin-top: multi(3);
				}
			}
			&--with-label {
				padding-top: multi(3);
				.reviews-component {
					&__image {
						top: multi(3);
							&-label {
								width: 7.6rem;
								margin-top: multi(1);
								font-size: 1.2rem;
							}
					}
					&__header {
						min-height: 9.6rem;
					}
				}
			}

			& + .reviews-component {
				margin-top: multi(2);
			}
		}
		&-respond {
			padding: multi(2) multi(2) 1.8rem;
			@include font-size();

				&__footer {
					flex-wrap: wrap;
					margin-top: 1.2rem;

					& .like-dislike {
						width: 100%;
						margin-top: 1rem;
					}
				}
				&__author,
				&__date,
				&__control {
					@include font-size(1.2rem, multi(2));
				}
				&__author {
					&--company {
						&::before {
							@include size(5.2rem, 1.45rem);
						}
					}
				}
		}
		&-more {
			& .button {
				height: multi(5);
			}
		}
	}
	@include bp-mobile {
		&-add-modal {
			padding: 0 multi(2) multi(4);

				& p {
					@include font-size(1.1rem, 1.6rem);
				}
		}
	}
}