.subscription {
	&-section {
		width: 100%;
		padding-top: multi(5);
		padding-bottom: multi(5);
		background: map-get($basic, theme);

			& .container {
				align-items: center;
				justify-content: center;
			}

			&__headline {
				display: flex;
				max-width: calc(100% - 56.5rem);
				align-items: center;
				flex-wrap: wrap;
				margin: 0;
				padding-right: multi(8);
				color: $colorWhite;
				font-family: $font2;
				@include font-size(3.6rem, multi(5));
				font-weight: $bold;
					&::before {
						content: '';
						display: block;
						@include size(8.1rem, 8.3rem);
						margin-right: multi(4);
						background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 81 83' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.62995 34.7418L6.67738 26.4371C6.59619 25.635 6.67758 24.192 7.52487 23.2586C8.58858 22.0867 10.6232 19.9568 12.5446 19.9568H16.2137C16.8428 19.9568 17.5092 20.2867 18.4451 21.0817C19.2042 21.7266 20.0978 23.158 21.393 23.2586C22.4638 23.3417 23.9792 22.8456 24.6274 19.9568C24.8421 19 24.6274 18.2297 25.9171 18.1543C27.331 18.0717 53.2011 15.0675 66.0038 13.5343C66.4199 13.4845 67.4891 13.4683 68.105 13.9545C68.9034 14.5849 70.679 16.1783 71.4669 16.8962C71.7683 17.1708 72.2588 17.56 72.4125 18.5772C72.5775 19.6693 73.4883 29.795 74.0525 34.714' stroke='white' stroke-width='2'/%3E%3Cpath d='M2.65698 80.2055L35.8163 54.7294C36.3404 54.3267 36.983 54.1084 37.644 54.1084H43.0516C43.7187 54.1084 44.3668 54.3308 44.8934 54.7403L77.6343 80.2055' stroke='white' stroke-width='2' stroke-linejoin='round'/%3E%3Cpath d='M59.0475 14.296L57.5696 13.0987L44.0782 2.16895C43.5439 1.73616 42.8773 1.5 42.1897 1.5H38.0912C37.41 1.5 36.749 1.73184 36.2171 2.15739L14.0731 19.8726' stroke='white' stroke-width='2' stroke-linejoin='round'/%3E%3Cpath d='M6.78035 25.3792H6.67737C3.91595 25.3792 1.67737 27.6177 1.67737 30.3792V76.5001C1.67737 79.2615 3.91594 81.5001 6.67737 81.5001H74.2912C77.0526 81.5001 79.2912 79.2615 79.2912 76.5001V30.3792C79.2912 27.6177 77.0526 25.3792 74.2912 25.3792H72.9874' stroke='white' stroke-width='2'/%3E%3Cpath d='M1 34.6389H6.17714C6.84864 34.6389 7.50071 34.8642 8.029 35.2787L34.1391 55.7651' stroke='white' stroke-width='2' stroke-linejoin='round'/%3E%3Cpath d='M79.2913 34.6389H74.1141C73.4426 34.6389 72.7905 34.8642 72.2623 35.2787L46.1521 55.7651' stroke='white' stroke-width='2' stroke-linejoin='round'/%3E%3Cpath d='M45.249 26.4795L52.6142 26.4795' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3Cline x1='25.1449' y1='35.2018' x2='25.266' y2='36.4998' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3Cline x1='24.2645' y1='28.7192' x2='24.3856' y2='30.0171' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3Cline x1='25.8904' y1='41.3857' x2='26.0115' y2='42.6836' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M41.418 50.975L55.1255 21.7546' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M45.575 29.2694C45.575 32.3694 43.1992 34.7943 40.3745 34.7943C37.5497 34.7943 35.174 32.3694 35.174 29.2694C35.174 26.1693 37.5497 23.7444 40.3745 23.7444C43.1992 23.7444 45.575 26.1693 45.575 29.2694Z' stroke='white' stroke-width='2'/%3E%3Cpath d='M62.7071 42.5412C62.7168 42.4017 62.7216 42.2609 62.7216 42.1188C62.7216 38.9409 60.2736 36.3647 57.2537 36.3647C54.2338 36.3647 51.7858 38.9409 51.7858 42.1188C51.7858 44.9052 53.6678 47.229 56.1671 47.7593' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
						background-size: cover;
					}
					& span {
						display: block;
						max-width: 42.6rem;
					}
			}
			&__form {
				@include flex(56.5rem);
				justify-content: space-between;
					& .input {
						width: 33rem;

						.input--error {
							position: absolute;
							top: 100%;
							margin-top: multi(1);
							color: $colorWhite;
						}
					}
					& .button {
						width:  22rem;
					}
			}
	}

	@include bp-desktopXS {
		&-section {
			&__headline {
				padding-right: multi(4);
			}
		}
	}
	@include bp-tablet {
		&-section {
			& .container {
				display: block;
			}

			&__headline {
				display: block;
				max-width: 100%;
				padding-right: 0;
				@include align_c;
					&::before {
						margin: 0 auto multi(2);
					}
					& span {
						max-width: 100%;
					}
			}
			&__form {
				width: 100%;
				flex-wrap: nowrap;
				margin-top: multi(3);
					& .input {
						width: 100%;
						margin-right: multi(2);
					}
			}
		}
	}
	@include bp-tabletXS {
		&-section {
			padding-top: multi(3);
			padding-bottom: multi(3);
				&__headline {
					max-width: 29rem;
					@include auto;
					@include font-size(multi(3), multi(4));
					&::before {
						@include size(8.1rem, 8.2rem);
						margin-bottom: multi(2);
					}
				}
				&__form {
					display: block;
						& .input {
							margin-right: 0;
							& .input--error {
								position: static;
								top: auto;
							}
						}
						& .button {
							width: 100%;
							margin-top: multi(1);
							font-size: multi(2);
						}
				}
		}
	}
}