.tests {
	&-array {
		.tests-element {
			& + .tests-element {
				border-top: .1rem solid map-get($grey, color_5);
			}
		}
	}
	&-element {
		@include flex();
		align-items: center;
		padding: 1.9rem 2.4rem;
		@include font-size(1.8rem, 3.2rem);
		background: $colorWhite;
			&__type {
				width: 11rem;
				color: map-get($grey, color_2);
			}
			&__headline {
				width: calc(100% - 25rem);
				padding-left: 4.8rem;
				padding-right: 1.5rem;
				color: map-get($basic, primary);
				font-weight: $semibold;
			}
			&__control {
				width: 14rem;
			}

			&:hover {
				background: rgba(map-get($basic, theme), .05);
				.tests-element {
					&__headline {
						color: map-get($basic, theme);
					}
					&__control {
						& .button {
							color: $colorWhite;
							background: map-get($basic, theme);
							border-color: map-get($basic, theme);
						}
					}
				}
			}
	}
	&-quiz {
		position: relative;
		width: 100%;
		padding: 8.2rem 5rem;
		background: $colorWhite;
		@include radius($radius);
		overflow: hidden;
			&__progress {
				position: absolute;
				top: 0;
				left: 0;
				@include size(100%, .4rem);
				background: map-get($grey, color_5);
				overflow: hidden;
					&-bar {
						max-width: 100%;
						height: 100%;
						background: map-get($basic, theme);
						@include radius($radius);
					}
			}
			&__step {
				position: absolute;
				top: 3.2rem;
				right: 2.2rem;
				color: map-get($grey, color_2);
				@include font-size(1.8rem, 1.6rem);
				z-index: 1;
			}
			&__body {
				padding-left: 7rem;
				padding-right: 7rem;
			}
			&__question {
				position: relative;
				width: 100%;
				max-width: 80rem;
				padding: 2.5rem 3rem 2.3rem;
				color: map-get($basic, theme);
				@include font-size(2.4rem, 3.2rem);
				font-weight: $bold;
				background: rgba(map-get($basic, theme), .05);
				@include radius($radius * 2);
					&::before {
						content: '';
						position: absolute;
						left: 3rem;
						bottom: -3rem;
						display: block;
						@include size(0,0);
						border-style: solid;
						border-width: 3rem 2.6rem 0 0;
						border-color: rgba(map-get($basic, theme), .05) transparent transparent transparent;
					}
			}
			&__answers {
				width: 100%;
				max-width: 80rem;
				margin-top: 4.2rem;
				margin-left: auto;
					&-label {
						margin-bottom: .5rem;
						color: map-get($grey, color_2);
						@include font-size(1.4rem, 3.2rem);
						letter-spacing: .08rem;
						@include upp;
					}
					.tests-answer {
						& + .tests-answer {
							margin-top: 1.6rem;
						}
						&:last-child {
							&::after {
								content: '';
								position: absolute;
								bottom: -3rem;
								right: 7rem;
								display: block;
								@include size(0,0);
								border-style: solid;
								border-width: 0 2.6rem 3rem 0;
								border-color: transparent map-get($grey, color_0) transparent transparent;
							}
						}
					}
			}
			&__controls {
				position: relative;
				margin-top: 8.8rem;
				@include align_c;
					&--link-back {
						position: absolute;
						top: 0;
						left: 0;
						width: 8.8rem;
					}
					& .button {
						.i._arrow-left {
							margin-right: 0;
							fill: $colorBlack;
						}
						&:hover {
							.i._arrow-left {
								fill: $colorWhite
							}
						}
					}
			}
			&__wrap {
				width: 100%;
					& + .tests-quiz__wrap {
						margin-top: 6.4rem;
					}
			}
			&__no {
				position: absolute;
				top: 1.9rem;
				right: 0;
				color: map-get($grey, color_2);
				@include font-size(1.8rem, 1.6rem);
			}
	}
	&-answer {
		position: relative;
		width: 100%;
		background: map-get($grey, color_0);
		@include radius($radius * 2);
			&__label {
				position: relative;
				display: block;
				width: 100%;
			}
			&__input {
				position: absolute;
				width: 1px;
				height: 1px;
				clip: rect(0, 0, 0, 0);
				z-index: 0;

				&:checked {
					& + .tests-answer__container {
						.tests-answer__icon {
							background: map-get($basic, theme);
							border-color: map-get($basic, theme);
							&::before {
								opacity: 1;
								transform: scale(1);
							}
						}
					}
				}
			}
			&__container {
				@include flex();
				align-items: flex-start;
				padding: 3rem;
			}
			&__icon {
				display: block;
				//@include size(2.4rem, 2.4rem);
				@include size(21px, 21px);
				//padding: .6rem;
				padding: 6px;
				background: $colorWhite;
				border: .1rem solid map-get($grey, color_5);
				@include round;
				@include smooth(.3s);
					&::before {
						content: '';
						display: block;
						@include size(100%, 100%);
						background-color: $colorWhite;
						@include round;
						opacity: 0;
						transform: scale(2);
						@include smooth(.3s);
					}
			}
			&__value {
				//width: calc(100% - 2.4rem);
				width: calc(100% - 21px);
				margin-top: -.3rem;
				padding-left: 1rem;
				@include font-size(1.8rem, 3.2rem);
			}
			& ol {
				display: block;
				width: 100%;
				max-width: 64rem;
				margin-top: 1.6rem;
				margin-bottom: 0;
				padding-left: 3.4rem;
				counter-reset: list-counter;
					li {
						position: relative;
						display: block;
						padding-left: 2rem;
						@include font-size(1.8rem, 3.2rem);
							&:not(:last-of-type) {
								margin-bottom: 0;
							}
							&::before {
								content: counter(list-counter)'.';
								position: absolute;
								top: 0;
								left: 0;
								display: block;
								width: auto;
								@include inherit;
								counter-increment: list-counter;
							}
					}
			}
			& ul {
				margin-top: 1.6rem;
				margin-bottom: 0;
				padding-left: 3.4rem;
					li {
						padding-left: 3.8rem;
						@include font-size(1.8rem, 3.2rem);
							&:not(:last-of-type) {
								margin-bottom: 0;
							}
							&::before {
								top: 1.5rem;
							}
					}
			}
			& p {
				display: block;
				width: 100%;
				margin-top: 1.5rem;
				padding-left: 3.4rem;
				@include font-size(1.8rem, 3.2rem);
			}

			&--no-after {
				&::after {
					display: none!important;
				}
			}
	}

	@include bp-desktopXS {
		&-quiz {
			&__body {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
	@include bp-tablet {
		&-quiz {
			padding-left: 1.6rem;
			padding-right: 1.6rem;
		}
		&-answer {
			&__icon {
				@include size(2.4rem, 2.4rem);
				padding: .6rem;
			}
			&__value {
				width: calc(100% - 2.4rem);
			}
		}
	}
	@include bp-tabletXS {
		&-array {
			padding-bottom: 3.2rem;
			.tests-element {
				& + .tests-element {
					margin-top: .8rem;
					border-top: 0;
				}
			}
		}
		&-element {
			display: block;
			padding: 2.4rem 1.7rem 2.6rem;
			@include radius($radius);
				&__type {
					width: 100%;
					margin-bottom: .6rem;
					@include font-size(1.2rem, 2.4rem);
				}
				&__headline {
					width: 100%;
					padding-left: 0;
					padding-right: 0;
					@include font-size(1.8rem, 2.4rem);
				}
				&__control {
					display: none;
				}

				&:hover {
					background: $colorWhite;
					.tests-element {
						&__headline {
							color: map-get($basic, primary);
						}
					}
				}
				&:active {
					background: rgba(map-get($basic, theme), .05);
						.tests-element {
							&__headline {
								color: map-get($basic, theme);
							}
						}
				}
		}
		&-quiz {
			@include outbox;
			padding: 4rem 1.6rem 3.2rem;
			@include radius(0);
				&__progress {
					&-bar {
						@include radius(0);
					}
				}
				&__step {
					display: none;
				}
				&__question {
					padding: 1.4rem 2.4rem 1.8rem;
					@include font-size(1.8rem, 2.4rem);
						&::before {
							left: 2.4rem;
							bottom: -2.4rem;
							border-width: 2.4rem 2.2rem 0 0;
						}
				}
				&__answers {
					margin-top: 2.8rem;
					&-label {
						margin-bottom: .4rem;
						font-size: 1.2rem;
						@include align_r;
					}
					.tests-answer {
						& + .tests-answer {
							margin-top: .8rem;
						}
						&:last-child {
							&::after {
								bottom: -2.4rem;
								right: 2.4rem;
								border-width: 0 2.2rem 2.4rem 0;
							}
						}
					}
				}
				&__controls {
					@include flex();
					align-items: center;
					margin-top: 4.8rem;
						&--link-back {
							position: static;
							top: auto;
							left: auto;
							width: 4.8rem;
							padding-left: 0;
							padding-right: 0;
						}
						& .button {
							&--gradient {
								width: calc(100% - 5.6rem);
								margin-left: .8rem;
							}
						}
				}
				&__wrap {
					& + .tests-quiz__wrap {
						margin-top: 2.8rem;
					}
				}
				&__no {
					position: static;
					top: auto;
					right: auto;
					width: 100%;
					margin-top: 2.7rem;
					@include font-size(1.4rem, 1.6rem);
					@include align_c;
				}
		}
		&-answer {
			&__container {
				padding: 1.6rem;
			}
			&__icon {
				@include size(2rem, 2rem);
			}
			&__value {
				width: calc(100% - 2rem);
				margin-top: -.1rem;
				@include font-size(1.4rem, 2.4rem);
			}
			& ol, ul {
				padding-left: 3rem;
				li {
					@include font-size(1.4rem, 2.4rem);
				}
			}
			ul {
				li {
					padding-left: 2.2rem;
						&::before {
							top: 1.1rem;
							width: 1.2rem;
						}
				}
			}
			& p {
				padding-left: 3rem;
				@include font-size(1.4rem, 2.4rem);
			}
		}
	}
}