.accordion {
	width: 100%;
	@include smooth(.2s);
		&__button {
			position: relative;
			@include size(100%, 6rem);
			padding-left: 2rem;
			padding-right: 4rem;
			@include font-size();
			font-weight: 500;
			@include align_l;
				&::after {
					content: '';
					position: absolute;
					top: 50%;
					right: 2.6rem;
					@include size(1.4rem, 1.2rem);
					background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512'%3E%3Cpath style='fill:%239A9FA7;' d='M505.183,123.179c-9.087-9.087-23.824-9.089-32.912,0.002l-216.266,216.27L39.729,123.179 c-9.087-9.087-23.824-9.089-32.912,0.002c-9.089,9.089-9.089,23.824,0,32.912L239.55,388.82c4.364,4.364,10.283,6.816,16.455,6.816 c6.172,0,12.092-2.453,16.455-6.817l232.721-232.727C514.272,147.004,514.272,132.268,505.183,123.179z'/%3E%3C/svg%3E") 0 0 no-repeat;
					background-size: cover;
					will-change: transform;
					transform: translateY(-50%);
					@include smooth(.3s);
				}
		}
		&__body {
			width: 100%;
			background: map-get($grey, color_9);
			border-bottom: .1rem solid map-get($grey, color_7);

			.mobile-navigation__link {
				background: map-get($grey, color_9);
			}
		}

		&._expanded {
			& > .mobile-navigation__link {
				color: $colorWhite;
				background: map-get($basic, theme);
					&::after {
						background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.792893 0.292893C1.18342 -0.0976311 1.81658 -0.0976311 2.20711 0.292893L8.20711 6.29289C8.59763 6.68342 8.59763 7.31658 8.20711 7.70711L2.20711 13.7071C1.81658 14.0976 1.18342 14.0976 0.792893 13.7071C0.402369 13.3166 0.402369 12.6834 0.792893 12.2929L6.08579 7L0.792893 1.70711C0.402369 1.31658 0.402369 0.683417 0.792893 0.292893Z' fill='%23fff'/%3E%3C/svg%3E");
						transform: rotate(90deg) translateX(-50%);
					}
					.i {
						stroke: $colorWhite;
					}
			}
			.accordion {
				&__button {
					&::after {
						margin-top: -.5rem;
						transform: rotate(-180deg);
					}
				}
			}
		}

	&--classic {
		border-bottom: .1rem solid map-get($grey, color_7);
			.accordion {
				&__body {
					padding: 0 2rem 3rem;
					background: $colorWhite;
					border-bottom: 0;
				}
			}
	}

	@include bp-tabletXS {
		&__button {
			font-size: 1.4rem;
		}

		&--classic {
			.accordion {
				&__body {
					padding: 0 1.6rem 2.4rem;
				}
			}
		}
	}
}