.issue-feedback {
	width: 100%;
	max-width: 42rem;
		&__header {
			@include flex();
			align-items: center;
		}
		&__question {
			@include font-size(1.4rem);
			font-weight: $semibold;
		}
		&__control {
			display: inline-flex;
			@include size(auto, multi(4));
			align-items: center;
			margin-left: multi(2);
			padding-left: 1.2rem;
			padding-right: 1.2rem;
			font-size: 1.2rem;
			border: .1rem solid map-get($grey, color_5);
			@include radius(.2rem);
			@include smooth(.2s);
				& + .issue-feedback__control {
					margin-left: multi(1);
				}
				&:hover {
					color: $colorWhite;
					background-color: map-get($basic, theme);
					border-color: map-get($basic, theme);
				}
		}
		&__form {
			display: none;
			max-width: 40rem;
				&-controls {
					@include flex();
					justify-content: space-between;
					margin-top: multi(2);
				}
				& .button {
					padding-left: multi(3);
					padding-right: multi(3);
				}
		}
		&__message {
			display: none;
			@include font-size(1.4rem);
				& p {
					@include inherit;
				}
		}
		&__headline {
			position: relative;
			margin-bottom: multi(1);
			padding-left: 2.2rem;
			@include font-size(1.4rem);
			font-weight: $semibold;
				&::before {
					content: '';
					position: absolute;
					top: .6rem;
					left: 0;
					display: block;
					@include size(1.4rem, 1.1rem);
					background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5.5L5 9.5L13.5 1' stroke='%2327AE60' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
					background-size: cover;
				}
		}

		&--expanded {
			.issue-feedback {
				&__header {
					display: none;
				}
				&__form {
					display: block;
				}
			}
		}
		&--success {
			.issue-feedback {
				&__header,
				&__form {
					display: none;
				}
				&__message {
					display: block;
				}
			}
		}
		&--offset-top {
			margin-top: multi(4);
		}

		& .input {
			&__label {
				font-size: 1.4rem;
			}
			&__field {
				font-size: 1.4rem;
				&--textarea {
					min-height: 11.2rem;
				}
			}
		}

	@include bp-tabletXS {
		&__question {
			@include font-size(1.2rem, multi(2));
		}
		&__form {
			& .button {
				height: multi(5);
			}
		}

		& .input {
			&__label {
				font-size: 1.2rem;
			}
			&__field {
				&--textarea {
					min-height: 8.8rem;
				}
			}
		}
	}
}