*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    color: map-get($basic, primary);
    font-family: $font;
    font-size: 52.52%;
    //font-size: 62.5%;
    background-color: map-get($grey, color_0);

    @include bp-tablet {
        font-size: 62.5%;
    }
}
html {
    @include bp-tabletXS {
        &._iphone-bottom-stroke {
            body {
                &._header-is-collapsed {
                    .website-bar {
                        height: 7.6rem;
                        &__element {
                            padding-bottom: 2rem;
                        }
                    }
                    .website-footer {
                        padding-bottom: 7.6rem;
                    }

                    .top-link {
                        bottom: 8.6rem;
                    }
                    .messengers {
                        bottom: 8.6rem;
                    }

                    &._header-is-partial-visible {
                        .top-link {
                            bottom: 1rem;
                        }
                        .messengers {
                            bottom: 1.6rem;
                        }
                        &._top-link-is-visible {
                            .messengers {
                                bottom: 6.6rem;
                            }
                        }
                    }
                    &._top-link-is-visible {
                        .messengers {
                            bottom: 14.6rem;
                        }
                    }
                }
            }
        }
    }
}
body {
    //padding-top: 19.2rem;
    padding-top: 17.2rem;
    line-height: 1.4;
        &._header-is-collapsed {
            .website-header {
               transform: translateY(-100%);
                transition: transform .4s linear;
            }
        }
        &._header-is-partial-visible {
            .website-header {
                transform: translateY(-4.1rem);
                transition: transform .3s linear;
            }

            .sticky-element--sticky {
                top: 17.4rem;
            }

            .block-underlay--sticky {
                top: 15rem;
            }
        }
        &._catalog-filtered {
            .catalog {
                &-array {
                    width: calc(100% - 30.6rem);
                        &__element {
                            width: calc(33.33% - 2.4rem);
                        }
                }
                &-filter {
                    max-height: initial;
                    margin-left: 2.4rem;
                    opacity: 1;
                    pointer-events: all;
                    transform: translateX(0);
                }
            }
            .product-filter-control {
                color: map-get($basic, theme);
            }
        }

        &._preloading {
            height: 100%;
            overflow: hidden;
                .preloader-wrapper {
                    display: flex;
                }
        }
        &._notification-is-opened {
            height: 100%;
            overflow: hidden;
                .system-notification {
                    display: flex;
                }
        }
        &._warning-is-opened {
            height: 100%;
            overflow: hidden;
            .system-warning {
                display: flex;
            }
        }

        &._top-link-is-visible {
            .top-link {
                opacity: 1;
                pointer-events: all;
                visibility: visible;
                transform: none;
            }
        }

        //messengers
        &._messengers-is-opened {
            .messengers {
                &__button {
                    &::before {
                        transform: scale(0);
                        opacity: 0;
                    }
                    &::after {
                        transform: rotate(0) scale(1);
                        opacity: 1;
                    }
                }
                &__element {
                    pointer-events: all;
                    opacity: 1;
                        &--telegram {
                            bottom: 13.4rem;
                        }
                        &--whatsapp {
                            bottom: 6.7rem;
                        }
                }
            }
        }

        //not used
        &._header-is-static {
            padding-top: 0;
            .website-header {
                position: relative;
                top: auto;
                left: auto;
            }
        }

    @include bp-desktopXS {
        &._catalog-filtered {
            .catalog {
                &-array {
                    &__element {
                        width: calc(50% - 2.4rem);
                    }
                }
            }
        }
    }
    @include bp-tablet {
        padding-top: 6.4rem;
            &::before {
                content: '';
                position: fixed;
                top: 0;
                left: 0;
                display: block;
                @include hundred;
                background: rgba(map-get($basic, primary), .8);
                backdrop-filter: blur(.4rem);
                opacity: 0;
                pointer-events: none;
                touch-action: none;
                transition: opacity .4s ease;
                z-index: 20;
            }

        //not used
        &._header-is-static {
            .website-bar {
                transform: translateY(0);
            }
            .website-footer {
                padding-bottom: 5.6rem;
            }
        }
        &._header-is-collapsed {
            .website-header {
                transition: transform .2s linear;
            }
            .website-bar {
                transform: translateY(0);
            }
            .website-footer {
                padding-bottom: 5.6rem;
            }

            .__jivoMobileButton {
                bottom: 4.5rem!important;
            }

            .messengers {
                bottom: 6.6rem;
            }

            &._header-is-partial-visible {
                .messengers {
                    bottom: multi(2);
                }
            }
            &._top-link-is-visible {
                .messengers {
                    bottom: 12.6rem;
                }
            }
        }
        &._header-is-partial-visible {
            .website-header {
                transform: translateY(0);
                transition: transform .2s linear;
            }
            .website-bar {
                transform: translateY(100%);
            }
            .website-footer {
                padding-bottom: 0;
            }

            .__jivoMobileButton {
                bottom: 0!important;
            }
        }
        &._website-aside-is-opened {
            overflow: hidden;
            .website {
                &-wrapper {
                    overflow: hidden;
                }
                &-aside {
                    transform: translateX(0);
                    &-button {
                        &__bar {
                            width: 2.4rem;
                            background: transparent;
                            &::before {
                                top: 0;
                                width: 100%;
                                background: $colorYellow;
                                transform: rotate(45deg);
                            }
                            &::after {
                                bottom: 0;
                                width: 100%;
                                background: $colorYellow;
                                transform: rotate(-45deg);
                            }
                        }
                    }
                }
            }
            .messengers {
                z-index: 100;
            }

            jdiv {
                display: none!important;
            }

        }
        &._quick-search-is-expanded {
            padding-top: 12.8rem;
                &._header-is-static {
                    padding-top: 0; //6.4rem
                }

                .quick-search {
                    opacity: 1;
                    pointer-events: all;
                    visibility: visible;
                    transform: translateY(100%);
                }
        }

        &._website-options-expanded {
            overflow: hidden;
                &::before {
                    opacity: 1;
                }

                .website-options {
                    &__element {
                        &:hover {
                            .website-options__dropdown {
                                pointer-events: all;
                                opacity: 1;
                                z-index: 2;
                            }
                        }
                    }
                    &__dropdown {
                        pointer-events: all;
                        opacity: 1;
                        z-index: 2;
                    }
                }
                .sticky-navigation--sticky {
                    opacity: 0;
                    pointer-events: none;
                    z-index: 0;
                }
                .messengers {
                    opacity: 0;
                    pointer-events: none;
                }
        }

        &._catalog-filtered {
            .catalog {
                &-array {
                    &__element {
                        width: calc(50% - 1.2rem);
                    }
                }
                &-filter {
                    margin-left: 1.2rem;
                }
            }
        }

        &._messengers-is-opened {
            .messengers {
                &__element {
                    &--telegram {
                            bottom: 11.2rem;
                    }
                    &--whatsapp {
                        bottom: 5.6rem;
                    }
                }
            }
        }
    }
    @include bp-tabletXS {
        &._catalog-filtered {
            overflow: hidden;
                .website {
                    &-wrapper {
                        overflow: hidden;
                    }
                }
                .catalog {
                    &-array {
                        width: calc(100% + .8rem);
                        &__element {
                            width: calc(50% - .8rem);
                        }
                    }
                    &-filter {
                        margin-left: 0;
                        transform: none;
                    }
                }
        }
        &._header-is-collapsed {
            &._catalog-filtered {
                .sticky-navigation--sticky,
                .website-bar {
                    opacity: 0;
                    pointer-events: none;
                }

                .catalog-filter {
                    padding-top: 0;
                }
            }
        }
    }
}

address {
    font-style: normal;
}

button {
    padding: 0;
    font-family: $font;
    outline: 0;
    background: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
        &:not(disabled) {
            cursor: pointer;
        }
}

img {
    @include iblock(top);
    @include image(auto, 100%);
    height:auto;
    border: 0;
}

label {
    cursor: pointer;
    user-select: none;
}

textarea {
    resize: vertical;
}

ul {
    @include list-reset;
}

@include placeholder {
    text-overflow: ellipsis;
}

input[placeholder] {
    text-overflow:ellipsis;
}

input::-moz-placeholder {
    text-overflow:ellipsis;
}

input:-moz-placeholder {
    text-overflow:ellipsis;
}

input:-ms-input-placeholder {
    text-overflow:ellipsis;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: initial;
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

:focus::-webkit-input-placeholder {
    color: transparent;
}

:focus::-moz-placeholder {
    color: transparent;
}

:focus:-moz-placeholder {
    color: transparent;
}

:focus:-ms-input-placeholder {
    color: transparent;
}

/*
	Set font selection according to the website color scheme
*/

*::selection {
    background: map-get($basic, theme);
    color: $colorWhite;
}
*::-moz-selection {
    background: map-get($basic, theme);
    color: $colorWhite;
}

._hide,
._none,
[hidden] {
    display: none!important;
    visibility: hidden!important;
}

._noselect {
    @include noselect;
}

._align-l {
    @include align_l;
}
._align-c {
    @include align_c;
}
._align-r {
    @include align_r;
}
._align-j {
    @include align_j;
}

b {
    font-weight: 600;
}

span {
    &.value {
        @include inherit;
    }
}

._highlighted {
    color: $colorRed;
}

._w-100 {
    width: 100%;
}

/* margins */
._mt {
    &--16 {
        margin-top: multi(2);
    }
    &--24 {
        margin-top: multi(3);
    }
    &--32 {
        margin-top: multi(4);
    }
    &--40 {
        margin-top: multi(5);
    }
    &--48 {
        margin-top: multi(6);
    }
    &--56 {
        margin-top: multi(7);
    }
    &--64 {
        margin-top: multi(8);
    }
}
/* padding */
._pt {
    &--16 {
        padding-top: multi(2);
    }
    &--24 {
        padding-top: multi(3);
    }
    &--32 {
        padding-top: multi(4);
    }
    &--40 {
        padding-top: multi(5);
    }
    &--48 {
        padding-top: multi(6);
    }
    &--56 {
        padding-top: multi(7);
    }
    &--64 {
        padding-top: multi(8);
    }
}

//bx edit mode
div[id^="bx_incl_area"] {
    max-width: 100%;
}
