.i {
	display: block;
	@include smooth(.2s);

	//categories
	&._category-0 {
		@include size(14.3rem, 13.8rem);
	}
	&._category-1 {
		@include size(15.1rem, 13.6rem);
	}
	&._category-2 {
		@include size(16.1rem, 13.5rem);
	}
	&._category-3 {
		@include size(16.6rem, 13.7rem);
	}
	&._category-4 {
		//@include size(11.1rem, 14rem);
		@include size(11.1rem, 8rem);
	}
	&._category-5 {
		@include size(15.7rem, 13.7rem);
	}
	&._category-6 {
		@include size(15.3rem, 14.5rem);
	}
	&._category-7 {
		@include size(18.4rem, 14.6rem);
	}
	&._category-8 {
		@include size(19rem, 13.3rem);
	}
	&._category-9 {
		@include size(17.6rem, 13.2rem);
	}
	&._category-10 {
		@include size(17.2rem, 13.8rem);
	}
	&._category-11 {
		@include size(15.5rem, 10.8rem);
	}
	&._category-12 {
		@include size(16.7rem, 13.6rem);
	}
	&._category-13 {
		@include size(14.9rem, 14.9rem);
	}

	&._mobile-nav-couples {
		@include size(3.4rem, 2.6rem);
	}
	&._mobile-nav-females,
	&._mobile-nav-males {
		@include size(2.4rem, 2.4rem);
	}
	&._mobile-nav-underwear {
		@include size(3.3rem, 2.3rem);
	}
	&._mobile-nav-different {
		@include size(3.5rem, 2.6rem);
	}
	&._mobile-nav-bdsm {
		@include size(3.1rem, 2.9rem);
	}
	&._mobile-nav-presents {
		@include size(2.7rem, 2.7rem);
	}
	&._mobile-nav-favourites {
		@include size(2.3rem, 2rem);
	}
	&._mobile-nav-comparison {
		@include size(1.7rem, 1.8rem);
	}
	&._mobile-nav-lock {
		@include size(2.5rem, 2.3rem);
	}
	&._mobile-nav-locations {
		@include size(1.6rem, 2.6rem);
	}
	&._mobile-nav-reviews {
		@include size(2.2rem, 2.1rem);
	}
	&._mobile-nav-gift {
		//@include size(2.2rem, 2.3rem);
		@include size(18px, 20px);
	}
	&._mobile-nav-person {
		@include size(2.3rem, 1.9rem);
	}
	&._mobile-nav-log-out {
		@include size(2.3rem, 2rem);
	}
	&._mobile-nav-sign-up {
		@include size(2.4rem, 1.9rem);
	}

	//payment-systems
	&._visa {
		@include size(3rem, 1.1rem);
	}
	&._mastercard {
		@include size(3rem, 1.8rem);
	}
	&._mir {
		@include size(3.4rem, 1.1rem);
	}
	&._apple-pay {
		@include size(3.9rem, 1.7rem);
	}
	&._g-pay {
		@include size(4.2rem, 1.7rem);
	}
	&._group {
		@include size(26.7rem, 1.8rem);
	}


	@include bp-tablet {
		&._mobile-nav-gift {
			@include size(2.2rem, 2.3rem);
		}
	}
	@include bp-tabletXS {
		&._category-0 {
			@include size(9.3rem, 8.8rem);
		}
		&._category-1 {
			@include size(9.1rem, 8.6rem);
		}
		&._category-2 {
			@include size(10.1rem, 9.5rem);
		}
		&._category-3 {
			@include size(10.6rem, 8.7rem);
		}
		&._category-4 {
			//@include size(9.1rem, 9rem);
			@include size(9.1rem, 7rem);
		}
		&._category-5 {
			@include size(8.7rem, 7.7rem);
		}
		&._category-6 {
			@include size(9.3rem, 8.5rem);
		}
		&._category-7 {
			@include size(11.4rem, 9.6rem);
		}
		&._category-8 {
			@include size(9rem, 9.3rem);
		}
		&._category-9 {
			@include size(10.6rem, 8.2rem);
		}
		&._category-10 {
			@include size(10.2rem, 7.8rem);
		}
		&._category-11 {
			@include size(9.5rem, 6.8rem);
		}
		&._category-12 {
			@include size(10.7rem, 9.6rem);
		}
		&._category-13 {
			@include size(8.9rem, 8.9rem);
		}

		//payment-systems
		&._group {
			@include size(23.7rem, 1.6rem);
		}
	}
}