@mixin list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}
@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}
@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }

    @include optional-at-root(':-moz-placeholder') {
        @content;
    }

    @include optional-at-root('::-moz-placeholder') {
        @content;
    }

    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}
@mixin fontFace($family, $src, $weight: normal, $style: normal) {
    @font-face {
        font-display: swap;
        font-family: $family;
        //src: url('#{$src}.eot');
        src: //url('#{$src}.eot?#iefix') format('embedded-opentype'),
             url('#{$src}.woff') format('woff'),
             url('#{$src}.ttf') format('truetype'),
             url('#{$src}.svg##{$family}') format('svg');

        font-weight: $weight;
        font-style: $style;
    }
}
@mixin fontFaceAlt($family, $src, $weight: normal, $style: normal) {
    @font-face {
        font-display: swap;
        font-family: $family;
        src: //url('#{$src}.woff') format('woff'),
            url('#{$src}.woff2') format('woff2'),
            url('#{$src}.ttf') format('truetype');

        font-weight: $weight;
        font-style: $style;
    }
}

@mixin media($mediaWidth) {
    @media only screen and (max-width: $mediaWidth) {
        @content;
    }
}
@mixin minMedia($mediaWidth) {
    @media only screen and (min-width: $mediaWidth) {
        @content;
    }
}

/*
    Default media queries
*/

@mixin bp-desktopHD() {
    @media only screen and (max-width: map-get($maxWidth, desktopHD) ) {
        @content;
    }
}
@mixin bp-desktop() {
    @media only screen and (max-width: map-get($maxWidth, desktop) ) {
        @content;
    }
}
@mixin bp-desktopXS() {
    @media only screen and (max-width: map-get($maxWidth, desktopXS) ) {
        @content;
    }
}
@mixin bp-tablet() {
    @media only screen and (max-width: map-get($maxWidth, tablet) ) {
        @content;
    }
}
@mixin bp-tabletXS() {
    @media only screen and (max-width: map-get($maxWidth, tabletXS) ) {
        @content;
    }
}
@mixin bp-mobile() {
    @media only screen and (max-width: map-get($maxWidth, mobile) ) {
        @content;
    }
}
@mixin bp-mobileXS() {
    @media only screen and (max-width: map-get($maxWidth, mobileXS) ) {
        @content;
    }
}

/*
    Personal mixins
*/

@function multi($val) {
    @return .8 * $val + rem;
}

@mixin flex($width: 100%) {
    display: flex;
    width: $width;
    flex-wrap: wrap;
}
@mixin smooth($var) {
    transition: all $var ease;
}
@mixin table($hi: 100%) {
    display: table;
    width: 100%;
    height: $hi;
    table-layout: fixed;
}
@mixin td($align){
    display: table-cell;
    vertical-align: $align;
}
@mixin iblock($align: initial) {
    display: inline-block;
    vertical-align: $align;
}
@mixin noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
@mixin align_l {
    text-align: left;
}
@mixin align_c {
    text-align: center;
}
@mixin align_r {
    text-align: right;
}
@mixin align_j {
    text-align: justify;
}

@mixin upp {
    text-transform: uppercase;
}
@mixin image($width, $m_width) {
    width: $width;
    max-width: $m_width;
}
@mixin link($hi: auto) {
    display: block;
    height: $hi;
    text-decoration: none;
}
@mixin auto {
    margin-left: auto;
    margin-right: auto;
}
@mixin inherit {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
}
@mixin round {
    border-radius: 50%;
}
@mixin input($hi, $padding) {
    display: block;
    width: 100%;
    height: $hi;
    padding: $padding;
    font-family: $font;
    font-size: 1.6rem;
    background: transparent;
    border: .1rem solid map-get($grey, color_5);
    box-shadow: none;
    @include radius($radius);
    caret-color: map-get($basic, theme);
    outline: 0;
    resize: none;
    appearance: none;
    @include smooth(.2s);
}
@mixin button($width, $hi, $padding, $bg, $bc, $br) {
    display: inline-flex;
    width: $width;
    height: $hi;
    align-items: center;
    justify-content: center;
    padding: $padding;
    color: $colorWhite;
    font-family: $font;
    font-size: 1.6rem;
    font-weight: normal;
    @include align_c;
    text-decoration: none;
    line-height: 1;
    background: $bg;
    border: .1rem solid $bc;
    border-radius: $br;
    @include noselect;
    @include smooth(.2s);
}

@mixin hundred {
    width: 100%;
    height: 100%;
}
@mixin full {
    @include hundred;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@mixin offsets-reset {
    & > *:first-child {
        margin-top: 0!important;
    }
    & > *:last-child {
        margin-bottom: 0!important;
    }
}
@mixin size($width, $height) {
    width: $width;
    height: $height;
}
@mixin radius($val) {
    border-radius: $val;
}
@mixin outbox($paddings : 'false') {
    width: calc(100% + #{$gutter * 2});
    margin-left: -$gutter;
    margin-right: -$gutter;

    @if $paddings == 'true' {
        padding-left: $gutter;
        padding-right: $gutter;
    }
}

/*
    Creating cols
*/

@mixin make-row() {
    display: flex;
    flex-wrap: wrap;
    margin-right: ($gutter);
    margin-left: ($gutter);
}
@mixin make-col-ready() {
    width: 100%;
    padding-right: ($gutter);
    padding-left: ($gutter);
}
@mixin make-col($size) {
    flex: 0 0 percentage($size / $columns);
    max-width: percentage($size / $columns);
}

@mixin shadow() {
    box-shadow:
            0 .4rem 1.2rem rgba($colorBlack, .05),
            0 .01rem .03rem rgba($colorBlack, .014),
            0 .03rem .08rem rgba($colorBlack, .02),
            0 .05rem .15rem rgba($colorBlack, .025),
            0 .09rem .27rem rgba($colorBlack, .03),
            0 .17rem .5rem rgba($colorBlack, .036);
    /*filter:
            drop-shadow(0 .4rem 1.2rem rgba($colorBlack, .05)),
            drop-shadow(0 .01rem .03rem rgba($colorBlack, .014)),
            drop-shadow(0 .03rem .08rem rgba($colorBlack, .02)),
            drop-shadow(0 .05rem .15rem rgba($colorBlack, .025)),
            drop-shadow(0 .09rem .27rem rgba($colorBlack, .03)),
            drop-shadow(0 .17rem .5rem rgba($colorBlack, .036));*/
}
@mixin navShadow() {
    box-shadow:
            0 .22rem .28rem rgba($colorBlack, .02),
            0 .53rem .67rem rgba($colorBlack, .028),
            0 1rem 1.25rem rgba($colorBlack, .035),
            0 1.79rem 2.23rem rgba($colorBlack, .042),
            0 3.34rem 4.18rem rgba($colorBlack, .05),
            0 8rem 10rem rgba($colorBlack, .07)
}
@mixin searchShadow() {
    box-shadow:
            0 .22rem .28rem rgba($colorBlack, .02),
            0 .53rem .67rem rgba($colorBlack, .028),
            0 1rem .25rem rgba($colorBlack, .035),
            0 1.79rem 2.23rem rgba($colorBlack, .042),
            0 3.34rem 4.18rem rgba($colorBlack, .05),
            0 8rem 10rem rgba($colorBlack, .07);
}


@mixin touch-scroll() {
    -webkit-overflow-scrolling: touch;
}
@mixin font-size($size: 1.6rem, $height: 2.4rem) {
    font-size: $size;
    line-height: $height;
}

@mixin line-clamp($line) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


