/* Headings */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	width: 100%;
	margin: 0;
	font-family: $font2;
	font-weight: 600;
}

h1, .h1 {
	margin-bottom: 3rem;
	@include font-size(6.4rem, 6.4rem);
		&.primary {
			margin-bottom: multi(3);
			@include font-size(multi(4), multi(6));
			font-weight: 300;
			@include align_c;
		}
}

h2, .h2 {
	margin-bottom: 2.6rem;
	@include font-size(3.6rem, 3.2rem);
}

h3, .h3 {
	margin-bottom: 2.2rem;
	font-size: 2.6rem;
	line-height: 3.6rem;
}

h4, .h4 {
	margin-bottom: 2rem;
	font-size: 2rem;
	line-height: 2.6rem;
}

h5, .h5 {
	margin-bottom: 1.8rem;
	font-size: 1.8rem;
	line-height: 2.4rem;
}

h6, .h6 {
	margin-bottom: 1.7rem;
	font-size: 1.5rem;
	line-height: 2.2rem;
}

@include bp-tabletXS {
	h1, .h1 {
		//@include font-size(3.6rem ,4rem);
		@include font-size(2.6rem, 3.2rem);
			&.primary {
				@include font-size(2.6rem, 3.2rem);
			}
	}
	h2, .h2 {
		font-size: 3.2rem;
		margin-bottom: 1.6rem;
	}
}

/* Text */

p {
	width: 100%;
	max-width: 87rem;
	margin: 0;
	@include font-size();
		& + p {
			margin-top: $gutter;
		}

		&.p--l {
			@include font-size(1.8rem, 3.2rem);
		}

	@include bp-tabletXS {
		font-size: 1.4rem;
			&.p--l {
				@include font-size(1.3rem, 2.4rem);
			}
	}
}

/* Links */

a {
	color: map-get($basic, theme);
	font-size: inherit;
	text-decoration: none;
	outline: 0;
	@include smooth(.15s);

	&:not(.borderless):not(.button) {
		border-bottom: .1rem solid rgba(map-get($basic, theme), .2);
		&:hover {
			border-bottom-color: transparent;
		}
		&.dotted {
			border-bottom-style: dashed;
		}
	}
}
