$containerWidth       : 142.4rem;
$columns              : 12;
$column               : 8.33%;
$gutter               : 1.5rem;
$gridBase             : .4rem;

/* Sizes */

$size                 : 62.5%;

/* Font Families */

$font                 : 'Roboto', sans-serif;
$font2                : 'Fregat', sans-serif;
$regular			  : 400;
$semibold			  : 500;
$bold				  : 600;
$bolder				  : 700;

/* Colors */

$colorBlack           : #000000;
$colorWhite           : #ffffff;
$colorRed             : #de2424;
$colorLightRed        : #fce9e9;
$colorFlamingo		  : #eb5757;
$colorYellow          : #f2c94c;
$colorYellow2         : #ffa000;
$colorYellow3         : #fefaed;
$colorGreen	          : #27ae60;
$colorGreen2          : #219653;
$colorLightGreen      : #e9f7ef;
$colorOrange	      : #f2994a;
$colorLightOrange     : rgba($colorOrange, .1);

$basic : (
	theme   	: #9e42dc,
	themeLight  : #f5ecfb,
	themeAlt  	: #8642DC,
	themeAlt2 	: #f8ecff,
	themeSecondary : #4f24f0,
	primary 	: #333333,
);
$grey : (
	color_0   	: #f1f2f6,
	color_1 	: #383838,
	color_2 	: #757575,
	color_3 	: #4a4a4a,
	color_4 	: #242424,
	color_5 	: #dfe0ea,
	color_6 	: #dcdada,
	color_7 	: #ededed,
	color_8 	: #bdbdbd,
	color_9 	: #f8f8fa,
	color_10	: #e0e0e0,
	color_11	: #b1afaf,
	color_12	: #c4c4c4,
	color_13	: #676767,
	color_14	: #f9f9fb,
);
$social : (
	inst	: linear-gradient(225deg, #FEDA75 -0.22%, #FA7E1E 24.89%, #D62976 51.05%, #962FBF 74.58%, #4F5BD5 100.22%),
	fb 		: #1877f2,
	fbAlt   : #415a94,
	vk 		: #5181b8,
	utube 	: #fe021c,
	tiktok 	: #000000,
	ok	 	: #eb973e,
	tl	 	: linear-gradient(to bottom, rgba(87,172,221,1) 0%,rgba(80,164,212,1) 50%,rgba(67,148,195,1) 100%),
);

/* Media Queries */

//max-width
$desktopHDWidth      : 1450px;
$desktopWidth        : 1285px;
$desktopXsWidth      : 1199px;
$tabletWidth         : 991px;
$tabletXsWidth       : 767px;
$mobileWidth         : 599px;
$mobileXsWidth       : 359px;

//min-width
$desktopHDWidth      : 1451px;
$desktopWidth        : 1286px;
$desktopXsWidth      : 1200px;
$tabletWidth         : 992px;
$tabletXsWidth       : 768px;
$mobileWidth         : 600px;
$mobileXsWidth       : 360px;

$maxWidth: (
	desktopHD : 1450px,
	desktop   : 1285px,
	desktopXS : 1199px,
	tablet    : 991px,
	tabletXS  : 767px,
	mobile    : 599px,
	mobileXS  : 359px
);
$minWidth: (
	desktopHD : 1451px,
	desktop   : 1286px,
	desktopXS : 1200px,
	tablet    : 992px,
	tabletXS  : 768px,
	mobile    : 600px,
	mobileXS  : 360px
);
// Example
// map-get($minWidth, desktopHD);


/* Other */

$radius : 1rem;
$gradient : linear-gradient(180deg, map-get($basic, theme) 0%, map-get($basic, themeAlt) 100%);
