.show-more {
	color: $colorBlack;
	@include font-size(1.8rem, 3.2rem);
		& p {
			@include inherit;
		}

	&__hidden {
		display: none;
		margin-top: $gutter;
	}
	&__button {
		margin-top: $gutter;
		color: map-get($basic, theme);
		@include font-size(1.8rem, 3.2rem);
	}

	&._expanded {
		.show-more__hidden {
			display: block;
		}
	}

	&--text-full-width {
		& p {
			max-width: 100%;
		}
	}

	@include bp-tabletXS {
		@include font-size(1.3rem);
		&__button {
			margin-top: .5rem;
			@include font-size(1.3rem);
		}
	}
}