.address {
	&-array {
		width: 100%;
		&__control {
			margin-top: 3.2rem;
		}
	}
	&-element {
		width: 100%;
		border-top: .1rem solid map-get($grey, color_7);
		border-bottom: .1rem solid map-get($grey, color_7);
			&__button {
				position: relative;
				width: 100%;
				padding: 2.5rem 0 2.9rem;
				color: map-get($grey, color_2);
				@include font-size(1.8rem, 3.2rem);
				@include align_l;
				@include smooth(.2s);
					&::after {
						content: '';
						position: absolute;
						top: 50%;
						right: 2.4rem;
						@include size(.85rem, 1.4rem);
						background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.792893 0.292893C1.18342 -0.0976311 1.81658 -0.0976311 2.20711 0.292893L8.20711 6.29289C8.59763 6.68342 8.59763 7.31658 8.20711 7.70711L2.20711 13.7071C1.81658 14.0976 1.18342 14.0976 0.792893 13.7071C0.402369 13.3166 0.402369 12.6834 0.792893 12.2929L6.08579 7L0.792893 1.70711C0.402369 1.31658 0.402369 0.683417 0.792893 0.292893Z' fill='%23BDBDBD'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
						background-size: cover;
						transform: translateY(-50%);
						@include smooth(.2s);
						will-change: transform;
					}
			}
			&__body {
				width: 100%;
				padding-bottom: 4.8rem;
			}

			&._expanded {
				.address-element__button {
					color: map-get($basic, theme);
						&::after {
							width: .8rem;
							background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L7.70711 6.29289C8.09763 6.68342 8.09763 7.31658 7.70711 7.70711L1.70711 13.7071C1.31658 14.0976 0.683417 14.0976 0.292893 13.7071C-0.0976311 13.3166 -0.0976311 12.6834 0.292893 12.2929L5.58579 7L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893Z' fill='%239e42dc'/%3E%3C/svg%3E%0A");
							transform: rotate(90deg) translateX(-50%);
						}
				}
			}
			& + .address-element {
				border-top: 0;
			}
	}

	@include bp-tabletXS {
		&-array {
			&__control {
				margin-top: 2.4rem;
					& .button {
						width: 100%;
					}
			}
		}
		&-element {
			@include outbox;
			&__button {
				padding: 1.5rem 4.8rem 1.7rem 1.6rem;
				@include font-size(1.5rem, 2.4rem);
			}
			&__body {
				padding-left: 1.6rem;
				padding-right: 1.6rem;
				padding-bottom: 3.2rem;
			}
		}
	}
}