._with-arrows {
	.slick {
		&-arrow {
			position: absolute;
			top: 0;
			@include flex(20%);
			height: 100%;
			align-items: center;
			opacity: 0;
			z-index: 2;
			@include smooth(.2s);

			&:hover {
				opacity: 1;
			}
		}
		&-prev {
			left: 0;
			padding-left: 4rem;
			justify-content: flex-start;
			@include align_l;
		}
		&-next {
			right: 0;
			justify-content: flex-end;
			padding-right: 4rem;
			@include align_r;
		}
		&-disabled {}
		&-marker {
			display: inline-flex;
			@include size(6.4rem, 6.4rem);
			align-items: center;
			justify-content: center;
			background: $colorWhite;
			@include round;
			.i {
				@include size(2.5rem, 2rem);
				fill: map-get($basic, primary);
				vertical-align: middle;
				@include smooth(.2s);
			}
		}

		@include bp-tablet {
			&-arrow {
				display: none!important;
			}
		}
	}
}