.banner {
	position: relative;
	@include hundred;
	@include radius($radius);
	overflow: hidden;
		&__link {
			@include link(100%);
			@include radius($radius);
			overflow: hidden;
		}
		img {
			@include hundred;
			object-fit: cover;
			object-position: center center;
			@include radius($radius);
			will-change: transform;
			@include smooth(.5s);
		}

	&:hover {
		img {
			transform: scale(1.05);
		}
	}

	@include bp-tabletXS {
		&:hover {
			img {
				transform: none;
			}
		}
	}
}