.block-underlay {
	width: 100%;
	padding: 4.8rem;
	background: $colorWhite;
	@include radius($radius);
	@include offsets-reset;
		&--boxed {
			max-width: 56rem;
			@include auto;
			padding: 6.8rem 6.4rem 5.7rem 7.2rem;
		}
		&--comparison {
			padding: 1.8rem 0 3.2rem;
		}
		&--sticky {
			position: sticky;
			top: 2rem;
			transition: top .2s linear;

			& .js-order-step {
				&  + .js-order-step {
					margin-top: multi(3);
				}

				.button + .button {
					margin-top: multi(2);
				}
			}
		}
		&--one-click {
			position: relative;
		}
		&--overflow-hidden {
			overflow: hidden;
		}
		&--with-button {
			position: relative;
				& h2 {
					margin-bottom: 6rem;
				}
		}
		&--with-sidebar {
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
				& .h2 {
					width: 100%;
				}
		}

		& .h2 {
			margin-top: 4.2rem;
		}

		& + .block-underlay {
			margin-top: 1.6rem;
		}
		&[hidden] + .block-underlay {
			margin-top: 0;
		}

		&__header {
		@include flex(auto);
		align-items: flex-end;
		margin-bottom: 4.6rem;
			h2 {
				width: auto;
				margin-bottom: 0;
			}
			& .rating {
				display: none;
				margin-top: .4rem;
				margin-left: 1.8rem;
			}
	}
		&__headline {
			margin-bottom: 0;
			@include font-size(4.8rem, 4.8rem);
		}
		&__one-click-button {
			position: absolute;
			top: 2.8rem;
			right: 4.8rem;
		}
		&__button {
			position: absolute;
			top: 4.4rem;
			right: multi(6);
				&.button {
					padding-left: multi(4);
					padding-right: multi(4);
				}
		}

		&__body {
			width: calc(100% - 20.2rem);
			padding-right: multi(5);
		}
		&__sidebar {
			width: 20.2rem;
		}


	& .breadcrumbs {
		margin-bottom: 1.2rem;
	}

	@include bp-desktopXS {
		&--sticky {
			position: static;
		}
	}
	@include bp-tablet {
		padding: 2.8rem 1.6rem;
		&--collapsible {
			.block-underlay {
				&__header {
					& .rating {
						display: flex;
					}
				}
			}
		}
		&--comparison {
			padding-left: 0;
			padding-right: 0;
		}
		&--with-sidebar {
			display: block;
		}
		&--with-button {}

		&__body {
			width: 100%;
			padding-right: 0;
		}
		&__sidebar {
			width: 100%;
		}
		&__button {
			top: 2.2rem;
			right: multi(3);
		}

		&__one-click-button {
			top: 1rem;
			right: 1.6rem;
		}
	}
	@include bp-tabletXS {
		@include outbox;
		padding: 2.4rem 1.5rem;
		@include radius(0);
			&__headline {
				//@include font-size(3.6rem, 4rem);
				@include font-size(2.6rem, 3.2rem);
			}
			&__sidebar {
				@include outbox('ture');
			}
			&__button {
				position: relative;
				top: auto;
				right: auto;
				@include size(100%, multi(5));
				margin-top: multi(3);
			}


			&__one-click-button {
				position: static;
				top: initial;
				right: initial;
				@include size(100%, 4.8rem);
				margin-bottom: 2.4rem;
			}

			h2 {
				@include font-size(2.4rem, 3.2rem);
			}

			&--boxed {
				max-width: calc(100% + #{$gutter * 2});
				padding-top: 3.2rem;
				padding-bottom: 3.2rem;
			}
			&--collapsible {
				position: relative;
					.block-underlay {
						&__header {
							align-items: center;
							margin-bottom: 0;
						}
					}
			}
			&--comparison {
				padding-top: 0;
				padding-left: 0;
				padding-right: 0;
			}
			&--no-mobile-underlay {
				padding-top: 0;
				padding-bottom: 0;
				background: transparent;
				@include radius(0);
			}
			&--no-padding-top {
				padding-top: 0;
			}
			&--no-padding-bottom {
				padding-bottom: 0;
			}
			&--with-sidebar {}

			&.content-page {
				width: calc(100% + #{$gutter * 2});
					& h2 {
						line-height: 3.2rem!important;
					}
			}
			& + .block-underlay {
				margin-top: .8rem;
			}

			& .rating {
				&-stars {
					@include size(7.4rem, 1.2rem);
						&__element {
							@include size(1.3rem, 1.2rem);
								&:not(:last-child) {
									margin-right: .25rem;
								}
						}
				}
				&-description {
					margin-left: .4rem;
					@include font-size(1.1rem, 1.6rem);
				}
			}
	}
}