.developers {
	@include flex(auto);
	align-items: center;
	color: map-get($grey, color_2);
	@include font-size(1.3rem);
		&:hover {
			color: $colorWhite;
		}
		.i {
			@include size(8.2rem, 1.5rem);
			margin-top: -.2rem;
			margin-left: .7rem;
			fill: $colorWhite;
		}

	@include bp-tablet {
		font-size: 1.1rem;

		.i {
			@include size(7.1rem, 1.3rem);
		}
	}
}