.discount {
	&-array {
		@include flex();
		align-items: flex-start;
			&__element {
				@include font-size();
				& + .discount-array__element {
					margin-left: 4.3rem;
				}
				&-label {
					width: 100%;
					@include inherit;
				}
				&-value {
					@include flex();
					align-items: center;
					color: map-get($basic, theme);
					font-family: $font2;
					@include font-size(3.6rem, 4rem);
					font-weight: $bold;
				}
			}

		& + .discount-message {
			margin-top: .8rem;
		}
	}
	&-message {
		color: map-get($grey, color_2);
	}
	&-controls {
		@include flex();
		margin-top: 2.6rem;

			& .button + .button {
				margin-left: .8rem;
			}
	}
	&-table {
		margin-top: 1.6rem;
			&__total-orders,
			&__prompt {
				@include font-size(1.8rem);
			}
			&__total-orders {
				margin-bottom: 3.4rem;
			}
			&__prompt {
				margin-top: 3.8rem;
				color: map-get($grey, color_2);
			}
			&__row {
				@include flex();
				max-width: 39rem;
				align-items: center;
				justify-content: center;
				padding-top: 1.1rem;
				padding-bottom: 1.2rem;
				@include font-size(1.8rem);
				border-top: .1rem solid map-get($grey, color_5);
				border-bottom: .1rem solid map-get($grey, color_5);
					& + .discount-table__row {
						border-top: 0;
					}
					&-sum,
					&-discount {
						@include inherit;
						@include align_r;
					}
					&-sum {
						min-width: 9rem;
					}
					&-discount {
						position: relative;
						min-width: 7.5rem;
					}

					&--header {
						font-weight: $bold;
						border-top: 0;
					}
					&--disabled {
						color: map-get($grey, color_11);
					}
					&--current {
						color: map-get($basic, theme);
						font-weight: $bold;
						background: rgba(map-get($basic, theme), .1);
							.discount-table__row-discount {
								&::before {
									content: '';
									position: absolute;
									top: 50%;
									left: 2rem;
									display: block;
									@include size(1.4rem, .6rem);
									background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 14 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.466 5.22C9.706 4.584 10 4.038 10.348 3.582H0.7V2.106H10.348C10.012 1.65 9.724 1.104 9.484 0.467999H10.852C11.596 1.344 12.412 2.01 13.3 2.466V3.24C12.412 3.672 11.596 4.332 10.852 5.22H9.466Z' fill='%239E42DC'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
									background-size: cover;
									will-change: transform;
									transform: translateY(-50%);
								}
							}
					}
			}

			&--wide {
				.discount-table {
					&__row {
						&-discount {
							min-width: 16rem;
						}
					}
				}
			}
	}

	@include bp-desktopXS {
		&-controls {
			& .button {
				&--m {
					padding-left: 2rem;
					padding-right: 2rem;
				}
			}
		}
	}
	@include bp-tablet {
		&-controls {
			& .button {
				&--m {
					padding-left: 3.2rem;
					padding-right: 3.2rem;
				}
			}
		}
	}
	@include bp-tabletXS {
		&-array {
			&__element {
				font-size: 1.3rem;
				& + .discount-array__element {
					margin-left: 5.4rem;
				}
				&-value {
					font-size: 2.4rem;
				}
			}

			& + .discount-message {
				margin-top: .4rem;
			}
		}
		&-message {
			font-size: 1.3rem;
		}
		&-controls {
			margin-top: 2.4rem;
			& .button {
				width: 100%;
				& + .button {
					margin-top: .8rem;
					margin-left: 0;
				}
			}
		}
		&-table {
			margin-top: .8rem;
			&__total-orders {
				margin-bottom: 1.6rem;
				font-size: 1.5rem;
			}
			&__prompt {
				margin-top: 1.6rem;
				font-size: 1.3rem;
			}
			&__row {
				padding-top: .7rem;
				padding-bottom: .7rem;
				font-size: 1.5rem;
					&-sum {
						min-width: 6.5rem;
					}
					&-discount {
						min-width: 6rem;
					}

					&--current {
						.discount-table__row-discount {
							&::before {
								left: 1.5rem;
								@include size(1.1rem, .45rem);
							}
						}
					}
			}

			&--wide {
				.discount-table {
					&__row {
						&-sum {
							min-width: 7.5rem;
						}
						&-discount {
							min-width: 10rem;
						}
					}
				}
			}
		}
	}
}