._with-dots {
	.slick-dots {
		position: absolute;
		left: 0;
		bottom: 1.8rem;
		display: block;
		width: 100%;
		max-width: 100%;
		margin: 0;
		padding: 0;
		font-size: 0;
		@include align_c;
		list-style: none;
		z-index: 3;
			li {
				@include iblock(top);
				padding-left: 0;
				&:not(:last-child) {
					margin-bottom: 0;
				}
				&::before {
					display: none;
				}
				&.slick-active {
					button {
						&::before {
							background: rgba($colorWhite, 1);
						}
					}
				}
			}
			button {
				display: block;
				@include size(2.8rem, 2.8rem);
				padding: .8rem;
				&::before {
					content: '';
					display: block;
					@include hundred;
					background: rgba($colorWhite, .3);
					@include round;
					@include smooth(.2s);
				}
				&:hover {
					&::before {
						background: rgba($colorWhite, .6);
					}
				}
			}

		@include bp-tabletXS {
			bottom: .6rem;
		}
	}
}