.helpers {
	&-section {
		width: 100%;
		&__headline {
			width: 100%;
			margin-bottom: multi(3);
			font-family: $font2;
			@include font-size(3.6rem, 4.8rem);
			font-weight: normal;
			@include align_c;
		}
	}
	&-array {
		&__element {}
	}
	&-element {
		@include flex();
		height: 100%;
		align-items: center;
		justify-content: space-between;
		padding: 1.5rem 1.6rem;
		background-color: $colorWhite;
		@include radius($radius);
			&__headline {
				@include flex(auto);
				align-items: center;
				color: $colorBlack;
				font-family: $font2;
				@include font-size(1.8rem, 3.2rem);
			}
			& .i {
				display: block;
				@include size(multi(8), multi(8));
				margin-right: multi(2);
			}
			& .button {
				width: 8.8rem;
				padding-left: 0;
				padding-right: 0;
				font-size: 1.4rem;
			}

			&:hover {
				& .button {
					color: $colorWhite;
					background: map-get($basic, theme);
					border-color: map-get($basic, theme);
				}
			}
	}

	@include bp-desktopXS {
		&-element {
			&__headline {
				font-size: 1.4rem;
			}
			& .i {
				margin-right: 1rem;
			}
		}
	}
	@include bp-tablet {
		&-array {
			&__element {
				& + .helpers-array__element {
					margin-top: multi(3);
				}
			}
		}
		&-element {
			&__headline {
				font-size: 1.8rem;
			}
			& .i {
				margin-right: multi(2);
			}
		}
	}
	@include bp-tabletXS {
		&-section {
			&__headline {
				margin-bottom: 1.8rem;
				@include font-size(1.8rem, 2.4rem);
			}
		}
		&-array {
			&__element {
				& + .helpers-array__element {
					margin-top: multi(1);
				}
			}
		}
		&-element {
			position: relative;
			height: auto;
			padding-top: 1.2rem;
			padding-right: multi(4);
			padding-bottom: 1.2rem;
				&::before {
					content: '';
					position: absolute;
					top: 50%;
					right: multi(3);
					display: block;
					@include size(multi(1), 1.4rem);
					background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L7.70711 6.29289C8.09763 6.68342 8.09763 7.31658 7.70711 7.70711L1.70711 13.7071C1.31658 14.0976 0.683417 14.0976 0.292893 13.7071C-0.0976311 13.3166 -0.0976311 12.6834 0.292893 12.2929L5.58579 7L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893Z' fill='%23BDBDBD'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
					background-size: cover;
					will-change: transform;
					transform: translateY(-50%);
				}
				&__headline {
					@include font-size(1.4rem, 2.4rem);
				}
				& .i {
					@include size(multi(5), multi(5));
				}
				& .button {
					display: none;
				}
		}
	}
}