.like-dislike {
	display: flex;
	align-items: center;
	color: map-get($grey, color_2);
		&__label {
			margin-top: .3rem;
			margin-right: multi(2);
			color: map-get($grey, color_2);
			@include font-size(1.4rem);
		}
		&__control {
			@include flex(multi(4));
			height: multi(4);
			align-items: center;
			justify-content: center;
				&::before {
					content: '';
					display: block;
					@include size(2.6rem, 2.6rem);
					background-size: cover;
					background-position: center center;
					background-repeat: no-repeat;
				}
				&--like {
					margin-right: multi(1);
					padding-bottom: .2rem;
						&::before {
							background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='11.0117' width='6.65185' height='13.3037' stroke='%23757575' stroke-width='2' stroke-linejoin='round'/%3E%3Cpath d='M7.61865 11.5436C8.96633 10.7065 11.884 7.94734 12.6399 4.40369C12.8656 3.34599 12.6286 1.43071 13.6636 1.29312C14.6202 1.16597 15.6126 2.45465 16.1245 3.71461C16.6363 4.97457 16.6363 8.83321 15.2976 10.8216H18.7159L20.7465 10.8262H23.2776C24.2289 10.8262 25.0001 11.5974 25.0001 12.5487C25.0001 13.5001 24.2289 14.2713 23.2776 14.2713H21.3247H23.1454C24.0907 14.2713 24.857 15.0376 24.857 15.9829C24.857 16.9281 24.0907 17.6944 23.1454 17.6944H20.6461H22.0051C22.9505 17.6944 23.7168 18.4608 23.7168 19.4061C23.7168 20.3515 22.9505 21.1178 22.0051 21.1178H20.038H21.0561C21.8226 21.1178 22.444 21.7392 22.444 22.5057C22.444 23.2723 21.8226 23.8937 21.0561 23.8937H18.1353C16.0424 23.8768 11.0089 23.4476 7.61865 21.8659' stroke='%23757575' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
						}
				}
				&--dislike {
					margin-left: multi(1);
					padding-top: .2rem;
						&::before {
							background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 27 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='6.65185' height='13.3037' transform='matrix(1 0 0 -1 1.20117 14.7883)' stroke='%23757575' stroke-width='2' stroke-linejoin='round'/%3E%3Cpath d='M7.81982 14.2565C9.1675 15.0935 12.0851 17.8527 12.8411 21.3964C13.0667 22.4541 12.8297 24.3693 13.8648 24.5069C14.8214 24.6341 15.8138 23.3454 16.3257 22.0854C16.8375 20.8255 16.8375 16.9668 15.4988 14.9785H18.9171L20.9476 14.9738H23.4787C24.4301 14.9738 25.2013 14.2026 25.2013 13.2513C25.2013 12.3 24.4301 11.5288 23.4787 11.5288H21.5258H23.3466C24.2919 11.5288 25.0582 10.7625 25.0582 9.81718C25.0582 8.8719 24.2919 8.1056 23.3466 8.1056H20.8473H22.2063C23.1517 8.1056 23.918 7.33926 23.918 6.39392C23.918 5.44858 23.1517 4.68224 22.2063 4.68224H20.2392H21.2572C22.0238 4.68224 22.6452 4.06084 22.6452 3.2943C22.6452 2.52777 22.0238 1.90637 21.2572 1.90637H18.3365C16.2435 1.92327 11.21 2.35248 7.81982 3.93411' stroke='%23757575' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
						}
				}
		}
		&__value {
			@include flex(auto);
			min-width: multi(4);
			height: multi(4);
			align-items: center;
			justify-content: center;
			padding-left: multi(1);
			padding-right: multi(1);
			font-size: 1.4rem;
			font-weight: $semibold;
			background-color: rgba(map-get($grey, color_2), .1);
			@include radius(.5rem);
		}

		&--green {
			color: $colorGreen2;
				.like-dislike__value {
					background-color: rgba($colorGreen2, .1);
				}
		}
		&--red {
			color: $colorFlamingo;
				.like-dislike__value {
					background-color: rgba($colorFlamingo, .1);
				}
		}

	@include bp-tabletXS {
		&__label {
			margin-top: 0;
			margin-right: multi(1);
			@include font-size(1.2rem, multi(2));
		}
		&__control {
			@include size(multi(3), multi(3));
				&::before {
					@include size(2.3rem, 2.2rem);
				}
		}
		&__value {
			min-width: multi(3);
			height: multi(3);
			padding-left: .4rem;
			padding-right: .4rem;
			@include font-size(1.2rem, 1);
		}
	}
}