.load-more {
	&__element {
		transition: opacity .3s linear;
			&--hidden {
				height: 0;
				margin: 0!important;
				opacity: 0;
				overflow: hidden;
					&.reviews-component {
						padding-bottom: 0;
						border-bottom: 0;
					}
			}
	}
	&__button {
		margin-top: 2rem;
		color: map-get($basic, theme);
		@include font-size(1.4rem, multi(2));
		appearance: none;
	}

	@include bp-tabletXS {
		&__element {
			&--hidden {
				height: initial;
				opacity: initial;
				overflow: initial;
			}
		}

		&--mobile-hidden {
			.load-more {
				&__element {
					&--hidden {
						height: 0;
						margin: 0!important;
						opacity: 0;
						overflow: hidden;
					}
				}
				&__button {
					margin-top: 1.2rem;
					@include font-size(1.2rem, multi(2));
				}
			}
		}
	}
}