.one-click-order {
	@include flex();
	justify-content: space-between;
		&__form {
			@include flex(auto);

				& .input {
					width: 28rem;
						& + .button {
							margin-left: multi(1);
						}
				}
		}

	@include bp-tablet {
		&__form {
			width: 100%;
				& .input {
					width: calc(100% - 23.8rem);
				}
				& .button {
					width: 23rem;
				}
		}

		& > .button {
			width: 100%;
			margin-bottom: multi(2);
			order: -1;
		}
	}
	@include bp-tabletXS {
		&__form {
			display: block;
			& .input {
				width: 100%;
				& + .button {
					width: 100%;
					margin-top: multi(1);
					margin-left: 0;
				}
			}
		}
	}
}