.payment-systems {
	@include flex(auto);
	align-items: center;
		&__element {
			width: auto;
				&:not(:last-child) {
					margin-right: 2.4rem;
				}
		}

	@include bp-tabletXS {
		&__element {
			&:not(:last-child) {
				margin-right: 1.8rem;
			}
		}
	}
}