.preloader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	@include hundred;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: rgba(map-get($basic, primary), .5);
	z-index: 500;
}
.preloader {
	$rectCount: 5;
	$animationDuration: 1.2s;
	$delayRange: 0.4s;

	display: flex;
	width: 4rem * 1.5;
	height: 4rem;
	flex-wrap: wrap;
	justify-content: center;

	&__rect {
		width: .4rem;
		height: 100%;
		background-color: map-get($basic, theme);
		animation: preloader $animationDuration infinite ease-in-out;
			&:not(:last-child) {
				margin-right: .2rem;
			}
	}

	@for $i from 1 through $rectCount {
		.preloader__rect--#{$i} {
			animation-delay: - $animationDuration + $delayRange / ($rectCount - 1) * ($i - 1);
		}
	}
}

@keyframes preloader {
	0%, 40%, 100% {
		transform: scaleY(0.4);
	}
	20% {
		transform: scaleY(1.0);
	}
}