.price-range {
	width: 100%;
		&__inputs {
			@include flex();
			align-items: flex-start;
			justify-content: space-between;
		}
		&__input {
			position: relative;
			width: calc(50% - #{$gutter});
				& + .price-range__input {
					&::before {
						content: '';
						position: absolute;
						top: 2.8rem;
						left: -2.1rem;
						display: block;
						@include size(1.3rem, .1rem);
						background: map-get($grey, color_5);
					}
				}
		}
		&__field {
			@include input(5.6rem, 1.8rem $gutter 1.8rem 3.4rem);
			color: $colorBlack;
				&:focus {
					background-color: $colorWhite;
				}
				&::-ms-clear {
					display: none;
				}
				&::-ms-reveal {
					display: none;
				}
		}
		&__prefix {
			position: absolute;
			top: 2.1rem;
			left: 1.2rem;
			color: map-get($grey, color_2);
			@include font-size(1.6rem, 1.6rem);
		}

	& .irs {
		&-bar {
			background: map-get($grey, color_2);
		}
		&-handle {
			top: 0;
			@include size(2.4rem, 2.4rem);
			background: $colorWhite;
			border: .3rem solid map-get($basic, theme);
			@include round;
			box-shadow: none;
			cursor: pointer;
				&.state_hover,
				&:hover {
					background: $colorWhite;
				}
		}
		&--round {
			height: 2.4rem;
			margin-top: 1.8rem;
				.irs {
					&-line {
						top: .9rem;
						background: map-get($grey, color_0);
					}
					&-bar {
						top: .9rem;
						background-color: map-get($basic, theme);
					}
				}
		}
	}
}