.promo {
	&-array {
		&__element {}
	}
	&-element {
		@include flex();
		height: 8.7rem;
		align-items: center;
		justify-content: center;
		color: $colorWhite;
		font-family: $font2;
		@include font-size(multi(4), 1);
		font-weight: $bold;
		background: linear-gradient(180deg, map-get($basic, theme) 0%, map-get($basic, themeAlt) 100%);
		@include radius($radius);
		@include shadow();

			& .i {
				margin-right: multi(3);
					&._discounts {
						@include size(5.4rem, 7.1rem);
					}
					&._quiz {
						@include size(12rem, 7.1rem);
					}
			}
	}

	@include bp-tablet {
		&-array {
			&__element {
				& + .promo-array__element {
					margin-top: multi(2);
				}
			}
		}
	}
	@include bp-tabletXS {
		&-element {
			height: multi(7);
			font-size: 1.8rem;
			& .i {
				margin-right: multi(1);
				&._discounts {
					@include size(3.6rem, 4.6rem);
				}
				&._quiz {
					@include size(7rem, 3.8rem);
				}
			}
		}
	}
}