.promo-section {
	@include flex();
	margin-bottom: 2.8rem;
		&__row {
			&:not(:last-child) {
				margin-right: 1.6rem;
			}
			&--video {
				@include size(23rem, 23rem);
			}
			&--array {
				width: 31.7rem;
			}
			&--list {
				width: 100%;
			}
		}
		&-element {
			position: relative;
			@include link();
			width: 100%;
			min-height: 11rem;
			padding: 3.8rem 10rem 2.3rem 2.3rem;
			color: map-get($basic, primary);
			font-family: $font2;
			@include font-size(1.8rem);
			font-weight: $bold;
			background: rgba(map-get($basic, theme), .1);
			border: .1rem solid rgba(map-get($basic, theme), .1);
			@include radius($radius);
				&::after {
					content: '';
					position: absolute;
					right: 3rem;
					bottom: 4rem;
					@include size(1.6rem, 1.6rem);
					background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.29289 14.2929C6.90237 14.6834 6.90237 15.3166 7.29289 15.7071C7.68342 16.0976 8.31658 16.0976 8.70711 15.7071L15.7071 8.70711C16.0976 8.31658 16.0976 7.68342 15.7071 7.29289L8.70711 0.292894C8.31658 -0.0976308 7.68342 -0.0976307 7.29289 0.292894C6.90237 0.683418 6.90237 1.31658 7.29289 1.70711L12.5858 7L0.999999 7C0.447714 7 -7.47665e-07 7.44772 -6.99382e-07 8C-6.511e-07 8.55229 0.447714 9 0.999999 9L12.5858 9L7.29289 14.2929Z' fill='%239E42DC'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
					background-size: cover;
					@include smooth(.2s);
					will-change: transform;
					z-index: 1;
				}
				&__label {
					position: absolute;
					top: -.1rem;
					left: -.1rem;
					display: block;
					padding: .4rem 1rem;
					color: $colorWhite;
					font-family: $font;
					@include font-size(1.2rem, 1.6rem);
					font-weight: $bold;
					letter-spacing: .03em;
					@include upp;
					background: map-get($basic, theme);
					@include radius($radius 0);
					z-index: 1;
				}
				&:hover {
					&::after {
						transform: translateX(.5rem);
					}
				}

				& + .promo-section-element {
					margin-top: .8rem;
				}
		}

	&--faq {
		flex-wrap: nowrap;
		.promo-section {
			&__row {
				flex-shrink: 1;
				&--array {
					width: 31.7rem;
					flex-shrink: 0;
				}
			}
		}
	}

	@include bp-tablet {
		&--faq {
			display: block;
			.promo-section {
				&__row {
					&--list,
					&--array {
						width: 100%;
					}
					&--array {
						display: flex;
						justify-content: space-between;
						margin-top: multi(4);
							& .promo-section-element {
								width: calc(50% - #{multi(1)});
									& +  .promo-section-element {
										margin: 0;
									}
							}
					}
				}
			}
		}
	}
	@include bp-tabletXS {
		margin-bottom: 2rem;
			&__row {
				&:not(:last-child) {
					margin-right: .8rem;
				}
				&--video {
					@include size(14.3rem, 14.3rem);
				}
				&--array {
					width: calc(100% - 15.1rem);
				}
			}
			&-element {
				min-height: 6.8rem;
				padding: 2.2rem 1.2rem 1.2rem;
				@include font-size(1.2rem, 1.6rem);
					&::after {
						display: none;
					}
					&__label {
						padding: .1rem .8rem;
						font-size: .8rem;
					}
			}
	}
}