.quick-search {
	position: relative;
	@include size(100%, auto);
	max-width: 59.6rem; //46.6rem
	transition: max-width .3s ease-in-out;

		&-button {
			position: absolute;
			top: 0;
			left: 4.5rem;
			display: none;
			height: 100%;
			align-items: center;
			justify-content: center;
				.i {
					@include size(2.5rem, 2.4rem);
					fill: none;
					stroke: $colorWhite;
					pointer-events: none;
					touch-action: none;
				}
				&._active {
					.i {
						stroke: $colorYellow;
					}
				}
		}

		&__form {
			position: relative;
		}
		&__input {
			@include input(5.2rem, 0 6.5rem 0 1.7rem); //5.6rem,
			background-color: $colorWhite;
			border: 0;
			@include radius($radius);
			caret-color: map-get($basic, theme);

			&::-webkit-input-placeholder {
				color: map-get($grey, color_2);
			}
			&::-moz-placeholder {
				color: map-get($grey, color_2);
			}
			&:-ms-input-placeholder {
				color: map-get($grey, color_2);
			}
			&:-moz-placeholder {
				color: map-get($grey, color_2);
			}

			&:focus {
				&::-webkit-input-placeholder {
					color: transparent;
				}
				&::-moz-placeholder {
					color: transparent;
				}
				&:-ms-input-placeholder {
					color: transparent;
				}
				&:-moz-placeholder {
					color: transparent;
				}
			}
		}
		&__submit,
		&__reset {
			position: absolute;
			top: 0;
			right: 0;
			@include flex(5.4rem);
			height: 100%;
			align-items: center;
			justify-content: center;
		}
		&__submit {
			z-index: 1;
				.i {
					@include size(2.5rem, 2.4rem);
					fill: none;
					stroke: map-get($grey, color_2);
				}
		}
		&__reset {
			opacity: 0;
			pointer-events: none;
			z-index: 0;
				.i {
					@include size(2.4rem, 2.4rem);
					fill: map-get($grey, color_2);
				}
		}
		&__dropdown {
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			padding-top: 1rem;
			padding-bottom: 1rem;
			background: $colorWhite;
			border-top: .1rem solid map-get($grey, color_7);
			@include searchShadow();
			opacity: 0;
			overflow: hidden;
			visibility: hidden;
			pointer-events: none;
			@include smooth(.2s);
			z-index: 10;
				&-inside {
					@include hundred;
					max-height: 33.5rem;
				}
		}
		&__element {
			@include flex();
			min-height: 5.6rem;
			align-items: center;
			padding-right: 1.6rem;
			color: $colorBlack;
			@include font-size(1.5rem, 2.4rem);
				&:not(:last-child) {
					border-bottom: .1rem solid map-get($grey, color_7);
				}
				&-image {
					@include flex(8rem);
					height: 7.2rem;
					align-items: center;
					justify-content: center;
						img {
							max-height: 4rem;
							mix-blend-mode: multiply;
						}
				}
				&-details {
					@include flex();
					max-width: calc(100% - 8rem);
					align-items: center;
					padding: 1rem 1.6rem 1rem 2rem;
				}
				&-headline {
					width: 100%;
					@include inherit;
				}
				&-price {
					margin-top: .4rem;
					@include inherit;
					font-weight: 700;
				}
				&-old {
					position: relative;
					@include font-size(1.2rem, 1.6rem);
					margin-top: .4rem;
					margin-left: .8rem;
					color: map-get($grey, color_2);
						&::before {
							content: '';
							position: absolute;
							top: 45%;
							left: 0;
							display: block;
							width: 100%;
							height: .1rem;
							background: $colorRed;
							z-index: 1;
						}
				}
				&-discount {
					margin-top: .3rem;
					margin-left: .4rem;
					padding: .2rem .4rem .3rem;
					color: $colorWhite;
					@include font-size(.8rem,.8rem);
					font-weight: $semibold;
					background: $colorRed;
					@include radius(.2rem);
				}
				&-highlighted {
					color: map-get($basic, theme);
				}

				&:hover {
					background: rgba(map-get($grey, color_0), .5);
				}
		}

		&--focused {
			//max-width: calc(100% - 60rem);
		}
		&--not-empty {
			//max-width: calc(100% - 60rem);
				.quick-search {
					&__form {
						z-index: 11;
					}
					&__input {
						border-bottom-left-radius: 0;
						border-bottom-right-radius: 0;
					}
					&__submit {
						opacity: 0;
						pointer-events: none;
						z-index: 0;
					}
					&__reset {
						opacity: 1;
						pointer-events: all;
						z-index: 1;
					}
					&__dropdown {
						opacity: 1;
						visibility: visible;
						pointer-events: all;
					}
				}
		}

	& + .website-options {
		margin-left: 6.8rem;
	}

	@include bp-desktop {
		//max-width: 45.8rem;
			&--focused,
			&--not-empty {
				//max-width: calc(100% - 55.2rem);
			}

		& + .website-options {
			margin-left: 2rem;
		}
	}
	@include bp-desktopXS {
		max-width: calc(100% - 49rem);
			&--focused,
			&--not-empty {
				//max-width: calc(100% - 49rem);
			}
	}
	@include bp-tablet {
		position: absolute;
		top: 0;
		left: 0;
		@include size(100%, 6.4rem);
		max-width: 100%;
		padding: .8rem $gutter;
		background: map-get($grey, color_0);
		border-bottom: .1rem solid map-get($grey, color_5);
		opacity: 0;
		pointer-events: none;
		visibility: hidden;
		transition: none;

		&-button {
			@include flex(5rem);
		}

		&__input {
			height: 4.8rem;
			&:focus {
				&::-webkit-input-placeholder {
					color: map-get($grey, color_2);
				}
				&::-moz-placeholder {
					color: map-get($grey, color_2);
				}
				&:-ms-input-placeholder {
					color: map-get($grey, color_2);
				}
				&:-moz-placeholder {
					color: map-get($grey, color_2);
				}
			}
		}
		&__dropdown {
			top: calc(100% - .8rem);
			left: $gutter;
			width: calc(100% - #{$gutter * 2});
		}

		&--focused,
		&--not-empty {
			max-width: 100%;
		}

		& + .website-options {
			margin-left: 0;
		}
	}
	@include bp-tabletXS {
		&__dropdown {
			&-inside {
				max-height: 24rem;
			}
		}
		&__element {
			min-height: initial;
			//padding: 1.6rem 2.4rem 1.6rem 1.6rem;
			line-height: 1.6rem;
				&-image {
					@include size(4.6rem, 4.6rem);
				}
				&-details {
					//display: block;
					max-width: calc(100% - 4.6rem);
					padding-left: 1.6rem;
				}
				&-headline {
					//max-width: 100%;
					font-size: 1.2rem;
				}
				&-price {
					//max-width: 100%;
					font-size: 1.2rem;
					//@include align_l;
				}
		}
	}
}