.rating {
	@include flex(auto);
	align-items: flex-start;
		&-stars {
			position: relative;
			@include size(7.4rem, 1.2rem);
			overflow: hidden;
				&__fake,
				&__true {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					font-size: 0;
					white-space: nowrap;
					overflow: hidden;
						.i {
							@include hundred;
						}
				}
				&__fake {
					pointer-events: none;
					z-index: 0;
						.i {
							fill: map-get($grey, color_6);
						}
				}
				&__true {
					max-width: 100%;
					z-index: 1;
						.i {
							fill: $colorYellow;
						}
				}
				&__element {
					@include iblock(top);
					@include size(1.3rem, 1.2rem);
						&:not(:last-child) {
							margin-right: .25rem;
						}
				}
		}
		&-description {
			margin-left: 1rem;
			color: map-get($grey, color_2);
			@include font-size(1.2rem, 1.6rem);
		}
		&-total  {
			@include flex(3.3rem);
			height: 2.1rem;
			align-items: center;
			justify-content: center;
			//margin-right: 1rem;
			//padding-left: .1rem;
			color: $colorWhite;
			@include font-size(1.2rem, multi(2));
			font-weight: $semibold;
			background-color: $colorGreen;
			@include radius(.5rem);
			//background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 34 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.18727 0H32C33.1046 0 34 0.89543 34 2V20C34 21.1046 33.1046 22 32 22H7.18727C6.45538 22 5.78194 21.6002 5.43147 20.9577L0.522385 11.9577C0.196774 11.3607 0.196774 10.6393 0.522385 10.0423L5.43147 1.0423C5.78194 0.399774 6.45538 0 7.18727 0Z' fill='%2327AE60'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
			//background-size: contain;
		}
		&-total-short {
			padding-left: multi(2);
			color: map-get($grey, color_2);
			@include font-size(1.8rem);
		}

	&--m {
		align-items: center;
		.rating {
			&-stars {
				@include size(9.9rem, 1.6rem);
				margin-top: -.2rem;
					&__element {
						@include size(1.7rem, 1.6rem);
						&:not(:last-child) {
							margin-right: .35rem;
						}
					}
			}
			&-description {
				margin-left: 1rem;
				//padding-top: .1rem;
				@include font-size(1.4rem, multi(3));
			}
		}
	}
	&--l {
		align-items: center;
		.rating {
			&-stars {
				@include size(13.8rem, 2.6rem);
				&__element {
					@include size(2.4rem, 2.6rem);
					&:not(:last-child) {
						margin-right: .45rem;
					}
				}
			}
			&-description {
				margin-left: 1.5rem;
				padding-top: .1rem;
				@include font-size(1.8rem, 1);
				font-weight: $semibold;
			}
		}
	}

	@include bp-tabletXS {
		&-stars {
			@include size(5rem, .8rem);
			&__element {
				@include size(.85rem, .8rem);
					&:not(:last-child) {
						margin-right: .15rem;
					}
			}
		}
		&-description {
			margin-left: .5rem;
			@include font-size(.8rem, .9rem);
		}
		&-total {
			@include size(1.9rem, 1.2rem);
			margin-left: .2rem;
			@include font-size(multi(1), 1);
		}
		&-total-short {
			padding-left: .6rem;
			@include font-size(1.3rem, multi(2));
		}
	}
}