.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	@include radius($radius);
	overflow: hidden;

	iframe,
	object,
	embed {
		position: absolute;
		left: 0;
		top: 0;
		@include hundred;
	}
}