.scrollable-block {
	position: relative;
	overflow-y: hidden;

	&.ps {
		&:hover {
			& > .ps__rail-x,
			& > .ps__rail-y {
				opacity: 1;
			}
		}
		.ps__rail-x:hover,
		.ps__rail-y:hover,
		.ps__rail-x:focus,
		.ps__rail-y:focus,
		.ps__rail-x.ps--clicking,
		.ps__rail-y.ps--clicking {
			opacity: 1;
		}

		&--focus {
			& > .ps__rail-x,
			& > .ps__rail-y {
				opacity: 1;
			}
		}

		&--scrolling-x,
		&--scrolling-y {
			& > .ps__rail-x,
			& > .ps__rail-y {
				opacity: 1;
			}

		}

		.ps__rail-y {
			right: .8rem!important;
			width: .6rem;
			opacity: 1;
			background-color: transparent;
			border-radius: 1rem;
			z-index: 2;

				&:hover,
				&:focus,
				&.ps--clicking {
					width: .6rem;
				}
		}
		.ps__thumb-y {
			right: 0;
			width: .6rem;
			background-color: map-get($grey, color_5);
			border-radius: 1rem;
		}

		.ps__rail-x {
			height: .6rem;
			background-color: transparent;
				&:hover,
				&:focus,
				&.ps--clicking {
					height: .6rem;
				}
		}
		.ps__thumb-x {
			height: .6rem;
			background-color: map-get($grey, color_5);
			border-radius: 1rem;
		}
	}
}