.search-bar {
	display: flex;
	width: 100%;
		& .input {
			flex-shrink: 1;
			&__field {
				padding-right: multi(2);
				border-right: 0;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
		& .button {
			@include size(20rem,initial);
			flex-shrink: 0;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

	@include bp-tabletXS {
		display: block;
			& .input {
				flex-shrink: 1;
				&__field {
					border-right: .1rem solid map-get($grey, color_5);
					border-top-right-radius: $radius;
					border-bottom-right-radius: $radius;
				}
			}
			& .button {
				@include size(100%, multi(6));
				margin-top: multi(1);
				border-top-left-radius: $radius;
				border-bottom-left-radius: $radius;
			}
	}
}