.secondary-navigation {
	@include flex(auto);
	height: 100%;
		&__link {
			@include flex(auto);
			@include size(auto, 100%);
			align-items: center;
			justify-content: center;
			color: map-get($grey, color_2);
			@include font-size(1.5rem, 3.2rem);
				&:not(:last-child) {
					margin-right: 2.4rem;
				}
				&._active,
				&:hover {
					color: map-get($basic, theme);
				}
		}

	@include bp-desktopXS {
		&__link {
			&:not(:last-child) {
				margin-right: 1rem;
			}
		}
	}
}