.social {
	&-networks {
		@include flex();
			&__element {
				@include flex(3.2rem);
				height: 3.2rem;
				align-items: center;
				justify-content: center;
					&:not(:last-child) {
						margin-right: .8rem;
					}
				&--inst {
					.i {
						@include size(1.8rem, 1.8rem);
					}
				}
				&--vk {
					.i {
						@include size(2rem, 1.2rem);
					}
				}
				&--fb {
					.i {
						@include size(1rem, 1.6rem);
					}
				}
				&--youtube {
					padding-left: .2rem;
						.i {
							@include size(2.5rem, 1.7rem);
						}
				}
				&--tik-tok {
					.i {
						@include size(1.5rem, 1.7rem);
					}
				}
			}
			.i {
				fill: $colorWhite;
					&._inst {
						@include size(1.8rem, 1.8rem);
					}
					&._vk {
						@include size(2rem, 1.2rem);
					}
					&._fb {
						@include size(1rem, 1.6rem);
					}
					&._tik-tok {
						@include size(1.5rem, 1.7rem);
					}
			}

		&--colored {
			.social-networks {
				&__element {
					position: relative;
					@include size(4rem, 4rem);
					@include round;
						&::before {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							display: block;
							@include hundred;
							pointer-events: none;
							@include round;
							z-index: 0;
						}
						&:not(:last-child) {
							margin-right: 1.6rem;
						}

					&--inst {
						&::before {
							background: map-get($social, inst);
						}
					}
					&--vk {
						&::before {
							background: map-get($social, vk);
						}
					}
					&--fb {
						&::before {
							background: map-get($social, fb);
						}
					}
					&--youtube {
						&::before {
							background: map-get($social, utube);
						}
					}
					&--tik-tok {
						&::before {
							background: map-get($social, tiktok);
						}
					}
				}
			}
			.i {
				position: relative;
				z-index: 1;
			}
		}

		& + .social-subscription {
			margin-top: 4.2rem;
		}
	}
	&-subscription {
		&__headline {
			margin-bottom: .8rem;
			@include font-size(2.4rem, 3.2rem);
			font-weight: normal;
		}
		&__props {
			@include flex();
		}
		&__prop {
			@include size(25%, 100%);
			overflow: hidden;
				&-link {
					@include link(100%);
				}
				img {
					width: 100%;
				}
		}
	}

	@include bp-tabletXS {
		&-networks {
			& + .social-subscription {
				margin-top: 2.6rem;
			}
		}
		&-subscription {
			&__headline {
				margin-bottom: .6rem;
				font-size: 1.8rem;
			}
			&__prop {
				width: 50%;
			}
		}
	}
}