.system-message {
	@include flex();
	//height: 100vh;
	align-content: center;
	padding-top: 2rem;
	padding-bottom: 3rem;
		&__icon {
			margin-bottom: 2.5rem;
		}
		&__headline {
			margin-bottom: 1rem;
			@include font-size(4.8rem, 6.4rem);
		}
		&__control {
			width: 100%;
			margin-top: 3rem;
		}

		& p {
			max-width: 100%;
		}
		& a:not(.button) {
			@include font-size(1.8rem, 3.2rem);
		}
		& .i {
			&._fail {
				@include size(19.9rem, 24.1rem);
			}
			&._success {
				@include size(26.5rem, 24.8rem);
			}
			&._no-result {
				@include size(44.8rem, 38.4rem);
			}
			&._404 {
				@include size(31rem, 25.6rem);
			}
		}

		&--payment {
			justify-content: center;
			@include align_c;
		}
		&--404 {
			justify-content: center;
			padding-top: multi(9);
			padding-bottom: 6rem;
			@include align_c;
				.system-message {
					&__icon {
						margin-bottom: 0;
					}
					&__headline {
						margin-top: 1.8rem;
						margin-bottom: 0;
						font-size: 4.2rem;
					}
				}

				& .helpers-section {
					margin-top: 6.5rem;
				}
		}
		&--search-no-result {
			padding-top: multi(10);
			padding-bottom: multi(6);
				.system-message {
					&__headline {
						& br {
							display: none;
						}
					}
				}
				& p {
					max-width: 56.6rem;
					@include font-size(1.8rem, 3.2rem);
				}
				& .helpers-array {
					margin-top: 2.2rem;
				}
				& .news-array {
					margin-top: 1.2rem;
				}
		}
		&--search-result {}

	@include bp-tabletXS {
		padding: 11.6rem 2.6rem 14.4rem;
			&__icon {
				margin-bottom: 1.6rem;
			}
			&__headline {
				margin-bottom: 1.6rem;
				@include font-size(3.4rem, 4rem);
			}
			&__control {
				margin-top: 1.6rem;
			}
			& a:not(.button) {
				@include font-size(1.3rem, 2.4rem);
			}
			& .i {
				&._fail {
					@include size(9.2rem, 11.1rem);
				}
				&._success {
					@include size(11.8rem, 11rem);
				}
				&._404 {
					@include size(13.3rem, 11.3rem);
				}
				&._no-result {
					@include size(22rem, 19rem);
				}
			}

		&--404 {
			padding: multi(2) 0;
			.system-message {
				&__headline {
					margin-top: 1.2rem;
					margin-bottom: 0;
					@include font-size(2.4rem, 4rem);
				}
			}

			& .helpers-section {
				margin-top: .2rem;
			}
		}
		&--search-no-result {
			padding: multi(2) 0;
				.system-message {
					&__headline {
						margin-bottom: multi(1);
						@include font-size(2.4rem, 3.2rem);
						@include align_c;

							& br {
								display: block;
							}
					}
				}

				& p {
					max-width: 100%;
					@include font-size(1.2rem, 1.6rem);
					@include align_c;
				}
				& .helpers-array {
					margin-top: multi(2);
				}
				& .news-array {
					margin-top: multi(1);
					padding-bottom: 0;
							&__element {
								&:not(:last-child) {
									margin-bottom: multi(1);
								}
							}
				}
		}
		&--search-result {
			.system-message__icon {
				//display: none;
			}
		}
	}
}