.system-warning {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	align-items: center;
	justify-content: center;
	@include hundred;
	padding-left: $gutter;
	padding-right: $gutter;
	background-color: rgba(map-get($basic, primary), .6);
	overflow: hidden;
	z-index: 200;
		&__content {
			@include flex();
			align-items: center;
			padding: 3.4rem 4rem;
			font-family: $font2;
			@include radius(1rem);
			@include shadow();
				&--w-425 {
					max-width: 42.5rem;
				}
				&--red {
					color: $colorWhite;
					background-color: $colorRed;
				}
		}
		&__details {
			width: calc(100% - 9rem);
			padding-right: 2rem;
			color: inherit;
			@include font-size(2.4rem, 3.2rem);
			font-weight: $bold;
		}
		&__control {
			width: 9rem;
		}

	@include bp-tabletXS {
		&__content {
			display: block;
			padding-left: 3rem;
			padding-right: 3rem;
		}
		&__details,
		&__control {
			width: 100%;
		}
		&__details {
			padding-right: 0;
			@include font-size(2rem, 2.6rem);
		}
		&__control {
			margin-top: 2rem;
		}
	}
}