.system-notification {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	align-items: center;
	justify-content: center;
	@include hundred;
	padding-left: $gutter;
	padding-right: $gutter;
	background-color: rgba(map-get($basic, primary), .6);
	overflow: hidden;
	z-index: 200;

		&__content {
			position: relative;
			@include flex();
			max-width: 80rem;
			align-items: center;
			padding: 6rem 6rem 8.5rem 4rem;
			background-color: $colorWhite;
			@include radius(1rem);
			@include shadow();

				&--cupidon {
					&::before {
						content: '';
						position: absolute;
						top: 3.2rem;
						right: 3.5rem;
						display: block;
						@include size(11.7rem, 10.3rem);
						background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 117 103' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.052 8.30861C29.9749 10.5442 31.2604 12.1533 32.0418 13.2164C32.5077 13.8503 33.6838 13.9636 34.2744 13.444C35.6442 12.2387 36.6902 11.9975 37.9622 11.4248C40.9375 10.085 41.704 9.2027 42.1605 7.49909C42.1751 7.44469 42.1849 7.38605 42.189 7.32988C42.4729 3.40827 39.3724 2.35674 37.1902 2.81257C36.3296 2.99233 34.7078 2.65388 34.0865 2.0319C33.6941 1.63902 33.2576 1.37499 32.8055 1.25815C27.8292 -0.0277574 25.513 5.35662 28.052 8.30861Z' fill='%239E42DC'/%3E%3Cpath d='M4.35164 14L5.52698 17.1763L8.70328 18.3516L5.52698 19.527L4.35164 22.7033L3.1763 19.527L0 18.3516L3.1763 17.1763L4.35164 14Z' fill='%239E42DC'/%3E%3Ccircle cx='113.5' cy='34.5' r='2.5' stroke='%239E42DC' stroke-width='2'/%3E%3Cpath opacity='0.1' fill-rule='evenodd' clip-rule='evenodd' d='M56.747 36.4771C53.6855 28.6238 51.7554 13.8756 68.5269 17.709C85.2983 21.5425 90.8223 16.1118 91.4878 12.9172C91.6946 15.2095 91.5185 18.2185 90.6917 21.547C86.6381 23.1938 82.2166 23.164 80.4712 22.9299C80.1975 22.8931 79.9459 23.0852 79.9092 23.3589C79.8725 23.6326 80.0646 23.8843 80.3383 23.921C82.0994 24.1572 86.3152 24.1998 90.3708 22.7403C89.8225 24.6332 89.0626 26.6105 88.0448 28.6038C87.7944 28.6162 87.5186 28.6151 87.2196 28.6004C86.4048 28.5604 85.4706 28.4229 84.5116 28.2302C82.5939 27.8448 80.623 27.2483 79.3979 26.8172C79.1374 26.7255 78.8519 26.8624 78.7603 27.1229C78.6686 27.3834 78.8055 27.6688 79.066 27.7605C80.3244 28.2033 82.3412 28.814 84.3145 29.2106C85.301 29.4088 86.2882 29.5559 87.1705 29.5992C87.2842 29.6048 87.3971 29.6087 87.5089 29.6108C86.7117 31.05 85.7765 32.4915 84.6858 33.9095C84.0488 33.7846 83.3715 33.6229 82.6996 33.4346C81.7593 33.171 80.8383 32.8577 80.0588 32.5245C79.2678 32.1864 78.6641 31.8451 78.3246 31.5395C78.1193 31.3548 77.8032 31.3714 77.6185 31.5767C77.4337 31.7819 77.4504 32.0981 77.6556 32.2828C78.121 32.7016 78.8487 33.0948 79.6657 33.444C80.4943 33.7982 81.4581 34.1251 82.4297 34.3975C82.9511 34.5436 83.4773 34.6748 83.9889 34.7863C83.2672 35.665 82.4836 36.5325 81.6337 37.3825C81.3626 37.2957 81.0891 37.2093 80.8165 37.1237C80.6049 37.0573 80.3941 36.9915 80.1853 36.9263L80.1849 36.9261C79.4312 36.6907 78.7048 36.4638 78.0696 36.2503C77.2443 35.9729 76.627 35.7352 76.3112 35.5502C76.073 35.4105 75.7667 35.4905 75.627 35.7287C75.4874 35.967 75.5673 36.2733 75.8056 36.4129C76.2249 36.6587 76.9412 36.926 77.751 37.1982C78.3975 37.4155 79.1381 37.6468 79.8936 37.8828L79.8937 37.8828C80.1009 37.9475 80.3093 38.0126 80.5171 38.0778C80.6178 38.1095 80.7184 38.1411 80.8188 38.1728C79.8924 39.0441 78.893 39.8944 77.8159 40.7167C77.7507 40.695 77.6856 40.6733 77.6207 40.6517L77.482 40.6056L77.4818 40.6056C76.7505 40.3625 76.0429 40.1274 75.4328 39.8963C74.7723 39.6462 74.278 39.4194 73.9999 39.2192C73.7758 39.0579 73.4633 39.1088 73.302 39.3329C73.1406 39.557 73.1915 39.8694 73.4156 40.0308C73.8115 40.3158 74.4183 40.5815 75.0787 40.8315C75.614 41.0343 76.2187 41.239 76.833 41.4436C75.8319 42.1607 74.7681 42.854 73.6382 43.5183C73.5221 43.4763 73.4088 43.4344 73.2986 43.3927C72.6381 43.1425 72.1437 42.9158 71.8657 42.7156C71.6416 42.5542 71.3291 42.6051 71.1678 42.8292C71.0064 43.0533 71.0573 43.3658 71.2814 43.5271C71.5891 43.7486 72.0241 43.9584 72.5126 44.1583C69.311 45.9183 65.6092 47.4513 61.3392 48.6563C61.5388 50.9857 63.5354 55.4448 69.9245 54.6462C77.9109 53.6479 80.5065 57.8407 81.3052 59.6377L84.3001 58.6394C84.4332 56.3765 85.0987 51.6912 86.696 51.0523C86.097 50.1871 85.2584 48.2171 86.696 47.2587C88.1335 46.3004 92.7523 44.7297 94.882 44.0642C95.0817 45.4618 94.6824 48.5366 91.4878 49.6547C90.8223 51.0523 89.6909 54.3267 90.4895 56.2434C91.4878 58.6394 93.6841 64.8288 88.4929 68.6224C85.2508 70.9916 83.0958 71.4869 81.9898 71.4002C81.3851 69.6328 80.3008 67.3057 78.8273 65.488C77.1756 63.4504 74.8946 61.9009 72.1865 62.8348C71.9255 62.9248 71.7868 63.2094 71.8768 63.4704C71.9669 63.7315 72.2515 63.8701 72.5125 63.7801C74.6062 63.0582 76.4816 64.1823 78.0504 66.1177C79.5807 68.0055 80.6859 70.5213 81.2139 72.2489C80.9808 74.4108 80.3947 77.5911 79.3086 78.4057H86.696C88.3598 76.6753 92.0069 73.7336 93.2848 75.8101C94.5626 77.8866 96.6124 76.6753 97.4776 75.8101C99.807 76.6088 103.068 78.6852 97.4776 80.602C91.8872 82.5187 89.1585 83.7965 88.4929 84.1958L79.3086 89.7863C77.1123 91.1174 72.1607 92.4618 69.9245 87.1907C67.6883 81.9197 65.7982 74.3459 65.1327 71.2179C62.2043 70.8186 55.3893 69.1415 51.5558 65.6275C48.0285 69.1548 38.7376 75.4507 29.7928 72.4159C27.2638 72.9483 22.1259 73.1746 21.8064 69.8203C21.487 66.466 26.0658 67.6241 28.3952 68.6224C31.1239 67.6241 37.1403 65.6275 39.3765 65.6275C41.6127 65.6275 43.3697 58.3066 43.9687 54.6462L40.3748 52.0506L37.9789 54.6462C37.2468 54.1137 35.5031 53.0888 34.385 53.2485C33.6495 53.3536 33.4713 52.8948 33.2615 52.355C33.0727 51.8689 32.8583 51.3172 32.1887 51.0523C31.492 50.8721 30.3074 49.8907 31.1436 47.4065C29.1727 45.0879 25.9718 40.0787 27.1807 36.796C27.4737 36.9692 27.778 37.1396 28.0888 37.3005C28.8283 37.6833 29.6207 38.021 30.3997 38.2148C31.175 38.4076 31.974 38.4669 32.7042 38.2505C32.969 38.172 33.12 37.8938 33.0415 37.629C32.9631 37.3643 32.6848 37.2133 32.4201 37.2917C31.924 37.4388 31.3209 37.4134 30.641 37.2443C29.9646 37.0761 29.2485 36.7748 28.5485 36.4124C28.2408 36.2532 27.9394 36.0838 27.6492 35.9113C27.7051 35.8335 27.7646 35.7573 27.8277 35.6827C28.7609 31.4902 33.2956 23.9438 43.9687 27.2978C45.5307 27.2978 48.7494 28.1363 49.128 31.4902C50.3001 32.0537 52.2927 33.6811 50.8862 35.6827C52.0764 36.8773 53.8767 39.4559 51.5558 40.2133C52.0313 41.746 52.4549 44.8114 50.3452 44.8114C53.8918 46.7385 60.1373 47.7695 56.747 36.4771Z' fill='%239E42DC'/%3E%3Cpath opacity='0.1' fill-rule='evenodd' clip-rule='evenodd' d='M28.0809 42.6127C27.9251 42.2529 27.7582 41.8674 27.5326 41.4063C24.2204 38.108 14.9828 31.2093 13.5222 37.2681C13.3644 38.5303 13.626 41.1901 16.5651 41.1901C17.2994 41.1901 17.1141 39.8887 16.5651 38.8234C16.0161 37.758 16.9993 36.4502 17.8217 38.4177C18.8867 40.9657 18.0303 44.5711 17.1061 46.2616C14.6667 50.2761 11.583 59.858 18.7635 66.0691L13.1013 68.36C13.3262 67.2432 13.2849 65.2215 11.3209 66.0691C9.35689 66.9167 7.679 70.1022 7.08556 71.5889C6.94189 71.9637 6.87567 72.7546 7.76023 72.9195C7.99106 72.9626 8.36794 73.04 8.82429 73.1337C10.1167 73.3992 12.0465 73.7956 13.1013 73.9128C15.8 74.2126 16.2872 71.514 13.6073 70.8768L19.2858 69.0402C19.8422 70.5612 21.3173 73.6032 22.7654 73.6032C22.495 78.1035 23.4914 85.342 28.6463 89.1627C30.5241 90.5546 32.3064 91.0514 33.9458 91.5083C34.9059 91.7759 35.8169 92.0299 36.6695 92.442C39.5548 93.8365 42.419 95.9578 40.1749 98.7897C39.7574 99.2782 38.7297 98.9355 39.1701 97.1963C39.416 96.2253 37.9128 94.5084 36.6695 96.6738C36.1725 98.1646 35.977 101.213 39.1701 101.483C42.3632 101.752 43.3538 98.8057 43.45 97.299L47.5389 68.872L44.3147 70.7628C43.5667 71.1627 42.8025 71.5056 42.0311 71.7983C37.0692 73.6627 31.8079 73.4809 28.6364 73.1336C27.4666 73.0002 26.5826 72.8433 26.1049 72.7585C25.9972 72.7394 25.9101 72.7239 25.8451 72.7132C25.7934 72.7047 25.7378 72.6959 25.6788 72.6865C24.2576 72.4605 20.8662 71.9211 22.1507 68.2361C25.5569 66.0076 30.0531 64.3165 35.1351 62.4051C37.6171 61.4716 40.2388 60.4855 42.9414 59.3586L43.5783 56.831L21.9063 64.9192C16.4288 62.7564 15.7614 55.0472 17.8217 50.8361C20.7717 44.8065 21.1852 43.2331 21.5006 40.6404L29.5033 45.2173C28.7254 44.1012 28.4313 43.4221 28.0809 42.6127ZM28.6364 73.1336C27.5507 73.0147 26.7099 72.8764 26.2099 72.7941C26.0421 72.7665 25.9127 72.7453 25.8253 72.7331C24.5523 81.909 29.2321 86.4162 32.4763 88.135C33.4575 88.5334 34.3541 88.8862 35.1714 89.2078C38.3862 90.4727 40.375 91.2552 41.4605 92.431L44.3346 70.7628C43.5803 71.1631 42.8094 71.5059 42.0311 71.7983C37.0662 73.6829 31.8037 73.4947 28.6364 73.1336Z' fill='%239E42DC'/%3E%3Cpath d='M52.9525 37.5599L53.9103 37.2723C53.9026 37.2468 53.8939 37.2215 53.8842 37.1967L52.9525 37.5599ZM64.7324 18.7918L64.5096 19.7667L64.7324 18.7918ZM87.6934 14L88.6893 13.9101C88.6448 13.4167 88.2457 13.0302 87.7511 13.0017C87.2564 12.9731 86.8155 13.311 86.7144 13.796L87.6934 14ZM57.5447 49.7391L57.2731 48.7767C56.8115 48.907 56.5074 49.3467 56.5484 49.8245L57.5447 49.7391ZM66.1301 55.7289L66.2541 56.7212L66.1301 55.7289ZM77.5107 60.7204L76.5969 61.1266C76.8061 61.5972 77.3384 61.832 77.827 61.6691L77.5107 60.7204ZM80.5056 59.7221L80.8219 60.6708C81.2098 60.5415 81.4799 60.1891 81.5039 59.7809L80.5056 59.7221ZM82.9016 52.1351L83.2729 53.0635C83.5556 52.9505 83.7714 52.7148 83.8591 52.4233C83.9469 52.1318 83.897 51.8162 83.7237 51.5658L82.9016 52.1351ZM91.0876 45.147L92.0776 45.0055C92.0361 44.7153 91.8693 44.4578 91.6213 44.3013C91.3734 44.1448 91.0692 44.105 90.7893 44.1925L91.0876 45.147ZM87.6934 50.7374L87.363 49.7936C87.1113 49.8817 86.9052 50.0667 86.7905 50.3075L87.6934 50.7374ZM86.6951 57.3262L85.772 57.7108V57.7108L86.6951 57.3262ZM84.6985 69.7052L85.2885 70.5125L84.6985 69.7052ZM67.1642 62.3845C66.6497 62.5852 66.3954 63.1651 66.5961 63.6796C66.7969 64.1941 67.3768 64.4484 67.8913 64.2476L67.1642 62.3845ZM75.5141 79.4885L74.9141 78.6885C74.5698 78.9468 74.4293 79.3964 74.5654 79.8047C74.7016 80.2131 75.0837 80.4885 75.5141 80.4885V79.4885ZM82.9016 79.4885V80.4885C83.1736 80.4885 83.4338 80.3777 83.6224 80.1816L82.9016 79.4885ZM89.4903 76.8929L88.6387 77.417L89.4903 76.8929ZM93.6832 76.8929L94.0075 75.947C93.6463 75.8231 93.2461 75.9158 92.9761 76.1858L93.6832 76.8929ZM84.6985 85.2786L84.184 84.4211L84.1786 84.4244L84.6985 85.2786ZM75.5141 90.8691L76.0324 91.7243L76.0341 91.7233L75.5141 90.8691ZM61.3383 72.3007L62.3164 72.0926C62.2286 71.68 61.8913 71.3669 61.4734 71.3099L61.3383 72.3007ZM47.7614 66.7102L48.4371 65.9731C48.0424 65.6113 47.4329 65.6246 47.0543 66.0031L47.7614 66.7102ZM25.9984 73.4987L26.3197 72.5517C26.1499 72.4941 25.9678 72.4832 25.7924 72.5201L25.9984 73.4987ZM24.6008 69.7052L24.2069 70.6243C24.4412 70.7247 24.705 70.7319 24.9444 70.6443L24.6008 69.7052ZM40.1742 55.7289L41.1611 55.8904C41.2223 55.5165 41.0669 55.1401 40.7597 54.9183L40.1742 55.7289ZM36.5804 53.1334L37.1659 52.3227C36.7556 52.0264 36.1888 52.0833 35.8456 52.4551L36.5804 53.1334ZM34.1844 55.7289L33.5963 56.5377C34.0065 56.836 34.5752 56.78 34.9192 56.4072L34.1844 55.7289ZM30.5906 54.3313L30.732 55.3213L30.5906 54.3313ZM28.3943 52.1351L28.7623 51.2052C28.7239 51.19 28.6846 51.1772 28.6446 51.1669L28.3943 52.1351ZM27.3491 48.4893L28.2969 48.8083C28.4088 48.4757 28.3383 48.1089 28.1111 47.8416L27.3491 48.4893ZM40.1742 28.3806L39.8745 29.3346C39.9715 29.3651 40.0726 29.3806 40.1742 29.3806V28.3806ZM45.3336 32.573L44.3399 32.6852C44.3785 33.0271 44.5902 33.3252 44.9003 33.4743L45.3336 32.573ZM47.0917 36.7655L46.2735 36.1905C45.9945 36.5876 46.0408 37.1276 46.3833 37.4713L47.0917 36.7655ZM47.7614 41.2961L47.4512 40.3454C46.9315 40.5149 46.6443 41.0703 46.8063 41.5924L47.7614 41.2961ZM46.5508 45.8942V44.8942C46.0933 44.8942 45.6942 45.2046 45.5816 45.6479C45.4689 46.0912 45.6714 46.5545 46.0733 46.7729L46.5508 45.8942ZM29.9805 39.0145C30.5297 38.9558 30.9273 38.4631 30.8687 37.914C30.81 37.3648 30.3173 36.9672 29.7681 37.0258L29.9805 39.0145ZM86.6951 23.4025L87.6593 23.6677V23.6677L86.6951 23.4025ZM82.0149 33.4454L82.8399 34.0105L82.0149 33.4454ZM75.8727 27.5375C75.4071 27.2405 74.7888 27.3772 74.4918 27.8428C74.1948 28.3084 74.3315 28.9267 74.7971 29.2237L75.8727 27.5375ZM80.5056 35.4847L81.2873 36.1085L80.5056 35.4847ZM74.7812 31.8402C74.3764 31.4644 73.7437 31.4879 73.3679 31.8927C72.9922 32.2975 73.0157 32.9302 73.4205 33.3059L74.7812 31.8402ZM77.2953 38.9983L77.9877 39.7198V39.7198L77.2953 38.9983ZM76.5036 39.7362L75.8324 38.9948L75.8324 38.9948L76.5036 39.7362ZM72.5295 35.9678C72.0889 35.6347 71.4618 35.7219 71.1288 36.1625C70.7957 36.6031 70.8829 37.2302 71.3235 37.5632L72.5295 35.9678ZM73.3461 42.3039L73.9361 43.1113L73.3461 42.3039ZM70.5988 44.1469L71.123 44.9985L70.5988 44.1469ZM70.0456 39.4475C69.5581 39.1881 68.9525 39.373 68.6931 39.8605C68.4336 40.3481 68.6186 40.9537 69.1061 41.2131L70.0456 39.4475ZM68.8886 45.147L69.3741 46.0212L68.8886 45.147ZM68.2468 43.0438C67.863 42.6467 67.23 42.6358 66.8328 43.0196C66.4357 43.4034 66.4248 44.0365 66.8086 44.4336L68.2468 43.0438ZM76.5974 23.3505C76.0476 23.2987 75.5598 23.7024 75.508 24.2522C75.4562 24.8021 75.8599 25.2898 76.4098 25.3417L76.5974 23.3505ZM53.8842 37.1967C53.142 35.2928 52.4698 32.9728 52.1329 30.6327C51.7945 28.282 51.8047 25.9805 52.3646 24.0753C52.9157 22.1999 53.986 20.736 55.799 19.9134C57.652 19.0727 60.4288 18.8339 64.5096 19.7667L64.9553 17.817C60.6503 16.833 57.3791 17.0003 54.9727 18.0921C52.5263 19.202 51.1258 21.1972 50.4457 23.5114C49.7744 25.7957 49.7929 28.4141 50.1533 30.9177C50.5152 33.4318 51.2323 35.9003 52.0208 37.9231L53.8842 37.1967ZM64.5096 19.7667C73.0033 21.7081 78.787 21.3376 82.5904 19.9727C86.3947 18.6074 88.2522 16.2207 88.6724 14.204L86.7144 13.796C86.469 14.9739 85.2318 16.8998 81.9148 18.0902C78.5971 19.2809 73.233 19.709 64.9553 17.817L64.5096 19.7667ZM56.5484 49.8245C56.6644 51.1779 57.2901 53.1142 58.8137 54.6186C60.3781 56.1633 62.79 57.1542 66.2541 56.7212L66.0061 54.7367C63.0811 55.1023 61.3002 54.2631 60.219 53.1955C59.0971 52.0877 58.6247 50.6297 58.5411 49.6537L56.5484 49.8245ZM66.2541 56.7212C70.0519 56.2465 72.4499 57.0154 73.9666 58.0122C75.498 59.0185 76.2432 60.3308 76.5969 61.1266L78.4245 60.3143C77.9796 59.3132 77.0277 57.6305 75.065 56.3408C73.0877 55.0414 70.1947 54.2131 66.0061 54.7367L66.2541 56.7212ZM77.827 61.6691L80.8219 60.6708L80.1894 58.7735L77.1945 59.7718L77.827 61.6691ZM81.5039 59.7809C81.568 58.6908 81.7614 57.0185 82.1248 55.5617C82.3072 54.8305 82.5221 54.1963 82.7621 53.7277C83.0208 53.2227 83.2195 53.0849 83.2729 53.0635L82.5302 51.2066C81.785 51.5047 81.3015 52.1922 80.982 52.816C80.6438 53.4763 80.3845 54.2747 80.1843 55.0776C79.7823 56.6889 79.5763 58.4907 79.5074 59.6634L81.5039 59.7809ZM83.7237 51.5658C83.4811 51.2154 83.2033 50.6509 83.1274 50.1293C83.0566 49.6427 83.1669 49.3665 83.4563 49.1736L82.3468 47.5095C81.1987 48.2749 81.0094 49.4629 81.1483 50.4172C81.282 51.3365 81.723 52.1895 82.0794 52.7043L83.7237 51.5658ZM83.4563 49.1736C84.0611 48.7703 85.4613 48.1755 87.0838 47.5716C88.6643 46.9835 90.3342 46.4301 91.3859 46.1014L90.7893 44.1925C89.7114 44.5294 88.0069 45.0941 86.3863 45.6972C84.8076 46.2847 83.1795 46.9543 82.3468 47.5095L83.4563 49.1736ZM90.0977 45.2884C90.1748 45.8284 90.1372 46.7553 89.7473 47.646C89.372 48.5033 88.6701 49.3361 87.363 49.7936L88.0237 51.6813C89.9112 51.0207 91.0063 49.7571 91.5794 48.4481C92.1378 47.1725 92.2001 45.8632 92.0776 45.0055L90.0977 45.2884ZM86.7905 50.3075C86.4299 51.0649 85.9527 52.3064 85.6677 53.6261C85.3918 54.9039 85.2499 56.4576 85.772 57.7108L87.6182 56.9416C87.3417 56.2781 87.3661 55.2362 87.6227 54.0482C87.8701 52.9022 88.2914 51.8076 88.5963 51.1674L86.7905 50.3075ZM85.772 57.7108C86.2596 58.881 86.9951 60.8808 87.0179 63.0023C87.0402 65.0766 86.3874 67.2324 84.1085 68.8978L85.2885 70.5125C88.2008 68.3843 89.0454 65.5486 89.0178 62.9808C88.9907 60.4603 88.1289 58.1674 87.6182 56.9416L85.772 57.7108ZM84.1085 68.8978C82.1016 70.3643 80.5823 71.0456 79.5385 71.3247C78.4376 71.6191 78.0101 71.4341 78.0252 71.4432L76.9962 73.1582C77.6769 73.5666 78.7668 73.6013 80.0552 73.2568C81.4007 72.897 83.1424 72.0808 85.2885 70.5125L84.1085 68.8978ZM78.5 72.1548C78.1869 70.0323 77.2876 66.9588 75.5395 64.7133C74.6562 63.5786 73.5193 62.6091 72.0871 62.1237C70.6384 61.6328 68.9895 61.6721 67.1642 62.3845L67.8913 64.2476C69.3404 63.6821 70.5017 63.6982 71.4452 64.0179C72.4051 64.3432 73.2424 65.0184 73.9613 65.9419C75.4178 67.8127 76.2356 70.5094 76.5214 72.4467L78.5 72.1548ZM76.5129 72.2342C76.4489 73.1951 76.2748 74.6989 75.9663 76.0634C75.8118 76.7468 75.63 77.3659 75.4247 77.8542C75.206 78.3742 75.0145 78.6132 74.9141 78.6885L76.1141 80.2885C76.6526 79.8846 77.0136 79.2351 77.2683 78.6295C77.5363 77.9922 77.7488 77.2487 77.9171 76.5045C78.2541 75.0139 78.4395 73.403 78.5085 72.3672L76.5129 72.2342ZM75.5141 80.4885H82.9016V78.4885H75.5141V80.4885ZM83.6224 80.1816C84.4185 79.3536 85.6642 78.2661 86.8165 77.6427C87.4015 77.3262 87.8622 77.1851 88.1755 77.1789C88.4129 77.1742 88.5269 77.2354 88.6387 77.417L90.342 76.3688C89.8149 75.5122 88.9938 75.1624 88.136 75.1793C87.354 75.1948 86.5594 75.5079 85.8649 75.8836C84.4582 76.6445 83.0484 77.893 82.1807 78.7954L83.6224 80.1816ZM88.6387 77.417C89.0459 78.0787 89.5611 78.5496 90.1694 78.8099C90.7749 79.0691 91.3878 79.0833 91.932 78.9777C92.9792 78.7745 93.8786 78.1118 94.3903 77.6L92.9761 76.1858C92.6226 76.5393 92.0645 76.9147 91.551 77.0143C91.3149 77.0602 91.1216 77.042 90.9563 76.9712C90.7939 76.9017 90.5737 76.7453 90.342 76.3688L88.6387 77.417ZM93.3589 77.8389C93.891 78.0213 94.46 78.2719 94.9269 78.56C95.424 78.8668 95.6721 79.1349 95.7498 79.2985C95.7648 79.3301 95.7686 79.3482 95.7695 79.3541C95.7702 79.3587 95.77 79.3595 95.7697 79.3611C95.7693 79.3631 95.7665 79.3787 95.7498 79.4096C95.7325 79.4416 95.6993 79.4918 95.6375 79.5581C95.3648 79.8509 94.712 80.2749 93.3589 80.7388L94.0075 82.6307C95.4496 82.1363 96.4857 81.5819 97.101 80.9213C97.4222 80.5765 97.6564 80.1728 97.7386 79.7126C97.8218 79.2467 97.733 78.8123 97.5565 78.4406C97.2265 77.7457 96.5721 77.2251 95.9772 76.858C95.3523 76.4723 94.6401 76.1638 94.0075 75.947L93.3589 77.8389ZM93.3589 80.7388C87.7645 82.6569 84.9478 83.9629 84.184 84.4211L85.213 86.1361C85.7803 85.7957 88.4209 84.5461 94.0075 82.6307L93.3589 80.7388ZM84.1786 84.4244L74.9942 90.0149L76.0341 91.7233L85.2184 86.1328L84.1786 84.4244ZM74.9958 90.0139C74.0156 90.608 72.4406 91.1833 70.924 91.0509C69.5052 90.9271 68.0261 90.1823 67.0507 87.883L65.2095 88.6641C66.4703 91.6358 68.585 92.8544 70.7501 93.0433C72.8175 93.2238 74.8164 92.4613 76.0324 91.7243L74.9958 90.0139ZM67.0507 87.883C64.8523 82.7011 62.9779 75.2017 62.3164 72.0926L60.3602 72.5088C61.0297 75.6558 62.9355 83.3039 65.2095 88.6641L67.0507 87.883ZM61.4734 71.3099C60.075 71.1192 57.7066 70.616 55.225 69.7315C52.7314 68.8428 50.2121 67.6002 48.4371 65.9731L47.0857 67.4474C49.1441 69.3343 51.9491 70.6872 54.5535 71.6155C57.1699 72.5479 59.6732 73.0829 61.2031 73.2916L61.4734 71.3099ZM47.0543 66.0031C45.3706 67.6868 42.2717 70.0643 38.5231 71.6437C34.7759 73.2226 30.4814 73.9637 26.3197 72.5517L25.6771 74.4457C30.4602 76.0685 35.2836 75.179 39.2997 73.4868C43.3146 71.7952 46.6248 69.261 48.4685 67.4174L47.0543 66.0031ZM25.7924 72.5201C24.5998 72.7712 22.8226 72.9394 21.3543 72.6743C20.6222 72.5422 20.0457 72.3161 19.6545 72.0105C19.2935 71.7286 19.06 71.3593 19.0075 70.8083L17.0165 70.9979C17.1237 72.124 17.6522 72.9844 18.4234 73.5867C19.1645 74.1655 20.0904 74.4785 20.9989 74.6425C22.8117 74.9698 24.868 74.7586 26.2044 74.4772L25.7924 72.5201ZM19.0075 70.8083C18.9499 70.204 19.1173 70.013 19.216 69.9314C19.3759 69.7994 19.7134 69.6741 20.3166 69.6719C21.511 69.6676 23.0898 70.1455 24.2069 70.6243L24.9947 68.786C23.7824 68.2665 21.907 67.6662 20.3095 67.6719C19.5168 67.6747 18.6239 67.8264 17.9423 68.3895C17.1995 69.003 16.9143 69.925 17.0165 70.9979L19.0075 70.8083ZM24.9444 70.6443C26.293 70.1509 28.4583 69.4094 30.5579 68.7928C31.6079 68.4845 32.631 68.2105 33.5216 68.0144C34.4304 67.8144 35.1373 67.7102 35.5821 67.7102V65.7102C34.9087 65.7102 34.025 65.8557 33.0916 66.0612C32.1399 66.2707 31.069 66.5583 29.9943 66.8739C27.8445 67.5052 25.6372 68.2611 24.2572 68.766L24.9444 70.6443ZM35.5821 67.7102C36.6961 67.7102 37.4867 66.8312 37.9945 66.0583C38.5498 65.2131 39.0298 64.0935 39.4369 62.92C40.2556 60.5598 40.8561 57.7542 41.1611 55.8904L39.1874 55.5675C38.8934 57.3642 38.3159 60.0492 37.5473 62.2645C37.1608 63.3788 36.7448 64.3182 36.323 64.96C35.8538 65.6742 35.5861 65.7102 35.5821 65.7102V67.7102ZM40.7597 54.9183L37.1659 52.3227L35.9949 53.944L39.5888 56.5396L40.7597 54.9183ZM35.8456 52.4551L33.4496 55.0507L34.9192 56.4072L37.3152 53.8116L35.8456 52.4551ZM34.7726 54.9202C34.361 54.6209 33.6839 54.1951 32.9455 53.86C32.2524 53.5454 31.3104 53.2183 30.4491 53.3414L30.732 55.3213C30.9888 55.2846 31.4778 55.3902 32.119 55.6812C32.7151 55.9517 33.2758 56.3046 33.5963 56.5377L34.7726 54.9202ZM30.4491 53.3414C30.3317 53.3582 30.4373 53.3236 30.545 53.4258C30.5696 53.4492 30.5394 53.4336 30.4292 53.1527C30.2616 52.7253 29.9347 51.6692 28.7623 51.2052L28.0263 53.0649C28.2671 53.1602 28.3395 53.3021 28.5673 53.8829C28.6548 54.1061 28.8214 54.5472 29.168 54.8763C29.5977 55.2842 30.1506 55.4043 30.732 55.3213L30.4491 53.3414ZM28.6446 51.1669C28.56 51.145 28.3396 51.0364 28.1977 50.7421C28.063 50.4625 27.9365 49.8789 28.2969 48.8083L26.4014 48.1703C25.9256 49.5839 25.9733 50.7331 26.396 51.6103C26.8116 52.4727 27.5318 52.9449 28.144 53.1032L28.6446 51.1669ZM28.1111 47.8416C27.0524 46.5962 25.6286 44.5419 24.7961 42.4578C23.9345 40.3008 23.8579 38.5217 24.7969 37.4111L23.2696 36.1199C21.5558 38.1469 22.0319 40.9294 22.9388 43.1997C23.8748 45.543 25.4352 47.7817 26.5872 49.1369L28.1111 47.8416ZM25.0093 36.9828C25.4382 35.0562 26.7054 32.3508 29.0616 30.5353C31.3617 28.763 34.8173 27.7454 39.8745 29.3346L40.474 27.4266C34.858 25.6618 30.7097 26.7405 27.8409 28.951C25.0282 31.1183 23.5615 34.2824 23.0571 36.5482L25.0093 36.9828ZM40.1742 29.3806C40.8129 29.3806 41.8214 29.5591 42.6829 30.0764C43.5059 30.5706 44.1907 31.364 44.3399 32.6852L46.3273 32.4609C46.0978 30.4282 44.984 29.1253 43.7125 28.3618C42.4794 27.6213 41.0976 27.3806 40.1742 27.3806V29.3806ZM44.9003 33.4743C45.3875 33.7085 46.0042 34.1521 46.3391 34.6717C46.4976 34.9177 46.5718 35.147 46.5753 35.3618C46.5787 35.5672 46.5195 35.8406 46.2735 36.1905L47.9099 37.3404C48.3672 36.6896 48.5863 36.009 48.5751 35.3287C48.564 34.6579 48.3305 34.0698 48.0202 33.5883C47.4174 32.6529 46.4518 32.0011 45.7669 31.6718L44.9003 33.4743ZM46.3833 37.4713C46.937 38.027 47.5624 38.843 47.7986 39.5229C47.9153 39.8587 47.8897 40.0254 47.8681 40.0824C47.8642 40.0928 47.8274 40.2226 47.4512 40.3454L48.0716 42.2467C48.8558 41.9908 49.4643 41.5143 49.7384 40.7909C49.9948 40.1141 49.8799 39.4194 49.6878 38.8666C49.3066 37.7692 48.4367 36.6986 47.8001 36.0597L46.3833 37.4713ZM46.8063 41.5924C47.0248 42.2966 47.2097 43.2993 47.1308 44.0678C47.0914 44.4516 46.9969 44.6657 46.9165 44.7659C46.8729 44.8203 46.8015 44.8942 46.5508 44.8942V46.8942C47.3549 46.8942 48.0217 46.585 48.4771 46.0167C48.8959 45.4943 49.0614 44.8461 49.1203 44.2721C49.2382 43.1246 48.9735 41.8282 48.7165 40.9997L46.8063 41.5924ZM46.0733 46.7729C47.0254 47.2902 48.1809 47.761 49.3417 47.9762C50.4856 48.1883 51.7699 48.1758 52.8531 47.5504C53.989 46.8944 54.6856 45.6949 54.875 44.0088C55.0608 42.355 54.7752 40.153 53.9103 37.2723L51.9948 37.8474C52.8251 40.613 53.0301 42.5168 52.8875 43.7855C52.7486 45.0218 52.2979 45.5614 51.8529 45.8184C51.3551 46.1059 50.625 46.1801 49.7063 46.0097C48.8046 45.8425 47.8494 45.4618 47.0282 45.0156L46.0733 46.7729ZM23.2872 37.4315C24.0837 38.3237 26.3364 39.4036 29.9805 39.0145L29.7681 37.0258C26.516 37.3731 25.0034 36.3506 24.7792 36.0995L23.2872 37.4315ZM86.6974 14.0899C86.9086 16.4303 86.7012 19.6096 85.7309 23.1373L87.6593 23.6677C88.6883 19.9263 88.9236 16.5065 88.6893 13.9101L86.6974 14.0899ZM85.7309 23.1373C85.134 25.3076 84.2501 27.6032 83.0029 29.9109L84.7623 30.8618C86.0853 28.414 87.0243 25.9764 87.6593 23.6677L85.7309 23.1373ZM83.0029 29.9109C82.4675 30.9014 81.8652 31.8942 81.1898 32.8804L82.8399 34.0105C83.5557 32.9654 84.1944 31.9127 84.7623 30.8618L83.0029 29.9109ZM84.0772 29.4055C82.7753 29.1472 80.7883 28.7375 79.0596 28.3483C78.1941 28.1535 77.402 27.9657 76.7958 27.8059C76.4917 27.7257 76.2448 27.6553 76.0633 27.5969C75.8407 27.5253 75.8178 27.5025 75.8727 27.5375L74.7971 29.2237C74.9931 29.3487 75.2613 29.4398 75.4506 29.5007C75.6809 29.5749 75.9665 29.6556 76.2859 29.7398C76.9268 29.9088 77.7462 30.1027 78.6204 30.2995C80.371 30.6936 82.3757 31.1069 83.688 31.3672L84.0772 29.4055ZM81.1898 32.8804C80.735 33.5444 80.247 34.2056 79.724 34.861L81.2873 36.1085C81.841 35.4146 82.3579 34.7143 82.8399 34.0105L81.1898 32.8804ZM80.8647 34.5514C79.9438 34.1971 78.5216 33.6276 77.2527 33.0732C76.6172 32.7955 76.0308 32.5262 75.5688 32.2926C75.3374 32.1757 75.1468 32.0725 75.0013 31.9856C74.9288 31.9423 74.8732 31.9065 74.8325 31.8781C74.7893 31.848 74.7762 31.8355 74.7812 31.8402L73.4205 33.3059C73.7054 33.5705 74.2019 33.8426 74.6664 34.0775C75.1762 34.3353 75.801 34.6215 76.4519 34.9059C77.7556 35.4755 79.2067 36.0564 80.1465 36.418L80.8647 34.5514ZM79.724 34.861C78.7974 36.0222 77.7605 37.1658 76.6029 38.2767L77.9877 39.7198C79.2098 38.547 80.3062 37.3379 81.2873 36.1085L79.724 34.861ZM76.6029 38.2767C76.3518 38.5177 76.095 38.7571 75.8324 38.9948L77.1747 40.4775C77.4517 40.2267 77.7226 39.9741 77.9877 39.7198L76.6029 38.2767ZM77.6249 38.0541C76.8869 37.7965 75.7354 37.3768 74.6854 36.9573C74.1598 36.7473 73.6688 36.5411 73.2714 36.3578C72.8467 36.1619 72.609 36.0279 72.5295 35.9678L71.3235 37.5632C71.5966 37.7697 72.0193 37.9827 72.4337 38.1739C72.8754 38.3776 73.402 38.5983 73.9434 38.8146C75.0276 39.2477 76.2079 39.6778 76.9657 39.9424L77.6249 38.0541ZM75.8324 38.9948C74.8846 39.853 73.8609 40.6893 72.7562 41.4965L73.9361 43.1113C75.097 42.2631 76.1749 41.3827 77.1747 40.4775L75.8324 38.9948ZM72.7562 41.4965C71.9107 42.1142 71.0177 42.7149 70.0747 43.2952L71.123 44.9985C72.1106 44.3907 73.0476 43.7605 73.9361 43.1113L72.7562 41.4965ZM73.8074 41.4166C72.9218 40.9563 70.9338 39.9201 70.0456 39.4475L69.1061 41.2131C70.0044 41.6911 72.0013 42.7319 72.8849 43.1912L73.8074 41.4166ZM70.0747 43.2952C69.5341 43.628 68.977 43.954 68.4031 44.2727L69.3741 46.0212C69.9739 45.6881 70.5568 45.347 71.123 44.9985L70.0747 43.2952ZM68.4031 44.2727C65.2346 46.0322 61.5496 47.5699 57.2731 48.7767L57.8163 50.7016C62.2318 49.4555 66.0616 47.8607 69.3741 46.0212L68.4031 44.2727ZM69.6077 44.4521L68.2468 43.0438L66.8086 44.4336L68.1695 45.8419L69.6077 44.4521ZM86.4329 22.4375C84.7627 22.8913 80.4249 23.7112 76.5974 23.3505L76.4098 25.3417C80.5638 25.7331 85.1588 24.8562 86.9573 24.3675L86.4329 22.4375Z' fill='%239E42DC'/%3E%3Cpath d='M42.8139 70.4762L38.7567 98.9443M38.7567 98.9443C38.644 99.8685 38.0399 101.717 36.5252 101.717C35.0105 101.717 34.8122 99.8685 34.9024 98.9443M38.7567 98.9443C38.4412 96.4874 36.2708 92.6241 29.4928 91.5737C22.9174 90.5547 20.7698 79.5824 20.5669 73.5867M39.1116 60.0816L18.0131 68.05M4 73.5867L8.59817 68.38M4 73.5867L10.762 74.0601M4 73.5867L18.0131 68.05M18.0131 68.05C14.9372 65.5679 9.70808 58.7509 13.3992 51.3397C17.0903 43.9285 16.0191 39.2357 15.0221 37.8156M15.0221 37.8156L24.4889 44.3072M15.0221 37.8156C14.0529 37.4099 12.0198 37.0989 11.6411 39.1004C11.5284 39.5061 11.5599 40.5204 12.5878 41.3319' stroke='%239E42DC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
						background-size: cover;
						pointer-events: none;
						z-index: 0;
					}
				}
		}
		&__image {
			width: 32rem;
		}
		&__details {
			width: calc(100% - 32rem);
			padding-top: 2rem;
			color: map-get($basic, primary);
			@include font-size(1.8rem, 3.2rem);

				& p {
					@include inherit;
				}
		}
		&__headline {
			margin-bottom: 2.1rem;
			color: map-get($basic, theme);
			font-family: $font2;
			@include font-size(6.4rem, 6.4rem);
			font-weight: $bold;
		}
		&__control {
			margin-top: 3rem;
		}

		& .i {
			&._notification {
				display: block;
				@include size(28.7rem, 30.2rem);
			}
		}

	@include bp-tabletXS {
			&__content {
				padding: 3rem 3rem 4rem;
					&--cupidon {
						&::before {
							top: $gutter;
							right: $gutter;
							@include size(8rem, 7rem);
						}
					}
			}
			&__image {
				display: none;
			}
			&__headline {
				margin-bottom: 1rem;
				@include font-size(4rem, 4.8rem);
			}
			&__details {
				width: 100%;
				@include font-size(1.5rem);
			}
			&__control {
				margin-top: 2rem;
			}
	}
}