.video-blocks {
	width: 100%;
	max-width: 23rem;
	@include auto;

	& .video-block + .video-block {
		margin-top: multi(2);
	}

	@include bp-tablet {
		margin-left: 0;
		margin-right: 0;
	}
}
.video-block {
	position: relative;
	overflow: hidden;
		&__link {
			position: relative;
			@include link(100%);
			overflow: hidden;
				&::before,
				&::after {
					content: '';
					position: absolute;
					display: block;
					pointer-events: none;
					z-index: 1;
				}
				&::before {
					top: 0;
					left: 0;
					@include hundred;
					background: rgba(map-get($basic, theme), .4);
				}
				&::after {
					top: 50%;
					left: 50%;
					@include size(6.9rem, 6.9rem);
					background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 69 69' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.6' fill-rule='evenodd' clip-rule='evenodd' d='M0.25 34.375C0.25 15.5283 15.5283 0.25 34.375 0.25C53.2217 0.25 68.5 15.5283 68.5 34.375C68.5 53.2217 53.2217 68.5 34.375 68.5C15.5283 68.5 0.25 53.2217 0.25 34.375Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M29.2438 23.9885C30.024 23.5803 30.9707 23.625 31.7069 24.105L46.1034 33.4893C46.7709 33.9245 47.1719 34.657 47.1719 35.4414C47.1719 36.2258 46.7709 36.9584 46.1034 37.3935L31.7069 46.7778C30.9707 47.2578 30.024 47.3025 29.2438 46.8943C28.4636 46.486 27.9766 45.691 27.9766 44.8258V26.057C27.9766 25.1918 28.4636 24.3968 29.2438 23.9885Z' fill='white'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
					background-size: cover;
					transform: translate(-50%, -50%);
					@include smooth(.4s);
					will-change: transform;
				}
				&:hover {
					&::after {
						transform: translate(-50%, -50%) scale(1.1);
					}
				}
		}
		&__type {
			position: absolute;
			top: 0; //1.3rem;
			left: 0; //1.3rem;
			padding: .4rem 1rem;
			color: $colorWhite;
			font-family: $font;
			@include font-size(1.2rem, 1.6rem);
			font-weight: 600;
			letter-spacing: .03em;
			background: map-get($basic, theme);
			@include radius(1rem 0);
			@include upp;
			z-index: 2;
		}
		&__headline {
			position: absolute;
			left: 1.3rem;
			bottom: 1rem;
			color: $colorWhite;
			z-index: 2;
		}

		img {
			@include hundred;
			object-fit: cover;
			object-position: center center;
		}

		&-carousel {
			position: relative;
			width: 100%;
			overflow: hidden;
				&__element {
					width: 100%;
					overflow: hidden;
				}
				&__next {
					position: absolute;
					right: 0;
					bottom: 0;
					display: none;
					color: map-get($basic, theme);
					@include font-size(1.4rem);
					cursor: pointer;
					@include smooth(.2s);
					z-index: 2;
						&.swiper-button-disabled {
							opacity: 0;
							pointer-events: none;
						}
				}
				&__pagination {
					position: absolute;
					left: 0;
					bottom: 0!important;
					display: none;
					z-index: 1;
						& .swiper-pagination-bullet {
							@include size(.8rem, .8rem);
							margin: 0!important;
							background: map-get($grey, color_5);
							opacity: 1;
							outline: 0;
								&:not(:last-child) {
									margin-right: .8rem!important;
								}
								&-active {
									background: map-get($basic, theme);
								}
						}
				}

				&.swiper-container-initialized {
					padding-bottom: 3rem;
						.video-block-carousel {
							&__next,
							&__pagination {
								display: block;
							}
						}
				}
		}

		&--type-0 {
			height: 100%;
			@include radius($radius);
			.video-block {
				&__link {
					@include radius($radius);
						&::before {
							@include radius($radius);
						}
				}
				&__headline {
					font-family: $font2;
					@include font-size(1.8rem);
					font-weight: $bold;
				}
			}
		}
		&--type-1 {
			.video-block {
				&__link {
					height: 23rem;
					&::before {
						top: auto;
						bottom: 0;
						height: 6rem;
						background: linear-gradient(to bottom, rgba($colorBlack,0) 0%,rgba($colorBlack,1) 100%);
						opacity: .4;
					}
				}
			}
		}
		&--type-2 {
			.video-block {
				&__link {
					height: 0;
					padding-bottom: 56.25%;
						&::before {
							top: auto;
							bottom: 0;
							height: 6rem;
							background: linear-gradient(to bottom, rgba($colorBlack,0) 0%,rgba($colorBlack,1) 100%);
							opacity: .4;
						}

						img {
							position: absolute;
							top: 0;
							left: 0;
						}
				}
			}
		}

	@include bp-tablet {
		&--type-1 {
			.video-block {
				&__link {
					height: 100%;
				}
			}
		}
	}
	@include bp-tabletXS {
		&--type-0 {
			.video-block {
				&__link {
					&::after {
						@include size(4.2rem, 4.2rem);
					}
				}
				&__type  {
					//top: .8rem;
					//left: .8rem;
					padding: .1rem .8rem
				;
					font-size: .8rem;
				}
				&__headline {
					left: .8rem;
					bottom: 1.1rem;
					@include font-size(1.2rem, 1.6rem);
				}
			}
		}
		&--type-1 {
			.video-block {
				&__headline {
					font-size: 1.3rem;
				}
			}
		}
		&--type-2 {
			.video-block {
				&__link {
					&::after {
						@include size(4.2rem, 4.2rem);
					}
				}
			}
		}

		&-carousel {
			overflow: visible;
			&__pagination {
				@include align_c;
			}
			&__next {
				display: none;
			}

			&.swiper-container-initialized {
				.video-block-carousel {
					/*&__element {
						width: calc(100% - 1.6rem);
					}*/
					&__next {
						display: none;
					}
				}
			}
		}
	}
}