.yandex-share {
	.ya-share2__list.ya-share2__list_direction_horizontal {
		margin-top: 0;
		font-size: 0;
		& > .ya-share2__item {
			margin: 0;
			&::before {
				display: none;
			}
			&:not(:last-child) {
				margin-right: 2.4rem;
			}
		}
	}
	.ya-share2 {
		&__link {
			@include size(3rem, 3rem);
			border-bottom: 0!important;
		}
		&__badge {
			@include flex();
			height: 100%;
			align-items: center;
			justify-content: center;
		}

		&__item_service {
			&_vkontakte {
				.ya-share2__badge {
					background: map-get($social, vk);
				}
			}
			&_facebook {
				.ya-share2__badge {
					align-items: flex-end;
					justify-content: flex-end;
					padding-right: .2rem;
					background: map-get($social, fbAlt);
				}
			}
			&_odnoklassniki {
				.ya-share2__badge {
					background: map-get($social, ok);
				}
			}
			&_telegram {
				.ya-share2__badge {
					padding-right: .15rem;
					padding-bottom: .1rem;
					background: map-get($social, tl);
					@include round;
				}
			}
		}
		&__container_size_m {
			.ya-share2__badge .ya-share2__icon {
				background-size: cover;
			}
			.ya-share2__item_service {
				&_vkontakte {
					.ya-share2__icon {
						@include size(2rem, 1.2rem);
						background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M9.79535 11.1374H10.9313C10.9313 11.1374 11.2744 11.1013 11.4499 10.9209C11.6109 10.7553 11.6064 10.4442 11.6064 10.4442C11.6064 10.4442 11.5842 8.98764 12.2916 8.77319C12.9889 8.56193 13.8839 10.1809 14.8333 10.8041C15.5506 11.2755 16.0958 11.1725 16.0958 11.1725L18.6331 11.1385C18.6331 11.1385 19.9601 11.0599 19.3305 10.0631C19.2794 9.98133 18.964 9.32524 17.4439 7.97591C15.8527 6.56394 16.0659 6.7922 17.9824 4.35045C19.1495 2.86311 19.6159 1.95542 19.4704 1.56686C19.3305 1.19529 18.4721 1.29296 18.4721 1.29296L15.615 1.30995C15.615 1.30995 15.4029 1.28234 15.2464 1.37258C15.0931 1.4607 14.9943 1.66559 14.9943 1.66559C14.9943 1.66559 14.5424 2.8164 13.9394 3.79522C12.6669 5.86009 12.1583 5.96943 11.9507 5.84098C11.4665 5.5416 11.5876 4.64027 11.5876 3.99905C11.5876 1.99788 11.9051 1.16344 10.9691 0.946868C10.6581 0.875739 10.4294 0.827966 9.63545 0.820535C8.61609 0.81098 7.75441 0.82372 7.26582 1.05197C6.94047 1.20378 6.69063 1.5435 6.84275 1.56261C7.03152 1.58703 7.45903 1.67302 7.68556 1.96816C7.97871 2.34928 7.96761 3.20389 7.96761 3.20389C7.96761 3.20389 8.13639 5.55964 7.57452 5.85265C7.19031 6.0533 6.66176 5.64351 5.52802 3.76974C4.94727 2.81003 4.50866 1.74946 4.50866 1.74946C4.50866 1.74946 4.42427 1.55094 4.27325 1.44477C4.09003 1.31632 3.83464 1.27597 3.83464 1.27597L1.11967 1.29296C1.11967 1.29296 0.712151 1.30358 0.562245 1.47344C0.428995 1.62419 0.551141 1.93631 0.551141 1.93631C0.551141 1.93631 2.67648 6.69028 5.08275 9.08531C7.29025 11.2818 9.79535 11.1374 9.79535 11.1374Z'%3E%3C/path%3E%3C/svg%3E");
					}
				}
				&_facebook {
					.ya-share2__icon {
						@include size(1.5rem, 2.2rem);
						background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M6.23941 16V8.70156H8.68952L9.05582 5.85768H6.23941V4.04146C6.23941 3.21832 6.46834 2.65666 7.64863 2.65666L9.15451 2.65564V0.111924C8.89404 0.0773297 7.99966 0 6.95979 0C4.78847 0 3.30192 1.32579 3.30192 3.75962V5.85768H0.845703V8.70156H3.30192V16H6.23941Z'%3E%3C/path%3E%3C/svg%3E");
					}
				}
				&_odnoklassniki {
					.ya-share2__icon {
						@include size(1.5rem, 1.8rem);
						background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m4.721 12.881c-.613 1.205.083 1.781 1.671 2.765 1.35.834 3.215 1.139 4.413 1.261-.491.472 1.759-1.692-4.721 4.541-1.374 1.317.838 3.43 2.211 2.141l3.717-3.585c1.423 1.369 2.787 2.681 3.717 3.59 1.374 1.294 3.585-.801 2.226-2.141-.102-.097-5.037-4.831-4.736-4.541 1.213-.122 3.05-.445 4.384-1.261l-.001-.001c1.588-.989 2.284-1.564 1.68-2.769-.365-.684-1.349-1.256-2.659-.267 0 0-1.769 1.355-4.622 1.355-2.854 0-4.622-1.355-4.622-1.355-1.309-.994-2.297-.417-2.658.267z' fill='white'/%3E%3Cpath d='m11.999 12.142c3.478 0 6.318-2.718 6.318-6.064 0-3.36-2.84-6.078-6.318-6.078-3.479 0-6.319 2.718-6.319 6.078 0 3.346 2.84 6.064 6.319 6.064zm0-9.063c1.709 0 3.103 1.341 3.103 2.999 0 1.644-1.394 2.985-3.103 2.985s-3.103-1.341-3.103-2.985c-.001-1.659 1.393-2.999 3.103-2.999z' fill='white'/%3E%3C/svg%3E");
					}
				}
				&_telegram {
					.ya-share2__icon {
						@include size(1.4rem, 1.4rem);
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512'%3E%3Cpath style='fill:%23FFFFFF;' d='M135.876,280.962L10.105,225.93c-14.174-6.197-13.215-26.621,1.481-31.456L489.845,36.811 c12.512-4.121,24.705,7.049,21.691,19.881l-95.571,406.351c-2.854,12.14-17.442,17.091-27.09,9.19l-112.3-91.887L135.876,280.962z'%0A/%3E%3Cpath style='fill:%23BEC3D2;' d='M396.465,124.56L135.876,280.962l31.885,147.899c2.86,13.269,18.5,19.117,29.364,10.981 l79.451-59.497l-65.372-53.499l193.495-191.693C410.372,129.532,403.314,120.449,396.465,124.56z'/%3E%3Cpath style='fill:%23AFB4C8;' d='M178.275,441.894c5.858,2.648,13.037,2.302,18.85-2.052l79.451-59.497l-32.686-26.749l-32.686-26.749 L178.275,441.894z'/%3E%3C/svg%3E");
					}
				}
			}
		}
	}

	@include bp-tablet {
		.ya-share2 {
			&__container_size_m {
				.ya-share2__item_service {
					&_facebook {
						.ya-share2__icon {
							width: 1.3rem;
						}
					}
					&_odnoklassniki {
						.ya-share2__icon {
							width: 1.8rem;
						}
					}
					&_telegram {
						.ya-share2__icon {
							height: 1.3rem;
						}
					}
				}
			}
		}
	}
}