.default-slider {
	position: relative;
	width: 100%;
		&__element {
			position: relative;
			outline: 0;
			overflow: hidden;
				&:not(:first-child) {
					display: none;
				}
				img {
					position: absolute;
					top: 0;
					left: 0;
					@include hundred;
					object-fit: cover;
					object-position: center center;
				}

				&-inside {
					position: relative;
					display: block;
					height: 0;
					padding-bottom: 41.32%;
					text-decoration: none;
					border-bottom: 0!important;
					overflow: hidden;
				}
		}

		&.slick-initialized {
			.default-slider__element {
				&:not(:first-child) {
					display: block;
				}
			}
		}

	@include bp-tablet {
		@include outbox();
			&__element {
				&--align-left {
					img {
						object-position: 32% center;
					}
				}
				&--align-right {
					img {
						object-position: right center;
					}
				}
			}
	}
	@include bp-tabletXS {
		&__element {
			&-inside {
				padding-bottom: 55.5%;
			}
		}
	}
}