.website-aside {
	position: fixed;
	top: 6.4rem;
	display: none;
	@include size(100%, calc(100% - 6.4rem));
	background: map-get($basic, theme);
	transform: translateX(-100%);
	@include smooth(.3s);
	overflow: hidden;
	z-index: 160;
		&__inside {
			width: 100%;
			max-height: 100%;
			overflow: auto;
			@include touch-scroll;
		}

		&-button {
			position: absolute;
			top: 0;
			left: 0;
			display: none;
			height: 100%;
			align-items: center;
			justify-content: center;
				&__bar {
					position: relative;
					display: block;
					@include size(1.8rem, .2rem);
					background: $colorWhite;
					@include radius(.3rem);
						&::before,
						&::after {
							content: '';
							position: absolute;
							left: 0;
							display: block;
							height: 100%;
							background: $colorWhite;
							@include radius(.3rem);
							@include smooth(.2s);
						}
						&::before {
							top: -.7rem;
							width: 1.2rem;
						}
						&::after {
							bottom: -.7rem;
							width: 1.5rem;
						}
				}
		}

	& .secondary-navigation {
		display: block;
		@include size(100%, auto);
		padding: 2.8rem 7.2rem 2.8rem 6.5rem;
			&__link {
				display: block;
				width: 100%;
				color: $colorWhite;
				@include font-size(1.5rem, 3.2rem);
				@include align_l;
					&:not(:last-child) {
						margin-right: 0;
						margin-bottom: 2.4rem;
					}
			}
	}

	@include bp-tablet {
		display: block;
			&-button {
				@include flex(4.5rem);
			}
	}
}