<div class="tabs {{ tabsMod }} js-tabs">
    <div class="tabs__list">
        <button data-tab-id="tab-auth-phone" class="tabs__element _active borderless js-tabs-button" type="button">По телефону</button>
        <button data-tab-id="tab-auth-email" class="tabs__element borderless js-tabs-button" type="button">По почте</button>
    </div>
    <div data-tab="tab-auth-phone" class="tabs__pane _active js-tabs-pane">
        <div class="form__row">
            {% include '../elements/input.twig' with {
                name     : 'PHONE',
                label    : 'Телефон',
                type     : 'tel',
            } %}
        </div>
        <div class="form__row">
            <button class="button button--m button--w-100 {{gradient ? 'button--gradient' : 'button--grey'}} button--500" type="submit">Войти</button>
        </div>
        <div class="form__options">
            <a href="./registration.html" class="form__option borderless">Зарегистрироваться</a>
        </div>
    </div>
    <div data-tab="tab-auth-email" class="tabs__pane js-tabs-pane">
        <div class="form__row">
            {% include '../elements/input.twig' with {
                name  : 'userEmail',
                label : 'Электронная почта',
                type  : 'email',
            } %}
        </div>
        <div class="form__row">
            {% include '../elements/input.twig' with {
                name  : 'userPassword',
                label : 'Пароль',
                type  : 'password',
            } %}
        </div>
        <div class="form__row">
            <button class="button button--m button--w-100 {{gradient ? 'button--gradient' : 'button--grey'}} button--500" type="submit">Войти</button>
        </div>
        <div class="form__options">
            <a href="./password-restore.html" class="form__option borderless">Забыли пароль?</a>
            <a href="./registration.html" class="form__option borderless">Зарегистрироваться</a>
        </div>
    </div>
</div>