<div class="breadcrumbs">
    <div class="breadcrumbs__inside">
        {% for i in array.links %}
            <a href="{{ i.url }}" class="breadcrumbs__element borderless">{{ i.link }}</a>
        {% endfor %}
        <div class="breadcrumbs__element">{{ array.last }}</div>
    </div>
</div>