<div class="counter js-counter" data-min="0" data-max="10">
    <button class="counter__control counter__control--remove js-counter-remove" type="button">
        <svg class="i" viewBox="0 0 9 3" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.27051 2.54199H0.808594V0.819336H8.27051V2.54199Z"/>
        </svg>
    </button>
    <input type="text" class="counter__input js-counter-input" value="{{ counter }}">
    <button class="counter__control counter__control--add js-counter-add" type="button">
        <svg class="i" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.51074 3.95996H8.85059V5.91113H5.51074V9.7168H3.43652V5.91113H0.0791016V3.95996H3.43652V0.400391H5.51074V3.95996Z"/>
        </svg>
    </button>
</div>