{% set thumbs = [0,1,2]%}

<div class="h-thumbs-gallery">
    <div class="h-thumbs-gallery__slider swiper-container js-h-thumbs-gallery-slider">
        <div class="swiper-wrapper">
            {% for i in thumbs %}
                <div class="h-thumbs-gallery__slider-element swiper-slide">
                    {% if loop.index0 %}
                        <img
                                src="assets/images/h-thumb-gallery/image-0.jpg"
                                srcset="assets/images/h-thumb-gallery/image-0.jpg 1x, assets/images/h-thumb-gallery/image-0-2x.jpg 2x"
                                alt="">
                    {% else %}
                        {% include '../elements/video-block.twig' with {
                            videoBlockMod : 'video-block--type-2',
                            image         : 2,
                            url           : 'https://www.youtube.com/watch?v=EImMK6jHmZM',
                        } %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="h-thumbs-gallery__slider-arrow h-thumbs-gallery__slider-arrow--prev js-h-thumbs-gallery-slider-arrow-prev">
            <svg class="i" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 31.494 31.494">
                <path d="M10.273,5.009c0.444-0.444,1.143-0.444,1.587,0c0.429,0.429,0.429,1.143,0,1.571l-8.047,8.047h26.554
	c0.619,0,1.127,0.492,1.127,1.111c0,0.619-0.508,1.127-1.127,1.127H3.813l8.047,8.032c0.429,0.444,0.429,1.159,0,1.587
	c-0.444,0.444-1.143,0.444-1.587,0l-9.952-9.952c-0.429-0.429-0.429-1.143,0-1.571L10.273,5.009z"/>
            </svg>
        </div>
        <div class="h-thumbs-gallery__slider-arrow h-thumbs-gallery__slider-arrow--next js-h-thumbs-gallery-slider-arrow-next">
            <svg class="i" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 31.49 31.49">
                <path d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111
	C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587
	c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"/>
            </svg>
        </div>
        <div class="h-thumbs-gallery__pagination js-h-thumbs-gallery-slider-pagination"></div>
    </div>
    <div class="h-thumbs-gallery__thumbs swiper-container js-h-thumbs-gallery-thumbs">
        <div class="swiper-wrapper">
            {% for i in thumbs %}
                <div class="h-thumbs-gallery__thumbs-element swiper-slide">
                    <img
                            src="assets/images/h-thumb-gallery/thumbs/image-{{ i }}.jpg"
                            srcset="assets/images/h-thumb-gallery/thumbs/image-{{ i }}.jpg 1x, assets/images/h-thumb-gallery/thumbs/image-{{ i }}-2x.jpg 2x"
                            alt="">
                </div>
            {% endfor %}
        </div>
    </div>
</div>