<div class="issue-feedback issue-feedback--offset-top js-issue-feedback">
    <div class="issue-feedback__header">
        <div class="issue-feedback__question" >Нашли, что искали?</div>
        <button class="issue-feedback__control js-issue-feedback-control" data-type="true" type="button">Да</button>
        <button class="issue-feedback__control js-issue-feedback-control" data-type="false" type="button">Нет</button>
    </div>
    <form action="/" method="POST" class="issue-feedback__form">
        {% include '../elements/input.twig' with {
            textarea : true,
            name     : 'ISSUE__FEEDBACK',
            label    : 'Пожалуйста, расскажите о вашей проблеме',
        } %}
        <div class="issue-feedback__form-controls">
            <button class="button button--grey button--fs-14 js-issue-feedback-reset" type="reset">Отменить</button>
            <button class="button button--fs-14" type="submit">Отправить</button>
        </div>
    </form>
    <div class="issue-feedback__message">
        <div class="issue-feedback__headline">Благодарим вас за&nbsp;отзыв</div>
        <p>Ваши комментарии очень важны для нас и&nbsp;помогают улучшить наши результаты поиска для всех наших клиентов</p>
    </div>
</div>