<div class="like-dislike {{mod}}">
    {% if label %}
        <div class="like-dislike__label">{{ label }}</div>
    {% endif %}
    <button class="like-dislike__control like-dislike__control--like" type="button"></button>
    <div class="like-dislike__value">{{ value }}</div>
    {% if not noDislike  %}
        <button class="like-dislike__control like-dislike__control--dislike" type="button"></button>
    {% endif %}
</div>