<div class="messengers">
    <button class="messengers__button js-messengers-button" type="button"></button>
    <a href="https://t.me/shpi_vi" target="_blank" class="messengers__element messengers__element--telegram borderless" title="Telegramm">
        <svg class="i" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="1" y="1" width="58" height="58" rx="29" fill="#56ADDD" stroke="white" stroke-width="2"/>
            <path d="M40.9321 21.8374L37.3091 38.9099C37.0414 40.1204 36.3208 40.4138 35.3153 39.8441L29.7968 35.7768L27.1351 38.3403C26.8418 38.6336 26.5926 38.8829 26.0229 38.8829L26.4145 33.2661L36.6412 24.0263C37.087 23.6347 36.5429 23.4125 35.9548 23.8042L23.3156 31.7608L17.8683 30.0604C16.6849 29.6872 16.6578 28.8769 18.1176 28.3073L39.3998 20.1C40.3881 19.744 41.2525 20.3421 40.9321 21.8374Z" fill="white"/>
        </svg>
    </a>
    <a href="https://wa.me/79060202070" target="_blank" class="messengers__element messengers__element--whatsapp borderless" title="Whatsapp">
        <svg class="i" width="61" height="61" viewBox="0 0 61 61" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="path-1-outside-1" maskUnits="userSpaceOnUse" x="0" y="0" width="61" height="61" fill="black">
                <rect fill="white" width="61" height="61"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M31.2179 2C15.8742 2 3.43579 14.655 3.43579 29.9986C3.43579 34.8951 4.70248 39.5177 6.92606 43.5427L3 58.0002L17.3141 54.2179C21.4033 56.6179 26.1523 57.9973 31.2179 57.9973C46.5615 57.9973 58.9999 45.3422 58.9999 29.9986C58.9999 14.655 46.5615 2 31.2179 2Z"/>
            </mask>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M31.2179 2C15.8742 2 3.43579 14.655 3.43579 29.9986C3.43579 34.8951 4.70248 39.5177 6.92606 43.5427L3 58.0002L17.3141 54.2179C21.4033 56.6179 26.1523 57.9973 31.2179 57.9973C46.5615 57.9973 58.9999 45.3422 58.9999 29.9986C58.9999 14.655 46.5615 2 31.2179 2Z" fill="#95C850"/>
            <path d="M6.92606 43.5427L8.85616 44.0668L9.06851 43.2848L8.67668 42.5755L6.92606 43.5427ZM3 58.0002L1.0699 57.4761L0.162184 60.8187L3.51093 59.9338L3 58.0002ZM17.3141 54.2179L18.3264 52.4931L17.6082 52.0715L16.8031 52.2843L17.3141 54.2179ZM5.43579 29.9986C5.43579 15.7393 16.999 4 31.2179 4V0C14.7495 0 1.43579 13.5707 1.43579 29.9986H5.43579ZM8.67668 42.5755C6.61166 38.8376 5.43579 34.5466 5.43579 29.9986H1.43579C1.43579 35.2436 2.79331 40.1978 5.17544 44.5098L8.67668 42.5755ZM4.9301 58.5243L8.85616 44.0668L4.99596 43.0185L1.0699 57.4761L4.9301 58.5243ZM16.8031 52.2843L2.48907 56.0666L3.51093 59.9338L17.825 56.1516L16.8031 52.2843ZM31.2179 55.9973C26.5204 55.9973 22.1194 54.7192 18.3264 52.4931L16.3017 55.9428C20.6872 58.5167 25.7842 59.9973 31.2179 59.9973V55.9973ZM56.9999 29.9986C56.9999 44.2579 45.4367 55.9973 31.2179 55.9973V59.9973C47.6862 59.9973 60.9999 46.4266 60.9999 29.9986H56.9999ZM31.2179 4C45.4367 4 56.9999 15.7393 56.9999 29.9986H60.9999C60.9999 13.5707 47.6862 0 31.2179 0V4Z" fill="white" mask="url(#path-1-outside-1)"/>
            <path d="M42.7288 35.25C42.5835 35.0059 42.1961 34.8594 41.6148 34.5664C41.0335 34.2735 38.1755 32.858 37.6426 32.6626C37.1098 32.4674 36.7222 32.3698 36.3347 32.9554C35.9472 33.5412 34.8332 34.8594 34.4941 35.25C34.155 35.6404 33.8159 35.6894 33.2348 35.3964C32.6535 35.1035 30.7805 34.4856 28.5601 32.492C26.832 30.9402 25.6653 29.0241 25.3263 28.4382C24.9872 27.8524 25.2901 27.5358 25.5811 27.244C25.8426 26.9817 26.1625 26.5603 26.4531 26.2187C26.7437 25.8771 26.8406 25.6329 27.0344 25.2426C27.2281 24.8519 27.1313 24.5103 26.9859 24.2174C26.8406 23.9245 25.6781 21.0441 25.1937 19.8724C24.7218 18.7313 24.2426 18.8859 23.8858 18.8679C23.5471 18.8508 23.1591 18.8472 22.7716 18.8472C22.3841 18.8472 21.7543 18.9936 21.2215 19.5795C20.6887 20.1653 19.187 21.5811 19.187 24.4612C19.187 27.3415 21.2699 30.1241 21.5606 30.5146C21.8512 30.9053 25.6596 36.8158 31.4909 39.3505C32.8778 39.9534 33.9605 40.3135 34.8048 40.5831C36.1973 41.0286 37.4646 40.9658 38.4661 40.815C39.583 40.6471 41.9053 39.3995 42.3899 38.0327C42.8741 36.6656 42.8741 35.4939 42.7288 35.25Z" fill="white"/>
        </svg>
    </a>
</div>
