<div class="mobile-navigation js-accordions-collapsible">
    {% for i in array %}
        {% if i.accrodion %}
            <div class="accordion js-accordion">
                <a href="javascript:void(0);" class="mobile-navigation__link borderless js-accordion-button">
                    {% if i.icon %}
                        <span class="mobile-navigation__link-icon">
                        {{ i.icon }}
                    </span>
                    {% endif %}
                    {{ i.value }}
                </a>
                <div class="accordion__body js-accordion-body _hide">
                    {% for x in i.accrodion %}
                        <a href="javascript:void(0);" class="mobile-navigation__link borderless">{{ x }}</a>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <a href="javascript:void(0);" class="mobile-navigation__link borderless">
                {% if i.icon %}
                    <span class="mobile-navigation__link-icon">
                    {{ i.icon }}
                </span>
                {% endif %}
                {{ i.value }}
            </a>
        {% endif %}
    {% endfor %}
</div>