<div class="pagination {{ paginationMod }}">
    <a href="javascript:void(0);" class="button button--sm button--grey button--w-100 button--500">Показать еще</a>
    <div class="pagination__list">
        <div class="pagination__element pagination__element--prev">
            <svg class="i" viewBox="0 0 8 14" xmlns="http://www.w3.org/2000/svg">
                <path clip-rule="evenodd" d="M7.707.293a1 1 0 0 0-1.414 0l-6 6a1 1 0 0 0 0 1.414l6 6a1 1 0 0 0 1.414-1.414L2.414 7l5.293-5.293a1 1 0 0 0 0-1.414z"></path>
            </svg>
            Назад
        </div>
        <a href="javascript:void(0);" class="pagination__element borderless">1</a>
        <a href="javascript:void(0);" class="pagination__element borderless">2</a>
        <a href="javascript:void(0);" class="pagination__element borderless">3</a>
        <div class="pagination__element pagination__element--next">
            Вперед
            <svg class="i" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L7.70711 6.29289C8.09763 6.68342 8.09763 7.31658 7.70711 7.70711L1.70711 13.7071C1.31658 14.0976 0.683417 14.0976 0.292893 13.7071C-0.0976311 13.3166 -0.0976311 12.6834 0.292893 12.2929L5.58579 7L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893Z"/>
            </svg>
        </div>
    </div>
    {#{% if not noSelect %}{% endif %}#}
</div>