<div class="preloader-wrapper">
    {#<div class="preloader">
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
    </div>#}
    <div class="preloader">
        <div class="preloader__rect preloader__rect--1"></div>
        <div class="preloader__rect preloader__rect--2"></div>
        <div class="preloader__rect preloader__rect--3"></div>
        <div class="preloader__rect preloader__rect--4"></div>
        <div class="preloader__rect preloader__rect--5"></div>
    </div>
</div>
