<div class="price-range js-price-range-block">
    <div class="price-range__inputs">
        <div class="price-range__input">
            <div class="price-range__prefix">от</div>
            <input type="tel" class="price-range__field js-price-range-from" name="product-price[]">
        </div>
        <div class="price-range__input">
            <div class="price-range__prefix">до</div>
            <input type="tel" class="price-range__field js-price-range-to" name="product-price[]">
        </div>
    </div>
    <input  type="text" class="js-price-range" name="price-range" data-step-value="{{ value }}" data-from-value="{{ from }}" data-to-value="{{ to }}" data-min-value="{{ min }}" data-max-value="{{ max }}">
</div>