{% set breadcrumbs = {
    links : [
        {
            url  : './home.twig',
            link : 'Секс-шоп',
        },
        {
            url  : './catalog-3.twig',
            link : 'Секс игрушки',
        },
        {
            url  : './catalog-3.twig',
            link : 'Вибраторы',
        },
    ],
    last : 'Игрушки для массажа и&nbsp;прелюдии'
} %}
{% set carousel = [0, 0, 0, 0, 0, 0, 0, 0] %}
{% set thumbs   = [0, 1, 2, 3, 4, 1, 2, 3] %}
{% set features = [
    {label: 'Артикул', value : 'Силикон'},
    {label: 'Материал', value : 'BI-210203'},
    {label: 'Размер (В &times; Ш)', value : '12.5 &times; 2.8см'},
    {label: 'Водонепроницаемость', value : '100% (можно использовать под водой)'},
] %}

<div class="product-card product-card--preview">
    <div class="product-card__image">
        <div class="v-thumbs-gallery">
            <div class="v-thumbs-gallery__thumbs swiper-container js-v-thumbs-gallery-thumbs">
                <div class="swiper-wrapper">
                    {% for i in thumbs %}
                        <div class="v-thumbs-gallery__thumbs-element swiper-slide">
                            <a href="javascript:void(0);" class="v-thumbs-gallery__thumbs-link borderless skip-gallery">
                                <img
                                        class="lazyload"
                                        src="assets/images/product/carousel/thumbs/image-{{ i }}.jpg"
                                        srcset="assets/images/product/carousel/thumbs/image-{{ i }}.jpg 1x, assets/images/product/carousel/thumbs/image-{{ i }}-2x.jpg 2x"
                                        alt="">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="v-thumbs-gallery__slider swiper-container js-v-thumbs-gallery">
                <div class="swiper-wrapper">
                    {% for i in carousel %}
                        <div class="v-thumbs-gallery__slider-element swiper-slide">
                            <img
                                    class="lazyload"
                                    src="assets/images/product/carousel/image-{{ i }}.jpg"
                                    srcset="assets/images/product/carousel/image-{{ i }}.jpg 1x, assets/images/product/carousel/image-{{ i }}-2x.jpg 2x"
                                    alt="">
                        </div>
                    {% endfor %}
                </div>
                <div class="v-thumbs-gallery__pagination js-v-thumbs-gallery-pagination"></div>
            </div>
        </div>
    </div>
    <form action="/" method="POST" class="product-card__details">
        <header class="product-card__header">
            {% include '../includes/breadcrumbs.twig' with { array : breadcrumbs } %}
            <div class="product-labels">
                <!--<div class="product-label product-label--green">Новинка</div>-->
                <div class="product-label product-label--red">Хит продаж</div>
                <div class="product-label product-label--yellow">Бесплатная доставка</div>
            </div>
            <h1 class="product-card__headline">Анатомический вибратор-кролик <br>We-Vibe Nova&nbsp;2</h1>
            <div class="product-card__features">
                <div class="rating rating--m">
                    <div class="rating-stars">
                        <div class="rating-stars__fake">
                            <div class="rating-stars__element">
                                <svg class="i" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.27975 0C6.49704 0 6.69549 0.123352 6.79167 0.318198L8.423 3.6231L12.0712 4.15633C12.2861 4.18776 12.4646 4.33847 12.5316 4.54514C12.5987 4.7518 12.5426 4.97859 12.3869 5.13018L9.7476 7.70087L10.3705 11.3326C10.4072 11.5468 10.3192 11.7633 10.1433 11.891C9.96753 12.0187 9.73444 12.0355 9.5421 11.9344L6.27975 10.2188L3.0174 11.9344C2.82506 12.0355 2.59197 12.0187 2.41615 11.891C2.24033 11.7633 2.15228 11.5468 2.18901 11.3326L2.8119 7.70087L0.172576 5.13018C0.0169428 4.97859 -0.0391596 4.7518 0.0278495 4.54514C0.0948586 4.33847 0.273363 4.18776 0.488335 4.15633L4.1365 3.6231L5.76783 0.318198C5.86401 0.123352 6.06246 0 6.27975 0Z"/></svg>
                            </div>
                            <div class="rating-stars__element">
                                <svg class="i" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.27975 0C6.49704 0 6.69549 0.123352 6.79167 0.318198L8.423 3.6231L12.0712 4.15633C12.2861 4.18776 12.4646 4.33847 12.5316 4.54514C12.5987 4.7518 12.5426 4.97859 12.3869 5.13018L9.7476 7.70087L10.3705 11.3326C10.4072 11.5468 10.3192 11.7633 10.1433 11.891C9.96753 12.0187 9.73444 12.0355 9.5421 11.9344L6.27975 10.2188L3.0174 11.9344C2.82506 12.0355 2.59197 12.0187 2.41615 11.891C2.24033 11.7633 2.15228 11.5468 2.18901 11.3326L2.8119 7.70087L0.172576 5.13018C0.0169428 4.97859 -0.0391596 4.7518 0.0278495 4.54514C0.0948586 4.33847 0.273363 4.18776 0.488335 4.15633L4.1365 3.6231L5.76783 0.318198C5.86401 0.123352 6.06246 0 6.27975 0Z"/></svg>
                            </div>
                            <div class="rating-stars__element">
                                <svg class="i" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.27975 0C6.49704 0 6.69549 0.123352 6.79167 0.318198L8.423 3.6231L12.0712 4.15633C12.2861 4.18776 12.4646 4.33847 12.5316 4.54514C12.5987 4.7518 12.5426 4.97859 12.3869 5.13018L9.7476 7.70087L10.3705 11.3326C10.4072 11.5468 10.3192 11.7633 10.1433 11.891C9.96753 12.0187 9.73444 12.0355 9.5421 11.9344L6.27975 10.2188L3.0174 11.9344C2.82506 12.0355 2.59197 12.0187 2.41615 11.891C2.24033 11.7633 2.15228 11.5468 2.18901 11.3326L2.8119 7.70087L0.172576 5.13018C0.0169428 4.97859 -0.0391596 4.7518 0.0278495 4.54514C0.0948586 4.33847 0.273363 4.18776 0.488335 4.15633L4.1365 3.6231L5.76783 0.318198C5.86401 0.123352 6.06246 0 6.27975 0Z"/></svg>
                            </div>
                            <div class="rating-stars__element">
                                <svg class="i" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.27975 0C6.49704 0 6.69549 0.123352 6.79167 0.318198L8.423 3.6231L12.0712 4.15633C12.2861 4.18776 12.4646 4.33847 12.5316 4.54514C12.5987 4.7518 12.5426 4.97859 12.3869 5.13018L9.7476 7.70087L10.3705 11.3326C10.4072 11.5468 10.3192 11.7633 10.1433 11.891C9.96753 12.0187 9.73444 12.0355 9.5421 11.9344L6.27975 10.2188L3.0174 11.9344C2.82506 12.0355 2.59197 12.0187 2.41615 11.891C2.24033 11.7633 2.15228 11.5468 2.18901 11.3326L2.8119 7.70087L0.172576 5.13018C0.0169428 4.97859 -0.0391596 4.7518 0.0278495 4.54514C0.0948586 4.33847 0.273363 4.18776 0.488335 4.15633L4.1365 3.6231L5.76783 0.318198C5.86401 0.123352 6.06246 0 6.27975 0Z"/></svg>
                            </div>
                            <div class="rating-stars__element">
                                <svg class="i" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.27975 0C6.49704 0 6.69549 0.123352 6.79167 0.318198L8.423 3.6231L12.0712 4.15633C12.2861 4.18776 12.4646 4.33847 12.5316 4.54514C12.5987 4.7518 12.5426 4.97859 12.3869 5.13018L9.7476 7.70087L10.3705 11.3326C10.4072 11.5468 10.3192 11.7633 10.1433 11.891C9.96753 12.0187 9.73444 12.0355 9.5421 11.9344L6.27975 10.2188L3.0174 11.9344C2.82506 12.0355 2.59197 12.0187 2.41615 11.891C2.24033 11.7633 2.15228 11.5468 2.18901 11.3326L2.8119 7.70087L0.172576 5.13018C0.0169428 4.97859 -0.0391596 4.7518 0.0278495 4.54514C0.0948586 4.33847 0.273363 4.18776 0.488335 4.15633L4.1365 3.6231L5.76783 0.318198C5.86401 0.123352 6.06246 0 6.27975 0Z"/></svg>
                            </div>
                        </div>
                        <div class="rating-stars__true" style="width: 91%">
                            <div class="rating-stars__element">
                                <svg class="i" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.27975 0C6.49704 0 6.69549 0.123352 6.79167 0.318198L8.423 3.6231L12.0712 4.15633C12.2861 4.18776 12.4646 4.33847 12.5316 4.54514C12.5987 4.7518 12.5426 4.97859 12.3869 5.13018L9.7476 7.70087L10.3705 11.3326C10.4072 11.5468 10.3192 11.7633 10.1433 11.891C9.96753 12.0187 9.73444 12.0355 9.5421 11.9344L6.27975 10.2188L3.0174 11.9344C2.82506 12.0355 2.59197 12.0187 2.41615 11.891C2.24033 11.7633 2.15228 11.5468 2.18901 11.3326L2.8119 7.70087L0.172576 5.13018C0.0169428 4.97859 -0.0391596 4.7518 0.0278495 4.54514C0.0948586 4.33847 0.273363 4.18776 0.488335 4.15633L4.1365 3.6231L5.76783 0.318198C5.86401 0.123352 6.06246 0 6.27975 0Z"/></svg>
                            </div>
                            <div class="rating-stars__element">
                                <svg class="i" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.27975 0C6.49704 0 6.69549 0.123352 6.79167 0.318198L8.423 3.6231L12.0712 4.15633C12.2861 4.18776 12.4646 4.33847 12.5316 4.54514C12.5987 4.7518 12.5426 4.97859 12.3869 5.13018L9.7476 7.70087L10.3705 11.3326C10.4072 11.5468 10.3192 11.7633 10.1433 11.891C9.96753 12.0187 9.73444 12.0355 9.5421 11.9344L6.27975 10.2188L3.0174 11.9344C2.82506 12.0355 2.59197 12.0187 2.41615 11.891C2.24033 11.7633 2.15228 11.5468 2.18901 11.3326L2.8119 7.70087L0.172576 5.13018C0.0169428 4.97859 -0.0391596 4.7518 0.0278495 4.54514C0.0948586 4.33847 0.273363 4.18776 0.488335 4.15633L4.1365 3.6231L5.76783 0.318198C5.86401 0.123352 6.06246 0 6.27975 0Z"/></svg>
                            </div>
                            <div class="rating-stars__element">
                                <svg class="i" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.27975 0C6.49704 0 6.69549 0.123352 6.79167 0.318198L8.423 3.6231L12.0712 4.15633C12.2861 4.18776 12.4646 4.33847 12.5316 4.54514C12.5987 4.7518 12.5426 4.97859 12.3869 5.13018L9.7476 7.70087L10.3705 11.3326C10.4072 11.5468 10.3192 11.7633 10.1433 11.891C9.96753 12.0187 9.73444 12.0355 9.5421 11.9344L6.27975 10.2188L3.0174 11.9344C2.82506 12.0355 2.59197 12.0187 2.41615 11.891C2.24033 11.7633 2.15228 11.5468 2.18901 11.3326L2.8119 7.70087L0.172576 5.13018C0.0169428 4.97859 -0.0391596 4.7518 0.0278495 4.54514C0.0948586 4.33847 0.273363 4.18776 0.488335 4.15633L4.1365 3.6231L5.76783 0.318198C5.86401 0.123352 6.06246 0 6.27975 0Z"/></svg>
                            </div>
                            <div class="rating-stars__element">
                                <svg class="i" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.27975 0C6.49704 0 6.69549 0.123352 6.79167 0.318198L8.423 3.6231L12.0712 4.15633C12.2861 4.18776 12.4646 4.33847 12.5316 4.54514C12.5987 4.7518 12.5426 4.97859 12.3869 5.13018L9.7476 7.70087L10.3705 11.3326C10.4072 11.5468 10.3192 11.7633 10.1433 11.891C9.96753 12.0187 9.73444 12.0355 9.5421 11.9344L6.27975 10.2188L3.0174 11.9344C2.82506 12.0355 2.59197 12.0187 2.41615 11.891C2.24033 11.7633 2.15228 11.5468 2.18901 11.3326L2.8119 7.70087L0.172576 5.13018C0.0169428 4.97859 -0.0391596 4.7518 0.0278495 4.54514C0.0948586 4.33847 0.273363 4.18776 0.488335 4.15633L4.1365 3.6231L5.76783 0.318198C5.86401 0.123352 6.06246 0 6.27975 0Z"/></svg>
                            </div>
                            <div class="rating-stars__element">
                                <svg class="i" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.27975 0C6.49704 0 6.69549 0.123352 6.79167 0.318198L8.423 3.6231L12.0712 4.15633C12.2861 4.18776 12.4646 4.33847 12.5316 4.54514C12.5987 4.7518 12.5426 4.97859 12.3869 5.13018L9.7476 7.70087L10.3705 11.3326C10.4072 11.5468 10.3192 11.7633 10.1433 11.891C9.96753 12.0187 9.73444 12.0355 9.5421 11.9344L6.27975 10.2188L3.0174 11.9344C2.82506 12.0355 2.59197 12.0187 2.41615 11.891C2.24033 11.7633 2.15228 11.5468 2.18901 11.3326L2.8119 7.70087L0.172576 5.13018C0.0169428 4.97859 -0.0391596 4.7518 0.0278495 4.54514C0.0948586 4.33847 0.273363 4.18776 0.488335 4.15633L4.1365 3.6231L5.76783 0.318198C5.86401 0.123352 6.06246 0 6.27975 0Z"/></svg>
                            </div>
                        </div>
                    </div>
                    <div class="rating-description">12 отзывов</div>
                </div>
                <div class="product-card__article">Артикул: BI-210203</div>
                <button class="product-favourites js-tooltip" type="button" data-fav-default="Добавить в избранное" data-fav-added="В избранном" data-fav-changeable="В избранное" data-distance="-12" title="Добавить в избранное?">
                    <svg class="i" viewBox="-1 -2 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.5985 0C15.2559 0 13.0588 1.83971 12 2.88088C10.9412 1.83971 8.74412 0 6.40147 0C2.39559 0 0 2.33382 0 6.24265C0 9.44559 2.94706 12.1235 3.05294 12.2162L11.3029 20.1926C11.6912 20.5676 12.3088 20.5676 12.6971 20.1926L20.9338 12.2426C21.0529 12.1235 24 9.44118 24 6.24265C24 2.33382 21.6044 0 17.5985 0Z"/>
                    </svg>
                    <span class="product-favourites__label js-tooltip-text">В избранное</span>
                </button>
                <button class="product-comparison js-tooltip" type="button" data-fav-default="Добавить к сравнению" data-fav-added="В сравении" data-fav-changeable="Сравнить" data-distance="-12" title="Добавить к сравнению?">
                    <svg class="i" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="1" y1="17" x2="1" y2="12" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <line x1="11" y1="17" x2="11" y2="8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <line x1="6" y1="17" x2="6" y2="4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <line x1="16" y1="17" x2="16" y2="1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span class="product-comparison__label js-tooltip-text">Сравнить</span>
                </button>
            </div>
        </header>
        <div class="product-card__description">
            <p>Непрерывная стимуляция клитора, управлением через приложение.</p>
        </div>
        <div class="product-card__data">
            <div class="product-card__group product-card__group--props">
                <div class="product-property">
                    <div class="product-property__label">Цвет:</div>
                    <div class="product-property__values">
                        {% include '../elements/color-control.twig' with {
                            type    : 'radio',
                            name    : 'product-color',
                            checked : true,
                            color   : '#3d3d3d',
                        } %}
                        {% include '../elements/color-control.twig' with {
                            type    : 'radio',
                            controlMod : 'color-control--light',
                            name       : 'product-color',
                            color      : '#ffffff',
                        } %}
                        {% include '../elements/color-control.twig' with {
                            type    : 'radio',
                            name    : 'product-color',
                            color   : '#f6c3cc',
                        } %}
                        {% include '../elements/color-control.twig' with {
                            type    : 'radio',
                            name    : 'product-color',
                            color   : '#2d9cdb',
                        } %}
                    </div>
                </div>
                <div class="product-property product-property--size">
                    <div class="product-property__label">Объем:</div>
                    <div class="product-property__values">
                        {% include '../elements/default-control.twig' with {
                            type    : 'radio',
                            name    : 'product-size',
                            checked : true,
                            value   : '60&nbsp;мл',
                        } %}
                        {% include '../elements/default-control.twig' with {
                            type    : 'radio',
                            name    : 'product-size',
                            value   : '120&nbsp;мл',
                        } %}
                        {% include '../elements/default-control.twig' with {
                            type    : 'radio',
                            name    : 'product-size',
                            value   : '240&nbsp;мл',
                        } %}
                    </div>
                </div>
                <!-- _in-cart -->
                <footer class="product-card__footer">
                    <div class="product-card__pricing product-card__pricing--discount">
                        <div class="product-card__pricing-current">6&thinsp;200&nbsp;&#8381;</div>
                        <div class="product-card__pricing-old">6&thinsp;750&nbsp;&#8381;</div>
                        <div class="product-card__pricing-discount">-5%</div>
                    </div>
                    <div class="product-stock product-stock--in">В&nbsp;наличии &gt;10&nbsp;шт.</div>
                    <div class="product-card__controls">
                        <button class="button button--sm button--p-32 button--gradient product-card__controls-button" type="submit">
                            <svg class="i _lock" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 16.9747V7.00867H14.3043V16.9747C14.3043 18.3654 13.3796 19.2 12.5714 19.2H2.73292C1.92474 19.2 1 18.3654 1 16.9747Z" stroke="white" stroke-width="2"/>
                                <path d="M10.4346 10.4957C10.4346 10.9567 10.746 11.3305 11.1302 11.3305C11.5144 11.3305 11.8259 10.9567 11.8259 10.4957C11.8259 10.0346 11.5144 9.66089 11.1302 9.66089C10.746 9.66089 10.4346 10.0346 10.4346 10.4957Z" fill="white"/>
                                <path d="M3.47852 10.4957C3.47852 10.9567 3.78996 11.3305 4.17417 11.3305C4.55837 11.3305 4.86982 10.9567 4.86982 10.4957C4.86982 10.0346 4.55837 9.66089 4.17417 9.66089C3.78996 9.66089 3.47852 10.0346 3.47852 10.4957Z" fill="white"/>
                                <path d="M4.17383 6.84348L4.17383 4.75652C4.17383 4.26321 4.2638 3.77473 4.43859 3.31896C4.61339 2.8632 4.8696 2.44909 5.19259 2.10026C5.51557 1.75143 5.89901 1.47473 6.32102 1.28595C6.74302 1.09717 7.19532 1 7.65209 1C8.10886 1 8.56116 1.09717 8.98316 1.28595C9.40516 1.47473 9.7886 1.75143 10.1116 2.10026C10.4346 2.44908 10.6908 2.8632 10.8656 3.31896C11.0404 3.77473 11.1303 4.26321 11.1303 4.75652V6.84348" stroke="white" stroke-width="2"/>
                            </svg>
                            В корзину
                        </button>
                        <a href="./cart.html" class="button button--sm button--p-32 button--grey product-card__controls-link">
                            В корзине
                            <svg class="i _arrow-right" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.47149 0.86201C6.21114 0.601661 5.78903 0.601661 5.52868 0.86201C5.26833 1.12236 5.26833 1.54447 5.52868 1.80482L9.05727 5.33342H1.33341C0.965225 5.33342 0.666748 5.63189 0.666748 6.00008C0.666748 6.36827 0.965225 6.66675 1.33341 6.66675H9.05727L5.52868 10.1953C5.26833 10.4557 5.26833 10.8778 5.52868 11.1382C5.78903 11.3985 6.21114 11.3985 6.47149 11.1382L11.1382 6.47149C11.3985 6.21114 11.3985 5.78903 11.1382 5.52868L6.47149 0.86201Z"/>
                            </svg>
                        </a>
                        <a href="./one-click.html" class="button button--sm button--p-24 button--bordered-theme-light button--fs-16 button--400 button--bw-1">Заказ в&nbsp;1&nbsp;клик</a>
                        {#<div class="product-card__message">Доставим завтра &mdash; 16&nbsp;июня, <span class="product-card__message-highlighted">бесплатно</span></div>#}
                    </div>
                </footer>
            </div>
            <div class="product-card__group product-card__group--advantages">
                <div class="product-advantages">
                    <div class="product-advantage">
                        <svg class="i" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="4.87234" cy="17.8723" r="1.87234" stroke="#757575" stroke-width="2"/>
                            <circle cx="16.8723" cy="17.8723" r="1.87234" stroke="#757575" stroke-width="2"/>
                            <path d="M1 17.234H2.77256M3.80851 6H12.5745C13.679 6 14.5745 6.89543 14.5745 8V17.234H6.61702" stroke="#757575" stroke-width="2" stroke-linecap="round"/>
                            <path d="M14.5745 7.87231H17.6313C17.8955 7.87231 18.149 7.97687 18.3363 8.16314L21.9728 11.7783C22.6217 12.4235 22.9408 13.3296 22.8391 14.2391L22.7031 15.4562C22.5899 16.4685 21.7341 17.234 20.7155 17.234H18.5394" stroke="#757575" stroke-width="2"/>
                            <line x1="18.3831" y1="12.4894" x2="22.0001" y2="12.4894" stroke="#757575" stroke-width="2" stroke-linecap="round"/>
                            <path d="M2 12H11" stroke="#757575" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                        Отправим: 17&nbsp;марта
                    </div>
                    <div class="product-advantage">
                        <svg class="i" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 7H2C1.44772 7 1 7.44772 1 8V18C1 18.5523 1.44771 19 2 19H19C19.5523 19 20 18.5523 20 18V13.5" stroke="#757575" stroke-width="2" stroke-linecap="round"/>
                            <path d="M1 11H7" stroke="#757575" stroke-width="2" stroke-linecap="round"/>
                            <path d="M5 15H6" stroke="#757575" stroke-width="2" stroke-linecap="round"/>
                            <path d="M10 15H11" stroke="#757575" stroke-width="2" stroke-linecap="round"/>
                            <path d="M15 15H16" stroke="#757575" stroke-width="2" stroke-linecap="round"/>
                            <rect x="13" y="4" width="3" height="6" rx="1.5" stroke="#757575" stroke-width="2"/>
                            <line x1="19.7226" y1="9.61325" x2="22.6132" y2="5.27735" stroke="#757575" stroke-width="2" stroke-linecap="round"/>
                            <circle cx="19" cy="5" r="1" fill="#757575"/>
                            <circle cx="23" cy="10" r="1" fill="#757575"/>
                        </svg>
                        Бонусов на&nbsp;карту: 658&nbsp;₽
                    </div>
                    <div class="product-advantage">
                        <svg class="i" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.067 2.47705C7.65047 2.47705 4.0702 6.05732 4.0702 10.4738C3.9527 13.0726 5.38756 19.1046 12.067 22.4429C18.3911 19.1038 20.0637 12.9856 20.0637 10.4738C20.0637 6.05732 16.4834 2.47705 12.067 2.47705Z" stroke="#757575" stroke-width="2" stroke-linejoin="round"/>
                            <circle cx="12.2098" cy="10.3516" r="3.1842" stroke="#757575" stroke-width="2"/>
                        </svg>
                        1777 пунктов выдачи в&nbsp;Москве
                    </div>
                    <div class="product-advantage">
                        <svg class="i" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14 17C13.4477 17 13 17.4477 13 18C13 18.5523 13.4477 19 14 19V17ZM4 9C4 9.55228 4.44772 10 5 10C5.55228 10 6 9.55228 6 9H4ZM13 12L12.4 12.8L13 13.25L13.6 12.8L13 12ZM3 12C2.44772 12 2 12.4477 2 13C2 13.5523 2.44772 14 3 14V12ZM8 14C8.55228 14 9 13.5523 9 13C9 12.4477 8.55228 12 8 12V14ZM5 15C4.44772 15 4 15.4477 4 16C4 16.5523 4.44772 17 5 17V15ZM9 17C9.55228 17 10 16.5523 10 16C10 15.4477 9.55228 15 9 15V17ZM8 18C7.44772 18 7 18.4477 7 19C7 19.5523 7.44772 20 8 20V18ZM10 20C10.5523 20 11 19.5523 11 19C11 18.4477 10.5523 18 10 18V20ZM6 6H20V4H6V6ZM20 6V17H22V6H20ZM20 17H14V19H20V17ZM6 9V6H4V9H6ZM20 17V19C21.1046 19 22 18.1046 22 17H20ZM20 6H22C22 4.89543 21.1046 4 20 4V6ZM6 4C4.89543 4 4 4.89543 4 6H6V4ZM20.4 5.2L12.4 11.2L13.6 12.8L21.6 6.8L20.4 5.2ZM13.6 11.2L5.6 5.2L4.4 6.8L12.4 12.8L13.6 11.2ZM3 14H8V12H3V14ZM5 17H9V15H5V17ZM8 20H10V18H8V20Z" fill="#757575"/>
                        </svg>
                        Задать вопрос
                    </div>
                </div>
                <div class="product-brand">
                    <svg class="i" width="167" height="40" viewBox="0 0 167 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M57.4313 14.8375H50.1615C49.9743 14.8466 49.7977 14.9271 49.6679 15.0623C49.5381 15.1976 49.465 15.3774 49.4636 15.5648V24.2637C49.4661 24.4481 49.5404 24.6242 49.6707 24.7546C49.8011 24.885 49.9772 24.9594 50.1615 24.962H64.7011C64.7931 24.9632 64.8844 24.9459 64.9697 24.9113C65.0549 24.8766 65.1323 24.8252 65.1974 24.7601C65.2624 24.695 65.3138 24.6176 65.3484 24.5323C65.383 24.4471 65.4002 24.3558 65.399 24.2637V23.5655C65.3926 23.3796 65.3179 23.2026 65.1891 23.0684C65.0603 22.9342 64.8866 22.8522 64.7011 22.8382H52.9822C52.8659 22.8382 52.7786 22.6927 52.7786 22.6345V21.1798C52.778 21.1529 52.7828 21.1262 52.7928 21.1012C52.8028 21.0761 52.8178 21.0534 52.8368 21.0344C52.8558 21.0154 52.8785 21.0004 52.9035 20.9904C52.9285 20.9804 52.9553 20.9755 52.9822 20.9762H64.7011C64.881 20.9753 65.0537 20.9054 65.1836 20.7809C65.3134 20.6564 65.3906 20.4868 65.399 20.307V19.5506C65.401 19.4608 65.3853 19.3715 65.3528 19.2878C65.3202 19.2041 65.2715 19.1277 65.2094 19.0628C65.1473 18.9979 65.073 18.946 64.9907 18.9099C64.9085 18.8738 64.82 18.8542 64.7302 18.8524H52.9822C52.9553 18.853 52.9285 18.8482 52.9035 18.8382C52.8785 18.8282 52.8558 18.8132 52.8368 18.7942C52.8178 18.7751 52.8028 18.7524 52.7928 18.7274C52.7828 18.7024 52.778 18.6756 52.7786 18.6487V17.194C52.7786 17.1358 52.8659 16.9613 52.9822 16.9613H64.7011C64.8839 16.9539 65.0571 16.8779 65.1865 16.7485C65.3158 16.6191 65.3917 16.4458 65.399 16.263V15.5648C65.4025 15.3759 65.331 15.1933 65.2002 15.057C65.0694 14.9207 64.89 14.8418 64.7011 14.8375H57.4313Z" fill="#AB44D6"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M159.032 14.8375H151.762C151.577 14.8515 151.403 14.9335 151.274 15.0677C151.146 15.2019 151.071 15.3789 151.064 15.5648V24.2637C151.072 24.4465 151.148 24.6198 151.277 24.7492C151.406 24.8786 151.58 24.9545 151.762 24.962H166.302C166.486 24.9594 166.662 24.885 166.793 24.7546C166.923 24.6242 166.997 24.4481 167 24.2637V23.5655C166.994 23.3796 166.919 23.2025 166.79 23.0682C166.661 22.934 166.487 22.8521 166.302 22.8382H154.583C154.467 22.8382 154.38 22.6927 154.38 22.6345V21.1798C154.379 21.1529 154.384 21.1261 154.394 21.1011C154.404 21.0761 154.419 21.0534 154.438 21.0344C154.457 21.0153 154.479 21.0004 154.504 20.9904C154.529 20.9804 154.556 20.9755 154.583 20.9762H166.302C166.392 20.9782 166.481 20.9624 166.565 20.9298C166.648 20.8972 166.725 20.8485 166.79 20.7863C166.855 20.7242 166.906 20.6499 166.943 20.5676C166.979 20.4854 166.998 20.3968 167 20.307V19.5506C167.002 19.4608 166.986 19.3715 166.954 19.2878C166.921 19.2041 166.872 19.1276 166.81 19.0628C166.748 18.9979 166.674 18.946 166.592 18.9099C166.509 18.8738 166.421 18.8542 166.331 18.8524H154.583C154.556 18.853 154.529 18.8482 154.504 18.8382C154.479 18.8282 154.457 18.8132 154.438 18.7942C154.419 18.7751 154.404 18.7524 154.394 18.7274C154.384 18.7024 154.379 18.6756 154.38 18.6487V17.194C154.38 17.1358 154.467 16.9613 154.583 16.9613H166.302C166.486 16.9587 166.662 16.8843 166.793 16.7539C166.923 16.6235 166.997 16.4474 167 16.263V15.5648C166.998 15.3774 166.925 15.1976 166.796 15.0623C166.666 14.9271 166.489 14.8466 166.302 14.8375H159.032Z" fill="#AB44D6"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M121.346 14.8375H120.387C120.202 14.84 120.026 14.9144 119.896 15.0448C119.766 15.1752 119.691 15.3513 119.689 15.5357V24.2637C119.688 24.3558 119.705 24.4471 119.739 24.5323C119.774 24.6176 119.825 24.695 119.89 24.7601C119.955 24.8252 120.033 24.8766 120.118 24.9113C120.203 24.9459 120.295 24.9632 120.387 24.962H122.306C122.398 24.9632 122.489 24.9459 122.574 24.9113C122.66 24.8766 122.737 24.8252 122.802 24.7601C122.867 24.695 122.919 24.6176 122.953 24.5323C122.988 24.4471 123.005 24.3558 123.004 24.2637V15.5357C123.001 15.3513 122.927 15.1752 122.797 15.0448C122.666 14.9144 122.49 14.84 122.306 14.8375H121.346Z" fill="#AB44D6"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M144.549 20.1329L144.491 20.0747C144.204 19.919 143.902 19.7923 143.59 19.6965C143.802 19.6046 143.991 19.4653 144.142 19.2892C144.341 19.1099 144.499 18.8896 144.604 18.6435C144.71 18.3973 144.76 18.1312 144.753 17.8636C144.74 17.4583 144.63 17.062 144.433 16.7077C144.236 16.3534 143.956 16.0515 143.619 15.827C142.906 15.442 142.126 15.1952 141.321 15.0997C140.022 14.9112 138.709 14.8236 137.396 14.8379H130.737C130.56 14.825 130.385 14.8816 130.249 14.9957C130.113 15.1098 130.027 15.2724 130.01 15.4488V24.2641C130.008 24.3539 130.023 24.4432 130.056 24.5269C130.088 24.6106 130.137 24.6871 130.199 24.752C130.261 24.8168 130.336 24.8688 130.418 24.9049C130.5 24.941 130.589 24.9605 130.679 24.9624H137.512C138.999 25.0155 140.488 24.9376 141.961 24.7296C142.852 24.6488 143.72 24.4022 144.52 24.0023C144.867 23.8043 145.158 23.5217 145.367 23.1809C145.575 22.8401 145.694 22.4521 145.712 22.053C145.696 21.6609 145.581 21.2794 145.377 20.9437C145.174 20.6081 144.889 20.3292 144.549 20.1329H144.549ZM133.325 17.1944C133.325 16.9908 133.383 16.9617 133.528 16.9617H136.843C138.239 16.9617 139.228 16.9617 139.78 16.9908H139.897C140.303 16.985 140.707 17.054 141.089 17.1944C141.206 17.2527 141.307 17.3388 141.383 17.4454C141.459 17.5519 141.508 17.6756 141.525 17.8054C141.52 17.9648 141.471 18.1197 141.384 18.2531C141.297 18.3866 141.175 18.4934 141.031 18.5618C140.566 18.6865 140.087 18.7549 139.606 18.7655L139.431 18.7946C138.937 18.8237 138.094 18.8237 136.901 18.8237H133.528C133.412 18.8237 133.325 18.7946 133.325 18.62L133.325 17.1944ZM141.845 22.4312C141.337 22.6404 140.794 22.7491 140.246 22.7513C139.751 22.8095 138.821 22.8095 137.541 22.8095H133.528C133.441 22.8386 133.354 22.7513 133.325 22.664V21.2093C133.325 21.0348 133.383 21.0057 133.528 21.0057H137.163C138.53 21.0057 139.984 21.0057 140.653 21.0639H140.827C141.198 21.0682 141.564 21.1473 141.903 21.2966C142.31 21.4712 142.339 21.6748 142.339 21.7912C142.33 21.9351 142.279 22.0731 142.19 22.1872C142.102 22.3014 141.982 22.3864 141.845 22.4312Z" fill="#AB44D6"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M162.378 29.2681C157.868 30.9043 153.254 32.2359 148.565 33.2539C139.492 35.1236 130.227 35.8953 120.969 35.5523C114.058 35.4882 107.249 33.8673 101.05 30.8101C95.8266 28.1251 91.2135 24.3912 87.4992 19.8418C83.1196 14.7227 77.8115 10.4781 71.8546 7.33163C63.438 2.85022 54.1082 0.352424 44.5783 0.0291704C44.0258 7.84314e-05 43.4733 7.84316e-05 42.9499 7.84316e-05C34.7788 -0.0108253 26.6459 1.11522 18.7851 3.34583C12.4438 4.97137 6.31475 7.33435 0.523391 10.3864L0 10.6774L0.581586 10.5028C5.08396 8.84385 9.70014 7.51179 14.3942 6.51701C23.4684 4.6521 32.7319 3.87081 41.9903 4.18954C48.9003 4.26778 55.7056 5.88794 61.9095 8.93177C67.1379 11.609 71.7526 15.3441 75.4604 19.9C79.8399 25.0191 85.148 29.2638 91.105 32.4102C99.5158 36.9103 108.848 39.4186 118.381 39.7418H120.446C128.473 39.736 136.459 38.6099 144.174 36.396C150.519 34.7935 156.649 32.4397 162.436 29.3845L162.959 29.0645L162.378 29.2681ZM81.5089 21.4711C79.3279 21.4711 77.5541 20.7728 77.5541 19.9C77.5541 19.0272 79.3279 18.329 81.5089 18.329C83.7189 18.329 85.4927 19.0272 85.4927 19.9C85.4927 20.7728 83.7189 21.4711 81.5089 21.4711H81.5089Z" fill="#AB44D6"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M44.0559 15.0997H39.8685C39.6387 15.1046 39.4197 15.1984 39.2578 15.3616C38.1819 16.5253 33.5874 21.3548 33.4129 21.5585C33.3233 21.6532 33.2002 21.7093 33.0698 21.7147C32.9395 21.7201 32.8122 21.6745 32.715 21.5876C32.6859 21.5876 32.6859 21.5876 32.6859 21.5585C32.5114 21.3839 28.324 16.7581 27.1318 15.4198C27.0353 15.3164 26.9181 15.2344 26.7878 15.1793C26.6575 15.1241 26.5171 15.097 26.3757 15.0997H22.2174C21.9426 15.1077 21.6818 15.2225 21.4904 15.4198C20.2982 16.7581 16.1108 21.3839 15.9363 21.5585C15.8408 21.6535 15.7131 21.7093 15.5785 21.7147C15.4439 21.7201 15.3121 21.6747 15.2093 21.5876V21.5585C15.0058 21.3548 10.4404 16.5253 9.33536 15.3616C9.25685 15.2785 9.16216 15.2125 9.05713 15.1674C8.95211 15.1224 8.83897 15.0994 8.7247 15.0997H4.53735C4.21748 15.0997 4.21748 15.2743 4.30472 15.3907C4.39195 15.5071 12.0979 24.3224 12.2142 24.4678C12.3955 24.6375 12.6348 24.7312 12.8831 24.7297H18.2045C18.3188 24.73 18.432 24.707 18.537 24.662C18.642 24.6169 18.7367 24.5509 18.8152 24.4678C18.8734 24.3515 21.7522 21.0057 24.0204 18.3582C24.253 18.1255 24.3693 18.1255 24.5729 18.3582C26.9865 20.9184 29.749 24.3515 29.8071 24.4678C29.8799 24.5502 29.9694 24.6162 30.0697 24.6614C30.17 24.7065 30.2787 24.7298 30.3887 24.7297H35.7102C35.8335 24.7331 35.9563 24.7116 36.0712 24.6666C36.1861 24.6217 36.2908 24.554 36.379 24.4678C36.4953 24.3224 44.2304 15.507 44.2885 15.3907C44.3758 15.2743 44.3758 15.0997 44.0559 15.0997H44.0559Z" fill="#AB44D6"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M103.552 21.7327C103.683 21.7108 103.805 21.65 103.901 21.5582C104.017 21.4709 105.21 20.1908 106.518 18.8234C107.827 17.4269 109.223 15.914 109.775 15.3613C109.852 15.2683 109.952 15.1979 110.066 15.1576C110.165 15.1078 110.276 15.0876 110.386 15.0994H114.573C114.621 15.0914 114.669 15.0951 114.715 15.1103C114.76 15.1256 114.802 15.1518 114.835 15.1867C114.845 15.2207 114.848 15.2566 114.843 15.2918C114.838 15.327 114.825 15.3607 114.806 15.3904C114.748 15.4485 112.828 17.6887 110.88 19.9289C108.903 22.14 106.954 24.3802 106.896 24.4675C106.813 24.5465 106.714 24.6061 106.605 24.6421C106.487 24.6985 106.358 24.7282 106.227 24.7294H100.877C100.746 24.7282 100.617 24.6985 100.499 24.6421C100.39 24.6061 100.291 24.5465 100.208 24.4675C100.15 24.3802 98.2016 22.14 96.2242 19.9289C94.2759 17.6596 92.3567 15.4485 92.2985 15.3904C92.2788 15.3607 92.266 15.327 92.2609 15.2918C92.2559 15.2566 92.2588 15.2207 92.2694 15.1867C92.3025 15.1518 92.3437 15.1256 92.3894 15.1103C92.435 15.0951 92.4837 15.0914 92.5311 15.0994H96.7185C96.8285 15.0876 96.9396 15.1078 97.0384 15.1576C97.152 15.1979 97.2525 15.2683 97.3292 15.3613C97.8817 15.914 99.2775 17.4269 100.586 18.8234C101.895 20.1908 103.087 21.4709 103.203 21.5582C103.299 21.65 103.421 21.7108 103.552 21.7327H103.552Z" fill="#AB44D6"/>
                    </svg>
                </div>
            </div>
        </div>
    </form>
    {# old variant #}
    {#<form action="/" method="POST" class="product-card__details">
        <header class="product-card__header">
            {% include '../includes/breadcrumbs.twig' with { array : breadcrumbs } %}
            <div class="product-labels">
                <div class="product-label product-label--green">Новинка</div>
                <div class="product-label product-label--red">Хит продаж</div>
            </div>
            <h1 class="product-card__headline">Вибромассажер GVibe&nbsp;2</h1>
            <div class="product-card__features">
                <div class="product-card__article">Артикул: BI-210203</div>
                {% include '../includes/rating.twig' with {
                    ratingMod   : 'rating--m',
                    width       : 91,
                    description : '12 отзывов',
                } %}
                <button class="product-favourites js-tooltip" type="button" data-fav-default="Добавить в избранное" data-fav-added="В избранном" data-fav-changeable="В избранное" data-distance="-12" title="Добавить в избранное?">
                    <svg class="i" viewBox="-1 -2 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.5985 0C15.2559 0 13.0588 1.83971 12 2.88088C10.9412 1.83971 8.74412 0 6.40147 0C2.39559 0 0 2.33382 0 6.24265C0 9.44559 2.94706 12.1235 3.05294 12.2162L11.3029 20.1926C11.6912 20.5676 12.3088 20.5676 12.6971 20.1926L20.9338 12.2426C21.0529 12.1235 24 9.44118 24 6.24265C24 2.33382 21.6044 0 17.5985 0Z"/>
                    </svg>
                    <span class="product-favourites__label js-tooltip-text">В избранное</span>
                </button>
                <button class="product-comparison js-tooltip" type="button" data-fav-default="Добавить к сравнению" data-fav-added="В сравении" data-fav-changeable="Сравнить" data-distance="-12" title="Добавить к сравнению?">
                    <svg class="i" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="1" y1="17" x2="1" y2="12" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <line x1="11" y1="17" x2="11" y2="8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <line x1="6" y1="17" x2="6" y2="4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <line x1="16" y1="17" x2="16" y2="1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span class="product-comparison__label js-tooltip-text">Сравнить</span>
                </button>
            </div>
        </header>
        <div class="product-property">
            <div class="product-property__label">Цвет:</div>
            <div class="product-property__values">
                {% include '../elements/color-control.twig' with {
                    type    : 'radio',
                    name    : 'product-color',
                    checked : true,
                    color   : '#3d3d3d',
                } %}
                {% include '../elements/color-control.twig' with {
                    type    : 'radio',
                    controlMod : 'color-control--light',
                    name       : 'product-color',
                    color      : '#ffffff',
                } %}
                {% include '../elements/color-control.twig' with {
                    type    : 'radio',
                    name    : 'product-color',
                    color   : '#f6c3cc',
                } %}
                {% include '../elements/color-control.twig' with {
                    type    : 'radio',
                    name    : 'product-color',
                    color   : '#2d9cdb',
                } %}
            </div>
        </div>
        <div class="product-property product-property--size">
            <div class="product-property__label">Размер:</div>
            <div class="product-property__values">
                {% include '../elements/default-control.twig' with {
                    type    : 'radio',
                    name    : 'product-size',
                    checked : true,
                    value   : '60&nbsp;мл',
                } %}
                {% include '../elements/default-control.twig' with {
                    type    : 'radio',
                    name    : 'product-size',
                    value   : '120&nbsp;мл',
                } %}
                {% include '../elements/default-control.twig' with {
                    type    : 'radio',
                    name    : 'product-size',
                    value   : '240&nbsp;мл',
                } %}
            </div>
        </div>
        <!-- _in-cart -->
        <footer class="product-card__footer">
            <div class="product-card__pricing product-card__pricing--discount">
                <div class="product-card__pricing-current">6&thinsp;200&nbsp;&#8381;</div>
                <div class="product-card__pricing-old">6&thinsp;750&nbsp;&#8381;</div>
                <div class="product-card__pricing-discount">-5%</div>
            </div>
            <div class="product-card__controls">
                <button class="button button--m button--gradient product-card__controls-button" type="submit">
                    <svg class="i _lock" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 16.9747V7.00867H14.3043V16.9747C14.3043 18.3654 13.3796 19.2 12.5714 19.2H2.73292C1.92474 19.2 1 18.3654 1 16.9747Z" stroke="white" stroke-width="2"/>
                        <path d="M10.4346 10.4957C10.4346 10.9567 10.746 11.3305 11.1302 11.3305C11.5144 11.3305 11.8259 10.9567 11.8259 10.4957C11.8259 10.0346 11.5144 9.66089 11.1302 9.66089C10.746 9.66089 10.4346 10.0346 10.4346 10.4957Z" fill="white"/>
                        <path d="M3.47852 10.4957C3.47852 10.9567 3.78996 11.3305 4.17417 11.3305C4.55837 11.3305 4.86982 10.9567 4.86982 10.4957C4.86982 10.0346 4.55837 9.66089 4.17417 9.66089C3.78996 9.66089 3.47852 10.0346 3.47852 10.4957Z" fill="white"/>
                        <path d="M4.17383 6.84348L4.17383 4.75652C4.17383 4.26321 4.2638 3.77473 4.43859 3.31896C4.61339 2.8632 4.8696 2.44909 5.19259 2.10026C5.51557 1.75143 5.89901 1.47473 6.32102 1.28595C6.74302 1.09717 7.19532 1 7.65209 1C8.10886 1 8.56116 1.09717 8.98316 1.28595C9.40516 1.47473 9.7886 1.75143 10.1116 2.10026C10.4346 2.44908 10.6908 2.8632 10.8656 3.31896C11.0404 3.77473 11.1303 4.26321 11.1303 4.75652V6.84348" stroke="white" stroke-width="2"/>
                    </svg>
                    В корзину
                </button>
                <a href="./cart.html" class="button button--m button--grey product-card__controls-link">
                    В корзине
                    <svg class="i _arrow-right" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.47149 0.86201C6.21114 0.601661 5.78903 0.601661 5.52868 0.86201C5.26833 1.12236 5.26833 1.54447 5.52868 1.80482L9.05727 5.33342H1.33341C0.965225 5.33342 0.666748 5.63189 0.666748 6.00008C0.666748 6.36827 0.965225 6.66675 1.33341 6.66675H9.05727L5.52868 10.1953C5.26833 10.4557 5.26833 10.8778 5.52868 11.1382C5.78903 11.3985 6.21114 11.3985 6.47149 11.1382L11.1382 6.47149C11.3985 6.21114 11.3985 5.78903 11.1382 5.52868L6.47149 0.86201Z"/>
                    </svg>
                </a>
                <div class="product-card__message">Доставим завтра &mdash; 16&nbsp;июня, <span class="product-card__message-highlighted">бесплатно</span></div>
            </div>
        </footer>
    </form>#}
</div>