{% set search = [
    {
        headline : 'Продлевающий гель-<span class="quick-search__element-highlighted">лубрикант</span>',
    },
    {
        image: 1,
        headline : '<span class="quick-search__element-highlighted">Лубрикант</span> Shunga Aroma - экзотические',
        price : '10&nbsp;200',
        old   : '12&nbsp;600',
        discount : '-5'
    },
    {
        image: 2,
        headline : '<span class="quick-search__element-highlighted">Лубрикант</span> с ароматом зелёного',
        price : '650'
    },
    {
        image: 0,
        headline : 'Продлевающий гель-<span class="quick-search__element-highlighted">лубрикант</span>',
        price : '1&thinsp;376'
    },
    {
        image: 1,
        headline : '<span class="quick-search__element-highlighted">Лубрикант</span> Shunga Aroma - экзотические',
        price : '750'
    },
    {
        image: 2,
        headline : '<span class="quick-search__element-highlighted">Лубрикант</span> с ароматом зелёного',
        price : '650'
    },
] %}
<div id="js-quick-search" class="quick-search js-quick-search">
    <form action="/" method="POST" class="quick-search__form">
        <input type="search" class="quick-search__input js-quick-search-input" placeholder="Найти что-то интересное">
        <button class="quick-search__submit" type="submit">
            <svg class="i" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="9.6" cy="9.6" r="8.6" stroke-width="2"/>
                <line x1="15.8141" y1="15.6" x2="22.7999" y2="22.5858" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
        <button class="quick-search__reset js-quick-search-reset" type="reset">
            <svg class="i" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289Z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z"/>
            </svg>
        </button>
    </form>
    <div class="quick-search__dropdown js-scroll-prevent">
        <div class="quick-search__dropdown-inside scrollable-block js-scrollable-block">
            {% for i in search %}
                <a href="javascript:void(0);" class="quick-search__element borderless">
                    <div class="quick-search__element-details">
                        <div class="quick-search__element-headline">{{ i.headline }}</div>
                        {% if i.price %}
                            <div class="quick-search__element-price">{{ i.price }}&nbsp;&#8381;</div>
                        {% endif %}
                        {% if i.old %}
                            <div class="quick-search__element-old">{{ i.old }}&nbsp;&#8381;</div>
                        {% endif %}
                        {% if i.discount %}
                            <div class="quick-search__element-discount">{{ i.discount }}%</div>
                        {% endif %}
                    </div>
                    {% if i.image %}
                        <div class="quick-search__element-image">
                            <img
                                    src="assets/images/quick-search/image-{{ i.image }}.jpg"
                                    srcset="assets/images/quick-search/image-{{ i.image }}.jpg 1x, assets/images/quick-search/image-{{ i.image }}-2x.jpg 2x"
                                    alt="">
                        </div>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    </div>
</div>