<div class="rating-control js-rating-control {{ ratingMod }}">
    {% if fiveStars %}
        <input type="text" name="{{ name ? name : 'rating-control' }}" class="rating-control__input js-rating-control-input" value="5">
        <button data-rating="1" class="rating-control__element rating-control__element--selected js-rating-control-element" type="button">
            <svg class="i" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.6061 0C14.0769 0 14.5069 0.267264 14.7153 0.689428L18.2498 7.85005L26.1542 9.00539C26.62 9.07347 27.0067 9.40002 27.1519 9.8478C27.2971 10.2956 27.1755 10.7869 26.8383 11.1154L21.1198 16.6852L22.4694 24.554C22.549 25.0181 22.3582 25.4871 21.9772 25.7638C21.5963 26.0405 21.0913 26.077 20.6745 25.8578L13.6061 22.1406L6.5377 25.8578C6.12096 26.077 5.61594 26.0405 5.235 25.7638C4.85405 25.4871 4.66327 25.0181 4.74286 24.554L6.09244 16.6852L0.373915 11.1154C0.0367095 10.7869 -0.0848458 10.2956 0.0603406 9.8478C0.205527 9.40002 0.592286 9.07347 1.05806 9.00539L8.96241 7.85005L12.497 0.689428C12.7054 0.267264 13.1353 0 13.6061 0Z"/>
            </svg>
        </button>
        <button data-rating="2" class="rating-control__element rating-control__element--selected js-rating-control-element" type="button">
            <svg class="i" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.6061 0C14.0769 0 14.5069 0.267264 14.7153 0.689428L18.2498 7.85005L26.1542 9.00539C26.62 9.07347 27.0067 9.40002 27.1519 9.8478C27.2971 10.2956 27.1755 10.7869 26.8383 11.1154L21.1198 16.6852L22.4694 24.554C22.549 25.0181 22.3582 25.4871 21.9772 25.7638C21.5963 26.0405 21.0913 26.077 20.6745 25.8578L13.6061 22.1406L6.5377 25.8578C6.12096 26.077 5.61594 26.0405 5.235 25.7638C4.85405 25.4871 4.66327 25.0181 4.74286 24.554L6.09244 16.6852L0.373915 11.1154C0.0367095 10.7869 -0.0848458 10.2956 0.0603406 9.8478C0.205527 9.40002 0.592286 9.07347 1.05806 9.00539L8.96241 7.85005L12.497 0.689428C12.7054 0.267264 13.1353 0 13.6061 0Z"/>
            </svg>
        </button>
        <button data-rating="3" class="rating-control__element rating-control__element--selected js-rating-control-element" type="button">
            <svg class="i" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.6061 0C14.0769 0 14.5069 0.267264 14.7153 0.689428L18.2498 7.85005L26.1542 9.00539C26.62 9.07347 27.0067 9.40002 27.1519 9.8478C27.2971 10.2956 27.1755 10.7869 26.8383 11.1154L21.1198 16.6852L22.4694 24.554C22.549 25.0181 22.3582 25.4871 21.9772 25.7638C21.5963 26.0405 21.0913 26.077 20.6745 25.8578L13.6061 22.1406L6.5377 25.8578C6.12096 26.077 5.61594 26.0405 5.235 25.7638C4.85405 25.4871 4.66327 25.0181 4.74286 24.554L6.09244 16.6852L0.373915 11.1154C0.0367095 10.7869 -0.0848458 10.2956 0.0603406 9.8478C0.205527 9.40002 0.592286 9.07347 1.05806 9.00539L8.96241 7.85005L12.497 0.689428C12.7054 0.267264 13.1353 0 13.6061 0Z"/>
            </svg>
        </button>
        <button data-rating="4" class="rating-control__element rating-control__element--selected js-rating-control-element" type="button">
            <svg class="i" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.6061 0C14.0769 0 14.5069 0.267264 14.7153 0.689428L18.2498 7.85005L26.1542 9.00539C26.62 9.07347 27.0067 9.40002 27.1519 9.8478C27.2971 10.2956 27.1755 10.7869 26.8383 11.1154L21.1198 16.6852L22.4694 24.554C22.549 25.0181 22.3582 25.4871 21.9772 25.7638C21.5963 26.0405 21.0913 26.077 20.6745 25.8578L13.6061 22.1406L6.5377 25.8578C6.12096 26.077 5.61594 26.0405 5.235 25.7638C4.85405 25.4871 4.66327 25.0181 4.74286 24.554L6.09244 16.6852L0.373915 11.1154C0.0367095 10.7869 -0.0848458 10.2956 0.0603406 9.8478C0.205527 9.40002 0.592286 9.07347 1.05806 9.00539L8.96241 7.85005L12.497 0.689428C12.7054 0.267264 13.1353 0 13.6061 0Z"/>
            </svg>
        </button>
        <button data-rating="5" class="rating-control__element rating-control__element--selected js-rating-control-element" type="button">
            <svg class="i" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.6061 0C14.0769 0 14.5069 0.267264 14.7153 0.689428L18.2498 7.85005L26.1542 9.00539C26.62 9.07347 27.0067 9.40002 27.1519 9.8478C27.2971 10.2956 27.1755 10.7869 26.8383 11.1154L21.1198 16.6852L22.4694 24.554C22.549 25.0181 22.3582 25.4871 21.9772 25.7638C21.5963 26.0405 21.0913 26.077 20.6745 25.8578L13.6061 22.1406L6.5377 25.8578C6.12096 26.077 5.61594 26.0405 5.235 25.7638C4.85405 25.4871 4.66327 25.0181 4.74286 24.554L6.09244 16.6852L0.373915 11.1154C0.0367095 10.7869 -0.0848458 10.2956 0.0603406 9.8478C0.205527 9.40002 0.592286 9.07347 1.05806 9.00539L8.96241 7.85005L12.497 0.689428C12.7054 0.267264 13.1353 0 13.6061 0Z"/>
            </svg>
        </button>
    {% else %}
        <input type="text" name="{{ name ? name : 'rating-control' }}" class="rating-control__input js-rating-control-input">
        <button data-rating="1" class="rating-control__element js-rating-control-element" type="button">
            <svg class="i" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.6061 0C14.0769 0 14.5069 0.267264 14.7153 0.689428L18.2498 7.85005L26.1542 9.00539C26.62 9.07347 27.0067 9.40002 27.1519 9.8478C27.2971 10.2956 27.1755 10.7869 26.8383 11.1154L21.1198 16.6852L22.4694 24.554C22.549 25.0181 22.3582 25.4871 21.9772 25.7638C21.5963 26.0405 21.0913 26.077 20.6745 25.8578L13.6061 22.1406L6.5377 25.8578C6.12096 26.077 5.61594 26.0405 5.235 25.7638C4.85405 25.4871 4.66327 25.0181 4.74286 24.554L6.09244 16.6852L0.373915 11.1154C0.0367095 10.7869 -0.0848458 10.2956 0.0603406 9.8478C0.205527 9.40002 0.592286 9.07347 1.05806 9.00539L8.96241 7.85005L12.497 0.689428C12.7054 0.267264 13.1353 0 13.6061 0Z"/>
            </svg>
        </button>
        <button data-rating="2" class="rating-control__element js-rating-control-element" type="button">
            <svg class="i" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.6061 0C14.0769 0 14.5069 0.267264 14.7153 0.689428L18.2498 7.85005L26.1542 9.00539C26.62 9.07347 27.0067 9.40002 27.1519 9.8478C27.2971 10.2956 27.1755 10.7869 26.8383 11.1154L21.1198 16.6852L22.4694 24.554C22.549 25.0181 22.3582 25.4871 21.9772 25.7638C21.5963 26.0405 21.0913 26.077 20.6745 25.8578L13.6061 22.1406L6.5377 25.8578C6.12096 26.077 5.61594 26.0405 5.235 25.7638C4.85405 25.4871 4.66327 25.0181 4.74286 24.554L6.09244 16.6852L0.373915 11.1154C0.0367095 10.7869 -0.0848458 10.2956 0.0603406 9.8478C0.205527 9.40002 0.592286 9.07347 1.05806 9.00539L8.96241 7.85005L12.497 0.689428C12.7054 0.267264 13.1353 0 13.6061 0Z"/>
            </svg>
        </button>
        <button data-rating="3" class="rating-control__element js-rating-control-element" type="button">
            <svg class="i" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.6061 0C14.0769 0 14.5069 0.267264 14.7153 0.689428L18.2498 7.85005L26.1542 9.00539C26.62 9.07347 27.0067 9.40002 27.1519 9.8478C27.2971 10.2956 27.1755 10.7869 26.8383 11.1154L21.1198 16.6852L22.4694 24.554C22.549 25.0181 22.3582 25.4871 21.9772 25.7638C21.5963 26.0405 21.0913 26.077 20.6745 25.8578L13.6061 22.1406L6.5377 25.8578C6.12096 26.077 5.61594 26.0405 5.235 25.7638C4.85405 25.4871 4.66327 25.0181 4.74286 24.554L6.09244 16.6852L0.373915 11.1154C0.0367095 10.7869 -0.0848458 10.2956 0.0603406 9.8478C0.205527 9.40002 0.592286 9.07347 1.05806 9.00539L8.96241 7.85005L12.497 0.689428C12.7054 0.267264 13.1353 0 13.6061 0Z"/>
            </svg>
        </button>
        <button data-rating="4" class="rating-control__element js-rating-control-element" type="button">
            <svg class="i" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.6061 0C14.0769 0 14.5069 0.267264 14.7153 0.689428L18.2498 7.85005L26.1542 9.00539C26.62 9.07347 27.0067 9.40002 27.1519 9.8478C27.2971 10.2956 27.1755 10.7869 26.8383 11.1154L21.1198 16.6852L22.4694 24.554C22.549 25.0181 22.3582 25.4871 21.9772 25.7638C21.5963 26.0405 21.0913 26.077 20.6745 25.8578L13.6061 22.1406L6.5377 25.8578C6.12096 26.077 5.61594 26.0405 5.235 25.7638C4.85405 25.4871 4.66327 25.0181 4.74286 24.554L6.09244 16.6852L0.373915 11.1154C0.0367095 10.7869 -0.0848458 10.2956 0.0603406 9.8478C0.205527 9.40002 0.592286 9.07347 1.05806 9.00539L8.96241 7.85005L12.497 0.689428C12.7054 0.267264 13.1353 0 13.6061 0Z"/>
            </svg>
        </button>
        <button data-rating="5" class="rating-control__element js-rating-control-element" type="button">
            <svg class="i" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.6061 0C14.0769 0 14.5069 0.267264 14.7153 0.689428L18.2498 7.85005L26.1542 9.00539C26.62 9.07347 27.0067 9.40002 27.1519 9.8478C27.2971 10.2956 27.1755 10.7869 26.8383 11.1154L21.1198 16.6852L22.4694 24.554C22.549 25.0181 22.3582 25.4871 21.9772 25.7638C21.5963 26.0405 21.0913 26.077 20.6745 25.8578L13.6061 22.1406L6.5377 25.8578C6.12096 26.077 5.61594 26.0405 5.235 25.7638C4.85405 25.4871 4.66327 25.0181 4.74286 24.554L6.09244 16.6852L0.373915 11.1154C0.0367095 10.7869 -0.0848458 10.2956 0.0603406 9.8478C0.205527 9.40002 0.592286 9.07347 1.05806 9.00539L8.96241 7.85005L12.497 0.689428C12.7054 0.267264 13.1353 0 13.6061 0Z"/>
            </svg>
        </button>
    {% endif %}
</div>