<div class="rating {{ ratingMod }}">
    {% if description %}
        {% if total %}
            <div class="rating-total">{{ total }}</div>
        {% endif %}
        <div class="rating-description">{{ description }}</div>
    {% else %}
        <div class="rating-stars">
            <div class="rating-stars__fake">
                <div class="rating-stars__element">
                    <svg class="i" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.27975 0C6.49704 0 6.69549 0.123352 6.79167 0.318198L8.423 3.6231L12.0712 4.15633C12.2861 4.18776 12.4646 4.33847 12.5316 4.54514C12.5987 4.7518 12.5426 4.97859 12.3869 5.13018L9.7476 7.70087L10.3705 11.3326C10.4072 11.5468 10.3192 11.7633 10.1433 11.891C9.96753 12.0187 9.73444 12.0355 9.5421 11.9344L6.27975 10.2188L3.0174 11.9344C2.82506 12.0355 2.59197 12.0187 2.41615 11.891C2.24033 11.7633 2.15228 11.5468 2.18901 11.3326L2.8119 7.70087L0.172576 5.13018C0.0169428 4.97859 -0.0391596 4.7518 0.0278495 4.54514C0.0948586 4.33847 0.273363 4.18776 0.488335 4.15633L4.1365 3.6231L5.76783 0.318198C5.86401 0.123352 6.06246 0 6.27975 0Z"/></svg>
                </div>
                <div class="rating-stars__element">
                    <svg class="i" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.27975 0C6.49704 0 6.69549 0.123352 6.79167 0.318198L8.423 3.6231L12.0712 4.15633C12.2861 4.18776 12.4646 4.33847 12.5316 4.54514C12.5987 4.7518 12.5426 4.97859 12.3869 5.13018L9.7476 7.70087L10.3705 11.3326C10.4072 11.5468 10.3192 11.7633 10.1433 11.891C9.96753 12.0187 9.73444 12.0355 9.5421 11.9344L6.27975 10.2188L3.0174 11.9344C2.82506 12.0355 2.59197 12.0187 2.41615 11.891C2.24033 11.7633 2.15228 11.5468 2.18901 11.3326L2.8119 7.70087L0.172576 5.13018C0.0169428 4.97859 -0.0391596 4.7518 0.0278495 4.54514C0.0948586 4.33847 0.273363 4.18776 0.488335 4.15633L4.1365 3.6231L5.76783 0.318198C5.86401 0.123352 6.06246 0 6.27975 0Z"/></svg>
                </div>
                <div class="rating-stars__element">
                    <svg class="i" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.27975 0C6.49704 0 6.69549 0.123352 6.79167 0.318198L8.423 3.6231L12.0712 4.15633C12.2861 4.18776 12.4646 4.33847 12.5316 4.54514C12.5987 4.7518 12.5426 4.97859 12.3869 5.13018L9.7476 7.70087L10.3705 11.3326C10.4072 11.5468 10.3192 11.7633 10.1433 11.891C9.96753 12.0187 9.73444 12.0355 9.5421 11.9344L6.27975 10.2188L3.0174 11.9344C2.82506 12.0355 2.59197 12.0187 2.41615 11.891C2.24033 11.7633 2.15228 11.5468 2.18901 11.3326L2.8119 7.70087L0.172576 5.13018C0.0169428 4.97859 -0.0391596 4.7518 0.0278495 4.54514C0.0948586 4.33847 0.273363 4.18776 0.488335 4.15633L4.1365 3.6231L5.76783 0.318198C5.86401 0.123352 6.06246 0 6.27975 0Z"/></svg>
                </div>
                <div class="rating-stars__element">
                    <svg class="i" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.27975 0C6.49704 0 6.69549 0.123352 6.79167 0.318198L8.423 3.6231L12.0712 4.15633C12.2861 4.18776 12.4646 4.33847 12.5316 4.54514C12.5987 4.7518 12.5426 4.97859 12.3869 5.13018L9.7476 7.70087L10.3705 11.3326C10.4072 11.5468 10.3192 11.7633 10.1433 11.891C9.96753 12.0187 9.73444 12.0355 9.5421 11.9344L6.27975 10.2188L3.0174 11.9344C2.82506 12.0355 2.59197 12.0187 2.41615 11.891C2.24033 11.7633 2.15228 11.5468 2.18901 11.3326L2.8119 7.70087L0.172576 5.13018C0.0169428 4.97859 -0.0391596 4.7518 0.0278495 4.54514C0.0948586 4.33847 0.273363 4.18776 0.488335 4.15633L4.1365 3.6231L5.76783 0.318198C5.86401 0.123352 6.06246 0 6.27975 0Z"/></svg>
                </div>
                <div class="rating-stars__element">
                    <svg class="i" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.27975 0C6.49704 0 6.69549 0.123352 6.79167 0.318198L8.423 3.6231L12.0712 4.15633C12.2861 4.18776 12.4646 4.33847 12.5316 4.54514C12.5987 4.7518 12.5426 4.97859 12.3869 5.13018L9.7476 7.70087L10.3705 11.3326C10.4072 11.5468 10.3192 11.7633 10.1433 11.891C9.96753 12.0187 9.73444 12.0355 9.5421 11.9344L6.27975 10.2188L3.0174 11.9344C2.82506 12.0355 2.59197 12.0187 2.41615 11.891C2.24033 11.7633 2.15228 11.5468 2.18901 11.3326L2.8119 7.70087L0.172576 5.13018C0.0169428 4.97859 -0.0391596 4.7518 0.0278495 4.54514C0.0948586 4.33847 0.273363 4.18776 0.488335 4.15633L4.1365 3.6231L5.76783 0.318198C5.86401 0.123352 6.06246 0 6.27975 0Z"/></svg>
                </div>
            </div>
            <div class="rating-stars__true" style="width: {{ width }}%">
                <div class="rating-stars__element">
                    <svg class="i" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.27975 0C6.49704 0 6.69549 0.123352 6.79167 0.318198L8.423 3.6231L12.0712 4.15633C12.2861 4.18776 12.4646 4.33847 12.5316 4.54514C12.5987 4.7518 12.5426 4.97859 12.3869 5.13018L9.7476 7.70087L10.3705 11.3326C10.4072 11.5468 10.3192 11.7633 10.1433 11.891C9.96753 12.0187 9.73444 12.0355 9.5421 11.9344L6.27975 10.2188L3.0174 11.9344C2.82506 12.0355 2.59197 12.0187 2.41615 11.891C2.24033 11.7633 2.15228 11.5468 2.18901 11.3326L2.8119 7.70087L0.172576 5.13018C0.0169428 4.97859 -0.0391596 4.7518 0.0278495 4.54514C0.0948586 4.33847 0.273363 4.18776 0.488335 4.15633L4.1365 3.6231L5.76783 0.318198C5.86401 0.123352 6.06246 0 6.27975 0Z"/></svg>
                </div>
                <div class="rating-stars__element">
                    <svg class="i" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.27975 0C6.49704 0 6.69549 0.123352 6.79167 0.318198L8.423 3.6231L12.0712 4.15633C12.2861 4.18776 12.4646 4.33847 12.5316 4.54514C12.5987 4.7518 12.5426 4.97859 12.3869 5.13018L9.7476 7.70087L10.3705 11.3326C10.4072 11.5468 10.3192 11.7633 10.1433 11.891C9.96753 12.0187 9.73444 12.0355 9.5421 11.9344L6.27975 10.2188L3.0174 11.9344C2.82506 12.0355 2.59197 12.0187 2.41615 11.891C2.24033 11.7633 2.15228 11.5468 2.18901 11.3326L2.8119 7.70087L0.172576 5.13018C0.0169428 4.97859 -0.0391596 4.7518 0.0278495 4.54514C0.0948586 4.33847 0.273363 4.18776 0.488335 4.15633L4.1365 3.6231L5.76783 0.318198C5.86401 0.123352 6.06246 0 6.27975 0Z"/></svg>
                </div>
                <div class="rating-stars__element">
                    <svg class="i" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.27975 0C6.49704 0 6.69549 0.123352 6.79167 0.318198L8.423 3.6231L12.0712 4.15633C12.2861 4.18776 12.4646 4.33847 12.5316 4.54514C12.5987 4.7518 12.5426 4.97859 12.3869 5.13018L9.7476 7.70087L10.3705 11.3326C10.4072 11.5468 10.3192 11.7633 10.1433 11.891C9.96753 12.0187 9.73444 12.0355 9.5421 11.9344L6.27975 10.2188L3.0174 11.9344C2.82506 12.0355 2.59197 12.0187 2.41615 11.891C2.24033 11.7633 2.15228 11.5468 2.18901 11.3326L2.8119 7.70087L0.172576 5.13018C0.0169428 4.97859 -0.0391596 4.7518 0.0278495 4.54514C0.0948586 4.33847 0.273363 4.18776 0.488335 4.15633L4.1365 3.6231L5.76783 0.318198C5.86401 0.123352 6.06246 0 6.27975 0Z"/></svg>
                </div>
                <div class="rating-stars__element">
                    <svg class="i" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.27975 0C6.49704 0 6.69549 0.123352 6.79167 0.318198L8.423 3.6231L12.0712 4.15633C12.2861 4.18776 12.4646 4.33847 12.5316 4.54514C12.5987 4.7518 12.5426 4.97859 12.3869 5.13018L9.7476 7.70087L10.3705 11.3326C10.4072 11.5468 10.3192 11.7633 10.1433 11.891C9.96753 12.0187 9.73444 12.0355 9.5421 11.9344L6.27975 10.2188L3.0174 11.9344C2.82506 12.0355 2.59197 12.0187 2.41615 11.891C2.24033 11.7633 2.15228 11.5468 2.18901 11.3326L2.8119 7.70087L0.172576 5.13018C0.0169428 4.97859 -0.0391596 4.7518 0.0278495 4.54514C0.0948586 4.33847 0.273363 4.18776 0.488335 4.15633L4.1365 3.6231L5.76783 0.318198C5.86401 0.123352 6.06246 0 6.27975 0Z"/></svg>
                </div>
                <div class="rating-stars__element">
                    <svg class="i" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.27975 0C6.49704 0 6.69549 0.123352 6.79167 0.318198L8.423 3.6231L12.0712 4.15633C12.2861 4.18776 12.4646 4.33847 12.5316 4.54514C12.5987 4.7518 12.5426 4.97859 12.3869 5.13018L9.7476 7.70087L10.3705 11.3326C10.4072 11.5468 10.3192 11.7633 10.1433 11.891C9.96753 12.0187 9.73444 12.0355 9.5421 11.9344L6.27975 10.2188L3.0174 11.9344C2.82506 12.0355 2.59197 12.0187 2.41615 11.891C2.24033 11.7633 2.15228 11.5468 2.18901 11.3326L2.8119 7.70087L0.172576 5.13018C0.0169428 4.97859 -0.0391596 4.7518 0.0278495 4.54514C0.0948586 4.33847 0.273363 4.18776 0.488335 4.15633L4.1365 3.6231L5.76783 0.318198C5.86401 0.123352 6.06246 0 6.27975 0Z"/></svg>
                </div>
            </div>
        </div>
        {% if total %}
            <div class="rating-total">{{ total }}</div>
        {% endif %}
        {% if description %}
            <div class="rating-description">{{ description }}</div>
        {% endif %}
        {% if short %}
            <div class="rating-total-short">({{short}})</div>
        {% endif %}
    {% endif %}
</div>