{% set nav = [
    'Доставка и&nbsp;оплата', 'Гарантия и&nbsp;возврат', 'Полная анонимность', 'Получить бонусы', 'Скидки'
] %}
<nav class="secondary-navigation">
    {% for link in nav %}
        <a href="javascript:void(0);" class="secondary-navigation__link borderless">{{ link }}</a>
    {% endfor %}
</nav>