<div id="js-sticky-navigation-wrapper" class="sticky-navigation-wrapper {{ stickyMod }}">
    <div id="js-sticky-navigation" class="sticky-navigation">
        {% for i in categories %}
            <a href="javascript:void(0);" class="sticky-navigation__element borderless {{ i.active ? '_active' }} {{ i.hidden ? 'sticky-navigation__element--hidden js-sticky-navigation-element' }}">
                <span>{{ i.value }}</span>
                {% if i.counter %}
                    <span class="sticky-navigation__counter">{{ i.counter }}</span>
                {% endif %}
            </a>
        {% endfor %}
        {% if hasHidden %}
            <button id="js-sticky-navigation-more" class="sticky-navigation__element sticky-navigation__element--more" data-collapsed="Eще 8" data-expanded="Скрыть">Eще 8</button>
        {% endif %}
    </div>
</div>