<div class="system-warning">
    <div class="system-warning__content system-warning__content--w-425 system-warning__content--red">
        <div class="system-warning__details">Cайт работает <br>в&nbsp;тестовом режиме</div>
        <div class="system-warning__control">
            <button class="button button--w-100 button--m button--white js-warning-button" type="button">OK</button>
        </div>
    </div>
</div>