.messengers {
	position: fixed;
	right: multi(2);
	bottom: multi(2);
	z-index: 210;
		&__button {
			position: relative;
			@include size(6.2rem, 6.2rem);
			overflow: hidden;
			z-index: 2;
				&::before,
				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					@include hundred;
					background-size: 6.2rem 6.2rem;
					background-repeat: no-repeat;
					@include smooth(.2s);
				}
				&::before {
					background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 62 62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-outside-1' maskUnits='userSpaceOnUse' x='0.564209' y='0.499756' width='62' height='61' fill='black'%3E%3Crect fill='white' x='0.564209' y='0.499756' width='62' height='61'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M32 2.49976C16.5368 2.49976 4 15.0352 4 30.4984C4 35.4123 5.26601 40.0305 7.48963 44.0448L3.56421 58.4999L17.9223 54.706C22.0583 57.1163 26.868 58.497 32 58.497C47.4632 58.497 60 45.9616 60 30.4984C60 15.0352 47.4632 2.49976 32 2.49976Z'/%3E%3C/mask%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M32 2.49976C16.5368 2.49976 4 15.0352 4 30.4984C4 35.4123 5.26601 40.0305 7.48963 44.0448L3.56421 58.4999L17.9223 54.706C22.0583 57.1163 26.868 58.497 32 58.497C47.4632 58.497 60 45.9616 60 30.4984C60 15.0352 47.4632 2.49976 32 2.49976Z' fill='%2395C850'/%3E%3Cpath d='M7.48963 44.0448L9.41973 44.5689L9.63243 43.7856L9.23915 43.0757L7.48963 44.0448ZM3.56421 58.4999L1.63411 57.9758L0.726393 61.3184L4.07514 60.4336L3.56421 58.4999ZM17.9223 54.706L18.9293 52.978L18.213 52.5606L17.4114 52.7724L17.9223 54.706ZM6 30.4984C6 16.1399 17.6412 4.49976 32 4.49976V0.499756C15.4323 0.499756 2 13.9305 2 30.4984H6ZM9.23915 43.0757C7.17561 39.3504 6 35.0647 6 30.4984H2C2 35.7599 3.35641 40.7106 5.74011 45.0139L9.23915 43.0757ZM5.49431 59.0241L9.41973 44.5689L5.55953 43.5206L1.63411 57.9758L5.49431 59.0241ZM17.4114 52.7724L3.05328 56.5663L4.07514 60.4336L18.4333 56.6397L17.4114 52.7724ZM32 56.497C27.2313 56.497 22.7679 55.215 18.9293 52.978L16.9154 56.434C21.3488 59.0176 26.5047 60.497 32 60.497V56.497ZM58 30.4984C58 44.8569 46.3588 56.497 32 56.497V60.497C48.5677 60.497 62 47.0663 62 30.4984H58ZM32 4.49976C46.3588 4.49976 58 16.1399 58 30.4984H62C62 13.9305 48.5677 0.499756 32 0.499756V4.49976Z' fill='white' mask='url(%23path-1-outside-1)'/%3E%3Cpath d='M51.799 50.2955C46.548 55.5465 39.4261 58.4965 32 58.4965C24.5739 58.4965 17.452 55.5465 12.201 50.2955C6.94999 45.0445 4 37.9226 4 30.4965C4 23.0704 6.94999 15.9485 12.201 10.6975L51.799 50.2955Z' fill='%2395C850'/%3E%3Cpath d='M51.7989 50.2956C57.0499 45.0446 59.9999 37.9226 59.9999 30.4966C59.9999 23.0705 57.0499 15.9486 51.7989 10.6976C46.5479 5.44657 39.426 2.49658 31.9999 2.49658C24.5739 2.49658 17.4519 5.44657 12.2009 10.6976L51.7989 50.2956Z' fill='%2356ADDD'/%3E%3Cpath d='M31.7249 41.6866C31.6265 41.5201 31.3641 41.4202 30.9705 41.2204C30.5768 41.0206 28.6414 40.0553 28.2805 39.922C27.9197 39.7888 27.6572 39.7223 27.3948 40.1217C27.1324 40.5212 26.378 41.4202 26.1483 41.6866C25.9187 41.9528 25.689 41.9863 25.2955 41.7864C24.9019 41.5867 23.6334 41.1653 22.1297 39.8056C20.9595 38.7473 20.1694 37.4405 19.9398 37.0409C19.7101 36.6414 19.9153 36.4254 20.1124 36.2264C20.2895 36.0476 20.5061 35.7602 20.7029 35.5272C20.8997 35.2942 20.9653 35.1277 21.0965 34.8615C21.2277 34.595 21.1621 34.3621 21.0637 34.1623C20.9653 33.9625 20.178 31.9981 19.85 31.199C19.5304 30.4208 19.2059 30.5262 18.9643 30.5139C18.7349 30.5022 18.4722 30.4998 18.2098 30.4998C17.9474 30.4998 17.5208 30.5996 17.16 30.9992C16.7992 31.3988 15.7822 32.3643 15.7822 34.3286C15.7822 36.293 17.1928 38.1907 17.3896 38.457C17.5865 38.7235 20.1655 42.7545 24.1145 44.4832C25.0537 44.8944 25.7869 45.1399 26.3587 45.3238C27.3017 45.6277 28.16 45.5848 28.8382 45.482C29.5946 45.3675 31.1672 44.5166 31.4954 43.5844C31.8233 42.652 31.8233 41.853 31.7249 41.6866Z' fill='white'/%3E%3Cpath d='M47.737 15.359L45.3216 26.7406C45.1432 27.5476 44.6628 27.7432 43.9925 27.3635L40.3135 24.6519L38.539 26.3609C38.3434 26.5565 38.1773 26.7226 37.7975 26.7226L38.0586 22.9781L44.8764 16.8183C45.1735 16.5572 44.8109 16.4091 44.4187 16.6701L35.9926 21.9746L32.3611 20.8409C31.5721 20.5922 31.5541 20.052 32.5273 19.6722L46.7154 14.2007C47.3743 13.9634 47.9506 14.3621 47.737 15.359Z' fill='white'/%3E%3C/svg%3E%0A");
				}
				&::after {
					background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='58' height='58' rx='29' fill='%23F2F2F2' stroke='white' stroke-width='2'/%3E%3Cpath d='M23 23L36.9996 37' stroke='%239E42DC' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M36.9927 23.0146L23.0113 36.9963' stroke='%239E42DC' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
					opacity: 0;
					transform: rotate(-100deg) scale(0);
				}
		}
		&__element {
			position: absolute;
			left: 0;
			bottom: 0;
			@include size(6.2rem, 6.2rem);
			overflow: hidden;
			opacity: 0;
			pointer-events: none;
			@include smooth(.2s);
			z-index: 1;
				&--telegram {}
				&--whatsapp {}

				& .i {
					@include hundred;
				}
		}

	@include bp-tablet {
		right: 1rem;
			&__button,
			&__element {
				@include size(5.2rem, 5.2rem)
			}
			&__button {
				&::before,
				&::after {
					background-size: 5.2rem 5.2rem;
				}
			}
	}
}