{% extends 'templates/default.twig' %}

{% block title %}Попробуй еще раз{% endblock %}

{% block page %}
    {% include 'templates/pages/404.twig' %}
    {% include 'templates/sections/best-sellers-404.twig' %}
{% endblock %}