{% extends 'templates/default.twig' %}
{% set currentPage = 'Мои адреса' %}

{% block title %}Мои адреса{% endblock %}

{% block page %}
    {% include 'templates/pages/addresses.twig' %}
{% endblock %}
