{% extends 'templates/default.twig' %}
{% set currentPage = 'Сравнение товаров' %}

{% block title %}Сравнение товаров{% endblock %}

{% block page %}
    {% include 'templates/pages/comparison.twig' %}
{% endblock %}