{% extends 'templates/default.twig' %}
{% set currentPage = 'Мои скидки и бонусы' %}

{% block title %}Мои скидки и бонусы{% endblock %}

{% block page %}
    {% include 'templates/pages/discounts.twig' %}
{% endblock %}