<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Первый в России креативный секс-шоп</title>
    <style type="text/css">
        .mail-Message-Map-Link {
            color: #ffffff!important;
        }
        @media only screen and (max-width: 600px) {
            table[class=email-header] {
                background: linear-gradient(90deg, #9E42DC 0%, #8642DC 100%) !important;
            }
            table[class=mobile-table],
            table[class=mobile-table] > tbody > tr,
            table[class=mobile-table] > tbody > tr > td {
                display: block!important;
                width: 100%!important;
            }
            table[class=mobile-table] .image {
                margin-bottom: 20px!important;
            }
        }
    </style>
</head>
<body style="margin: 0">
<!--[if mso]>
<style type="text/css">
    table[class=email-header]{
        background: #8642DC!important;
    }
</style>
<![endif]-->
<!-- header -->
<table class="email-header" border="0" width="100%" cellpadding="0" cellspacing="0" style="width: 100%; margin:0; padding:0; background: #8642DC; border-radius: 5px;">
    <tr>
        <td style="width: 15px;"></td>
        <td>
            <table class="table1" border="0" cellpadding="0" cellspacing="0" align="center" style="width: 100%; max-width: 600px; margin: 0 auto; padding: 0;">
                <tr>
                    <td style="height: 8px;"></td>
                    <td style="height: 8px;"></td>
                </tr>
                <tr style="vertical-align: middle">
                    <td style="width: 50%; text-align: left;">
                        <a href="javascript:void(0);" style="display: inline-block;">
                            <img style="display: block;" src="http://html.design-lab.ru/shpi-vi.ru-html/build/assets/images/letter/logotype.png" alt="">
                        </a>
                    </td>
                    <td style="width: 50%; text-align: right;">
                        <div style="display: inline-block; text-align: left;">
                            <img style="display: block; width: 109px; height: 28px;" src="http://html.design-lab.ru/shpi-vi.ru-html/build/assets/images/letter/phone.png" alt="" title="Круглосуточно +7 906 011-00-77">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="height: 8px;"></td>
                    <td style="height: 8px;"></td>
                </tr>
            </table>
        </td>
        <td style="width: 15px;"></td>
    </tr>
</table>
<center>
    <!-- greetings -->
    <table border="0" width="100%" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 520px; margin-left: auto; margin-right: auto;">
        <!-- divider 45px -->
        <tr>
            <td style="width: 100%; height: 45px;">&nbsp;</td>
        </tr>
        <tr>
            <td>
                <div style="color: #000000; font-family: 'Trebuchet MS', Arial; font-size: 28px; font-weight: 700; line-height: 45px; text-align: center;">Привет, Вера!</div>
                <div style="width: 100%; height: 16px;">&nbsp;</div>
                <div style="width: 100%; max-width: 520px; margin-left: auto; margin-right: auto; color: #353535; font-family: Arial, sans-serif; font-size: 15px; font-weight: 400; line-height: 24px; text-align: center;">Нас зовут Есения и&nbsp;Дмитрий, и&nbsp;мы&nbsp;очень рады видеть вас на&nbsp;нашем сайте! Мы&nbsp;хотим, чтобы ваш опыт покупки был максимально положительным, поэтому расскажем про наши особенности.</div>
            </td>
        </tr>
    </table>
    <!-- wrapper -->
    <table border="0" width="100%" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 600px; margin-left: auto; margin-right: auto;">
        <!-- divider 60px -->
        <tr>
            <td style="width: 100%; height: 60px;">&nbsp;</td>
        </tr>
        <!-- help -->
        <tr>
            <td>
                <!-- bordered block -->
                <table width="100%" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 600px; margin-left: auto; margin-right: auto; border: 1px solid #dfe0ea; border-radius: 10px">
                    <tr>
                        <td style="width: 32px; height: 45px;">&nbsp;</td>
                        <td style="height: 45px;">&nbsp;</td>
                        <td style="width: 40px; height: 45px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width: 32px; vertical-align: top"></td>
                        <td>
                            <table class="mobile-table" width="100%" cellpadding="0" cellspacing="0" style="width: 100%;">
                                <tr>
                                    <td>
                                        <img style="display: block; max-width: 100%" src="http://html.design-lab.ru/shpi-vi.ru-html/build/assets/images/letter/image-0.jpg" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height: 16px;"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="color: #000000; font-family: 'Trebuchet MS', Arial; font-size: 20px; font-weight: 700; line-height: 32px;">Помощь в&nbsp;выборе</div>
                                        <div style="width: 100%; height: 16px;">&nbsp;</div>
                                        <div style="width: 100%; color: #353535; font-family: Arial, sans-serif; font-size: 15px; font-weight: 400; line-height: 24px;">
                                            Раньше мы&nbsp;были сторонниками продажи секс- девайсов офлайн. В&nbsp;такой
                                            деликатной теме очень важно все посмотреть своими глазами, потрогать тестеры
                                            руками, понять, что это&nbsp;&mdash; именно&nbsp;то, чего хочется, а&nbsp;главное&nbsp;&mdash;
                                            получить консультацию профессионального сотрудника.
                                        </div>
                                        <div style="width: 100%; height: 16px;">&nbsp;</div>
                                        <div style="width: 100%; color: #353535; font-family: Arial, sans-serif; font-size: 15px; font-weight: 400; line-height: 24px;">
                                            В&nbsp;интернете так сделать трудно, но&nbsp;мы&nbsp;постарались максимально
                                            перенести преимущества офлайна в&nbsp;онлайн, поэтому специально для вас
                                            сделали:
                                        </div>
                                        <!-- list -->
                                        <div style="width: 100%; height: 16px;">&nbsp;</div>
                                        <table width="100%" cellpadding="0" cellspacing="0" style="width: 100%;">
                                            <tr>
                                                <td style="width: 30px; vertical-align: top;">
                                                    <img style="display: inline-block; width: 13px; height: 14px; margin-top: 5px; vertical-align: top;" src="http://html.design-lab.ru/shpi-vi.ru-html/build/assets/images/letter/heart.jpg" alt="">
                                                </td>
                                                <td style="vertical-align: top;">
                                                    <div style="width: 100%; color: #353535; font-family: Arial, sans-serif; font-size: 15px; font-weight: 400; line-height: 24px;">
                                                        тесты по&nbsp;подбору секс-игрушек;
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <div style="width: 100%; height: 16px;">&nbsp;</div>
                                        <table width="100%" cellpadding="0" cellspacing="0" style="width: 100%;">
                                            <tr>
                                                <td style="width: 30px; vertical-align: top;">
                                                    <img style="display: inline-block; width: 13px; height: 14px; margin-top: 5px;; vertical-align: top;" src="http://html.design-lab.ru/shpi-vi.ru-html/build/assets/images/letter/heart.jpg" alt="">
                                                </td>
                                                <td style="vertical-align: top;">
                                                    <div style="width: 100%; color: #353535; font-family: Arial, sans-serif; font-size: 15px; font-weight: 400; line-height: 24px;">
                                                        короткие видео, в&nbsp;которых рассказываем про игрушки и&nbsp;различные
                                                        ситуации, для которых советуем определенные девайсы;
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <div style="width: 100%; height: 16px;">&nbsp;</div>
                                        <table width="100%" cellpadding="0" cellspacing="0" style="width: 100%;">
                                            <tr>
                                                <td style="width: 30px; vertical-align: top;">
                                                    <img style="display: inline-block; width: 13px; height: 14px; margin-top: 5px;; vertical-align: top;" src="http://html.design-lab.ru/shpi-vi.ru-html/build/assets/images/letter/heart.jpg" alt="">
                                                </td>
                                                <td style="vertical-align: top;">
                                                    <div style="width: 100%; color: #353535; font-family: Arial, sans-serif; font-size: 15px; font-weight: 400; line-height: 24px;">
                                                        каталог товаров не&nbsp;только по&nbsp;категориям, но&nbsp;и&nbsp;по&nbsp;ситуациям
                                                        (секс-игры в&nbsp;общественных местах, сексуальные образы для вечеринок и&nbsp;др).
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <div style="width: 100%; height: 16px;">&nbsp;</div>
                                        <div style="width: 100%; color: #353535; font-family: Arial, sans-serif; font-size: 15px; font-weight: 400; line-height: 24px;">
                                            Надеемся, вам это поможет в&nbsp;выборе!
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="height: 40px; vertical-align: top"></td>
                    </tr>
                    <tr>
                        <td style="width: 32px; height: 40px;">&nbsp;</td>
                        <td style="height: 40px;">&nbsp;</td>
                        <td style="width: 40px; height: 40px;">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- divider 20px -->
        <tr>
            <td style="height: 20px;">&nbsp;</td>
        </tr>
        <!-- discounts -->
        <tr>
            <td>
                <!-- bordered block -->
                <table width="100%" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 600px; margin-left: auto; margin-right: auto; border: 1px solid #dfe0ea; border-radius: 10px">
                    <tr>
                        <td style="width: 32px; height: 45px;">&nbsp;</td>
                        <td style="height: 45px;">&nbsp;</td>
                        <td style="width: 40px; height: 45px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width: 32px; vertical-align: top"></td>
                        <td>
                            <table class="mobile-table" width="100%" cellpadding="0" cellspacing="0" style="width: 100%;">
                                <tr>
                                    <td>
                                        <img src="http://html.design-lab.ru/shpi-vi.ru-html/build/assets/images/letter/image-1.jpg" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height: 16px;"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="color: #000000; font-family: 'Trebuchet MS', Arial; font-size: 20px; font-weight: 700; line-height: 32px;">Скидки и&nbsp;бонусы</div>
                                        <div style="width: 100%; height: 16px;">&nbsp;</div>
                                        <div style="width: 100%; color: #353535; font-family: Arial, sans-serif; font-size: 15px; font-weight: 400; line-height: 24px;">
                                            У&nbsp;нас создана накопительная система скидок. Плюс вы&nbsp;можете писать
                                            отзывы на&nbsp;секс-игрушки и&nbsp;получать бонусные рубли, которыми можно
                                            оплачивать до&nbsp;30% покупок.
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="height: 40px; vertical-align: top"></td>
                    </tr>
                    <tr>
                        <td style="width: 32px; height: 40px;">&nbsp;</td>
                        <td style="height: 40px;">&nbsp;</td>
                        <td style="width: 40px; height: 40px;">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- divider 20px -->
        <tr>
            <td style="height: 20px;">&nbsp;</td>
        </tr>
        <!-- delivery -->
        <tr>
            <td>
                <!-- bordered block -->
                <table width="100%" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 600px; margin-left: auto; margin-right: auto; border: 1px solid #dfe0ea; border-radius: 10px">
                    <tr>
                        <td style="width: 32px; height: 45px;">&nbsp;</td>
                        <td style="height: 45px;">&nbsp;</td>
                        <td style="width: 40px; height: 45px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width: 32px; vertical-align: top"></td>
                        <td>
                            <table class="mobile-table" width="100%" cellpadding="0" cellspacing="0" style="width: 100%;">
                                <tr>
                                    <td>
                                        <img src="http://html.design-lab.ru/shpi-vi.ru-html/build/assets/images/letter/image-2.jpg" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height: 16px;"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="color: #000000; font-family: 'Trebuchet MS', Arial; font-size: 20px; font-weight: 700; line-height: 32px;">Красивая доставка</div>
                                        <div style="width: 100%; height: 16px;">&nbsp;</div>
                                        <div style="width: 100%; color: #353535; font-family: Arial, sans-serif; font-size: 15px; font-weight: 400; line-height: 24px;">
                                            Ну, анонимной доставкой сейчас никого не&nbsp;удивить&nbsp;&mdash; все
                                            доставляют обезличенные запечатанные посылки, а&nbsp;курьеры не&nbsp;знают,
                                            что внутри. У&nbsp;нас все, конечно&nbsp;же, устроено также. Но&nbsp;вдобавок,
                                            мы&nbsp;красиво оформляем все заказы. Просто, но&nbsp;стильно
                                            <img style="margin-top: -2px; margin-left: 5px; vertical-align: middle;" src="http://html.design-lab.ru/shpi-vi.ru-html/build/assets/images/letter/smile.jpg" alt="">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="height: 20px; vertical-align: top"></td>
                    </tr>
                    <tr>
                        <td style="width: 32px; height: 40px;">&nbsp;</td>
                        <td style="height: 40px;">&nbsp;</td>
                        <td style="width: 40px; height: 40px;">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- divider 20px -->
        <tr>
            <td style="height: 20px;">&nbsp;</td>
        </tr>
        <!-- feedback -->
        <tr>
            <td>
                <!-- bordered block -->
                <table width="100%" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 600px; margin-left: auto; margin-right: auto; border: 1px solid #dfe0ea; border-radius: 10px">
                    <tr>
                        <td style="width: 32px; height: 45px;">&nbsp;</td>
                        <td style="height: 45px;">&nbsp;</td>
                        <td style="width: 40px; height: 45px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width: 32px; vertical-align: top"></td>
                        <td>
                            <table class="mobile-table" width="100%" cellpadding="0" cellspacing="0" style="width: 100%;">
                                <tr>
                                    <td>
                                        <img src="http://html.design-lab.ru/shpi-vi.ru-html/build/assets/images/letter/image-3.jpg" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height: 16px;"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="color: #000000; font-family: 'Trebuchet MS', Arial; font-size: 20px; font-weight: 700; line-height: 32px;">Обратная связь с&nbsp;нами</div>
                                        <div style="width: 100%; height: 16px;">&nbsp;</div>
                                        <div style="width: 100%; color: #353535; font-family: Arial, sans-serif; font-size: 15px; font-weight: 400; line-height: 24px;">
                                            Если у&nbsp;вас были какие-то неприятные ситуации во&nbsp;врем заказа, ну&nbsp;или
                                            если вы&nbsp;просто хотите сделать нас лучше, пишите на&nbsp;<a href="mailto:ceo@shpi-vi.ru" style="color: #9e42dc; font-size: inherit; text-decoration: underline; text-decoration-skip-ink: none;">ceo@shpi-vi.ru</a>&nbsp;&mdash;
                                            эту почту читаем только&nbsp;мы.
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="height: 20px; vertical-align: top"></td>
                    </tr>
                    <tr>
                        <td style="width: 32px; height: 40px;">&nbsp;</td>
                        <td style="height: 40px;">&nbsp;</td>
                        <td style="width: 40px; height: 40px;">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- divider 60px -->
        <tr>
            <td style="height: 60px;">&nbsp;</td>
        </tr>
        <!-- creators -->
        <tr>
            <td>
                <div style="width: 100%; color: #242424; font-family: 'Trebuchet MS', Arial, sans-serif; font-size: 20px; font-weight: 700; line-height: 20px; text-align: center;">Ваши, Есения и&nbsp;Дмитрий</div>
                <div style="height: 8px;"></div>
                <div style="width: 100%; color: rgba(78, 78, 78, 0.5); font-family: Arial, sans-serif; font-size: 10px; font-weight: 700; line-height: 12px; letter-spacing: 0.03em; text-align: center; text-transform: uppercase">Создатели интернет-магазина &laquo;Шпи-Ви&raquo;</div>
                <div style="height: 16px;"></div>
                <div style="width: 100%; text-align: center;">
                    <img src="http://html.design-lab.ru/shpi-vi.ru-html/build/assets/images/letter/image-4.jpg" alt="">
                </div>
            </td>
        </tr>
        <!-- divider 60px -->
        <tr>
            <td style="height: 60px;">&nbsp;</td>
        </tr>
    </table>
    <!-- footer -->
    <table border="0" width="100%" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 600px; margin-left: auto; margin-right: auto; background: #383838; border-radius: 10px 10px 0 0">
        <!-- divider 56px -->
        <tr>
            <td style="width: 44px; height: 28px;"></td>
            <td style="height: 28px;"></td>
            <td style="width: 44px; height: 28px;"></td>
        </tr>
        <tr>
            <td style="width: 44px;"></td>
            <td>
                <table class="mobile-table" border="0" width="100%" cellpadding="0" cellspacing="0" style="width: 100%;">
                    <tr>
                        <td class="image" style="width: 60%; vertical-align: top;">
                            <table border="0" width="100%" cellpadding="0" cellspacing="0" style="width: 100%;">
                                <tr><td><a href="javascript:void(0);" style="display: inline-block;">
                                            <img style="display: block;" src="http://html.design-lab.ru/shpi-vi.ru-html/build/assets/images/letter/logotype.png" alt="">
                                        </a></td></tr>
                                <tr><td style="height: 26px;"></td></tr>
                                <tr><td><div style="color: #757575; font-family: 'Trebuchet MS', Arial; font-weight: 400; font-size: 12px; line-height: 16px;">&copy;&nbsp;2020. Шпилли-вилли и&nbsp;нефритовый жезл</div></td></tr>
                            </table>
                        </td>
                        <td style="width: 40%; vertical-align: top;">
                            <table border="0" width="100%" cellpadding="0" cellspacing="0" style="width: 100%;">
                                <tr>
                                    <td><div style="color: #757575; font-family: 'Trebuchet MS', Arial; font-weight: 400; font-size: 11px; line-height: 12px; text-transform: uppercase">Круглосуточно</div></td>
                                </tr>
                                <tr><td style="height: 8px;"></td></tr>
                                <tr>
                                    <td><a href="tel:+79060110077" style="display: block; color: #ffffff; font-family: 'Trebuchet MS', Arial; font-size: 20px; font-weight: 700; line-height: 20px; text-decoration: none;">+7 906 011-00-77</a></td>
                                </tr>
                                <tr><td style="height: 15px;"></td></tr>
                                <tr>
                                    <td><div style="color: #ffffff; font-family: 'Trebuchet MS', Arial; font-weight: 400; font-size: 12px; line-height: 16px;">Москва, Тверская застава, 2с2</div></td>
                                </tr>
                                <tr><td style="height: 8px;"></td></tr>
                                <tr>
                                    <td><div style="color: #757575; font-family: 'Trebuchet MS', Arial; font-weight: 400; font-size: 12px; line-height: 16px;">Электр. почта: <a hrfe="mailto:manager@shpi-vi.ru" style="color: #ffffff; font-size: inherit; text-decoration: none;" href="javascript:void(0);">manager@shpi-vi.ru</a></div></td>
                                </tr>
                                <tr><td style="height: 22px;"></td></tr>
                                <tr>
                                    <td>
                                        <table border="0" width="100%" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 112px; height: 28px; table-layout: fixed;">
                                            <tr>
                                                <td style="width: 28px; height: 28px; align-items: center;">
                                                    <a href="javascript:void(0);" style="display: block; text-align: center;" target="_blank">
                                                        <img style="display: block;" src="http://html.design-lab.ru/shpi-vi.ru-html/build/assets/images/letter/instagram.png" alt="">
                                                    </a>
                                                </td>
                                                <td style="width: 28px; height: 28px; align-items: center;">
                                                    <a href="javascript:void(0);" style="display: block; text-align: center;" target="_blank">
                                                        <img style="display: block;" src="http://html.design-lab.ru/shpi-vi.ru-html/build/assets/images/letter/vk.png" alt="">
                                                    </a>
                                                </td>
                                                <td style="width: 28px; height: 28px; align-items: center;">
                                                    <a href="javascript:void(0);" style="display: block; text-align: center;" target="_blank">
                                                        <img style="display: block;" src="http://html.design-lab.ru/shpi-vi.ru-html/build/assets/images/letter/fb.png" alt="">
                                                    </a>
                                                </td>
                                                <td style="width: 28px; height: 28px; align-items: center;">
                                                    <a href="javascript:void(0);" style="display: block; text-align: center;" target="_blank">
                                                        <img style="display: block;" src="http://html.design-lab.ru/shpi-vi.ru-html/build/assets/images/letter/tik-tok.png" alt="">
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="width: 44px;"></td>
        </tr>
        <!-- divider 45px -->
        <tr>
            <td style="width: 44px; height: 22px;"></td>
            <td style="height: 22px;"></td>
            <td style="width: 44px; height: 22px;"></td>
        </tr>
        <!-- footer bottom -->
        <tr>
            <td style="width: 44px;"></td>
            <td>
                <table border="0" width="100%" cellpadding="0" cellspacing="0" style="width: 100%; border-top: 1px solid #4a4a4a;">
                    <!-- divider 16px -->
                    <tr>
                        <td style="height: 16px;"></td>
                    </tr>
                    <tr>
                        <td>
                            <div style="color: #757575; font-family: 'Trebuchet MS', Arial; font-weight: 400; font-size: 10px; line-height: 16px; text-align: center;">Вы&nbsp;получили это сообщение, потому что выразили свое согласие получать новости от&nbsp;&laquo;Шпи-Ви&raquo;.</div>
                            <div style="color: #757575; font-family: 'Trebuchet MS', Arial; font-weight: 400; font-size: 10px; line-height: 16px; text-align: center;">Вы&nbsp;можете отказаться от&nbsp;получения писем.</div>
                        </td>
                    </tr>
                    <!-- divider 32px -->
                    <tr>
                        <td style="height: 16px;"></td>
                    </tr>
                </table>
            </td>
            <td style="width: 44px;"></td>
        </tr>
    </table>
</center>
</body>
</html>