 <!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Первый в России креативный секс-шоп</title>
</head>
<body style="margin: 0">
<style type="text/css">
    .mail-Message-Map-Link {
        color: #ffffff!important;
    }
    @media only screen and (max-width: 600px) {
        table[class=email-header] {
            background: linear-gradient(90deg, #9E42DC 0%, #8642DC 100%) !important;
        }
        table[class=mobile-table],
        table[class=mobile-table] > tbody > tr,
        table[class=mobile-table] > tbody > tr > td {
            display: block!important;
            width: 100%!important;
        }
        table[class=mobile-table] .image {
            margin-bottom: 20px!important;
        }
    }
</style>
<!--[if mso]>
<style type="text/css">
    table[class=email-header]{
        background: #8642DC!important;
    }
</style>
<![endif]-->
<!-- header -->
<table class="email-header" border="0" width="100%" cellpadding="0" cellspacing="0" style="width: 100%; margin:0; padding:0; background: #8642DC; border-radius: 5px;">
    <tr>
        <td style="width: 15px;"></td>
        <td>
            <table class="table1" border="0" cellpadding="0" cellspacing="0" align="center" style="width: 100%; max-width: 600px; margin: 0 auto; padding: 0;">
                <tr>
                    <td style="height: 8px;"></td>
                    <td style="height: 8px;"></td>
                </tr>
                <tr style="vertical-align: middle">
                    <td style="width: 50%; text-align: left;">
                        <a href="javascript:void(0);" style="display: inline-block;">
                            <img style="display: block;" src="http://html.design-lab.ru/shpi-vi.ru-html/build/assets/images/letter/logotype.png" alt="">
                        </a>
                    </td>
                    <td style="width: 50%; text-align: right;">
                        <div style="display: inline-block; text-align: left;">
                            <div style="color: rgba(255,255,255,0.6); font-family: Verdana, Arial; font-size: 8px; line-height: 16px; letter-spacing: 0.02em; text-transform: uppercase;">Круглосуточно</div>
                            <a href="tel:+79060110077" style="display: block; color: #ffffff; font-family: 'Trebuchet MS', Arial; font-size: 13px; font-weight: 700; line-height: 16px; text-decoration: none;">+7 906 011-00-77</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="height: 8px;"></td>
                    <td style="height: 8px;"></td>
                </tr>
            </table>
        </td>
        <td style="width: 15px;"></td>
    </tr>
</table>
<center>
    <!-- greetings -->
    <table border="0" width="100%" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 520px; margin-left: auto; margin-right: auto;">
        <!-- divider 45px -->
        <tr>
            <td style="width: 100%; height: 45px;">&nbsp;</td>
        </tr>
        <tr>
            <td>
                <div style="color: #000000; font-family: 'Trebuchet MS', Arial; font-size: 28px; font-weight: 700; line-height: 45px; text-align: center;">Привет, Вера!</div>
                <div style="width: 100%; height: 16px;">&nbsp;</div>
                <div style="width: 100%; max-width: 520px; margin-left: auto; margin-right: auto; color: #353535; font-family: Arial, sans-serif; font-size: 15px; font-weight: 400; line-height: 24px; text-align: center;">
                    Большое спасибо за&nbsp;отзыв о&nbsp;<a href="javascript:void(0);"
                                                            style="color: #9e42dc; font-size: inherit; text-decoration: underline;"
                                                            target="_blank">Вибростимулятор Cookie</a>!
                </div>
                <div style="width: 100%; height: 16px;">&nbsp;</div>
                <div style="width: 100%; max-width: 520px; margin-left: auto; margin-right: auto; color: #353535; font-family: Arial, sans-serif; font-size: 15px; font-weight: 400; line-height: 24px; text-align: center;">
                    В&nbsp;ближайшее время мы&nbsp;его проверим, и, если с&nbsp;ним все хорошо, начислим бонусные рубли
                    на&nbsp;ваш счет. На&nbsp;всякий случай вот&nbsp;он:
                </div>
            </td>
        </tr>
    </table>
    <!-- wrapper -->
    <table border="0" width="100%" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 600px; margin-left: auto; margin-right: auto;">
        <!-- divider 60px -->
        <tr>
            <td style="width: 100%; height: 60px;">&nbsp;</td>
        </tr>
        <!-- order -->
        <tr>
            <td>
                <!-- bordered block -->
                <table width="100%" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 600px; margin-left: auto; margin-right: auto; border: 1px solid #dfe0ea; border-radius: 10px">
                    <!-- divider 40px -->
                    <tr>
                        <td style="width: 32px; height: 40px;">&nbsp;</td>
                        <td style="height: 40px;">&nbsp;</td>
                        <td style="width: 40px; height: 40px;">&nbsp;</td>
                    </tr>
                    <!-- review  -->
                    <tr>
                        <td style="width: 32px; vertical-align: top"></td>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0" style="width: 100%; border: 0;">
                                <tr>
                                    <td>
                                        <img style="display: block;"
                                             src="http://html.design-lab.ru/shpi-vi.ru-html/build/assets/images/letter/product-1.jpg"
                                             alt="">
                                    </td>
                                </tr>
                                <!-- divider 20px -->
                                <tr>
                                    <td style="height: 20px;"></td>
                                </tr>
                                <!-- reviews headline -->
                                <tr>
                                    <td>
                                        <div style="color: #000000; font-family: 'Trebuchet MS', Arial; font-size: 20px; font-weight: 700; line-height: 32px;">Вибростимулятор Cookie</div>
                                    </td>
                                </tr>
                                <!-- divider 20px -->
                                <tr>
                                    <td style="height: 20px;"></td>
                                </tr>
                                <!-- reviews text -->
                                <tr>
                                    <td>
                                        <div style="width: 100%; max-width: 520px; margin-left: auto; margin-right: auto; color: #353535; font-family: Arial, sans-serif; font-size: 15px; font-weight: 400; line-height: 24px; text-align: left;">
                                            Восхитительный вибратор, если нет необходимости во внутренней стимуляции -
                                            прекрасно подходит для сольного использования, несмотря на то, что
                                            позиционируется, как созданный "для прелюдии". При необходимости не сложно
                                            комбинировать с другими игрушками либо использовать с партнёром.<br><br>
                                            Не такой шумный, как я боялась, но довольно сильно вибрирует всем корпусом -
                                            если развлекаться долго, потом отдаётся в пальцы. Так же корпус ощутимо
                                            греется - не встречала упоминаний этого, так что немного не по себе. Брала
                                            по скидке и надеюсь, это не была партия товара с изъяном, потому что
                                            расставаться с печенькой теперь ни в какую не хочется!
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="height: 40px; vertical-align: top"></td>
                    </tr>
                    <!-- divider 40px -->
                    <tr>
                        <td style="width: 32px; height: 40px;">&nbsp;</td>
                        <td style="height: 40px;">&nbsp;</td>
                        <td style="width: 40px; height: 40px;">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- divider 60px -->
        <tr>
            <td style="height: 60px;">&nbsp;</td>
        </tr>
        <!-- cool, u r wit us -->
        <tr>
            <td>
                <div style="color: #000000; font-family: 'Trebuchet MS', Arial; font-size: 20px; font-weight: 700; line-height: 32px; text-align: center;">Классно, что вы&nbsp;с&nbsp;нами!</div>
                <div style="height: 16px;"></div>
                <div style="width: 100%; text-align: center;">
                    <img style="display: block; margin-left: auto; margin-right: auto;" src="http://html.design-lab.ru/shpi-vi.ru-html/build/assets/images/letter/image-7.jpg" alt="">
                </div>
            </td>
        </tr>
        <!-- divider 60px -->
        <tr>
            <td style="height: 60px;">&nbsp;</td>
        </tr>
    </table>
    <!-- footer -->
    <table border="0" width="100%" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 600px; margin-left: auto; margin-right: auto; background: #383838; border-radius: 10px 10px 0 0">
        <!-- divider 56px -->
        <tr>
            <td style="width: 44px; height: 28px;"></td>
            <td style="height: 28px;"></td>
            <td style="width: 44px; height: 28px;"></td>
        </tr>
        <tr>
            <td style="width: 44px;"></td>
            <td>
                <table class="mobile-table" border="0" width="100%" cellpadding="0" cellspacing="0" style="width: 100%;">
                    <tr>
                        <td class="image" style="width: 60%; vertical-align: top;">
                            <table border="0" width="100%" cellpadding="0" cellspacing="0" style="width: 100%;">
                                <tr><td><a href="javascript:void(0);" style="display: inline-block;">
                                            <img style="display: block;" src="http://html.design-lab.ru/shpi-vi.ru-html/build/assets/images/letter/logotype.png" alt="">
                                        </a></td></tr>
                                <tr><td style="height: 26px;"></td></tr>
                                <tr><td><div style="color: #757575; font-family: 'Trebuchet MS', Arial; font-weight: 400; font-size: 12px; line-height: 16px;">&copy;&nbsp;2020. Шпилли-вилли и&nbsp;нефритовый жезл</div></td></tr>
                            </table>
                        </td>
                        <td style="width: 40%; vertical-align: top;">
                            <table border="0" width="100%" cellpadding="0" cellspacing="0" style="width: 100%;">
                                <tr>
                                    <td><div style="color: #757575; font-family: 'Trebuchet MS', Arial; font-weight: 400; font-size: 11px; line-height: 12px; text-transform: uppercase">Круглосуточно</div></td>
                                </tr>
                                <tr><td style="height: 8px;"></td></tr>
                                <tr>
                                    <td><a href="tel:+79060110077" style="display: block; color: #ffffff; font-family: 'Trebuchet MS', Arial; font-size: 20px; font-weight: 700; line-height: 20px; text-decoration: none;">+7 906 011-00-77</a></td>
                                </tr>
                                <tr><td style="height: 15px;"></td></tr>
                                <tr>
                                    <td><div style="color: #ffffff; font-family: 'Trebuchet MS', Arial; font-weight: 400; font-size: 12px; line-height: 16px;">Москва, Тверская застава, 2с2</div></td>
                                </tr>
                                <tr><td style="height: 8px;"></td></tr>
                                <tr>
                                    <td><div style="color: #757575; font-family: 'Trebuchet MS', Arial; font-weight: 400; font-size: 12px; line-height: 16px;">Электр. почта: <a hrfe="mailto:manager@shpi-vi.ru" style="color: #ffffff; font-size: inherit; text-decoration: none;" href="javascript:void(0);">manager@shpi-vi.ru</a></div></td>
                                </tr>
                                <tr><td style="height: 22px;"></td></tr>
                                <tr>
                                    <td>
                                        <table border="0" width="100%" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 112px; height: 28px; table-layout: fixed;">
                                            <tr>
                                                <td style="width: 28px; height: 28px; align-items: center;">
                                                    <a href="javascript:void(0);" style="display: block; text-align: center;" target="_blank">
                                                        <img style="display: block;" src="http://html.design-lab.ru/shpi-vi.ru-html/build/assets/images/letter/instagram.png" alt="">
                                                    </a>
                                                </td>
                                                <td style="width: 28px; height: 28px; align-items: center;">
                                                    <a href="javascript:void(0);" style="display: block; text-align: center;" target="_blank">
                                                        <img style="display: block;" src="http://html.design-lab.ru/shpi-vi.ru-html/build/assets/images/letter/vk.png" alt="">
                                                    </a>
                                                </td>
                                                <td style="width: 28px; height: 28px; align-items: center;">
                                                    <a href="javascript:void(0);" style="display: block; text-align: center;" target="_blank">
                                                        <img style="display: block;" src="http://html.design-lab.ru/shpi-vi.ru-html/build/assets/images/letter/fb.png" alt="">
                                                    </a>
                                                </td>
                                                <td style="width: 28px; height: 28px; align-items: center;">
                                                    <a href="javascript:void(0);" style="display: block; text-align: center;" target="_blank">
                                                        <img style="display: block;" src="http://html.design-lab.ru/shpi-vi.ru-html/build/assets/images/letter/tik-tok.png" alt="">
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="width: 44px;"></td>
        </tr>
        <!-- divider 45px -->
        <tr>
            <td style="width: 44px; height: 22px;"></td>
            <td style="height: 22px;"></td>
            <td style="width: 44px; height: 22px;"></td>
        </tr>
        <!-- footer bottom -->
        <tr>
            <td style="width: 44px;"></td>
            <td>
                <table border="0" width="100%" cellpadding="0" cellspacing="0" style="width: 100%; border-top: 1px solid #4a4a4a;">
                    <!-- divider 16px -->
                    <tr>
                        <td style="height: 16px;"></td>
                    </tr>
                    <tr>
                        <td>
                            <div style="color: #757575; font-family: 'Trebuchet MS', Arial; font-weight: 400; font-size: 10px; line-height: 16px; text-align: center;">Вы&nbsp;получили это сообщение, потому что выразили свое согласие получать новости от&nbsp;&laquo;Шпи-Ви&raquo;.</div>
                            <div style="color: #757575; font-family: 'Trebuchet MS', Arial; font-weight: 400; font-size: 10px; line-height: 16px; text-align: center;">Вы&nbsp;можете <a href="javascript:void(0);" style="color: #757575; text-decoration: underline;">отказаться</a> от&nbsp;получения писем.</div>
                        </td>
                    </tr>
                    <!-- divider 16px -->
                    <tr>
                        <td style="height: 16px;"></td>
                    </tr>
                </table>
            </td>
            <td style="width: 44px;"></td>
        </tr>
    </table>
</center>
</body>
</html>