{% extends 'templates/default.twig' %}

{% block title %}Вопросы о&nbsp;категории &laquo;Вибраторы и&nbsp;вибро-яйца&raquo;{% endblock %}

{% block page %}
    {% include 'templates/pages/faq.twig' %}
{% endblock %}