{% extends 'templates/default.twig' %}
{% set currentPage = 'Избранное' %}

{% block title %}Избранное{% endblock %}

{% block page %}
    {% include 'templates/pages/favourites.twig' %}
{% endblock %}