{% extends 'templates/default.twig' %}
{% set home = true %}
{% set notify = true %}

{% block title %}Главная{% endblock %}

{% block page %}
    {% include 'templates/pages/home.twig' %}
{% endblock %}