{% extends 'templates/default.twig' %}
{% set isAuth = true %}

{% block title %}Вибромассажер GVibe 2{% endblock %}

{% block page %}
    {% include 'templates/pages/product-page.twig' %}
{% endblock %}