{% extends 'templates/default.twig' %}
{% set currentPage = 'Профиль' %}

{% block title %}Сменить пароль{% endblock %}

{% block page %}
    {% include 'templates/pages/profile-password.twig' %}
{% endblock %}