{% extends 'templates/default.twig' %}
{% set currentPage = 'Мои отзывы' %}

{% block title %}Мои отзывы{% endblock %}

{% block page %}
    {% include 'templates/pages/reviews.twig' %}
{% endblock %}