{% extends 'templates/default.twig' %}

{% block title %}Поиск «лубрикант»{% endblock %}

{% block page %}
    {% include 'templates/pages/search-no-result.twig' %}
    {% include 'templates/sections/best-sellers-404.twig' %}
{% endblock %}