{% extends 'templates/default.twig' %}

{% block title %}Результат теста: мужские возбуждающие кремы{% endblock %}

{% block page %}
    {% include 'templates/pages/test-result.twig' %}
{% endblock %}