.select {
	position: relative;
	display: block;
	width: 100%;

	select {
		display: block;
		@include size(100%, 5.6rem);
		padding-left: 1.8rem;
		color: map-get($grey, color_2);
		@include font-size(1.6rem, 1.6rem);
		background: $colorWhite url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L7 5.58579L12.2929 0.292893C12.6834 -0.0976311 13.3166 -0.0976311 13.7071 0.292893C14.0976 0.683417 14.0976 1.31658 13.7071 1.70711L7.70711 7.70711C7.31658 8.09763 6.68342 8.09763 6.29289 7.70711L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893Z' fill='%23757575'/%3E%3C/svg%3E%0A") right 1.8rem center no-repeat;
		background-size: 14px 8px;
		border: .1rem solid map-get($grey, color_5);
		@include radius($radius);
		appearance: none;
	}

	&__label {
		position: absolute;
		top: 2.1rem;
		left: 1.8rem;
		color: map-get($grey, color_2);
		@include font-size(1.6rem, 1.6rem);
		pointer-events: none;
		@include smooth(.2s);
		z-index: 1;
	}
	.jq-selectbox {
		position: relative;
		@include iblock(top);
		width: 100%;
		cursor: pointer;
		@include noselect;
		z-index: 10;

		select {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			@include size(.1rem, .1rem);
			clip: rect(0,0,0,0);
		}

		&.opened {
			.jq-selectbox {
				&__select {
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}
				&__trigger {
					padding-top: .8rem;
						&-arrow {
							transform: translateY(-50%) rotate(-180deg);
						}
				}
			}
		}
		&.changed {
			.select {
				&__label {
					top: .8rem;
					font-size: 1.1rem;
				}
			}
			.jq-selectbox {
				&__select {}
				&__dropdown {}
			}
		}
		&.dropup {
			.jq-selectbox {
				&__select {
					@include radius(0 0 $radius $radius)
				}
				&__dropdown {
					border-bottom: 0;
					border-top: .1rem solid map-get($grey, color_5);
					@include radius($radius $radius 0 0);
				}
			}
		}

		&__select {
			width: 100%;
			height: 5.6rem;
			@include font-size(1.6rem, 1.6rem);
			border: .1rem solid map-get($grey, color_5);
			@include radius($radius);
			overflow: hidden;
				&-text {
					display: block;
					width: 100% !important;
					padding: 2.6rem 5.6rem 0 1.8rem;
					color: map-get($basic, primary);
					line-height: normal;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
						&.placeholder {}
				}
		}
		&__trigger {
			position: absolute;
			top: 0;
			right: 0;
			@include flex(5.6rem);
			height: 5.6rem;
			align-items: center;
			justify-content: center;
			padding-top: .2rem;
			background: transparent;

			&-arrow {
				@include size(14px, 8px);
				background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L7 5.58579L12.2929 0.292893C12.6834 -0.0976311 13.3166 -0.0976311 13.7071 0.292893C14.0976 0.683417 14.0976 1.31658 13.7071 1.70711L7.70711 7.70711C7.31658 8.09763 6.68342 8.09763 6.29289 7.70711L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893Z' fill='%23757575'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
				background-size: 14px 8px;
				@include smooth(.15s);
			}
		}
		&__dropdown {
			position: absolute;
			top: 100%;
			left: 0!important;
			width: 100%;
			padding-top: .8rem;
			padding-bottom: .8rem;
			background-color: $colorWhite;
			border: .1rem solid map-get($grey, color_5);
			border-top: 0;
			@include radius(0 0 $radius $radius);
				ul {
					position: relative;
					width: 100%;
					margin: 0;
					padding: 0;
					max-height: 22rem!important;
					overflow: hidden;
						li {
							position: relative;
							padding: 2rem 1.8rem 1.9rem;
							@include font-size(1.6rem, 1.6rem);
							@include smooth(.2s);
								&::before {
									display: none;
								}
								&:not(:last-of-type) {
									margin-bottom: 0;
									border-bottom: .1rem solid map-get($grey, color_5);
								}

								&.sel,
								&:hover {
								background-color: rgba(map-get($basic, theme), .03);
							}
					}

						&.ps {
							&:hover {
								& > .ps__rail-x,
								& > .ps__rail-y {
									opacity: 1;
								}
							}
							&--focus {
								& > .ps__rail-x,
								& > .ps__rail-y {
									opacity: 1;
								}
							}
							&--scrolling-x,
							&--scrolling-y {
								& > .ps__rail-x,
								& > .ps__rail-y {
									opacity: 1;
								}
							}
							.ps__rail-y {
								right: .8rem!important;
								width: .6rem;
								opacity: 1;
								background-color: transparent;
								border-radius: 1rem;
								z-index: 2;

								&:hover,
								&:focus,
								&.ps--clicking {
									width: .6rem;
									opacity: 1;

									.ps__thumb-y {
										background-color: map-get($grey, color_5);
									}
								}
							}
							.ps__thumb-y {
								right: 0;
								width: .6rem;
								background-color: map-get($grey, color_5);
								border-radius: 1rem;
							}
						}
				}
		}
		&__search {
			display: none;
		}
	}
	.input--error {
		width: 100%;
		margin-top: 1.2rem;
		color: map-get($basic, primary);
		@include font-size(1.2rem, 1.6rem);
	}
	&.input--error {
		.select__label {
			color: map-get($basic, theme);
		}
		.jq-selectbox {
			&__select {
				color: $colorRed;
				border-color: $colorRed;
			}
			&__trigger {
				&-arrow {
					background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L7 5.58579L12.2929 0.292893C12.6834 -0.0976311 13.3166 -0.0976311 13.7071 0.292893C14.0976 0.683417 14.0976 1.31658 13.7071 1.70711L7.70711 7.70711C7.31658 8.09763 6.68342 8.09763 6.29289 7.70711L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893Z' fill='%23de2424'/%3E%3C/svg%3E%0A");
				}
			}
		}

		.input--error {
			display: block;
		}
	}

	&--delivery-city {
		max-width: 32.7rem;
		z-index: 5;
	}
	&--w-50 {
		max-width: 50%;
	}

	@include bp-tabletXS {
		select {
			height: 4.8rem;
			@include font-size(1.5rem, 1.6rem);
		}

		&__label {
			top: 1.6rem;
			left: 1.2rem;
			@include font-size(1.5rem, 1.6rem);
		}
		.jq-selectbox {
			&.changed {
				.select {
					&__label {
						top: .6rem;
					}
				}
			}

			&__select {
				height: 4.8rem;
				font-size: 1.5rem;
					&-text {
						padding: 2.2rem 5.4rem 0 1.2rem;
					}
			}
			&__trigger {
				@include size(5.4rem, 4.8rem);
			}
			&__dropdown {
				ul {
					max-height: 19rem;
					li {
						padding: 1.6rem 1.2rem 1.5rem;
						font-size: 1.5rem;
					}
				}
			}
		}

		&--delivery-city,
		&--w-50 {
			max-width: 100%;
		}
	}
}