.sticky-navigation {
	width: 100%;
	margin-bottom: 3.2rem;
	font-size: 0;
		&-wrapper {
			width: 100%;
			&--desktop-hidden {
				display: none;
			}
			&--toggleable {
				.sticky-navigation {
					white-space: nowrap;
					overflow: hidden;
				}
			}
			&--initialized {
				.sticky-navigation {
					position: relative;
						&::after {
							content: '';
							position: absolute;
							top: 0;
							right: 0;
							display: block;
							@include size(20rem,100%);
							background: linear-gradient(to right, rgba(241,242,246,0) 0%,rgba(241,242,246,1) 46%,rgba(241,242,246,1) 100%);
						}
						&__element {
							&--more {
								position: absolute;
								bottom: 0;
								right: 0;
								display: inline-flex;
								z-index: 2;
							}
						}
				}
			}

			&--expanded {
				.sticky-navigation {
					position: relative;
					padding-bottom: .1rem;
					white-space: initial;
					overflow: auto;
						&::after {
							display: none;
						}
				}
			}
			&--initialized {}

			& + .catalog-content {
				margin-top: 3rem;
			}
		}

		&__element {
			display: inline-flex;
			width: auto;
			align-items: center;
			justify-content: center;
			margin-top: .4rem;
			padding: 1.1rem 1.5rem;
			color: map-get($basic, primary);
			@include font-size(1.6rem, 1.6rem);
			@include align_c;
			background: $colorWhite;
			@include radius($radius);
			border: .1rem solid map-get($grey, color_5);
			vertical-align: top;
			transition: color .2s linear,  border-color .2s linear;
				&:not(:last-child) {
					margin-right: .4rem;
				}

				& span {
					&::first-letter {
						@include upp;
					}
				}
				& .i {
					margin-right: .8rem;
					&._grid {
						@include size(2.2rem, 2.2rem);
						fill: map-get($grey, color_2);
					}
					&._couples {
						@include size(3.4rem, 2.6rem);
						fill: none;
						stroke: map-get($grey, color_2);
					}
					&._male {
						@include size(2.4rem, 2.2rem);
						fill: none;
						stroke: map-get($grey, color_2);
					}
					&._female {
						@include size(2.4rem, 2.2rem);
						fill: none;
						stroke: map-get($grey, color_2);
					}
				}

				&:hover {
					border-color: map-get($basic, theme);
				}
				&._active {
					color: $colorWhite;
					background: $gradient;
					border-color: transparent;
						.i {
							&._grid {
								fill: $colorWhite;
							}
							&._couples,
							&._male,
							&._female {
								stroke: $colorWhite;
							}
						}
						.sticky-navigation__counter {
							color: inherit;
						}
				}

				&--hidden {

				}
				&--more {
					display: none;
					color: map-get($basic, theme);
				}
		}
		&__counter {
			margin-left: .6rem;
			color: map-get($grey, color_2);
			@include font-size(1.35rem, 1);
		}

		&--sticky {
			position: fixed;
			top: 0;
			left: 0;
			height: 6.4rem;
			margin-top: 0;
			padding-left: $gutter;
			padding-right: $gutter;
			background: $colorWhite;
			@include shadow();
			overflow: auto;
			white-space: nowrap;
			@include touch-scroll();
			z-index: 110;
				& .sticky-navigation__element {
					height: 100%;
					margin-top: 0;
					border: 0;
						&._active {
							color: map-get($basic, theme);
							background: $colorWhite;
						}
						&--hidden {
							display: inline-flex;
						}
						&--more {
							display: none;
						}
				}
		}
		&--filter {
			.sticky-navigation__element {
				height: 4.6rem;
				padding-top: .8rem;
				padding-bottom: .8rem;
			}
		}
		&--offset-bottom {
			.sticky-navigation {
				margin-bottom: 4rem;
			}
		}

	@include bp-tabletXS {
		margin-bottom: 2rem;
		&-wrapper {
			&--desktop-hidden {
				display: block;
			}
			&--toggleable {
				position: relative;
				@include outbox();
				&::after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					display: block;
					@include size(multi(5), 100%);
					background: linear-gradient(270deg, map-get($grey, color_0) 0%, rgba(241, 242, 246, 0) 93.42%);
					pointer-events: none;
					z-index: 1;
				}
				.sticky-navigation {
					padding-left: multi(2);
					padding-right: multi(2);
					overflow: auto;
					@include touch-scroll;
						&::after {
							display: none;
						}
						&__element {
							&--hidden {
								display: inline-flex;
							}
							&--more {
								display: none;
							}
						}

						&--sticky {
							position: fixed;
						}
				}
				.sticky-navigation--sticky {
					&__element {
						&--hidden {
							display: inline-flex;
						}
						&--more {
							display: none;
						}
					}
				}
			}
			&--expanded {
				.sticky-navigation {
					white-space: nowrap;
					overflow: auto;
				}
			}

			& + .catalog-content {
				margin-top: 2rem;
			}
		}
		&__element {
			padding: 1rem .8rem;
			font-size: 1.3rem;
				&--hidden {
					display: none;
				}
				&--more {
					display: inline-flex;
				}

				& .i {
					&._grid {
						@include size(1.2rem, 1.2rem);
					}
					&._couples {
						@include size(1.8rem, 1.4rem);
					}
					&._male {
						@include size(1.3rem, 1.3rem);
					}
					&._female {
						@include size(1.3rem, 1.3rem);
					}
				}
		}

		&--sticky {
			.sticky-navigation {
				.sticky-navigation {
					&__element {
						&--hidden {
							display: inline-flex;
						}
						&--more {
							display: none;
						}
					}
				}
			}
		}
		&--filter {
			.sticky-navigation__element {
				height: 3.6rem;
			}
			&.sticky-navigation--sticky {
				.sticky-navigation__element {
					height: 100%;
					&._active {
						.i {
							&._grid {
								fill: map-get($basic, theme);
							}
							&._couples,
							&._male,
							&._female {
								stroke: map-get($basic, theme);
							}
						}
					}
				}
			}
		}
		&--offset-bottom {
			.sticky-navigation {
				margin-bottom: 2.4rem;
			}
		}
	}
}