.modal {
	position: relative;
	width: 100%;
	@include auto;
	padding: 0;
	background: $colorWhite;
	cursor: auto;
	@include radius($radius);
	@include shadow();
	overflow: hidden;
	@include smooth(.2s);

	&--pick-up-spot {
		max-width: 120rem;
	}
	&--product-preview {
		max-width: 130rem;
	}
	&--add-review {
		max-width: 43.5rem;
			.modal {
				&__close {
					.i {
						stroke: map-get($basic, theme);
					}
				}
				&__header {
					padding: multi(8) multi(8) 2.2rem;
				}
			}
	}

	&-close {
		position: absolute;
		top: 0;
		right: -8rem;
		@include flex(6.4rem);
		height: 6.4rem;
		align-items: center;
		justify-content: center;
		background: $colorWhite;
		@include round;
		z-index: 2;
			.i {
				@include size(2.4rem, 2.4rem);
				fill: map-get($basic, theme);
				pointer-events: none;
			}
	}
	&__close {
		position: absolute;
		top: 1.6rem;
		right: 1.6rem;
		@include size(5.6rem, 5.6rem);
		padding: 0!important;
		@include align_c;
		opacity: 1;
		border: 0;
		z-index: 1;

		&:active {
			top: 1.6rem!important;
		}
		.i {
			position: relative;
			@include size(1.6rem, 1.6rem);
			@include auto;
			pointer-events: none;
			z-index: -1;
		}
	}
	&__inside {
		width: 100%;
	}
	&__header {
		width: 100%;
		padding: 4.4rem 5.3rem 3.6rem;
	}
	&__headline {
		margin: 0;
	}
	&__body {
		width: 100%;
	}

	@include bp-tablet {
		&-close {
			right: 0;
			@include size(3.2rem, 3.2rem);
				.i {
					@include size(1.6rem, 1.6rem);
				}
		}

		&--pick-up-spot {
			max-width: calc(100% - 3rem);
		}
	}
	@include bp-mobile {
		display: flex;
		max-width: 100%;
		height: 100%;
		max-height: 100%;
		overflow: hidden;
		align-items: center;
		@include radius(0);
			&--pick-up-spot {
				max-width: 100%;
					.modal {
						&__inside {
							padding: 0;
						}
						&__header {
							padding: 1.6rem;
						}
					}
			}
			&--add-review {
				max-width: 100%;
					.modal {
						&__header {
							padding: multi(4) multi(2) multi(3);
						}
						&__inside {
							padding: 0;
						}
					}
			}

			&__inside {
				max-height: 100%;
				padding: 2rem 2rem 4rem;
				overflow: auto;
			}
			&__close {
				top: 0;
				right: 0;
					&:active {
						top: 0!important;
					}
			}
			&__headline {
				@include font-size(2.4rem, 3.2rem);
			}

			& > div:not(.modal__inside) {
				display: flex;
				height: 100%;
				align-items: center;
			}
	}
}

.mfp {
	&-wrap {
		max-height: 100%;
		overflow: auto;
	}
	&-container,
	&-content {
		cursor: pointer!important;
	}
	&-container {
		padding: 0!important;
	}
	&-bg {
		background-color: $colorBlack;
		opacity: .5;
	}
	&-title {
		font-size: 1.6rem;
	}
	&-counter {
		display: none;
	}
	&-img {
		padding-top: 0!important;
		padding-bottom: 0!important;
	}
	&-image-holder {
		.mfp-content {
			height: auto;
		}
	}
	&-iframe-holder {
		.mfp-content {
			max-width: 128rem;
			height: auto;
		}
	}

	@include bp-desktop {
		&-iframe-holder {
			.mfp-content {
				max-width: 120rem;
			}
		}
	}
	@include bp-desktopXS {
		&-iframe-holder {
			.mfp-content {
				max-width: 100rem;
			}
		}
	}
	@include bp-tablet {
		&-image-holder,
		&-iframe-holder {
			.mfp-content {
				padding-top: 4.2rem;
				padding-bottom: 4.2rem;
			}
		}
	}
	@include bp-mobile{
		&-content {
			height: 100%;
			overflow: hidden;
		}
	}
	@include bp-mobileXS{
		&-title {
			padding-left: $gutter;
			padding-right: $gutter;
		}
	}
}
.mfp-zoom-in {
	.mfp-with-anim {
		opacity: 0;
		transition: all 0.2s ease-in-out;
		transform: scale(0.8);
	}

	&.mfp-bg {
		opacity: 0;
		transition: all 0.3s ease-out;
	}
	&.mfp-ready {
		.mfp-with-anim {
			opacity: 1;
			transform: scale(1);
		}
		&.mfp-bg {
			opacity: 0.6;
		}
	}
	&.mfp-removing {

		.mfp-with-anim {
			transform: scale(0.8);
			opacity: 0;
		}
		&.mfp-bg {
			opacity: 0;
		}

	}

}
.mfp-zoom-out {
	.mfp-with-anim {
		opacity: 0;
		transition: all 0.3s ease-in-out;
		transform: scale(1.3);
	}
	&.mfp-bg {
		opacity: 0;
		transition: all 0.3s ease-out;
	}
	&.mfp-ready {
		.mfp-with-anim {
			opacity: 1;
			transform: scale(1);
		}
		&.mfp-bg {
			opacity: 0.6;
		}
	}
	&.mfp-removing {

		.mfp-with-anim {
			transform: scale(1.3);
			opacity: 0;
		}
		&.mfp-bg {
			opacity: 0;
		}

	}

	@include bp-tabletXS {
		&-cur {
			overflow: hidden;
		}
	}
}
.mfp-move-horizontal {
	.mfp-with-anim {
		opacity: 0;
		transition: all 0.3s;

		transform: translateX(-50px);
	}

	&.mfp-bg {
		opacity: 0;
		transition: all 0.3s;
	}
	&.mfp-ready {
		.mfp-with-anim {
			opacity: 1;
			transform: translateX(0);
		}
		&.mfp-bg {
			opacity: 0.6;
		}
	}
	&.mfp-removing {

		.mfp-with-anim {
			transform: translateX(50px);
			opacity: 0;
		}
		&.mfp-bg {
			opacity: 0;
		}

	}

}

button.mfp-arrow {
	position: absolute;
	top: 50%;
	@include flex(6.4rem);
	height: 6.4rem;
	align-items: center;
	justify-content: center;
	margin-top: 0;
	background: $colorWhite;
	@include round;
	opacity: 1;
	transform: translateY(-50%);
		&::before,
		&::after {
			display: none;
		}
		&:active {
			margin-top: 0;
		}

		.i {
			@include size(2.5rem, 2rem);
			fill: map-get($basic, primary);
			pointer-events: none;
		}

		&-right {
			right: $gutter;
		}
		&-left {
			left: $gutter;
			.i {
				transform: rotate(-180deg);
			}
		}

	@include bp-tabletXS {

		@include size(3.2rem, 3.2rem);

			.i {
				@include size(1.5rem, 1.3rem);
			}
	}
}